﻿@{
    ViewBag.Title = "BuffetWeb | Contato";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/Home">Inicio</a></li>
                    <li class="active">Contato</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- banner start -->
<!-- ================ -->
<div class="banner">
    <!-- google maps start -->
    <!-- <div id="map-canvas"></div> -->
    <!-- google maps end -->
</div>
<!-- banner end -->
<!-- page-intro start-->
<!-- ================ -->
<!-- <div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Contato</li>
                </ol>
            </div>
        </div>
    </div>
</div> -->
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <div class="col-md-6">
                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Contato</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p> -->
                    @if (ViewBag.mensagem != null)
                    {
                        if (ViewBag.mensagem == true)
                        {
                            <div class="alert alert-success" id="contactSuccess">
                                <strong>Successo!</strong> Sua mensagem foi enviada com sucesso!
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-error" id="contactError">
                                <strong>Erro!</strong> Houve um erro ao enviar a sua mensagem.
                            </div>
                        }
                    }

                    <div class="contact-form">
                        <form action="/Home/Mensagem" role="form">
                            <div class="form-group has-feedback">
                                <label for="name">Nome*</label>
                                <input type="text" class="form-control" id="name" name="nome" placeholder="Entre com seu nome" required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">E-Mail*</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Entre com seu e-mail" required>
                                <i class="fa fa-envelope form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email">Telefone*</label>
                                <input type="text" maxlength="15" class="form-control" id="tel" name="telefone" placeholder="Entre com seu Telefone" required>
                                <i class="fa fa-tty form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="subject">Assunto*</label>
                                <input type="text" class="form-control" id="subject" value="@string.Format("{0}", ViewBag.assunto!=null?ViewBag.assunto:"")" name="assunto" placeholder="" required>
                                <i class="fa fa-navicon form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="message">Mensagem*</label>
                                <textarea class="form-control" rows="6" id="message" name="mensagem" placeholder="" required></textarea>
                                <i class="fa fa-pencil form-control-feedback"></i>
                            </div>
                            <input type="submit" value="Enviar" class="btn btn-default">
                        </form>
                    </div>

                </div>
              
                <div class="col-sm-8 col-md-6 col-md-push-1" style=" margin-top: 140px;">
                    <img src="~/Content/images/ContatoBuffetWeb.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">

                </div>
                
            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- <aside class="col-md-4">
                <div class="sidebar">
                    <div class="side vertical-divider-left">
                        <h3 class="title">BuffetWeb</h3>
                        <ul class="list">
                            <li><strong></strong></li> -->
            <!-- <li><i class="fa fa-home pr-10"></i>795 Folsom Ave, Suite 600<br><span class="pl-20">San Francisco, CA 94107</span></li>
            <li><i class="fa fa-phone pr-10"></i><abbr title="Phone">P:</abbr> (123) 456-7890</li>
            <li><i class="fa fa-mobile pr-10 pl-5"></i><abbr title="Phone">M:</abbr> (123) 456-7890</li> -->
            <!-- <li><i class="fa fa-envelope pr-10"></i><a href="mailto:contato@buffetweb.com">contato@buffetweb.com</a></li>
                        </ul>
                        <ul class="social-links colored circle large">
                            <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </aside> -->
            <!-- sidebar end -->

        </div>
    </div>
</section>
<!-- main-container end -->
