﻿
@{
    ViewBag.Title = "BuffetWeb | Convite On-Line";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Convite On-Line</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<div class="row" style=" margin-bottom: 0px; ">
    <div class="col-sm-12 col-md-4 col-md-push-4">
        <img src="~/Content/images/section-image-convite2.jpg" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="container">
        <h1 class="text-center title">Convite On-Line</h1>
        <div class="separator"></div>
        <div class="row grid-space-10">
            <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <div class="icon-container default-bg">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <div class="body">
                        <!-- <h2>Clean Design and Code</h2> -->
                        <p>Um convite on-line personalizado, confirmação de presença e troca de mensagens entre o contratante do evento e todos os convidados são alguns dos diferenciais dessa ferramenta, tornando a marca do seu buffet visível por muito mais tempo e tudo isso de forma muito simples.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                    <div class="icon-container default-bg">
                        <i class="fa fa-at"></i>
                    </div>
                    <div class="body">
                        <!-- <h2>Very Flexible</h2> -->
                        <p>Outra vantagem dessa ferramenta é a coleta dos endereços de e-mails e números de celulares de todos os convidados do evento. Com uma lista de potenciais clientes em mãos a realização de uma futura ação de e-mail marketing, trará resultados positivos para seu buffet.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row grid-space-10">	 -->
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
                        <div class="icon-container default-bg">
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                        <div class="body">
                            <!-- <h2>Packed Full of Features</h2> -->
                            <p>Outros Diferenciais são os envios de lembretes, alguns meses antes e no dia em que foi realizado o evento parabenizando o aniversariante, noivos, etc. Essa ferramenta é muito importante para manter o relacionamento entre o cliente e o buffet. </p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="800">
                        <div class="icon-container default-bg">
                            <i class="fa fa-qrcode"></i>
                        </div>
                        <div class="body">
                            <!-- <h2>100% Responsive</h2> -->
                            <p>O Convite on-line conta também com um sistema de Qr-code, facilitando a confirmação da presença do convidado no dia do evento. E possui uma Pesquisa de Satisfação, enviando após o término, para o contratante do evento e todos os convidados que compareceram. E o resultado da pesquisa é armazenado no sistema de administração do buffet e fica disponível com gráficos para consultas posteriores.</p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- page-top start -->
    <!-- ================ -->
    <div class="page-top parallax dark-translucent-bg parallax-bg-3">
        <div class="container">
            <div class="call-to-action">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="title text-center">Riqueza de Detalhes ...</h1>
                        <p class="text-center">Adiquira o Sistema mais Completo do Mercado e com Muita Riqueza de Detalhes <br>que só o BuffetWeb Oferece.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-top end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title">Ofereça algo diferente, inove e saia na frente!</h1>
                    <div class="separator"></div>
                    <div class="col-md-6">
                        <img src="~/Content/images/inove2.png" alt="">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Tenha em uma única ferramenta o cadastro de todas as pessoas que de alguma forma tiveram contato com seu buffet, sendo elas as pessoas que contrataram ou convidados, separadas por grupos e envie campanhas de e-mail marketing com apenas um click.</p>
                            <p>Além da ferramenta de envio de convites online, os convidados podem confirmar presença e trocar mensagens com a pessoa que contratou o evento, obtendo interação e maior controle da lista de convidados.</p>
                            <p>Traga o evento também para o ambiente virtual, fazendo com que o usuário vivencie experiências com a marca de seu buffet por muito tempo. </p>
                            <!-- <a href="page-about.html" class="btn btn-white">Learn More</a> -->
                            <div class="space hidden-md hidden-lg"></div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
