﻿
@{
    ViewBag.Title = "BuffetWeb | E.R.P.";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">E.R.P</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<div class="row" style=" margin-bottom: 20px; ">
    <div class="col-sm-12 col-md-4 col-md-push-4">
        <img src="~/Content/images/section-image-erp.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="container">
        <h1 class="text-center title">E.R.P - Enterprise Resource Planning</h1>
        <div class="separator"></div>
        <div class="row grid-space-10">
            <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <div class="icon-container default-bg">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="body">
                        <h2>Controle de Estoque On-Line</h2>
                        <p>Esqueça a planilha de controle de estoque e abra espaço para um gestão de estoque totalmente online, integrada e sem dor de cabeça. Garanta o abastecimento de mercadorias em seu estoque com o BuffetWeb.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                    <div class="icon-container default-bg">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="body">
                        <h2>Compras</h2>
                        <p>Alimente automaticamente seu estoque a cada compra. Tenha controle das solicitações de compras, desde a sua cotação, com sugestão e seleção de fornecedores, até a confirmação do pedido e recebimento da mercadoria.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>

            <div class="row grid-space-10">
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
                        <div class="icon-container default-bg">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="body">
                            <h2>Fluxo de Caixa</h2>
                            <p>Utilize o fluxo de caixa em tempo real para analisar as projeções financeiras de sua empresa. Evite quebras de caixa e saiba como administrar melhor a sua empresa com o programa financeiro do BuffetWeb.</p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="800">
                        <div class="icon-container default-bg">
                            <i class="fa fa-upload"></i>
                        </div>
                        <div class="body">
                            <h2>Conciliação Bancária</h2>
                            <p>Economize até 20h por mês com lançamentos. Importando todo o seu extrato bancário em OFX para dentro do BuffetWeb e em minutos, a sua empresa terá um novo método de gestão financeira. </p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row grid-space-10">
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
                        <div class="icon-container default-bg">
                            <i class="fa fa-barcode"></i>
                        </div>
                        <div class="body">
                            <h2>Contas à Pagar</h2>
                            <p>Com o gerenciador financeiro do BuffetWeb você pode organizar suas contas a pagar por data, categoria e até mesmo o centro de custo. Visualize facilmente as suas contas a pagar e seja avisado sempre que uma data de vencimento estiver próxima.</p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="800">
                        <div class="icon-container default-bg">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="body">
                            <h2>Contas à Receber</h2>
                            <p>Com o gerenciador financeiro On-Line do BuffetWeb você mantém suas contas a receber organizadas e diminui a inadimplência de sua empresa. Você pode organizar suas contas a receber por data, categoria, cliente e centro de custo.</p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- section end -->
    <!-- page-top start -->
    <!-- ================ -->
    <div class="page-top parallax dark-translucent-bg parallax-bg-3">
        <div class="container">
            <div class="call-to-action">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="title text-center">Um Sistema Completo e Seguro</h1>
                        <p class="text-center">Com alto poder de processamento e armazenamento a um baixo custo de implantação</p>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-top end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Viabilidade por Empresas de Qualquer Porte</h2>
                    <div class="separator-2"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>E.R.P. (Enterprise Resource Planning) é uma arquitetura de software que facilita o fluxo de informações entre todas as atividades da empresa. Um sistema amplo que se utiliza de um banco de dados relacional único e que oferece um conjunto de módulos (estoque, compras, fluxo de caixa, controle bancário, contas a pagar, contas a receber e muitos outros) completamente integrados para propiciar consistência e visibilidade ao processo da organização.</p>
                            <p>Os sistemas contam com simplicidade de operação e administração, e seu alto poder de processamento e armazenamento a um baixo custo de implantação, o que  viabiliza sua aquisição por empresas de qualquer porte.</p>
                            <!-- <p>Traga o evento também para o ambiente virtual, fazendo com que o usuário vivencie experiências com a marca de seu buffet por muito tempo. </p> -->
                            <!-- <a href="page-about.html" class="btn btn-white">Learn More</a> -->
                            <div class="space hidden-md hidden-lg"></div>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/images/section-image-erp3.png" alt="">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
