﻿
@{
    ViewBag.Title = "BuffetWeb | Galeria de Imagens";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Galeria de Imagens</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">Galeria de Imagens</h1>
                <div class="separator-2"></div>
                <!-- <div class="separator-2"></div> -->
                <p class="lead">Integre Nosso Módulo de Galeria de Imagens Com Seu Site. <br class="hidden-sm hidden-xs"> E Obtenha Ótimos Resultados.</p>
                <!-- page-title end -->
                <!-- isotope filters start -->
                <div class="filters">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" data-filter="*">Todas</a></li>
                        <li><a href="#" data-filter=".Espaço">Espaço</a></li>
                        <li><a href="#" data-filter=".Casamentos">Casamentos</a></li>
                        <li><a href="#" data-filter=".Festas_Infantis">Festas Infantís</a></li>
                    </ul>
                </div>
                <!-- isotope filters end -->

            </div>
            <!-- main end -->
        </div>
    </div>

    <!-- section start -->
    <!-- ================ -->
    <div class="gray-bg section">
        <div class="container">
            <!-- portfolio items start -->
            <div class="isotope-container row grid-space-10">
                <div class="col-sm-6 col-md-3 isotope-item Espaço">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-espaco-1.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioEspaco1" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Espaço</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioEspaco1">Espaço Interlagos</a></h3>
                        <p>550m² de Muito Bom Gosto e Praticidade ...</p>
                        <a href="/GaleriaImagens/PortfolioEspaco1" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Casamentos">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-casamento-1.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioCasamento1" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Casamentos</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioCasamento1">Marcos & Rafaella</a></h3>
                        <p>Deixamos aqui nosso imenso agradecimento ...</p>
                        <a href="/GaleriaImagens/PortfolioCasamento1" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Espaço">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-espaco-2.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioEspaco2" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Espaço</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioEspaco2">Espaço Moema</a></h3>
                        <p>700m² com Muito Requinte e Conforto ...</p>
                        <a href="/GaleriaImagens/PortfolioEspaco2" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Festas_Infantis">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-festa-1.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioFesta1" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Festas Infantis</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioFesta1">Thiago - 1 ano</a></h3>
                        <p>Primeiro aninho do Thiago com o tema do Mickey.</p>
                        <a href="/GaleriaImagens/PortfolioFesta1" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Casamentos">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-casamento-2.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioCasamento2" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Casamentos</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioCasamento2">Samuel & Andréa</a></h3>
                        <p>Queremos agradecer por todo o serviço que nos ...</p>
                        <a href="/GaleriaImagens/PortfolioCasamento2" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Espaço">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-espaco-3.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioEspaco3" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Espaço</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioEspaco3">Espaço Vila Olimpia</a></h3>
                        <p>1.000m² Reunindo Sofisticação e Contemporaneidade ...</p>
                        <a href="/GaleriaImagens/PortfolioEspaco3" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Festas_Infantis">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-festa-2.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioFesta2" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Festas Infantis</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioFesta2">Ashley - 7 meses</a></h3>
                        <p>7 Meses de Ashley com o tema de Bailarina.</p>
                        <a href="/GaleriaImagens/PortfolioFesta2" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 isotope-item Espaço">
                    <div class="box-style-1 white-bg">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-espaco-4.jpg" alt="">
                            <a href="/GaleriaImagens/PortfolioEspaco4" class="overlay small">
                                <i class="fa fa-plus"></i>
                                <span>Espaço</span>
                            </a>
                        </div>
                        <h3><a href="/GaleriaImagens/PortfolioEspaco4">Espaço Pinheiros</a></h3>
                        <p>1.500m² de Elegância e Sofisticação ...</p>
                        <a href="/GaleriaImagens/PortfolioEspaco4" class="btn btn-default">Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- portfolio items end -->
        </div>
    </div>
    <!-- section end -->
</section>
<!-- main-container end -->
