﻿@{
    ViewBag.Title = "BuffetWeb | Implantação";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Implantação</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<div class="row" style=" margin-bottom: 0px; ">
    <div class="col-sm-12 col-md-4 col-md-push-4">
        <img src="~/Content/images/BuffetWeb_Cloud.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="container">
        <h1 class="text-center title">Implantação do BuffetWeb </h1>
        <p class="lead text-center">com um Sistema ERP na modalidade SaaS</p>
        <div class="separator"></div>
        <div class="row grid-space-10">
            <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <div class="icon-container default-bg">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="body">
                        <!-- <h2>Inovação</h2> -->
                        <p>Em um mercado altamente competitivo as pequenas empresas precisam encontrar alternativas para organizar os seus negócios de maneira prática e eficiente, porém sem contar com os altos investimentos de implantação de sistemas de gestão empresarial (ERP) e infraestrutura de TI.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>

            <div class="row grid-space-10">
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
                        <div class="icon-container default-bg">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="body">
                            <!-- <h2>Customizações</h2> -->
                            <p>Neste cenário, a melhor alternativa é a utilização de um sistema de gestão no modelo SaaS (Software as a Service). Nesta modalidade de contratação as pequenas empresas têm acesso a um sistema ERP completo, porém contratado como um serviço, dispensando os custos de compra de licença de uso de sistema e hardware.</p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                            <br><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- page-top start -->
    <!-- ================ -->
    <div class="page-top parallax dark-translucent-bg parallax-bg-3">
        <div class="container">
            <div class="call-to-action">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="title text-center">Sistema On-Line com Certificado de Segurança SSL</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-top end -->
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- sidebar start -->
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Envie sua pergunta</h3>
                            <div class="separator"></div>

                            @if (ViewBag.mensagem != null)
                            {
                                if (ViewBag.mensagem == true)
                                {
                                    <div class="alert alert-success" id="contactSuccess">
                                        <strong>Successo!</strong> Sua mensagem foi enviada com sucesso!
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger" id="contactError">
                                        <strong>Erro!</strong> Houve um erro ao enviar a sua mensagem.
                                    </div>
                                }
                            }


                            <form role="form" action="/Home/FormImplanta">
                                <div class="form-group has-feedback">
                                    <label for="name3">Seu Nome</label>
                                    <input type="text" class="form-control" id="name3" name="nome" placeholder="Entre com seu nome" required>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="email3">Seu E-Mail</label>
                                    <input type="email" class="form-control" id="email3" name="email" placeholder="Entre com seu e-mail" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="tel">Seu Telefone</label>
                                    <input type="text" maxlength="15" class="form-control" id="tel" name="telefone" placeholder="Entre com seu Telefone" required>
                                    <i class="fa fa-tty form-control-feedback"></i>
                                </div>
                                <div class="form-group">
                                    <label>Assunto</label>
                                    <select class="form-control" name="assunto">
                                        <option value="Supporte">Suporte Técnico</option>
                                        <option value="Demonstração">Agendar Demonstração</option>
                                        <option value="Sujestão">Sujestão</option>
                                        <option value="Relato">Relato</option>
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="message3">Mensagem</label>
                                    <textarea class="form-control" rows="4" id="message3" name="mensagem" placeholder="" required></textarea>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <input type="submit" value="Enviar" class="btn btn-default btn-block">
                            </form>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->
                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-9">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Dúvidas Sobre ERP/SAAS</h1>
                    <p>Separamos por tipo de serviço as dúvidas mais frequentes entre nossos clientes. Caso sua dúvida não esteja listada abaixo, por favor entre em contato conosco.</p>
                    <!-- page-title end -->
                    <!-- tabs start -->
                    <div class="tabs-style-2">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa  fa-life-saver pr-10"></i>SAAS</a></li>
                            <li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>E.R.P.</a></li>
                            <!-- <li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>Popular Topics</a></li> -->
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <!-- accordion start -->
                                <div class="panel-group" id="accordion-faq">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> O que significa SAAS?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                É uma sigla em inglês (Software As A Service) que significa “Software como um Serviço”. Trata-se de uma modalidade de fornecimento de sistemas baseado na taxação sobre o uso do mesmo, contrário aos modelos tradicionais de venda da licença de uso.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> CLOUD COMPUTING(Computação na nuvem) é o mesmo que SAAS?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Não. “Computação na Nuvem” é um novo conceito ou modo de fornecimento do modelo SAAS através de um agente que concentra vários tipos de aplicação de vários fornecedores, sem que o cliente conheça necessariamente o fornecedor da aplicação.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Quais as VANTAGENS do modelo SAAS em relação aos modelos tradicionais de venda de ERP?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Um ERP, por ser um sistema complexo, exige um alto investimento da empresa nos sistemas tradicionais de licenciamento, além do fato de que os contratos são, do ponto de vista financeiro, irreversíveis. Uma vez contratado, a empresa terá que arcar com os custos do projeto mesmo que o mesmo se mostre ineficaz. Já no modelo SAAS, os investimentos se restringem aos custos de implantação que são muito menores, reduzido assim os riscos da aquisição do ERP, diluindo o investimento a longo prazo.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Quais os REQUISITOS internos para contratação do SAAS?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                No modelo SAAS tanto a aplicação quanto os dados ficam hospedados com toda segurança em Datacenter de renome. Portanto, neste modelo a empresa não necessita de nenhum recurso de servidores e sua respectiva infraestrutura para operar o sistema. Basta apenas que as estações tenham acesso à internet.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Que SEGURANÇA é oferecido sobre os dados da empresa?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Um Datacenter é um local especialmente construído para “hospedar” sistemas de terceiros e portanto, possuem normas extremamente rígidas de controle de acesso, monitoramento contra invasões de hackers, backup e cópias de segurança automatizadas além de contingência contra panes de servidores e falta de energia elétrica.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Em caso de queda da INTERNET o que fazer?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                No modelo SAAS, devido sua total dependência do uso da internet, assim como o sistema de emissão de Nota Fiscal Eletrônica, é recomendado que a empresa possua algum mecanismo de contingência de link, baseado em tecnologia de rádio, 3G ou similares, além da via a cabo.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- accordion end -->
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <!-- accordion start -->
                                <div class="panel-group" id="accordion-faq-2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseOne-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Qual o SIGNIFICADO da sigla E.R.P.?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                É uma sigla em inglês (Enterprise Resource Planning) que significa “Gestão dos Recursos Empresariais”, dedicada aos softwares que controlam todas as operações de uma empresa que agregam valor ou riqueza ao negócio
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTwo-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Todo SISTEMA de controle de empresa podemos chamar de ERP?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Definitivamente NÃO. Um ERP além de estender sua atuação por todos os setores da empresa, ele ainda possui características específicas como a integração total entre os módulos, obrigando que a fonte de informação seja única e se propague para todas as áreas pertinentes, deve possuir regras de validação e consistência dos dados e principalmente incorporar os conceitos e princípios universais das boas práticas de gestão, quesitos estes que não se encontram em sistemas administrativo-financeiros comuns.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseThree-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Qual a DIFERENÇA entre os diversos ERP’s do mercado?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Os ERPs se distinguem pela sua capacidade de se adaptarem aos diversos segmentos de negócio, principalmente em setores fabris e comerciais onde há ampla diversidade de regras de negócio. Diferenciam-se também pelos requisitos técnicos e pelo maior ou menor grau de facilidade tanto na implantação quanto na sua operação.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFour-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Quais as VANTAGENS entre um ERP WEB em relação a um ERP convencional?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Um ERP desenvolvido 100% usando tecnologia WEB permite a utilização ilimitada do uso da internet para sua operação, integração entre empresa, cliente e fornecedores, comércio eletrônico, além de viabilizar sua instalação usando infraestrutura de Data Center. Os sistemas convencionais denominados “client-servers” do ponto de vista técnico utilizam tecnologia obsoleta e cara para poderem viabilizar o uso da internet.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFive-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> O que significa o termo “NÍVEL DE ADERÊNCIA” de um ERP para uma empresa?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                O nível de aderência de um ERP é o grau de compatibilidade que o sistema possui para atender ao modelo de negócio da empresa, seja ela uma indústria química, uma loja de departamento, um distribuidor, etc. Não existe ERP “genérico” assim como não existe um remédio que cure qualquer doença.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseSix-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> O que é importante observar na ESCOLHA do ERP ideal para empresa?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Podemos apontar os principais fatores a serem observados na escolha como: compatibilidade com o negócio da empresa; referências das empresas que utilizam o ERP; custo e tempo de implantação; tecnologia empregada e requisitos técnicos para “rodar” o sistema e por fim o suporte e manutenção pós-implantação.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseSeven-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Que ESTRUTURA de pessoal interno é necessária para operar um ERP?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                De modo geral o ERP pressupõe que haja interação com o sistema em todas as etapas dos processos da empresa. O ideal é que o registro da informação seja feita no momento que o fato ocorre. Porém a quantidade de pessoas necessárias para esta finalidade depende muito do volume de informações e da capacidade dos usuários executarem mais de uma operação.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseEight-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Quanto tempo é necessário para IMPLANTAÇÃO de um ERP?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEight-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Um processo de implantação dura em média 90 dias para que o sistema possa entrar em operação de forma efetiva, desde que seja respeitado o cronograma de treinamento e a disponibilização do pessoal por parte da empresa.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseNine-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Qual a importância do SUPORTE e TREINAMENTO aos usuários de um ERP?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseNine-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Um ERP se distingue de outras aplicações de software pela sua dinâmica e constante evolução. Isso se deve principalmente porque as empresas e suas atividades também são dinâmicas. Situações como mudanças tributárias, condições comerciais de mercado, mudanças no quadro de pessoal por si só já criam situações que somente com o serviço de uma boa equipe de suporte e treinamento do fornecedor do ERP podem diminuir e eliminar as interferências negativas ao bom andamento da empresa.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTen-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Como atender as exigências FISCAIS (NFe, SPED, etc.)?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTen-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Com o advento da emissão e apuração eletrônica dos documentos fiscais, tornou-se indispensável à utilização de ERP para esta finalidade, dado que é impossível atender a legislação atual utilizando serviços contábeis de terceiros. Para tanto, o ERP deve conter em sua base de informação todos os quesitos e regras fiscais para que o usuário, independente do seu conhecimento fiscal, possa gerar os documentos sem erros que possam penalizar a empresa.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseEleven-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Como atender as exigências LEGAIS (ANVISA, SIF, POL. FEDERAL, etc.)?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEleven-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Um ERP deve atender as normas estabelecidas pelos órgãos reguladores do segmento que a empresa atua. Para isso é imprescindível que o sistema contenha os mecanismos de controle, formulários, registros e relatórios que atendam aos requisitos da legislação. Este é um dos fatores que definem a “aderências” de um ERP ao negócio.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapsetwelve-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Como atender as exigências de QUALIDADE (ISO, BPF, etc.)?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsetwelve-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Para que um ERP esteja em conformidade com as normas de qualidade é importante que o mesmo já tenha passado por processos de homologação junto a instituições certificadoras de ISO ou BPF. Isso vai garantir que o sistema possui todos os módulos necessários para que a empresa possa atender as normas de qualidade.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapsethirteen-2" class="collapsed">
                                                    <i class="fa fa-question-circle pr-10"></i> Como saber se a empresa gera LUCRO ou PREJUÍZO na operação?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsethirteen-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Antes de mais nada é necessário que o ERP incorpore pelo menos uma das metodologias de apuração de resultado como os sistemas de “custeio direto” ou “custeio por absorção” e possua módulos para gestão orçamentária e/ou contábil. Desta forma será possível apurar em “tempo real” todos os indicadores econômicos e financeiros da empresa, tendo em vista que todos os dados já estão sendo obtidos de forma automática pelo registro das informações.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- accordion end -->
                            </div>

                        </div>
                    </div>
                    <!-- tabs end -->
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
