﻿@{
    ViewBag.Title = "Home Page";
}

<!-- banner start -->
<!-- ================ -->
<div class="banner">

    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">

        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner">
                <ul>
                    <!-- slide 1 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 template">

                        <!-- main image -->
                        <img src="~/Content/images/slider-1-slide-1.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption default_bg large sfr tp-resizeme"
                             data-x="0"
                             data-y="70"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">
                            E.R.P - Enterprise Resource Planning
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            Controle de Estoque On-Line
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            Fluxo de Caixa
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            Conciliação Bancária
                        </div>

                        LAYER NR. 8
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        LAYER NR. 9
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            Contas à Pagar e Receber
                        </div>

                        <!-- LAYER NR. 10 -->
                        <!-- <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                            data-x="0"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600">Saiba mais ...
                        </div> -->
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                             data-x="0"
                             data-y="370"
                             data-speed="600"
                             data-start="2400"
                             data-end="9400"
                             data-endspeed="600">
                            Saiba Mais como Gerenciar o seu Buffet On-Line
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr tp-resizeme"
                             data-x="right"
                             data-y="center"
                             data-speed="600"
                             data-start="2700"
                             data-end="9400"
                             data-endspeed="600">
                            <img src="~/Content/images/slider-1-layer-1.png" alt="">
                        </div>

                    </li>
                    <!-- slide 1 end -->
                    <!-- slide 2 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">

                        <!-- main image -->
                        <img src="~/Content/images/slider-1-slide-2.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption white_bg large sfr tp-resizeme"
                             data-x="0"
                             data-y="70"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">
                            Orçamento On-Line
                        </div>



                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            O Cliente Monta o seu Evento
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            Agenda uma Visita
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            Contrata e Efetua o Pagamento
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            Em um Ambiente Totalmente On-Line
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption default_bg sfb medium tp-resizeme"
                             data-x="0"
                             data-y="370"
                             data-speed="600"
                             data-start="2400"
                             data-end="9400"
                             data-endspeed="600">
                            Saiba mais ...
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr tp-resizeme"
                             data-x="right"
                             data-y="center"
                             data-speed="600"
                             data-start="2700"
                             data-end="9400"
                             data-endspeed="600">
                            <img src="~/Content/images/slider-1-layer-2.png" alt="">
                        </div>

                    </li>
                    <!-- slide 2 end -->
                    <!-- slide 3 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">

                        <!-- main image -->
                        <img src="~/Content/images/slider-1-slide-3.jpg" alt="kenburns" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption white_bg large sfr tp-resizeme"
                             data-x="0"
                             data-y="70"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">
                            Integração com o Seu Site
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            Orçamento On-Line
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            Convite On-Line
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            Galeria de Imagens
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            E Muito Mais...
                        </div>

                        <!-- LAYER NR. 10
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                            data-x="0"
                            data-y="370"
                            data-speed="600"
                            data-start="2400"
                            data-end="9400"
                            data-endspeed="600">E Muito Mais...
                        </div> -->
                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr"
                             data-x="right" data-hoffset="-660"
                             data-y="center"
                             data-speed="600"
                             data-start="2700"
                             data-endspeed="600"
                             data-autoplay="false"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true">
                            <div class="embed-responsive embed-responsive-16by9">
                                <!-- <iframe class="embed-responsive-item" src='https://www.youtube.com/embed/v1uyQZNg2vE?enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0;' width='640' height='360' style='width:640px;height:360px;'></iframe> -->
                                <!-- vídeo -->
                            </div>
                        </div>

                    </li>
                    <!-- slide 3 end -->

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

</div>
<!-- banner end -->
<!-- page-top start-->
<!-- ================ -->
<!-- <div class="page-top"> -->
<section class="main-container gray-bg">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="call-to-action">
                        <h1 class="title">Agende uma Demonstração</h1>
                        <p>Mais que Desenvolver Softwares, Desenvolvemos Soluções Para Que o Nosso Cliente Possa Oferecer a  Melhor Experiência On-Line Para o Seu Público. </p>
                        <!-- <a class="btn btn-white more" data-toggle="modal" data-target="#myModal">
                        Read more <i class="pl-10 fa fa-info"></i>
                        </a> -->
                        <!-- Modal -->
                        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">iDea Clean and Unique Design</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Consectetur adipisicing elit. Nemo architecto debitis dolorum ullam in ut sint, odit maiores eaque explicabo, repellendus minima soluta sunt! Nisi minima blanditiis voluptate, ut atque.</p>
                                        <ul class="list-icons">
                                            <li><i class="icon-check"></i> Nisi minima blanditiis voluptate</li>
                                            <li><i class="icon-check"></i> Officiis nisi nam doloribus explicabo</li>
                                            <li><i class="icon-check"></i> Debitis delectus corporis aspernatur</li>
                                            <li><i class="icon-check"></i> Dolore temporibus odio distinctio</li>
                                            <li><i class="icon-check"></i> Reprehenderit optio unde accusantium quia</li>
                                        </ul>
                                        <p>Culpa expedita! Quisquam, itaque officiis nisi nam doloribus explicabo possimus, dolorum alias provident maxime temporibus, enim voluptatibus! Molestias, accusantium cum impedit sint velit exercitationem deserunt, corporis magni provident earum, ullam iusto voluptatem iste animi inventore ab cupiditate quod laborum quasi libero doloremque obcaecati eius. Ut, reprehenderit optio unde accusantium quia qui! Debitis delectus corporis aspernatur nemo aut, odio harum ea repellendus quidem, saepe, incidunt? Assumenda deserunt unde minima aspernatur ducimus velit molestiae, minus eius inventore, dolore temporibus odio distinctio optio.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-check"></i> Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        or -->
                        <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-top end -->
</section>


<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Flexibilidade</h1>
                <div class="separator"></div>
                <p class="lead text-center">Com o BuffetWeb, a sua empresa pode trabalhar com módulos de acordo com a sua necessidade.</p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Acesse o Sistema de Qualquer Dispositivo com Conexão com a Internet.</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/Content/images/section-image-2.png" alt="">
                            </div>
                            <div class="col-md-6">
                                <p>Com o nosso sistema, você pode visualizar no seu computador, Tablet ou no seu SmartPhone, acessando de qualquer local com conexão a Internet. Imagine a facilidade de gerar orçamentos e contratos mesmo durante uma visita ao cliente. </p>
                            </div>
                        </div>
                        <p>O BuffetWeb é um software sob serviço (SaaS) ou seja, somos responsável por toda a estrutura necessária para a disponibilização do sistema (servidores, conectividade, cuidados com segurança, etc...) e você cliente utiliza o software via internet, pagando um valor pelo serviço oferecido.</p>
                        <!-- <a href="" class="btn btn-white">Assista o vídeo</a> -->
                        <!-- inicio pop-up -->
                        <!-- <div class="body">
                                <a href="" data-toggle="modal" data-target="#popup_video" class="btn btn-white">Assista o vídeo</a>
                                <div class="call-to-action">

                                    <div class="modal fade" id="popup_video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Assista o Vídeo</h4>
                                                </div>
                                                <div class="modal-body">
                                                    link do vídeo
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-check"></i> Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                        <!-- fim popup -->



                        <div class="space hidden-md hidden-lg"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group panel-dark" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="fa fa-edit"></i>Orçamento On-Line
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Permita que o seu cliente tenha acesso a um ambiente on-line, totalmente seguro, onde terá a liberdade de cadastrar seus dados, escolher o tipo de evento e cardápio que será servido, agendar visita, finalizar o pedido, visualizar o contrato e até mesmo efetuar o pagamento.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                            <i class="fa fa-envelope-o"></i>Convite On-Line
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Um convite on-line personalizado, confirmação de presença e troca de mensagens entre o contratante do evento e todos os convidados são alguns dos diferenciais dessa ferramenta, tornando a marca do seu buffet visível por muito mais tempo e tudo isso de forma muito simples.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                            <i class="fa fa-image"></i>Galeria de Imagens
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Além da Integração do nosso Módulo de Galeria com Depoimentos do Homenagiado ou Contratante do Evendo, você também pode incluir as imagens do seu ou de seus Espaços, detalhando sobre cada um deles.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

    <!-- main start -->
    <!-- ================ -->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title">Serviços</h1>
                    <div class="separator"></div>
                    <p class="lead text-center">Profissionais Certificados<br>Métodos Modernos na Implantação, nos Treinamentos, no Suporte ou na Manutenção do Sistema.</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                <i class="fa fa-sitemap"></i>
                                <h2>Implantação</h2>
                                <p>Um sistema SaaS, dispensando os custos de compra de licença de uso e hardware ...</p>
                                <a href="/Home/Implantacao" class="btn-default btn">Ver Mais ...</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                <i class="fa fa-certificate"></i>
                                <h2>Treinamento</h2>
                                <p>O BuffetWeb possui profissionais certificados para ministrar treinamentos ...</p>
                                <a href="/Home/Treinamento" class="btn-default btn">Ver Mais ...</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                <i class="fa fa-headphones"></i>
                                <h2>Suporte</h2>
                                <p>O BuffetWeb possui uma estrutura de suporte dimensionada de forma ...</p>
                                <a href="/Home/Suporte" class="btn-default btn">Ver Mais ...</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                <i class="fa fa-wrench"></i>
                                <h2>Manutenção</h2>
                                <p>O BuffetWeb oferece aos seus clientes sempre o que há de mais moderno ...</p>
                                <a href="/Home/Manutencao" class="btn-default btn">Ver Mais ...</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main end -->

</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-3">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">Sistema On-Line feito sob medida</h1>
                    <p class="text-center">Entre em contato e dê um grande passo para o gerenciamento profissional do seu buffet. </p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<!-- <div class="section clearfix"> -->
<section class="main-container gray-bg">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-md-12">

                    <h2>Casos de Sucesso</h2>
                    <div class="separator-2"></div>
                    <p>Veja Algumas das Empresas que Possuem Nosso Sistema. </p>
                    <div class="owl-carousel carousel">
                        <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                            <div class="overlay-container">
                                <img src="~/Content/images/lamansion.jpg" alt="">
                                <a target="_blank" href="http://www.lamansion.com.br" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>La Mansión</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa2</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa3</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa4</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa5</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa6</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa7</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Empresa8</span>
                                </a>
                            </div>
                            <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- section end -->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="owl-carousel content-slider well">
                    <div class="testimonial">
                        <div class="testimonial-image">
                            <img src="~/Content/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Este sistema atendeu todas as minhas espectativas, reduzindo meus custos e tornando muito mais rápido a respósta de orçamento do meu Buffet.</p>
                            <div class="testimonial-info-1">Rozãgella Delmondes</div>
                            <div class="testimonial-info-2">Espaço e Buffet La Mansíon</div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-image">
                            <img src="~/Content/images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Este sistema atendeu todas as minhas espectativas, reduzindo meus custos e tornando muito mais rápido a respósta de orçamento do meu Buffet.</p>
                            <div class="testimonial-info-1">Rozãgella Delmondes</div>
                            <div class="testimonial-info-2">Espaço e Buffet La Mansíon</div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-image">
                            <img src="~/Content/images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Este sistema atendeu todas as minhas espectativas, reduzindo meus custos e tornando muito mais rápido a respósta de orçamento do meu Buffet.</p>
                            <div class="testimonial-info-1">Rozãgella Delmondes</div>
                            <div class="testimonial-info-2">Espaço e Buffet La Mansíon</div>
                        </div>
                    </div>
                </div>
                <div class="space-bottom"></div>
            </div>
            <div class="col-md-4">
                <div class="owl-carousel content-slider">
                    <div class="overlay-container">
                        <img src="~/Content/images/section-image-la_mansion.png" alt="">
                    </div>
                    <div class="overlay-container">
                        <img src="~/Content/images/section-image-la_mansion.png" alt="">
                    </div>
                    <div class="overlay-container">
                        <img src="~/Content/images/section-image-la_mansion.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section end -->