﻿
@{
    ViewBag.Title = "BuffetWeb | Manutenção";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Manutenção</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<br>
<div class="row" style=" margin-bottom: 20px; ">
    <div class="col-sm-12 col-md-4 col-md-push-4">
        <img src="~/Content/images/manutencao_buffetweb.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="container">
        <h1 class="text-center title">Manutenção do Sistema</h1>
        <div class="separator"></div>
        <div class="row grid-space-10">
            <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <div class="icon-container default-bg">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="body">
                        <h2>Inovação</h2>
                        <p>O BuffetWeb oferece aos seus clientes sempre o que há de mais moderno, trabalhando sempre para que seus produtos estejam entre os “tops de linha” em termos de inovação.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>

            <div class="row grid-space-10">
                <div class="col-sm-6">
                    <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
                        <div class="icon-container default-bg">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="body">
                            <h2>Customizações</h2>
                            <p>As customizações nas “saídas” (relatórios emitidos, arquivos gerados, planilhas geradas, etc.) podem ser customizadas pelo próprio usuário sem a necessidade de demandar as modificações para o BuffetWeb. Outras alterações nos sistemas podem ser solicitadas e serão atendidas após avaliações de viabilidade. </p>
                            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                            <br><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- page-top start -->
    <!-- ================ -->
    <div class="page-top parallax dark-translucent-bg parallax-bg-3">
        <div class="container">
            <div class="call-to-action">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="title text-center">Oferecemos mais possibilidades para atender todas as suas necessidades.</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-top end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
        <div class="container">
            <h1 class="text-center">Atualizações de Software</h1>
            <div class="separator"></div>
            <!-- <p class="lead text-center">Lorem ipsum dolor sit amet. Maiores, odio ut deleniti doloremque ad at praesentium<br> laudantium molestias similique. Quisquam incidunt ut laboriosam.</p>
            <br> -->
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/images/section-image-atualizacao2.png" alt="">
                    <div class="space hidden-md hidden-lg"></div>
                </div>
                <div class="col-md-6">
                    <br><p class="space-top">O BuffetWeb garante aos seus clientes o envio periódico de novas versões do sistema. As atualizações também ocorrem sempre que sejam necessárias alterações, acréscimos de rotinas ou melhorias. Sendo disponibilizado sempre um manual em pdf ou uma vídeo-aula sobre o que há de novo.</p>
                    <!-- <a href="page-about-2.html" class="btn btn-lg btn-default">Solicitar Atendimento</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

