﻿
@{
    ViewBag.Title = "BuffetWeb | Orçamento";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Orçamento On-Line</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<br>
<div class="row" style=" margin-bottom: 30px; ">
    <div class="col-sm-12 col-md-4 col-md-push-4">
        <img src="~/Content/images/etapa_orcamento.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="container">
        <h1 class="text-center title">Orçamento On-Line</h1>
        <div class="separator"></div>
        <div class="row grid-space-10">
            <h3 class="text-center title">Quanto Custa Manter um Funcionário para Responder todos os Pedidos de Orçamentos do seu Buffet?</h3>
            <h4 class="text-center title">Por Muito Menos, a sua Empresa Adiquiri um Sistema onde o Cliente pode Criar um Orçamento <br>e até mesmo Contratar os Serviços em apenas 3 Passos:</h4>
            <div class="col-sm-4">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                    <div class="icon-container default-bg">
                        <i class="text-center title">1</i>
                    </div>
                    <div class="body">
                        <!-- <h2>Clean Design and Code</h2> -->
                        <p>O seu Cliente Escolhe a Melhor Opção para seu Evento</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                    <div class="icon-container default-bg">
                        <i class="text-center title">2</i>
                    </div>
                    <div class="body">
                        <!-- <h2>Very Flexible</h2> -->
                        <p>Agenda uma Degustação ou Visita para Conhecer o Local</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>

            <!-- <div class="row grid-space-10"> -->
            <div class="col-sm-4">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
                    <div class="icon-container default-bg">
                        <i class="text-center title">3</i>
                    </div>
                    <div class="body">
                        <!-- <h2>Packed Full of Features</h2> -->
                        <p>E com toda Comodidade, Contrata os Serviços e Efetua o pagamento por Meio de Boleto, Transferência Bancária ou Cartão de Crédito </p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="800">
                    <div class="icon-container default-bg">
                        <i class="fa fa-qrcode"></i>
                    </div>
                    <div class="body"> -->
            <!-- <h2>100% Responsive</h2> -->
            <!-- <p>O Convite on-line conta também com um sistema de Qr-code, facilitando a confirmação da presença do convidado no dia do evento. E possui uma Pesquisa de Satisfação, enviando após o término, para o contratante do evento e todos os convidados que compareceram. E o resultado da pesquisa é armazenado no sistema de administração do buffet e fica disponível com gráficos para consultas posteriores.</p> -->
            <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
            <!-- </div>
                </div>
            </div> -->

        </div>
    </div>
</div>
<!-- section end -->
<!-- page-top start -->
<!-- ================ -->
<div class="page-top parallax dark-translucent-bg parallax-bg-3">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">Sistema Inovador para Orçamentos</h1>
                    <p class="text-center">Único Sistema de Orçamentos para Buffet, onde o Cliente pode Orçar e Fechar o seu Evento Totalmente On-Line</p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-top end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Esteja Preparado para o Mercado</h2>
                <div class="separator-2"></div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Devido à elevada expansão do comércio eletrônico no país, as compras pela internet se tornaram uma prática que cada vez mais revela constância na vida do consumidor brasileiro que busca a comodidade de pesquisar preços e realizar compras sem sair de suas casas.</p>
                        <p>Esse crescimento substancial deve-se a uma conjunção de fatores, como a mudança no comportamento dos consumidores, que passaram a perceber melhor os benefícios das compras na Internet e as vantagens oferecidas por esse meio, além do aumento do número de computadores aliado a uma maior penetração da banda larga no país e, ainda, às melhorias da segurança nas compras na Internet.</p>
                        <!-- <a href="page-about.html" class="btn btn-white">Learn More</a> -->
                        <div class="space hidden-md hidden-lg"></div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/images/e-commerce.png" alt="">
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
