﻿
@{
    ViewBag.Title = "BuffetWeb | Suporte";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Suporte</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- page-top start-->
<!-- ================ -->
<div class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center title">Suporte Técnico</h1>
                <div class="separator"></div>
                <!-- <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                <div class="row" style=" margin-bottom: -40px; ">
                    <div class="col-sm-12 col-md-4 col-md-push-4">
                        <img src="~/Content/images/section-image-suporte.jpg" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
                    </div>
                    <div class="col-sm-6 col-md-4 col-md-pull-4">
                        <div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                            <div class="icon-container default-bg">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="body">
                                <h2>Sempre que houver necessidade</h2>
                                <p>Entre em contato com o nosso Suporte Técnico, seja por meio de telefone, chat, e-mail ou pelo site.
                            </div>
                        </div>
                        <div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                            <div class="icon-container default-bg">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="body">
                                <h2>Acompanhamento</h2>
                                <p>Sua solicitação será registrada e acompanhada até que seja alcançada uma solução satisfatória.
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                            <div class="icon-container default-bg">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="body">
                                <h2>Extrutura</h2>
                                <p>O BuffetWeb possui uma estrutura de suporte dimensionada de forma a manter sempre em níveis satisfatórios a qualidade do serviço de suporte.
                            </div>
                        </div>
                        <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                            <div class="icon-container default-bg">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="body">
                                <h2>Atendimento</h2>
                                <p>Os atendentes são periodicamente treinados “indoor” e, eventualmente, são alocados em serviços externos para vivenciar o ambiente operacional dos mesmos.
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-top end -->
<!-- page-top start -->
<!-- ================ -->
<div class="page-top parallax dark-translucent-bg parallax-bg-3">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">Suporte 24 Horas, 7 Dias por Semana</h1>
                    <p class="text-center">Tenha um Sistema com todo Suporte que uma Empresa de Porte pode lhe Oferecer.</p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-top end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
    <div class="container">
        <h1 class="text-center">Central de Chamados</h1>
        <div class="separator"></div>
        <p class="lead text-center">Para Atendê-lo com Eficiência e Agilidade, Utilize Nosso Sistema de Mensagens.</p>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/section-image-suporte.png" alt="">
                <div class="space hidden-md hidden-lg"></div>
            </div>
            <div class="col-md-6">
                <p class="space-top">Para Acessar os Serviços de Suporte Técnico, Solicitamos a Abertura de Chamado, Clique no Botão Abaixo para o Preenchimento do Formulário de Suporte, que é Enviado Automaticamente à Central de Atendimento ao Cliente. Este Serviço é Destinado Exclusivamente às Empresas que Possuem o Sistema BuffetWeb.</p>
                <a href="http://www.web.buffetweb.com/Home/Login" class="btn btn-lg btn-default">Abrir Chamado</a>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

