﻿
@{
    ViewBag.Title = "BuffetWeb | Treinamento";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Inicio</a></li>
                    <li class="active">Treinamento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- banner start -->
<!-- ================ -->
<div class="banner section white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style=" margin-bottom: -25px; ">
                <img src="~/Content/images/treinamento_buffetweb.png" alt="" class="object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">
            </div>
            <div class="col-md-6">
                <br>
                <h1 class="object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="200">Treinamento</h1>
                <br>
                <div class="box-style-3 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="400">
                    <div class="icon-container default-bg">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="body">
                        <!-- <h2>Profissionais Capacitados</h2> -->
                        <p>O BuffetWeb possui profissionais certificados para ministrar treinamentos aos usuários dos sistemas, capacitando-os a desenvolver suas atividades utilizando nossos softwares.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
                <div class="box-style-3 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="600">
                    <div class="icon-container default-bg">
                        <i class="fa fa-file-movie-o"></i>
                    </div>
                    <div class="body">
                        <!-- <h2>Latest Technologies</h2> -->
                        <p>O BuffetWeb também fornece uma Documentação bem detalhada e de fácil entendimento em formato de pdf e vídeo-aulas, disponível on-line 24/7 para todos os usuários do nosso sistema.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
                <div class="box-style-3 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="800">
                    <div class="icon-container default-bg">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="body">
                        <!-- <h2>Flexibilidade</h2> -->
                        <p>A política de implantação do BuffetWeb, assim como a arquitetura de nossos softwares, prevê que todos os usuários de nossas soluções sejam os mais independentes possíveis. Dessa forma, são fornecidas aos usuários condições de configurar o sistema como preferir.</p>
                        <!-- <a href="page-services.html" class="link"><span>Read More</span></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- page-top start -->
<!-- ================ -->
<div class="page-top parallax dark-translucent-bg parallax-bg-3">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">Facilidade e Praticidade</h1>
                    <p class="text-center">Nossa Preocupação foi Desenvolver um Sistema muito Fácil e Prático de Usar, para que o Usuário Consiga Gerenciar seu Buffet da Melhor Forma Possível</p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-top end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Vídeo-Aulas e Tutoriais</h2>
                <div class="separator-2"></div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Através dos nossas vídeo-aulas e tutoriais queremos que sua equipe aprenda mais sobre gestão financeira e sobre como melhor usar o sistema BuffetWeb na sua empresa. </p>
                        <!-- <p>Esse sequi veniam, assumenda voluptate necessitatibus ipsa dicta vero, minima natus cum cupiditate magnam et placeat quo adipisci.</p> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ducimus totam omnis earum atque repellat. Optio quo repellendus, voluptatibus at modi nulla, quasi quae tenetur provident quibusdam earum iure quidem.</p> -->
                        <!-- <a href="page-about.html" class="btn btn-white">Learn More</a> -->
                        <div class="space hidden-md hidden-lg"></div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/images/section-image-treinamento.png" alt="">
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
