﻿@using BuffetWeb.Helpers
@model BuffetDataShared.Model.Prestador.ModelPrestador

<form action="/Prestador/SalvarPrestador" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Novo Prestador
                </div>
                <div class="panel-body">
                    @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                    <div class="row">
                        <div class="col-md-3">
                            <label>Função</label>
                            <select class="form-control" required name="id_funcao">
                                <option value="">Selecionar</option>
                                @foreach (var funcao in Model.prestadores_funcao)
                                {
                                    <option value="@funcao.id">@funcao.nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Nome</label>
                            <input type="text" required name="nome" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label>Sexo</label>
                            <select class="form-control" required name="sexo">
                                <option value="">Selecionar</option>
                                <option value="true">Masculino</option>
                                <option value="false">Faminino</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Valor de Custo</label>
                            <input type="text" name="valor_custo" required class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <label>Valor de Venda</label>
                            <input type="text" name="valor_venda" required class="form-control" />
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12 row">
                                <label>Disponibilidade</label>
                            </div>
                            <div class="col-md-12 row">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success">
                                        <input type="checkbox" name="domingo" autocomplete="off"> Domingo
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="checkbox" name="segunda" autocomplete="off"> Segunda
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="checkbox" name="terca" autocomplete="off"> Terça
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="checkbox" name="quarta" autocomplete="off"> Quarta
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="checkbox" name="quinta" autocomplete="off"> Quinta
                                    </label>
                                    <label class="btn btn-success ">
                                        <input type="checkbox" name="sexta" autocomplete="off"> Sexta
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="checkbox" name="sabado" autocomplete="off"> Sábado
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Confirmar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>


@if (Model.prestadores.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Prestadores
                    <span class="label label-info pull-right">@Model.prestadores.Count Prestadores</span>
                </div>
                <div class="padding-md clearfix">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> Sexo  </th>
                                <th> Perfil </th>
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                {
                                    <th> Valor Custo </th>
                                    <th> Valor Venda </th>
                                }
                                <th>Disponibilidade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.prestadores)
                            {
                                <tr>
                                    <td> @item.nome </td>
                                    <td> @string.Format("{0}", item.sexo ? "Masculino" : "Feminino") </td>
                                    <td> @item.PRESTADOR_FUNCAO.nome </td>
                                    @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                    {
                                        <td> @item.valor_custo </td>
                                        <td> @item.valor_venda </td>
                                    }

                                    <td>
                                        @string.Format("{0} ", @item.domingo.Equals("on") ? "Domingo - " : "")
                                        @string.Format("{0} ", @item.segunda.Equals("on") ? "Segunda - " : "")
                                        @string.Format("{0} ", @item.terca.Equals("on") ? "Terça - " : "")
                                        @string.Format("{0} ", @item.quarta.Equals("on") ? "Quarta - " : "")
                                        @string.Format("{0} ", @item.quinta.Equals("on") ? "Quinta - " : "")
                                        @string.Format("{0} ", @item.sexta.Equals("on") ? "Sexta - " : "")
                                        @string.Format("{0} ", @item.sabado.Equals("on") ? "Sábado - " : "")
                                    </td>
                                    <td align="right">
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Opções<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Editar</a>
                                                </li>
                                                <li>
                                                    <form action="/Itens/ApagarItemAluguel" id="form_editar" method="post">
                                                        <input type="hidden" name="id" value="@item.id" />
                                                    </form>
                                                    <a href="#" onclick="document.getElementById('form_editar').submit()">Apagar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}