﻿@model ICollection<BuffetDataManager.Models.PRESTADOR_FUNCAO>

<form action="/Prestador/SalvarFuncaoPrestador" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                <div class="panel-heading">
                    Nova função de prestador
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <label>Nome</label>
                        <input type="text" class="form-control" name="nome" required />
                    </div>
                    @*<div class="col-md-2">
                        <label>Combrar Por</label>
                        <input type="hidden" name="porEspaco" id="porEspaco" value="false" />
                        <button class="btn btn-success dropdown-toggle col-md-12" data-toggle="dropdown">
                            <span id="espaco_Desc"> Evento </span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(o)" onclick="CobrarPor(this, true)">Evento</a></li>
                            <li><a href="javascript:void(o)" onclick="CobrarPor(this, false)">Convidado</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2" id="valor_minimo" style="display:none">
                        <label id="valor_minimo_desc">Valor min. do Espaço</label>
                        <input type="text" name="valor_minimo" id="valor_minimo_text" onkeypress="DIOnlyNumber(this)" class="form-control">
                    </div>
                    <div class="col-md-2" id="valor_espaco">
                        <label id="desc_valor">Valor Espaço</label>
                        <input type="text" name="valor" required class="form-control" onkeypress="DIOnlyNumber(this)">
                    </div>*@
                </div>


                <div class="panel-footer">
                    <input type="submit" value="Confirmar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="panel">
        <table class="table" id="dataTable">
            <thead>
                <tr>Nome</tr>
            </thead>
            @foreach (var funcao in Model)
            {
                <tr>
                    <td>@funcao.nome</td>
                </tr>
            }
        </table>
    </div>
</div>

