﻿@using BuffetWeb.Helpers
 
    @if (Html.Modulos(Modulo.Convite))
    {
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Email Marketing
        </div>
        <div class="panel-body"> 
            <div class="col-md-12">
                @Html.AddMensagem((string)ViewBag.mensagem)
            </div>
            <div class="col-md-7 pull-left">
                <div class="text-center form-group">
                    <img src="~/Content/Buffet/Convites/Imagens/convite_explicacao.png" />
                </div>
            </div>
            <div class="col-md-5 pull-right"> 
                <form action="/Convite/Convites" method="post">
                    <div class="row">
                        <label>Selecione ou Adicione um Cliente</label>
                        <div class="row">
                            <div class="col-md-8">
                                <select name="id_cliente" class="ls-select form-control" required>
                                    <option value="">Selecione</option>
                                    @foreach (var cliente in Model.clientes)
                                    {
                                        <option value="@cliente.id">@cliente.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <a @Html.Dica("top", "Adicione um cliente caso ele não esteja cadastrado.") class="btn btn-success btn-block" href="/Clientes/Clientes?acao=Convites&controlador=Convite">Novo Cliente</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <input type="submit" class="btn btn-success btn-block" value="Criar Convite" />
                    </div>
                </form> 
            </div>
        </div>
    </div>
    }

@if (Model.convites.Count != 0)
{ 
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.mensagem != null)
            {
                Html.Raw((string)ViewBag.mensagem);
            }

            <div class="panel panel-default table-responsive"> 
                <div class="panel-heading"> 
                    Meus Convites
                    <span class="label label-info pull-right">@Model.convites.Count Campanhas</span>
                </div>
                <div class="padding-md clearfix">
                    @Html.AdicionarFiltro("Convite", "Convite", (string)ViewBag.filtro)
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th>Código Único</th>
                                <th>Cliente</th> 
                                <th>Data</th>
                                <th>Local</th> 
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                            </tr>
                        </thead> 
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
