﻿@model BuffetWebGerenciador.Models.Planos.PlanosModel
@using BuffetWebGerenciador.Helpers

<script src="~/Content/Buffet/Planos/Planos.js"></script>

<div class="modal fade" id="NovoPlanoPortal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Novo Plano Portal</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id_plano_portal" id="id_plano_portal" />
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-controlva" id="nome_plano_portal" name="nome_plano_portal" />
                </div>
                <div class="form-group">
                    <label>Plano Destaque</label>
                    <select class="form-control" id="anuncio_portal" name="anuncio" >
                        <option value="">Selecione</option>
                        <option value="TOPMENU">Top Menu</option>
                        <option value="DESTAQUE">Destaque</option>
                        <option value="HOME">Home</option>
                        <option value="HEADE">Header</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Envio de Proposta</label>
                    <select class="form-control" id="envio_proposta_portal" name="envio_proposta">
                        <option value="">Selecione</option>
                        <option value="True">Sim</option>
                        <option value="False">Não</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label>Destaque pesquisa</label>
                    <select class="form-control" id="destaque_pesquisa_zona_portal" name="destaque_pesquisa_zona">
                        <option value="">Selecione</option>
                        <option value="True">Sim</option>
                        <option value="False">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Destaque mapa</label>
                    <select class="form-control" id="destaque_mapa_portal" name="destaque_mapa">
                        <option value="">Selecione</option>
                        <option value="True">Sim</option>
                        <option value="False">Não</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancelar" />
                <input type="button" class="btn btn-success" onclick="AdicionarNovoPlanoPortal(this)" id="Adicionar_Portal" value="Adicionar" />
            </div>
        </div>
    </div>
</div>

<form action="/Planos/AdicionarPlano" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_plano" id="id_plano" value="" />
    <input type="hidden" name="img_miniatura" id="img_miniatura_" />
    <input type="hidden" name="img_normal" id="img_normal_" />

    <div class="modal fade" id="ImagemMiniatura">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Imagem Miniatura</h3>
                </div>
                <div class="modal-body">
                    @Html.SelecionarImagem("_img_miniatura", "img_miniatura_base", "", 160, 270)
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Concluir" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ImagemNormal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Imagem Normal</h3>
                </div>
                <div class="modal-body">
                    @Html.SelecionarImagem("_img_normal", "img_normal_base", "", 290, 500)
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Concluir" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Datas">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Datas</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Disponivel de</label>
                        <input type="date" class="form-control" name="disponivel_de" id="disponivel_de" value="@DateTime.Today.ToShortDateString()" />
                    </div>
                    <div class="form-group">
                        <label>Disponivel até</label>
                        <input type="date" class="form-control" name="disponivel_ate" id="disponivel_ate" value="@DateTime.Today.AddMonths(1).ToShortDateString()" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Concluir" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Valores">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Valores</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text" class="form-control" name="valor_mensal" id="valor_mensal" placeholder="Valor Mensal" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text" class="form-control" name="valor_trimestral" id="valor_trimestral" placeholder="Valor Trimestral" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text" class="form-control" name="valor_semestral" id="valor_semestral" placeholder="Valor Semestral" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text" class="form-control" name="valor_anual" id="valor_anual" placeholder="Valor Anual" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Concluir" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Novo Plano
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome do Plano</label>
                                <input type="text" class="form-control" name="nome" id="nome" />
                            </div>
                            <div class="from-group">
                                <label>Descrição</label>
                                <textarea rows="10" class="form-control" name="descricao" id="descricao"></textarea>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div style="margin-top:10px">
                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#ImagemMiniatura" value="Miniatura" />
                            </div>
                            <div style="margin-top:10px">
                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#ImagemNormal" value="Normal" />
                            </div>
                            <div style="margin-top:10px">
                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#Valores" value="Valores" />
                            </div>
                            <div style="margin-top:10px">
                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#Datas" value="Datas" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#portal" aria-controls="home" role="tab" data-toggle="tab">Portal</a></li>
                                    <li role="presentation"><a href="#orcamento" aria-controls="profile" role="tab" data-toggle="tab">Orçamento</a></li>
                                    <li role="presentation"><a href="#convite" aria-controls="messages" role="tab" data-toggle="tab">Convite</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="portal">
                                        <div class="row">
                                            <div class="from-group">
                                                <div class="col-md-7" style="margin-top:10px;margin-bottom:10px">
                                                    <select class="form-control" name="id_plano_portal" id="id_plano_portal_">
                                                        <option value="">Selecione</option>
                                                        @foreach (var portal in Model.planosPortal)
                                                        {
                                                            <option value="@portal.id">@portal.nome</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-5" style="margin-top:10px;margin-bottom:10px">
                                                    <input type="button" class="btn btn-success btn-block" data-target="#NovoPlanoPortal" data-toggle="modal" onclick="LimparNovoPlano(this)" value="Novo Plano Portal" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                @if (Model.planosPortal.Count != 0)
                                                {
                                                    <table class="table" id="planos_portal">
                                                        <thead>
                                                            <tr>
                                                                <td>Nome</td>
                                                                <td width="50"></td>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var portal in Model.planosPortal)
                                                        {
                                                            <tr>
                                                                <td>@portal.nome</td>
                                                                <td>
                                                                    <input type="button" class="btn btn-sm btn-success" onclick="EditarNovoPlano(this, '@portal.id','@portal.nome','@portal.destaque_pesquisa_zona.ToString()','@portal.destaque_mapa.ToString()','@portal.envio_proposta.ToString()','@portal.envio_proposta_quantidade_mes')" value="Editar" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                }
                                                else
                                                {
                                                    <h2 class="text-center">Nenhum plano de portal cadastrado!</h2>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="orcamento">

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="convite">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-success" value="Confirmar" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Planos
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Nome</td>
                                <td>Valor Mensal</td>
                                <td>Valor Trimestral</td>
                                <td>Valor Semestral</td>
                                <td>Valor Anual</td>
                                <td></td>
                            </tr>
                        </thead>
                        @foreach (var plano in Model.planosDisponiveis)
                        {
                            <tr>
                                <td>@plano.nome</td>
                                <td>@plano.valor_mensal</td>
                                <td>@plano.valor_semestral</td>
                                <td>@plano.valor_trimestral</td>
                                <td>@plano.valor_anual</td>
                                <td>
                                    <input type="button" class="btn btn-sm btn-success" value="Editar" onclick="EditarPlano(this, '@plano.id')" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
