﻿@model ICollection<BuffetWebData.Models.B_PORTAL_PROMOCAO>
@using BuffetWebGerenciador.Helpers
@{
    ViewBag.Title = "AdicionarPromocao";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Planos
            </div>
            <form action="/Planos/AdicionarPromocao" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.SelecionarImagem("imagem", "imagem", "", 400, 800)
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <div class="col-md-8">
                                    <label>Nome da Promoção</label>
                                    <input type="text" name="nome" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>Desconto de</label>
                                    <input type="text" class="form-control" name="desconto_de" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nome da Promoção</label>
                                <textarea name="descricao" class="form-control" rows="10"></textarea>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>Dispinível de</label>
                                    <input type="date" name="disponivel_de" />
                                </div>
                                <div class="col-md-6">
                                    <label>Dispinível até</label>
                                    <input type="date" name="disponivel_ate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Salvar" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Promoções
                <span class="label label-info pull-right">@Model.Count Promoções</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Desconto</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var promocao in Model)
                    {
                        <tr>
                            <td>@promocao.nome</td>
                            <td>@string.Format("R$ {0}", promocao.desconto_de)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>