﻿@using BuffetWebGerenciador.Helpers
@{
    String[] sociais = new String[] { "site", "facebook" };
}

<script src="~/Content/Script/ColorPicker/jscolor.js"></script>
<script src="~/Content/Buffet/Empresas/Empresas.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Nova Empresa
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            <label>CNPJ</label>
                            <input type="text" name="EMPRESA.cpnj" required class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <label>Nome da Empresa</label>
                            <input type="text" name="EMPRESA.nome" required class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <label>Telefone</label>
                            <input type="text" name="name" required class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <label>Celular</label>
                            <input type="text" name="name" required class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#licenca" aria-controls="licenca" role="tab" data-toggle="tab">Social</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="row">
                                    @for (int i = 0; i < sociais.Length; i++)
                                    {
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>@sociais[i]</label>
                                                <input type="text" name="EMPRESA_SOCIAL[@i].url" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>