﻿<script src="~/Content/Buffet/Empresas/Empresas.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Nova Empresa
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label>CNPJ</label>
                        <input type="text" name="cnpj" onkeypress="OnBuscarCNPJ(this)" />
                    </div>
                    <div class="col-md-4">
                        <label>Nome</label>
                        <input type="text" name="nome" />
                    </div>
                    <div class="col-md-4">
                        <label>Razão Social</label>
                        <input type="text" name="razao_social" />
                    </div>
                    <div class="col-md-4">
                        <label>Telefone</label>
                        <input type="text" name="telefone" />
                    </div>
                    <div class="col-md-4">
                        <label>Celular</label>
                        <input type="text" name="celular" />
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" name="name" />
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" name="name" />
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" name="name" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>