﻿@using BuffetWebGerenciador.Helpers

@model ICollection<BuffetWebData.Models.B_CONVITES_DISPONIVEIS>

<style>
    @Html.FontesCSS()
</style>
<script src="~/Content/Buffet/Convites/Convites.js"></script>
<script src="~/Content/Script/ColorPicker/jscolor.js"></script>
<link href="~/Content/Script/JQuery/css/jquery-ui.css" rel="stylesheet" />

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
@*<script src="http://code.jquery.com/jquery-1.10.2.js"></script>*@
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="~/Content/Script/owl-carousel/owl-carousel/owl.carousel.js"></script>
<link href="~/Content/Script/owl-carousel/owl-carousel/owl.theme.css" rel="stylesheet" />
<link href="~/Content/Script/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />

<div class="modal fade" id="frasesProntas">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Frases Prontas</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>Titulo</label>
                        <input type="text" id="titulo_frase" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <label>Descrição</label>
                        <textarea class="form-control" rows="3" id="descricao_frase"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="button" value="Salvar Frase" class="btn btn-success pull-right" onclick="SalvarFrase(this)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive" id="tabela_Frases"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fontesBuffetWeb">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fontes BuffetWeb</h4>
            </div>
            <form action="/Convite/AdicionaFonteBuffetWeb" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        <strong>Atenção!</strong> A Página será atualizada após a confirmação!
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Nome Visivel</label>
                            <input type="text" name="nome_visivel" class="form-control" required />
                        </div>

                        <div class="col-md-4">
                            <label>Nome da Fonte</label>
                            <input type="text" name="nome_fonte" id="nome_fonte" class="form-control" required />
                        </div>

                        <div class="col-md-4">
                            <label>Fonte</label>
                            <input type="file" name="fonte" onchange="SelecionaArquivo(this)" required>
                        </div>
                    </div>
                    <div class="row panel-body" style=" width: 94%; margin-left: 28px; ">
                        <div id="owl-fontes" class="owl-carousel">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Adicionar Fonte" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="excluirConvite">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Convite</h4>
            </div>
            <form action="/Convite/ExcluirConvite" method="post">
                <input type="hidden" name="id_convite_excluir" id="id_convite_excluir" />
                <div class="modal-body">
                    Você confirma a exclusão deste template para convite?
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger btn-block" value="Confirmar" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Gerenciar
                <input type="button" class="pull-right btn btn-sm btn-success" data-target="#fontesBuffetWeb" data-toggle="modal" value="Fontes BuffetWeb" />
                <input type="button" class="pull-right btn btn-sm btn-success" style="margin-right:10px" data-target="#frasesProntas" data-toggle="modal" value="Frases Prontas" />
            </div>
            <form action="/Convite/SalvarNovoConvite" enctype="multipart/form-data" method="post">
                <input type="hidden" name="editando" id="editando" value="false" />
                <input type="hidden" name="url_image" id="url_image" value="" />
                <input type="hidden" name="id" id="id" value="" />
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="tab-left">
                            <ul class="tab-bar" id="ConviteTabs">
                                <li class="active"><a href="#tema" data-toggle="tab"> Tema</a></li>
                                <li class=""><a href="#titulo" data-toggle="tab"> Titulo</a></li>
                                <li><a href="#descricao" data-toggle="tab"> Descrição</a></li>
                                <li><a href="#aniversariantes" data-toggle="tab"> Aniversariantes</a></li>
                                <li><a href="#dataHora" data-toggle="tab"> Data e Hora</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tema">
                                    <div class="col-md-12">
                                        <label>Tipo de Evento</label>
                                        <select class="form-control" name="tipo_evento" id="tipo_evento">
                                            <option value="Infantil">Infantil</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12" id="tema_div">
                                        <label>Tema</label>
                                        <input type="text" name="tema" id="tema_valor" class="form-control" required />
                                    </div>
                                    <div class="col-md-3" id="disponivel_div" style="display:none">
                                        <label>Disponivel</label>
                                        <select class="form-control" id="disponivel" name="disponivel">
                                            <option value="true">Sim</option>
                                            <option value="false">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="titulo">
                                    <div class="col-md-12">
                                        <label>Titulo</label>
                                        <input type="text" value="Titulo Aqui" name="titulo" class="form-control" maxlength="200" id="titulo_convite" onkeyup="o('titulo_t').innerHTML = this.value" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Fonte</label>
                                        <select class="form-control" id="fonte_titulo" name="titulo_fonte" onchange="AtualizarTitulo()" required>
                                            <option value="BuffetWeb">BuffetWeb</option>
                                            @foreach (var fonte in Html.fontesDisponiveis())
                                            {
                                                <option value="@fonte.familia"> @fonte.visivel </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tamanho</label>
                                        <input required type="number" name="titulo_tamanho" id="tamanho_titulo" onchange="AtualizarTitulo()" value="20" min="10" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cor</label>
                                        <input required type="text" id="cor_titulo" name="titulo_cor" onchange="AtualizarTitulo()" class="form-control color" value="000000" style="color:#000" />
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="descricao">
                                    <div class="col-md-12" id="containerDescricao">
                                        <label>Descrição</label>
                                        <textarea name="descricao" id="descric" required class="form-control" rows="3" onkeyup="o('descricao_t').innerHTML = this.value">Descrição Aqui</textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Fonte</label>
                                        <select class="form-control" id="fonte_descricao" name="descricao_fonte" onchange="AtualizarDescricao()" required>
                                            <option value="BuffetWeb">BuffetWeb</option>
                                            @foreach (var fonte in Html.fontesDisponiveis())
                                            {
                                                <option value="@fonte.familia"> @fonte.visivel </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tamanho</label>
                                        <input required type="number" name="descricao_tamanho" id="tamanho_descricao" onchange="AtualizarDescricao()" value="20" min="10" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cor</label>
                                        <input required type="text" id="cor_descricao" name="descricao_cor" onchange="AtualizarDescricao()" class="form-control color" value="000000" style="color:#000" />
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="aniversariantes">
                                    <div class="col-md-12">
                                        <label>Aniversariante Exemplo</label>
                                        <input type="text" name="aniversariantes_titulo" id="aniversariantes_titulo" onkeyup="o('aniversariantes_t').innerHTML = this.value" value="Aniversariante" onchange="AtualizarAniversariantes()" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Fonte</label>
                                        <select class="form-control" id="fonte_aniversariante" name="aniversariantes_fonte" onchange="AtualizarAniversariantes()" required>
                                            <option value="BuffetWeb">BuffetWeb</option>
                                            @foreach (var fonte in Html.fontesDisponiveis())
                                            {
                                                <option value="@fonte.familia"> @fonte.visivel </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tamanho</label>
                                        <input required type="number" name="aniversariantes_tamanho" id="tamanho_aniversariante" onchange="AtualizarAniversariantes()" value="20" min="10" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cor</label>
                                        <input required type="text" id="cor_aniversariante" name="aniversariantes_cor" onchange="AtualizarAniversariantes()" class="form-control color" value="000000" style="background-color:black" />
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="dataHora">
                                    <div class="col-md-12">
                                        <label>Data Exemplo</label>
                                        <input type="text" name="datahora_titulo" id="datahora_titulo" onkeyup="o('datahora_t').innerHTML = this.value" value="@string.Format("Dia {0} as {1}", DateTime.Now.Date.ToShortDateString(), DateTime.Now.Date.ToShortTimeString())" onchange="AtualizarAniversariantes()" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Fonte</label>
                                        <select class="form-control" id="fonte_datahora" name="datahora_fonte" onchange="AtualizarDataHora()" required>
                                            <option value="BuffetWeb">BuffetWeb</option>
                                            @foreach (var fonte in Html.fontesDisponiveis())
                                            {
                                                <option value="@fonte.familia"> @fonte.visivel </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tamanho</label>
                                        <input required type="number" name="datahora_tamanho" id="tamanho_datahora" onchange="AtualizarDataHora()" value="20" min="10" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cor</label>
                                        <input required type="text" id="cor_datahora" name="datahora_cor" onchange="AtualizarDataHora()" class="form-control color" value="000000" style="color:#000" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <table>
                            <tr>
                                <td>@Html.SelecionarImagem("Imagem", "Image", 400, 700)</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div onmouseup="LocalidadeTitulo(this)" id="titulo_t" onclick="TabShow('titulo')" style="font-family: Arial; font-size: 20px; margin-top: -300px; cursor: all-scroll; width: 300px;">
                                        <p>Titulo aqui</p>
                                    </div>
                                    <input type="hidden" id="titulo_top" name="titulo_top" value="-3px" />
                                    <input type="hidden" id="titulo_left" name="titulo_left" value="0px" />

                                    <div id="descricao_t" onmouseup="LocalidadeDescricao(this)" onclick="TabShow('descricao')" style=" cursor: all-scroll; font-size: 20px; width: 300px;">
                                        <p>Descrição aqui</p>
                                    </div>
                                    <input type="hidden" id="descricao_top" name="descricao_top" value="2px" />
                                    <input type="hidden" id="descricao_left" name="descricao_left" value="0px" />

                                    <div onmouseup="LocalidadeAniversariantes(this)" id="aniversariantes_t" onclick="TabShow('aniversariantes')" style="font-size: 20px; cursor: all-scroll; width: 300px; ">
                                        <p>Ricardo Chiconi</p>
                                    </div>
                                    <input type="hidden" id="aniversariantes_top" name="aniversariantes_top" value="-2px" />
                                    <input type="hidden" id="aniversariantes_left" name="aniversariantes_left" value="0px" />

                                    <div onmouseup="LocalidadeDataHora(this)" id="datahora_t" onclick="TabShow('dataHora')" style=" cursor: all-scroll; width: 300px; ">
                                        <p>@string.Format("Dia {0} as {1}", DateTime.Now.Date.ToShortDateString(), DateTime.Now.Date.ToShortTimeString())</p>
                                    </div>
                                    <input type="hidden" id="datahora_top" name="datahora_top" value="2px" />
                                    <input type="hidden" id="datahora_left" name="datahora_left" value="0px" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="button" onclick="location.reload()" class="btn btn-default pull-right" id="cancelarEdicao" style="display:none" value="Limpar" />
                    <input type="button" class="btn btn-danger pull-right" data-target="#excluirConvite" data-toggle="modal" value="Excluir" id="excluirEdicao" style="display:none; margin-right: 14px;;" />
                    <select class="form-control pull-right" onchange="BuscarConvitesPorTema(this)" style=" width: 150px; margin-right: 15px; ">
                        <option value="semFiltro">Sem Filtro</option>
                        @foreach (var convites in Model)
                        {
                            <option value="@convites.tema">@convites.tema</option>
                        }
                    </select>
                    <input type="submit" class="btn btn-success" value="Salvar" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="padding-md clearfix" style=" width: 95%; margin-left: 30px; ">
                <div id="owl-demo" class="owl-carousel">
                    @*@foreach (var convites in Model.OrderBy(e => e.tema).ToList())
                        {
                            <div class="item lazyOwl" style=" cursor: pointer; ">
                                <a href="javascript:void(o)" onclick="EditarConvite(this)" data-id="@convites.id" data-tema="@convites.tema" data-url_image="@convites.url_image" data-disponivel="@convites.disponivel" data-titulo="@convites.titulo" data-titulo_cor="@convites.titulo_cor" data-titulo_fonte="@convites.titulo_fonte" data-titulo_tamanho="@convites.titulo_tamanho" data-titulo_top="@convites.titulo_top" data-titulo_left="@convites.titulo_left" data-datahora_titulo="@convites.datahora_titulo" data-datahora_cor="@convites.datahora_cor" data-datahora_fonte="@convites.datahora_fonte" data-datahora_tamanho="@convites.datahora_tamanho" data-datahora_top="@convites.datahora_top" data-datahora_left="@convites.datahora_left" data-descricao="@convites.descricao" data-descricao_cor="@convites.descricao_cor" data-descricao_fonte="@convites.descricao_fonte" data-descricao_tamanho="@convites.descricao_tamanho" data-descricao_top="@convites.descricao_top" data-descricao_left="@convites.descricao_left" data-aniversariantes_titulo="@convites.aniversariantes_titulo" data-aniversariantes_cor="@convites.aniversariantes_cor" data-aniversariantes_fonte="@convites.aniversariantes_fonte" data-aniversariantes_tamanho="@convites.aniversariantes_tamanho" data-aniversariantes_top="@convites.aniversariantes_top" data-aniversariantes_left="@convites.aniversariantes_left" data-tipo_evento="@convites.tipo_evento">
                                    <div class="thumbnail col-md-11">
                                        <img style=" height: 200px; " src="@convites.url_image">
                                        <div class="caption"> <h4 class="text-center">@convites.tema</h4></div>
                                    </div>
                                </a>
                            </div>
                        }*@
                </div>
            </div>
        </div>
    </div>
</div>
