﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <!-- Endless -->
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/endless-skin.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper" style="background-color: #464445;">
        <div class="padding-md" style="margin-top:15%;">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
                    <h1 class="fadeInUp animation-delay3" style="font-weight:bold">
                        <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" width: 300px; " />
                    </h1> 
                </div>
            </div>
        </div>
    </div>
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/Content/Administrador/js/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>
    <!-- Pace -->
    <script src='~/Content/Administrador/js/pace.min.js'></script>
    <!-- Popup Overlay -->
    <script src='~/Content/Administrador/js/jquery.popupoverlay.min.js'></script>
    <!-- Slimscroll -->
    <script src='~/Content/Administrador/js/jquery.slimscroll.min.js'></script>
    <!-- Cookie -->
    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>
    <!-- Endless -->
    <script src="~/Content/Administrador/js/endless/endless.js"></script>
</body>
</html>
