﻿@{
    ViewBag.Title = "Cadastrar";
}

<script src="~/Content/BuffetWeb/js/Cliente.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="jm-content" class="span12">
            <div id="jm-maincontent">
                <div class="login">
                    <div style="background-color: white; padding-left: 7%; padding-top: 5%; height: 493px;" class="span8 well">
                        <iframe src="https://www.youtube-nocookie.com/embed/ZpFJDm3v_oU?rel=0" allowfullscreen="" frameborder="0" height="360" width="640"></iframe>
                    </div>
                    <div class="span4 pull-right">
                        @if (ViewBag.mensagem != null)
                        {
                            <div class="alert alert-info" id="mensagem">@ViewBag.mensagem</div>
                        }
                        else
                        {
                            <div class="alert alert-info" id="mensagem" style="display:none"></div>
                        }
                        <form action="/Cliente/Cadastrar" method="post" onsubmit="return document.getElementById('valido').value" class="form-validate form-horizontal well" style=" background-color: white; ">
                            <fieldset>
                                <div class="control-group">
                                    <h3>Crie sua conta, é gratis!</h3>
                                </div>
                                <div class="control-group">
                                    <input type="text" placeholder="Nome" name="nome" required class="span12" style=" height: 50px; ">
                                </div>
                                <div class="control-group">
                                    <input type="text" placeholder="Celular" onkeyup="BuscarOperadora(this)" id="celular" name="celular" required class="span12" style=" height: 50px; ">
                                    <input type="hidden" name="operadora" id="operadora" value="" />
                                    <input type="hidden" name="valido" id="valido" value="false" />
                                </div>
                                <div class="control-group">
                                    <input type="email" placeholder="E-mail" name="email" required class="span12" style=" height: 50px; ">
                                </div>
                                <div class="control-group">
                                    <input type="password" maxlength="20" placeholder="Senha" name="senha" required class="span12" style=" height: 50px; ">
                                </div>
                                <div class="control-group">
                                    <input type="submit" value="Cadastrar" class="btn btn-primary span12" style=" height: 55px;">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>