﻿@{
    ViewBag.Title = "Cadastrar";
}

<script src="~/Content/BuffetWeb/js/Cliente.js"></script>

<div class="container-fluid">
    <div class="row-fluid"> 
        <div id="jm-content" class="span12">
            <div id="jm-maincontent">
                <div class="login">
                    <div style="background-color: white; padding-left: 7%; padding-top: 5%; height: 493px;" class="span8 well">
    <iframe src="https://www.youtube-nocookie.com/embed/ZpFJDm3v_oU?rel=0" allowfullscreen="" frameborder="0" height="360" width="640"></iframe>
</div>
                    <div class="span4 pull-right">
                        <form action="/Cliente/Acessar" method="post" class="form-validate form-horizontal well" style=" background-color: white; ">
                            <fieldset>
                                <div class="control-group">
                                    <div class="alert alert-info" id="mensagem" style="display:none"></div>
                                </div>
                                @if (ViewBag.mensagem != null)
                                {
                                    <div class="control-group">
                                        <div class="jm-module-content clearfix notitle">
                                            <div class="custom">
                                                <p class="bluefill" style="text-align: center;">
                                                    @ViewBag.mensagem
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="control-group">
                                   <h3>Faça login</h3>
                                </div>
                                <div class="control-group">
                                    <input type="text" name="email" id="email" placeholder="E-mail" required class="span12" style=" height: 50px; ">
                                </div>
                                <div class="control-group">
                                    <input type="password" name="senha" placeholder="Senha" required class="span12" style=" height: 50px; ">
                                </div>
                                <div class="control-group">
                                    <input type="submit" value="Acessar" class="btn btn-primary span12" style=" height: 55px;">
                                </div>
                                <div class="control-group text-center">
                                    Ou
                                </div>
                                <div class="control-group">
                                    <a href="#">
                                        <img src="~/Content/imagens/entrar_facebook.png" onclick="LoginComFacebook()" style=" height: 58px; width: 100%; " />
                                    </a>
                                </div>
                                <div class="control-group text-right">
                                    <a href="#" onclick="EsqueciMinhaSenha(this)">Esqueci minha senha</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>