﻿@model BuffetWebPortal.Models.Cliente.PerfilModel
@{
    ViewBag.Title = "Perfil";
    var ClientePortal = Model.ClientePortal;
    var ClientePropostas = Model.ClientePropostas;
}

<script src="~/Content/BuffetWeb/js/FacebookAccess.js"></script>

<script type="text/javascript">
     
    function arquivoSelecionado(evt, draw_image) {
        var fReader = new FileReader();
        fReader.readAsDataURL(evt.files[0]);
        fReader.onloadend = function (evento) {
            var imagem = document.getElementById(draw_image);
            imagem.src = evento.target.result;
        }
    }
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        function showPosition(position) {
            if (document.getElementById('endereco').value == "False") {
                $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + ',' + position.coords.longitude + '&sensor=true', function (data) {
                    if (data.status == "OK") {
                        document.getElementById('cep').value = data.results[3].address_components[0].long_name;
                        document.getElementById('cidade').value = data.results[3].address_components[2].long_name;
                    }
                    console.log(position.coords.latitude);
                    console.log(position.coords.longitude);
                }, 'json');
            }

            var exdate = new Date();
            exdate.setDate(exdate.getDate() + 20);
            var lc = position.coords.latitude + '_' + position.coords.longitude;
            document.cookie = "_latlon=" + lc + "; expires=" + exdate.toUTCString();
        }
    });
</script>

<script src="~/Content/BuffetWeb/js/Cliente.js"></script>

<div class="modal fade" id="EditarEmail">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Small modal</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="jm-content" class="span12">
            <div id="jm-maincontent">
                <div class="row-fluid">
                    <div class="span0">
                        <div class="jm-module title-box-ms">
                            <div class="jm-module-in">
                                <div class="jm-title " style=" padding-bottom: 24px; ">
                                    <h5>
                                        <span>Meu Perfil</span>
                                        <a href="/Cliente/Sair" class="pull-right">
                                            <img src="~/Content/imagens/sair.png" style=" width: 82px;" />
                                        </a>
                                        <a href="javascript:void(o)" class="pull-right" id="associar" onclick="AssociarAoFacebook(this)">
                                            <img src="~/Content/imagens/associar_facebook.png" style=" width: 200px;" />
                                        </a>
                                    </h5>
                                    @*@if (ViewBag.mensagem != null)
                            {
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @ViewBag.mensagem
                                </div>
                            }*@
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.mensagem != null)
                        {
                            <div class="control-group">
                                <div class="jm-module-content clearfix notitle">
                                    <div class="custom">
                                        <p class="bluefill" style="text-align: center;">
                                            @ViewBag.mensagem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="description">
                    <div class="djcf_tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-toggler">
                                <a>Informações</a>
                            </li>
                            <li class="nav-toggler active">
                                <a>Propostas</a>
                            </li>
                            <li class="nav-toggler">
                                <a>Favoritos</a>
                            </li>
                            <li class="nav-toggler">
                                <a>Comentários</a>
                            </li>
                            <li class="nav-toggler">
                                <a>Pesquisas</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane">
                                <form action="/Cliente/SalvarAlteracoes" method="post" enctype="multipart/form-data">
                                    <div class="span12">
                                        <input type="hidden" id="endereco" value="@string.Format("{0}", ClientePortal.cep != null)" />
                                        <div class="span2">
                                            <div class="col-md-3"> 
                                                <input type="file" name="imagens" style="display:none" id="imagens" onchange="arquivoSelecionado(this, 'imagem')">
                                                <a href="javascript:void(o)" onclick="o('imagens').click()">
                                                    <img style="border-radius: 7px; width: 167px; height: 200px;" id="imagem" class="img-thumbnail" src="@string.Format("{0}", ClientePortal.url ?? "/Content/imagens/Imagem_Perfil_1.png")">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span10"> 
                                                <div class="span6">
                                                    <label>Nome</label>
                                                    <input type="text" name="nome" style=" width: 100%; " value="@ClientePortal.nome" /> <br />
                                                </div>
                                                <div class="span3">
                                                    <label>E-mail</label>
                                                    <input type="text" name="email" style=" width: 100%; cursor:pointer" data-toggle="modal" data-target="#EditarEmail" disabled="disabled" value="@ClientePortal.email" /><br />
                                                </div>
                                                <div class="span3">
                                                    <label>Celular</label>
                                                    <input type="text" name="celular" style=" width: 100%; cursor: pointer" data-toggle="modal" data-target="#EditarCelular" disabled="disabled" value="@ClientePortal.celular" /><br />
                                                </div>
                                                <div class="span2">
                                                    <label>CEP</label>
                                                    <input type="text" id="cep" name="cep" style=" width: 100%; " value="@ClientePortal.cep" />
                                                </div>
                                                <div class="span5">
                                                    <label>Logradouro</label>
                                                    <input type="text" id="logradouro" name="logradouro" style=" width: 100%; " value="@ClientePortal.logradouro" />
                                                </div>
                                                <div class="span1">
                                                    <label>Número</label>
                                                    <input type="text" id="numero" name="numero" style=" width: 100%; " value="@ClientePortal.numero" />
                                                </div>
                                                <div class="span4">
                                                    <label>Bairro</label>
                                                    <input type="text" id="bairro" name="bairro" style=" width: 100%; " value="@ClientePortal.bairro" />
                                                </div>
                                                <div class="span3">
                                                    <label>Cidade</label>
                                                    <input type="text" id="cidade" name="cidade" style=" width: 100%; " value="@ClientePortal.cidade" />
                                                </div>
                                                <div class="span3">
                                                    <label>Estado</label>
                                                    <input type="text" id="estado" name="estado" style=" width: 100%; " value="@ClientePortal.estado" />
                                                </div>
                                                <div class="span2">
                                                    <label>Região</label>
                                                    <input type="text" id="regiao" name="regiao" style=" width: 100%; " value="@ClientePortal.regiao" />
                                                </div>
                                            </div> 
                                        <div class="row">
                                            <input class="readmore pull-right" type="submit" value="Salvar Alterações" />
                                        </div>
                                        </div>
                                </form>
                            </div>
                            <div class="tab-pane">
                                @if (ClientePropostas.Count > 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Buffet</td>
                                                <td>Tipo de festa</td>
                                                <td>Convidados</td>
                                                <td>Periodo</td>
                                                <td align="center">Validade</td>
                                            </tr>
                                        </thead>
                                        @foreach (var proposta in ClientePropostas)
                                        {
                                            if (proposta.data_envio.AddDays(proposta.ORCAMENTO_PROPOSTA.validade_dias) <= DateTime.Today)
                                            { 
                                                <tr>
                                                    <td>@proposta.ORCAMENTO_PROPOSTA.LOCAL_EVENTO.nome</td>
                                                    <td>@proposta.ORCAMENTO_PROPOSTA.categoria_proposta</td>
                                                    <td>@string.Format("{0}", proposta.convidados == null ? "Não informado" : proposta.convidados.ToString())</td>
                                                    <td>@string.Format("{0}", proposta.periodo == null ? "Não informado" : proposta.periodo.ToString())</td>
                                                    <td width="100">
                                                        <label style="padding: 10px;" class="label label-danger">@string.Format("{0} ( {1} Dias )", proposta.disponivel_ate.ToShortDateString(), (DateTime.Today - proposta.disponivel_ate).Days)</label>
                                                    </td>
                                                    <td width="100"><a class="readmore" target="_blank" href="@string.Format("http://www.portal.buffetweb.com/Proposta/VisualizarProposta?autenticacao={0}", proposta.autenticacao)">Visualizar</a>
                                                    </td>
                                                </tr>  
                                            }
                                        }
                                    </table>
                                }
                                else
                                {
                                    <h2>Você ainda não solicitou nenhuma proposta!</h2>
                                    <a href="@string.Format("/Proposta/SolicitarProposta?Regiao={0}", ClientePortal.regiao)" class="readmore">Solicitar Proposta</a>
                                }
                            </div>
                            <div class="tab-pane">
                                @if (ClientePortal.PORTAL_CLIENTE_FAVORITOS.Count != 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Buffet</td>
                                                <td>Data</td>
                                                <td align="right"></td>
                                            </tr>
                                        </thead>
                                        @foreach (var comentario in ClientePortal.PORTAL_CLIENTE_FAVORITOS)
                                        {
                                            <tr>
                                                <td>@comentario.LOCAL_EVENTO.nome</td>
                                                <td>@comentario.desde.ToShortDateString()</td>
                                                <td style=" width: 10px; ">
                                                    <a target="_self" class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", comentario.LOCAL_EVENTO.autenticacao)">Visualizar</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <h2>Você ainda não tem nenhum buffet favoritado!</h2>
                                }
                            </div>
                            <div class="tab-pane">
                                @if (ClientePortal.LOCAL_EVENTO_COMENTARIOS.Count != 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Buffet</td>
                                                <td>Comentário</td>
                                                <td>Avaliação</td>
                                                <td>Data</td>
                                                <td align="right"></td>
                                            </tr>
                                        </thead>
                                        @foreach (var comentario in ClientePortal.LOCAL_EVENTO_COMENTARIOS)
                                        {
                                            <tr>
                                                <td>@comentario.LOCAL_EVENTO.nome</td>
                                                <td>@comentario.comentario</td>
                                                <td align="center">
                                                    <div class="djrv_rating_avg djreviews">
                                                        <span class="djrv_item_rating djrv_rating">
                                                            <span class="djrv_stars">
                                                                @for (int i = 0; i < comentario.avaliacao; i++)
                                                                {
                                                                    <span class="djrv_star active"></span>
                                                                }
                                                                @for (int f = 0; f < 5 - comentario.avaliacao; f++)
                                                                {
                                                                    <span class="djrv_star"></span>
                                                                }
                                                            </span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>@comentario.desde.ToShortDateString()</td>
                                                <td style=" width: 10px; ">
                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?parceiro={0}", comentario.LOCAL_EVENTO.autenticacao)">Visualizar</a>
                                                </td>
                                                <td style=" width: 10px; ">
                                                    <a class="readmore" href="@string.Format("/Cliente/ApagarComentario?id_comentario={0}", comentario.id)">Apagar</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <h2 class="text-center">Você ainda não fez nenhum comentário :(</h2>
                                }
                            </div>
                            <div class="tab-pane">
                                @if (ClientePortal.PORTAL_CLIENTE_PESQUISAS.Count != 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Palavra(s) pesquisada(s)</td>
                                                <td>Mensagem</td>
                                                <td>Data</td>
                                                <td style=" width: 10px; "></td>
                                            </tr>
                                        </thead>
                                        @foreach (var pesquisa in ClientePortal.PORTAL_CLIENTE_PESQUISAS)
                                        {
                                            <tr>
                                                <td>@pesquisa.termo</td>
                                                <td>@pesquisa.mensagem</td>
                                                <td>@pesquisa.data.ToShortDateString()</td>
                                                <td>
                                                    <a target="_blank" class="readmore" href="@pesquisa.url">Consultar</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <h2>Você ainda não fez nenhuma pesquisa!</h2>
                                }
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    window.addEvent('load', function () {
                        var djcfpagebreak_acc = new Fx.Accordion('.djcf_tabs .accordion-toggle',
                                '.djcf_tabs .accordion-body', {
                                    alwaysHide: false,
                                    display: 0,
                                    duration: 100,
                                    onActive: function (toggler, element) {
                                        toggler.addClass('active');
                                        element.addClass('in');
                                    },
                                    onBackground: function (toggler, element) {
                                        toggler.removeClass('active');
                                        element.removeClass('in');
                                    }
                                });
                        var djcfpagebreak_tab = new Fx.Accordion('.djcf_tabs li.nav-toggler',
                                '.djcf_tabs div.tab-pane', {
                                    alwaysHide: true,
                                    display: 0,
                                    duration: 150,
                                    onActive: function (toggler, element) {
                                        toggler.addClass('active');
                                        element.addClass('active');
                                    },
                                    onBackground: function (toggler, element) {
                                        toggler.removeClass('active');
                                        element.removeClass('active');
                                    }
                                });
                    });</script>
            </div>
        </div>
    </div>
</div>



