﻿@model BuffetWebData.Models.PORTAL_CLIENTE_PERFIL
@{
    ViewBag.Title = "Cadastrar";
}

<script src="~/Content/BuffetWeb/js/Cliente.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="jm-content" class="span12">
            <div id="jm-maincontent">
                <div class="login">
                    <div class="span4 pull-right">
                        @if (Model != null)
                        {
                            <div class="alert alert-info" id="mensagem">
                                Você esta renovando sua senha!
                            </div>
                            <form action="/Cliente/ConfirmarRenovacao" method="post" onsubmit="return VerificarSenha(this)" class="form-validate form-horizontal well" style=" background-color: white; ">
                                <fieldset>
                                    <div class="control-group">
                                        <img src="@Model.url" />
                                    </div>
                                    <div class="control-group">
                                        <h2>@Model.nome</h2>
                                    </div>
                                    <div class="control-group">
                                        <input type="password" name="senha" placeholder="Senha" required class="span12" style=" height: 50px; ">
                                    </div>
                                    <div class="control-group">
                                        <input type="password" id="cSenha" placeholder="Senha" required class="span12" style=" height: 50px; ">
                                    </div>
                                    <div class="control-group">
                                        <input type="submit" value="Atualizar Senha" class="btn btn-primary span12" style=" height: 55px;">
                                    </div>
                                </fieldset>
                            </form>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                Renovação expirada!
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>