
        #jmthemetoggler {
            display: block;
            left: 0;
            top: 50%;
            margin-top: -25px;
            position: fixed;
            background: #383e49;
            color: #fff;
            width: 50px;
            height: 50px;
            overflow: hidden;
            z-index: 9999;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            border-radius: 0 8px 8px 0;
            -webkit-border-radius: 0 8px 8px 0;
            border-bottom: 1px solid #2a2e37;
            border-left: 1px solid #2a2e37;
            box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
            -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
        }

            #jmthemetoggler::after {
                background: url('/joomla30/jm-joomads/plugins/system/ef4_jmframework/includes/assets/template/themecustomiser/tc-sprites.png') no-repeat 0 -23px;
                width: 22px;
                height: 22px;
                position: absolute;
                content: '';
                left: 14px;
                top: 14px;
                -webkit-transition: all 0.8s ease;
                -moz-transition: all 0.8s ease;
                -ms-transition: all 0.8s ease;
                -o-transition: all 0.8s ease;
                transition: all 0.8s ease;
            }

            #jmthemetoggler:after {
                animation: 2s spinnow infinite linear;
                -moz-animation: 2s spinnow infinite linear;
                -webkit-animation: 2s spinnow infinite linear;
                -ms-animation: 2s spinnow infinite linear;
            }

        @-webkit-keyframes spinnow {
            100% {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }

        @-moz-keyframes spinnow {
            100% {
                transform: rotate(360deg);
                -moz-transform: rotate(360deg);
            }
        }

        @-ms-keyframes spinnow {
            100% {
                transform: rotate(360deg);
                -ms-transform: rotate(360deg);
            }
        }

        .dj-hideitem, li.item-484, li.item-505, li.item-506, li.item-597, li.item-598, li.item-584, li.item-585, li.item-586, li.item-587, li.item-496, li.item-488, li.item-626 {
            display: none !important;
        }

        #dj-megamenu141mobile {
            display: none;
        }

        @media (max-width: 979px) {
            #dj-megamenu141, #dj-megamenu141sticky, #dj-megamenu141placeholder {
                display: none;
            }

            #dj-megamenu141mobile {
                display: block;
            }
        }
    