﻿@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

html, body {
    height: auto;
}

body, input, select, textarea {
    font-size: 12px;
    font-family: Tahoma,Helvetica,Arial,Verdana,sans-serif;
    color: #4b4d4d;
}

body {
    min-width: 980px;
}

small {
    font-size: 10px;
}

dl, dd, dt {
    margin: 0;
}

*::selection {
    background: #c70218;
    color: #fff;
}

*::-moz-selection {
    background: #c70218;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
    font-family: 'Open Sans',sans-serif;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #9f0000;
}

    a:hover {
        text-decoration: underline;
        color: #c82727;
    }

p {
    margin-bottom: 15px;
    line-height: 1.4em;
}

.title {
    font-family: Exo,Tahoma,sans-serif;
}

.title-lw {
    font-family: "Open Sans",sans-serif;
}

.white-links a {
    color: #fff;
}

.gray-links a {
    color: #4b4d4d;
}

    .gray-links a:hover {
        color: #3b3b3b;
    }

.orange-links a {
    color: #fe9d47;
}

    .orange-links a:hover {
        color: #ff861b;
    }

.replacement {
    position: relative;
}

    .replacement span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

a .replacement, a.replacement span {
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.hidden-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.content {
    width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clr {
    clear: both;
}

.blank {
    background: url('/images/lw2012/blank.20131024104943.gif') no-repeat right 2px;
    padding-right: 15px;
}

.lpPoweredBy, .lpEmtStarRating {
    display: none;
}

#breadcrumble {
    font-size: 11px;
}

.overflow {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.clr-left {
    clear: left;
}

.clr-right {
    clear: right;
}

.bold {
    font-weight: bold;
}

.lateral-gap {
    padding-left: 20px;
    padding-right: 20px;
}

.list-spaced a {
    text-decoration: underline;
}

.list-spaced li {
    margin-bottom: 12px;
    clear: left;
}

.list-spaced img {
    margin: 0 10px 15px 0;
    float: left;
}

#contact-phone {
    border: 1px solid #E0E4E8;
    border-radius: 8px 8px 8px 8px;
    margin-top: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
}

    #contact-phone .first {
        border-right: 1px solid #E0E4E8;
        margin-right: 10px;
        padding-right: 10px;
    }

    #contact-phone li {
        display: inline;
    }

    #contact-phone strong {
        color: #3366CC;
        font-size: 17px;
    }

#contact-phone-small {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.sprite-main-icons {
    background: url('/images/lw2013/sprite-icons-header.20140710161840.png') no-repeat;
}

.mais-videos {
    background-position: left -342px;
    padding-left: 25px;
}

.assine-feed {
    background-position: left -388px;
    padding-left: 40px;
}

.recommended {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 25px;
    line-height: 25px;
    border-radius: 7px 7px 0 0;
    background-color: #5a7da2;
    background: -webkit-linear-gradient(top,#608bad,#5a7da2);
    background: -moz-linear-gradient(top,#608bad,#5a7da2);
    background: -ms-linear-gradient(top,#608bad,#5a7da2);
    background: -o-linear-gradient(top,#608bad,#5a7da2);
}

    .recommended:before {
        content: "★";
        float: left;
        margin-left: 7px;
    }

    .recommended:after {
        content: "★";
        float: right;
        margin-right: 7px;
    }

ul.raquo li:before, ol.raquo li:before, .raquo:before {
    content: "» ";
    color: #4d4d4d;
}

.disc:before {
    content: "• ";
    color: #fd9c45;
}

.gt:before, ul.gt li:before {
    content: "> ";
    color: #fd9b44;
    font-size: 70%;
}

ul.raquo:before, ol.raquo:before, ul.gt:before {
    content: '';
}

ul.left-tri li:before, ol.left-tri li:before, .left-tri:before {
    content: "► ";
    text-decoration: none;
}

ul.right-tri li:after, ol.right-tri li:after, .right-tri:after {
    content: "◄ ";
    text-decoration: none;
}

.select-form, .input-text {
    background: #e1e1e1;
    border-radius: 4px;
    width: 170px;
    padding: 5px;
}

.select-form {
    width: auto;
    height: 25px;
}

#content .btn-lw, #content .btn-lw-red {
    color: #FFFFFF;
    font-weight: normal;
}

.btn-lw {
    background: #d6741c;
    background: -webkit-linear-gradient(#FF9E48,#d6741c);
    background: -moz-linear-gradient(#FF9E48,#d6741c);
    background: linear-gradient(#FF9E48,#d6741c);
    border-radius: 5px;
    display: inline-block;
    text-shadow: 0 2px 1px #8c5f33;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open sans',Tahoma,sans-serif;
}

    .btn-lw:hover {
        background: #e36d10;
        background: -webkit-linear-gradient(#ffaa38,#e36d10);
        background: -moz-linear-gradient(#ffaa38,#e36d10);
        background: linear-gradient(#ffaa38,#e36d10);
        text-decoration: none;
    }

    .btn-lw strong {
        display: block;
        letter-spacing: -1px;
        line-height: 1.2em;
        font-size: 18px;
        font-weight: normal;
    }

    .btn-lw span {
        color: #4c0000;
        text-shadow: none;
        text-transform: none;
    }

    .btn-lw:focus {
        background: #d6741c;
    }

.btn-lw-red {
    background: rgb(192,44,53);
    background: -moz-linear-gradient(top,rgba(192,44,53,1) 50%,rgba(155,1,6,1) 50%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(192,44,53,1)),color-stop(50%,rgba(155,1,6,1)));
    background: -webkit-linear-gradient(top,rgba(192,44,53,1) 50%,rgba(155,1,6,1) 50%);
    background: -o-linear-gradient(top,rgba(192,44,53,1) 50%,rgba(155,1,6,1) 50%);
    background: -ms-linear-gradient(top,rgba(192,44,53,1) 50%,rgba(155,1,6,1) 50%);
    background: linear-gradient(to bottom,rgba(192,44,53,1) 50%,rgba(155,1,6,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c02c35',endColorstr='#9b0106',GradientType=0 );
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open sans',Tahoma,sans-serif;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #9e0006;
}

    .btn-lw-red:hover {
        background: rgb(208,50,67);
        background: -moz-linear-gradient(top,rgba(208,50,67,1) 50%,rgba(155,1,6,1) 50%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(208,50,67,1)),color-stop(50%,rgba(155,1,6,1)));
        background: -webkit-linear-gradient(top,rgba(208,50,67,1) 50%,rgba(155,1,6,1) 50%);
        background: -o-linear-gradient(top,rgba(208,50,67,1) 50%,rgba(155,1,6,1) 50%);
        background: -ms-linear-gradient(top,rgba(208,50,67,1) 50%,rgba(155,1,6,1) 50%);
        background: linear-gradient(to bottom,rgba(208,50,67,1) 50%,rgba(155,1,6,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d03243',endColorstr='#9b0106',GradientType=0 );
    }

.btn-lw-gray {
    background: rgb(230,230,230);
    background: -moz-linear-gradient(top,rgba(230,230,230,1) 50%,rgba(209,209,209,1) 50%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(230,230,230,1)),color-stop(50%,rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top,rgba(230,230,230,1) 50%,rgba(209,209,209,1) 50%);
    background: -o-linear-gradient(top,rgba(230,230,230,1) 50%,rgba(209,209,209,1) 50%);
    background: -ms-linear-gradient(top,rgba(230,230,230,1) 50%,rgba(209,209,209,1) 50%);
    background: linear-gradient(to bottom,rgba(230,230,230,1) 50%,rgba(209,209,209,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6',endColorstr='#d1d1d1',GradientType=0 );
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open sans',Tahoma,sans-serif;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #d2d2d2;
}

    .btn-lw-gray:hover {
        background: rgb(239,239,239);
        background: -moz-linear-gradient(top,rgba(239,239,239,1) 50%,rgba(219,219,219,1) 50%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(239,239,239,1)),color-stop(50%,rgba(219,219,219,1)));
        background: -webkit-linear-gradient(top,rgba(239,239,239,1) 50%,rgba(219,219,219,1) 50%);
        background: -o-linear-gradient(top,rgba(239,239,239,1) 50%,rgba(219,219,219,1) 50%);
        background: -ms-linear-gradient(top,rgba(239,239,239,1) 50%,rgba(219,219,219,1) 50%);
        background: linear-gradient(to bottom,rgba(239,239,239,1) 50%,rgba(219,219,219,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef',endColorstr='#dbdbdb',GradientType=0 );
    }

.btn-submit {
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background: #155214;
    background: -webkit-linear-gradient(#008f00,#155214);
    background: -moz-linear-gradient(#008f00,#155214);
    background: linear-gradient(#008f00,#155214);
}

    .btn-submit:hover {
        background: #0c430b;
        background: -webkit-linear-gradient(#009600,#0c430b);
        background: -moz-linear-gradient(#009600,#0c430b);
        background: linear-gradient(#009600,#0c430b);
    }

.btn-submit-small {
    color: #fff;
    font-size: 10px;
    text-shadow: none;
    padding: 4px 3px 3px;
}

.btn-submit-large {
    background: #b8b8b8;
    width: 44px;
    height: 30px;
    font-weight: bold;
    text-shadow: none;
    font-size: 13px;
}

    .btn-submit-large:hover {
        background: #c1c1c1;
    }

.btn-special {
    background: #66040a;
    background: -webkit-linear-gradient(#d22830,#66040a);
    background: -moz-linear-gradient(#d22830,#66040a);
    background: linear-gradient(#d22830,#66040a);
    color: #fff;
    font-size: 13px;
}

    .btn-special:hover {
        background: #5c0205;
        background: -webkit-linear-gradient(#e31d23,#5c0205);
        background: -moz-linear-gradient(#e31d23,#5c0205);
        background: linear-gradient(#e31d23,#5c0205);
    }

    .btn-special span {
        color: #e6b500;
    }

.btn-see-more {
    background: #709295;
    background: -webkit-linear-gradient(#668b8f,#709295);
    background: -moz-linear-gradient(#668b8f,#709295);
    background: linear-gradient(#668b8f,#709295);
    color: #fff;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 15px;
}

    .btn-see-more:hover {
        background: #6a9ca0;
        background: -webkit-linear-gradient(#5a9092,#6a9ca0);
        background: -moz-linear-gradient(#5a9092,#6a9ca0);
        background: linear-gradient(#5a9092,#6a9ca0);
    }

#content .btn-default {
    color: #4d4946;
}

.btn-default {
    background: #b7b8b3;
    background: -webkit-linear-gradient(#d6d3ce,#b7b8b3);
    background: -moz-linear-gradient(#d6d3ce,#b7b8b3);
    background: linear-gradient(#d6d3ce,#b7b8b3);
    text-shadow: 3px 3px 3px #ddd;
}

    .btn-default:hover {
        background: #c1c3ba;
        background: -webkit-linear-gradient(#d2d0cb,#c1c3ba);
        background: -moz-linear-gradient(#d2d0cb,#c1c3ba);
        background: linear-gradient(#d2d0cb,#c1c3ba);
    }

div#aba-atendimento-online {
    display: none;
    font-size: 14px;
    left: 0pt;
    bottom: 0px;
    top: auto;
    margin: 0pt auto;
    position: fixed;
    height: 45px;
    width: 100%;
    text-align: center;
    z-index: 50;
    background: url(/images/layout/barra_ajuda/bkg_barra_ajuda.20150617171505.png) no-repeat scroll center 0pt transparent;
    _display: none;
}

* html div#aba-atendimento-online {
    display: none;
}

div#box_atendimento {
    float: right;
    position: relative;
    z-index: 9999;
    width: 394px;
    background: none;
    margin-top: 0px;
    display: block;
    padding-top: 10px;
    _display: none;
}

div#box_atendimento_full {
    width: 922px;
    margin: 0pt auto;
    _display: none;
}

#oferta-sgc {
    float: left;
    margin: 5px 0 0 15px;
    height: 40px;
    width: 470px;
    overflow: hidden;
    text-align: left;
    color: #696969;
    background: url('/images/layout/barra_ajuda/icn-oferta.20150617171505.png') no-repeat left center;
    padding: 0 0 0 40px;
    font-size: 12px;
    line-height: 40px;
}

    #oferta-sgc a {
        color: #626262;
        font-weight: bold;
        text-decoration: underline;
    }

        #oferta-sgc a:hover {
            color: #555;
        }

img#icn_atendimento {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 2px;
}

img#fechar_atendimento {
    float: right;
    margin: -5px 4px 4px 10px;
    cursor: pointer;
}

a#cta_atendimento {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 7px 0 0 0;
    outline: none;
    text-align: right;
    color: #626262;
}

p.texto_barra_ajuda {
    display: inline;
    width: 140px;
    margin: 25px 0 7px 20px;
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    color: #333;
}

p.small_barra_ajuda {
    font-size: 12px;
    display: block;
    margin-top: 8px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #626262;
}

    p.small_barra_ajuda a {
        text-transform: uppercase;
    }

* + html p.small_barra_ajuda {
    letter-spacing: -0.1em;
}

div#webchat_widget {
    float: left;
    display: inline;
    margin: 10px 0 10px 20px;
    width: 195px;
    font-size: 11px;
}

#webchat_widget img {
    cursor: pointer;
}

#webchat_widget p {
    margin-bottom: 3px;
}

#webchat_widget ul {
    border-top: 1px solid #ccc;
}

#webchat_widget li {
    float: left;
    width: 95px;
}

#webchat_widget strong {
    display: block;
}

.feedback_site_tab, .feedback_site_tab2 {
    position: fixed;
    _position: absolute;
    left: 0px;
    bottom: 210px;
    z-index: 2;
    height: 103px;
    width: 19px;
    cursor: pointer;
    display: none;
}

.feedback_site_tab2 {
    height: 183px;
}

#feedback_site_tab_texto {
    background: transparent url('/images/lw2013/sprite_feedback.20140710161840.png') left bottom no-repeat;
    width: 19px;
    height: 86px;
    text-indent: -9999px;
    position: absolute;
    top: 17px;
    left: 0px;
    cursor: pointer;
    outline: none;
}

#feedback_site_tab_texto2 {
    background: transparent url('/images/layout/btn_central_sugestoes_feedback.20150617171500.png') 0px 0px no-repeat;
    width: 19px;
    height: 166px;
    text-indent: -9999px;
    position: absolute;
    top: 17px;
    left: 0px;
    outline: none;
}

#feedback_site_tab_close {
    background: transparent url('/images/lw2013/sprite_feedback.20140710161840.png') left top no-repeat;
    width: 19px;
    height: 17px;
    text-indent: -9999px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    outline: none;
}

    #feedback_site_tab:hover, #feedback_site_tab_texto:hover, #feedback_site_tab_close:hover {
        cursor: pointer;
        outline: none;
    }

#box-login {
    display: none;
}

.lw-texture {
    background-image: url('/images/lw2013/home/bg-header-full-locaweb.20140710165915.jpg');
    background-position: top center;
    background-color: #272727;
}

#lw-404 #header, #lw-500 #header, #lw-busca-site #header {
    height: 155px;
}

#header .content {
    position: relative;
    padding: 8px 0 0 20px;
    width: 960px;
    z-index: 18;
}

#header {
    -webkit-font-smoothing: antialiased;
    position: relative;
    z-index: 5;
}

#logo-lw {
    margin: 30px 5px 0 0;
    width: 160px;
    height: 36px;
    overflow: hidden;
    font-size: 11px;
}

    #logo-lw a {
        display: block;
        height: 26px;
        padding: 5px;
    }

    #logo-lw span {
        background: url('/images/lw2013/logo-lw160x36.20140710161840.png') no-repeat;
    }

    #logo-lw.topo-teleton-h1 {
        width: 105px;
        height: 24px;
        margin-top: 45px;
    }

        #logo-lw.topo-teleton-h1 span {
            background: url('/images/lw2013/home/adcast/teleton/logo-lw.20141106151406.png') no-repeat;
        }

.topo-teleton-img {
    float: left;
    margin-top: 23px;
    margin-left: 10px;
}

#top-menu {
    line-height: 15px;
    padding-right: 10px;
    font-family: "Verdana";
    font-size: 10px;
    color: #b1b1b1;
    text-transform: uppercase;
    width: 525px;
    height: 15px;
}

    #top-menu .top-menu-search {
        padding-left: 0px;
        width: 256px;
    }

    #top-menu li {
        padding: 0 10px;
        height: 15px;
    }

    #top-menu .separator {
        padding-left: 20px;
        border-left: 1px solid #494949;
    }

    #top-menu .raquo:before {
        color: #b1b1b1;
    }

    #top-menu li:last-child {
        content: "";
    }

    #top-menu li {
        position: relative;
        font-size: 9px;
    }

        #top-menu li a, #top-menu li a:visited {
            color: #b1b1b1;
        }

#fast-links {
    margin: 20px 17px 0px 0px;
    width: 545px;
    height: 45px;
    margin-bottom: 18px;
    position: relative;
    z-index: 15;
}

    #fast-links .fast-links-support {
        padding-right: 20px;
    }

    #fast-links .fast-links-sales {
        border-right: 1px solid #494949;
    }

    #fast-links .banner-logins {
        display: block;
        width: 213px;
        height: 160px;
        cursor: pointer;
        border: 1px solid #cccccc;
        margin-top: 10px;
    }

    #fast-links .econtro-locaweb-17 img {
        cursor: pointer;
    }

    #fast-links span:hover, #fast-links a:hover {
        cursor: pointer;
    }

    #fast-links li {
        position: relative;
    }

    #fast-links .fast-links-box {
        position: absolute;
        z-index: 6;
        border-radius: 4px;
        top: 28px;
        display: none;
        width: 235px;
        height: 430px;
        right: 3px;
        padding: 25px 0 0 20px;
        padding-right: 0px;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 40%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(40%,rgba(229,229,229,1)));
        background: -webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 40%);
        background: -o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 40%);
        background: -ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 40%);
        background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 40%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0 );
    }

.fast-links-box .input-text {
    background: #fff;
    border: 1px solid #dbdbdb;
}

#fast-links .fast-links-cancel {
    margin-bottom: 10px;
    width: 212px;
    height: 35px;
    line-height: 34px;
    cursor: pointer;
}

.fast-links-sales-box .sales-phone-info {
    padding: 15px 0px 5px 10px;
    border: 1px solid #fff;
    background: #dddddd;
    border-radius: 0 0 4px 4px;
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.sales-phone-info p {
    margin-bottom: 5px;
}

.fast-links-sales-box:before {
    content: "";
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -14px;
    right: 12px;
}

.sales-phone-info:before {
    content: "";
    border: 7px solid #dadada;
    border-top: 7px solid #fff;
    position: absolute;
    top: 0px;
    left: 10px;
}

.sales-phone-info p:last-child {
    margin-bottom: 5px;
}

.fast-links-sales-box img {
    margin: 12px auto;
    display: block;
}

.fast-links-sales-box a {
    display: block;
    padding: 0px 2px 2px 2px;
    border-bottom: 1px solid #dfdfdf;
}

#fast-links li .fast-links-client-panel-box {
    border-top-left-radius: 0px;
    left: 0px;
}

#fast-links li .fast-links-webmail-box {
    border-top-right-radius: 0px;
    right: 3px;
    height: 430px;
}

#fast-links li .fast-links-sprite {
    background: url('/images/lw2013/home/sprite-top-home-2013.20140710165916.png') no-repeat;
    display: block;
}

#fast-links .fast-links-support span {
    width: 120px;
    height: 45px;
    background-position: 0px 0px;
}

    #fast-links .fast-links-support span:hover {
        width: 120px;
        height: 45px;
        background-position: 0px -49px;
    }

#fast-links .fast-links-sales span {
    width: 125px;
    height: 45px;
    background-position: -144px 0px;
}

#fast-links .fast-links-sales:hover span, #fast-links .fast-links-sales.is-active span {
    background-position: -144px -49px;
}

#fast-links .fast-links-client-panel, #fast-links .fast-links-webmail {
    margin-top: 7px;
}

    #fast-links .fast-links-client-panel span {
        width: 158px;
        height: 34px;
        background-position: 0px -95px;
    }

    #fast-links .fast-links-client-panel.is-active span, #fast-links .fast-links-client-panel.is-active:hover span {
        background-position: 0px -179px;
    }

    #fast-links .fast-links-client-panel:hover span {
        background-position: 0px -222px;
    }

#fast-links .fast-links-support .fast-links-sales-box {
    height: 280px;
}

#fast-links .fast-links-support .business-hours {
    margin-top: 15px;
}

    #fast-links .fast-links-support .business-hours p {
        text-align: center;
    }

#fast-links .fast-links-sales-box {
    top: 45px;
    padding: 0px;
    width: 210px;
    left: -87px;
    height: 235px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

    #fast-links .fast-links-sales-box small {
        margin: 10px 16px 3px;
    }

#fast-links .fast-links-webmail span {
    width: 100px;
    height: 34px;
    background-position: -160px -95px;
}

#fast-links .fast-links-webmail.is-active span, #fast-links .fast-links-webmail.is-active:hover span {
    background-position: -160px -179px;
}

#fast-links .fast-links-webmail:hover span {
    background-position: -160px -222px;
}

#fast-links .fast-links-sales:hover > div, #fast-links .fast-links-support:hover > div, #fast-links .fast-links-webmail.is-active div, #fast-links .fast-links-client-panel.is-active div, #fast-links .fast-links-sales.is-active div {
    display: block;
}

#js-box-login-text {
    font-size: 11px;
    color: #9c1206;
    line-height: 11px;
    display: block;
    text-align: left;
}

.fast-links-box .input-text {
    width: 212px;
    padding: 0px;
    line-height: 25px;
    height: 25px;
}

.fast-links-box strong {
    margin-bottom: 2px;
}

.fast-links-box .btn-lw-red {
    margin-top: 10px;
    color: #fff;
    height: 35px;
    line-height: 34px;
    width: 212px;
    font-weight: bold;
}

.fast-links-box label {
    position: relative;
}

    .fast-links-box label .ico-loading {
        position: absolute;
        top: 20px;
        right: 10px;
    }

#header .nav {
    position: relative;
    z-index: 5;
    background: url('/images/lw2013/bg-product-menu.20140710161840.png') no-repeat;
    height: 49px;
    padding: 0;
    width: 100%;
}

.nav ul {
    position: relative;
    z-index: 5;
}

.nav li {
    font-size: 11px;
}

.nav a {
    line-height: 1.4em;
}

.badge-new-product {
    position: relative;
}

    .badge-new-product:after {
        content: "";
        position: absolute;
        right: 15px;
        top: -4px;
        background: url('/images/lw2013/sprite-icons-header.20140710161840.png') no-repeat left -500px;
        width: 33px;
        height: 25px;
        display: block;
    }

#header .is-active .menu, #header .is-active .menu-featured {
    display: block;
}

#header .menu {
    display: none;
    position: absolute;
    width: 570px;
    top: 49px;
    left: 0;
    padding: 10px 0;
    background: #fff;
    z-index: 9999;
}

    #header .menu ul li:before {
        content: "→ ";
    }

.nav .menu-item {
    display: block;
    height: 25px;
    padding: 14px 14px 0px;
    line-height: 25px;
    font-family: "Open Sans",arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

    .nav .menu-item:hover {
        cursor: pointer;
    }

.submenu-blue ul.gt li:before, .menu .submenu-title-blue {
    color: #73a4b4;
}

.menu .subtitle-menu-blue {
    color: #73A4B4;
}

.nav .one-column .submenu {
    width: 155px;
}

.nav .third .one-column .submenu {
    width: 130px;
}

.nav .two-columns .submenu {
    width: 170px;
}

.nav .fourth .two-columns .submenu {
    width: 146px;
}

.nav .three-columns .submenu {
    width: 145px;
}

#header .submenu {
    margin: 0 0 10px 10px;
    border-bottom: 1px solid #e5e5e5;
}

#header .first .submenu {
    margin-left: 0;
}

#header .menu-column {
    margin-left: 10px;
    display: inline;
}

#header .fourth .submenu {
    float: left;
    height: 60px;
    display: inline;
}

#header .fourth .one-item {
    height: 50px;
}

#header .two-items {
    height: 60px;
}

#header .three-items {
    height: 75px;
}

#header .four-items {
    height: 90px;
}

#header .six-items {
    height: auto;
}

#header .fourth .six-items {
    height: 120px;
}

#header .seven-items {
    height: 142px;
}

#header .eight-items {
    height: auto;
}

#header .nav .last {
    border: none;
    margin-bottom: 0;
}

.submenu span {
    font-size: 11px;
    color: #fd9c45;
    display: block;
}

.submenu ul {
    margin: 1px 0 0 0;
}

.submenu li {
    float: none;
    margin: 0 0 1px 0;
}

.nav .separated-item {
    padding-top: 7px;
    margin-top: 7px;
    border-top: 1px solid #e5e5e5;
}

#header .nav .is-active .menu-item, #header .nav li:hover .menu-item {
    border-radius: 3px 3px 0 0;
    margin: 0;
    z-index: 3;
    height: 35px;
    line-height: 25px;
}

#header .nav .is-active .menu-item {
    background: #ffffff;
    color: #2460b4;
}

    #header .nav .is-active .menu-item:before, #header .nav li:hover .menu-item:before {
        border-top-color: #fd9c45;
    }

#header .with-menu-featured span {
    position: relative;
}

#header .with-menu-featured:hover span:after {
    content: url('/images/lw2013/menu-arrow-bottom-white.20140710161840.png');
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -5px;
}

#header .with-menu-featured.is-active span:after {
    content: url('/images/lw2013/menu-arrow-bottom-blue.20140710161840.png');
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -5px;
}

#header .menu {
    border-radius: 0px 0px 6px 6px;
    padding: 0px 0 0 30px;
    width: 910px;
    height: 284px;
}

    #header .menu.menu-hospedagem {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),rgb(255,255,255);
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),-webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,1)),color-stop(99%,rgba(225,236,250,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-hospedagem.20140711112130.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu.menu-cloud {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-cloud.20140711112130.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-cloud.20140711112130.png'),-webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,1)),color-stop(99%,rgba(225,236,250,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-cloud.20140711112130.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-cloud.20140711112130.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-cloud.20140711112130.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-cloud.20140711112130.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu ul li small {
        display: block;
        margin-left: 15px;
        margin-bottom: 8px;
        font-size: 11px;
    }

    #header .menu.menu-ecommerce {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-comercio.20140711112130.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-comercio.20140711112130.png'),-webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,1)),color-stop(99%,rgba(225,236,250,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-comercio.20140711112130.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-comercio.20140711112130.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-comercio.20140711112130.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-comercio.20140711112130.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu.menu-marketing {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-marketing.20140711112130.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-marketing.20140711112130.png'),-webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,1)),color-stop(99%,rgba(225,236,250,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-marketing.20140711112130.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-marketing.20140711112130.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-marketing.20140711112130.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-marketing.20140711112130.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu.menu-solucoes {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-solucoes.20140711112130.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-solucoes.20140711112130.png'),-webkit-gradien t(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(31%,rgba(244,248,251,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-solucoes.20140711112130.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-solucoes.20140711112130.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-solucoes.20140711112130.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-solucoes.20140711112130.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu.menu-crie-seu-site {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-crie-seu-site.20150312153931.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-crie-seu-site.20150312153931.png'),-webkit-gradien t(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(31%,rgba(244,248,251,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-crie-seu-site.20150312153931.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-crie-seu-site.20150312153931.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-crie-seu-site.20150312153931.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-crie-seu-site.20150312153931.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu.menu-produtos {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-produtos.20140711112130.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-produtos.20140711112130.png'),-webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,1)),color-stop(99%,rgba(225,236,250,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-produtos.20140711112130.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-produtos.20140711112130.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-produtos.20140711112130.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-produtos.20140711112130.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

    #header .menu.menu-email {
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/images/lw2013/home/bgs/bg-menu-email.20150413172336.png'),-moz-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-email.20150413172336.png'),-webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,1)),color-stop(99%,rgba(225,236,250,1)));
        background-image: url('/images/lw2013/home/bgs/bg-menu-email.20150413172336.png'),-webkit-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-email.20150413172336.png'),-o-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-email.20150413172336.png'),-ms-linear-gradient(top,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        background-image: url('/images/lw2013/home/bgs/bg-menu-email.20150413172336.png'),linear-gradient(to bottom,rgba(255,255,255,1) 53%,rgba(225,236,250,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e1ecfa',GradientType=0 );
    }

#header .menu-produtos .menu-links {
    margin-top: 15px;
}

.menu .menu-title-desc {
    color: #2364b6;
    border-right: 1px solid #dae8f3;
    margin: 20px;
    margin-left: 0px;
    height: 165px;
    padding-right: 20px;
    margin-top: 50px;
}

    .menu .menu-title-desc .menu-title {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 26px;
        line-height: 25px;
        margin-top: 35px;
        margin-bottom: 10px;
        letter-spacing: -1px;
        color: #2460b4;
    }

    .menu .menu-title-desc p {
        line-height: 18px;
        font-size: 13px;
    }

.menu .menu-first-column {
    display: table-cell;
    height: 284px;
    vertical-align: middle;
}

.seventh .second {
    margin-left: 30px;
}

.seventh ul.fleft.menu-first-column {
    margin-top: 45px;
}

.menu ul.fleft {
    margin-top: 40px;
    height: auto;
}

.menu .menu-second-column {
    margin-left: 50px;
}

.menu ul li a {
    color: #384357;
    font-size: 13px;
    position: relative;
}

.menu ul li .new-badge:after {
    content: url('/images/lw2013/new-badge.20140710161840.png');
    position: absolute;
    right: -40px;
    top: 0px;
}

.menu ul li:before {
    color: #2360b9;
}

#header .with-menu-featured .submenu {
    margin-bottom: 0;
    border-bottom: 0;
}

#header .with-menu-featured .one-column .submenu:nth-child(1n), #header .fourth .submenu:nth-child(2), #header .fourth .submenu:nth-child(3), #header .fourth .submenu:nth-child(5), #header .with-menu-featured .three-columns .submenu:nth-child(3n) {
    border-right: 0;
}

#header .nav li:hover .menu-featured {
    display: block;
}

#header .with-menu-featured .submenu-last-row, #header .submenu-last-row {
    padding-bottom: 0;
}

#header .with-menu-featured .separated-item {
    display: none;
}

.menu-featured {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 2;
    background: #f8f8f8;
    border: 1px solid #676767;
    border-left: 1px solid #E5E5E5;
    border-radius: 0 0 3px 0;
    width: 285px;
    padding: 16px 19px 0;
}

    .menu-featured img {
        margin-bottom: 10px;
    }

    .menu-featured .menu-featured-title, .menu-featured .menu-featured-name {
        color: #920505;
        font-weight: bold;
        font-size: 16px;
        display: block;
        margin-bottom: 5px;
    }

    .menu-featured .menu-featured-name {
        font-size: 13px;
    }

    .menu-featured .menu-featured-button {
        background: #d7751d;
        background: -webkit-linear-gradient( #ff9e48,#d7751d );
        background: -moz-linear-gradient( #ff9e48,#d7751d );
        background: -o-linear-gradient( #ff9e48,#d7751d );
        background: linear-gradient( #ff9e48,#d7751d );
        display: inline-block;
        border-radius: 3px;
        height: 21px;
        line-height: 21px;
        padding: 0 25px;
        font-size: 11px;
        font-weight: bold;
        color: #fff;
    }

        .menu-featured .menu-featured-button:hover {
            color: #fff;
        }

#header .first .menu-featured {
    left: 464px;
}

#header .second .menu-featured {
    left: 171px;
}

#header .third .menu-featured {
    left: 146px;
}

#header .fourth .menu-featured {
    left: auto;
    right: 0;
}

#header .with-menu-featured .one-column {
    line-height: 2.0em;
}

.third .menu-featured p {
    margin-bottom: 5px;
}

.third .menu-featured ul {
    margin-bottom: 7px;
}

.third .menu-featured li {
    float: none;
}

.menu-featured .list-bullet li:before {
    content: "• ";
    color: #9f080d;
}

#form-search {
    position: relative;
    margin-top: -6px;
}

    #form-search .input-text {
        width: 200px;
        background: transparent;
        height: 10px;
        line-height: 10px;
        border-radius: 4px;
        border: 1px solid #424242;
        color: #b1b1b1;
        margin-top: 1px;
    }

    #form-search span {
        margin-top: 6px;
    }

#submit-search {
    position: absolute;
    right: 5px;
    top: 7px;
}

#content {
    margin-bottom: 0;
    min-height: 250px;
    position: relative;
}

.column-full {
    width: 940px;
}

.column-eleven-twelfths {
    width: 860px;
}

.column-ten-twelfths {
    width: 780px;
}

.column-three-quarters {
    width: 700px;
}

.column-two-thirds {
    width: 620px;
}

.column-seven-twelfths {
    width: 540px;
}

.column-half {
    width: 460px;
}

.column-five-twelfths {
    width: 380px;
}

.column-two-fifths {
    width: 364px;
}

.column-third {
    width: 300px;
}

.column-quarter {
    width: 220px;
}

.column-fifth {
    width: 172px;
}

.column-sixth {
    width: 140px;
}

.column-one-twelfths {
    width: 60px;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.space-left {
    margin-left: 20px;
}

.space-right {
    margin-right: 20px;
}

.space-bottom-big {
    margin-bottom: 40px;
}

.space-bottom-medium {
    margin-bottom: 20px;
}

.space-bottom-small {
    margin-bottom: 10px;
}

#support-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background: #222;
    color: #fff;
    opacity: 0;
    z-index: 0;
    font-size: 11px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    letter-spacing: 1.1px;
    display: none;
}

    #support-menu img {
        border: 0px;
    }

    #support-menu p small {
        display: block;
        font-size: 10px;
    }

    #support-menu small.fright {
        letter-spacing: 0px;
        margin-top: 10px;
    }

    #support-menu p strong {
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1px;
    }

@media only screen and (device-width:768px) {
    #support-menu p strong {
        letter-spacing: 0px;
    }
}

#support-menu.is-visible {
    opacity: 0.95;
    z-index: 15;
    display: block;
}

#support-menu p strong {
    font-size: 11px;
}

#footer {
    padding: 20px 0 0 0;
    border-top: 1px solid #cacaca;
    color: #424242;
    height: auto;
    background: rgb(223,223,223);
    background-image: url('/images/lw2013/bg-footer-texture.20140710161840.png'),-moz-linear-gradient(top,rgba(223,223,223,1) 0%,rgba(237,237,237,1) 5%);
    background-image: url('/images/lw2013/bg-footer-texture.20140710161840.png'),-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(223,223,223,1)),color-stop(5%,rgba(237,237,237,1)));
    background-image: url('/images/lw2013/bg-footer-texture.20140710161840.png'),-webkit-linear-gradient(top,rgba(223,223,223,1) 0%,rgba(237,237,237,1) 5%);
    background-image: url('/images/lw2013/bg-footer-texture.20140710161840.png'),-o-linear-gradient(top,rgba(223,223,223,1) 0%,rgba(237,237,237,1) 5%);
    background-image: url('/images/lw2013/bg-footer-texture.20140710161840.png'),-ms-linear-gradient(top,rgba(223,223,223,1) 0%,rgba(237,237,237,1) 5%);
    background-image: url('/images/lw2013/bg-footer-texture.20140710161840.png'),linear-gradient(to bottom,rgba(223,223,223,1) 0%,rgba(237,237,237,1) 5%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf',endColorstr='#ededed',GradientType=0 );
}

.trabalhe-conosco-footer {
    margin-top: 20px;
    display: block;
}

.back-to-top {
    position: absolute;
    top: -29px;
    left: 431px;
}

#footer ol {
    position: relative;
    background: #fafafa;
    border: 1px solid #e1e1e1;
    padding: 10px;
    width: 150px;
    margin-bottom: 15px;
    border-radius: 4px;
    height: 120px;
}

    #footer ol:before {
        content: url('/images/lw2013/help-support-img.20140710161840.jpg');
        position: absolute;
        top: -7px;
        left: 10px;
    }

    #footer ol:after {
        content: url('/images/lw2013/24h.20140710161840.png');
        position: absolute;
        top: -24px;
        right: 10px;
    }

    #footer ol li:first-child {
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #footer ol li:last-child img {
        margin-bottom: 40px;
    }

    #footer ol li small {
        display: block;
        margin-bottom: 10px;
    }

    #footer ol li img {
        margin-right: 10px;
    }

#footer .footer-help-menu {
    margin-top: 5px;
}

#footer li a {
    color: #424242;
}

.footer-links {
    padding-bottom: 25px;
}

.footer-links-title {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 0px;
}

.footer-links ul li {
    position: relative;
    padding-left: 8px;
    line-height: 17px;
}

    .footer-links ul li:before {
        content: "• ";
        color: #a00008;
        position: absolute;
        left: 0px;
    }

.footer-links .footer-links-item {
    border-right: 1px solid #bebebe;
    height: 340px;
}

.footer-links li.footer-links-item:last-child {
    border-right: 0px;
}

.footer-links .footer-links-item ul {
    padding-right: 20px;
    width: 160px;
}

.wrap-reviews {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    height: 80px;
}

    .wrap-reviews.line-two {
        width: 760px;
    }

    .wrap-reviews .space-right {
        margin-right: 5px;
    }

    .wrap-reviews .it-midia {
        width: 230px;
    }

    .wrap-reviews .site-sustentavel {
        margin-right: 190px;
        margin-top: 2px;
    }

    .wrap-reviews .abrahosting {
        margin-left: 160px;
    }

.reviews-separator {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #fff;
}

#copyright {
    width: 690px;
    line-height: 1.7em;
    display: block;
    font-size: 11px;
    margin-left: 30px;
}

#logo-lw-footer {
    margin-left: 20px;
}

.revista-footer-img {
    width: 65px;
    height: 85px;
}

.revista-footer-subtitle {
    float: left;
    line-height: 12px;
    padding: 5px 0px 0 10px;
    width: 65px;
}

.revista-footer-title {
    background: #fff;
    color: #5a5a5a;
    position: relative;
    margin-top: 5px;
    height: 16px;
    line-height: 16px;
    padding: 0 10px;
}

    .revista-footer-title:before {
        content: "";
        position: absolute;
        top: 0px;
        right: -8px;
        border-width: 8px 0px 8px 8px;
        border-color: transparent transparent transparent #fff;
        border-style: solid;
    }

.revista-footer .link-europanet {
    color: #2A2A2A;
    float: left;
    margin-left: 10px;
}

#footer .revista-footer-link {
    color: #2a2a2a;
    margin: 5px 0px 0px 10px;
    width: 90px;
    line-height: 12px;
}

#footer .menu-item {
    padding: 3px 0 0 15px;
    position: relative;
    left: -15px;
}

    #footer .menu-item:before {
        position: absolute;
        top: 10px;
        left: 5px;
        background: none repeat scroll 0 0 #FD9C45;
        border-radius: 50% 50% 50% 50%;
        content: "";
        display: block;
        height: 6px;
        width: 6px;
    }

#footer .nav {
    font-size: 11px;
    width: 940px;
    padding-left: 20px;
}

#footer .first {
    width: 605px;
}

#footer .second {
    width: 190px;
}

#footer .fourth {
    width: 160px;
    margin-right: 0;
}

#footer .submenu {
    margin-bottom: 10px;
}

    #footer .submenu span {
        font-size: 12px;
    }

#footer .menu {
    margin-top: 10px;
}

#footer .two-columns .submenu {
    width: 140px;
}

#footer .two-items {
    height: 61px;
}

#footer .six-items {
    height: 120px;
}

#wrap-copyright {
    background: #fff;
    height: 40px;
    padding-top: 20px;
}

.footer-contracts-item {
    text-decoration: underline;
}

#footer-social {
    height: 50px;
    top: -190px;
    right: 370px;
}

.footer-social-media {
    background: url('/images/lw2013/sprite-social-icons.20141201111356.jpg') no-repeat;
    display: block;
    float: left;
    width: 29px;
    height: 28px;
    margin: 4px 2px 0 0;
}

.footer-social-text {
    width: 80px;
    font-size: 12px;
    margin: 3px 0 0 10px;
    display: inline;
}

.footer-social-facebook {
    background-position: left top;
}

.footer-social-twitter {
    background-position: -31px top;
}

.footer-social-googleplus {
    background-position: -62px top;
}

.footer-social-youtube {
    background-position: -93px top;
}

.footer-social-linkedin {
    background-position: -124px top;
}

.footer-social-instagram {
    background-position: -155px top;
}

#footer-site-sustentavel {
    text-align: left;
}

#footer-150-melhores {
    height: 60px;
    top: -190px;
    right: 112px;
    padding: 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dadada;
}

    #footer-150-melhores a {
        color: #545454;
        font-size: 13px;
    }

        #footer-150-melhores a strong {
            display: block;
            font-size: 18px;
            margin-bottom: 3px;
            color: #000;
        }

            #footer-150-melhores a strong span {
                color: #fe1b22;
            }

    #footer-150-melhores img {
        border-radius: 4px;
        margin: 1px 10px 0 1px;
        display: inline;
    }

    #footer-150-melhores p {
        margin-bottom: 0;
        margin-top: 13px;
    }

body.init-modal-overlay {
}

#modal-overlay {
    background: #000;
    opacity: 0.7;
    z-index: 100;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#img-modal-overlay {
    position: fixed;
    *position: absolute;
    _position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
}

#close-modal {
    position: absolute;
    right: 20px;
    top: 40px;
}

#lw-500 #content, #lw-busca-site #content {
    background: #fff;
}

#lp-chat {
    top: 360px;
    height: auto;
    right: -300px;
    position: fixed;
    width: 345px;
    z-index: 1005;
    background: #474342;
    border-radius: 8px 0 0 8px;
    transition: 0.5s;
}

    #lp-chat.is-active {
        right: 0px;
    }

    #lp-chat .lp-call-you {
        display: none;
    }

    #lp-chat .lp-hidden {
        height: 180px;
        padding-top: 15px;
    }

        #lp-chat .lp-hidden p {
            margin-top: 25px;
            margin-bottom: 25px;
        }

    #lp-chat.with-call-you p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #lp-chat.with-call-you {
        height: 195px;
        padding-top: 0px;
    }

        #lp-chat.with-call-you .lp-hidden {
            height: 195px;
            padding-top: 0px;
        }

        #lp-chat.with-call-you .lp-call-you {
            display: block;
        }

.lp-action {
    padding: 5px;
    padding-top: 10px;
}

.lp-hidden {
    background: url('/images/lw2013/atendente.20140710161840.jpg') #343436 bottom right no-repeat;
    height: 195px;
    border-radius: 8px 0 0 8px;
    color: #ffffff;
    font-size: 11px;
    width: 205px;
    transition: 0.5s;
    width: 300px;
}

    .lp-hidden a {
        display: block;
        margin-left: 15px;
        margin-top: 17px;
    }

    .lp-hidden p {
        margin-left: 15px;
        text-transform: uppercase;
        margin-top: 15px;
    }

        .lp-hidden p span {
            color: #ffae00;
            margin-left: 0px;
        }

    .lp-hidden div {
        margin-left: 15px;
    }

    .lp-hidden .lp-phone span {
        display: block;
        font-size: 13px;
    }

    .lp-hidden .lp-call-you {
        margin-top: 15px;
        margin-left: 15px;
    }

    .lp-hidden #lpchat-close {
        position: absolute;
        top: -23px;
        right: 0px;
        padding: 5px;
        font-weight: bold;
        background: #464343;
        border-radius: 8px 0 0 0;
        cursor: pointer;
    }

.footer-links .footer-links-item.footer-all-products, .footer-links .footer-links-item.footer-revista {
    height: 235px;
    border-right: 0px;
}

.footer-links .footer-links-item.footer-sobre {
    border-top: 1px solid #bebebe;
    padding-top: 10px;
    width: 745px;
    height: auto;
}

    .footer-links .footer-links-item.footer-sobre ul {
        width: 140px;
    }

#content-header {
    background-repeat: no-repeat;
    background-color: #DBDFE2;
    font-family: 'Open Sans',sans-serif;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    width: 940px;
}

    #content-header .content {
        padding-top: 30px;
        padding-left: 20px;
        width: 920px;
    }

    #content-header .page-title {
        font-family: Exo,sans-serif;
        font-size: 28px;
        font-weight: bold;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 30px;
    }

    #content-header .page-subtitle {
        font-size: 14px;
        color: #4B4D4D;
    }

#breadcrumble {
    color: #4B4D4D;
    position: absolute;
    top: 7px;
    left: 20px;
}

#content-header .btn-lw {
    margin: 5px 0 0 15px;
    padding: 5px 20px 0;
}

#content-nav li {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    border-right: 1px solid #e7ebee;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    background-position: center top;
}

#content-nav a {
    color: #4f4f4d;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

#content-nav li:last-child {
    border: none;
}

#content-nav li a:before {
    content: '';
    border-width: 13px 13px 0px;
    border-style: solid;
    border-color: #fff;
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -11px;
}

.plan.column-quarter .plan-title-inner {
    width: 220px;
}

#content-nav {
    width: 930px;
    padding: 0 0 0 10px;
    position: absolute;
    left: 0;
    border-radius: 0 0 6px 6px;
}

#content-header {
    border-bottom-width: 38px;
}

#header {
    height: 155px;
}

#content-header {
    border: none;
    background-position: center center;
}

    #content-header .content {
        height: 142px;
    }

#content-nav {
    background: url('/images/layout/hospedagem/content-nav-pattern.20150617171521.png') #626262;
}

#content-nav {
    bottom: -38px;
    height: 38px;
}

    #content-nav li {
        padding: 0 20px;
        border-right: 0;
        height: 34px;
        margin-top: 4px;
    }

    #content-nav a {
        color: #fff;
        height: 30px;
    }

    #content-nav li a:before {
        border: none;
    }

    #content-nav li.is-active a:before {
        margin-left: -5px;
        top: 26px;
        border-width: 6px 5px 0;
        border-style: solid;
    }

    #content-nav li.is-active a {
        color: inherit;
        color: expression(this.parentNode.currentStyle['color']);
    }

    #content-nav li.is-active {
        background: #fff;
        border-radius: 3px 3px 0 0;
    }

        #content-nav li.is-active a:after {
            content: url('/images/lw2013/produtos/arrow-content-nav-before.20130923143818.png');
            width: 11px;
            height: 6px;
            position: absolute;
            left: 50%;
            margin-left: -5px;
            bottom: 11px;
        }

#content .content-article {
    margin-top: 80px;
    background: none;
    padding-bottom: 30px;
    width: 940px;
}

#content-nav-account {
    position: relative;
    padding-left: 5px;
    border-left: 1px solid #fff;
}

    #content-nav-account.is-active .content-nav-account-list {
        display: block;
    }

.content-nav-account-title {
    background: #01333f;
    color: #fff;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font: bold 10px Arial,sans-serif;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    text-align: center;
    width: 180px;
    border: 1px solid #07262d;
    cursor: pointer;
    padding-right: 10px;
    position: relative;
}

    .content-nav-account-title:after {
        border-color: #01333f;
        border-style: solid;
        border-width: 4px 4px 0;
        border-top-color: #fff;
        content: "";
        right: 10px;
        position: absolute;
        top: 10px;
    }

.content-nav-account-link {
    width: 180px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    padding: 3px 5px 5px 0;
}

.content-nav-account-list {
    position: absolute;
    left: 5px;
    top: 32px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    width: 160px;
    padding: 0 15px 5px 15px;
    box-shadow: 1px 1px 6px #e2e2e2;
    display: none;
}

    .content-nav-account-list:after {
        border-color: #01333f;
        border-bottom-color: #f5f5f5;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        content: "";
        right: 10px;
        position: absolute;
        top: -8px;
    }

.content-nav-account-item {
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
}

#content-nav .content-nav-account-list li {
    text-transform: none;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

#content-nav .content-nav-account-list a {
    color: #545454;
    height: auto;
}

    #content-nav .content-nav-account-list a:hover {
        text-decoration: underline;
    }

.lw-sobre-locaweb #content-header {
    border-bottom-color: #b00a1d;
}

.lw-solucoes #content-header {
    border-bottom-color: #626262;
}

.lw-sobre-locaweb #content-nav {
    color: #b00a1d;
}

.lw-solucoes #content-nav {
    color: #626262;
}

@font-face {
    font-family: 'icomoon';
    src: url('/templates/lw2013/css/produtos/fonts/icomoon.20150615150110.eot');
    src: url('/templates/lw2013/css/produtos/fonts/icomoon.20150615150110.eot?#iefixg') format('embedded-opentype'),url('/templates/lw2013/css/produtos/fonts/icomoon.20150615150113.woff') format('woff'),url('/templates/lw2013/css/produtos/fonts/icomoon.20150615150111.ttf') format('truetype'),url('/templates/lw2013/css/produtos/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-backup:before, .icon-backup-de-sites:before {
    content: "\e600";
}

.icon-call-center:before {
    content: "\e602";
}

.icon-cloud-hosting:before, .icon-cloud-server-gerenciado:before {
    content: "\e619";
}

.icon-cloud-server-pro:before {
    content: "\e61a";
}

.icon-conquista-cliente:before {
    content: "\e627";
}

.icon-criador-de-sites:before {
    content: "\e61c";
}

.icon-email-locaweb:before {
    content: "\e60a";
}

.icon-email-marketing-allin:before {
    content: "\e612";
}

.icon-email-marketing-locaweb:before {
    content: "\e610";
}

.icon-erpflex:before {
    content: "\e608";
}

.icon-eventials:before {
    content: "\e60e";
}

.icon-exchange:before {
    content: "\e609";
}

.icon-facebook:before {
    content: "\ea8c";
}

.icon-godrive:before {
    content: "\e606";
}

.icon-google-adwords:before {
    content: "\e60d";
}

.icon-google-plus:before {
    content: "\ea88";
}

.icon-hospedagem-profissionais-web:before {
    content: "\e61f";
}

.icon-hospedagem:before {
    content: "\e620";
}

.icon-ico-blog:before {
    content: "\e622";
}

.icon-ico-guias-de-ajuda:before {
    content: "\e625";
}

.icon-ico-instagram:before {
    content: "\e621";
}

.icon-ico-statusblog:before {
    content: "\e626";
}

.icon-ico-wikipedia:before {
    content: "\e624";
}

.icon-ico-youtube:before {
    content: "\e623";
}

.icon-jelastic:before {
    content: "\e61b";
}

.icon-linkedin2:before {
    content: "\eac9";
}

.icon-orago:before {
    content: "\e60f";
}

.icon-pabx:before {
    content: "\e601";
}

.icon-promop:before {
    content: "\e613";
}

.icon-registro-de-dominios:before {
    content: "\e60b";
}

.icon-revenda-cpanel:before {
    content: "\e61d";
}

.icon-revenda-email-marketing:before {
    content: "\e611";
}

.icon-revenda-plesk:before {
    content: "\e61e";
}

.icon-servidores-dedicados:before {
    content: "\e617";
}

.icon-servidores-gerenciados:before {
    content: "\e618";
}

.icon-smtp:before {
    content: "\e605";
}

.icon-streaming-audio:before {
    content: "\e603";
}

.icon-streaming-video:before {
    content: "\e604";
}

.icon-superpay:before {
    content: "\e614";
}

.icon-traycheckout:before {
    content: "\e615";
}

.icon-traycommerce:before {
    content: "\e616";
}

.icon-twitter:before {
    content: "\ea91";
}

.icon-webdesk:before {
    content: "\e607";
}

.icon-youtube4:before {
    content: "\ea9a";
}

.icon-zopim:before {
    content: "\e60c";
}

.product-top-icon {
    clear: both;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
    padding-right: 5px;
    border-right: solid 1px rgba(255,255,255,0.3);
    color: #fff;
    font-size: 60px;
    line-height: 70px;
}

.lw-produtos #content-header {
    width: 100%;
    height: 230px;
    margin-bottom: 80px;
    background-position: top center;
}

    .lw-produtos #content-header .content {
        padding: 0;
        height: 290px;
        position: static;
        width: 940px;
    }

        .lw-produtos #content-header .content > .page-title {
            float: left;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 36px;
            color: #fff;
            margin-top: 46px;
        }

            .lw-produtos #content-header .content > .page-title.two-lines {
                margin-top: 32px;
            }

        .lw-produtos #content-header .content > p {
            clear: both;
            float: left;
            margin-top: 10px;
            margin-left: 78px;
            font-family: 'Lato';
            font-weight: 200;
            font-size: 16px;
            color: #fff;
        }

.lw-produtos #content-nav {
    width: 100%;
    text-align: center;
    padding: 0;
    border-radius: 0;
    height: 60px;
    bottom: -60px;
}

    .lw-produtos #content-nav > ul {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
    }

.lw-produtos #content-header #breadcrumble {
    position: static;
    top: auto;
    left: auto;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#breadcrumble {
    color: #333333 !important;
}

    #breadcrumble a {
        color: #990000 !important;
    }

.lw-produtos #breadcrumble {
    color: #fff !important;
}

    .lw-produtos #breadcrumble a {
        color: #99CCFF !important;
    }

.lw-produtos #content-nav > ul > li {
    height: 60px;
    line-height: 60px;
    margin-top: 0;
    padding: 0 18px;
    overflow: auto !important;
}

    .lw-produtos #content-nav > ul > li.btn-login {
        float: right !important;
        padding: 0;
    }

    .lw-produtos #content-nav > ul > li .content-nav-account-link, .lw-produtos #content-nav > ul > li.content-nav-account-dropdown {
        position: relative;
        width: auto;
        height: auto;
        padding: 14px 19px;
        background-color: #1a89c1;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        color: #fff;
        margin-top: 7px;
    }

    .lw-produtos #content-nav > ul > li.content-nav-account-dropdown {
        overflow: visible !important;
        cursor: pointer;
    }

        .lw-produtos #content-nav > ul > li.content-nav-account-dropdown .dropdown {
            position: absolute;
            display: none;
            padding: 0;
            top: 48px;
            left: 0;
            width: 100%;
            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            transition: opacity 0.2s;
        }

        .lw-produtos #content-nav > ul > li.content-nav-account-dropdown:hover .dropdown {
            display: block;
        }

        .lw-produtos #content-nav > ul > li.content-nav-account-dropdown .dropdown li {
            background: #d4dce0;
            color: #0066cc;
            width: 100%;
            height: auto;
            margin-top: 1px;
            padding: 0;
        }

            .lw-produtos #content-nav > ul > li.content-nav-account-dropdown .dropdown li a {
                display: block;
                background: #d4dce0;
                color: #0066cc;
                width: 100%;
                height: 45px;
                line-height: 45px;
                text-align: left;
                padding-left: 35px;
                font-weight: 400;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .lw-produtos #content-nav > ul > li.content-nav-account-dropdown .dropdown li a:before {
                    content: " ";
                    border: solid transparent;
                    height: 0;
                    width: 0;
                    top: 50%;
                    left: 35px;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(0,102,204,0);
                    border-left-color: #0066cc;
                    border-width: 4px;
                    margin-top: -4px;
                }

                .lw-produtos #content-nav > ul > li.content-nav-account-dropdown .dropdown li a:after {
                    content: " ";
                    border: solid transparent;
                    height: 0;
                    width: 0;
                    top: 50%;
                    left: 24px;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(212,220,224,0);
                    border-left-color: #d4dce0;
                    border-width: 3px;
                    margin-top: -3px;
                }

    .lw-produtos #content-nav > ul > li.is-active {
        border-radius: 0;
    }

    .lw-produtos #content-nav > ul > li > a {
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

        .lw-produtos #content-nav > ul > li > a:before, .lw-produtos #content-nav > ul > li > a:after {
            display: none;
        }

.lw-produtos .btn-interna-contrate {
    clear: both;
    float: left;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    border: solid 2px #fff;
    font-size: 14px;
    padding: 10px 20px;
}

#content-header .page-title {
}

.plan-season, .plan-image {
    margin-top: 10px;
}

    .plan-season .select-form {
        width: 118px;
    }

#plans-info.plans-wrap-space-top, .plans-wrap-space-top {
    padding-top: 30px;
}

#plans-info {
    background: url('/images/lw2012/produtos/bg-plans-info.20131023174613.png') no-repeat;
    padding: 50px 0 0 0;
}

.plans-title {
    font-size: 20px;
    line-height: 1em;
    margin: 10px 0 25px;
}

.plans-info-img {
    margin: 0 10px 0 35px;
}

.plans-info-desc {
    margin: 0 0 0 35px;
    font-size: 14px;
}

.plan {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    border: 1px solid #dfe2e5;
    padding-bottom: 12px;
    position: relative;
}

#content .plan.column-sixth {
    width: 138px;
}

#content #price-module .plan.column-sixth {
    width: 140px;
}

#content .plan.column-fifth {
    width: 170px;
}

.plan .recommended {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
}

.plan-title {
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-top: 25px;
    background: -webkit-linear-gradient(#fff 50%,#dadfe3);
    background: -moz-linear-gradient(#fff 50%,#dadfe3);
    background: linear-gradient(#fff 50%,#dadfe3);
}

.plan-title-number {
    font-size: 30px;
    line-height: 1em;
    font-weight: bold;
    display: block;
}

.plan-characteristic-content {
    display: table-cell;
    height: 52px;
    vertical-align: middle;
}

#plans .plan-title-cloud {
    padding-top: 0;
    height: 80px;
}

.plan-title-cloud-wrap {
    background-image: url('/images/lw2012/produtos/plan-title-cloud.20131023174613.png');
    background-repeat: no-repeat;
    background-position: 53px 8px;
    padding-top: 25px;
    height: 55px;
    display: block;
}

.plan-price {
    height: 36px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 20px;
    background: -webkit-linear-gradient(#ebeef0,#fff);
    background: -moz-linear-gradient(#ebeef0,#fff);
    background: linear-gradient(#ebeef0,#fff);
}

.plan-price-start-at {
    position: absolute;
    top: -22px;
    left: 0;
    font-size: 30%;
}

.plan-price-wrap {
    position: relative;
    display: inline-block;
    padding: 0 32px 0 15px;
    margin: 0;
    font-size: 36px;
    line-height: 1em;
}

*:first-child + html .plan-price-wrap {
    display: inline;
    vertical-align: middle;
    zoom: 1;
}

.plan-price-currency, .plan-price-cents, .plan-price-periodicity {
    height: 15px;
    height: 15px;
    line-height: 1em;
    font-size: 30%;
    position: absolute;
}

.plan-price-value {
    letter-spacing: -3px;
}

.plan-price-cents {
    letter-spacing: -2px;
}

.plan-price-value, .plan-price-cents {
    color: #e98b39;
    font-weight: bold;
}

.plan-price-currency {
    top: 3px;
    left: 0;
}

.plan-price-cents, .plan-price-periodicity {
    text-align: left;
    width: 28px;
}

.plan-price-cents {
    top: 3px;
    right: 0;
    font-size: 50%;
}

.plan-price-periodicity {
    bottom: 0;
    right: 0;
}

.plan-price-value {
    font-size: 100%;
}

.plan-action {
    margin-top: 15px;
    padding: 0 10px;
}

    .plan-action .btn-lw {
        height: 33px;
        line-height: 33px;
        width: auto;
        display: block;
    }

#content .plan-characteristics-itens {
    width: 260px;
    border-left: 30px solid #a2c4db;
    margin-left: 10px;
}

.plan-characteristics-ear {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 5px;
    border-bottom-left-radius: 20px;
    height: 155px;
    width: 40px;
    background: #A2C4DB;
}

    .plan-characteristics-ear img {
        z-index: 25;
    }

.plan-characteristics-values .two-lines, .plan-characteristics-itens li.two-lines {
    padding-top: 10px;
    height: 42px;
    line-height: 1.2em;
}

.with-plan-name .plan-characteristics-ear {
    top: 40px;
}

.with-plan-name .plan-characteristics-itens {
    margin-top: 40px;
}

.plan-characteristics-name {
    text-align: center;
    color: #5e5f5f;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
}

.plan-characteristics .zebra .plan-characteristics-total {
    background: #e9f0f3;
    font-size: 13px;
    color: #4c4c4c;
    text-transform: uppercase;
    position: relative;
}

.plan-characteristics-total-img {
    position: absolute;
    left: 0;
    bottom: 14px;
}

.plan-characteristics-itens .plan-characteristics-with-img {
    padding-left: 40px;
}

.plan-characteristics-first .plan-characteristics-ear {
    top: 0;
}

.plan-characteristics-first .plan-characteristics-itens {
    margin-top: 0;
}

.plan-characteristics-itens li, .plan-characteristics-values dd {
    border-bottom: 1px dotted #bcbcbc;
    height: 52px;
    line-height: 52px;
}

.plan-characteristics-itens li {
    padding-left: 15px;
}

.plan-characteristics-values dd {
    text-align: center;
}

.plan-characteristics .fifth {
    line-height: 17px;
    padding-top: 15px;
    height: 45px;
}

.plan-characteristics {
    position: relative;
    margin-bottom: 20px;
    color: #296685;
}

    .plan-characteristics .first {
        background: -webkit-linear-gradient(#edeff1,#fff 40%);
        background: -moz-linear-gradient(#edeff1,#fff 40%);
        background: -ms-linear-gradient(#edeff1,#fff 40%);
        background: -o-linear-gradient(#edeff1,#fff 40%);
        background: linear-gradient(#edeff1,#fff 40%);
    }

.zebra li:nth-child(2n+1), .zebra dd:nth-child(2n+1) {
    background-color: #f9fafb;
}

.plan-periodicity {
    font-size: 11px;
}

.plan-characteristics-footer {
    background: url('/images/layout/hospedagem/bg-footer-characteristics.20150617171520.jpg') no-repeat;
    width: 888px;
    height: 57px;
    margin-top: -4px;
    color: #ffffff;
    padding-top: 13px;
    padding-left: 53px;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 25px;
}

#list-contracts {
    height: 30px;
}

.list-contract-item {
    background: url('/images/lw2012/produtos/ico-sprite.20131023174613.png') no-repeat;
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 15px;
}

#list-contracts .ico-doc {
    background-position: left -500px;
}

#list-contracts .ico-pdf {
    background-position: left -427px;
}

#price-module .plan {
    border: none;
    border-bottom: 10px solid #d3d7d9;
    background: #eee;
    padding-bottom: 5px;
    font-family: Tahoma,sans-serif;
}

#price-module .plan-title {
    height: 50px;
    padding: 0;
    color: #fff;
    font-weight: normal;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1em;
    border-radius: 5px 5px 0 0;
    position: relative;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.6);
    background: #3b949c;
    background: -moz-linear-gradient(top,#3b949c 0%,#183b3e 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3b949c),color-stop(100%,#183b3e));
    background: -webkit-linear-gradient(top,#3b949c 0%,#183b3e 100%);
    background: -o-linear-gradient(top,#3b949c 0%,#183b3e 100%);
    background: -ms-linear-gradient(top,#3b949c 0%,#183b3e 100%);
    background: linear-gradient(to bottom,#3b949c 0%,#183b3e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b949c',endColorstr='#183b3e',GradientType=0 );
}

#price-module .plan-title-inner {
    width: 140px;
    height: 50px;
    vertical-align: middle;
    display: table-cell;
}

#price-module .plan.column-third .plan-title-inner {
    width: 300px;
}

#price-module .plan.column-quarter .plan-title-inner {
    width: 220px;
}

#price-module .plan.column-fifth .plan-title-inner {
    width: 170px;
}

#price-module .plan-price {
    background: none;
}

#price-module .plan-title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 12px;
    border-color: #F4F4F4;
    border-style: solid;
    border-width: 5px 5px 0;
    border-top-color: #183B3E;
}

#price-module .plan-desc {
    font-size: 11px;
    border-bottom: 1px solid #d4d8da;
    border-top: 1px solid #fff;
    padding: 5px 0;
    margin: 0 7px;
    text-align: center;
}

#price-module .plan-desc-first {
    border-top: none;
}

#price-module .plan-desc-first {
    border-top: none;
}

#price-module .plan-desc:last-child {
    border-bottom: none;
}

#price-module .plan-desc .bold {
    font-size: 13px;
    display: block;
}

#price-module .plan-free {
    position: relative;
    height: 22px;
    border-top: 10px solid #fff;
}

#price-module .plan-free-inner {
    background: #2F767D;
    position: absolute;
    left: -5px;
    top: 0;
    border-radius: 3px 3px 0 0;
    padding: 3px 0 3px 5px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

    #price-module .plan-free-inner:before {
        content: "";
        background: url('/images/layout/hospedagem/plan-free-shadow.20150617171521.jpg') no-repeat;
        display: block;
        width: 5px;
        height: 9px;
        position: absolute;
        bottom: -9px;
        left: 0;
    }

#price-module .banner-related-text p {
    margin: 0;
    padding: 10px 0 0 20px;
}

#price-module .plan-desc-last {
    border-bottom: none;
}

.with-plan-popular .plan {
    margin-top: 30px;
}

.with-plan-popular .plan-popular {
    margin-top: 0;
}

#price-module.with-plan-popular .plan-popular .plan-title {
    padding-top: 30px;
}

.with-plan-popular #plans-info {
    margin-top: 30px;
}

#price-module h2 {
    margin: 0 0 30px 0;
    padding-top: 25px;
}

#price-module #plans-info {
    font-size: 14px;
}

    #price-module #plans-info h2, #price-module #plans-info p {
        margin-left: 40px;
    }

.center {
    text-align: center;
}

.plan-popular-text {
    background: #fdc038;
    color: #000;
    text-align: center;
    height: 26px;
    line-height: 26px;
    position: absolute;
    left: -10px;
    top: 8px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

    .plan-popular-text:before {
        background: url('/images/lw2013/bg_more.20140710161840.png');
        content: "";
        width: 9px;
        height: 9px;
        position: absolute;
        bottom: -9px;
        left: 2px;
    }

#price-module .plan-action + .plan-desc {
    border-top: medium none;
}
