﻿
.muito_insatisfeito_transparente:hover {
    content: url('/Content/Buffet/Pesquisa/Imagens/muito_insatisfeito.png'); 
    cursor: pointer;
}

.insatisfeito_transparente:hover {
    content: url('/Content/Buffet/Pesquisa/Imagens/insatisfeito.png');
    cursor: pointer;
}

.indiferente_transparente:hover {
    content: url('/Content/Buffet/Pesquisa/Imagens/indiferente.png');
    cursor: pointer;
}

.satisfeito_transparente:hover {
    content: url('/Content/Buffet/Pesquisa/Imagens/satisfeito.png');
    cursor: pointer;
}

.muito_satisfeito_transparente:hover {
    content: url('/Content/Buffet/Pesquisa/Imagens/muito_satisfeito.png');
    cursor: pointer;
}

.estrela_amarela:hover{
    content: url('/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png');
    cursor: pointer; 
}

.pesquisa_texto{
    width: 400px;
    background: white;
}

.pesquisaLike:hover{ 
    content: url('/Content/Buffet/Pesquisa/Imagens/icone_like.png');
    cursor: pointer; 
}

.pesquisaDislike:hover{ 
    content: url('/Content/Buffet/Pesquisa/Imagens/icone_dislike.png');
    cursor: pointer; 
}

.satisfacao:hover{
    content: url('/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_verde.png');
    cursor: pointer;  
}
