﻿@model BuffetWebData.Models.ORCAMENTO
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Consultar Orçamento";
    Layout = @"~/Views/Shared/_Layout.cshtml";
    var empresa = Html.empresa();
}
 
<script src="~/Content/BuffetWeb/BuffetWeb.js"></script>

  <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">
                    <img src="~/Content/Space/Content/backgrounds/1920x1000.jpg" />

                    @if (empresa != null)
                    {
                        <div class="caption sfb ltr"
                             data-x="50"
                             data-y="50"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <a href="@Html.DominioEmpresa()" target="_blank">
                                <img src="@Html.LogoEmpresa()" alt="@empresa.nome">
                            </a>
                        </div>
                    }

                    <div class="caption title sft fadeout"
                         data-x="450"
                         data-y="230"
                         data-speed="1000"
                         data-start="3000"
                         data-easing="easeOutExpo" >

                        <form action="/Orcamento/EscolherOrcamento" method="post">
                            
                            <div class="span4">
                                @if (ViewBag.mensagem != null)
                                {
                                    <div class="alert" id="mensagemOrcamento" style="display:none;">
                                        <strong id="textMensagem2">ViewBag.mensagem </strong>
                                    </div> 
                                }
                                <input type="hidden" name="autenticacao" value="@ViewBag.autenticacao" />
                                <input type="text" required="" value="@ViewBag.codigo_unico" title="Não esqueca este campo" id="codigo_unico" name="codigo_unico" class="form-control span12" placeholder="Código">
                                <input type="text" required="" title="Não esqueca este campo" id="senha" name="senha" class="form-control span12" placeholder="Senha">
                                <input type="submit" value="Acessar" class=" btn btn-info btn-block">
                                @if (ViewBag.mensagem != null)
                                {
                                    <a href="javascript:void(o)" onclick="EsqueciMinhaSenha()">Esqueci a senha</a>
                                } 
                            </div> 
                        </form> 
                    </div>  
			</li>
		</ul>
	</div>
</div>
