﻿@{
    ViewBag.Title = "Contrato";
    Layout = "~/Views/Shared/_LayoutGerenciar.cshtml";
}


<form action="/Orcamento/ConfirmarContrato" method="post">
    <div class="page-title">
        <div class="col-md-7">
            <h4><i class="fa fa-desktop color"></i> Leia o Contrato de Locação de Espaço e Prestação de Servico de Buffet. <small>//</small></h4>
        </div>
        <div class="col-md-5 pull-right" style="margin-top:15px">
            <input type="submit" class="btn pull-right btn-success col-md-6" id="confirmar" disabled="disabled" style=" margin-left: 15px; " value="Aceitar contrato">
            <input type="submit" class="btn pull-right btn-info col-md-5" value="Voltar">
        </div>
    </div>

    <div class="awidget full-width">  
        <div class="form-group col-md-12"> 
            <textarea class="form-control" rows="10"></textarea>
        </div>
        <div class="col-md-12">
            <input required type="checkbox" name="confirmado" id="confirmado" onclick="o('confirmar').disabled = !o('confirmado').checked" />
            <label for="confirmado">Aceito os Termos de Locação e Prestação de Serviço de Buffet.</label>
            <input type="button" class="btn btn-success pull-right" onclick="window.open('/Orcamento/ImprimirContrato')" value=" imprimir" />
        </div>
    </div>
</form> 