﻿@model IEnumerable<BuffetWebData.Models.PACOTE_CATEGORIA_ITENS>
@using BuffetWeb.Models.Utils
@{ 
    Layout = null;
}   

<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
    <link href="~/Content/BuffetWeb/owl-carousel/owl.carousel.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="~/Content/BuffetWeb/owl-carousel/owl.theme.css">
    <script src="~/Content/BuffetWeb/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/BuffetWeb/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/BuffetWeb/BuffetWebInternal.js"></script>

    <meta charset="utf-8">
    @if (ViewBag.nome_empresa != null)
    {
        <title>@ViewBag.nome_empresa</title>
    }

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <link href="~/Content/Inicio/css/Buffet/Buffet.css" rel="stylesheet" />

    <script src="~/Content/Gerenciador/js/bootstrap.min.js"></script>

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="@Html.ArquivoBOOTSTRAP()" rel="stylesheet">
    <link href="~/Content/BuffetWeb/css/endless.min.css" rel="stylesheet" /> 
    <!-- Custom CSS -->
    <link href="@Html.ArquivoCSS()" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/Gerenciador/#"> 
</head>
<body>

    @{
    string categorias_cardapio = "";
    string categorias_quantidade = "";
    foreach (var categoria in Model)
    {
        categorias_cardapio = string.Format("{0},{1}", categorias_cardapio, categoria.CATEGORIA_ITENS.nome.Replace(" ", ""));
        categorias_quantidade = string.Format("{0},{1}", categorias_quantidade, categoria.PACOTES_ITENS.Count);
        <div class="modal fade" style="margin-top:10%" id="@string.Format("modal{0}", categoria.CATEGORIA_ITENS.nome.Replace(" ",""))" data-backdrop="static" data-keyboard="false">
            <div class="@string.Format("modal-dialog {0}", categoria.PACOTES_ITENS.Count == 1? "" : "modal-lg")" style="@string.Format("{0}", categoria.PACOTES_ITENS.Count == 1 ? "width: 450px;" : "")">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title text-center">@categoria.CATEGORIA_ITENS.nome</h3>
                    </div>
                    <div class="modal-body">
                        <div id="@string.Format("cardapio{0}", categoria.CATEGORIA_ITENS.nome.Replace(" ", ""))" class="owl-carousel">
                            @foreach (var item in categoria.PACOTES_ITENS)
                            {
                                <div class="item">
                                    <div class="col-md-12">
                                        <a href="javascript:void(o)" onclick="SelecionaCardapio(this, '@item.ITENS_CARDAPIO.nome.Replace(" ", "")', @item.ITENS_CARDAPIO.id)">
                                            <div class="ribbon-wrapper" id="@string.Format("{0}{1}", item.ITENS_CARDAPIO.nome.Replace(" ", ""), item.ITENS_CARDAPIO.id)" style=" width: 97px; margin-right: 16px; height: 110px; ">
                                                <div class="ribbon-inner shadow-pulse bg-warning" style=" font-size: 10px; margin-top: 7px; margin-left: 15px;">Selecionado</div>
                                            </div>
                                            <img src="@item.ITENS_CARDAPIO.url_image" alt="@item.ITENS_CARDAPIO.nome" style=" border-radius: 10px; " />
                                            <input type="hidden" id="@item.ITENS_CARDAPIO.id" value="true">
                                        </a>
                                        <h3 class="text-center">@item.ITENS_CARDAPIO.nome</h3>
                                        <h4 class="text-center">@item.ITENS_CARDAPIO.venda_pessoa</h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

        <input type="hidden" id="categorias_quantidade" value="@categorias_quantidade" />
        <input type="hidden" id="categorias_cardapio" value="@categorias_cardapio" />
    }
     
     






    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="logo"> 
                        <h1><img src="@Html.LogoEmpresa()" /></h1> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content blocky">
        <div class="page-content blocky">
            <div class="container"> 
                <div class="col-sm-12">
                    <div class="row">
                        <div class="page-title">
                            <h2><i class="fa fc-draggable color"></i> Orçamento Online <small>// Guarde seu código de orçamento </small></h2>
                            <div class="col-md-3 pull-right" style="margin-top: -30px; ">
                                <form action="/Orcamento/Servicos" class="form-inline" method="post"> 
                                    <input type="submit" class="btn btn-success pull-right col-md-6" value="Prosseguir" style="margin-left: 10px;margin-right:-15px;">
                                    <a href="javascript:window.history.back()" class="btn btn-info pull-right col-md-5">Voltar</a>
                                </form>
                            </div>
                             
                        </div>
                        <div class="col-md-12 panel panel-body">
                            @{
                                var orcamento = Html.orcamento();
                            }
                            <div class="thumbnail col-sm-2">
                                <img src="@orcamento.EVENTO.url">
                                <div>
                                    <h3 class="caption text-center">@orcamento.EVENTO.nome</h3>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h1>@orcamento.CLIENTE.nome</h1>
                                <small>número de orçamento @orcamento.codigo_unico</small>
                            </div>
                            <div class="col-sm-4">
                                <div class="pull-right">
                                    @if (orcamento.id_tipo_servico == 3)
                                    {
                                        <h3>Valor do Espaço</h3>
                                        <h4 class="text-right">@string.Format("R$ {0} {1}", orcamento.LOCAL_EVENTO.valor, orcamento.LOCAL_EVENTO.porEspaco ? "" : "Por Pessoa")</h4>
                                    }
                                    else
                                    {
                                        <h3>Valor Total</h3>
                                        <h4>R$ orcamento.LOCAL_EVENTO.valor</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>CARDÁPIO</h2>
                    <h4>Vejas os detalhes opcionais deste cardapio</h4>

                    <div id="owl-demo" class="owl-carousel">
                        @foreach (var categoria in Model)
                        {
                            <div class="item">
                                <div class="thumbnail col-sm-11">
                                    <a href="javascript:void(o)" data-toggle="modal" data-target="@string.Format("#modal{0}", categoria.CATEGORIA_ITENS.nome.Replace(" ",""))" >
                                        <img src="@categoria.CATEGORIA_ITENS.url_image" style="height:180px" >
                                       @if (categoria.editavel == true)
                                       {
                                            <div class="ribbon-wrapper" > 
                                                <div class="ribbon-inner shadow-pulse bg-warning" style=" font-size: 10px; ">Editavel</div>
                                            </div> 
                                       } 
                                    </a>
                                    <div>
                                        <h3 class="text-center">@categoria.CATEGORIA_ITENS.nome</h3> 
                                        <div class="form-group col-md-12">
                                            <a href="javascript:void(o)" class="btn btn-primary btn-block" data-toggle="modal" data-target="@string.Format("#modal{0}", categoria.CATEGORIA_ITENS.nome.Replace(" ",""))">Detalhes</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        } 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>
