﻿@model BuffetWebData.Models.ORCAMENTO
@{
    ViewBag.Title = "Detalhes Do Orcamento";
    Layout = @"~/Views/Shared/_LayoutMenu.cshtml";
}

<div id="About">
    <div class="container-fluid clearfix About">
        <div class="container clearfix" style=" height: 800px; ">
            <div class="container clearfix TitleSection">
                <header class="page-head">
                    <h1>Detalhes Do Orcamento <small>// </small></h1>
                    <form action="/Orcamento/NovoEmail" method="post">
                        <input type="button" name="name" class="btn btn-xs btn-success" value="Enviar Senha por email" />
                    </form>
                </header>
            </div>
            <div class="container clearfix" style=" background: white; border-radius: 5px; ">
                <div class="span12">
                    <div class="control-group">
                        <div>
                            @if (Model.status.Equals("PAGAMENTO EFETUADO"))
                            {
                                <a href="/Convidados/ListaDeConvidados" class="btn btn-success">Lista de convidados</a>
                            }
                            else if (Model.status.Equals("INICIADO"))
                            {
                                <a href="/Convidados/ContinuarOrcamento" class="btn btn-success">Continuar Orcamento</a>
                            }
                            else if (Model.status.Equals("CONCLUIDO"))
                            {
                                <a href="/Convidados/ContinuarOrcamento" class="btn btn-success">Editar Orcamento</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="span12" style=" padding: 50px; margin: 0 auto; ">
                    <div class="span6">
                        <div class="span12"></div>
                        <div class="span12">
                            <strong class="span8">Codigo Unico</strong>
                            <label class="span8">@Model.codigo_unico - @Model.status</label>
                        </div>
                        <div class="span12">
                            <label>Nome</label>
                            <strong>@Model.nome</strong>
                        </div>
                        <div class="span12">
                            <label>Telefone</label>
                            <strong>@Model.telefone</strong>
                        </div>
                        <div class="span12">
                            <label>Email</label>
                            <strong>@Model.email</strong>
                        </div>
                        <div class="span12">
                            <label>Data do Evento</label>
                            <strong>@Model.data_evento.ToShortDateString()</strong>
                        </div>
                        <div class="span12">
                            <label>Convidados Adultos</label>
                            <strong>@Model.n_convidados</strong>
                        </div>
                        <div class="span12">
                            <label>Convidados Criancas</label>
                            <strong>@Model.n_convidados_c</strong>
                        </div>
                        <div class="span12">
                            <label>Tipo de evento</label>
                            <strong>@Model.EVENTO.nome</strong>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



















