﻿@model BuffetWebData.Models.ORCAMENTO
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Proposta";
    Layout = "~/Views/Shared/_LayoutGerenciar.cshtml";
    var empresa = Html.empresa();
    var sociais = Html.redeSocial();
    var endereco = Model.EMPRESA.ENDERECO;
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Imprimir - @empresa.nome</title>
    <link rel="stylesheet" href="~/Content/Space/Layout/css/base.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/css/grid.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/css/elements.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/css/layout.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <div class="span3">
                    <img src="@Html.LogoEmpresa()" width="100" alt="@empresa.nome">
                </div>
                <div class="span5">
                    <div class="panel-body">
                        <h2>Festa Coquetel</h2>
                        <h4>Pacote para 50 convidados</h4>
                        <div>
                            <h2>Horários</h2>
                            <small>
                                12h00 as 16h00 | 18h00 as 22h00
                            </small>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <a href="javascript:void(o)" style="float:right" class="btn" onclick="window.print()">Imprimir</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="tab-content">
                    <div class="row">
                        <h2>Detalhes</h2>
                        <div class="span12">
                            <h3>Entrada</h3>

                            Coquetel de frutas e canapés

                            <h3>Salgados</h3>

                            Coxinha de frango com catupiry,
                            Bolinha de queijo,
                            Bolinha de carne,
                            Croquete de carne,
                            Croquete de frango,
                            Kibe,
                            Travesseirinho de presunto e queijo,
                            Empada de frango,
                            Empada de palmito,
                            Esfiha de carne,
                            Esfiha de frango com catupiry,
                            Esfiha de calabresa. <br />

                            <h3>Lanchonete</h3>

                            Batata frita,
                            Nuggets,
                            Mini hot dog,
                            Pão de queijo ,

                        </div>
                        <div class="span12">

                            <h3>Almoço ou Jantar</h3>

                            Penne ou Spaguette com molho ao sugo E queijo parmesão<br />

                            <h3>Bebidas</h3>

                            Refrigerante primeira linha, água mineral E sucos variados

                            <h3>Bolos</h3>
                            <small style="color:red">(escolher até 02 sabores)</small><br />

                            <h3>Bolo de Chocolate</h3>
                            <small>Mousse de chocolate, brigadeiro, prestigio ou floresta negra</small><br />

                            <h3>Bolo Branco</h3>

                            <small>
                                Ameixa com doce de leite, maracujá, abacaxi com coco,
                                abacaxi com coco e doce de leite, pêssego com doce de leite
                                ou floresta branca.
                            </small>
                        </div>
                        <div class="span12">

                            <h3>Doces</h3>

                            Mini churros,
                            Brigadeiro,
                            Brigadeiro branco,
                            Beijinho,
                            Bicho de pé.

                            <h3>Encerramento</h3>

                            Café com Petit Four <br />

                            <h3>Incluso no pacote</h3>

                            Toda área de festa com piscina de bolinha,
                            cama elástica, playground, gangorras e escorregador.<br />

                            Convite Online Personalizado no Tema da Festa.<br />

                            Equipe com chefe de cozinha, copeira, atendentes,
                            Recepcionista e gerência.<br />

                        </div>
                    </div>
                    <div class="span12">
                        <div class="row">
                            <h2>Brindes</h2>
                        </div>

                        <div class="span12">
                            Mesa temática com painel de bexigas
                            em tela mágica, objetos e personagens no
                            tema da festa.<br />

                            Mesa de guloseimas<br />

                            20 lembrancinhas (entregues para as crianças
                            Presentes na festa).
                        </div>
                    </div>
                    <div class="span12">
                        <div class="row">
                            <h2>Opcionais</h2>
                        </div>
                        <div class="span12">

                            <h3>Bebidas Alcoólicas</h3>

                            Cerveja em lata R$ 3,50 cada<br />

                            Vinho, cerveja em lata e licores fornecidos
                            pelo cliente, é cobrado uma taxa de R$ 80,00
                            para servir.<br /><br />

                            <h3>Cardápio</h3>

                            Churrasco com Acompanhamentos
                            e guarnições R$ 20,00 por pessoa.<br />
                            Massas Recheadas R$ 20,00 por pessoa.

                        </div>
                    </div>
                    <div class="span12">
                        <div class="row">
                            <h2>Preço</h2>
                        </div>
                        <div class="span12">

                            Valor do pacote para 50 pessoas
                            R$ 3.300,00<br />

                            Pessoas adicionais R$ 40,00<br />

                            Crianças até 7 anos não pagam.<br />

                            <h3>Forma de Pagamento</h3>

                            Quatro pagamentos sem juros no boleto
                            ou cartão de crédito.<br />

                            <strong>20% de desconto para pagamento à vista</strong><br />

                            <small style=" font-size: 10px; ">* boleto: somente com vencimento até a data da festa</small><br />

                        </div>

                        <div class="span12">

                            <h2>Considerações Finais</h2>

                            O Buffet estará preparado para receber os
                            convidados 10 minutos antes do horário do
                            início da festa.<br />

                            Ao término das 4 horas, cessam nossos serviços
                            e serão permitidos até 30 minutos de
                            permanência.
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                @string.Format("{0} | {1} | {2}", empresa.razao_social, empresa.telefone, empresa.cnpj) <br />
                @string.Format("{0}, {1} | {2} | {3} | {4} - {5}", endereco.endereco1, endereco.numero, endereco.bairro, endereco.cep, endereco.cidade, endereco.estado)
            </td>
        </tr>
    </table>
</body>
</html>



