﻿@model BuffetWeb.Models.Orcamento.InformacoesEvento
@{
    ViewBag.Title = "Dados Do Evento";
    Layout = @"~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Buffet/Orcamento/Orcamento.js"></script>

<div class="modal fade bs-example-modal-sm" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 style=" text-align: center; ">Você é <small id="_seu_nome"> </small></h2>
                <div style=" text-align: center; ">
                    <button type="button" onclick="buscaCadastrado()" class="btn btn-success">Sim, sou eu</button>
                    <button type="button" onclick="fechaMensagem()" class="btn btn-info">Não sou eu </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content blocky"> 
        <form action="/Orcamento/MontarFesta" method="post">
            <input type="hidden" name="id_evento" value="@ViewBag.id_evento" />
            <div class="row"> 
                <div class="col-md-12">
                    <div class="page-title">
                        <h2><i class="fa fa-home color"></i> Informações do evento <small>// Precisamos de algumas informações</small></h2>
                            <div class="col-md-4 pull-right" style="margin-top: -30px; ">
                                <input type="submit" class="btn btn-info pull-right col-md-6" value="Prosseguir">
                                <a href="javascript:window.history.back()" style=" margin-right: 15px; " class="btn btn-default pull-right col-md-3">Voltar</a>
                            </div>
                        <hr>
                    </div> 
                    <div class="row">
                        @foreach (var campos in Model.campos_descricao)
                        {
                            <div class="form-group panel panel-body">
                                <div class="col-md-12">
                                    <h2>@campos.nome</h2>
                                </div>
                                @foreach (var campo in campos.CAMPOS_COMPONENTES)
                                {
                                    <div class="@campo.css">
                                        <label id="@string.Format("id_campo-{0}|id_componente-{1}", campo.id_campo_descricao, campo.id)">@campo.label</label>
                                        @if (campo.type == "text" || campo.type == "date" || campo.type == "email")
                                        {
                                            <input type="@campo.type" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />
                                        }
                                        else if (campo.type == "select")
                                        {
                                            <select class="form-control col-md-12" name="@campo.name" id="@campo.name">
                                                @switch (campo.name)
                                                {
                                                    case "id_local_evento":
                                                        {
                                                            if (Model.local_evento.Count == 1)
                                                            {
                                                                <option value="@Model.local_evento.FirstOrDefault().id">@Model.local_evento.FirstOrDefault().nome</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="">Selecione</option>
                                                                foreach (var local_evento in Model.local_evento)
                                                                {
                                                                    <option value="@local_evento.id">@local_evento.nome</option>
                                                                }
                                                            }
                                                        } break;
                                                    case "id_tipo_servico":
                                                        {
                                                            <option value="">Selecione</option>
                                                            foreach (var tipo_servico in Model.tipo_servico)
                                                            {
                                                                <option value="@tipo_servico.id">@tipo_servico.nome</option>
                                                            }
                                                        } break; 
                                                    case "id_onde_conheceu":
                                                        {
                                                            <option value="">Selecione</option>
                                                            foreach (var como_conheceu in Model.como_conheceu)
                                                            {
                                                                <option value="@como_conheceu.id">@como_conheceu.nome</option>
                                                            }
                                                        } break;
                                                }
                                            </select>
                                        }
                                        else if (campo.type == "label")
                                        {
                                            <label id="@campo.id_component"></label>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>  
                </div>
            </div>
        </form> 
</div>