﻿@model BuffetWebData.Models.CLIENTE
@{
    ViewBag.Title = "Informações Pessoais";
    Layout = "~/Views/Shared/_LayoutGerenciar.cshtml";
}

<div class="page-content blocky"> 
    <form action="/Orcamento/SalvarPessoais" method="post">  
            <div class="page-title">
                <h2><i class="fa fa-desktop color"></i> Informe seus dados pessoais <small>//</small></h2>
                <div class="col-md-12" style="  margin-top: -30px; ">
                    <input type="submit" class="btn btn-info pull-right col-md-3" value="Prosseguir">
                </div>
            </div>
        <div class="form-group awidget full-width">
            <div class="row" style=" padding: 37px; ">
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <strong>Antes de efetuar o pagamento, precisamos de alguns dados!</strong>
                </div>
                <div>
                    <div></div>
                    <div class="col-md-3">
                        <label>CPF</label>
                        <input type="text" required onblur="buscaCPF(this)" name="cpf" value="@string.Format("{0}", @Model.cpf != null? Model.cpf : "")" class="form-control span12" />
                    </div>
                    <div class="col-md-3">
                        <label>RG</label>
                        <input type="text" required name="rg" value="@string.Format("{0}", @Model.rg != null? Model.rg : "")" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Nome completo</label>
                        <input type="text" required name="nome" value="@string.Format("{0}", @Model.nome != null? Model.nome : "")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Telefoone</label>
                        <input type="text" required name="telefone" value="@string.Format("{0}", @Model.telefone != null? Model.telefone : "")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Celular</label>
                        <input type="text" name="celular" value="@string.Format("{0}", @Model.celular != null? Model.celular : "")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Email</label>
                        <input type="email" name="email" value="@string.Format("{0}", @Model.email != null? Model.email : "")" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
            <div class="awidget full-width">
                <div class="row" style=" padding: 37px; ">
                    @if (Model.ENDERECO != null)
                    {
                        <div>
                            <div class="col-md-3">
                                <label>CEP</label>
                                <input type="text" required onblur="buscaCEP(this)" name="ENDERECO.cep" value="@Model.ENDERECO.cep" class="form-control" />
                            </div> 
                            <div class="col-md-7">
                                <label>Endereço</label>
                                <input type="text" required name="ENDERECO.endereco1" value="@Model.ENDERECO.endereco1" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>Bairro</label>
                                <input type="text" required name="ENDERECO.bairro" value="@Model.ENDERECO.bairro" class="form-control span12" />
                            </div>
                            <div class="col-md-4">
                                <label>Cidade</label>
                                <input type="text" name="ENDERECO.cidade" value="@Model.ENDERECO.cidade" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>UF</label>
                                <select required name="ENDERECO.estado" class="form-control">
                                    @if (Model.ENDERECO.estado == null)
                                    {
                                        <option value="">Selecione</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.ENDERECO.estado">@Model.ENDERECO.estado</option>
                                    }
                                    <option value="SP">SP</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>Complemento</label>
                                <textarea name="ENDERECO.complemento" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div class="span2">
                                <label>CEP</label>
                                <input type="text" required onblur="buscaCEP(this)" name="ENDERECO.cep" class="form-control span12" />
                            </div> 
                            <div class="span7">
                                <label>Endereço</label>
                                <input type="text" required name="ENDERECO.endereco1" class="form-control span12" />
                            </div>
                            <div class="span4">
                                <label>Bairro</label>
                                <input type="text" required name="ENDERECO.bairro" class="form-control span12" />
                            </div>
                            <div class="span4">
                                <label>Cidade</label>
                                <input type="text" name="ENDERECO.cidade" class="form-control span12" />
                            </div>
                            <div class="span3">
                                <label>UF</label>
                                <select required name="ENDERECO.estado" style=" height: 39px; " class="form-control span12">
                                    <option value="">Selecione</option>
                                    <option value="SP">SP</option>
                                </select>
                            </div>
                            <div class="span11">
                                <label>Complemento</label>
                                <textarea name="ENDERECO.complemento" class="form-control span12" rows="3"></textarea>
                            </div>
                        </div>
                    }
                </div>
            </div> 
    </form> 
</div> 