﻿@using BuffetWeb.Models.Utils
@model ICollection<BuffetWebData.Models.EVENTO_ALUGUEL>
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.nome_empresa</title>

    <link href="~/Content/BuffetWeb/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/BuffetWeb/owl-carousel/owl.theme.css">
    <script src="~/Content/BuffetWeb/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/BuffetWeb/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/BuffetWeb/BuffetWebInternal.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <link href="~/Content/Inicio/css/Buffet/Buffet.css" rel="stylesheet" />
    <script src="~/Content/Gerenciador/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="@Html.ArquivoBOOTSTRAP()" rel="stylesheet">    <!-- Styles -->
    <link href="~/Content/BuffetWeb/css/endless.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@Html.ArquivoCSS()" rel="stylesheet">

    <link rel="shortcut icon" href="javascript:void(o)">
</head>
<body>
    @{
        string categorias_disponiveis = "";
        string categorias_quantidade = "";
        foreach (var categoria in Model.Select(e => e.ITENS_ALUGUEL.CATEGORIA_ALUGUEL).Distinct().ToList())
        {
            categorias_disponiveis = string.Format("{0},{1}", categorias_disponiveis, categoria.nome.Replace(" ", ""));
            categorias_quantidade = string.Format("{0},{1}", categorias_quantidade, Model.Where(e => e.ITENS_ALUGUEL.CATEGORIA_ALUGUEL.id == categoria.id).ToList().Count);

            <div class="modal fade" style="margin-top:10%" id="@string.Format("modal{0}", categoria.nome.Replace(" ", ""))" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center">@categoria.nome</h4>
                        </div>
                        <div class="modal-body">
                            <div id="@categoria.nome.Replace(" ", "")" class="owl-carousel">
                                @foreach (var itemAluguel in Model.Where(e => e.ITENS_ALUGUEL.CATEGORIA_ALUGUEL.id == categoria.id).ToList())
                                {
                                    <div class="item">
                                        <div class="col-sm-12">
                                            <a href="javascript:void(o)" onclick="SelecionaServico(this, '@categoria.nome.Replace(" ", "")', @itemAluguel.id)">
                                                <input type="hidden" id="@itemAluguel.id" data-id="@itemAluguel.id" data-brinde="@itemAluguel.brinde" data-valor="@(itemAluguel.ITENS_ALUGUEL.valor_venda * itemAluguel.quantidade)" value="@string.Format("{0}", itemAluguel.mostrar_aluguel == false? "true": "false")" />
                                                @if (itemAluguel.mostrar_aluguel == true)
                                                {
                                                    <div style=" width: 97px; margin-right: 16px; height: 110px; " class="ribbon-wrapper" id="@string.Format("{0}{1}",categoria.nome.Replace(" ", ""), itemAluguel.id)"></div>
                                                }
                                                else
                                                {
                                                    <div style=" width: 97px; margin-right: 16px; height: 110px; " class="ribbon-wrapper" id="@string.Format("{0}{1}",categoria.nome.Replace(" ", ""), itemAluguel.id)">
                                                        @if (itemAluguel.brinde)
                                                        {
                                                            <div class="ribbon-inner shadow-pulse bg-danger" style=" font-size: 10px; margin-top: 7px; margin-left: 15px;">Brinde</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="ribbon-inner shadow-pulse bg-warning" style=" font-size: 10px; margin-top: 7px; margin-left: 15px;">Selecionado</div>
                                                        }
                                                    </div>
                                                }
                                                <img src="@itemAluguel.ITENS_ALUGUEL.url_image" class="lazyOwl" style="border-radius: 10px; ">
                                            </a>
                                            <div>
                                                <h4 class="text-center">@itemAluguel.ITENS_ALUGUEL.nome</h4>
                                                <h5 class="text-center">
                                                    @if (itemAluguel.brinde)
                                                    {
                                                        <strong> De <s>R$ @(itemAluguel.ITENS_ALUGUEL.valor_venda * itemAluguel.quantidade)</s> Por R$ 0</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong> R$ @(itemAluguel.ITENS_ALUGUEL.valor_venda * itemAluguel.quantidade)</strong>
                                                    }
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="modal fade bs-example-modal-sm" id="confirmaRemocao" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style=" width: 470px; margin-top: 20%; ">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 style=" text-align: center; ">@Html.orcamento().CLIENTE.nome, este item é um brinde, deseja mesmo não incluir no Evento?</h2>
                    <div style=" text-align: center; ">
                        <button type="button" onclick="ConfirmarRemocao()" class="btn btn-success">Sim, Confirmo!</button>
                        <button type="button" onclick="javascript: $('#confirmaRemocao').modal('hide');" class="btn btn-info">Cancelar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="logo">
                        <h1><img src="@Html.LogoEmpresa()" /> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content blocky">
        <div class="page-content blocky">
            <div class="container">
                <div class="row col-md-12">
                    <div class="page-title form-group">
                        <h2><i class="fa fc-draggable color"></i> Orçamento Online <small>// Escolha os serviços para seu evento!</small></h2>
                        <div class="col-md-3 pull-right" style="margin-top: -30px; ">
                            <form action="/Orcamento/Orcamento" class="form-inline" method="post">
                                <input type="hidden" name="id_cardapio" id="id_cardapio" value="" />
                                <input type="submit" class="btn btn-success pull-right col-md-6" value="Prosseguir" style="margin-left: 10px;margin-right:-15px;">
                                <a href="javascript:window.history.back()" class="btn btn-default pull-right col-md-5">Voltar</a>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-12 panel panel-body">
                        @{
                            var orcamento = Html.orcamento();
                        }
                        <div class="thumbnail col-sm-2">
                            <img src="@orcamento.EVENTO.url">
                            <div>
                                <h3 class="caption text-center">@orcamento.EVENTO.nome</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h1>@orcamento.CLIENTE.nome</h1>
                            <small>número de orçamento @orcamento.codigo_unico</small>
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right">
                                @if (orcamento.id_tipo_servico == 3)
                                {
                                    <h3>Valor do Espaço</h3>
                                    <h4 class="text-right">@string.Format("R$ {0} {1}", orcamento.LOCAL_EVENTO.valor, orcamento.LOCAL_EVENTO.porEspaco ? "" : "Por Pessoa")</h4>
                                }
                                else
                                { 
                                    <h3>Valor Total</h3>
                                    <h4>R$ orcamento.LOCAL_EVENTO.valor</h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <h2>ITENS DE ALUGUEL</h2>
                <h4>Encontre tudo que você precisa para seu evento.</h4>

                @{
                    <div id="owl-demo" class="owl-carousel">
                        @foreach (var categoria in Model.Select(e => e.ITENS_ALUGUEL.CATEGORIA_ALUGUEL).Distinct().ToList())
                        {
                            <div class="item">
                                <div class="thumbnail col-sm-11">
                                    <a href="javascript:void(o)" data-toggle="modal" data-target="@string.Format("#modal{0}", categoria.nome.Replace(" ",""))">
                                        <img src="@categoria.url_image" style="height: 170px; width: 100%" class="lazyOwl">
                                    </a>
                                    <div>
                                        <h3 class="text-center">@categoria.nome</h3>
                                        <div class="form-group col-sm-12">
                                            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="@string.Format("#modal{0}", categoria.nome.Replace(" ",""))">Detalhes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                <input type="hidden" id="categorias_disponiveis" value="@categorias_disponiveis" />
                <input type="hidden" id="categorias_quantidade" value="@categorias_quantidade" />

            </div>
        </div>
    </div>
</body>
</html>
