﻿@using BuffetWeb.Models.Utils
@model ICollection<BuffetWebData.Models.EVENTOS_PACOTES>
@{
    ViewBag.Title = "Orcamento Criado";
    Layout = null;
}     
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
    <link href="~/Content/BuffetWeb/owl-carousel/owl.carousel.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="~/Content/BuffetWeb/owl-carousel/owl.theme.css">
    <script src="~/Content/BuffetWeb/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/BuffetWeb/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/BuffetWeb/BuffetWebInternal.js"></script>

    <meta charset="utf-8"> 
    <title>@ViewBag.nome_empresa</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <link href="~/Content/Inicio/css/Buffet/Buffet.css" rel="stylesheet" />
    
    <!-- Bootstrap CSS -->
    <link href="@Html.ArquivoBOOTSTRAP()" rel="stylesheet">
    <link href="~/Content/BuffetWeb/css/endless.min.css" rel="stylesheet" /> 
    <!-- Custom CSS -->
    <link href="@Html.ArquivoCSS()" rel="stylesheet">

    <link rel="shortcut icon" href="javascript:void(o)"> 
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="logo"> 
                        <h1><img src="@Html.LogoEmpresa()" /></h1> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content blocky">
        <div class="page-content blocky">
            <div class="container">  
                    <div class="row col-md-12">
                        <div class="page-title form-group">
                            <h2><i class="fa fc-draggable color"></i> Orçamento Online <small>// Guarde seu número de orçamento!</small></h2>
                            <div class="col-md-3 pull-right" style="margin-top: -30px; ">
                                <form action="/Orcamento/DetalhesCardapio" class="form-inline" method="post">
                                    <input type="hidden" name="id_cardapio" id="id_cardapio" value="" />
                                    <input type="submit" class="btn btn-success pull-right col-md-6" value="Prosseguir" style="margin-left: 10px;margin-right:-15px;">
                                    <a href="javascript:window.history.back()" class="btn btn-default pull-right col-md-5">Voltar</a>
                                </form>
                            </div> 
                        </div>

                        <div class="col-md-12 panel panel-body" >
                            @{
                                var orcamento = Html.orcamento();
                            } 
                            <div class="thumbnail col-sm-2">
                                <img src="@orcamento.EVENTO.url">
                                <div>
                                    <h3 class="caption text-center">@orcamento.EVENTO.nome</h3> 
                                </div>  
                            </div>
                            <div class="col-sm-9 " > 
                                <h1>Olá @orcamento.CLIENTE.nome</h1>
                                <h2>Seu número de orçamento é @orcamento.codigo_unico</h2> 
                                <small>Enviamos esses dados para seu email!</small> 
                            </div>
                        </div> 
                    </div>

                    <h2>CARDÁPIO</h2>
                    <h4>Escolha o cardápio que deseja servir no seu evento.</h4>

                    <div id="owl-demo" class="owl-carousel">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="item">
                                <div class="thumbnail col-sm-11">
                                    <a href="javascript:void(o)" class="link clicked" data-total="@Model.Count" data-id="@i" data-id_pacote="@Model.ElementAt(i).id_pacote">
                                        <img src="@Model.ElementAt(i).PACOTE.url_image" style=" height: 175px; width:100%">
                                        <div class="ribbon-wrapper" id="@string.Format("idCardapio{0}", i)">
                                        </div>
                                    </a>
                                    <div>
                                        <h3 class="text-center">@Model.ElementAt(i).PACOTE.nome</h3>
                                        <h5 class="text-center">A partir de <strong> R$ @Model.ElementAt(i).PACOTE.valor_venda</strong></h5> 
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div> 
            </div> 
    </div>
</body>
</html>
