﻿@using BuffetWeb.Models.Utils
@model BuffetWebData.Models.ORCAMENTO
@{
    ViewBag.Title = "Orcamento";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.nome_empresa</title> 

    <link href="~/Content/BuffetWeb/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/BuffetWeb/owl-carousel/owl.theme.css">
    <script src="~/Content/BuffetWeb/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/BuffetWeb/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/BuffetWeb/SharedLayout.js"></script> 
    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>

    <!-- Calendario -->
    <link href="~/Content/Gerenciador/css/fullcalendar.css" rel="stylesheet" />
    <script src="~/Content/Gerenciador/js/fullcalendar.min.js"></script>

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="@Html.ArquivoBOOTSTRAP()" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Html.ArquivoCSS()" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body> 
    <div class="modal fade" id="ModalFecharPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="fecharPedidoTitle">Fechar Pedido</h4>
                </div>
                <div class="modal-body">
                    <div id="InformacoesPessoais">
                        <form id="INFORMACOES">
                            <div class="alert alert-info alert-dismissible fade in" role="alert">
                                <strong>Antes de efetuar o pagamento, precisamos de alguns dados!</strong>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>CPF</label>
                                    <input type="text" required name="cpf" value="@Model.CLIENTE.cpf" class="form-control span12" />
                                </div>
                                <div class="col-md-3">
                                    <label>RG</label>
                                    <input type="text" required name="rg" value="@Model.CLIENTE.rg" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label>Nome completo</label>
                                    <input type="text" required name="nome" value="@Model.CLIENTE.nome" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>Telefoone</label>
                                    <input type="text" required name="telefone" value="@Model.CLIENTE.telefone" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>Celular</label>
                                    <input type="text" name="celular" value="@Model.CLIENTE.celular" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>Email</label>
                                    <input type="email" name="email" value="@Model.CLIENTE.email" class="form-control" />
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>CEP</label>
                                    <input type="text" required onblur="buscaCEP(this)" name="ENDERECO.cep" value="@Model.CLIENTE.ENDERECO.cep" class="form-control" />
                                </div> 
                                <div class="col-md-7">
                                    <label>Endereço</label>
                                    <input type="text" required name="ENDERECO.endereco1" value="@Model.CLIENTE.ENDERECO.endereco1" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>Bairro</label>
                                    <input type="text" required name="ENDERECO.bairro" value="@Model.CLIENTE.ENDERECO.bairro" class="form-control span12" />
                                </div>
                                <div class="col-md-4">
                                    <label>Cidade</label>
                                    <input type="text" name="ENDERECO.cidade" value="@Model.CLIENTE.ENDERECO.cidade" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>UF</label>
                                    <select required name="ENDERECO.estado" class="form-control">
                                        @if (Model.CLIENTE.ENDERECO.estado == null)
                                      {
                                            <option value="">Selecione</option>
                                      }
                                      else
                                      {
                                            <option value="@Model.CLIENTE.ENDERECO.estado">@Model.CLIENTE.ENDERECO.estado</option>
                                      }
                                        <option value="SP">SP</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label>Complemento</label>
                                    <textarea name="ENDERECO.complemento" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div id="Contrato" style="display:none">
                        <textarea class="form-control form-group" rows="20"></textarea>
                        <div class="col-md-12 row">
                            <input type="checkbox" id="confirmarContrato" name="confirmarContrato" onclick="PermiteContinuar(this)" />
                            <label for="confirmarContrato">Aceito os Termos do Contrato de Locação e Prestaçnao de Serviço de Buffet.</label>
                        </div>
                    </div>

                    <div id="FormaDePagamento" style="display:none">
                        <div id="FormaDePagamentoTarjetas" class="row">
                            <div class="col-md-6" style=" margin-left: 21%;">
                                <div class="col-md-4">
                                    <a href="#" onclick="PagamentoForma('CartaoCredito')">
                                        <img src="~/Content/BuffetWeb/img/Menu/icone_cartao.png" width="150" />
                                     </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" onclick="PagamentoForma('TransferenciaBancaria')">
                                        <img src="~/Content/BuffetWeb/img/Menu/icone_transferencia.png" width="150" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" onclick="PagamentoForma('BoletoBancario')">
                                        <img src="~/Content/BuffetWeb/img/Menu/icone_boleto.png" width="150" /> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="CartaoCredito" style="display:none">
                            <div class="col-md-12">
                                <h3 class="text-center">Pagamento via Cartão de Crédito</h3>
                            </div>
                            <div class="col-md-7">
                                <label>Nome do titular</label>
                                <input type="text" required name="nome_titular" value="@Model.CLIENTE.nome" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <label>Número do cartão</label>
                                <input type="text" required name="numero_cartao" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label>Parcelas</label>
                                <select required name="parcelas" class="form-control">
                                    <option value="">Selecionar</option>
                                    <option value="1">1x</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Mês</label>
                                <select required name="mes" class="form-control">
                                    <option value="">Selecionar</option>
                                    <option value="01">01</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Ano</label>
                                <select required name="ano" class="form-control">
                                    <option value="">Selecionar</option>
                                    <option value="2014">2014</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Código</label>
                                <input type="text" maxlength="5" required name="codigo_cartao" class="form-control" />
                            </div>
                        </div>

                        <div id="BoletoBancario" class="row" style="display:none">
                            <div class="col-md-12">
                                <h3 class="text-center">Pagamento via Boleto de Bancário</h3>
                            </div>
                        </div>
                        <div id="TransferenciaBancaria" class="row" style="display:none">
                            <div class="col-md-12">
                                <h3 class="text-center">Pagamento via Transferência Bancária</h3>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" onclick="Imprimir(this)" id="Imprimir" style="display:none" class="btn btn-info col-md-2 pull-left" value="Imprimir" />
                    <input type="button" onclick="Prosseguir(this)" id="Prosseguir" class="btn btn-success pull-right col-md-2" value="Continuar" />
                    <input type="button" onclick="Voltar(this)" id="Voltar" style="display:none" class="btn btn-default col-md-1 pull-right" value="Voltar" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalAgendarVisita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="fecharPedidoTitle">Agendar Visita</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissible fade in" id="alert_agendar" style="display:none" role="alert">
                                <strong>Informação</strong> Nenhum horario disponivel para esta data!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Tipo de Visita</label>
                            <select class="form-control" id="tipo_visita">
                                <option value="">Selecione</option>
                                @{
                                    var visitas = Html.visitasDisponiveis();
                                    foreach (var visita in visitas)
                                    {
                                        <option value="@visita.tipo_visita">@visita.tipo_visita</option>
                                    }
                                } 
                            </select> 
                        </div> 

                        <div class="col-md-12">
                            <label>Data</label>
                            <input type="date" id="data_visita" class="form-control"  />
                        </div>

                        <div class="col-md-12" style="display:none" id="id_horario_div">
                            <label>Horário disponível</label>
                            <select name="id_horario" id="id_horario" class="form-control"></select>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="display: block;" id="confirmarVisita" class="col-md-12">
                        <input type="button" class="btn btn-success col-md-9" onclick="ConfirmarHorario(this)" value="Confirmar">
                        <input type="button" class="btn btn-default col-md-2" onclick="LimparAgendamento(this)" value="x">
                    </div>
                    <input type="button" class="btn btn-info btn-block" id="buscarVisita" onclick="BuscarHorariosDisponiveis(this)" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
      
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="logo">
                        <h1><img src="@Html.LogoEmpresa()" /></h1>
                    </div>
                </div> 
            </div>
        </div>
    </div> 
    <div class="page-content blocky">
        <div class="page-content blocky">
            <div class="container">
                @if (ViewBag.concluido != null && ViewBag.concluido)
                {
                    <div class="col-sm-12 awidget full-width" style=" margin-bottom: 12px; width: 98%; ">
                        <h2>Orçamento Concluído!</h2>
                        <h3>
                            Foi enviado o número de orçamento e senha para o e-mail cadatrado!! <br />
                            A qualquer momento você pode acessar nosso site com o número de orçamento e senha enviado para o e-mail cadatrado.
                        </h3>
                    </div>
                }
                <div class="col-sm-12 awidget full-width" style=" margin-bottom: 12px; width: 98%; ">
                    <h2>@string.Format("{0}", ( DateTime.Now.Hour == 0 && DateTime.Now.Hour < 12)? "Bom dia": ( DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)? "Boa tarde" : "Boa noite") @Model.CLIENTE.nome</h2>
                    <h3>
                         @string.Format("Aqui você pode gerenciar {0}", Model.status.Equals("PAGAMENTO EFETUADO") ? "Pedido" : "Orçamento")
                    </h3>
                </div>
                <div id="owl-demo">
                    @*@if (Model.status.Equals("PAGAMENTO EFETUADO"))
                    {*@
                        <div class="item">
                            <div class="thumbnail col-sm-11" style=" height: 200px; ">
                                <a href="/Convidados/ListaDeConvidados" > 
                                    <img src="~/Content/BuffetWeb/img/Menu/icone_convite_online.png" style=" width: 100px; margin-top: 20px;" />
                                </a>
                                <div>
                                    <h3 class="text-center">Convite Online</h3>
                                </div>
                            </div>
                        </div>
                    @*  } *@
                    <div class="item">
                        <div class="thumbnail col-sm-11" style=" height: 200px; ">
                            <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalVisualizarOrcamento">
                                <img src="~/Content/BuffetWeb/img/Menu/icone_visualizar_orcamento.png" style=" width: 100px; margin-top: 20px;" />
                            </a>
                            <div>
                                <h3 class="text-center">Visualizar Orçamento</h3>
                            </div>
                        </div>
                    </div>
                    @*@if (!Model.status.Equals("PAGAMENTO EFETUADO"))
                    {*@
                        <div class="item">
                            <div class="thumbnail col-sm-11" style=" height: 200px; ">
                                <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalFecharPedido">
                                    <img src="~/Content/BuffetWeb/img/Menu/icone_fechar_pedido.png" style=" width: 100px; margin-top: 20px;" />
                                </a>
                                <div>
                                    <h3 class="text-center">Fechar Pedido</h3>
                                </div>
                            </div>
                        </div>
                    @* } *@
                    
                    <div class="item">
                        <div class="thumbnail col-sm-11" style=" height: 200px; ">
                            <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalReservarData">
                                <img src="~/Content/BuffetWeb/img/Menu/icone_reservar_data.png" style=" width: 100px; margin-top: 20px;" />
                            </a>
                            <div>
                                <h3 class="text-center">Reservar Data</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail col-sm-11" style=" height: 200px; ">
                            <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalAgendarVisita">
                                <img src="~/Content/BuffetWeb/img/Menu/icone_agendar_visita.png" style=" width: 100px; margin-top: 20px;" />
                            </a>
                            <div>
                                <h3 class="text-center">Agendar Visita</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail col-sm-11" style=" height: 200px; ">
                            <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalAgendarDegustacao">
                                <img src="~/Content/BuffetWeb/img/Menu/icone_agendar_degustacao.png" style=" width: 100px; margin-top: 20px;" />
                            </a>
                            <div>
                                <h3 class="text-center">Agendar Degustação</h3>
                            </div>
                        </div>
                    </div>
                   @*  @if (Model.status.Equals("PAGAMENTO EFETUADO"))
                    { *@
                        <div class="item">
                           <div class="thumbnail col-sm-11" style=" height: 200px; ">
                                <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalEditarOrcamento">
                                    <img src="~/Content/BuffetWeb/img/Menu/icone_editar_orcamento.png" style=" width: 100px; margin-top: 20px;" />
                                </a>
                                <div>
                                    <h3 class="text-center">Editar Orçamento</h3>
                                </div>
                            </div>
                        </div>
                    @*}
                    else
                    {*@
                        <div class="item">
                        <div class="thumbnail col-sm-11" style=" height: 200px; ">
                            <a href="javascript:void(o)" data-toggle="modal" data-target="#ModalEditarOrcamento">
                                <img src="~/Content/BuffetWeb/img/Menu/icone_editar_orcamento.png" style=" width: 100px; margin-top: 20px;" />
                            </a>
                            <div>
                                <h3 class="text-center">Adicionar Adento</h3>
                            </div>
                        </div>
                    </div>
                    @* } *@
                    
                    <div class="item">
                        <div class="thumbnail col-sm-11" style=" height: 200px; ">
                            <a href="/Home/Sair">
                                <img src="~/Content/BuffetWeb/img/Menu/icone_sair.png" style=" width: 100px; margin-top: 20px;" />
                            </a>
                            <div>
                                <h3 class="text-center">Sair</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="totop"><a href="~/Content/Gerenciador/#"><i class="fa fa-chevron-up"></i></a></span>

    <script src="~/Content/Gerenciador/js/bootstrap.min.js"></script>
    <script src="~/Content/Buffet/Orcamento/FecharPedido.js"></script>
    <script src="~/Content/Buffet/Orcamento/AgendarVisita.js"></script>`
</body>
</html>
