﻿@model BuffetWebData.Models.ORCAMENTO
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Proposta";
    Layout = "~/Views/Shared/_LayoutGerenciar.cshtml";
    var empresa = Html.empresa();
    var sociais = Html.redeSocial();
}

<input type="hidden" id="configuracao" data-proposta="@ViewBag.proposta" />

<script src="~/Content/Buffet/Orcamento/OrcamentoSimplificado.js"></script>

<div class="modal fade" id="enviarEmail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entrar em Contato</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="mensagem_email" style="display:none">
                    <strong id="textMensagem_email"></strong>
                </div>
                @if (Model.CLIENTE.email == null)
                {
                    <div class="span6">
                        <label>Seu e-mail</label>
                        <input type="email" id="email_email" class="span4" />
                    </div>
                }
                @if (Model.CLIENTE.celular == null)
                {
                    <div class="span6"> 
                        <label>Seu celular</label>
                        <input type="tel" id="celular_email" class="span4" />

                        <input style="height: 44px; padding-left: 50px; width: 200px; " title="Informe o Telefone celular (8 ou 9 Dígitos)" autocomplete="off" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" type="text" id="celular_email" maxlength="13" onkeyup="BuscarOperadora(this)" class="span4">
                        <input type="hidden" name="operadora" id="editar_operadora" value="" />
                        <input type="hidden" id="numero_valido" value="" /> 
                    </div>
                }

                <label>Assunto</label>
                <input type="text" id="assunto_email"class="span12" />
                <label>Mensagem</label>
                <textarea rows="4" id="conteudo_email" class="span12"></textarea>
                <div class="row">
                    <label>Telefone</label>
                    @Model.EMPRESA.telefone
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" onclick="EnviarEmail(this)">Enviar</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-sm" id="agendarVisita">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agende uma visita</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="mensagem" style="display:none">
                    <strong id="textMensagem"></strong>
                </div>
                @if (Model.CLIENTE.email == null)
                {
                    <label>Seu e-mail</label>
                    <input type="email" id="email" class="span4" />
                }
                else
                {
                    <label>Seu celular</label>
                    <input type="tel" id="celular" class="span4" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" />
                }

                <label>Data</label>
                <input type="date" id="data" class="span4" />
                <label>Horário</label>
                <input type="time" id="horario" class="span4" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" onclick="AgendarVisita(this)">Agendar Visita</a>
            </div>
        </div>
    </div>
</div>

<div id="home">
    <div class="row" style="margin-top: -228px; margin-bottom: 4%; ">
        <div class="span3">
            <a href="@Html.DominioEmpresa()" target="_blank">
                <img src="@Html.LogoEmpresa()" alt="@empresa.nome">
            </a>
        </div>
        <div class="span5">
            <div class="panel-body">
                <h2><strong>Festa Coquetel</strong></h2>
                <small><strong>Pacote para 50 convidados</strong></small>
                <div>
                    <h2>Horários</h2>
                    <small>
                        12h00 as 16h00 | 18h00 as 22h00
                    </small>
                </div>
            </div>
        </div>

        <div class="span4">
            @foreach (var social in sociais)
            {
                <div style=" float: right; margin-right: 10px;">
                    <a href="@social.url" target="_blank">
                        <img src="@string.Format("http://www.buffetweb.com/Sites/Arquivos/Sistema/Social/{0}.png", social.plataforma)" class="spanHover" width="50">
                    </a>
                </div>
            }
            <div style=" float: right; margin-right: 10px;">
                <a href="javascript:void(o)" data-target="#enviarEmail" data-toggle="modal">
                    <img src="~/Content/Buffet/Convidados/Imagens/icone_email.png" width="50" class="spanHover" />
                </a>
            </div>
            <div style=" float: right; margin-right: 10px;">
                <a href="javascript:void(o)" data-target="#agendarVisita" data-toggle="modal">
                    <img src="~/Content/Buffet/Convidados/Imagens/icone_agendar_visita.png" width="50" class="spanHover" />
                </a>
            </div>

            @if (!Html.isMobile())
            {
                <div style=" float: right; margin-right: 10px;">
                    <a href="javascript:void(o)" onclick="window.open('/Orcamento/ImprimirOrcamentoSimplificado?proposta=@ViewBag.proposta', 'Proposta', 'menubar=1,resizable=0,width=800,height=500')">
                        <img src="~/Content/Buffet/Convidados/Imagens/icone_imprimir_orcamento.png" width="50" class="spanHover" />
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="row" style=" margin-bottom: 10%; ">
        <ul class="nav nav-tabs row" style=" margin-bottom: 26px; ">
            <li role="presentation" id="tabdetalhes" onclick="TabAtual(this, 'detalhes')" class="active"><a href="javascript:void(o)" style=" font-size: 20px; ">Detalhes</a></li>
            <li role="presentation" id="tabbrindes" onclick="TabAtual(this, 'brindes')"><a href="javascript:void(o)" style=" font-size: 20px; ">Brindes</a></li>
            <li role="presentation" id="tabopcionais" onclick="TabAtual(this, 'opcionais')"><a href="javascript:void(o)" style=" font-size: 20px; ">Opcionais</a></li>
            <li role="presentation" id="tabprecos" onclick="TabAtual(this, 'precos')"><a href="javascript:void(o)" style=" font-size: 20px; ">Preços</a></li>
        </ul>
        <div class="tab-content">
            <div id="detalhes" class="tab-pane fade in active">
                <div class="span12">
                    <div class="span4">
                        <h2>Entrada</h2>

                        Coquetel de frutas e canapés

                        <h2>Salgados</h2>

                        Coxinha de frango com catupiry <br />
                        Bolinha de queijo<br />
                        Bolinha de carne<br />
                        Croquete de carne<br />
                        Croquete de frango<br />
                        Kibe<br />
                        Travesseirinho de presunto e queijo<br />
                        Empada de frango<br />
                        Empada de palmito<br />
                        Esfiha de carne<br />
                        Esfiha de frango com catupiry<br />
                        Esfiha de calabresa<br />


                        <h2>Lanchonete</h2>

                        Batata frita<br />
                        Nuggets<br />
                        Mini hot dog<br />
                        Pão de queijo <br />

                    </div>
                    <div class="span4">

                        <h2>Almoço ou Jantar</h2>

                        Penne ou Spaguette com molho ao sugo<br />
                        E queijo parmesão<br />

                        <h2>Bebidas</h2>

                        Refrigerante primeira linha, água mineral<br />
                        E sucos variados

                        <h2>Bolos</h2>
                        <small style="color:red">(escolher até 02 sabores)</small><br />

                        <h3>Bolo de Chocolate</h3>
                        <small>Mousse de chocolate, brigadeiro, prestigio ou floresta negra</small><br />

                        <h3>Bolo Branco</h3>

                        <small>
                            Ameixa com doce de leite, maracujá, abacaxi com coco,
                            abacaxi com coco e doce de leite, pêssego com doce de leite
                            ou floresta branca.
                        </small>
                    </div>

                    <div class="span4">

                        <h2>Doces</h2>

                        Mini churros<br />
                        Brigadeiro<br />
                        Brigadeiro branco<br />
                        Beijinho<br />
                        Bicho de pé<br />

                        <h2>Encerramento</h2>

                        Café com Petit Four <br />

                        <h2>Incluso no pacote</h2>

                        Toda área de festa com piscina de bolinha,<br />
                        cama elástica, playground, gangorras e escorregador.<br />

                        Convite Online Personalizado no Tema da Festa.<br />

                        Equipe com chefe de cozinha, copeira, atendentes,
                        Recepcionista e gerência.<br />

                    </div>
                </div>
            </div>
            <div id="opcionais" class="tab-pane fade">
                <div class="span12">
                    <div class="span4">
                        <h2>Bebidas Alcoólicas</h2>

                        Cerveja em lata R$ 3,50 cada<br />

                        Vinho, cerveja em lata e licores fornecidos
                        pelo cliente, é cobrado uma taxa de R$ 80,00
                        para servir.<br /><br />

                        <h2>Cardápio</h2>

                        Churrasco com Acompanhamentos<br />
                        e guarnições R$ 20,00 por pessoa.<br />

                        Massas Recheadas R$ 20,00 por pessoa.
                    </div>
                </div>
            </div>
            <div id="precos" class="tab-pane fade">
                <div class="span12">
                    <div class="span4">
                        <h2>Preço</h2>

                        Valor do pacote para 50 pessoas
                        R$ 3.300,00<br />

                        Pessoas adicionais R$ 40,00<br />

                        Crianças até 7 anos não pagam.<br />

                        <h2>Forma de Pagamento</h2>

                        Quatro pagamentos sem juros no boleto<br />
                        ou cartão de crédito.<br />

                        <strong>20% de desconto para pagamento à vista</strong><br />

                        <small style=" font-size: 10px; ">* boleto: somente com vencimento até a data da festa</small><br />

                    </div>
                    <div class="span4">

                        <h2>Considerações Finais</h2>

                        O Buffet estará preparado para receber os
                        convidados 10 minutos antes do horário do
                        início da festa.<br />

                        Ao término das 4 horas, cessam nossos serviços
                        e serão permitidos até 30 minutos de
                        permanência.
                    </div>
                </div>
            </div>
            <div id="brindes" class="tab-pane fade">
                <div class="span12">

                    <h2>Brindes</h2>

                    Mesa temática com painel de bexigas
                    em tela mágica, objetos e personagens no
                    tema da festa.<br />

                    Mesa de guloseimas<br />

                    20 lembrancinhas (entregues para as crianças
                    Presentes na festa).
                </div>
            </div>
        </div>


        @*<div class="span4">
                <div class="icon-box-1 animate visible fadeInUp" data-animation="fadeInUp" style="animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-duration: 1000ms; -webkit-animation-duration: 1000ms;">

                    <img src="/Content/Layout/images/icons/convite_seguro.png" alt="">

                    <div class="icon-box-content">
                        <h3>Segurança</h3>

                        <p>
                            Seus dados e os dados dos seus clientes estão protegidos.
                        </p>

                    </div>

                </div>

            </div>
            <div class="span4">

                <div class="icon-box-1 animate visible fadeInUp" data-animation="fadeInUp" data-animation-delay="400" style="animation-delay: 400ms; -webkit-animation-delay: 400ms; animation-duration: 1000ms; -webkit-animation-duration: 1000ms;">

                    <img src="/Content/Layout/images/icons/poupar.png" alt="">

                    <div class="icon-box-content">

                        <h3>Baixo investimento</h3>

                        <p>
                            Ferramenta ideal para uma estratégia eficiente, de alto retorno e baixo investimento.
                        </p>

                    </div>

                </div>

            </div>
            <div class="span4">

                <div class="icon-box-1 animate visible fadeInUp" data-animation="fadeInUp" data-animation-delay="800" style="animation-delay: 800ms; -webkit-animation-delay: 800ms; animation-duration: 1000ms; -webkit-animation-duration: 1000ms;">

                    <img src="/Content/Layout/images/icons/confiabilidade.png" alt="">

                    <div class="icon-box-content">

                        <h3>Confiabilidade</h3>

                        <p>
                            100% garantido no envio dos convites e ações de matketing

                        </p>

                    </div>

                </div>

            </div>*@
    </div>
</div>
