﻿@using BuffetWeb.Models.Utils
@model BuffetWeb.Models.Orcamento.ListarServicos
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.nome_empresa</title>

    <link href="~/Content/BuffetWeb/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/BuffetWeb/owl-carousel/owl.theme.css">
    <script src="~/Content/BuffetWeb/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/BuffetWeb/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/BuffetWeb/BuffetWebInternal.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <link href="~/Content/Inicio/css/Buffet/Buffet.css" rel="stylesheet" />
    <script src="~/Content/Gerenciador/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="@Html.ArquivoBOOTSTRAP()" rel="stylesheet">
    <!-- Styles -->
    <link href="~/Content/BuffetWeb/css/endless.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@Html.ArquivoCSS()" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/Gerenciador/#">
</head>
<body>
    @{
        var categorias = ""; 
    }
    @*@foreach (var categoria in Model.categorias)
    {
        //categorias = string.Format("{0},{1}", categorias, categoria.nome);
        //quantidades = string.Format("{0},{1}", quantidades, Model.servicos.Where(c => c.ITENS_SERVICOS.CATEGORIA_SERVICOS.id == categoria.id).ToList().Count);

        <div class="modal fade" id="@categoria.nome" data-backdrop="static" data-keyboard="false" tabindex="-1">
            <div class="@string.Format("modal-dialog {0}", categoria.ITENS_SERVICOS.Count == 1 ? "" : "modal-lg")" style="@string.Format("{0}", categoria.ITENS_SERVICOS.Count == 1 ? "width: 450px;" : "")">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">@categoria.nome</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            @foreach (var servico in Model.servicos.Where(c => c.ITENS_SERVICOS.CATEGORIA_SERVICOS.id == categoria.id).ToList())
                            {
                                <div id="@string.Format("owl-demo-{0}", categoria.nome)" class="owl-carousel">
                                    <div class="item">
                                        <div class="col-md-12">
                                            <a href="javascript:void(o)" onclick="SelecionaServico(this, '@servico.ITENS_SERVICOS.nome.Replace(" ", "")', @servico.ITENS_SERVICOS.id)">
                                                <input type="hidden" id="@servico.ITENS_SERVICOS.id" data-id="@servico.ITENS_SERVICOS.id" data-brinde="@servico.brinde" data-valor="@(servico.ITENS_SERVICOS.valor_venda * servico.quantidade)" value="@string.Format("{0}", servico.mostrar_servico == false? "true": "false")" />
                                                @if (servico.mostrar_servico)
                                                {
                                                    <div class="ribbon-wrapper" id="@string.Format("{0}{1}", servico.ITENS_SERVICOS.nome.Replace(" ", ""), servico.ITENS_SERVICOS.id)"> </div>
                                                }
                                                else
                                                {
                                                    <div class="ribbon-wrapper" id="@string.Format("{0}{1}", servico.ITENS_SERVICOS.nome.Replace(" ", ""), servico.ITENS_SERVICOS.id)">
                                                        @if (servico.brinde)
                                                        {
                                                            <div class="ribbon-inner shadow-pulse bg-danger" style=" font-size: 10px; ">Brinde</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="ribbon-inner shadow-pulse bg-warning" style=" font-size: 10px; ">Selecionado</div>
                                                        }
                                                    </div>
                                                }
                                                <img src="@servico.ITENS_SERVICOS.url_image" style="height:180px">
                                            </a>
                                            <h3 class="text-center">@servico.ITENS_SERVICOS.nome</h3>
                                            <h4 class="text-center">
                                                @if (servico.brinde)
                                                {
                                                    <strong> De <s>R$ @( servico.ITENS_SERVICOS.valor_venda * servico.quantidade)</s> Por R$ 0</strong>
                                                }
                                                else
                                                {
                                                    <strong> R$ @( servico.ITENS_SERVICOS.valor_venda * servico.quantidade)</strong>
                                                }
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@

    <input type="hidden" id="servicos-carrocel" value="@categorias" />
    @*<input type="hidden" id="servicos-quantidade" value="@quantidades" />*@

    <div class="modal fade bs-example-modal-sm" id="confirmaRemocao" data-backdrop="static" data-keyboard="false" tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style=" width: 470px; margin-top: 20%; ">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 style=" text-align: center; ">@Html.orcamento().CLIENTE.nome, este item é um brinde, deseja mesmo não incluir no Evento?</h2>
                    <div style=" text-align: center; ">
                        <button type="button" onclick="ConfirmarRemocao()" class="btn btn-success">Sim, Confirmo!</button>
                        <button type="button" onclick="javascript: $('#confirmaRemocao').modal('hide');" class="btn btn-info">Cancelar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="logo">
                        <h1><img src="@Html.LogoEmpresa()" /></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content blocky">
        <div class="page-content blocky">
            <div class="container">
                <div class="row col-md-12">
                    <div class="page-title form-group">
                        <h2><i class="fa fc-draggable color"></i> Orçamento Online <small>// Escolha os serviços para seu evento!</small></h2>
                        <div class="col-md-3 pull-right" style="margin-top: -30px; ">
                            <form action="/Orcamento/ItensDeAluguel" class="form-inline" method="post">
                                <input type="hidden" name="id_cardapio" id="id_cardapio" value="" />
                                <input type="submit" class="btn btn-success pull-right col-md-6" value="Prosseguir" style="margin-left: 10px;margin-right:-15px;">
                                <a href="javascript:window.history.back()" class="btn btn-default pull-right col-md-5">Voltar</a>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-12 panel panel-body">
                        @{
                            var orcamento = Html.orcamento();
                        }
                        <div class="thumbnail col-sm-2">
                            <img src="@orcamento.EVENTO.url">
                            <div>
                                <h3 class="caption text-center">@orcamento.EVENTO.nome</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h1>@orcamento.CLIENTE.nome</h1>
                            <small>Número de orçamento @orcamento.codigo_unico</small>
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right">
                                @if (orcamento.id_tipo_servico == 3)
                                {
                                    <h3>Valor do Espaço</h3>
                                    <h4 class="text-right">@string.Format("R$ {0} {1}", orcamento.LOCAL_EVENTO.valor, orcamento.LOCAL_EVENTO.porEspaco ? "" : "Por Pessoa")</h4>
                                }
                                else
                                {
                                    <h3>Valor Total</h3>
                                    <h4>R$ orcamento.LOCAL_EVENTO.valor</h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <h2>SERVIÇOS</h2>
                <h4>Aqui você pode contratar todos os serviços adicionais para seu evento.</h4>
                <div id="owl-demo" class="owl-carousel">
                    @foreach (var categoria in Model.categorias)
                    {
                        <div class="item">
                            <div class="thumbnail col-sm-11">
                                <a href="javascript:void(o)">
                                    <img src="@categoria.url_image" style="height:180px">
                                </a>
                                <div>
                                    <h3 class="text-center">@categoria.nome</h3>
                                    <div class="form-group col-sm-12">
                                        <input type="button" data-target="#@categoria.nome" data-toggle="modal" class="btn btn-primary btn-block" value="Detalhes" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
