﻿@model BuffetWebData.Models.ORCAMENTO
@{
    ViewBag.Title = "Visualizar Orcamento";
}

<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidey">
                    <ul class="nav">
                        <li>
                            <a href="#"><i class="fa fa-home"></i> Orcamento</a>
                        </li>
                        @if (Model.status.Equals("PAGAMENTO EFETUADO"))
                        {
                            <li><a href="/Convidados/ListaDeConvidados"><i class="fa fa-bar-chart-o"></i>Convite Online</a></li>
                        }
                        <li><a href="/Orcamento/VisualizarOrcamento"><i class="fa fa-calendar"></i> Visualizar Orçamento</a></li>
                        <li><a href="/Orcamento/InformacoesPessoais"><i class="fa fa-th"></i> Fazer Pagamento</a></li>
                        @if (Model.VISITAS.Where(a => a.status_visita.Equals("AGENDADO")).FirstOrDefault() != null)
                        {
                            <li><a href="/Orcamento/AgendarVisita"><i class="fa fa-camera"></i> Agendar visita</a></li>
                        }
                        else
                        {
                            <li><a href="/Orcamento/AgendarVisita"><i class="fa fa-camera"></i> Editar visita</a></li>
                        }
                        @if (Model.status.Equals("PAGAMENTO EFETUADO"))
                        {
                            <li><a href="/Orcamento/InformacoesPessoais"><i class="fa fa-camera"></i> Visualizar Contrato</a></li>
                        }
                        else
                        {
                            <li><a href="/Orcamento/InformacoesPessoais"><i class="fa fa-camera"></i> Fechar Pedido</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="page-title">
                    <h2><i class="fa fa-home color"></i> Olá @Model.nome <small></small></h2>
                </div>
                <div class="awidget full-width">
                    <div class="row" style=" padding: 37px; ">
                        <div class="col-md-12">
                            @if (Model.ORCAMENTO_ITENS != null)
                            {
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Prato Principal
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                @foreach (var principal in Model.ORCAMENTO_ITENS)
                                                { 
                                                    <img src="..." alt="..." class="img-thumbnail">
                                                    <label>@principal..</label>
                                                } 
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
