﻿@model BuffetWebData.Models.LOCAL_EVENTO
@using BuffetWebPortal.Helpers

@{
    var endereco = Model.ENDERECO;
    var imagensParceiro = Html.ImagensParceiro(Request);
    //var comentariosParceiro = Html.ComentariosParceiro(Request);
}

<input type="hidden" id="parceiro" data-autenticacao="@Model.autenticacao" />
<script src="~/Content/BuffetWebPortal/Script/Parceiro/Parceiro.js"></script>

<div class="wpf-container">
    <div id="pfmaincontent" class="wpf-container-inner">
        @*<section role="itempagemapheader" class="pf-itempage-mapheader">
                <div class="pfheaderbarshadow2"></div><div id="item-map-page"></div>
            </section>*@

        <div class="pf-fullwidth pf-itempage-br-xm">
            <div class="pf-container">
                <div class="pf-row">
                    <div class="pf-container clearfix">
                        <div class="pf-row clearfix">
                            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <div class="pf-item-title-bar">
                                    <span class="pf-item-title-text">@Model.nome</span>
                                </div>
                                <div class="pf-itempagedetail-element pf-tabfirst">
                                    <div class="pf-itempage-firsttab">
                                        <div class="ui-tab1">
                                            <div class="pf-container">
                                                <div class="pf-row">
                                                    <div class="col-lg-4 col-md-4 col-sm-3">
                                                        <img src='@imagensParceiro.FirstOrDefault().url' alt="@Model.nome" class="itp-featured-img" />
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                                        <section class="pf-itempage-details-block pf-itempage-elements">
                                                            <div class="pf-itempage-details">
                                                                <div class="pfdetailitem-subelement pf-onlyitem clearfix">
                                                                    <span class="pf-ftitle">Endereço: </span>
                                                                    <span class="pfdetail-ftext">
                                                                        @string.Format("{0}, {1}", endereco.endereco1, endereco.numero)
                                                                    </span>
                                                                </div><div class="pfdetailitem-subelement pf-onlyitem clearfix">
                                                                    <span class="pf-ftitle">Bairro / Cidade : </span>
                                                                    <span class="pfdetail-ftext">
                                                                        @string.Format("{0} - {1}", endereco.bairro, endereco.cidade)
                                                                    </span>
                                                                </div>
                                                                <div class="pfdetailitem-subelement pf-onlyitem clearfix">
                                                                    <span class="pf-ftitle">CEP : </span>
                                                                    <span class="pfdetail-ftext">@endereco.cep</span>
                                                                </div>
                                                                <div class="pfdetailitem-subelement pf-onlyitem clearfix">
                                                                    <span class="pf-ftitle">Telefone : </span>
                                                                    <span class="pfdetail-ftext"><a href="tel:123 1234 123">@Model.EMPRESA.telefone</a></span>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-itempage-sharebar clearfix hidden-print pf-itempagedetail-element golden-forms">
                                    <ul class="pf-sharebar-icons clearfix">
                                        @foreach (var social in Model.EMPRESA.EMPRESA_SOCIAL)
                                        {
                                            <li>
                                                <a href="@social.url" target="_blank">
                                                    <img style=" width: 40px; margin-top: -12px; " src="@string.Format("http://www.buffetweb.com/Sites/Sistema/Social/{0}.png", social.plataforma)" alt="@social.plataforma" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <ul class="pf-sharebar-others">
                                        <li>
                                            <a class="pf-favorites-link" onclick="Favoritar()" data-pf-num="75" data-pf-active="false" data-pf-item="true" title="Adicione aos Favoritos">
                                                <i class="pfadmicon-glyph-376"></i>
                                                <span class="hidden-xs hidden-sm">Adicionar aos Favoritos</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="pf-report-link" data-pf-num="75" onclick="Denunciar()">
                                                <i class="pfadmicon-glyph-485"></i>
                                                <span class="hidden-xs hidden-sm">Denunciar</span>
                                            </a>
                                        </li>

                                        <li class="hidden-xs hidden-sm">
                                            <a onclick="javascript:window.print();">
                                                <i class="pfadmicon-glyph-388"></i> Imprimir
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pftabcontainer  pf-itempagedetail-element">
                                    <div class="ui-tabgroup">
                                        <input class="ui-tab2" type="radio" id="tgroup_f_tab2" name="tgroup_f" checked />
                                        <input class="ui-tab4" type="radio" id="tgroup_f_tab4" name="tgroup_f" /><input class="ui-tab5" type="radio" id="tgroup_f_tab5" name="tgroup_f" />
                                        <input class="ui-tab6" type="radio" id="tgroup_f_tab6" name="tgroup_f" /><div class="ui-tabs">
                                            <label id="pfidpinformationbox" class="ui-tab2 hidden-print" for="tgroup_f_tab2">
                                                <span class="pfitp-title">Informações</span>
                                            </label><label id="pfidpgallery" class="ui-tab4 hidden-print" for="tgroup_f_tab4">
                                                <span class="pfitp-title">Fotos</span>
                                            </label>
                                        </div>
                                        <div class="ui-panels">
                                            <div class="ui-tab2 uix-tabx-desc">
                                                <div class="pf-container">
                                                    <div class="pf-row">
                                                        <div class="col-lg-3">
                                                            <section class="pf-itempage-ohours-block pf-itempage-elements">
                                                                <div class="pf-itempage-subheader">Horário de Atendimento</div><div class="pf-itempage-ohours">
                                                                    <ul>
                                                                        <li>10:00 - 17:00</li>
                                                                    </ul>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="col-lg-9 pf-offsetarea">
                                                            <section class="pf-itempage-desc-block pf-itempage-elements">
                                                                <div class="pf-itempage-desc descexpf">
                                                                    <p>
                                                                        O Buffet Universo dos Sonhos mantém uma infraestrutura moderna e montada especialmente para atender tanto eventos infantis, como sociais, empresariais, casamentos e debutantes.

                                                                        Temos uma área de 1.000m2, toda ampla, sem escadas e com visão total para os seus convidados.

                                                                        Contamos com profissionais altamente especializados, uniformizados e treinados a executar eventos inesquecíveis.

                                                                        Elaboramos um cardápio com produtos de primeira qualidade, o que é primordial em seu paladar.

                                                                        O Buffet Universo dos sonhos que tem a aparência de um castelo medieval, com capacidade para até 250 pessoas.
                                                                    </p>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="ui-tab4">
                                                <section class="pf-itempage-gallery pf-itempage-elements">
                                                    <div id="pf-itempage-gallery">
                                                        <div class="visible-print">
                                                            <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Metropolitan_Museum_of_Art_entrance_NYC.jpg' alt='' />
                                                        </div>
                                                        <ul id="pfitemdetail-slider" class="owl-carousel hidden-print">
                                                            <li class='item'>
                                                                <a href='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/3175799230_06bd0022d6_b.jpg' rel='prettyPhoto'>
                                                                    <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/3175799230_06bd0022d6_b.jpg' alt='' />
                                                                </a>
                                                            </li>
                                                            <li class='item'>
                                                                <a href='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Metropolitan_Museum_of_Art_entrance_NYC.jpg' title='Big Shopping Centre' rel='prettyPhoto'>
                                                                    <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Metropolitan_Museum_of_Art_entrance_NYC.jpg' alt='' />
                                                                </a>
                                                            </li>
                                                            <li class='item'>
                                                                <a href='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Wendy_byHWKN_2.jpg' title='Big Shopping Centre' rel='prettyPhoto'>
                                                                    <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Wendy_byHWKN_2.jpg' alt='' />
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <ul id="pfitemdetail-slider-sub" class="owl-carousel hidden-print hidden-xs">
                                                            <li class='item'>
                                                                <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/3175799230_06bd0022d6_b.jpg' width='1024' height='683' alt='' />
                                                            </li>
                                                            <li class='item'>
                                                                <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Metropolitan_Museum_of_Art_entrance_NYC-150x150.jpg' width='150' height='150' alt='' />
                                                            </li>
                                                            <li class='item'>
                                                                <img src='http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2015/01/Wendy_byHWKN_2-150x150.jpg' width='150' height='150' alt='' />
                                                            </li>
                                                        </ul>
                                                        <script type="text/javascript">
                                                            (function ($) {
                                                                "use strict";
                                                                $(document).ready(function () {

                                                                    var sync1 = $("#pfitemdetail-slider");
                                                                    var sync2 = $("#pfitemdetail-slider-sub");

                                                                    sync1.owlCarousel({
                                                                        singleItem: true,
                                                                        slideSpeed: 1000,
                                                                        transitionStyle: "fadeUp",
                                                                        navigation: true,
                                                                        autoHeight: true,
                                                                        responsive: true,
                                                                        pagination: false,
                                                                        itemsScaleUp: false,
                                                                        navigationText: false,
                                                                        theme: "owl-theme",
                                                                        afterAction: syncPosition,
                                                                        responsiveRefreshRate: 200,
                                                                    });

                                                                    sync2.owlCarousel({
                                                                        pagination: false,
                                                                        autoHeight: false,
                                                                        responsiveRefreshRate: 100,
                                                                        navigation: true,
                                                                        responsive: true,
                                                                        itemsScaleUp: false,
                                                                        navigationText: false,
                                                                        theme: "owl-theme",
                                                                        itemSpaceWidth: 10,
                                                                        singleItem: false,
                                                                        items: 7,
                                                                        itemsDesktop: [1024, 5],
                                                                        itemsDesktopSmall: [979, 4],
                                                                        itemsTablet: [768, 6],
                                                                        itemsTabletSmall: [638, 5],
                                                                        itemsMobile: [479, 3],
                                                                        afterInit: function (el) {
                                                                            el.find(".owl-item").eq(0).addClass("synced");
                                                                        }
                                                                    });

                                                                    function syncPosition(el) {
                                                                        var current = this.currentItem;
                                                                        $("#pfitemdetail-slider-sub")
                                                                          .find(".owl-item")
                                                                          .removeClass("synced")
                                                                          .eq(current)
                                                                          .addClass("synced")
                                                                        if ($("#pfitemdetail-slider-sub").data("owlCarousel") !== undefined) {
                                                                            center(current)
                                                                        }
                                                                    }

                                                                    $("#pfitemdetail-slider-sub").on("click", ".owl-item", function (e) {
                                                                        e.preventDefault();
                                                                        var number = $(this).data("owlItem");
                                                                        sync1.trigger("owl.goTo", number);
                                                                    });

                                                                    function center(number) {
                                                                        var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
                                                                        var num = number;
                                                                        var found = false;
                                                                        for (var i in sync2visible) {
                                                                            if (num === sync2visible[i]) {
                                                                                var found = true;
                                                                            }
                                                                        }

                                                                        if (found === false) {
                                                                            if (num > sync2visible[sync2visible.length - 1]) {
                                                                                sync2.trigger("owl.goTo", num - sync2visible.length + 2)
                                                                            } else {
                                                                                if (num - 1 === -1) {
                                                                                    num = 0;
                                                                                }
                                                                                sync2.trigger("owl.goTo", num);
                                                                            }
                                                                        } else if (num === sync2visible[sync2visible.length - 1]) {
                                                                            sync2.trigger("owl.goTo", sync2visible[1])
                                                                        } else if (num === sync2visible[0]) {
                                                                            sync2.trigger("owl.goTo", num - 1)
                                                                        }

                                                                    }

                                                                });
                                                            })(jQuery);
                                                        </script>
                                                    </div>
                                                </section>
                                            </div><div class="ui-tab5"><section class="pf-itempage-maparea pf-itempage-elements"><div id="pf-itempage-header-map"></div></section></div><div class="ui-tab6"><section class="pf-itempage-maparea pf-itempage-elements"><div id="pf-itempage-header-streetview"></div></section></div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="pftrwcontainer hidden-print pf-itempagedetail-element pf-itempage-contactinfo">
                                        <div class="pfitempagecontainerheader">Site Owner</div>
                                        <div class="pfmaincontactinfo">
                                            <div class="ui-tab8 hidden-print">
                                                <section role="itempagesidebarinfo" class="pf-itempage-sidebarinfo pfpos2 pf-itempage-elements">
                                                    <div id="pf-itempage-sidebarinfo">
                                                        <div class="pf-row clearfix">
                                                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pfcols"><div class="pf-itempage-sidebarinfo-photo"><a href="http://pointfindertheme.com/directory/author/pfadmin/"><img width="250" height="233" src="http://pointfindertheme.com/directory/wp-content/uploads/sites/5/2014/12/solidsociety1-250x233.jpg" class="attachment-medium" alt="solidsociety" /></a></div></div><div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pfcols">
                                                                <div class="pf-itempage-sidebarinfo-userdetails pfpos2">
                                                                    <ul><li class="pf-itempage-sidebarinfo-elurl pf-itempage-sidebarinfo-elitem"><a href="tel:001 123 123 23 32" target="_blank" rel="nofollow"><i class="pfadmicon-glyph-765"></i> 001 123 123 23 32</a></li><li class="pf-itempage-sidebarinfo-elurl pf-itempage-sidebarinfo-elitem"><a href="tel:001 123 123 23 32" target="_blank" rel="nofollow"><i class="pfadmicon-glyph-351"></i> 001 123 123 23 32</a></li><li class="pf-itempage-sidebarinfo-elurl pf-itempage-sidebarinfo-elitem"><a href="mailto:info@webbudesign.com" target="_blank" rel="nofollow"><i class="pfadmicon-glyph-823"></i> info@webbudesign.com</a></li><li class="pf-itempage-sidebarinfo-elurl pf-itempage-sidebarinfo-elitem"><a href="http://www.pointfindertheme.com" target="_blank" rel="nofollow"><i class="pfadmicon-glyph-434"></i> http://www.pointfindertheme.com</a></li></ul>
                                                                </div>
                                                            </div><div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 pfcols">
                                                                <script type="text/javascript">(function ($) { "use strict"; })(jQuery);</script>
                                                                <div class="golden-forms">
                                                                    <div id="pfmdcontainer-overlaynew" class="pftrwcontainer-overlay"></div>
                                                                    <form id="pf-ajax-enquiry-form">
                                                                        <div class="pfsearchformerrors"><ul></ul><a class="button pfsearch-err-button">CLOSE</a></div>
                                                                        <div class="row"><div class="col6 first"><section style="margin-bottom: 10px;"><label class="lbl-ui"><input type="text" name="name" class="input" placeholder="Name  &amp; Surname" /></label></section></div><div class="col6 last"><section style="margin-bottom: 10px;"><label class="lbl-ui"><input type="email" name="email" class="input" placeholder="Email Address" /></label></section>  </div></div>
                                                                        <section style="margin-bottom: 10px;"><label class="lbl-ui"><textarea name="msg" class="textarea no-resize" placeholder="Message"></textarea></label></section>
                                                                        <section style="margin-bottom: 10px;"><div id="recaptcha_div_mod"><div id="g_recaptcha_agentcontact" class="g-recaptcha-field" data-rekey="widgetIdagentcontact"></div></div></section>
                                                                        <section style="margin-bottom: 10px;"><input type="hidden" name="itemid" class="input" value="75" /><button id="pf-ajax-enquiry-button" class="button blue">Send Contact Form</button></section>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>*@
                                <div id="pftrwcontainer" class="pftrwcontainer pfrevformex golden-forms hidden-print pf-itempagedetail-element">
                                    <div id="pftrwcontainer-overlay" class="pftrwcontainer-overlay"></div><div class="pfitempagecontainerheader">Faça a sua avaliação</div>
                                    <script type='text/javascript'>
                                        (function ($) {
                                            "use strict";



                                            $('#pf-review-submit-button').live('click', function () {

                                                var form = $('#pf-review-form');
                                                var pfsearchformerrors = form.find(".pfsearchformerrors");

                                                form.validate({
                                                    debug: true,
                                                    onfocus: false,
                                                    onfocusout: false,
                                                    onkeyup: false,
                                                    rules: {
                                                        rating0: "required", rating1: "required", rating2: "required", name: "required",
                                                    },
                                                    messages: {
                                                        rating0: "Criteria 1 review required", rating1: "Criteria 2 review required", rating2: "Criteria 3 review required", name: "Please write your name",
                                                    },
                                                    validClass: "pfvalid",
                                                    errorClass: "pfnotvalid pfadmicon-glyph-858",
                                                    errorElement: "li",
                                                    errorContainer: pfsearchformerrors,
                                                    errorLabelContainer: $("ul", pfsearchformerrors),
                                                    invalidHandler: function (event, validator) {
                                                        var errors = validator.numberOfInvalids();
                                                        if (errors) {
                                                            pfsearchformerrors.show("slide", { direction: "up" }, 100);
                                                            form.find(".pfsearch-err-button").click(function () {
                                                                pfsearchformerrors.hide("slide", { direction: "up" }, 100);
                                                                return false;
                                                            });
                                                        } else {
                                                            pfsearchformerrors.hide("fade", 300);
                                                        }
                                                    }
                                                });


                                                if (form.valid()) {
                                                    $.pfReviewwithAjax(form.serialize());
                                                }
                                                return false;
                                            });

                                        })(jQuery);

                                    </script>
                                </div>
                                <div class="pftrwcontainer hidden-print pf-itempagedetail-element">
                                    <div class="pfitempagecontainerheader">Comentários</div><div class="pfmainreviewinfo" itemscope="" itemtype="http://schema.org/Review">
                                        <div class="pf-row clearfix">
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <div class="pfreviewscore">
                                                    <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating"><span itemprop="ratingValue">3.3</span></div>
                                                    <span class="pfreviewscoretext">Total Score</span>
                                                    @*<span class="pfreviewusers">@comentariosParceiro.Count Comentários</span>*@

                                                    <meta itemprop="itemReviewed" content="Car Rental">
                                                    <meta itemprop="author" content="Site Owner">
                                                </div>
                                            </div><div class="col-lg-10 col-md-9 col-sm-8">
                                                <div class="pfreviewcriterias">
                                                    <span class="pf-rating-block clearfix">
                                                        <span class="pf-rev-stars"><i class="pfadmicon-glyph-377"></i><i class="pfadmicon-glyph-377"></i><i class="pfadmicon-glyph-377"></i><i class="pfadmicon-glyph-378 nostarp"></i><i class="pfadmicon-glyph-378 nostarp"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="pfreviews golden-forms">
                                        <ul>
                                            @foreach (var comentario in comentariosParceiro)
                                            {
                                                <li class="pf-row clearfix">
                                                    <div class="pfreview-body clearfix">
                                                        <div class="col-lg-1 col-md-3 col-sm-4">
                                                            <div class="review-author-image">
                                                                <img alt="" src="@string.Format("{0}", comentario.CLIENTE_PERFIL_PORTAL.url ?? "http://0.gravatar.com/avatar/0eb178cec364c022a189c3814e5f7483?s=128&amp;d=mm&amp;r=g")"
                                                                     class="avatar avatar-128 photo" height="128" width="128">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-11 col-md-9 col-sm-8">
                                                            <div class="review-details-container">
                                                                <div class="review-author-vcard">
                                                                    @comentario.CLIENTE_PERFIL_PORTAL.nome
                                                                </div>
                                                                <div class="pfreview-meta">@comentario.desde.ToShortDateString()</div>
                                                                <div class="pfreview-textarea"><p>@comentario.comentario</p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>*@
                                    
                                    <div class="pfstatic_paginate"></div>
                                </div>
                                <div id="respond" class="comment-respond golden-forms">
                                    <h3 id="reply-title" class="comment-reply-title">Deixe um comentário <small><a rel="nofollow" id="cancel-comment-reply-link" href="/directory/places/car-rental/#respond" style="display:none;">Cancel reply</a></small></h3>
                                    <section>
                                        <label class="lbl-ui">
                                            <input type="hidden" id="avaliacao" value="1" />
                                            <textarea id="comentario" class="textarea" placeholder="Seu comentário"></textarea>
                                        </label>
                                    </section>
                                    <p class="form-submit">
                                        <input type="submit" class="submit button" onclick="AvaliarParceiro()" value="Postar Comentário" />
                                    </p>
                                </div>
                            </div>


                            <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=en&onload=PFFonloadCallback&render=explicit" async defer></script><div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-print">
                                <section class="pf-itempage-sidebar">
                                    <div id="pf-itempage-sidebar">
                                        <div class="sidebar-widget">
                                            <div id="pf_search_items_w-3" class="widget_pfitem_recent_entries">
                                                <div class="pfwidgettitle">
                                                    <div class="widgetheader">Faça uma Cotação</div>
                                                </div>
                                                <div class="pfwidgetinner">

                                                    <div class="pfsearch-content golden-forms">
                                                        <div class="pfsearchformerrors">
                                                            <ul></ul>
                                                            <a class="button pfsearch-err-button">CLOSE</a>
                                                        </div>
                                                        @*<label class="lbl-ui">
                                                            <input type="text" required id="nome" value="@ViewBag.nome" class="input" placeholder="Nome" />
                                                            <input type="text" required id="email" value="@ViewBag.email" class="input" placeholder="E-mail" />
                                                            <input type="text" required id="celular" value="@ViewBag.celular" class="input" placeholder="Celular" />
                                                            <input type="text" id="telefone" value="@ViewBag.telefone" class="input" placeholder="Telefone fixo" />
                                                        </label>*@

                                                        <label class="lbl-ui">
                                                            <select id="tipoFesta" class="select2-container select2-allowclear" required>
                                                                <option value="">Tipo De Festa</option>
                                                                <option value="Infantil">Infantil</option>
                                                            </select>
                                                            <select id="tipoFesta" class="select2-container select2-allowclear" required>
                                                                <option value="">Horario</option>
                                                                <option value="Almoço">Almoço</option>
                                                                <option value="Jantar">Jantar</option>
                                                            </select>
                                                        </label>

                                                        <input type="text" required id="quantidadeConvidados" class="input" placeholder="Nº Convidados" />
                                                        <input type="date" required id="DataFesta" class="input" placeholder="Data da Festa" />
                                                        <a class="button pfsearch" onclick="EnviarCotacao()">
                                                            <i class="pfadmicon-glyph-627"></i>Enviar Cotação
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
