﻿@model ICollection<BuffetDataManager.Models.LOCAL_EVENTO>
@using BuffetWeb.Helpers
@{
    var hasModuloPortal = Html.Modulos(Modulo.Portal);
}

<script src="~/Content/Script/Buffet/Ajustes/LocalEvento.js"></script>

<div class="modal fade" id="removerImagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Remover Imagem</h3>
            </div>
            <div class="modal-footer">
                <input type="button" id="idImagem" class="btn btn-danger btn-block" onclick="RemoverImagem(this)" data-dismiss="modal" data-sequencia="" value="Sim" />
                <input type="button" class="btn btn-success btn-block" data-dismiss="modal" value="Cancelar" />
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Local do Evento
    </div>
    <div class="panel-body">
        @foreach (var local in Model.Select((value, i) => new { i, value }))
        {
            <div id="@string.Format("localEvento_{0}", local.i)" style="display: @string.Format("{0}", local.i > 0 ? (ViewBag.autenticacao == null ? "none" : local.value.autenticacao.Equals((string)ViewBag.autenticacao) ? "block" : "none") : (ViewBag.autenticacao == null ? "block" : local.value.autenticacao.Equals((string)ViewBag.autenticacao) ? "block" : "none"))">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="@string.Format("#local_evento_{0}", local.i)" aria-controls="home" role="tab" data-toggle="tab">Local do Evento</a></li>
                    <li role="presentation"><a href="@string.Format("#imagens_{0}", local.i)" aria-controls="home" role="tab" data-toggle="tab">Imagens</a></li>
                    <li role="presentation"><a href="@string.Format("#comentarios_{0}", local.i)" aria-controls="profile" role="tab" data-toggle="tab">Comentários</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="@string.Format("local_evento_{0}", local.i)">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Nome</h5>
                                    @local.value.nome
                                </div>
                                <div class="col-md-4">
                                    <h5>Telefone</h5>
                                    @local.value.telefone
                                </div>
                                <div class="col-md-4">
                                    <h5>Pagante a partir</h5>
                                    @string.Format("{0} ano{1}", local.value.idade_minima_pagante, local.value.idade_minima_pagante > 1 ? "s" : "")
                                </div>
                                <div class="col-md-4">
                                    <h5>Horario Almoço</h5>
                                    @string.Format("De {0} até {1}", local.value.horario_inicio_almoco, local.value.horario_fim_almoco)
                                </div>
                                <div class="col-md-4">
                                    <h5>Horario Jantar</h5>
                                    @string.Format("De {0} até {1}", local.value.horario_inicio_jantar, local.value.horario_fim_jantar)
                                </div>
                                <div class="col-md-4">
                                    <h5>Região</h5>
                                    @local.value.regiao
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="@string.Format("imagens_{0}", local.i)">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @{
            int sequencia = 0;
            for (int i = 0; i < 3; i++)
            {
                <div class="row" style=" margin-bottom: 15px; ">
                    @for (int x = 0; x < 4; x++, sequencia++)
                    {
                        <div class="col-md-3">
                            <img class="img-thumbnail" style=" width: 300px; height: 200px; " src="@string.Format("http://www.buffetweb.com/Sites/Arquivos/Empresas/{0}/LocalEvento/{1}_{2}.png", Html.NOME_EMPRESA_FTP(), local.value.id, sequencia)" id="@string.Format("imagem_{0}", sequencia)" width="120" height="150" />
                        </div>
                    }
                </div>
            }
                                }
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="@string.Format("comentarios_{0}", local.i)">
                        <div class="panel-body">
                            @if (local.value.LOCAL_EVENTO_COMENTARIOS.Where(e => e.analisado == true).ToList().Count != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Nome Cliente</td>
                                            <td>Email</td>
                                            <td>Celular</td>
                                            <td align="right"></td>
                                        </tr>
                                    </thead>
                                    @foreach (var comentario in local.value.LOCAL_EVENTO_COMENTARIOS.Where(e => e.analisado == true).ToList())
                                    {
                                        <tr id="@string.Format("comentario_{0}", comentario.id)">
                                            <td>@comentario.avaliacao</td>
                                            <td>@comentario.PORTAL_CLIENTE_PERFIL.nome</td>
                                            <td>@Html.isEmail(comentario.PORTAL_CLIENTE_PERFIL.email, comentario.PORTAL_CLIENTE_PERFIL.nome)</td>
                                            <td>@Html.isCelular(comentario.PORTAL_CLIENTE_PERFIL.celular, comentario.PORTAL_CLIENTE_PERFIL.nome)</td>
                                            <td>@comentario.comentario</td>
                                            <td>
                                                <a href="javascript:void(o)" onclick="RemoverComentario(this, '@comentario.id', '@local.value.autenticacao')">
                                                    <img class="pull-right" src="~/Content/Buffet/Orcamento/Imagens/icone_remover_conta.png" style=" width: 30px; " />
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                            else
                            {
                                <h2 class="text-center">Nenhum comentário</h2>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Locais de Evento
                    <span class="label label-info pull-right">@Model.Count Locais</span>
                </div>
                <div class="padding-md clearfix">
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Capacidade</th>
                                <th>Endereço</th>
                                <th width="50"></th>
                            </tr>
                        </thead>
                        @foreach (var l in Model.Select((value, i) => new { i, value }))
                        {
                            <tr>
                                <td>@l.value.nome</td>
                                <td>@l.value.capacidade</td>
                                <td>@l.value.ENDERECO.endereco1</td>
                                <td>
                                    <a href="javascript:void(o)" onclick="SelecionarLocal(this, '@l.i', '@Model.Count')">
                                        <img src="~/Content/Buffet/Orcamento/Imagens/icone_editar.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

