﻿@model BuffetWebManager.Models.Itens.NovoItem
@using BuffetWeb.Helpers

<script src="~/Content/Buffet/Estoque/Estoque.js"></script>
<script src="~/Content/Buffet/Script/Pacotes/PacoteAtual.js"></script>
<script src="~/Content/Buffet/Estoque/EstoqueEditar.js"></script>

<div class="modal fade bs-example-modal-lg" id="item_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">Item </h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" id="imagem_diversos" />
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h5>Nome</h5>
                            <h3 id="nome_item"></h3>
                        </div>
                        <div class="col-md-12">
                            <h5> rendimento</h5>
                            <h3 id="rendimento_item"></h3>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Venda</label>
                            <h5 id="valorvenda_item"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modal_ingredientes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">Ingredientes</h3>
            </div>
            <div class="modal-body"> 
                <div class="panel-body">
                    <div class='alert alert-info' role='alert' style="display: none" id="alerta_ingrediente">
                        <strong>Atenção</strong> Atualize a pagina para listar o ultimo ingrediente cadastrado!
                    </div>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>Qtd. Embalagem</td>
                                    <td>Und. Medida</td>
                                    <td>Valor Custo</td>
                                    <td></td>
                                </tr>
                            </thead>
                            @foreach (var ingrediente in Model.ingredientes.OrderBy(a => a.marca).ToList())
                            {
                            <tr>
                                <td>@ingrediente.marca</td>
                                <td>@ingrediente.quantidade_embalagem</td>
                                <td>@ingrediente.UNIDADE_MEDIDA.nome</td>
                                <td>@ingrediente.valor_custo</td>
                                <td>
                                    <input type="button" class="btn btn-success btn-xs" onclick="EditarIngrediente(this, @ingrediente.id)" value="Editar" />
                                </td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modal_subcategorias" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <div class="modal-header">
                <h3 class="text-center">Sub-Categorias</h3>
            </div>
            <div class="modal-body"> 
                <div class="panel-body">
                    <div class='alert alert-info' role='alert' style="display: none" id="alerta_ingrediente">
                        <strong>Atenção</strong> Atualize a pagina para listar a ultima sub-categoria cadastrada!
                    </div>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Categoria</td>
                                    <td>Sub-Categoria</td>
                                    <td>Und. Medida</td>
                                    <td>Rend. Pessoa</td>
                                    <td></td>
                                </tr>
                            </thead>
                            @foreach (var subCategoria in Model.sub_categoria)
                            {
                            <tr>
                                <td>@subCategoria.CATEGORIA_ITENS.nome</td>
                                <td>@subCategoria.nome</td>
                                <td>@subCategoria.UNIDADE_MEDIDA.nome</td>
                                <td>@subCategoria.rendimento_pessoa</td>
                                <td align="right">
                                    <input type="button" class="btn btn-success btn-xs" onclick="EditarSubCategoria(this, @subCategoria.id)" value="Editar" />
                                </td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modal_categorias" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">Categorias</h3>
            </div>
            <div class="modal-body"> 
                <div class="panel-body">
                    <div class='alert alert-info' role='alert' style="display: none" id="alerta_ingrediente">
                        <strong>Atenção</strong> Atualize a pagina para listar a ultima categoria cadastrada!
                    </div>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Categoria</td>
                                    <td>Opções</td>
                                    <td></td>
                                </tr>
                            </thead>
                            @foreach (var categoria in Model.categoria)
                            {
                            <tr>
                                <td>@categoria.nome</td>
                                <td>@categoria.descricao</td>
                                <td align="right">
                                    <input type="button" class="btn btn-success btn-xs" onclick="EditarCategoria(this, @categoria.id)" value="Editar" />
                                </td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modal_itens" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <div class="modal-header">
                <h3 class="text-center">Itens</h3>
            </div>
            <div class="modal-body"> 
                <div class="panel-body"> 
                    <table class="table">
                            <thead>
                                <tr>
                                    <td width="300">Nome</td>
                                    <td>Valor pessoa</td>
                                    <td>Qtd. Embalagem</td>
                                    <td>Rendimento</td>
                                    <td>Status</td>
                                    <td></td>
                                </tr>
                            </thead>
                            @for (int i = 0; i < Model.itens_cardapio.Count; i++)
                            {
                            <tr>
                                <td>@Model.itens_cardapio[i].nome</td>
                                <td>@Model.itens_cardapio[i].venda_pessoa</td>
                                <td>@Model.itens_cardapio[i].quantidade_embalagem</td>
                                <td>@Model.itens_cardapio[i].rendimento</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-xs btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span id="@string.Format("item_status{0}", i)"> @string.Format("{0}", Model.itens_cardapio[i].status == true ? "Ativo" : "Inativo") </span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(o)" onclick="AtualizaStatusItem(this,'Ativo', '@i', '@Model.itens_cardapio[i].id')">Ativar</a></li>
                                            <li><a href="javascript:void(o)" onclick="AtualizaStatusItem(this,'Inativo', '@i', '@Model.itens_cardapio[i].id')">Desativar</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-success btn-xs" onclick="EditarItem(this, @Model.itens_cardapio[i].id)" value="Editar" />
                                </td>
                            </tr>
                            }
                        </table> 
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="panel-heading" id="tabHeading">
            Manutenção de Cardápio
        </div>
        <div class="panel-body">
            <div role="tabpanel" id="Itens">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabCardapio" data-id="cardapio" aria-controls="home" role="tab" data-toggle="tab">Cardápio</a></li>
                    <li role="presentation"><a href="#tabMontarItem" data-id="montarItem" aria-controls="home" role="tab" data-toggle="tab">Montar Item</a></li>
                    <li role="presentation"><a href="#tabItemPronto" data-id="itemPronto" aria-controls="home" role="tab" data-toggle="tab">Item Pronto</a></li>
                    <li role="presentation"><a href="#tabIngredientes" data-id="ingredientes" aria-controls="home" role="tab" data-toggle="tab">Ingredientes</a></li>
                    <li role="presentation"><a href="#tabCategoria" data-id="categoria" aria-controls="home" role="tab" data-toggle="tab">Categorias</a></li>
                    <li role="presentation"><a href="#tabSubCategoria" data-id="categoria" aria-controls="home" role="tab" data-toggle="tab">Sub-Categorias</a></li>
                    <li role="presentation"><a href="#tabFornecedores" data-id="fornecedores" aria-controls="home" role="tab" data-toggle="tab">Fornecedores</a></li>
                </ul>
                <div class="tab-content">
                    @* CARDAPIO *@
                    <div role="tabpanel" class="tab-pane fade in active" id="tabCardapio">
                        <form id="CARDAPIO">
                            <div class="panel-body">
                                <div class='alert alert-info' role='alert' style="display: none" id="alerta_cardapio">
                                    <strong>Atenção</strong> <span id="mensagem_cardapio"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.SelecionarImagem("image_cardapio", "image_cardapio_file", 200, 200)
                                    </div>
                                    <div class="col-md-10 row">
                                        <div class="col-md-4">
                                            <label>Nome</label>
                                            <input class="form-control" type="text" required name="nome" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Mostrar Valor</label>
                                            <select name="mostrar_valor" class="form-control">
                                                <option value="">Selecione</option>
                                                <option value="true">Sim</option>
                                                <option value="false">Não</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Valor Custo</label>
                                            <input type="text" name="valor_custo" id="valor_custo_cardapio" class="form-control" value="0" readonly />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Margem lucro</label>
                                            <input type="text" name="margem_lucro" id="margem_lucro" onkeyup="PercentualLucroCardapio(this)" class="form-control" readonly placeholder="Em (%)" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Valor Venda</label>
                                            <input type="text" name="valor_venda" id="valor_venda_cardapio" class="form-control" value="0" readonly />
                                        </div>
                                        <div class="col-md-12">
                                            <label>Descrição</label>
                                            <textarea class="form-control" name="descricao" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row" style="margin-top: 20px;">
                                    <div role="tabpanel">
                                        @{
                                            var cat = "";
                                        <ul class="nav nav-tabs" role="tablist">
                                            @{
                                                    foreach (var categoria in Model.categoria.Where(c => c.descricao.Equals("INCLUSA")).ToList())
                                                    {
                                                        if (Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count != 0)
                                                        {
                                                            string cardapiosID = "";
                                                            foreach (var item in Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList())
                                                            {
                                                                cardapiosID = string.Format("{0},{1}", item.id, cardapiosID);
                                                            }
                                                <li role="presentation">
                                                    <a href="#@string.Format("INCLUSA{0}", categoria.nome.Replace(" ", ""))" aria-controls="home" role="tab" data-toggle="tab">@categoria.nome</a>
                                                    <input type="hidden" id="@string.Format("categoria{0}", categoria.id)" data-cardapios_id="@cardapiosID" data-id="@categoria.id" data-categoria="@categoria.nome" data-total="@Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count" />
                                                </li>
                                                        }
                                                    }
                                            }
                                        </ul>
                                        <input type="hidden" name="_categorias_post" value="@cat" />
                                        }

                                        <div class="tab-content">
                                            @foreach (var categoria in Model.categoria.Where(c => c.descricao.Equals("INCLUSA")).ToList())
                                            {
                                                string cats = "";
                                                if (Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count != 0)
                                                {
                                                    foreach (var sss in Model.categoria.Where(c => c.descricao.Equals("INCLUSA")).ToList())
                                                    {
                                                        if (Model.itens_cardapio.Where(c => c.id_categoria == sss.id).ToList().Count != 0)
                                                        {
                                                            cats = string.Format("{0},{1}", cats, sss.id);
                                                        }
                                                    }


                                            <div role="tabpanel" class="tab-pane  fade in" id="@string.Format("INCLUSA{0}", categoria.nome.Replace(" ", ""))">
                                                <input type="hidden" id="@string.Format("id_categoria{0}", categoria.id)" value="@categoria.id" />
                                                <div class="col-md-12" style=" margin-top: 10px; margin-bottom: 15px; ">
                                                    <div class="col-md-2 row pull-right">
                                                        <label>Máximo de itens</label>
                                                        <select name="max_itens" class="form-control" id="@string.Format("maximo_itens{0}", categoria.id)">
                                                            <option value="0">Não</option>
                                                            @for (int i = 1; i != Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count + 1; i++)
                                                                    {
                                                                    <option value="@i">@string.Format("Sim até {0}", i)</option>
                                                                    }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2  pull-right">
                                                        <label>Editavel?</label>
                                                        <select name="editavel" id="@string.Format("editavel{0}", categoria.id)" class="form-control">
                                                            <option value="false">Não</option>
                                                            <option value="true">Sim</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="hidden" id="@string.Format("venda{0}", categoria.id)" value="0" />
                                                    <input type="hidden" id="@string.Format("custo{0}", categoria.id)" value="0" />
                                                    <table class="table table-borderless" id="@string.Format(" tabela{0}", categoria.id)">
                                                        <thead>
                                                            <tr>
                                                                <th width="10" />
                                                                <th>Nome</th>
                                                                <th>Custo Por Pesoa</th>
                                                                <th>Venda Por Pesoa</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var item in Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList())
                                                                {
                                                                <tr>
                                                                    <td>
                                                                        <label class="label-checkbox">
                                                                            <input type="hidden" id="@string.Format("{0}isselect", item.id)" data-custo_pessoa="@item.custo_pessoa" data-venda_pessoa="@item.venda_pessoa" data-id_item="@item.id" value="false" />
                                                                            @{ var itens = "";
                                                                                 foreach (var iteem in Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).OrderByDescending(e => e.id).ToList())
                                                                                 {
                                                                                     itens = string.Format("{0},{1}", iteem.id, itens);
                                                                                 }
                                                                                <input type="checkbox" onclick="javascript: o('@string.Format("{0}isselect", item.id)').value=this.checked; AtualizarValor(this, '@cats', '@categoria.id','@itens');" class="chk-row">
                                                                            }

                                                                            <span class="custom-checkbox"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>@item.nome</td>
                                                                    <td>@item.custo_pessoa</td>
                                                                    <td>@item.venda_pessoa</td>
                                                                </tr>
                                                                }
                                                    </table>
                                                </div>
                                            </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row" style="margin-top: 20px;">
                                    <div role="tabpanel">
                                        @{
                                            var catE = "";
                                        <ul class="nav nav-tabs" role="tablist">
                                            @{
                                                    foreach (var categoria in Model.categoria.Where(c => c.descricao.Equals("EXTRA")).ToList())
                                                    {
                                                        if (Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count != 0)
                                                        {
                                                            string cardapiosID = "";
                                                            foreach (var item in Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList())
                                                            {
                                                                cardapiosID = string.Format("{0},{1}", item.id, cardapiosID);
                                                            }
                                                <li role="presentation">
                                                    <a href="#@string.Format("EXTRA{0}", categoria.nome.Replace(" ", ""))" aria-controls="home" role="tab" data-toggle="tab">@categoria.nome</a>
                                                    <input type="hidden" id="@string.Format("categoria{0}", categoria.id)" data-cardapios_id="@cardapiosID" data-id="@categoria.id" data-categoria="@categoria.nome" data-total="@Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count" />
                                                </li>
                                                        }
                                                    }
                                            }
                                        </ul>
                                        <input type="hidden" name="_categorias_post" value="@catE" />
                                        }

                                        <div class="tab-content">
                                            @foreach (var categoria in Model.categoria.Where(c => c.descricao.Equals("EXTRA")).ToList())
                                            {
                                                string cats = "";
                                                if (Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count != 0)
                                                {
                                                    foreach (var sss in Model.categoria)
                                                    {
                                                        if (Model.itens_cardapio.Where(c => c.id_categoria == sss.id).ToList().Count != 0)
                                                        {
                                                            cats = string.Format("{0},{1}", cats, sss.id);
                                                        }
                                                    }
                                            <div role="tabpanel" class="tab-pane  fade in" id="@string.Format("EXTRA{0}", categoria.nome.Replace(" ", ""))">
                                                <input type="hidden" id="@string.Format("id_categoria{0}", categoria.id)" value="@categoria.id" />
                                                <div class="col-md-12" style=" margin-top: 10px; margin-bottom: 15px; ">
                                                    <div class="col-md-2 row pull-right">
                                                        <label>Máximo de itens</label>
                                                        <select name="max_itens" class="form-control" id="@string.Format("maximo_itens{0}", categoria.id)">
                                                            <option value="0">Não</option>
                                                            @for (int i = 1; i != Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count + 1; i++)
                                                                    {
                                                                    <option value="@i">@string.Format("Sim até {0}", i)</option>
                                                                    }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2  pull-right">
                                                        <input type="hidden" id="@string.Format("editavel{0}", categoria.id)" value="true" />
                                                        @*<label>Editavel?</label>
                                                            <select name="editavel" id="@string.Format(" editavel{0}", categoria.id)" class="form-control">
                                                                <option value="false">Não</option>
                                                                <option value="true">Sim</option>
                                                            </select>*@
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="hidden" id="@string.Format("venda{0}", categoria.id)" value="0" />
                                                    <input type="hidden" id="@string.Format("custo{0}", categoria.id)" value="0" />
                                                    <table class="table table-borderless" id="@string.Format(" tabela{0}", categoria.id)">
                                                        <thead>
                                                            <tr>
                                                                <th width="10" />
                                                                <th>Nome</th>
                                                                <th>Custo Por Pesoa</th>
                                                                <th>Venda Por Pesoa</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var item in Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList())
                                                                {
                                                                <tr>
                                                                    <td>
                                                                        <label class="label-checkbox">
                                                                            <input type="hidden" id="@string.Format("{0}isselect", item.id)" data-custo_pessoa="@item.custo_pessoa" data-venda_pessoa="@item.venda_pessoa" data-id_item="@item.id" value="false" />
                                                                            @{ var itens = "";
                                                                                 foreach (var iteem in Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).OrderByDescending(e => e.id).ToList())
                                                                                 {
                                                                                     itens = string.Format("{0},{1}", iteem.id, itens);
                                                                                 }
                                                                                <input type="checkbox" onclick="javascript: o('@string.Format("{0}isselect", item.id)').value=this.checked; AtualizarValor(this, '@cats', '@categoria.id','@itens');" class="chk-row">
                                                                            }

                                                                            <span class="custom-checkbox"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>@item.nome</td>
                                                                    <td>@item.custo_pessoa</td>
                                                                    <td>@item.venda_pessoa</td>
                                                                </tr>
                                                                }
                                                    </table>
                                                </div>
                                            </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                @{
                                    var categorias = "";
                                    foreach (var categoria in Model.categoria.OrderByDescending(i => i.id).ToList())
                                    {
                                        if (Model.itens_cardapio.Where(c => c.id_categoria == categoria.id).ToList().Count != 0)
                                        {
                                            categorias = string.Format("{0},{1}", categoria.id, categorias);
                                        }
                                    }
                                <input type="button" class="btn btn-success" onclick="SalvarCardapio(this, '@categorias')" value="Confirmar" />
                                }
                            </div>
                        </form>
                    </div>
                    @* MONTAR ITEM *@
                    <div role="tabpanel" class="tab-pane fade in" id="tabMontarItem">
                        <form id="MONTARITEM">
                            <input type="hidden" name="id_item" id="id_item_m" value="" />
                            <div class="panel-body">
                                <div class='alert alert-info' role='alert' style="display: none" id="alerta_item_pronto"> 
                                    @*<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button>*@
                                    <strong>Atenção</strong> Você precisa adicionar no minimo 1 ingrediente para este item!
                                </div>
                                @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.SelecionarImagem("image_item_m", "image_item_m_file", 200, 200)
                                    </div>
                                    <div class="row col-md-10">
                                        <div class="col-md-9">
                                            <label>Nome</label>
                                            <input type="text" name="nome" id="nome_m" class="form-control" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Categoria</label>
                                            <select name="id_categoria" id="id_categoria_m" class="form-control" required>
                                                <option value="">Selecione</option>
                                                @foreach (var item in Model.categoria)
                                                {
                                                    <option value="@item.id">@item.nome</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Und. medida</label>
                                            <select name="id_unidade_medida" id="id_unidade_medida_m" class="form-control" required>
                                                <option value="">Selecione</option>
                                                @foreach (var unidade in Model.unidades)
                                                {
                                                    <option value="@unidade.id">@string.Format("{0} - {1}", unidade.sigla, unidade.nome)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Qtd. Por Embalagem</label>
                                            <input type="text" class="form-control" required name="quantidade_embalagem" id="quantidade_embalagem_m" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Custo</label>
                                            <input type="text" class="form-control" @Html.Dica("top", "O valor de custo é baseado nos ingredientes adicionados.") required name="valor_compra" id="valor_compra_m" readonly />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Rendimento</label>
                                            <input type="text" name="rendimento" onkeyup="CalcularCustoPessoaMontar(this)" id="rendimento_m" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Valor custo pessoa</label>
                                            <input type="text" class="form-control" required name="custo_pessoa" id="custo_pessoa_m" readonly />
                                        </div>

                                        <div class="col-md-4">
                                            <label>Margem Lucro</label>
                                            <input type="text" class="form-control" placeholder="Em %" onkeyup="CalculaMargemLuucro(this, 'custo_pessoa_m', 'venda_pessoa_m')" required name="margem_lucro" id="margem_lucro_m" />
                                        </div>

                                        <div class="col-md-4">
                                            <label>Valor venda pessoa</label>
                                            <input type="text" class="form-control" required name="venda_pessoa" id="venda_pessoa_m" />
                                        </div>

                                        <div class="col-md-12">
                                            <label>Descrição</label>
                                            <textarea name="descricao" id="descricao_m" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <div role="tabpanel">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#ingredientes" aria-controls="home" role="tab" data-toggle="tab">Ingredientes</a></li>
                                                <li role="presentation"><a href="#receita" aria-controls="profile" role="tab" data-toggle="tab">Receita</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="ingredientes">
                                                    <div class="panel-body">
                                                        <div class="col-md-6 row">
                                                            <div class="col-md-6 row">
                                                                <input type="hidden" id="valor_ingrediente" />
                                                                <label>Ingrediente</label>
                                                                <select onchange="BuscaUnidadeMedida(this)" id="ingrediente_m" class="form-control">
                                                                    <option value="">Selecione</option>
                                                                    @foreach (var cardapio in Model.ingredientes.OrderBy(a => a.marca).ToList())
                                                                    {
                                                                        <option data-valor="@cardapio.valor_custo" data-quantiade_embalagem="@cardapio.quantidade_embalagem" data-unidade_medida="@cardapio.UNIDADE_MEDIDA.nome" data-id_ingrediente="@cardapio.id" value="@cardapio.marca">@cardapio.marca</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label>Quantidade</label>
                                                                <input type="text" id="tipo_quantidade" onkeypress="AdicionaComEnter(this)" class="form-control" />
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="button" class="btn btn-success btn-block" onclick="AdicionarIngrediente(this)" value="Incluir" style=" margin-top: 23px; " />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pull-right row" id="itens_descricao">
                                                            <div class="panel-body text-center">
                                                                <h1>Adicione aqui os ingredientes deste item</h1>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pull-right row" style="display:none" id="itens_tabela">
                                                            <div class="panel-body">
                                                                <table class="table" id="tabelaIngredientes">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="200">Nome</th>
                                                                            <th>Quantidade</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade in" id="receita">
                                                    <div class="panel-body">
                                                        <textarea class="form-control" name="receita" id="receita_m" rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="panel-footer">
                            <input type="button" class="btn btn-success" onclick="SalvarMontarItem(this)" id="botao_confirmar_m" value="Confirmar" />
                            <input type="button" class="btn btn-success pull-right" value="Itens" data-target="#modal_itens" data-toggle="modal">
                        </div>
                    </div>
                    @* ITEM PRONTO *@
                    <div role="tabpanel" class="tab-pane fade in" id="tabItemPronto">
                        <div class="panel-body">
                            @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                            <div class="row">
                                <form id="ITEMPRONTO">
                                    <input type="hidden" name="id_item" id="id_item_p" value="" />
                                    <div class="col-md-2">
                                        @Html.SelecionarImagem("imagem_item_p", "imagem_item_p_file", 200, 200)
                                    </div>
                                    <div class="row col-md-10">
                                        <div class="col-md-6">
                                            <label>Nome</label>
                                            <input type="text" name="nome" id="nome_p" class="form-control" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Categoria</label>
                                            <select name="id_categoria" id="id_categoria_p" onchange="BuscarSubCategorias(this)" class="form-control" required>
                                                <option value="">Selecione</option>
                                                @foreach (var item in Model.categoria)
                                                {
                                                <option value="@item.id">@item.nome</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Sub Categoria</label>
                                            <select name="id_sub_categoria" id="id_sub_categoria_p" onchange="SubCategoriaSelecionada(this)" class="form-control"></select>
                                        </div>

                                        <div class="col-md-3">
                                            <label>Und. medida</label>
                                            <input type="hidden" name="id_unidade_medida" id="id_unidade_medida_hidden_p" />
                                            <select id="id_unidade_medida_p" class="form-control" required>
                                                <option value="">Selecione</option>
                                                @foreach (var unidade in Model.unidades)
                                                {
                                                <option value="@unidade.id">@string.Format("{0} - {1}", unidade.sigla, unidade.nome)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Qtd. Por Embalagem</label>
                                            <input type="text" class="form-control" required onkeyup="CalculaValores(this)" name="quantidade_embalagem" id="quantidade_embalagem_p" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Valor Custo</label>
                                            <input type="text" class="form-control" onkeyup="CalculaValores(this)" required name="valor_compra" id="valor_compra_p" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Rendimento</label>
                                            <input type="hidden" id="rendimento_hidden_p" value="0" />
                                            <input type="text" name="rendimento" id="rendimento_p" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Valor custo pessoa</label>
                                            <input type="text" class="form-control" required name="custo_pessoa" id="custo_pessoa_p" readonly />
                                        </div>

                                        <div class="col-md-4">
                                            <label>Margem Lucro</label>
                                            <input type="text" class="form-control" placeholder="Em %" onkeyup="CalculaMargemLuucro(this, 'custo_pessoa_p', 'venda_pessoa_p')" required name="margem_lucro" id="margem_lucro_p" />
                                        </div>

                                        <div class="col-md-4">
                                            <label>Valor venda pessoa</label>
                                            <input type="text" class="form-control" required name="venda_pessoa" id="venda_pessoa_p" />
                                        </div>
                                        <div class="col-md-12">
                                            <label>Descrição</label>
                                            <textarea name="descricao" id="descricao_p" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <div role="tabpanel">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#fornecedores" aria-controls="home" role="tab" data-toggle="tab">Fornecedores</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="fornecedores">
                                                    <div class="panel-body">
                                                        <div class="panel-body relative">
                                                            <select multiple="multiple" id="fornecedoresUnSelect_p" class="select-box pull-left form-control">
                                                                @foreach (var fornecedor in Model.fornecedores)
                                                                {
                                                                <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                                                }
                                                            </select>

                                                            <div class="select-box-option">
                                                                <a class="btn btn-sm btn-default" onclick="Left(this, 'fornecedoresSelect_p', 'fornecedoresUnSelect_p')" id="btnRemove">
                                                                    <i class="fa fa-angle-left"></i>
                                                                </a>
                                                                <a class="btn btn-sm btn-default" onclick="Right(this, 'fornecedoresUnSelect_p', 'fornecedoresSelect_p')" id="btnSelect">
                                                                    <i class="fa fa-angle-right"></i>
                                                                </a>
                                                            </div>

                                                            <select multiple="multiple" id="fornecedoresSelect_p" class="select-box pull-right form-control"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="button" class="btn btn-success" value="Confirmar" id="botao_confirmar_p" onclick="SalvarItemPronto(this)">
                            <input type="button" class="btn btn-success pull-right" value="Itens" data-target="#modal_itens" data-toggle="modal">
                        </div>
                    </div>
                    @* INGREDIENTES *@
                    <div role="tabpanel" class="tab-pane fade in" id="tabIngredientes">
                        <form id="INGREDIENTES">
                            <input type="hidden" id="unidade_selecionada" value=" " />
                            <input type="hidden" id="id_ingrediente" name="id_ingrediente" value="" />

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 row">
                                            <label>Únidade de medida</label>
                                            <select name="id_unidade_medida" id="id_unidade_medida" class="form-control" required onchange="SelecionarUnidade(this)">
                                                <option value="">Selecione</option>
                                                @foreach (var unidade in Model.unidades)
                                                {
                                                    <option value="@unidade.id">@string.Format("{0} - {1}", unidade.sigla, unidade.nome)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Marca</label>
                                            <input type="text" name="marca" id="marca" class="form-control">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Valor Custo</label>
                                            <input type="text" name="valor_custo" id="valor_custo" class="form-control">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Qtd. Por Embalagem</label>
                                            <input type="text" name="quantidade_embalagem" id="quantidade_embalagem_ingrediente" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row" style="margin-top: 20px;">
                                    <div role="tabpanel">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#fornecedores" aria-controls="home" role="tab" data-toggle="tab">Fornecedores</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="fornecedores">
                                                <div class="panel-body">
                                                    <div class="panel-body relative">
                                                        <select multiple="multiple" id="ifornecedoresUnSelect" class="select-box pull-left form-control">
                                                            @foreach (var fornecedor in Model.fornecedores)
                                                            {
                                                                <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                                            }
                                                        </select>

                                                        <div class="select-box-option">
                                                            <a class="btn btn-sm btn-default" onclick="Left(this, 'ifornecedoresSelect', 'ifornecedoresUnSelect')" id="btnRemove">
                                                                <i class="fa fa-angle-left"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-default" onclick="Right(this, 'ifornecedoresUnSelect', 'ifornecedoresSelect')" id="btnSelect">
                                                                <i class="fa fa-angle-right"></i>
                                                            </a>
                                                        </div>

                                                        <select multiple="multiple" id="ifornecedoresSelect" name="options" class="select-box pull-right form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <input type="button" class="btn btn-success" value="Confirmar" onclick="SalvaIngrediente(this)">
                                <input type="button" class="btn btn-info" value="Cancelar" id="cancelar_ingrediente_edicao" style="display:none" onclick="CancelarEditarIngrediente(this)">
                                <input type="button" class="btn btn-success pull-right" value="Ingredientes" data-target="#modal_ingredientes" data-toggle="modal">
                            </div>
                        </form>
                    </div>
                    @* FORNECEDORES *@
                    <div role="tabpanel" class="tab-pane fade in" id="tabFornecedores">
                        <form id="FORNECEDOR">
                            <div class="panel-body">
                                @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                                <div class="row">
                                    <div class="col-md-7">
                                        <label>Razão social</label>
                                        <input type="text" name="razao_social" class="form-control" required="">
                                    </div>
                                    <div class="col-md-3">
                                        <label>CNPJ</label>
                                        <input type="text" name="cnpj" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Telefone</label>
                                        <input type="text" name="telefone" class="form-control">
                                    </div>
                                    <div class="col-md-5">
                                        <label>Contato</label>
                                        <input type="text" name="contato" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Telefone contato</label>
                                        <input type="text" name="telefone_contato" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Celular contato</label>
                                        <input type="text" name="celular_contato" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label>E-mail</label>
                                        <input type="text" name="email" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <label>CEP</label>
                                        <input type="text" name="cep" class="form-control" required="">
                                    </div> 
                                    <div class="col-md-6">
                                        <label>Endereco</label>
                                        <input type="text" name="endereco1" class="form-control" required="">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Número</label>
                                        <input type="text" name="numero" class="form-control" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Bairro</label>
                                        <input type="text" name="bairro" class="form-control" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Cidade</label>
                                        <input type="text" name="cidade" class="form-control" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Estado</label>
                                        <select class="form-control" name="estado">
                                            <option value="SP">SP</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Complemento</label>
                                        <textarea name="complemento" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="panel-footer">
                            <input type="button" class="btn btn-success" value="Confirmar" onclick="SalvaFornecedor(this)" />
                        </div>
                    </div>
                    @* CATEGORIAS *@
                    <div role="tabpanel" class="tab-pane fade in" id="tabCategoria">
                        <form id="CATEGORIAS">
                            <input type="hidden" name="id_categoria" id="id_categoria_categoria" value="" />
                            <div class="panel-body">
                                @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                                <div class="row">
                                    <div class="col-md-8">
                                        <label>Nome</label>
                                        <input type="text" name="nome" id="nome_categoria" class="form-control" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Opções</label>
                                        <select class="form-control" name="descricao" id="descricao_categoria" required>
                                            <option value="">Selecione</option>
                                            <option value="INCLUSA">Inclusas no Buffet</option>
                                            <option value="EXTRA">Extra</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="panel-footer">
                            <input type="button" class="btn btn-success" value="Confirmar" onclick="SalvarCategoria(this)" />
                            <input type="button" class="btn btn-success pull-right" value="Categorias" data-target="#modal_categorias" data-toggle="modal">
                        </div>
                    </div>
                    @* SUBCATEGORIA *@
                    <div role="tabpanel" class="tab-pane fade in" id="tabSubCategoria">
                        <form id="SUBCATEGORIAS">
                            <input type="hidden" name="id_subcategoria" id="id_subcategoria" value="" />
                            <div class="panel-body">
                                @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Categoria</label>
                                        <select class="form-control" name="id_categoria_itens" id="id_categoria_subcategoria" required>
                                            <option value="">Selecione</option>
                                            @foreach (var categoria in Model.categoria)
                                            {
                                                <option value="@categoria.id">@categoria.nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Unt. Medida</label>
                                        <select class="form-control" name="id_unidade_medida" id="id_unidade_medida_subcategoria" required>
                                            <option value="">Selecione</option>
                                            @foreach (var unidade in Model.unidades)
                                            {
                                                <option value="@unidade.id">@unidade.nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nome</label>
                                        <input type="text" name="nome" id="nome_sub_categoria" class="form-control" required>
                                    </div> <div class="col-md-2">
                                        <label>Consumo por Pessoa</label>
                                        <input type="text" name="rendimento_pessoa" id="rendimento_pessoa" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="panel-footer">
                            <input type="button" class="btn btn-success" value="Confirmar" onclick="SalvarSubCategoria(this)" />
                            <input type="button" class="btn btn-success pull-right" value="Sub-Categorias" data-target="#modal_subcategorias" data-toggle="modal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@*@if (ViewBag.TIPOITEM == "MONTARITEM")
            {
        <form class="form-horizontal form-border no-margin" method="post" action="/Itens/SalvarCardapio" enctype="multipart/form-data">
            <div class="modal fade bs-example-modal-lg" id="ingredientes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style=" height: 500px; " id="modal_content">
                        <div class="modal-body">
                            <a href="/Estoque/Ingredientes?deCardapio=true" class="btn btn-success btn-xs pull-right">Novo Ingrediente</a>
                            <h3 class="text-center">Ingredientes</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="hidden" id="valor_ingrediente" />
                                        <label>Ingrediente</label>
                                        <select onchange="BuscaUnidadeMedida(this)" id="nome_cardapio" class="form-control">
                                            <option value="">Selecione</option>
                                            @foreach (var cardapio in Model.ingredientes)
                                            {
                                            <option data-valor="@cardapio.valor_custo" data-unidade_medida="@cardapio.UNIDADE_MEDIDA.nome" data-id_ingrediente="@cardapio.id" value="@cardapio.descricao">@cardapio.descricao</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Quantidade</label>
                                        <input type="text" id="tipo_quantidade" class="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" class="btn btn-success btn-block" onclick="AdicionarIngrediente(this)" value="Adicionar" style=" margin-top: 23px; " />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="itens_descricao">
                                <div class="panel-body text-center">
                                    <h1>Adicione aqui os ingredientes deste item</h1>
                                </div>
                            </div>

                            <div class="col-md-12" style="display:none" id="itens_tabela">
                                <div class="panel-body">
                                    <table class="table" id="tabelaIngredientes">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Quantidade</th>
                                                <th>Valor</th>
                                                <th>Valor Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <input type="hidden" name="id" id="id" />
                <input type="hidden" name="tipo_item" value="@ViewBag.TIPOITEM" />
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Novo item
                        </div>
                        <div class="panel-body">
                            @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.SelecionarImagem("image_cardapio", "image", 200, 200)
                                </div>
                                <div class="row col-md-10">
                                    <div class="col-md-2">
                                        <label>Status</label>
                                        <select name="status" class="form-control" required>
                                            <option value="">Selecionar</option>
                                            <option value="true">Sim</option>
                                            <option value="false">Não</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <label>Nome do cardápio</label>
                                        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Nome do Cardápio">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#ingredientes" value="Ingredientes" style=" margin-top: 20px; " />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Categoria</label>
                                        <select name="id_categoria" id="id_categoria" class="form-control" required>
                                            <option value="">Selecione</option>
                                            @foreach (var item in Model.categoria)
                                            {
                                            <option value="@item.id">@item.nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Valor Custo</label>
                                        <input type="text" class="form-control" required name="valor_compra" id="valor_compra" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Perc. de Lucro</label>
                                        <input type="text" class="form-control" onkeyup="calcularPercentual(this)" required name="percentagem_lucro" id="percentagem_lucro" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Valor Venda</label>
                                        <input type="text" class="form-control" required name="valor_venda" id="valor_venda" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Rendimento</label>
                                        <input type="text" name="rendimento" id="rendimento" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Descrição</label>
                                        <textarea name="descricao" id="descricao" required rows="3" class="form-control" placeholder="Descricao"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
            }
            else
            {
        <form class="form-horizontal form-border no-margin" method="post" action="/Itens/SalvarCardapio" enctype="multipart/form-data">
            <div class="modal fade bs-example-modal-lg" id="fornecedores" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xs">
                    <div class="modal-content" style=" height: 300px; " id="modal_content_fornecedores">
                        <div class="modal-body">
                            <a href="/Estoque/Fornecedores?deCardapio=true" class="btn btn-success btn-xs pull-right">Novo fornecedor</a>
                            <h3 class="text-center">Fornecedores</h3>
                            <div class="col-md-12 text-center">
                                <div class="col-md-9">
                                    <select class="form-control" required="" name="[0].id_fornecedor">
                                        <option value="">Selecione</option>
                                        @foreach (var fornecedor in Model.fornecedores)
                                        {
                                        <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                        }
                                    </select>
                                    @for (int i = 0; i < Model.fornecedores.Count; i++)
                                    {
                                    <div style="display:none; margin-top: 15px; " id="@string.Format(" {0}id_fornecedor", i)">
                                        <select class="form-control" name="@string.Format(" {0}id_fornecedor", i)">
                                            <option value="">Selecione</option>
                                            @foreach (var fornecedor in Model.fornecedores)
                                            {
                                            <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                            }
                                        </select>
                                    </div>
                                    }
                                </div>
                                <div class="col-md-3">
                                    <input type="button" onclick="adicionarFornecedor(this, @Model.fornecedores.Count)" class="btn btn-success" value="+">
                                    <input type="button" onclick="removerFornecedor(this, @Model.fornecedores.Count)" class="btn btn-danger" value="-">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <input type="hidden" name="tipo_item" value="@ViewBag.TIPOITEM" />
                <input type="hidden" name="id" id="id" />

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Novo item
                        </div>
                        <div class="panel-body">
                            @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        @Html.SelecionarImagem("image_cardapio", "image", 200, 200)
                                    </div>
                                    <div class="col-md-10 row">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Status</label>
                                                <select name="status" class="form-control" required>
                                                    <option value="">Selecionar</option>
                                                    <option value="true">Sim</option>
                                                    <option value="false">Não</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Nome do cardápio</label>
                                                <input type="text" name="nome" id="nome" class="form-control" required placeholder="Nome do Cardápio">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Categoria</label>
                                                <select name="id_categoria" id="id_categoria" class="form-control" required>
                                                    <option value="">Selecione</option>
                                                    @foreach (var item in Model.categoria)
                                                    {
                                                    <option value="@item.id">@item.nome</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#fornecedores" value="Fornecedores" style=" margin-top: 20px; " />
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-3">
                                                <label>Unidade</label>
                                                <select name="id_unidade_medida" id="id_unidade_medida" class="form-control" required>
                                                    <option value="">Selecione</option>
                                                    @foreach (var unidade in Model.unidades)
                                                    {
                                                    <option value="@unidade.id">@string.Format("{0} - {1}", unidade.sigla, unidade.nome)</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Valor Custo</label>
                                                <input type="text" class="form-control" required name="valor_compra" id="valor_compra" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Valor Venda</label>
                                                <input type="text" class="form-control" required name="valor_venda" id="valor_venda" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Rendimento</label>
                                                <input type="text" name="rendimento" id="rendimento" class="form-control input-sm parsley-validated" />
                                            </div>
                                            <div class="col-md-12">
                                                <label>Descrição</label>
                                                <textarea name="descricao" id="descricao" required rows="5" class="form-control" placeholder="Descricao"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            }

    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Itens Cadastrados
            <span class="label label-info pull-right">@Model.cardapios.Count Itens</span>
        </div>
        <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Sub-Categoria</th>
                        <th>Rendimento</th>
                        <th>Custo</th>
                        <th>Custo por Pessoa</th>
                        <th>Qtd. Por Embalagem</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cardapio in Model.cardapios.OrderByDescending(i => i.CATEGORIA_ITENS.nome).ToList())
                    {
                        <tr>
                            <td>@cardapio.nome</td>
                            @if (cardapio.CATEGORIA_ITENS != null)
                            {
                                <td>@cardapio.CATEGORIA_ITENS.nome</td>
                            }
                            else
                            {
                                <td>Sem categoria</td>
                            }
                            @if (cardapio.SUB_CATEGORIA_ITENS != null)
                            {
                                <td>@cardapio.SUB_CATEGORIA_ITENS.nome</td>
                            }
                            else
                            {
                                <td>Sem sub-categoria</td>
                            }
                            @if (cardapio.rendimento == 0)
                            {
                                <td>Aguarde...</td>
                            }
                            else
                            {
                                <td>@cardapio.rendimento</td>
                            }
                            <td>@cardapio.valor_compra</td>
                            <td>@cardapio.custo_pessoa</td>
                            <td>@cardapio.quantidade_embalagem</td>

                            <td>@string.Format("{0}", (cardapio.status == true ? "Ativo" : "Inativo"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@
