﻿@model BuffetWebManager.Models.Itens.ItensDiversos
@{
    ViewBag.Title = "Itens de Aluguel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Script/Buffet/Itens/ItensDiversos.js"></script>
<script src="~/Content/Buffet/Estoque/Estoque.js"></script>

<div class="row">
    <form id="ITEMDIVERSOS">
        <div class="col-md-12">
            <div class="panel panel-default">
                <input type="hidden" name="id" id="id" />
                <div class="panel-heading">
                    Materiais
                </div>

                <div class="panel-body">
                    <div class="col-md-2">
                        @Html.SelecionarImagem("image_cardapio", "image", 200, 200)
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-9">
                            <label>Nome</label>
                            <input type="text" name="nome" id="nome" class="form-control" required title="Não esqueça este campo!" placeholder="Nome do item">
                        </div>
                        <div class="col-md-3">
                            <label>Unidade</label>
                            <select name="id_unidade_medida" id="id_unidade_medida" class="form-control" required>
                                <option value="">Selecione</option>
                                @foreach (var unidade in Model.unidades)
                                {
                                    <option value="@unidade.id">@string.Format("{0} - {1}", unidade.sigla, unidade.nome)</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label>Categoria</label>
                            <select required title="Não esqueça este campo!" name="id_categoria" id="id_categoria_aluguel" class="form-control">
                                <option value="">Selecione</option>
                                @foreach (var categoria in Model.categorias)
                                {
                                    <option value="@categoria.id">@categoria.nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Valor de Custo</label>
                            <input type="text" name="valor_custo" id="valor_custo" class="form-control" required title="Não esqueça este campo!" placeholder="Valor de Custo">
                        </div>
                        <div class="col-md-4">
                            <label>Valor de Venda</label>
                            <input type="text" name="valor_venda" id="valor_venda" class="form-control" required title="Não esqueça este campo!" placeholder="Valor de Venda">
                        </div>
                        <div class="col-md-12">
                            <label>Descrição</label>
                            <textarea name="descricao" class="form-control" id="descricao" placeholder="Descrição"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="button" class="btn btn-success" onclick="SalvarItemDiversos(this)" value="Salvar" />
                </div>
            </div>
        </div>
    </form>
</div>

@*@if (Model.itens_diversos.Count != 0)
{ 
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Itens Diversos
            <span class="label label-info pull-right">@Model.itens_diversos.Count Itens</span>
        </div>
        <div class="padding-md clearfix">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Nome </th>
                        <th> Status </th>
                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                        {
                            <th> Valor Custo </th>
                        }
                        <th> Valor Venda </th>
                        <th> Categoria </th> 
                        <th> Medida </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.itens_diversos)
                    {
                        <tr>
                            <td> @item.nome </td>
                            <td> @string.Format("{0}", item.status ? "Ativo" : "Inativo")</td>
                            @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                            {
                                <td> @item.valor_custo </td>
                            }
                            <td> @item.valor_venda </td>
                            @if (item.UNIDADE_MEDIDA != null)
                            {
                                <td>@item.UNIDADE_MEDIDA.nome</td>
                            }
                            <td> @item.CATEGORIA_SERVICOS.nome </td>
                            <td align="right">
                                <div class="btn-group">
                                    <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opções<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(o)">Editar</a>
                                        </li>
                                        <li>
                                            <form action="/Itens/ApagarItemDiverso" id="form_editar" method="post">
                                                <input type="hidden" name="id" value="@item.id" />
                                            </form>
                                            <a href="javascript:void(o)" onclick="document.getElementById('form_editar').submit()">Apagar</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}*@