﻿@model BuffetWebManager.Models.Itens.ItensServico
@{
    ViewBag.Title = "Itens de Aluguel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Script/Buffet/Itens/ItensServico.js"></script>
<script src="~/Content/Buffet/Estoque/Estoque.js"></script>

<div class="modal fade bs-example-modal-lg" id="prestadores" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content" id="modal_content_fornecedores">
            <div class="modal-body">
                <h3 class="text-center">Prestadores</h3>
                <div class="panel-body relative">
                    <select multiple="multiple" id="prestadoresUnSelect" class="select-box pull-left form-control">
                        @foreach (var prestadores in Model.prestador_funcao)
                        {
                            <option value="@prestadores.id">@prestadores.nome</option>
                        }
                    </select>

                    <div class="select-box-option">
                        <a class="btn btn-sm btn-default" onclick="Left(this, 'prestadoresSelect', 'prestadoresUnSelect')" id="btnRemove">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="btn btn-sm btn-default" onclick="Right(this, 'prestadoresUnSelect', 'prestadoresSelect')" id="btnSelect">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                    <select multiple="multiple" id="prestadoresSelect" name="options" class="select-box pull-right form-control"></select>
                </div> 
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <input type="hidden" name="id" id="id" />
            <div class="panel-heading">
                Novo Serviço
            </div>
            <div class="panel-body">
                <form id="ITEMSERVICO">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.SelecionarImagem("image_cardapio", "image", 200, 200)
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-9">
                                <label>Nome</label>
                                <input type="text" name="nome" id="nome" class="form-control" required title="Não esqueça este campo!" placeholder="Nome do item">
                            </div>
                            <div class="col-md-3">
                                <label>Categoria</label>
                                <select required title="Não esqueça este campo!" name="id_categoria" id="id_categoria" class="form-control">
                                    <option value="">Selecione</option>
                                    @foreach (var categoria in Model.categorias_servicos)
                                    {
                                        <option value="@categoria.id">@categoria.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="button" data-toggle="modal" data-target="#prestadores" style=" margin-top: 22px; " name="name" value="Prestadores" class="btn btn-success btn-block" />
                            </div>
                            <div class="col-md-4">
                                <label>Custo</label>
                                <input type="text" name="valor_custo" id="valor_custo" class="form-control" required title="Não esqueça este campo!" placeholder="Valor de Custo">
                            </div>
                            <div class="col-md-4">
                                <label>Venda</label>
                                <input type="text" name="valor_venda" id="valor_venda" class="form-control" required title="Não esqueça este campo!" placeholder="Valor de Venda">
                            </div>
                            <div class="col-md-12">
                                <label>Descrição</label>
                                <textarea name="descricao" class="form-control" id="descricao" rows="2" placeholder="Descrição"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-success" onclick="SalvarItemServico(this)" value="Salvar" />
            </div>
        </div>
    </div>
</div>

@*@if (Model.itens_servico.Count != 0)
    {
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Itens Diversos
                <span class="label label-info pull-right">@Model.itens_servico.Count Itens</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Nome </th>
                            @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                            {
                                <th> Valor Custo </th>
                            }
                            <th> Valor Venda </th>
                            <th> Categoria </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.itens_servico)
                        {
                            <tr>
                                <td> @item.nome </td>
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                {
                                    <td> @item.valor_custo </td>
                                }
                                <td> @item.valor_venda </td>
                                <td> @item.CATEGORIA_SERVICOS.nome </td>
                                <td align="right">
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Opções<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="javascript:void(o)">Editar</a>
                                            </li>
                                            <li>
                                                <form action="/Itens/ApagarItemServico" id="form_editar" method="post">
                                                    <input type="hidden" name="id" value="@item.id" />
                                                </form>
                                                <a href="avascript:void(o)" onclick="document.getElementById('form_editar').submit()">Apagar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }*@