﻿@model BuffetWebManager.Models.Itens.ItensAluguel
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Itens de Aluguel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Script/Buffet/Itens/ItensAluguel.js"></script>
<script src="~/Content/Buffet/Estoque/Estoque.js"></script>

@if (Html.Permissoes(Permitir.Criar, Conteudo.Estoque))
{
     <div class="modal fade bs-example-modal-lg" id="fornecedores" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xs">
                <div class="modal-content" id="modal_content_fornecedores">
                    <div class="modal-body">
                        <h3 class="text-center">Fornecedores</h3>
                        <div class="panel-body relative">
                            <select multiple="multiple" id="fornecedoresUnSelect" class="select-box pull-left form-control">
                                @foreach (var fornecedor in Model.fornecedores)
                                {
                                    <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                }
                            </select>

                            <div class="select-box-option">
                                <a class="btn btn-sm btn-default" onclick="Left(this, 'fornecedoresSelect', 'fornecedoresUnSelect')" id="btnRemove">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="btn btn-sm btn-default" onclick="Right(this, 'fornecedoresUnSelect', 'fornecedoresSelect')" id="btnSelect">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                            <select multiple="multiple" id="fornecedoresSelect" name="options" class="select-box pull-right form-control"></select>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 row">
            <div class="panel panel-default"> 
                <input type="hidden" name="id" id="id" />
                <div class="panel-heading">
                    Novo Item de Aluguel
                </div>
                <div class="panel-body">
                    <div role="tabpanel" id="Itens">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#item" data-id="item" aria-controls="home" role="tab" data-toggle="tab">Item</a></li>
                            <li role="presentation"><a href="#categorias" data-id="categorias" aria-controls="home" role="tab" data-toggle="tab">Categorias</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="item">
                                <form id="ITEMALUGUEL">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            @Html.SelecionarImagem("imagem_selecionada", "image", 200, 200)
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-9">
                                                <label>Nome</label>
                                                <input type="text" name="nome" id="nome" class="form-control" required title="Não esqueça este campo!">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Categoria</label>
                                                <select class="form-control" name="id_categoria" id="id_categoria">
                                                    <option value="">Selecione</option>
                                                    @foreach (var categoria in Model.categoria_aluguel)
                                                    {
                                                        <option value="@categoria.id">@categoria.nome</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Custo do Aluguel</label>
                                                <input type="text" name="valor_custo" id="valor_custo" class="form-control" required title="Não esqueça este campo!" >
                                            </div>
                                            <div class="col-md-3">
                                                <label>Custo do Aluguel</label>
                                                <input type="text" name="valor_venda" id="valor_venda" class="form-control" required title="Não esqueça este campo!"  >
                                            </div>
                                            <div class="col-md-3">
                                                <label>Custo de Reembolso</label>
                                                <input type="text" name="valor_reembolso" id="valor_venda" class="form-control" required title="Não esqueça este campo!"  >
                                            </div>
                                            <div class="col-md-3">
                                                <label>Valor Atraso</label>
                                                <input type="text" name="valor_atraso" id="valor_venda" class="form-control" required title="Não esqueça este campo!" >
                                            </div>
                                            <div class="col-md-3">
                                                <label>Qtd. Disponivel</label>
                                                <input type="text" name="quantidade_disponivel" id="valor_venda" class="form-control" required title="Não esqueça este campo!" >
                                            </div> 
                                            
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#fornecedores" value="Fornecedores" style=" margin-top: 20px; " />
                                            </div>

                                            <div class="col-md-12">
                                                <label>Descrição</label>
                                                <textarea name="descricao" class="form-control" id="descricao" placeholder="Descrição"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <input type="button" class="btn btn-success" value="Salvar" onclick="SalvarItemAluguel(this)" />
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="categorias">
                                <div class="panel-body">
                                    <form id="CATEGORIAALUGUEL">
                                        <div class="col-md-12">
                                            <label>Nome</label>
                                            <input type="text" name="nome" id="nome_categoria" value="" class="form-control" />
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <input type="button" class="btn btn-success" value="Salvar" onclick="SalvarCategoriaAluguel(this)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
}

@*@if (Model.itens_aluguel.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Itens de Aluguel
                    <span class="label label-info pull-right">@Model.itens_aluguel.Count Itens</span>
                </div>
                <div class="padding-md clearfix">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                {
                                    <th> Valor Custo </th>
                                }
                                <th> Valor Venda </th>
                                <th> Brinde  </th>
                                <th> Status </th>
                                <th> Categoria </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.itens_aluguel)
                            {
                                <tr>
                                    <td> @item.nome </td>
                                    @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                    {
                                        <td> @item.valor_custo </td>
                                    }
                                    <td> @item.valor_venda </td>
                                    <td> @string.Format("{0}", item.brinde ? "Sim" : "Nao") </td>
                                    <td> @string.Format("{0}", item.status ? "Ativo" : "Inativo") </td>
                                    <td> @item.CATEGORIA_ALUGUEL.nome</td>
                                    <td align="right">
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Opções<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Editar</a>
                                                </li>
                                                <li>
                                                    <form action="/Itens/ApagarItemAluguel" id="form_editar" method="post">
                                                        <input type="hidden" name="id" value="@item.id" />
                                                    </form>
                                                    <a href="#" onclick="document.getElementById('form_editar').submit()">Apagar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}*@