﻿@{
    ViewBag.Title = "Cadastrar";
    var cliente = Html.Cliente(Context);
}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="jm-content" class="span12">
            <div id="jm-maincontent">
                <div class="login">
                    <form action="/Propostas/EnviarPropostaCompartilhada" method="post" class="form-validate form-horizontal well" style=" background-color: white; ">
                        <fieldset>
                            @*<div class="control-group">
                                    <div class="alert alert-info">
                                        dsadsa
                                        dsadsa
                                        dsads
                                    </div>
                                </div>*@

                            <div class="pull-left span8">

                            </div>
                            <div class="pull-right span4">
                                <div class="span6">
                                    <label>Tipo de festa</label>
                                    <select class="span12" required name="categoria">
                                        @*<option value="">Selecione</option>*@
                                        <option value="Infantil">Infantil</option>
                                        <option value="Teen">Teen</option>
                                        <option value="Escolar">Escolar</option>
                                    </select>
                                </div>
                                <div class="span6">
                                    <label>Região</label>
                                    <select class="span12" required name="regiao">
                                        @*<option value="">Selecione</option>*@
                                        <option value="Interlagos">Interlagos</option>
                                        <option value="Teen">Teen</option>
                                        <option value="Escolar">Escolar</option>
                                    </select>
                                </div>
                                @if (cliente != null)
                                {
                                    <div class="span12">
                                        <label>Seu nome</label>
                                        <input type="text" required name="nome" style="width:100%" class="form-control" value="@cliente.nome" />
                                    </div>
                                    <div class="span12">
                                        <label>Seu e-mail</label>
                                        <input type="text" name="email" required style="width:100%" class="form-control" value="@cliente.email" />
                                    </div>
                                    <div class="span6">
                                        <label>Seu celular</label>
                                        <input type="text" name="celular" required style="@string.Format("width:100%; background-position: right; background-image:url('http://www.buffetweb.com/Sites/Arquivos/Sistema/Imagens/{0}.png');background-repeat: no-repeat;", cliente.operadora_celular)" class="form-control" value="@cliente.celular" />
                                    </div>
                                    <div class="span6">
                                        <label>Seu telefone</label>
                                        <input type="text" name="telefone" value="1134455665" required style="width:100%" class="form-control" />
                                    </div>
                                }

                                <div class="span6">
                                    <label>Periodo</label>
                                    <select class="form-control" style="width:100%" required name="periodo">
                                        @*<option value="">Selecione</option>*@
                                        <option value="Jantar">Jantar</option>
                                        <option value="Almoço">Almoço</option>
                                    </select>
                                </div>
                                <div class="span6">
                                    <label>N de Convidados</label>
                                    <input type="text" required value="20" style="width:100%" name="convidados" class="form-control" />
                                </div>
                                <div class="span12">
                                    <label>Data do Evento</label>
                                    <input type="date" required value="04/03/1992" style="width:100%" name="data_evento" class="form-control" />
                                </div>
                                <div class="span12" style=" margin-top: 20px; ">
                                    <button type="submit" class="btn btn-primary btn-block">Solicitar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>