﻿@model BuffetWebPortal.Models.Proposta.PropostaModel
@using BuffetWebPortal.Helpers
@{
    var empresa = Html.empresa();
    var proposta = Model.Proposta;
    var valores = Model.PacoteValores;
    var avaliacao = Html.GetAvaliacao(Model.autenticacao);
    var local_evento = proposta.ORCAMENTO_PROPOSTA.LOCAL_EVENTO;
}

<input type="hidden" id="configuracao" data-autenticacao="@Model.autenticacao" />
<script src="~/Content/BuffetWeb/js/Proposta.js"></script>
 

<div class="container-fluid">
    <div id="jm-maincontent">
        <div id="dj-classifieds" class="clearfix djcftheme-jm-joomads-ef4 jm-class-details jm-class-comments">
            <div class="dj-item promotion p_special" style=" margin-bottom: -2%; ">
                <div class="title_top info" style=" height: 40px; ">
                    <h2 class="row_value" style=" font-size: 30px; ">@local_evento.nome</h2>
                    @if (!Html.isMobile())
                    {
                        <div class="span3 pull-right">
                            <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", local_evento.autenticacao)" target="_blank" class="btn btn-primary btn-lg pull-right">
                                Visualizar página do Buffet
                            </a>
                        </div>
                    }
                </div>

                <div class="dj-item-in">
                    <div class="djcf_images_generaldet_box">
                        <div class="span3">
                            <a href="@Html.GetImagemParceiro(local_evento.autenticacao)" class="fullsizable">
                                <img id="djc_mainimage" style=" height: 215px; width: 300px; " src="@Html.GetImagemParceiro(local_evento.autenticacao)">
                            </a>
                        </div>

                        <div class="djreviews span9">
                            <span class="djrv_item_rating djrv_rating @string.Format("{0}", !Html.isMobile() ? "pull-right" : "")">
                                <span class="djrv_stars" @string.Format("{0}", Html.isMobile()? "style=margin-left:8%" :"")>
                                    @for (int i = 0; i < avaliacao; i++)
                                    {
                                        <span class="djrv_star active"></span>
                                    }
                                    @for (int f = 0; f < 5 - avaliacao; f++)
                                    {
                                        <span class="djrv_star"></span>
                                    }
                                </span>
                            </span>
                        </div>

                        <div class="general_det span9" style="@string.Format("{0}", Html.isMobile()? "padding:10%;" : "") margin-top: -3%; ">
                            <div class="row_gd djcf_contact">
                                <div class="contact_mainrow">
                                    <h2>@proposta.ORCAMENTO_PROPOSTA.nome_proposta</h2>
                                    @if (proposta.convidados != null || proposta.data_evento != null)
                                    {
                                        if (valores != null)
                                        {
                                            <strong style="color:red">Pacote para @proposta.convidados pessoas</strong>
                                        }
                                        else
                                        {
                                            <br />
                                        }
                                        <div>
                                            @if (proposta.data_evento != null)
                                            {
                                                if (proposta.periodo.Equals("jantar"))
                                                {
                                                    var inicio = local_evento.horario_inicio_jantar ?? ((TimeSpan)local_evento.horario_inicio_jantar);
                                                    var fim = local_evento.horario_fim_jantar ?? ((TimeSpan)local_evento.horario_fim_jantar);

                                                    @Html.Raw(
                                        string.Format("<strong>Data do evento {0} | horário {1}</strong>", ((DateTime)proposta.data_evento).ToShortDateString(), (inicio == null || fim == null) ? "Jantar" : string.Format("{0}h{1} as {2}h{3}", inicio.Hours, ((inicio.Minutes.ToString().Length == 1) ? "0" + inicio.Minutes.ToString() : inicio.Minutes.ToString()), fim.Hours, ((fim.Minutes.ToString().Length == 1) ? "0" + fim.Minutes.ToString() : fim.Minutes.ToString())))
                            )
                                                }
                                                else
                                                {
                                                    var inicio = local_evento.horario_inicio_almoco ?? ((TimeSpan)local_evento.horario_inicio_almoco);
                                                    var fim = local_evento.horario_fim_almoco ?? ((TimeSpan)local_evento.horario_fim_almoco);

                                                    @Html.Raw(
                                                    string.Format("<strong>Data do evento {0} | {1} horário {2}</strong>", ((DateTime)proposta.data_evento).ToShortDateString(), (Html.isMobile()? "<br />":""), (inicio == null || fim == null) ? "Almoço" : string.Format("{0}h{1} as {2}h{3}", inicio.Hours, ((inicio.Minutes.ToString().Length == 1) ? "0" + inicio.Minutes.ToString() : inicio.Minutes.ToString()), fim.Hours, ((fim.Minutes.ToString().Length == 1) ? "0" + fim.Minutes.ToString() : fim.Minutes.ToString())))
                            )
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="contact_mainrow">
                                    <span class="row_label">Contato</span>
                                    <span class="row_value">
                                        @local_evento.telefone
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Html.isMobile())
                {
                    <div class="span12">
                        <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", local_evento.autenticacao)" target="_blank" class="btn btn-primary btn-lg">
                            Visualizar página do Buffet
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

 
<div class="container-fluid"> 

    @if (proposta.convidados == null || proposta.data_evento == null || string.IsNullOrEmpty(proposta.periodo))
    {
        <div class="modal fade bs-example-modal-sm" id="ConfirmarDados" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="/Proposta/AtualizarProposta" method="post">
                        <div class="modal-body">
                            <div class="span3 text-cente">
                                <h2 class="text-center">Olá @proposta.CLIENTE.nome</h2> <p /> <h3 class="text-center">Precisamos de algumas informações para lhe apresentar nossa proposta!</h3>
                            </div>
                            <div class="form-control">
                                <input type="hidden" name="autenticacao" value="@Model.autenticacao" />
                                @if (proposta.convidados == null)
                                {
                                    <label>Convidados</label>
                                    <input type="text" name="convidados" class="span3 form-control" required placeholder="Quantidade" />
                                }
                                @if (proposta.data_evento == null)
                                {
                                    <label>Data do evento</label>
                                    <input type="date" name="data_evento" class="span3 form-control" style=" height: 40px; " value="mm/dd/yy" required placeholder="Data do evento" />
                                }
                                @if (proposta.periodo == null || proposta.periodo == "")
                                {
                                    <label>Periodo</label>
                                    <select name="periodo" class="form-control span3" required style=" border-radius: 15px; ">
                                        <option value="">Selecionar</option>
                                        <option value="Jantar">Jantar</option>
                                        <option value="Almoço">Almoço</option>
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn span5 text-center" type="submit" value="Continuar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="modal fade" id="enviarEmail">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Entrar em Contato</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert" id="mensagem_email" style="display:none">
                            <strong id="textMensagem_email"></strong>
                        </div>
                        @if (proposta.CLIENTE.email == null)
                        {
                            <div class="span6">
                                <label>Seu e-mail</label>
                                <input type="email" id="email_email" class="span4" />
                            </div>
                        }
                        @if (proposta.CLIENTE.celular == null)
                        {
                            <div class="span6">
                                <label>Seu celular</label>
                                <input type="tel" id="celular_email" class="span4" />
                                <input style="height: 44px; padding-left: 50px; width: 200px; " title="Informe o Telefone celular (8 ou 9 Dígitos)" autocomplete="off" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" type="text" id="celular_email" maxlength="13" onkeyup="BuscarOperadora(this)" class="span4">
                                <input type="hidden" name="operadora" id="editar_operadora" value="" />
                                <input type="hidden" id="numero_valido" value="" />
                            </div>
                        }
                        <label>Assunto</label>
                        <input type="text" id="assunto_email" class="span12" />
                        <label>Mensagem</label>
                        <textarea rows="4" id="conteudo_email" class="span12"></textarea>
                        <div class="row">
                            <label>Telefone</label>
                            @proposta.EMPRESA.telefone
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" onclick="EnviarEmail(this)">Enviar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" id="agendarVisita">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agende uma visita</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert" id="mensagem" style="display:none">
                            <strong id="textMensagem"></strong>
                        </div>
                        @if (proposta.CLIENTE.email == null)
                        {
                            <label>Seu e-mail</label>
                            <input type="email" id="email" class="span4" />
                        }
                        else
                        {
                            <label>Seu celular</label>
                            <input type="tel" id="celular" class="span4" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" />
                        }
                        <label>Data</label>
                        <input type="date" id="data" class="span4" style=" height: 40px; " />
                        <label>Horário</label>
                        <input type="time" id="horario" class="span4" />
                        <label>Mensagem ( Opcional )</label>
                        <textarea rows="3" id="mensagem_visita"></textarea>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" onclick="AgendarVisita(this)">Agendar Visita</a>
                    </div>
                </div>
            </div>
        </div>

        foreach (var aba in proposta.ORCAMENTO_PROPOSTA.ORCAMENTO_PROPOSTA_ABAS.Where(e => e.disponivel == true).ToList())
        {
            <div class="jm-module title-box-ms">
                <div class="jm-module-in">
                    <div class="jm-title " >
                        <div>
                            <span>@aba.nome_aba</span>
                        </div>
                    </div>
                </div>
            </div>

    <div class="container-fluid well" style="background-color:white">
        <div class="span4" style=" margin-left: 1%; ">
            @foreach (var descricoes in aba.ORCAMENTO_PROPOSTA_DESCRICAO.Where(e => e.coluna == 0 && e.disponivel == true).ToList())
            {
                <div>
                    <h3>@Html.Raw(descricoes.nome)</h3>
                    @Html.Raw(descricoes.descricao) <br />
                </div>
            }
        </div>
        <div class="span4" style=" margin-left: 1%; ">
            @foreach (var descricoes in aba.ORCAMENTO_PROPOSTA_DESCRICAO.Where(e => e.coluna == 1 && e.disponivel == true).ToList())
            {
                <div>
                    <h3>@Html.Raw(descricoes.nome)</h3>
                    @Html.Raw(descricoes.descricao) <br />
                </div>
            }
        </div>
        <div class="span4" style=" margin-left: 1%; ">
            @foreach (var descricoes in aba.ORCAMENTO_PROPOSTA_DESCRICAO.Where(e => e.coluna == 2 && e.disponivel == true).ToList())
            {
                <div>
                    <h3>@Html.Raw(descricoes.nome)</h3>
                    @Html.Raw(descricoes.descricao) <br />
                </div>
            }
        </div>
    </div>
        }

        <div class="jm-module title-box-ms">
            <div class="jm-module-in">
                <div class="jm-title ">
                    <div>
                        <span>Valores</span>
                    </div>
                </div>
            </div>
        </div>
        
    <div class="container-fluid well" style="background-color:white">
            @if (valores != null && (proposta.periodo.Equals("Jantar") ? valores.valor_jantar != 0 : valores.valor_almoco != 0))
            {
                var almoco = (valores.valor_almoco + (valores.valor_adicional_pessoa * ((proposta.convidados < 50 ? 50 : proposta.convidados) - valores.ORCAMENTO_PROPOSTA_PACOTE.quantidade_pessoas)));
                var jantar = valores.valor_jantar + (valores.valor_adicional_pessoa * ((proposta.convidados < 50 ? 50 : proposta.convidados) - valores.ORCAMENTO_PROPOSTA_PACOTE.quantidade_pessoas));
                
        <div class="span4" style=" margin-left: 1%; ">
                    <h3>Preço</h3>
                    Valor do pacote para @proposta.convidados pessoas<br />

                    @Html.Raw(string.Format("R$ {0} <br />", (proposta.periodo.Equals("Jantar") ? jantar : almoco)))

                    @if (valores.valor_adicional_pessoa != 0)
                    {
                        Html.Raw(string.Format("Pessoas adicionais R$ {0} <br />", valores.valor_adicional_pessoa));
                    }

                    @if (proposta.ORCAMENTO_PROPOSTA.idade_minima != 0)
                    {
                        Html.Raw(string.Format("Crianças até {0} anos não pagam.<br />", proposta.ORCAMENTO_PROPOSTA.idade_minima));
                    }
                    <br />
                    <h3>Forma de Pagamento</h3>
                    @Html.Raw(string.Format("{0}x de R$ {1} sem juros <br />", proposta.ORCAMENTO_PROPOSTA.quantidade_parcelas, ((proposta.periodo.Equals("Jantar") ? jantar : almoco) / proposta.ORCAMENTO_PROPOSTA.quantidade_parcelas).ToString().Substring(0, 6)))

                    @if (proposta.ORCAMENTO_PROPOSTA.boleto == true && proposta.ORCAMENTO_PROPOSTA.cartao == true)
                    {
                        Html.Raw("No cartão de crédito ou boleto*");
                    }
                    else if (proposta.ORCAMENTO_PROPOSTA.boleto == true)
                    {
                        Html.Raw("No cartão de crédito");
                    }
                    else if (proposta.ORCAMENTO_PROPOSTA.cartao == true)
                    {
                        Html.Raw("No boleto*");
                    }
                    @if (proposta.ORCAMENTO_PROPOSTA.porcento_desconto_avista > 0)
                    {
                    <strong>@Html.Raw(string.Format("A vista com {0}% de desconto<br /> R$ {1} <br />", proposta.ORCAMENTO_PROPOSTA.porcento_desconto_avista, ((proposta.periodo.Equals("Jantar") ? jantar : almoco) - ((proposta.periodo.Equals("Jantar") ? jantar : almoco) * proposta.ORCAMENTO_PROPOSTA.porcento_desconto_avista) / 100)))</strong>
                    }
                    <small style=" font-size: 10px; ">* boleto: somente com vencimento até a data da festa</small><br>
                </div>
            }
            else
            {
                <div class="text-center">
                    <h2>Para saber mais detalhes, por favor entre em contato conosco!</h2>
                </div>
                <div class="text-center">
                    <div class="span6"></div>
                    <input type="button" class="btn btn-success" data-target="#enviarEmail" data-toggle="modal" value="Entrar em contato" />
                </div>
            }
        </div>
    }
</div>
