* { margin: 0; padding: 0; }
html,body { 
	font: 13px Arial, serif;
	line-height: 1.5em;
	/*text-align:justify;*/
	color:#000000;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 	
}

article, aside, figure, footer, header, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

a img {
	border:0;
}

.clearBoth {
	clear:both;
	margin:0;
	padding:0;
}
#buynow {
	position:absolute;
	top:38px;
	right:10px;
	z-index:1000;
}
#buynowBig {
	position:absolute;
	top:38px;
	right:120px;
	z-index:1000;
}

#downloadsgif {
	position:absolute;
	top:40px;
	left:50%;
	z-index:1000;
	margin-left:-75px;
}


#page-wrap {
	width:100%;
	margin: 39px auto 0 auto;
	*+padding-top:39px;
}

#banner-div-thumbs {
	height:550px;
	clear:both;
}
#banner-div-rotator {
	height:500px;
	clear:both;
}
#banner-div-rotator-universal {
	height:530px;
	clear:both;
}

#banner-div-rotator-attractive {
	height:540px;
	clear:both;
}
#banner-div-playlist {
	height:500px;
	clear:both;
}
#banner-div-playlist-elegant {
	height:530px;
	clear:both;
}
#banner-div-playlist-easy {
	height:600px;
	clear:both;
}
#banner-div-contentSlider {
	height:590px;
	clear:both;
}
#banner-div-contentSlider-surprise {
	height:520px;
	clear:both;
}
#banner-div-contentSlider-imposing {
	height:600px;
	clear:both;
}
#banner-div-contentSlider-charming {
	height:480px;
	clear:both;
}

#zzz {
/*	text-align:left;
	padding:50px 0 0 0;
	background:#0F3;*/
}

.generalWidth {
	width:998px;
	margin: 0 auto;
}

#home_ul {
	margin:0;
	list-style:none;
}
#home_ul li {
	/*border:1px solid #F00;*/
	width:315px;
	float:left;
	display:inline-block;
}
#home_ul .paddingx {
	padding:10px 10px 100px 10px;
	text-align:center;
}
#home_ul a {
	color:#6f1837;
	text-decoration:none;
	font: bold 18px 'Droid Sans', sans-serif;
}
#home_ul a:hover {
	color:#6f1837;
	text-decoration:underline;
	font: bold 18px 'Droid Sans', sans-serif;
}
#home_ul p {
	padding:10px 0 10px 0;
}

#home_ul .versions {
	margin: 10px 0px 0px 20px;
	text-align:left;
}
#home_ul .versions li {
	color:#6f1837;
	background:url(../preview_images/listIconHome.png) 0 4px no-repeat;
}
#home_ul .versions li a {
	color:#6f1837;
	text-decoration:none;
	font: bold 13px 'Droid Sans', sans-serif;
	padding-left:20px;
}
#home_ul .versions li a:hover {
	color:#6f1837;
	text-decoration:underline;
	font: bold 13px 'Droid Sans', sans-serif;
}

/*****fade*****/
#all-main-content-home-top-fade {
	background:url(../preview_images/inner-right-bg-top-fade.png) top center no-repeat;
	padding:28px 0px 0px 0px;
}
#all-main-content-home-bottom-fade {
	background:url(../preview_images/inner-right-bg-bottom-fade.png) bottom center no-repeat;
	height:50px;
	clear:both;
}

/*****-*****/

#before-main-content {
	/*position:relative;
	background:url(../preview_images/home-bg-pixel-repeat.png) #FFFFFF top center repeat-y;
	border: #0b5ab3 1px solid;*/
}
#before-main-content .padding {
	padding: 2px 0px 20px 0px;
}

#before-main-content h1 {
	font: 44px 'Arimo', sans-serif;
	color:#0b5ab3 !important;

}

#search-area {
	position:absolute;
	top:2px;
	right:30px;
	font: 11px Verdana, serif;
	line-height:1.7em;
}

#search-area .input-field {
	color: #000000;
	font: 11px Verdana, serif;
	background:url(../preview_images/input_bg.png) top left no-repeat #FFFFFF !important;
	border-top: 1px solid #f7f7f7;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #f7f7f7;
	width:230px;
	height:23px;
	padding-left:5px;
}
#search-area .submit_but {
	float:right;
	padding:0px 0px 0px 5px;
}

#welcome-message {
	width:966px;
	margin:0 auto;
	text-align:center;
	padding: 0px 0px 15px 0px;
	color:#494949 !important;
	font: 18px/1.3em 'Droid Sans', sans-serif;
}
#welcome-message h1{
	width:966px;
	margin:0 auto;
	text-align:center;
	padding: 0px 0px 15px 0px;
	color:#494949 !important;
	font: 18px/1.3em 'Droid Sans', sans-serif;
}


.float-block {
	float:left;
	display:block;
}

.display_inline {
	display:inline;
}

#flags {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	z-index:90;
	top:35px;
	right:17px;
}

#header{
	background: url(../preview_images/top-bg.jpg) top center repeat-x;
	height: 90px;
}

#topicons {
	position:absolute;
	top:2px;
	right:5px;
}
#mobilecomp {
	position:absolute;
	top:30px;
	right:5px;
}

#topicons ul {
	list-style:none;
	margin-top:-2px;
}


#topicons ul li a {
	padding-right: 10px;
}

#topicons ul li a:hover {
	/*border:#F00 1px solid;*/
}

/***** NAV MENU *****/
#nav {
	text-align:center;
	background:#ff771c;
	clear:both;
}

#nav .dots {
	padding: 0 5px 0 5px;
	background:url(../preview_images/bullets-menu.png) 5px 5px no-repeat;
}

#nav ul {
	width:988px;
	list-style:none;
	padding:3px 0 4px 0;
	z-index:2000;
}

#nav ul li {
	position:relative;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	font: bold 14px 'Arimo', sans-serif;
	padding:4px 0 4px 0;
	z-index:2000;
}

#nav a {
	color:#4c2b58;
	text-decoration:none;
	text-transform:uppercase;
	font: bold 14px 'Arimo', sans-serif;
}

#nav a:hover {
	color:#FFF;
}
#nav .aselected a {
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	font: bold 14px 'Arimo', sans-serif;
}
#nav .aselected a:hover {
	color:#FFF;
}

#nav .sub_menu {
	display:none;
	position:absolute;
	top:22px;
	left:-14px;
	width:170px;
	background:#ff771c;
	text-align:left;
	z-index:2000;
}

#nav .sub_menu li {
	display:block;
	z-index:2000;
}

#nav .sub_menu li a {
	color:#4c2b58;
	text-decoration:none;
	text-transform:capitalize;
	font: bold 15px 'Arimo', sans-serif;
}

#nav .sub_menu li a:hover {
	color:#FFF;
}

#nav .firstli {	
	padding:15px 0px 0px 15px;
}
#nav .middleli {	
	padding:12px 0px 0px 15px;
}
#nav .lastli {	
	padding:12px 0px 12px 15px;
}

/***** CAROUSEL *****/
#carousel{
	background: url(../preview_images/carousel-bg.jpg) top center repeat-x;
	margin-top:66px;
}

#thumbnails {
	padding-top:22px;
	padding-bottom:22px;
	border:0;
}

#middle {
	width:960px;
	margin:0 auto;
	background:url(../preview_images/middleBg.png) top center repeat-y;
}

#middle .padding {
	padding: 10px 0 10px 0px;
}

#tweets .content {
	margin-bottom:39px;
}
#tweets .versions {
	margin: -10px 0px 0px 40px;
	text-align:left;
}
#tweets .versions li {
	color:#6f1837;
	background:url(../preview_images/listIconHome.png) 0 4px no-repeat;
}
#tweets .versions li a {
	color:#6f1837;
	text-decoration:none;
	font: bold 13px 'Droid Sans', sans-serif;
	padding-left:20px;
}
#tweets .versions li a:hover {
	color:#6f1837;
	text-decoration:underline;
	font: bold 13px 'Droid Sans', sans-serif;
}

#colTitle{
	height:17px;
	margin-bottom:15px;
	background: url(../preview_images/pattern-col-title.png) top right;
}

#tweets {
	width:300px;
	padding-right:17px;
	/*border-right:#e4dfe6 1px solid;*/
	margin-right:17px;
	margin-left:0px;
}

#tweets h2 {
	float:left;
	color:#ff9249;
	text-decoration:none;
	font: bold 28px 'Droid Sans', sans-serif;
	margin-top:-10px;
	margin-left:-1px;
	padding:0 17px 0 0;
	background:#FFF;
}

#tweets ul {
	list-style:none;
	padding:20px 0 0 0;
}

#tweets ul li {
	padding-left: 0px;
}

#tweets p {
	padding-left: 40px;
}

#tweets .date {
	padding:0 0 3px 40px;
}
#tweets .date a {
	color:#6f1837;
	text-decoration:none;
	font: bold 18px 'Droid Sans', sans-serif;
}
#tweets .date a:hover {
	color:#6f1837;
	text-decoration:underline;
	font: bold 18px 'Droid Sans', sans-serif;
}

#tweets .desc {
	color:#3d4247;
	font: 13px 'Arial', sans-serif;
	padding:0 0 14px 40px;
	text-align:left;
	line-height:1.5em;
}

#tweets a {
	color:#766dbe;
	font: 11px 'Arial', sans-serif;
}

#tweets a:hover {
	color:#FF4247;
	font: 11px 'Arial', sans-serif;
}

#latest-news {
	width:300px;
	padding-right:5px;
	/*border-right:#e4dfe6 1px solid;*/
	margin-right:17px;
	margin-left:0px;
}

#colTitle2{
	height:17px;
	margin-right:10px;
	margin-bottom:15px;
	background: url(../preview_images/pattern-col-title.png) top right;
}

#latest-news h2 {
	float:left;
	color:#ff9249;
	text-decoration:none;
	font: bold 28px 'Droid Sans', sans-serif;
	margin-top:-10px;
	margin-left:-3px;
	padding:0 17px 0 0;
	background:#FFF;
}

#latest-news h3 {
	color:#d9172e;
	text-decoration:none;
	text-transform:uppercase;
	font: 18px 'Arimo', sans-serif;
	padding:0 0 5px 0;
}


#latest-news ul {
	list-style:none;
	padding:18px 0 0 0;
}

#latest-news ul li {
	padding:2px 13px 9px 0;
}


#latest-news ul li a{
	color:#6f1837;
	font: bold 14px 'Droid Sans', sans-serif;
	text-decoration:none;
}

#latest-news ul li a:hover {
	color:#ff771c;
	font: bold 14px 'Droid Sans', sans-serif;
	text-decoration:none;
}

#read{
	text-align:right;
	padding:0 0 15px;
}
	
#latest-news .read-more {
	background: url(../preview_images/readmore-bg.jpg) top right no-repeat;
	height:27px;
	padding: 12px 50px 0px 0px;
	color:#0b5ab3;
	font: bold 11px 'Arial', sans-serif;
	text-align:right;
	text-transform:uppercase;
	text-decoration:none;
}

#latest-news .read-more a {
	background: url(../preview_images/readmore-bg.jpg) top right no-repeat;
	height:27px;
	padding: 12px 50px 0px 0px;
	color:#0b5ab3;
	font: bold 11px 'Arial', sans-serif;
	text-align:right;
	text-transform:uppercase;
	text-decoration:none;
}

#latest-news .read-more a:hover {
	background: url(../preview_images/readmoreON-bg.jpg) top right no-repeat;
	color:#d9172e;
	text-decoration:none;
}

#latest-news .desc {
	color:#3d4247;
	font: 12px 'Arial', sans-serif;
	padding:0 0 7px 0px;
	text-align:left;
	line-height:1.5em;
}
#latest-news .other-products li {
	clear:both;
	text-align:left;
}
#latest-news .other-products li a {
	color:#666;
	text-align:left;
	text-decoration:none;
	font: bold 15px 'Droid Sans', sans-serif;
}

#latest-news .other-products li a:hover {
	color:#666;
	text-align:left;
	text-decoration:none;
	font: bold 15px 'Droid Sans', sans-serif;	
	text-decoration:underline;
}


/***/
#latest-newsz{
	width:300px;
	margin-left:0px;
}

#colTitle3{
	height:17px;
	margin-right:1px;
	margin-bottom:15px;
	background: url(../preview_images/pattern-col-title.png) top right;
}

#latest-newsz h2 {
	float:left;
	color:#ff9249;
	text-decoration:none;
	font: bold 28px 'Droid Sans', sans-serif;
	margin-top:-10px;
	margin-left:-1px;
	padding:0 17px 0 0;
	background:#FFF;
}
#latest-newsz h3 {
	color:#d9172e;
	text-decoration:none;
	text-transform:uppercase;
	font: 18px 'Arimo', sans-serif;
	padding:0 0 5px 0;
}


#latest-newsz ul {
	list-style:none;
	padding:18px 0 0 0;
}

#readz{
	text-align:right;
	padding:0 0 15px;
}
	
#latest-newsz .read-more {
	background: url(../preview_images/readmore-bg.jpg) top right no-repeat;
	height:27px;
	padding: 12px 50px 0px 0px;
	color:#0b5ab3;
	font: bold 11px 'Arial', sans-serif;
	text-align:right;
	text-transform:uppercase;
	text-decoration:none;
}

#latest-newsz .read-more a {
	background: url(../preview_images/readmore-bg.jpg) top right no-repeat;
	height:27px;
	padding: 12px 50px 0px 0px;
	color:#0b5ab3;
	font: bold 11px 'Arial', sans-serif;
	text-align:right;
	text-transform:uppercase;
	text-decoration:none;
}

#latest-newsz .read-more a:hover {
	background: url(../preview_images/readmoreON-bg.jpg) top right no-repeat;
	color:#d9172e;
	text-decoration:none;
}

#latest-newsz .desc {
	color:#3d4247;
	font: 12px 'Arial', sans-serif;
	padding:0 0 7px 0px;
	text-align:left;
	line-height:1.5em;
}



.featuresUL {
	color:#3d4247;
	font: 13px 'Arial', sans-serif;
	padding:0 0 14px 40px;
	text-align:left;
	line-height:1.5em;
}
.featuresUL li {
	padding:2px 0px 15px 30px;
	background:url(../preview_images/ListIcon_feat.png) 0 0 no-repeat;
}


/*.featuresUL_new {
}
.featuresUL_new ul {
	color:#3d4247;
	font: 13px 'Arial', sans-serif;
	padding:0 0 14px 140px;
	text-align:left;
	line-height:1.5em;
}
.featuresUL_new ul li {
	padding:2px 0px 15px 30px;
	background:url(../preview_images/ListIcon_feat.png) 0 0 no-repeat;
}*/

#kenburns {
	width:939px;
	margin:0 auto;
	clear:both;
	padding:70px 0 70px 0;
	border-top:1px solid #e4dfe6;
}
#floatdiv {
	position:absolute;
	left:0px;
	bottom:20px;
	height:89px;
	z-index:1000;	
}

#footer {	
	background: #000000;
	clear:both;
}

#footer .menu {
	width:960px;
	margin: 0 auto;
	padding: 10px 0px 30px 0px;
}

#bottomTitle {
	width:960px;
	padding: 20px 0 70px 0;
	border-bottom:#1f1f1f 1px solid;
	margin: 0 auto;
	margin-bottom:20px;
}

#logoBottom {
	padding: 0 0 0px 0;
	float:left;
}

#sloganBottom {
	width:430px;
	padding: 8px 0 0 20px;
	float:left;
	font: bold 25px/1.1em 'Droid Sans', sans-serif;
	color:#393939;
	text-align:left;
}

#footer h4{
	color:#ff781e;
	font: bold 15px 'Droid Sans', sans-serif;
	padding:0px 0px 25px 0px;
	text-align:center;
	text-transform:uppercase;
}

.footer-main-menu {
	width:150px;
	margin-right:12px;
	
}

.footer-main-menu ul {
	position:absolute;
	list-style:none;
	width:150px;
	margin-top:-12px;
}

.footer-main-menu li {
	background:#1e1e1e;
	margin-bottom:3px;
    display: block;
    padding: 10px 0px 10px 10px;
	color:#cccccc;
	font: 15px 'Droid Sans', sans-serif;
	text-align:left;
	text-decoration:none;
}

.footer-main-menu li a {
	color:#cccccc;
	text-decoration:none;
}

.footer-main-menu li a:hover {
	color:#ff781e;
	text-decoration:none;
}



#footer-copyright{
	width:960px;
	margin-top:170px;
	padding: 10px 0px 10px 0px;
	color:#393939;
	font: 11px 'Arial', sans-serif;
}

#footer-copyright a {
	color:#393939;
	text-decoration:none;
}

#footer-copyright a:hover {
	color:#FFFFFF;
	text-decoration:none;
}