﻿
@{
    ViewBag.Title = "BuffetWeb | Album";
}

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/Home">Inicio</a></li>
                    <li><i class="fa fa-image pr-10"></i><a href="/Home/GaleriaImagens">Galeria de Imagens</a></li>
                    <li class="active">Album</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->


<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <h3>Aniversário - Ashley - 7 meses </h3>
                        <div class="separator-2"></div>
                        <div class="row">

                            <div role="tabpanel" class="tabs-style-2">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#evento" aria-controls="evento" role="tab" data-toggle="tab">Evento</a></li>
                                    <li role="presentation"><a href="#depoimento" aria-controls="depoimento" role="tab" data-toggle="tab">Depoimento</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="evento">Espaço Reservado para descrever sobre o Evento.</div>
                                    <div role="tabpanel" class="tab-pane" id="depoimento">...<br><br><br></div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills white space-top" role="tablist">
                            <li class="active"><a href="#portfolio-images" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Foto</a></li>
                            <li><a href="#portfolio-video" role="tab" data-toggle="tab" title="video"><i class="fa fa-video-camera pr-5"></i> Vídeo</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content clear-style">
                            <div class="tab-pane active" id="portfolio-images">
                                <div class="owl-carousel content-slider-with-controls">
                                    <div class="overlay-container">
                                        <img src="~/Content/images/portfolio-item-festa-2-1.jpg" alt="">
                                        <a href="~/Content/images/portfolio-item-festa-2-1.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                    <div class="overlay-container">
                                        <img src="~/Content/images/portfolio-item-festa-2-2.jpg" alt="">
                                        <a href="~/Content/images/portfolio-item-festa-2-2.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                    <div class="overlay-container">
                                        <img src="~/Content/images/portfolio-item-festa-2-3.jpg" alt="">
                                        <a href="~/Content/images/portfolio-item-festa-2-3.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                    <div class="overlay-container">
                                        <img src="~/Content/images/portfolio-item-festa-2-4.jpg" alt="">
                                        <a href="~/Content/images/portfolio-item-festa-2-4.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="portfolio-video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/Content///player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                                    <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<div class="section dark-translucent-bg parallax-bg-3 parallax">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">Integre Nossos Módulos com Seu Site e Tenha Ótimos Resultados</h1>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/Home/Contato?assunto=Agendar Demonstração" class="btn btn-default contact">Agende uma Demonstração</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Casos de Sucesso</h2>
                <div class="separator-2"></div>
                <p>Veja Algumas das Empresas que Possuem Nossos Módulos. </p>
                <div class="owl-carousel carousel">
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                        <div class="overlay-container">
                            <img src="~/Content/images/lamansion.jpg" alt="">
                            <a target="_blank" href="http://www.lamansion.com.br" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>La Mansión</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa2</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa3</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa4</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa5</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa6</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa7</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="~/Content/images/portfolio-buffetweb.jpg" alt="">
                            <a href="portfolio-item.html" class="overlay small">
                                <i class="fa fa-link"></i>
                                <span>Empresa8</span>
                            </a>
                        </div>
                        <!-- <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- section end -->
