﻿@model BuffetDataShared.Model.Pacote.PacoteEscolhido

<input type="hidden" id="configuracao" data-permitir_menos_que_apartir="true" data-convidados="@ViewBag.convidados" />
<script src="~/Content/Script/Buffet/MontarEvento/MontarEvento.js"></script>

<div class="panel panel-default" >
    <div class="panel-heading">
        Detalhes
        <div class="pull-right">
            <input type="button" class="btn btn-success" value="Confirmar" />
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" style=" width: 230px; ">
                <img width="200" src="http://blog.festabox.com.br/wp-content/uploads/2013/02/festaanimada_festabox.jpg" class="img-thumbnail" />
            </div>
            <div class="col-md-9">
                <input type="hidden" id="total" value="@Model.cardapio.valor_venda" />
                <input type="hidden" id="minimo" value="@Model.cardapio.valor_venda" />
                <h1 id="total_desc">
                    @string.Format("R$ {0}", Model.cardapio.valor_venda)
                </h1>
                <strong>A partir*</strong>
                <h4>Valor Por Pessoa</h4>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body"> 
            <div role="tabpanel" id="Itens">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#cardapios" aria-controls="home" role="tab" data-toggle="tab">Cardápios</a></li>
                    @if (Model.evento.EVENTO_SERVICOS.Count != 0)
                    { 
                        <li role="presentation"><a href="#servicos" aria-controls="home" role="tab" data-toggle="tab">Serviços</a></li>
                    }
                    @if (Model.evento.EVENTO_DIVERSOS.Count != 0)
                    {
                        <li role="presentation"><a href="#materiais" aria-controls="home" role="tab" data-toggle="tab">Materiais</a></li>
                    }
                    @if (Model.evento.EVENTO_ALUGUEL.Count != 0)
                    {
                        <li role="presentation"><a href="#aluguel" aria-controls="home" role="tab" data-toggle="tab">Itens de aluguel</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="cardapios">
                        <div class="panel-body relative">
                           
                            <div class="row">
                                <div class="panel-heading">Opções inclusas no Buffet</div>
                                @foreach (var cardapio in Model.cardapio.PACOTE_CATEGORIA_ITENS.Where(e => e.CATEGORIA_ITENS.descricao.Equals("INCLUSA")))
                                    {
                                        if (Model.pacotes_itens.Where(e => e.id_categoria_pacote == cardapio.id).ToList().Count != 0 || cardapio.editavel == true)
                                        {
                                            <div class="col-md-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading clearfix">
                                                        <span class="pull-left">
                                                            @cardapio.CATEGORIA_ITENS.nome
                                                        </span>
                                                        <ul class="tool-bar">
                                                            <li>
                                                                @if (cardapio.editavel == true)
                                                                {
                                                                    <a href="#" data-toggle="modal" data-target="#@string.Format("modal{0}", cardapio.CATEGORIA_ITENS.id)" data-placement="bottom" title="" data-original-title="Editar"><i class="fa fa-edit"></i></a>
                                                                }
                                                            </li>
                                                            <li>
                                                                <a href="#@string.Format("categoria{0}", cardapio.CATEGORIA_ITENS.id)" data-toggle="collapse" class="">
                                                                    <i class="fa fa-arrows-v"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="panel-body no-padding collapsing" id="@string.Format("categoria{0}", cardapio.CATEGORIA_ITENS.id)">
                                                        <ul class="list-group task-list no-margin collapse in" id="@string.Format("ul_categoria{0}", cardapio.CATEGORIA_ITENS.id)">
                                                            @if (Model.pacotes_itens.Where(e => e.id_categoria_pacote == cardapio.id).ToList().Count != 0)
                                                            {
                                                                foreach (var itensCardapio in Model.pacotes_itens.Where(e => e.id_categoria_pacote == cardapio.id).OrderByDescending(c => c.id).ToList())
                                                                {

                                                                    <li style=" height: 40px; " class="list-group-item">
                                                                        <span class="pull-left">
                                                                            @Model.itens_cardapio.FirstOrDefault(e => e.id == itensCardapio.id_itens_cardapio).nome
                                                                        </span>
                                                                        @if (Model.cardapio.mostrar_valor)
                                                                        {
                                                                            <span class="pull-right">@Model.cardapio.valor_venda</span>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li style=" height: 40px; " class="list-group-item">
                                                                    <span class="text-center">
                                                                        Nenhum item adicionado, adicione clicando no botão acima.
                                                                    </span>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="loading-overlay">
                                                        <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                            </div>
                            <div class="row">
                                <div class="panel-heading">Opções Extras do Buffet</div>
                                @foreach (var cardapio in Model.cardapio.PACOTE_CATEGORIA_ITENS.Where(e => e.CATEGORIA_ITENS.descricao.Equals("EXTRA")))
                                    {
                                        if (Model.pacotes_itens.Where(e => e.id_categoria_pacote == cardapio.id).ToList().Count != 0 || cardapio.editavel == true)
                                        {
                                            <div class="col-md-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading clearfix">
                                                        <span class="pull-left">
                                                            @cardapio.CATEGORIA_ITENS.nome
                                                        </span>
                                                        <ul class="tool-bar">
                                                            <li>
                                                                @if (cardapio.editavel == true)
                                                                {
                                                                    <a href="#" data-toggle="modal" data-target="#@string.Format("modal{0}", cardapio.CATEGORIA_ITENS.id)" data-placement="bottom" title="" data-original-title="Editar"><i class="fa fa-edit"></i></a>
                                                                }
                                                            </li>
                                                            <li>
                                                                <a href="#@string.Format("categoria{0}", cardapio.CATEGORIA_ITENS.id)" data-toggle="collapse" class="">
                                                                    <i class="fa fa-arrows-v"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="panel-body no-padding collapsing" id="@string.Format("categoria{0}", cardapio.CATEGORIA_ITENS.id)">
                                                        <ul class="list-group task-list no-margin collapse in" id="@string.Format("ul_categoria{0}", cardapio.CATEGORIA_ITENS.id)">
                                                            @if (Model.pacotes_itens.Where(e => e.id_categoria_pacote == cardapio.id).ToList().Count != 0)
                                                            {
                                                                foreach (var itensCardapio in Model.pacotes_itens.Where(e => e.id_categoria_pacote == cardapio.id).OrderByDescending(c => c.id).ToList())
                                                                {
                                                                    <li style=" height: 40px; " class="list-group-item">
                                                                        <span class="pull-left">
                                                                            @Model.itens_cardapio.FirstOrDefault(e => e.id == itensCardapio.id_itens_cardapio).nome
                                                                        </span>
                                                                        @if (Model.cardapio.mostrar_valor)
                                                                        {
                                                                            <span class="pull-right">@Model.cardapio.valor_venda</span>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li style=" height: 40px; " class="list-group-item">
                                                                    <span class="text-center">
                                                                        Nenhum item adicionado, adicione clicando no botão acima.
                                                                    </span>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="loading-overlay">
                                                        <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="servicos">
                        <div class="panel-body relative">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nome</th>
                                        <th align="right">Valor venda</th>
                                    </tr>
                                </thead>
                                @foreach (var servico in Model.evento.EVENTO_SERVICOS)
                                {
                                    if (servico.ITENS_SERVICOS.status == true)
                                    {
                                         <tr>
                                            <td>
                                                <label class="label-checkbox">
                                                    <input type="checkbox" class="chk-row">
                                                    <span class="custom-checkbox"></span>
                                                </label>
                                            </td>
                                            <td>@servico.ITENS_SERVICOS.nome</td>
                                            <td>@servico.ITENS_SERVICOS.valor_venda</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    @if (Model.evento.EVENTO_DIVERSOS.Count != 0)
                    {
                    <div role="tabpanel" class="tab-pane" id="materiais">
                        <div class="panel-body relative">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nome</th>
                                        <th align="right">Valor venda</th>
                                    </tr>
                                </thead>
                                @foreach (var servico in Model.evento.EVENTO_DIVERSOS)
                                {
                                    if (servico.ITENS_DIVERSOS.status == true)
                                    {
                                        <tr>
                                            <td>
                                                <label class="label-checkbox">
                                                    <input type="checkbox" class="chk-row">
                                                    <span class="custom-checkbox"></span>
                                                </label>
                                            </td>
                                            <td>@servico.ITENS_DIVERSOS.nome</td>
                                            <td>@servico.ITENS_DIVERSOS.valor_venda</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    }

                    @if (Model.evento.EVENTO_ALUGUEL.Count != 0)
                    {
                        <div role="tabpanel" class="tab-pane" id="aluguel">
                        <div class="panel-body relative">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nome</th>
                                        <th align="right">Valor venda</th>
                                    </tr>
                                </thead>
                                @foreach (var servico in Model.evento.EVENTO_ALUGUEL)
                                {
                                    if (servico.ITENS_ALUGUEL.status == true)
                                    {
                                       <tr>
                                            <td>
                                                <label class="label-checkbox">
                                                    <input type="checkbox" class="chk-row">
                                                    <span class="custom-checkbox"></span>
                                                </label>
                                            </td>
                                            <td>@servico.ITENS_ALUGUEL.nome</td>
                                            <td>@servico.ITENS_ALUGUEL.valor_venda</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        </div>
                    } 
                </div>
            </div> 
    </div>
</div>