﻿@model BuffetDataShared.Model.MontarEvento.ModelMontarEvento
@{
    ViewBag.Title = "Informacoes Do Evento";
}

<div class="row">
    <form class="form-horizontal form-border no-margin" method="post" action="/MontarEvento/SalvarInformacoesDoEvento">
        <input type="hidden" name="id_evento" value="@ViewBag.id_tipo_evento" />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Informações Do Evento
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                @foreach (var campos in Model.campos_descricao)
                                {
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <h2>@campos.nome</h2>
                                        </div>
                                        @foreach (var campo in campos.CAMPOS_COMPONENTES)
                                        {
                                            <div class="@campo.css">
                                                <label id="@string.Format("id_campo-{0}|id_componente-{1}", campo.id_campo_descricao, campo.id)">@campo.label</label>
                                                @if (campo.type == "text" || campo.type == "date" || campo.type == "email")
                                                {
                                                    if (Model.cliente != null)
                                                    {
                                                        switch (campo.name)
                                                        {
                                                            case "email":
                                                                {
                                                                    <input type="@campo.type" value="@Model.cliente.email" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />

                                                                } break;
                                                            case "nome":
                                                                {
                                                                    <input type="@campo.type"  value="@Model.cliente.nome" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />

                                                                } break;
                                                            case "telefone":
                                                                {
                                                                    <input type="@campo.type" value="@Model.cliente.telefone" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />

                                                                } break;
                                                            case "celular":
                                                                {
                                                                    <input type="@campo.type" value="@Model.cliente.celular" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />

                                                                } break;
                                                            default:
                                                                {
                                                                    <input type="@campo.type" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />
                                                                }; break;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input type="@campo.type" class="col-md-12 form-control" name="@campo.name" id="@campo.id_component" pattern="@campo.regex" maxlength="@campo.max_length" @campo.function @string.Format("{0}", campo.required == true ? "required" : "") />
                                                    }
                                                }
                                                else if (campo.type == "select")
                                                {
                                                    <select class="form-control col-md-12" name="@campo.name" id="@campo.name">
                                                        @switch (campo.name)
                                                        {
                                                            case "id_local_evento":
                                                                {
                                                                    if (Model.local_evento.Count == 1)
                                                                    {
                                                                        <option value="@Model.local_evento.FirstOrDefault().id">@Model.local_evento.FirstOrDefault().nome</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="">Selecione</option>
                                                                        foreach (var local_evento in Model.local_evento)
                                                                        {
                                                                            <option value="@local_evento.id">@local_evento.nome</option>
                                                                        }
                                                                    }
                                                                } break;
                                                            case "id_tipo_servico":
                                                                {
                                                                    <option value="">Selecione</option>
                                                                    foreach (var tipo_servico in Model.tipo_servico)
                                                                    {
                                                                        <option value="@tipo_servico.id">@tipo_servico.nome</option>
                                                                    }
                                                                } break;
                                                            case "id_horario_evento":
                                                                {
                                                                    <option value="">Selecione</option>
                                                                    foreach (var horario_evento in Model.horario_evento)
                                                                    {
                                                                        <option value="@horario_evento.id">@horario_evento.nome</option>
                                                                    }
                                                                } break;
                                                            case "id_onde_conheceu":
                                                                {
                                                                    if (Model.cliente != null)
                                                                    {
                                                                        <option value="@Model.como_conheceu.FirstOrDefault(e => e.id == Model.cliente.id_onde_conheceu).id">@Model.como_conheceu.FirstOrDefault(e => e.id == Model.cliente.id_onde_conheceu).nome</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="">Selecione</option>
                                                                        foreach (var como_conheceu in Model.como_conheceu)
                                                                        {
                                                                            <option value="@como_conheceu.id">@como_conheceu.nome</option>
                                                                        }
                                                                    }
                                                                } break;
                                                        }
                                                    </select>
                                                }
                                                else if (campo.type == "label")
                                                {
                                                    <label id="@campo.id_component"></label>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="panel-footer">
                        <button type="button" onclick="window.history.back()" class="btn btn-info">Voltar</button>
                        <button type="submit" class="btn btn-success">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
