/**
 * Name: layout.css
 *	
 *	T.O.C
 *
 * =Wrap
 * =Header Top
 * =Header
 * =Logo
 * =Menu
 * =Mobile Menu
 * =Mobile menu trigger
 * =Custom search form
 * =Sticky Header
 * =Content
 * =Page Header
 * =Footer Top
 * =Footer
 * =Footer Bottom
 * =Back to top 
 *
 */

 
/* ==========================================================================
   =Wrap
   ========================================================================== */

	#wrap {
		position: relative;
		background-color: #fff;
	}
	
	#project-wrap {
		position: relative;
		overflow: hidden;
		width: 870px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 40px 20px 40px;
		border-radius: 20px;
		margin: 0 auto;
		background-color: #fff;
	}
	
	.project-preview { margin: 0 -40px 30px -40px; }
	
	.project-preview img {
		display: block; 
		width: 100%;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#project-wrap { width: auto; }
		
	}
	
	@media (max-width: 767px) {

		#wrap {}
		
		#project-wrap { width: auto; }

	}

/* ==========================================================================
	=Header Top
	========================================================================== */
   
   #header-top {
		padding: 10px 0;
		background-color: #f3f3f3;
   }
   
   @media (max-width: 767px) {

		#header-top {}

	}
   
/* ==========================================================================
   =Header 
   ========================================================================== */
   	
	#header {
		position: absolute;
		z-index: 1000;
		top: 80px; 				
		right: 0;
		left: 0;
		padding-top: 8px;
		margin: 0 auto;
		background: #2b4554;	
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#header { 
			position: relative;
			top: 0;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#header { 
			position: relative;
			top: 0;
		}
		
	}
	
/* ==========================================================================
   =Logo
   ========================================================================== */
   
	#logo { 
		display: inline-block;
		padding: 10px 0; 
	}
	
/* ==========================================================================
   =Menu 
   ========================================================================== */

/* =Menu Basics
   ========================================================================== */
   
	.sf-menu,
	.sf-menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.sf-menu > li { float: left; }

	.sf-menu > li > a {
		position: relative;
		display: block;
	}
	
	/**
 	 * 1. z-index is 1025 because the sticky menu is 1020
 	 */
	
	.sf-menu .sf-mega,
	.sf-menu li.dropdown ul {
		position: absolute;
		z-index: 1025; /* 1 */
		top: 100%;
		left: 0;
		display: none;
	}
	
	.sf-menu li.dropdown { position: relative; }
	
	.sf-menu li.dropdown ul ul {
		top: -1px;
		left: 100%;
	}
	
	.sf-menu li:hover > .sf-mega,
	.sf-menu li.sfHover > .sf-mega,
	.sf-menu li.dropdown:hover > ul,
	.sf-menu li.dropdown.sfHover > ul { display: block; }

/* =Menu Skin
   ========================================================================== */
	
	.sf-menu { float: right;} 
	
	.sf-menu a {
		display: block;
		padding: 10px 0;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
		font: 13px 'Open Sans', Arial, sans-serif;
		color: #222; 
		text-decoration: none;
	}
	
	.sf-menu li.dropdown a { padding: 10px 15px; }
	
	.sf-menu li:last-child > a { border-bottom: none; }
	
	.sf-menu > li > a,
	.sf-menu > li.dropdown > a {
		padding: 16px;
		border: none;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;	
	}
	
	.sf-menu > li a i { margin-right: 5px; }
	
	.sf-menu > li.active > a,
	.sf-menu li.sfHover > a,
	.sf-menu a:hover,
	.sf-menu li.sfHover a:hover {
		color: #3db39e;
		text-decoration: none;	
	}

/* =DropDown
   ========================================================================== */
	
	/**
 	 * 1. allow long menu items to determine submenu width
 	 */
	
	.sf-menu li.dropdown ul {
		min-width: 180px; /* 1 */
		border: 1px solid rgba(0, 0, 0, 0.1);	
		background-color: #fff;			
	}

	.sf-menu > li.dropdown > ul { border-top: 3px solid #3db39e; }	
		
/* =Mega Menu Section
   ========================================================================== */
	
	.sf-mega {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 15px 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 3px solid #3db39e;
		margin-top: -5px;	
		background-color: #fff;
	}

	.sf-mega-section {
		float: left;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 20px;
		border-right: 1px solid #e0e0e0;
	}
	
	.sf-mega-section:last-child { border-right: none; }

	/**
 	 * 1. set mega menu section size, as a percentage of the mega menu width
 	 */
	
	.sf-mega.sf-mega-1-col .sf-mega-section{ width: 100%; } /* 1 */
	
	.sf-mega.sf-mega-2-col .sf-mega-section{ width: 50%; }
	
	.sf-mega.sf-mega-3-col .sf-mega-section{ width: 33.3333333333%; }
	
	.sf-mega.sf-mega-4-col .sf-mega-section{ width: 25%; }
	
/* =Menu Arrows
   ========================================================================== */
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: 0;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #999;
		margin-top: 2px;
		content: "";
	}
		
	.sf-arrows > li > .sf-with-ul:focus:after,
	.sf-arrows > li:hover > .sf-with-ul:after,
	.sf-arrows > .sfHover > .sf-with-ul:after { border-top-color: rgba(0, 0, 0, 0.7); }
		
	.sf-arrows ul .sf-with-ul:after {
		border-color: transparent;
		border-left-color: #999;
		margin-top: -5px;
		margin-right: 4px;
	}
	
	.sf-arrows ul li > .sf-with-ul:focus:after,
	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: rgba(0, 0, 0, 0.7); }
	
	@media (min-width: 768px) and (max-width: 979px) {

		#menu { display: none; }

	}
	
	@media (max-width: 767px) {

		#menu { display: none; }
	
	}
	
/* ==========================================================================
   =Mobile Menu 
   ========================================================================== */
			
	#mobile-menu {
		border-bottom: 1px solid #e0e0e0;
		margin-bottom: 0;
		background-color: #2b4554;
	}
	
	#mobile-menu li {	
		display: block;
		margin: 0;
	}
		
	#mobile-menu > li > ul, 
	#mobile-menu > li > ul > li > ul {
		display: none;
		margin-left: 0;
	}
	
	#mobile-menu .sf-mega {
		display: none;
		padding: 0;
		border: none;
		margin: 0;
	}
	
	#mobile-menu .sf-mega-section {
		float: none;
		width: 100%;
		padding: 0;
		border: none;
	}
	
	#mobile-menu .sf-mega-section ul { margin-left: 0; }

	#mobile-menu li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-top: 1px solid #e0e0e0;
		color: #fff;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	
	#mobile-menu ul a { padding-left: 45px; }
	
	#mobile-menu ul li ul a  { padding-left: 65px; }
	
	#mobile-menu .mobile-menu-submenu-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 100%;
		border-left: 1px solid #e0e0e0;
		color: #222;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #f3f3f3; }
	
	#mobile-menu li a:hover {}
	
	#mobile-menu { display: none; }

/* ==========================================================================
   =Mobile menu trigger
   ========================================================================== */
				
	#mobile-menu-trigger { 
		float: right;
		display: none;
		font-size: 32px;
	}

	@media (min-width: 768px) and (max-width: 979px) {

		#mobile-menu-trigger { 
			display: block;
			margin-top: 10px;
			margin-right: 0;
		}	

	}

	@media (max-width: 767px) {

		#mobile-menu-trigger { 
			position: absolute;
			top: 0;
			right: 20px;
			display: block;
			padding: 10px;
			margin-top: 0;
		}

	}

	@media only screen and (min-width: 480px) and (max-width: 767px) {

		#mobile-menu-trigger { right: 30px; }
	
	}		
		
/* ==========================================================================
   =Custom search form 
   ========================================================================== */
	
	#custom-search-button + .sf-menu { margin-right: 30px; }
	
	#custom-search-button { 
		position: absolute;
		top: 42px;
		right: 0;
		display: block;
		width: 16px;
		height: 18px;
		background: url(../images/bg-search.png) no-repeat center center;
	}
	
	/**
 	 * 1. z-index is 1030 because the dropdown menu has a z-index of 1025 
 	 */
	 
	#custom-search-form {
		position: absolute;
		z-index: 1030; /* 1 */
		top: 87px;
		right: -10px;
		display: none;
	}

	#custom-search-form:before {
		position: absolute; 
		z-index: 9; 
		top: -9px; 
		right: 10px; 
		width: 0; 
		height: 0; 
		border-left: 7px solid transparent; 
		border-right: 7px solid transparent; 
		border-bottom: 10px solid #e0e0e0; 
		content:"";
	}
	
	#custom-search-form:after {
		position: absolute;
		z-index: 10; 
		top: -7px; 
		right: 10px; 
		width: 0; 
		height: 0; 
		border-left: 7px solid transparent; 
		border-right: 7px solid transparent; 
		border-bottom: 10px solid #fff; 
		content:"";
	}
	
	#custom-search-submit { display: none; }
	
	#custom-search-form #s {
		width: 220px;
		padding: 8px 10px;
		border-radius: 0;	
		background-color: #fff; 
	}
	
	#custom-search-form #s:focus { border-color: #e0e0e0; }
	
	
	@media (min-width: 768px) and (max-width: 979px) {

		#custom-search-button { right: 50px; }
		#custom-search-form { right: 40px; }
		
	}
	
	@media (max-width: 767px) {

		#custom-search-button { display: none; }
		
	}

/* ==========================================================================
   =Sticky Header
   ========================================================================== */

	@media (min-width: 1025px) {
		
	/**
 	 * We want to allow the header to be sticky on resolutions > 1024. In order to do this
	 * we position it absolute and when the sticky trigger point is reached we give the #header
     * the .stuck class	and change it's positioning to fixed
	 * 
	 * 1. This value should be the height of the #header 	
 	 */
		
		#header-top { 
			margin-bottom: 105px; 	/* 1 */	
		}
		
		/**
		 * 1. The z-index has to be 1020 so it is bigger than the back to top buttons z-index that is 1010
		 */
		
		#header.stuck {
			position: fixed;
			z-index: 1020; /* 1 */
			top: 0;
			width: 100%;
			padding-top: 8px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			background: #2b4554;
			-webkit-animation: none;
					animation: none;
			-webkit-transition: padding 0.3s;
					transition: padding 0.3s;
		}
		
		#header.stuck  .sf-mega { margin-top: 0; }

		#header.stuck .sf-arrows .sf-with-ul:after { margin-top: -6px; }		
	
		#header.stuck  #custom-search-button { top: 12px; }
		#header.stuck  #custom-search-form { top: 52px; }
	
	}
	
	@media (min-width: 1450px) {
		
		#header {
			min-height: 63px;
			padding-top: 0;
			background: url(../images/bg-header.png) no-repeat top center; 
		}
		
	}
	
/* ==========================================================================
   =Content
   ========================================================================== */
   	
	#content {}

/* ==========================================================================
   =Page Header
   ========================================================================== */
	
	#page-header { margin-bottom: 50px; }
	
	#page-header img { display: block; }
	
	.page-header-content {
		padding: 30px 0;
		background-color: #dcdcdc; 
	}
	
	.page-header-content p {
		margin-bottom: 0;
		font-weight: 600;
		text-transform: uppercase;
	}
	
/* ==========================================================================
   =Footer Top
   ========================================================================== */

	#footer-top { background-color: #f9f9f9; }
	
	#footer-top-widget-area-1 {}
	
/* ==========================================================================
   =Footer
   ========================================================================== */	
 	
	#footer {}
	
	@media (max-width: 767px) {
		
		#footer .ewf_widget_contact_info { margin-top: 20px; }
		
	}
   
/* ==========================================================================
   =Footer Bottom
   ========================================================================== */		
	
	#footer-bottom { 
		padding: 40px 0;	
		background-color: #3e4f71;
		color: #fff;
	}
	
	#footer-bottom input[type="text"],
	#footer-bottom textarea,
	#footer-bottom select { background-color: #fff; }
	
	#footer-bottom .widget:last-child { margin-bottom: 0; }
	
	#footer-bottom #newsletter-subscribe-form { margin-top: 3px; }
	
	#footer-bottom #newsletter-subscribe-form input[type="text"] {
		float: right;
		width: 60%;
	}
	
	#footer-widget-area-1 {}
	#footer-widget-area-2 {}
	#footer-widget-area-3 {}
	#footer-widget-area-4 {}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#footer-bottom #newsletter-subscribe-form input[type="text"] { float: none; }
		
	}
	
	@media (max-width: 767px) {
		
		#footer-bottom #newsletter-subscribe-form input[type="text"] { 
			float: none;
			width: 100%;
		}
		
	}
	
/* ==========================================================================
   =Back to top
   ========================================================================== */

	#back-to-top {
		position: fixed;
		z-index: 1010;
		right: -87px;
		bottom: 20px;
		width: 87px;
		height: 94px;
		background: url(../images/bg-back-to-top.png) no-repeat center center;
		color: #fff;
		font-size: 30px;
		line-height: 90px;
		font-weight: 600;
		text-align: center;				
		text-decoration: none;
		cursor: pointer;
		-webkit-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
	}
	
	#back-to-top i {
		font-size: 37px;
		line-height: 37px;
		font-weight: normal;
		vertical-align: top;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top:hover {
		-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
				transform: scale(1.1);
	}
	
	#back-to-top:hover i { color: #fff; }
	#back-to-top.visible { right: 40px; }
	#back-to-top.gone { right: -87px; }	
	
	@media (max-width: 767px) {
		
		#back-to-top { display: none; }
		
	}