﻿@using BuffetWeb.Helpers
@model BuffetWebManager.Models.Colaboradores.Colaboradores

<script src="~/Content/Buffet/Colaborador/Colaboradores.js"></script>

@if (Html.Permissoes(Permitir.Criar, Conteudo.Colaborador))
{
    foreach (var perfil in Model.perfis)
    {

        <div class="modal fade bs-example-modal-lg" id="@perfil.id" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style=" margin-top: 20%; ">
                    <div class="modal-body">
                        <h3 class="text-center">Perfil - @perfil.nome</h3>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Cad. Cliente</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_clientes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Cliente</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_clientes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* ITENS *@
                            <div class="col-md-2">
                                <label>Cad. Itens</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_itens.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Itens</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_itens.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* COLABORADOR *@
                            <div class="col-md-2">
                                <label>Cad. Colaborador</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_colaborador.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Colaborador</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_colaborador.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* FORNECEDORES *@
                            <div class="col-md-2">
                                <label>Cad. Fornecedor</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_fornecedores.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Fornecedor</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_fornecedores.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* INGREDIENTES *@
                            <div class="col-md-2">
                                <label>Cad. Ingredientes</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_ingredientes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Ingredientes</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_ingredientes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* EVENTOS *@
                            <div class="col-md-2">
                                <label>Cad. Eventos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_eventos.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Eventos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_eventos.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* TIPO EVENTOS *@
                            <div class="col-md-2">
                                <label>Cad. Tipo de Eventos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_tipo_eventos.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Tipo de Eventos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_tipo_eventos.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* FORMA DE PAGAMENTO *@
                            <div class="col-md-2">
                                <label>Cad. Pagamentos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_forma_pagamento.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Pagamentos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_forma_pagamento.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* GALERIA *@
                            <div class="col-md-2">
                                <label>Cad. Galeria</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_galeria.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Galeria</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_galeria.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* ORCAMENTOS *@
                            <div class="col-md-2">
                                <label>Cad. Orcamentos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_orcamentos.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Orcamentos</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_orcamentos.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* PACOTES *@
                            <div class="col-md-2">
                                <label>Cad. Pacotes</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_pacotes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Pacotes</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_pacotes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* VISITAS *@
                            <div class="col-md-2">
                                <label>Cad. Visitas</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.c_visitas.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Vis. Visitas</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.v_visitas.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>

                            @* AJUSTES *@
                            <div class="col-md-2">
                                <label>Edit. Itens</label>
                                <div class="col-md-12">
                                    <h4>@string.Format("{0}", @perfil.e_ajustes.Equals(true) ? "SIM" : "NAO")</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <form class="form-horizontal form-border no-margin" method="post" action="/Colaborador/SalvarColaborador" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Novo Colaborador
                    </div>
                    <div class="panel-body">
                        @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                        <div class="col-md-2 row">
                            @Html.SelecionarImagem("imagem", "image", 200, 200)
                        </div>
                        <div class="col-md-10"> 
                            <div class="col-md-4">
                                <label>Nome Completo</label>
                                <input type="text" name="nome" required class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Telefone</label>
                                <input type="text" name="telefone" required class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Email de Login</label>
                                <input type="text" name="email" id="email" required class="form-control">
                                <label>@ViewBag.empresa</label>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-10">
                                    <label>Perfil</label>
                                    <select class="form-control" required onchange="PerfilSelecionado(this)" name="id_perfil">
                                        <option value="">Selecionar</option>
                                        @foreach (var perfil in @Model.perfis)
                                        {
                                            <option value="@perfil.id">@perfil.nome</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="button" style="margin-top: 24px;" value="?" id="modal_button" data-target="" data-toggle="modal" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success">Confirmar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Colaborador
                <span class="label label-info pull-right">@Model.colaboradores.Count Colaboradores</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Perfil</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var colaborador in Model.colaboradores)
                    {
                        <tr>
                            <td>@colaborador.nome</td>
                            <td>@colaborador.telefone</td>
                            <td>@Html.Raw(Html.isEmail(colaborador.email, colaborador.nome))</td>
                            <td>@colaborador.PERFIL_COLABORADOR.nome</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opções <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@string.Format("/Colaborador/ResetarSenha?id={0}", colaborador.id)">Resetar Senha</a></li>
                                        <li><a href="#">Editar</a></li>
                                        <li><a href="@string.Format("/Colaborador/ApagarColaboradores?id={0}", colaborador.id)">Apagar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Script/Buffet/Colaboradores/Colaboradores.js"></script>
