﻿@using BuffetWeb.Helpers
@model BuffetDataManager.Models.COLABORADORE
@{
    ViewBag.Title = "Perfil";
}

<script src="~/Content/Buffet/Colaborador/Perfil.js"></script>
@*<div class="modal fade" id="novaMensagem">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header">

             </div>
            <div class="modal-body">
                <div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" name="name" value="Habilitar" />
            </div>
        </div>
    </div>
</div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Meu Perfil
                </div>
                <div class="panel-body">
                    @Html.AddMensagem((string)ViewBag.mensagem)
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img class="img-circle" width="150" height="150" src="@Html.URLImagem(Model.url)" alt="@Model.nome">
                        </div>
                        <div class="col-md-2">
                            <label>Nome</label>
                            <h4>@Model.nome</h4>
                        </div>
                        <div class="col-md-3">
                            <label>E-mail</label>
                            <h4>@Model.email</h4>
                        </div>
                        <div class="col-md-2">
                            <label>Telefone</label>
                            <h4>@Model.telefone</h4>
                        </div>
                        <div class="col-md-2">
                            <label>Perfil</label>
                            <h4>@Model.PERFIL_COLABORADOR.nome</h4>
                        </div>
                        <div class="col-md-2">
                            <label>Administrador</label>
                            <select name="administrador" class="form-control" required>
                                <option value=""></option>
                                <option value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Configurações
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div role="tabpanel"> 
                            <ul class="nav nav-tabs" role="tablist"> 
                                <li role="presentation" class="active"><a href="#notificacoes" aria-controls="profile" role="tab" data-toggle="tab">Notificações</a></li>
                                <li role="presentation"><a href="#ajustes" aria-controls="messages" role="tab" data-toggle="tab">Ajustes</a></li> 
                                @if (Model.COLABORADOR_DEVICES.Count != 0)
                                {
                                    <li role="presentation"><a href="#devices" aria-controls="devices" role="tab" data-toggle="tab">Aparelhos</a></li>  
                                }
                            </ul> 
                            <div class="tab-content"> 
                                <div role="tabpanel" class="tab-pane active" id="notificacoes">  
                                    <div class="modal fade" id="novaMensagem">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="/Colaborador/EnviarNotificacoes" method="post">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Nova Mensagem</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="hidden" name="tab" value="notificacoes" /> 
                                                            <table class="table">
                                                                @{
                                                                    var colaborador = Html.colaboradores();
                                                                    for (int i = 0; i < colaborador.Count; i++)
                                                                    {
                                                                        <tr>
                                                                            <td width="20">
                                                                                <label class="label-checkbox" style=" margin-top: 8px; margin-left: 5px; ">
                                                                                    <input type="hidden" name="@string.Format("[{0}].id_colaborador", i)" value="@colaborador.ElementAt(i).id" />
                                                                                    <input type="hidden" id="@string.Format("colaborador{0}", i)" name="@string.Format("[{0}].colaborador_selecionado", i)" value="false" />
                                                                                    <input type="checkbox" class="chk-row" onclick="o('@string.Format("colaborador{0}", i)').value = this.checked">
                                                                                    <span class="custom-checkbox"></span>
                                                                                </label>
                                                                            </td>
                                                                            <td width="50">
                                                                                <img src="@colaborador.ElementAt(i).url" class="img-circle" style="width: 100px;height: 35px;" />
                                                                            </td>
                                                                            <td>
                                                                                <div>
                                                                                    @colaborador.ElementAt(i).nome
                                                                                </div>
                                                                                <div style=" font-size: 10px; ">
                                                                                    @colaborador.ElementAt(i).PERFIL_COLABORADOR.nome
                                                                                </div>
                                                                            </td> 
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table> 
                                                            <div class="form-group">
                                                                <textarea class="form-control" required name="mensagem" rows="3"></textarea>
                                                            </div> 
                                                        </div> 
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 

                                   <div class="panel-body"> 
                                       <input type="button" class="btn btn-success" value="Nova Mensagem" data-target="#novaMensagem" data-toggle="modal" />
                                       <div class="col-md-6 pull-right">
                                           <h3>Mensagens</h3>
                                           @foreach (var notificacao in Html.notificacoes())
                                           {
                                               <div class="col-md-12 thumbnail" style=" padding: 10px; ">
                                                   <div class="col-md-2">
                                                       @if (notificacao.deBuffetWeb)
                                                       {
                                                           <img src="http://buffetweb.com/Empresas/Arquivos/Logos/Logo_Small.png" style="width: 70px; height: 52px" alt="Avatar" class="img-circle">
                                                       }
                                                       else
                                                       {
                                                            <img src="@notificacao.COLABORADORE.url" style="width:70px; height: 52px" alt="Avatar" class="img-circle">
                                                       }
                                                   </div>
                                                   <div class="row col-md-10">
                                                       <div class="detail">
                                                           @if (notificacao.deBuffetWeb)
                                                           {
                                                               <strong>BuffetWeb</strong>
                                                           }
                                                           else
                                                           {
                                                               <strong>@notificacao.COLABORADORE.nome</strong>
                                                           }
                                                           <p class="no-margin" id="mesagem">
                                                               @notificacao.mensagem
                                                           </p>
                                                           <small class="text-muted"><i class="fa fa-check text-success"></i> @DateTime.Now.Date.ToShortDateString() </small>
                                                       </div>
                                                   </div>
                                               </div>
                                           }
                                       </div>
                                   </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ajustes">
                                    <div class="panel-body">

                                        <table class="table"> 
                                            @* MOSTRAR DICA*@
                                            <tr class="@string.Format("{0}", Model.mostrar_dica == true ? "selected" : "")">
                                                <td width="20">
                                                    <label class="label-checkbox">
                                                        <input type="checkbox" @string.Format("{0}", Model.mostrar_dica == true ? "checked=checked" : "") class="chk-row" onclick="AlterarAjustes(this, 'MostrarDica')">
                                                        <span class="custom-checkbox"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <div style=" margin-top: -8px; ">
                                                        <h5 style=" margin-bottom: 0px; ">Mostrar Dica</h5>
                                                        <small style=" font-size: 10px; ">O BuffetWeb apresenta dicas em varios lugares.</small>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="@string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.notificacao_email == true ? "selected" : "")">
                                                <td width="20">
                                                    <label class="label-checkbox">
                                                        <input type="checkbox" @string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.notificacao_email == true ? "checked=checked" : "")  class="chk-row" onclick="AlterarAjustes(this, 'NotificacaoEmail')">
                                                        <span class="custom-checkbox"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <div style=" margin-top: -8px; ">
                                                        <h5 style=" margin-bottom: 0px; ">Notificação por E-mail</h5>
                                                        <small style=" font-size: 10px; ">Você passa a recebe as notificações por e-mail.</small>
                                                    </div>
                                                </td>
                                            </tr>

                                            @if (Html.Modulos(Modulo.Convite) && Html.Permissoes(Permitir.Visualizar, Conteudo.Pesquisa))
                                            {
                                                <tr class="@string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.pesquisa_concluida == true ? "selected" : "")">
                                                    <td width="20">
                                                        <label class="label-checkbox">
                                                            <input type="checkbox" @string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.pesquisa_concluida == true ? "checked=checked" : "") class="chk-row" onclick="AlterarAjustes(this, 'PesquisaConcluida')">
                                                            <span class="custom-checkbox"></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <div style=" margin-top: -8px; ">
                                                            <h5 style=" margin-bottom: 0px; ">Pesquisa Concluida</h5>
                                                            <small style=" font-size: 10px; ">Você recebe notificações sempre que um convidado concluir uma pesquisa de satisfação.</small>
                                                        </div>
                                                    </td>
                                                </tr>
                                            } 

                                            @if (Html.Modulos(Modulo.Orcamento) && Html.Permissoes(Permitir.Visualizar, Conteudo.Orcamentos))
                                            {
                                                <tr class="@string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.orcamento_novo_pedido == true ? "selected" : "")">
                                                    <td width="20">
                                                        <label class="label-checkbox">
                                                            <input type="checkbox" @string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.orcamento_novo_pedido == true ? "checked=checked" : "") class="chk-row" onclick="AlterarAjustes(this, 'NovoPedido')">
                                                            <span class="custom-checkbox"></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <div style=" margin-top: -8px; ">
                                                            <h5 style=" margin-bottom: 0px; ">Novo orçamento</h5>
                                                            <small style=" font-size: 10px; ">Você recebe notificações sempre que um novo orçamento for criado.</small>
                                                        </div> 
                                                    </td> 
                                                </tr>
                                                
                                                <tr class="@string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.orcamento_fecha_pedido == true ? "selected" : "")">
                                                    <td width="20">
                                                        <label class="label-checkbox">
                                                            <input type="checkbox" @string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.orcamento_fecha_pedido == true ? "checked=checked" : "")  class="chk-row" onclick="AlterarAjustes(this, 'FechaPedido')">
                                                            <span class="custom-checkbox"></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <div style=" margin-top: -8px; ">
                                                            <h5 style=" margin-bottom: 0px; ">Fechamento de pedido</h5>
                                                            <small style=" font-size: 10px; ">Você recebe notificações sempre que um orçamento fechado.</small>
                                                        </div> 
                                                    </td> 
                                                </tr>
                                                
                                                <tr class="@string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.orcamento_gendar_visita == true ? "selected" : "")">
                                                    <td width="20">
                                                        <label class="label-checkbox">
                                                            <input type="checkbox" @string.Format("{0}", Model.COLABORADOR_NOTIFICACAO.orcamento_gendar_visita == true ? "checked=checked" : "")  class="chk-row" onclick="AlterarAjustes(this, 'AgendarVisita')">
                                                            <span class="custom-checkbox"></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <div style=" margin-top: -8px; ">
                                                            <h5 style=" margin-bottom: 0px; ">Agendamento de visitas</h5>
                                                            <small style=" font-size: 10px; ">Você recebe notificações sempre que uma nova visita for agendada.</small>
                                                        </div> 
                                                    </td> 
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div> 

                                <div class="tab-pane" id="devices">
                                    <div class="panel-body">
                                        <table class="table" id="dataTable">
                                            <tr>
                                                <td>Nome</td>
                                                <td>Aparelho</td>
                                                <td align="right" width="20"></td>
                                                <td align="right" width="20"></td>
                                            </tr>
                                            <tbody>
                                                @foreach (var device in Model.COLABORADOR_DEVICES)
                                                {
                                                    <tr>
                                                        <td>@device.nome</td>
                                                        <td>@device.device</td>
                                                        @if (device.status)
                                                        {
                                                            <td>
                                                                <form action="/Colaborador/AlterarStatus" method="post">
                                                                    <input type="hidden" name="id_device" value="@device.id" />
                                                                    <input type="hidden" name="status" value="true" />
                                                                    <input type="submit" class="btn btn-info btn-xs" value="Desabilitar" />
                                                                </form>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <form action="/Colaborador/AlterarStatus" method="post">
                                                                    <input type="hidden" name="id_device" value="@device.id" />
                                                                    <input type="hidden" name="status" value="true" />
                                                                    <input type="submit" class="btn btn-success btn-xs" value="Habilitar" />
                                                                </form>
                                                            </td>
                                                        }
                                                        <td>
                                                            <form action="/Colaborador/ApagarDevice" method="post">
                                                                <input type="hidden" name="id_device" value="@device.id" />
                                                                <input type="submit" class="btn btn-danger btn-xs" value="Apagar" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div> 