﻿@model ICollection<BuffetDataManager.Models.PERFIL_COLABORADOR>
@{
    ViewBag.Title = "Perfis";
}

@if (ViewBag.c_colaborador != null && ViewBag.c_colaborador)
{
    <div class="row">
        <form class="form-horizontal form-border no-margin" method="post" action="/Colaborador/SalvarPerfil">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    Novo Perfil
                </div>
                <div class="col-md-6">
                    @if (ViewBag.mensagem != null)
                    {
                        <div class="alert @ViewBag.tipo alert-dismissible fade in" role="alert">
                            @ViewBag.mensagem
                        </div>
                    }
                    <div class="col-md-12">
                        <label>Nome</label>
                        <input type="text" name="nome" required class="form-control" placeholder="">
                    </div>
                    <div class="col-md-12">
                        <label>Descrição</label>
                        <textarea class="form-control" name="descricao"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Permissões</h3>

                    <div class="col-md-12">
                        <h5>Administrador</h5>
                        <label class="label-checkbox">
                            <input type="checkbox">
                            <span class="custom-checkbox"></span>
                        </label>
                    </div>

                    @*<div class="col-md-3">
                        <h5>Vis. Cliente</h5>
                        <label class="label-checkbox">
                            <input type="checkbox" onclick="JavaScript: (o('v_clientes').value = this.Checked == true)">
                            <input type="hidden" name="v_clientes" id="v_clientes" value=" " />
                            <span class="custom-checkbox"></span>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <h5>Cad. Cliente</h5>
                        <label class="label-checkbox">
                            <input type="checkbox" name="c_clientes">
                            <span class="custom-checkbox"></span>
                        </label>
                    </div>*@ 
                </div>
                <div class="panel-footer col-md-12">
                    <button type="submit" class="btn btn-success pull-right">Salvar</button>
                </div>
            </div>
        </form>
    </div>
}

<div class="row">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Perfil
            <span class="label label-info pull-right">@Model.Count Perfis</span>
        </div>
        <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var colaborador in Model)
                {
                    <tr>
                        <td>@colaborador.nome</td>
                        <td>@colaborador.descricao</td>
                        <td>
                            <div class="btn-group pull-right">
                                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                    Opções <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ver Detalhes</a></li>
                                    <li><a href="#">Editar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
                <tbody>
            </table>
        </div>
    </div>
</div>
