﻿@using BuffetWeb.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" style="@string.Format("{0}", (ViewBag.de != null && ViewBag.de == "Portal") ? "background-color: white;" : "")">

<head>
    <meta charset="utf-8">
    <title>Login - BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Content/Buffet/Home/Index.js"></script>
    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />
    <!-- Font Awesome -->
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <!-- Endless -->
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <script src="~/Content/Script/Buffet/Base/DIBase.js"></script>
</head>
<body>
    <div class="login-wrapper">
        <div class="text-center">
            <h1 class="fadeInUp animation-delay8" style="font-weight:bold">
                @if (ViewBag.De != null && ViewBag.De == "Portal")
                {
                    <img src="http://portal2.buffetweb.com/Content/imagens/logo.png" style=" width: 300px; " />
                }
                else
                {
                    <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" width: 300px; " />
                }
            </h1>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Criar Acesso
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-login" action="/Home/ConfirmarCadastro" onsubmit="validaFormularioLogin(this)" method="post">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="password" name="senha" id="nome" required title="Não esqueca este campo" placeholder="Nome do responsavel" class="form-control bounceIn animation-delay4">
                        </div>
                        <div class="form-group">
                            <label>Celular</label>
                            <input type="password" name="senha" id="celular" required title="Não esqueca este campo" placeholder="Celular para contato" class="form-control bounceIn animation-delay4">
                        </div>
                        <div class="form-group">
                            <label>E-mail de contato</label>
                            <input type="email" name="email" id="email" required title="Não esqueca este campo" placeholder="Informe o mesmo email de contato" class="form-control bounceIn animation-delay2">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" name="senha" id="senha" required title="Não esqueca este campo" placeholder="Escolha uma senha para o sistema!" class="form-control bounceIn animation-delay4">
                        </div>
                        <hr />
                        <input type="submit" value="Cria" class=" btn btn-success bouncein animation-delay5 login-link btn-block" />
                    </form>
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
    </div><!-- /login-wrapper -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/Content/Administrador/js/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>
    <!-- Pace -->
    <script src='~/Content/Administrador/js/pace.min.js'></script>
    <!-- Popup Overlay -->
    <script src='~/Content/Administrador/js/jquery.popupoverlay.min.js'></script>
    <!-- Slimscroll -->
    <script src='~/Content/Administrador/js/jquery.slimscroll.min.js'></script>
    <!-- Cookie -->
    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>
    <!-- Endless -->
    @*<script src="j~/Content/Administrador/s/endless/endless.js"></script>*@
</body>
</html>
