﻿@model BuffetDataManager.Models.EMPRESA
@using BuffetWeb.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Content/Buffet/Home/Index.js"></script>
    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />
    <!-- Font Awesome -->
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <!-- Endless -->
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <script src="~/Content/Script/Buffet/Base/DIBase.js"></script>
</head>
<body>
    <div class="login-wrapper">
        <div class="text-center">
            <h1 class="fadeInUp animation-delay8" style="font-weight:bold">
                <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" width: 300px; " />
            </h1>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Criar Acesso
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-login" action="/Home/ConfirmarAcesso" method="post">
                        <input type="hidden" name="autenticacao" value="@ViewBag.autenticacao" />
                        <div style=" height: 70px; " class="alert alert-success alert-dismissible fade in">
                            @string.Format("Você tem {0} propostas solicitadas por clientes, precisamos de algumas informações para criar seu acesso!", ViewBag.propostas)
                        </div>

                        <div class="alert alert-success alert-dismissible fade in" style="display:none" id="mensagem" > 
                        </div>
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" name="nome" required title="Não esqueca este campo" class="form-control bounceIn animation-delay2">
                        </div>

                        <div class="form-group">
                            <label>Celular</label>
                            <input type="text" maxlength="15" name="celular" required title="Não esqueca este campo" class="form-control bounceIn animation-delay2">
                        </div>

                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" onblur="VerificaEmail(this)" onkeypress="VerificaEmail(this)" name="email" required title="Não esqueca este campo" class="form-control bounceIn animation-delay2">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" min="7" name="senha" required title="Não esqueca este campo" class="form-control bounceIn animation-delay2">
                        </div>

                        <hr />
                        <input type="submit"  id="CriarAcesso" value="Criar" class="btn btn-success bounceIn animation-delay5 login-link btn-block" />
                    </form>
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
    </div><!-- /login-wrapper -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/Content/Administrador/js/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>
    <!-- Pace -->
    <script src='~/Content/Administrador/js/pace.min.js'></script>
    <!-- Popup Overlay -->
    <script src='~/Content/Administrador/js/jquery.popupoverlay.min.js'></script>
    <!-- Slimscroll -->
    <script src='~/Content/Administrador/js/jquery.slimscroll.min.js'></script>
    <!-- Cookie -->
    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>
</body>
</html>
