﻿@using BuffetWeb.Helpers
@model BuffetWebManager.Models.Index.Index
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DashBorad";
}

@if (Html.Modulos(Modulo.Orcamento))
{
    @*<div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 bg-danger">
                    <a href="/Orcamento/Orcamentos?statusOrcamento=CANCELADO">
                        <h2 class="m-top-none" id="userCount">@Model.orcamento.Where(o => o.status.Equals("CANCELADO")).ToList().Count</h2>
                        <h5>Orçamentos Cancelados</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">Orçamentos cancelados!</span>
                        <div class="stat-icon">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 bg-info">
                    <a href="/Orcamento/Orcamentos?statusOrcamento=CONCLUIDO">
                        <h2 class="m-top-none" id="serverloadCount"> @Model.orcamento.Where(o => o.status.Equals("CONCLUIDO")).ToList().Count</h2>
                        <h5>Orçamentos Concluidos</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">Orçamentos concluidos!</span>
                        <div class="stat-icon">
                            <i class="fa fa-hdd-o fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 bg-success">
                    <a href="/Orcamento/Orcamentos?statusOrcamento=INICIADO">
                        <h2 class="m-top-none" id="visitorCount">@Model.orcamento.Where(o => o.status.Equals("INICIADO")).ToList().Count</h2>
                        <h5>Orçamentos Não Finalizados</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">Orçamentos Iniciados!</span>
                        <div class="stat-icon">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>*@
}
else if (Html.Modulos(Modulo.Convite))
{
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel-stat3 bg-success">
                <a href="/Convite/CriarConvites">
                    <i class="fa fa-send-o fa-lg"></i>
                    <h2 class="m-top-none">@string.Format("{0} Convites Criados", Model.orcamento.Where(e => e.status.Equals("CONVITE")).ToList().Count)</h2>
                    <span class="m-left-xs">Total de Convidados @Model.convidados.ToList().Count</span>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4" >
            <div class="panel-stat3 bg-warning" style=" height: 126px; ">
                <a href="/Proposta/EnviarProposta">
                    <div class="row">
                        <i style=" margin-top: 10px; " class="col-md-1 fa fa-glass fa-lg"></i>
                        <h2 class="col-md-10 m-top-none">@string.Format("{0} Propostas", Model.propostas.Count)</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
}



    @*<div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="pull-left">
                            Próximos @Model.orcamentos_30dias.Count Eventos
                        </span>
                        <ul class="tool-bar">
                            <li><a href="/Agenda/ProximosEventos"><i class="fa fa-external-link"></i></a></li>
                            <li><a href="#proximosEventos" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                        </ul>
                    </div>
                    @*<div class="panel-body no-padding collapse in" id="proximosEventos">
                        <ul class="list-group task-list no-margin collapse in">
                            @foreach (var evento in Model.orcamentos_30dias.Take(5))
                            {
                                <li class="list-group-item">
                                    <label class="">@evento.CLIENTE.nome</label>
                                    @*<small>@string.Format("{0}", evento.LOCAL_EVENTO != null ? evento.LOCAL_EVENTO.nome : "Sem Local Definido")</small>

                                     DateTime now = DateTime.Now.Date;
                                    if (evento.data_evento >= now && evento.data_evento <= now.AddDays(5))
                                    {
                                        double faltam = (evento.data_evento - now).TotalDays;
                                        if (faltam == 0)
                                        {
                                            <label>Hoje</label>
                                        }
                                        else
                                        {
                                            <label class="label-checkbox inline"> @string.Format("Em {0} dia{1}", faltam, faltam != 1 ? "s" : "")</label>
                                        }
                                    }
                                    else
                                    {
                                        <label class="label-checkbox inline"> @string.Format("{0} - {1}", evento.data_evento.DayOfWeek, evento.data_evento.ToShortDateString())</label>
                                    }
                                    <span class="pull-right">
                                        <a href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}", evento.codigo_unico)" class="btn btn-xs btn-success">Detalhes</a>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="loading-overlay">
                        <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>*@