﻿@using BuffetWeb.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Content/Buffet/Home/Index.js"></script>
    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />
    <!-- Font Awesome -->
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <!-- Endless -->
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <script src="~/Content/Script/Buffet/Base/DIBase.js"></script>
</head>

<body>
    <div class="col-md-12" style=" margin-top: 5%; ">
        <div class="col-md-ofsset-3 col-md-3">
            <div class="login-wrapper">
                <div class="text-center">
                    <h1 class="fadeInUp animation-delay8" style="font-weight:bold">
                        <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" width: 300px; " />
                    </h1>
                </div>
                <div class="login-widget animation-delay1">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <div class="pull-left">
                                <i class="fa fa-lock fa-lg"></i> Entrar
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-login" action="/Home/EntrarAdministrativo" onsubmit="validaFormularioLogin(this)" method="post">
                                @Html.AddMensagem((string)ViewBag.mensagem)

                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="email" name="email" id="email" value="@ViewBag.email" required title="Não esqueca este campo" placeholder="Email" class="form-control bounceIn animation-delay2">
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input type="password" name="senha" id="senha" required title="Não esqueca este campo" placeholder="Senha" class="form-control bounceIn animation-delay4">
                                </div>
                                <div class="pull-right">
                                    <small>
                                        Esqueceu sua senha? <a href="javascript:void(o)" onclick="EsqueciMinhaSenha(this)">Clique aqui</a>
                                    </small>
                                </div>
                                <hr />
                                <input type="submit" value="Entrar" class=" btn btn-success bouncein animation-delay5 login-link btn-block" />
                            </form>
                            @*<div class="form-group">
                                    <form action="//" method="post">
                                        <input type="submit" class=" btn btn-success bouncein animation-delay5 login-link btn-block" name="name" value="Crie seu acesso agora!" />
                                    </form>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/Content/Administrador/js/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>
    <!-- Pace -->
    <script src='~/Content/Administrador/js/pace.min.js'></script>
    <!-- Popup Overlay -->
    <script src='~/Content/Administrador/js/jquery.popupoverlay.min.js'></script>
    <!-- Slimscroll -->
    <script src='~/Content/Administrador/js/jquery.slimscroll.min.js'></script>
    <!-- Cookie -->
    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>
    <!-- Endless -->
    @*<script src="j~/Content/Administrador/s/endless/endless.js"></script>*@
</body>
</html>
