﻿@using BuffetWeb.Helpers
@model BuffetWebManager.Models.Convite.ConviteModel
@{ 
    var convite = Model.editando && Model != null ? Model.convite : null;
    var disponivel = Model.editando && Model != null ? Model.disponivel : null;

    var aniversariantes_id = "";
    if (Model.orcamento != null)
    { 
        foreach (var aniversari in Model.orcamento.CONVITE_ANIVERSARIANTES)
        {
            aniversariantes_id = string.Format("{0},{1}", aniversariantes_id, aniversari.id_aniversariante);
        }
    }
}

<input type="hidden" id="configuracao" data-editando="@Model.editando" data-aniversariantes="@aniversariantes_id"/>

<style>
    @Html.FontesCSS()
</style>   

<script src="~/Content/Buffet/Convites/Convites.js"></script>
<link href="http://assets.locaweb.com.br/locastyle/3.7.2/stylesheets/locastyle.css" rel="stylesheet" type="text/css">

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
<script src="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.js"></script>
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.theme.css" rel="stylesheet" />

<link href="@Html.CaminhoFontes()" rel="stylesheet" />
 
<div class="modal fade " id="solicitarTema">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Solicitar Tema</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <strong>Informação!</strong> Você consegue solicitar um tema que não esteja disponível, nossa equipe ira analisar sua solicitação e responder o mais rápido possível!
                </div>

                <div class="alert alert-warning alert-dismissible animated bounceOut" role="alert" style="display:none" id="alerta_tema">
                    <strong>Atenção</strong> Informe o nome do tema!
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Nome do tema</label>
                        <input type="text" id="nome_tema" class="form-control" placeholder="Ben10, Pokemon, Homem de Ferro, etc" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" onclick="SolicitarTema(this)" value="Solicitar" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="frasesProntas">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Frases Prontas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive" id="tabela_Frases"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="panel panel-default">
    <div class="panel-heading">
        Criar Convite
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            @Html.AddMensagem((string)ViewBag.mensagem)
        </div>
        <div class="col-md-7 pull-left">
            <div class="text-center form-group"> 
                <img src="~/Content/Buffet/Convites/Imagens/convite_explicacao.png" /> 
            </div>
        </div>
        <div class="col-md-5 pull-right">
            <form action="/Convite/CriarConvite" method="post">
                <div class="row">
                    <select class="ls-select" name="id_cliente" required>
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-success btn-block" value="Criar Convite" />
                </div>
            </form>
        </div>
    </div>
</div>*@

<div class="panel panel-default">
    <div class="panel-heading" id="tabHeading">
        Convites
    </div>
    <div class="panel-body">   
    <form action="/Convite/SalvarConvite" method="post"> 
            @if (Model.editando)
            {
                <input type="hidden" name="titulo_datahora" id="titulo_datahora" value="@convite.titulo_datahora" />
                <input type="hidden" name="id_convite_editando" value="@Model.convite.id" />
                <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
            }
            else
            {
                <input type="hidden" name="titulo_datahora" id="titulo_datahora" />
            }
            <div class="modal fade" id="Aniversariantes">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">Aniversáriantes </h4>
                        </div>
                        <div class="modal-body">
                            <div id="Familiares">
                                <div class="form-group">
                                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                                        <strong>Informação</strong> Os aniversáriantes adicionados nesse momento são associados automaticamente ao cliente para os próximos eventos!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert" id="mensagem_familiar" style="display:none">
                                        <strong>Atenção</strong> Preencha todos os campos!
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" id="nome_familiar" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Data de Nascimento</label>
                                        <input type="date" class="form-control" id="nascimento_familiar" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Graú de Parêntesco</label>
                                        <select class="ls-select form-control" id="parentesco_familiar">
                                            <option value="Filho">Filho</option>
                                            <option value="Cônjuges">Cônjuges</option>
                                            <option value="Pais">Pais</option>
                                            <option value="Irmão">Irmão</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" class="btn btn-success pull-right" value="Adicionar Aniversariante" onclick="NovoFamiliarSalvar(this)" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <h3>Familiares</h3> 

                                    <table class="table" id="tabelaAniversariantes" data-quantidade="0"></table>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" data-dismiss="modal" onclick="ConfirmarAniversariantes(this)" value="Continuar" />
                        </div>
                    </div>
                </div>
            </div> 

            <div style=" margin-left: 0px; ">
                <div class="ls-steps" id="passoApasso" style=" min-height: 300px; ">
                    <ol class="ls-steps-nav">
                        <li id="step1Tab">
                            <button class="ls-steps-btn" data-ls-module="steps" data-target="#step1"></button>
                        </li>
                        <li id="step2Tab">
                            <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2"></button>
                        </li>
                        <li id="step3Tab">
                            <button class="ls-steps-btn" data-ls-module="steps" data-target="#step3"></button>
                        </li>
                        <li id="step4Tab">
                            <button class="ls-steps-btn" data-ls-module="steps" data-target="#step4"></button>
                        </li> 
                    </ol>
                    <div class="ls-steps-main">
                        <div class="ls-steps-content" id="step1">
                            @*@if (!Model.editando)
                            {
                                    <div class="row">
                                    <div class="col-md-5">
                                        <select @Html.Dica("bottom", "Todos os seus clientes cadastrados.") onchange="BuscarClienteSelecionado(this)" class="ls-select form-control" name="id_cliente" id="id_cliente">
                                            <option value="">Selecione</option>
                                            @foreach (var cliente in Model.clientes)
                                            {
                                                if (Model.cliente != null)
                                                {
                                                    <option value="@Model.cliente.id">@Model.cliente.nome</option>
                                                }
                                                <option value="@cliente.id">@cliente.nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2 row">
                                        <a @Html.Dica("bottom", "Crie um cliente caso ele não esteja cadastrado.") class="btn btn-success" href="/Clientes/Clientes?acao=Convites&controlador=Convite">Novo Cliente</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" name="id_cliente" id="id_cliente" value="@Model.cliente.id" />
                            }*@
                                 
                            <div class="row animated fadeInLeft" id="cliente_selecionado" @*style="display:@string.Format("{0}", Model.cliente == null? "none":"block")"*@>
                                @*@if (Model.cliente != null)
                                {*@
                                <input type="hidden" name="id_cliente" id="id_cliente" value="@Model.cliente.id" />
                                <div class="col-md-4">
                                    <h3>Nome</h3>
                                    <small id="nome_cliente">@Model.cliente.nome</small>
                                </div>
                                <div class="col-md-4">
                                    <h3>Email</h3>
                                    <small id="email_cliente">@Model.cliente.email</small>
                                </div>
                                <div class="col-md-4">
                                    <h3>Telefone</h3>
                                    <small id="celular_cliente">@Model.cliente.telefone</small>
                                </div>
                                <div class="col-md-4">
                                    <h3>Celular</h3>
                                    <small id="celular_cliente">@Model.cliente.celular</small>
                                </div>
                                @*}
                                else
                                {
                                        <div class="col-md-4">
                                            <h3>Nome</h3>
                                            <small id="nome_cliente"></small>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Email</h3>
                                            <small id="email_cliente"></small>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Telefone</h3>
                                            <small id="telefone_cliente"></small>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Celular</h3>
                                            <small id="celular_cliente"></small>
                                        </div>
                                }*@
                            </div>
                            <div class="ls-actions-btn"> 
                                @*<input type="button" class="btn-success btn pull-right" data-action="next" id="next_cliente" @string.Format("{0}", Model.cliente == null ? "disabled=disabled" : "") value="Próximo" />*@ 
                                <a href="#" class="btn-success btn pull-right" data-action="next" id="next_cliente">Próximo</a>
                            </div>
                        </div>
                        <div class="ls-steps-content" id="step2">
                            @if (Model.editando)
                            {
                                <div class="row">
                                    <div class="col-md-5">
                                        <select @Html.Dica("bottom", "Selecione o local do evento") onchange="BuscarEnderecoLocal(this)" class="ls-select form-control" name="id_local_evento">
                                            <option value="@Model.localSelecionado.id">@Model.localSelecionado.nome</option>
                                            @foreach (var local in Model.localEvento.Where(f => f.id != Model.localSelecionado.id).ToList())
                                            {
                                                <option value="@local.id">@local.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                    <div id="endereco_informacao" class=" animated fadeInLeft" > 
                                    <h2>
                                        @string.Format(" {0} {1}, {2} \n {3}. \nContato {4}", Model.localSelecionado.ENDERECO.endereco1, Model.localSelecionado.ENDERECO.numero, Model.localSelecionado.ENDERECO.bairro, Model.localSelecionado.ENDERECO.complemento, Model.localSelecionado.telefone));
                                    </h2> 
                                    </div> 
                            }
                            else
                            { 
                                <div class="row">
                                    <div class="col-md-5">
                                        <select @Html.Dica("bottom", "Selecione o local do evento") onchange="BuscarEnderecoLocal(this)" class="ls-select form-control" name="id_local_evento">
                                            <option value="">Selecione</option>
                                            @foreach (var local in Model.localEvento)
                                            {
                                                <option value="@local.id">@local.nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div id="endereco_informacao" class=" animated fadeInLeft" style="display:none"> 
                                </div> 
                            }
                               
                            <div class="ls-actions-btn">
                                <a href="#" class="btn btn-default" data-action="prev">Anterior</a>
                                @if (Model.editando)
                                {
                                    <a href="javascript:void(o)" onclick="proximoEditando(this)" class="btn btn-success pull-right" >Próximo</a> 
                                }else
                                {
                                    <a href="#" class="btn btn-success pull-right" data-action="next">Próximo</a>
                                }
                            </div>
                        </div>
                        <div class="ls-steps-content" id="step3"> 
                            <div class="row animated fadeInLeft">
                                @if (Model.editando)
                                {
                                    <input type="hidden" name="id_template_tema" id="id_template_tema" value="@convite.id_convite" />
                                }
                                else
                                {
                                    <input type="hidden" name="id_template_tema" id="id_template_tema" value="" />
                                }
                                <div class="panel-body">
                                    <div id="owl-demo" style="width: 94%;margin-left: 31px;" class="owl-carousel"></div>
                                </div>
                            </div>
                            <div class="ls-actions-btn">
                                <a href="#" class="ls-btn" data-action="prev">Anterior</a> 
                                @if (Model.editando)
                                { 
                                    <a href="javascript:void(o)" onclick="proximoEditandoConvite(this)" class="btn btn-success pull-right" @Html.Dica("top", "O convite sera o mesmo")>Próximo</a> 
                                }
                                <div class="col-md-2 pull-right">
                                    <input type="button" class="btn btn-block btn-success pull-right" data-target="#solicitarTema" data-toggle="modal" value="Solicitar Tema" />
                                </div>
                                <div class="col-md-2 pull-right">
                                    <select class="ls-select form-control" onchange="FiltrarPorTema(this)" id="filtrarPorTema"></select>
                                </div>
                            </div>
                        </div>
                        <div class="ls-steps-content" id="step4">
                            <div class="row animated fadeInLeft">
                                <div class="row col-md-5">
                                    <div class="col-md-12" @Html.Dica("bottom", "Se achar melhor, escolha alguma frase pré-definida")>
                                        <input type="button" class="btn btn-success btn-xs" data-target="#frasesProntas" data-toggle="modal" value="Frases Prontas" />
                                    </div>
                                    <div class="col-md-8">
                                        <label>Titulo</label>
                                        @if (Model.editando)
                                        {
                                            <input type="text" value="@convite.titulo_convite" class="form-control" onkeyup="AtualizarTitulo(this)" maxlength="200" id="titulo" name="titulo_convite" />
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" onkeyup="AtualizarTitulo(this)" maxlength="200" id="titulo" name="titulo_convite" />
                                        }
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tamanho</label>
                                        @if (Model.editando)
                                        {
                                            <input type="number" value="@convite.titulo_tamanho" class="form-control" id="titulo_tamanho" name="titulo_tamanho" onchange="AtualizarTitulo(this)" @Html.Dica("top", "Tamanho da fonte do titulo!") />
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control" id="titulo_tamanho" name="titulo_tamanho" onchange="AtualizarTitulo(this)" @Html.Dica("top", "Tamanho da fonte do titulo!") />
                                        }
                                    </div>
                                    <div class="col-md-8">
                                        <label>Breve Descrição</label>
                                        @if (Model.editando)
                                        {
                                            <textarea class="form-control" onkeyup="AtualizarDescricao(this)" id="descricao" name="titulo_descricao">@convite.titulo_descricao</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control" onkeyup="AtualizarDescricao(this)" id="descricao" name="titulo_descricao"></textarea>
                                        }
                                    </div>
                                    <div class="col-md-4" @Html.Dica("top", "Tamanho da fonte da descrição do evento")>
                                        <label>Tamanho</label>
                                        @if (Model.editando)
                                        {
                                            <input type="number" value="@convite.tamanho_descricao" class="form-control" id="descricao_tamanho" name="tamanho_descricao" onchange="AtualizarDescricao(this)" />
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control" id="descricao_tamanho" name="tamanho_descricao" onchange="AtualizarDescricao(this)" />
                                        }
                                    </div>

                                    <div class="col-md-8" @Html.Dica("top", "Selecione os aniversariantes deste cliente!")>
                                        <label></label>
                                        <input type="button" data-target="#Aniversariantes" data-toggle="modal" class="btn btn-success form-control" value="Aniversáriantes" id="btn_familiares" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tamanho</label>
                                        @if (Model.editando)
                                        {
                                            <input type="number" value="@convite.aniversariante_tamanho" class="form-control" id="aniversariante_tamanho" name="aniversariante_tamanho" onchange="AtualizarAniversariantes(this)" @Html.Dica("top", "Tamanho da fonte do nome do aniversariante!") />
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control" id="aniversariante_tamanho" name="aniversariante_tamanho" onchange="AtualizarAniversariantes(this)" @Html.Dica("top", "Tamanho da fonte do nome do aniversariante!") />
                                        }
                                    </div>
                                    <div class="col-md-4">
                                        <label>Data da Festa</label>
                                        @if (Model.editando)
                                        {
                                            <input type="date" value="@Model.orcamento.data_evento.ToShortDateString()" class="form-control" id="dataDaFesta" name="data_evento" onchange="AtualizarDataHora(this)" required />
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" id="dataDaFesta" name="data_evento" onchange="AtualizarDataHora(this)" required />
                                        }
                                    </div>
                                    <div class="col-md-4">
                                        <label>Horario inicio</label>
                                        @if (Model.editando)
                                        {
                                            <input type="time" value="@Model.orcamento.horario_inicio" class="form-control" name="horario_inicio" id="horario_inicio" onchange="AtualizarDataHora(this)" required />
                                        }
                                        else
                                        {
                                            <input type="time" class="form-control" name="horario_inicio" id="horario_inicio" onchange="AtualizarDataHora(this)" required />
                                        }
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tamanho</label>
                                        @if (Model.editando)
                                        {
                                            <input type="number" value="@convite.datahora_tamanho" class="form-control" id="datahora_tamanho" name="datahora_tamanho" onchange="AtualizarDataHora(this)" @Html.Dica("top", "Tamanho da fonte da Data e Hora do evento!") />
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control" id="datahora_tamanho" name="datahora_tamanho" onchange="AtualizarDataHora(this)" @Html.Dica("top", "Tamanho da fonte da Data e Hora do evento!") />
                                        }
                                    </div>
                                    <div class="col-md-8">
                                        <label></label>
                                        @if (Model.editando && Model.orcamento.horario_fim != null)
                                        {
                                            <input type="button" class="btn btn-success btn-block" onclick="adicionarOuRemoverTermino(this)" value="Remover Hora de Término" />
                                        }
                                        else
                                        {
                                            <input type="button" class="btn btn-success btn-block" onclick="adicionarOuRemoverTermino(this)" value="Adicionar Hora de Término" />
                                        }
                                    </div>
                                    @if (Model.editando && Model.orcamento.horario_fim != null)
                                    {
                                        <div class="col-md-4" style="display:@string.Format("{0}", Model.orcamento.horario_fim == null ? "none" : "block")" id="horario_fim_div">
                                            <label>Horario fim</label>
                                            <input type="time" value="@Model.orcamento.horario_fim" class="form-control" name="horario_fim" id="horario_fim" onchange="AtualizarDataHora(this)" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4" style="display:none" id="horario_fim_div">
                                            <label>Horario fim</label>
                                            <input type="time" class="form-control" name="horario_fim" id="horario_fim" onchange="AtualizarDataHora(this)" />
                                        </div>
                                    }

                                </div>

                                <div class="col-md-7">
                                    <table>
                                        <tr>
                                            <td>
                                                @if (Model.editando)
                                                {
                                                    <img src="@convite.url_image" class="img-thumbnail" style="width:700px; height:400px" id="url_image" />
                                                }
                                                else
                                                {
                                                    <img src="http://placehold.it/700x400/EFEFEF/EBBB5E" class="img-thumbnail" style=" width:700px; height:400px" id="url_image" />
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            @if (Model.editando)
                                            {
                                                <td align="center">
                                                    <div onmouseup="LocalidadeTitulo(this)" id="titulo_t" style="cursor: all-scroll; font-family: '@disponivel.titulo_fonte'; text-align: center; font-size: @string.Format("{0}px", convite.titulo_tamanho); width: 300px; position: relative; top: @convite.titulo_top; left: @convite.titulo_left; color: @string.Format("#{0}", disponivel.titulo_cor);  margin-top: -300px;">
                                                        @convite.titulo_convite
                                                    </div>
                                                    <input type="hidden" id="titulo_top" name="titulo_top" value="@convite.titulo_top" />
                                                    <input type="hidden" id="titulo_left" name="titulo_left" value="@convite.titulo_left" />

                                                    <div id="descricao_t" onmouseup="LocalidadeDescricao(this)" style="cursor: all-scroll; font-family: '@disponivel.descricao_fonte';  text-align: center; font-size: @string.Format("{0}px", convite.tamanho_descricao); width: 300px; position: relative; top: @convite.descricao_top; left: @convite.descricao_left; color: @string.Format("#{0}", disponivel.descricao_cor); ">
                                                        @convite.titulo_descricao
                                                    </div>
                                                    <input type="hidden" id="descricao_top" name="descricao_top" value="@convite.descricao_top" />
                                                    <input type="hidden" id="descricao_left" name="descricao_left" value="@convite.descricao_left" />

                                                    <div onmouseup="LocalidadeAniversariantes(this)" id="aniversariantes_t" style="cursor: all-scroll;  font-size: @string.Format("{0}px", convite.aniversariante_tamanho);  text-align: center; width: 300px; position: relative; top: @convite.aniversariantes_top; left: @convite.aniversariantes_left; font-family: '@disponivel.aniversariantes_fonte'; color: @string.Format("#{0}", disponivel.aniversariantes_cor); ">

                                                    </div>
                                                    <input type="hidden" id="aniversariantes_top" name="aniversariantes_top" value="-@convite.aniversariantes_top" />
                                                    <input type="hidden" id="aniversariantes_left" name="aniversariantes_left" value="@convite.aniversariantes_left" />

                                                    <div onmouseup="LocalidadeDataHora(this)" id="datahora_t" style="cursor: all-scroll;  width: 300px; position: relative;  text-align: center; top: @convite.datahora_top; left: @convite.datahora_left; font-family: '@disponivel.datahora_fonte'; font-size: @string.Format("{0}px", convite.datahora_tamanho); color: @string.Format("#{0}", disponivel.datahora_cor); ">
                                                        @convite.titulo_datahora
                                                    </div>
                                                    <input type="hidden" id="datahora_top" name="datahora_top" value="@convite.datahora_top" />
                                                    <input type="hidden" id="datahora_left" name="datahora_left" value="@convite.datahora_left" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td align="center">
                                                    <div onmouseup="LocalidadeTitulo(this)" id="titulo_t" style="font-family: Arial; font-size: 20px; margin-top: -300px; cursor: all-scroll; width: 300px;">

                                                    </div>
                                                    <input type="hidden" id="titulo_top" name="titulo_top" value="-3px" />
                                                    <input type="hidden" id="titulo_left" name="titulo_left" value="0px" />

                                                    <div id="descricao_t" onmouseup="LocalidadeDescricao(this)" style=" cursor: all-scroll; font-size: 20px; width: 300px;">

                                                    </div>
                                                    <input type="hidden" id="descricao_top" name="descricao_top" value="2px" />
                                                    <input type="hidden" id="descricao_left" name="descricao_left" value="0px" />

                                                    <div onmouseup="LocalidadeAniversariantes(this)" id="aniversariantes_t" style="font-size: 20px; cursor: all-scroll; width: 300px; ">

                                                    </div>
                                                    <input type="hidden" id="aniversariantes_top" name="aniversariantes_top" value="-2px" />
                                                    <input type="hidden" id="aniversariantes_left" name="aniversariantes_left" value="0px" />

                                                    <div onmouseup="LocalidadeDataHora(this)" id="datahora_t" style=" cursor: all-scroll; width: 300px; ">

                                                    </div>
                                                    <input type="hidden" id="datahora_top" name="datahora_top" value="2px" />
                                                    <input type="hidden" id="datahora_left" name="datahora_left" value="0px" />
                                                </td>
                                            }
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="ls-actions-btn">
                                @if (Model.editando)
                                {
                                    <a href="javascript:void(o)" class="ls-btn" onclick="VoltarEditando(this)">Anterior</a>
                                }
                                else
                                {
                                    <a href="#" class="ls-btn" data-action="prev">Anterior</a>
                                }
                                <input type="submit" class="btn btn-success pull-right" value="@string.Format("{0}", Model.editando ? "Salvar Alterações" : "Salvar Convite")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>  
</div>
</div>  