﻿@model BuffetWebManager.Models.Convite.CriarConvitesModel
@using BuffetWeb.Helpers
@{
    var moduloOrcamento = Html.Modulos(Modulo.Orcamento);
}

@*<script>
        function VisualizarConvite(codigo_unico) {
            var url = "http://convite.buffetweb.com/Convidados/ConvitePartial?codigo_unico=" + codigo_unico;
            o('preview_convite').src = url;
            $('#VisualizarConvite').modal("show");
        }
    </script>

    <div class="modal fade in" id="VisualizarConvite">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <iframe id="preview_convite" style=" width: 100%; height: 350px; overflow: hidden; " />
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        Criar Convite
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            @Html.AddMensagem((string)ViewBag.mensagem)
        </div>
        <div class="col-md-7 pull-left">
            <div class="text-center form-group">
                <img src="~/Content/Buffet/Convites/Imagens/convite_explicacao.png" />
            </div>
        </div>
        <div class="col-md-5 pull-right">
            <form action="/Convite/Convites" method="post">
                <div class="row">
                    <label>Selecione ou Adicione um Cliente</label>
                    <div class="row">
                        <div class="col-md-8">
                            <select name="id_cliente" class="ls-select form-control" required>
                                <option value="">Selecione</option>
                                @foreach (var cliente in Model.clientes)
                                {
                                    <option value="@cliente.id">@cliente.nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <a @Html.Dica("top", "Adicione um cliente caso ele não esteja cadastrado.") class="btn btn-success btn-block" href="/Clientes/Clientes?acao=Convites&controlador=Convite">Novo Cliente</a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <input type="submit" class="btn btn-success btn-block" value="Criar Convite" />
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.convites.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.mensagem != null)
            {
                Html.Raw((string)ViewBag.mensagem);
            }

            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Meus Convites
                    <span class="label label-info pull-right">@Model.convites.Count Convites</span>
                </div>
                <div class="padding-md clearfix">
                    @Html.AdicionarFiltro("Convite", "Convite", (string)ViewBag.filtro)
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th>Código Único</th>
                                <th>Cliente</th>
                                <th>Data</th>
                                <th>Local</th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                            </tr>
                        </thead>
                        @foreach (var orcamento in Model.convites)
                        {
                            <tr>
                                <td>@orcamento.codigo_unico</td>
                                <td>@orcamento.CLIENTE.nome</td>
                                <td>@orcamento.data_evento.ToShortDateString() - @orcamento.data_evento.DayOfWeek</td>
                                <td>@orcamento.LOCAL_EVENTO.nome</td>
                                <td>
                                    @if (orcamento.CLIENTE.celular != null && DateTime.Today < orcamento.data_evento)
                                    {
                                        <a class="pull-right" href="javascript:void(o)" onclick="SendContact(this, '/Orcamento/EnviarDados?codigo_unico=@orcamento.codigo_unico&enviar_por=sms', 'sms')" @Html.Dica("left", "Enviar login e senha por sms")>
                                            <img src="@Html.StatusContactIcon(orcamento.autenticacao, BuffetDataManager.Utils.TipoContato.InformacoesDeLogin, ContactIcon.SMS)" style="width:40px" />
                                        </a>
                                    }
                                </td>
                                <td>
                                    @if (orcamento.CLIENTE.email != null && DateTime.Today < orcamento.data_evento)
                                    {
                                        <a href="javascript:void(o)" onclick="SendContact(this, '/Orcamento/EnviarDados?codigo_unico=@orcamento.codigo_unico&enviar_por=email', 'email')" @Html.Dica("left", "Enviar login e senha por email")>
                                            <img width="40" src="@Html.StatusContactIcon(orcamento.autenticacao, BuffetDataManager.Utils.TipoContato.InformacoesDeLogin, ContactIcon.Email)" />
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a href="javascript:void(o)" @Html.Dica("top", "Visualizar Convite") onclick="VisualizarConvite(@orcamento.codigo_unico)">
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_visualizar_convite.png" />
                                    </a>
                                </td>
                                <td>
                                    @if (DateTime.Today < orcamento.data_evento)
                                    {
                                        <a href="@string.Format("/Convite/Convites?codigo_unico={0}", orcamento.codigo_unico)" @Html.Dica("top", "Editar Convite")>
                                            <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_editar.png" />
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}&tab=convidados", orcamento.codigo_unico)" @Html.Dica("top", "Ver Detalhes")>
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_lista-2.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@string.Format("/Convite/Portaria?id_orcamento={0}", orcamento.id)" @Html.Dica("top", "Portaria")>
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_portaria.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
