﻿@model BuffetDataManager.Models.ORCAMENTO
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Detalhes Convite
            </div>
            <div class="panel-body">
                <div class="col-md-12 row">
                    <label>Nome</label>
                    <label>@Model.nome</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 col-md-offset-2">
                    <div style=" width: 640px; ">
                        <div style=" position: absolute; width: 50%; height: 78px; ">
                            <a href="@string.Format("http://www.orcamento.buffetweb.com/Convidados/RespostaPresenca?codigo_unico={0}&email=email_replace&codStatus=1", Model.codigo_unico, "email")" style=" margin-top: 35px; background-color: green; padding: 5px; border-radius: 5px; color: white;  font-size: 15px; position: absolute;">EU VOU</a>
                            <a href="@string.Format("http://www.orcamento.buffetweb.com/Convidados/RespostaPresenca?codigo_unico={0}&email=email_replace&codStatus=2", Model.codigo_unico, "email")" style=" margin-top: 35px; background-color: yellow ; padding: 5px;  border-radius: 5px; color: white; font-size: 15px;  position: absolute; ">TALVEZ</a>
                            <a href="@string.Format("http://www.orcamento.buffetweb.com/Convidados/RespostaPresenca?codigo_unico={0}&email=email_replace&codStatus=3", Model.codigo_unico, "email")" style=" margin-top: 35px;  background-color: red; padding: 5px; border-radius: 5px; color: white; font-size: 15px;  position: absolute; ">NÃO VOU</a>
                        </div>
                        <img src="@string.Format("http://www.buffetweb.com/Sites/Arquivos/Empresas/{0}/Convites/{1}.png", ViewBag.NOME_EMPRESA, Model.codigo_unico)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>