﻿@model ICollection<BuffetDataManager.Models.CONVITE_CONVIDADOS>
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Lista De Convidados";
    Layout = null;
} 

<link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="span12"> 
    <input type="button" onclick="window.print()" style=" margin: 10px; width: 100px; " value="Imprimir" class="btn btn-info pull-right span4">
    <input type="button" onclick="window.close()" style=" margin: 10px; width: 100px; " value="Fechar" class="btn btn-danger pull-right span2">
</div>

@if (Model.Count != 0)
{
    <table style="margin:10px">
        <tr>
            <td><strong>Lista de Convidados</strong> @string.Format("{0}", Model.Where(e => e.ira.Equals("EU VOU")).ToList().Count == Model.Count ? "COMPLETA" : "PRESENÇAS CONFIRMADAS")</td>
        </tr>
        <tr>
            <td><strong>Data da Festa:</strong> @Model.FirstOrDefault().ORCAMENTO.data_evento.ToShortDateString()</td>
        </tr>
        <tr>
            <td><strong>Total de Convidados:</strong> @Model.Count</td>
        </tr>
        <tr>
            <td><strong>Total Confirmados:</strong> @Model.Where(e => e.ira.Equals("EU VOU")).ToList().Count</td>
        </tr>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th> 
                <th>Presença</th>
            </tr>
        </thead>
        @foreach (var convidado in Model)
        {
            <tr>
                <td>@convidado.nome_completo</td>
                <td>@convidado.email</td>
                <td>@convidado.telefone</td> 
                <td>@convidado.ira</td>
            </tr>
            @*if (convidado.CONVITE_CONVIDADOS_FAMILIARES.Count != 0)
            {
                <tr>
                    <td>
                        <label>Amigos ou Familiares</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Faixa Etária</th>
                                </tr>
                            </thead>
                            @foreach (var familiares in convidado.CONVITE_CONVIDADOS_FAMILIARES)
                            {
                                <tr>
                                    <td>@familiares.nome</td>
                                    <td>@familiares.tipo_convidado</td> 
                                </tr>
                            }
                        </table>
                       
                    </td>
                </tr>
            }*@
        }
    </table>
}
else
{
    <h3 class="text-center">Nenhum convidado confirmado</h3>
}
