﻿@using BuffetWeb.Helpers
@model BuffetWebManager.Models.Convite.PortariaModel

<script src="~/Content/Buffet/Convites/Portaria.js"></script>

<div class="panel panel-default">
    <div class="panel-heading" id="tabHeading">
        Portaria
        @if (Model.orcamento != null)
        {
            <div class="pull-right col-md-3 col-xs-5">
                <div class="col-md-7 col-xs-6">
                    <input type="button" class="btn btn-success btn-sm" onclick="location.reload()" value="Selecionar Outro Evento">
                </div>
                <div data-toggle="tooltip" data-placement="top" data-original-title="Você pode adicionar um convidado que não esteja na lista." class="col-md-5 col-xs-6">
                    <input type="button" data-toggle="modal" data-target="#novoConvidado" class="btn btn-success btn-sm" value="Novo Convidado">
                </div>
            </div>
        }
    </div>
    <div class="panel-body">
        @Html.AddMensagem((string)ViewBag.mensagem)
        @if (Model.orcamento == null)
        {
            <form action="/Convite/Portaria" id="listarConvidados" method="post">
                <div class="col-md-4">
                    <label>Selecionar Evento</label>
                    <select class="form-control ls-select" name="id_orcamento" onchange="o('listarConvidados').submit()">
                        <option value="">Selecione</option>
                        @foreach (var lista in Model.orcamentos)
                        {
                            <option value="@lista.id">@string.Format("{0} - {1}", lista.data_evento.ToShortDateString(), lista.CLIENTE.nome)</option>
                        }
                    </select>
                </div>
            </form>
        }
        else
        {
            <div class="modal fade" id="novoConvidado">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form action="/Convite/NovoConvidado" method="post">
                            <div class="modal-header">
                                Novo Convidado
                            </div>
                            <div class="modal-body row">
                                <div class="col-md-12">
                                    <input type="hidden" name="id_orcamento" value="@Model.orcamento.id" />
                                    <div class="alert alert-warning" style="display:none" id="novo_alert"> </div>

                                    <div class="col-md-12">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" name="nome_completo" id="novo_nome" />
                                    </div>

                                    <div class="col-md-12">
                                        <label>E-mail</label>
                                        <input type="email" class="form-control" name="email" id="novo_email" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Celular</label>
                                        <input type="tel" class="form-control" name="telefone" id="novo_telefone" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" maxlength="13" />
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <img src="http://convite.buffetweb.com/Content/Buffet/Convidados/Imagens/icone_acompanhantes.png" width="30" style="width: 30px; height: 15px;">
                                        </div>
                                        <input type="number" id="novo_acompanhante" class="form-control" min="0" max="@Model.orcamento.max_acompanhantes" onkeypress="DIMaxValue(this, @Model.orcamento.max_acompanhantes); return DIOnlyNumber(this);" name="convidados" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" onclick="return ValidaNovoConvidado()" value="Adicionar Convidado" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row col-md-6">
                <div class="col-md-6">
                    Cliente
                    <h4>@Model.orcamento.CLIENTE.nome </h4>
                </div>
                <div class="col-md-6">
                    Data
                    <h4>@Model.orcamento.data_evento.ToShortDateString()</h4>
                </div>
            </div>
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th width="250">Email</th>
                        <th width="150">Telefone</th>
                        <th width="90">Familiares</th>
                        <th width="50">Presença</th>
                    </tr>
                </thead>
                @foreach (var convidado in Model.orcamento.CONVITE_CONVIDADOS.OrderBy(n => n.nome_completo).ToList())
                {
                    <tr>
                        <td width="100">
                            @switch (convidado.ira)
                            {
                                case "EU VOU":<img src="http://convite.buffetweb.com/Content/Buffet/Convidados/Imagens/icone_euvou.png" style="height: 25px;" />; break;
                                case "TALVEZ":  <img src="http://convite.buffetweb.com/Content/Buffet/Convidados/Imagens/icone_talvez.png" style="height: 25px;" /> ; break;
                                case "NAO VOU": <img src="http://convite.buffetweb.com/Content/Buffet/Convidados/Imagens/icone_naovou.png" style="height: 25px;" />  ; break;
                                default: <img src="http://convite.buffetweb.com/Content/Buffet/Convidados/Imagens/icone_aguardando.png" style="height: 25px;" /> ; break;
                            }
                        </td>
                        <td width="350">@convidado.nome_completo</td>
                        <td><input class="form-control input-sm" id="@string.Format("email_{0}", convidado.id)" type="text" value="@convidado.email" onkeyup="SalvarEmailETelefone(this, @convidado.id_orcamento, @convidado.id)" /></td>
                        <td><input class="form-control input-sm" id="@string.Format("telefone_{0}", convidado.id)" type="text" value="@convidado.telefone" pattern="^.{13,13}$|^.{12,12}$" onkeyup="SalvarEmailETelefone(this, @convidado.id_orcamento, @convidado.id)" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" maxlength="13" /></td>
                        <td>
                            <div class="modal fade" id="@string.Format("familiares_{0}", convidado.id)">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            Familiares de @convidado.nome_completo
                                            <input type="button" @Html.Dica("left", "Você pode adicionar novos familiares para este convidado!") class="btn btn-success btn-sm pull-right" value="+" onclick="NovoFamiliar(this, '@convidado.id')" />
                                        </div>
                                        <div class="modal-body row">
                                            <div class="col-md-12">
                                                <div class="alert alert-warning" id="@string.Format("alert_{0}", convidado.id)" style="display:none"> </div>
                                            </div>
                                            @for (int i = 0; i < convidado.convidados; i++)
                                            {
                                                try
                                                {
                                                    var familiar = convidado.CONVITE_CONVIDADOS_FAMILIARES.ElementAt(i);
                                                    <input type="hidden" value="@familiar.id" id="@string.Format("{0}_id_familiar_{1}", convidado.id, i)" />
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <label>Nome</label>
                                                            <input type="text" class="form-control" id="@string.Format("{0}_nome_familiar_{1}", convidado.id, i)" value="@string.Format("{0}", familiar == null ? "" : familiar.nome)" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Convidado</label>
                                                            <select class="form-control" id="@string.Format("{0}_tipo_convidado_familiar_{1}", convidado.id, i)">
                                                                @if (familiar != null)
                                                                {
                                                                    <option value="@familiar.tipo_convidado">@familiar.tipo_convidado</option>
                                                                }
                                                                <option value="Adulto">Adulto</option>
                                                                <option value="Criança">Criança</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Email</label>
                                                            <input type="text" class="form-control" id="@string.Format("{0}_email_familiar_{1}", convidado.id, i)" value="@string.Format("{0}", familiar == null ? "" : familiar.email)" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Telefone</label>
                                                            <input type="text" class="form-control" id="@string.Format("{0}_telefone_familiar_{1}", convidado.id, i)" value="@string.Format("{0}", familiar == null ? "" : familiar.telefone)" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" maxlength="13" />
                                                        </div>
                                                    </div>
                                                }
                                                catch (Exception)
                                                {
                                                    <input type="hidden" value="0" id="@string.Format("{0}_id_familiar_{1}", convidado.id, i)" />
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <label>Nome</label>
                                                            <input type="text" class="form-control" id="@string.Format("{0}_nome_familiar_{1}", convidado.id, i)" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Convidado</label>
                                                            <select class="form-control" id="@string.Format("{0}_tipo_convidado_familiar_{1}", convidado.id, i)">
                                                                <option value="Adulto">Adulto</option>
                                                                <option value="Criança">Criança</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Email</label>
                                                            <input type="text" class="form-control" id="@string.Format("{0}_email_familiar_{1}", convidado.id, i)"  />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Telefone</label>
                                                            <input type="text" class="form-control" id="@string.Format("{0}_telefone_familiar_{1}", convidado.id, i)"  pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" maxlength="13" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            <div id="@string.Format("novo_convidado_{0}", convidado.id)">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-success" id="@string.Format("confirmar_familiares_{0}", convidado.id)" value="Confirmar" data-convidados="@convidado.convidados" onclick="VerificarInformacoes(this, '@convidado.id', '@convidado.id_orcamento')" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="button" class="btn btn-success btn-block" data-target="@string.Format("#familiares_{0}", convidado.id)" data-toggle="modal" value="@string.Format("Familiares ({0})", convidado.convidados)" />
                        </td>
                        <td>
                            @if (convidado.compareceu == null || convidado.compareceu == false)
                            {
                                <input type="button" class="btn btn-success btn-block" id="@string.Format("presenca_{0}", convidado.id)" onclick="ConfirmarPresenca(this, '@convidado.id_orcamento', '@convidado.id')" data-convidados="@convidado.convidados" value="Confirmar" />
                            }
                            else
                            {
                                <input type="button" class="btn btn-info btn-block" id="@string.Format("presenca_{0}", convidado.id)" onclick="ConfirmarPresenca(this, '@convidado.id_orcamento', '@convidado.id')" data-convidados="@convidado.convidados" value="Confirmado" />
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
