﻿@model ICollection<BuffetWebData.Models.B_PORTAL_BANNER_PROMOCIONAL>
@using BuffetWebGerenciador.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>

    <script src="~/Content/Administrador/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Administrador/js/uncompressed/jquery.slimscroll.js"></script>

    <link href="~/Content/Administrador/css/Buffet/Buffet.css" rel="stylesheet" />

    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <script src="~/Content/Buffet/Base/DIBase.js"></script>

    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/pace.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/endless-skin.css" rel="stylesheet">
    <link href="~/Content/Administrador/LocaWeb/stylesheets/locastyle.css" rel="stylesheet" />
    <script src="~/Content/Buffet/Shared/Shared.js"></script>

    <link href="~/Content/Buffet/Marketing/css/style.css" rel="stylesheet" />
    <link href="~/Content/Buffet/Marketing/css/ourproducts.css" rel="stylesheet" />
    <link href="~/Content/Buffet/Marketing/css/allinone_bannerRotator.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
     
     
    <script>
        $(function () {

            $('#allinone_bannerRotator_sidebar2').allinone_bannerRotator({
                skin: 'classic',
                width: 284,
                height: 447,
                numberOfStripes: 4,
                numberOfRows: 5,
                numberOfColumns: 5,
                autoPlay: 3.5,
                showOnInitNavArrows: false,
                showAllControllers: false,
                showBottomNav: false
            });

        });

        function VerificarTempo(evt) {
            if (evt.dataset.check == "true") {
                o('DataBanner').style.display = "none";
            } else {
                o('DataBanner').style.display = "block";
            }
        }
    </script> 
</head>
 
<body class="overflow-hidden">

    <div id="wrapper" class="@string.Format("{0}", Request.Cookies["menu"] != null? Request.Cookies["menu"].Value : "")">
        <div id="top-nav" class="skin-6 fixed">
            <div class="brand">
                <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" margin-top: -12px; width: 197px; " />
            </div>
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle pull-left hide-menu" onclick="MenuState(this)" id="menuToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <aside class="fixed skin-1">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="size-toggle">
                    <a class="btn btn-sm" id="sizeToggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="btn btn-sm pull-right logoutConfirm_open" href="/Home/Deslogar">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                <div class="user-block clearfix">
                    <img src="@Html.PerfilLogado(Perfil.Imagem)" alt="User Avatar">
                    <div class="detail">
                        <h5>@Html.PerfilLogado(Perfil.Nome)</h5><span class="badge badge-danger bounceIn animation-delay4 m-left-xs"></span>
                        <ul class="list-inline">
                            <li><a href="/Colaborador/Perfil">Perfil</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search-block">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Pesquise algo...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/Home/Index">
                                <span class="menu-icon">
                                    <i class="fa fa-dashboard fa-lg"></i>
                                </span>
                                <span class="text">
                                    Painel
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li> 
                        <li>
                            <a href="/Notificacao/Notificacoes">
                                <span class="menu-icon">
                                    <i class="fa fa-send fa-lg"></i>
                                </span>
                                <span class="text">
                                    Notificações
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Planos/Planos">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Planos
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Planos/Promocao">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Promoção
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Clientes))
                        {
                            <li>
                                <a href="/Empresas/Empresas">
                                    <span class="menu-icon">
                                        <i class="fa fa-group fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Empresas
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                        }

                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-cogs fa-lg"></i>
                                </span>
                                <span class="text">
                                    Portal
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu third-level active" style=""> 
                                <li class="openable">
                                    <a href="#">
                                        <span class="submenu-label">Marketing</span>
                                        <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                    </a>
                                    <ul class="submenu fourth-level active">
                                        <li><a href="/Marketing/BannerPromocional"><span class="submenu-label">Banner Promocional</span></a></li>
                                        <li><a href="/Marketing/CupomDeDesconto"><span class="submenu-label">Cupom de Desconto</span></a></li>
                                        <li><a href="/Marketing/PromocaoPortal"><span class="submenu-label">Promoções</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Convites))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-send-o fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Convites
                                    </span>
                                    <span class="badge badge-success bounceIn animation-delay5"></span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Convite/Gerenciar"><span class="submenu-label">Gerenciar Convite</span></a></li>
                                     </ul>
                            </li>
                        }
                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-credit-card fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Financeiro
                                    </span>
                                    <span class="badge badge-success bounceIn animation-delay5"></span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Financeiro/AdicionarPagamento"><span class="submenu-label">Emitir Boleto</span></a></li>
                                     
                                </ul> 
                            </li>
                        }
                        @if (Html.Permissoes(Permitir.Criar, Conteudo.Configuracoes))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-cogs fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Configurações
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu third-level" style="">
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Colaboradores</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Colaborador/Colaboradores"><span class="submenu-label">Colaboradores</span></a></li>
                                            <li><a href="/Colaborador/Perfis"><span class="submenu-label">Perfil</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Prestadores</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Prestador/Prestadores"><span class="submenu-label">Prestadores</span></a></li>
                                            <li><a href="/Prestador/PrestadorFuncoes"><span class="submenu-label">Funções</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-cogs fa-lg"></i>
                                </span>
                                <span class="text">
                                    Serviço
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Servico/MapeamentoParceiro"><span class="submenu-label">Mapear Parceiro</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="main-container">
            <div class="padding-md">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default table-responsive">
                            <div class="panel-heading">
                                Novo Banner
                            </div>
                            <form action="/Marketing/AdicionarBanner" method="post" enctype="multipart/form-data">
                                <div class="panel-body">
                                    <div class="row form-group">
                                        <div class="col-md-4">
                                            @Html.SelecionarImagem("imagem_banner", "imagem", "", 390, 247)
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-12">
                                                <label>Titulo</label>
                                                <input type="text" required name="titulo" class="form-control" />
                                            </div>
                                            <div class="col-md-12">
                                                <label>Descrição</label>
                                                <textarea name="descricao" rows="5" required class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-12">
                                                <label>url</label>
                                                <input type="url" required name="url" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.BuffetCheck("Tempo Indeterminado", "indeterminado", true, "VerificarTempo(this)")
                                                </div>
                                                <div id="DataBanner" style="display:none">
                                                    <div class="col-md-6">
                                                        <label>Disponível de</label>
                                                        <input type="date" name="disponivel_de" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Disponível até</label>
                                                        <input type="date" name="disponivel_ate" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label>Duração</label>
                                                    <select class="form-control" required name="duracao">
                                                        <option value="">Selecione</option>
                                                        @for (int i = 1; i < 10; i++)
                                                        {
                                                            <option value="@i">@string.Format("{0} segundo{1}", i, i != 1 ? "s" : "")</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Tipo Banner</label>
                                                    <select class="form-control" required name="tipo_banner">
                                                        <option value="">Selecione</option>
                                                        <option value="ED">Esquerda > Direita</option>
                                                        <option value="DE">Direita > Esquerda</option>
                                                        <option value="TB">Topo > Baixo</option>
                                                        <option value="BT">Baixo > Topo</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <input type="submit" class="btn btn-success" value="Adicionar Banner" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default table-responsive">
                            <div class="panel-heading">
                                Visualização
                            </div>
                            <div class="padding-md clearfix">
                                <div id="allinone_bannerRotator_sidebar2">
                                    <ul class="allinone_bannerRotator_list">
                                        @foreach (var banner in Model.Select((item, i) => new { item, i }))
                                        {
                                            <li data-text-id="#@string.Format("imagem_{0}", banner.i)">
                                                <a href="@banner.item.url" target="_self">
                                                    <img src="@banner.item.url_imagem" alt="" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    @foreach (var banner in Model.Select((item, i) => new { item, i }))
                                    {
                                        switch (banner.item.tipo_banner)
                                        {
                                            case "ED":
                                                {
                                                    <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                                        <div class="allinone_bannerRotator_text_line textElement31_classic" data-initial-left="200" data-initial-top="60" data-final-left="10" data-final-top="60" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                                        <div class="allinone_bannerRotator_text_line textElement32_classic" data-initial-left="0" data-initial-top="275" data-final-left="10" data-final-top="80" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                                                    </div>
                                                }; break;
                                            case "DE":
                                                {
                                                    <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                                        <div class="allinone_bannerRotator_text_line textElement31_classic" data-initial-left="200" data-initial-top="60" data-final-left="10" data-final-top="60" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                                        <div class="allinone_bannerRotator_text_line textElement32_classic" data-initial-left="0" data-initial-top="275" data-final-left="10" data-final-top="80" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                                                    </div>
                                                }; break;

                                            case "TB":
                                                {
                                                    <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                                        <div class="allinone_bannerRotator_text_line textElement21_classic" data-initial-left="10" data-initial-top="10" data-final-left="10" data-final-top="30" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                                        <div class="allinone_bannerRotator_text_line textElement22_classic" data-initial-left="10" data-initial-top="10" data-final-left="10" data-final-top="95" data-duration="@(banner.item.duracao / 100)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                                                    </div>
                                                }; break;
                                            case "BT":
                                                {
                                                    <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                                        <div class="allinone_bannerRotator_text_line textElement21_classic" data-initial-left="20" data-initial-top="270" data-final-left="20" data-final-top="305" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                                        <div class="allinone_bannerRotator_text_line textElement22_classic" data-initial-left="20" data-initial-top="340" data-final-left="20" data-final-top="370" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                                                    </div>
                                                }; break;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default table-responsive">
                            <div class="panel-heading">
                                Banners
                            </div>
                            <div class="padding-md clearfix">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Descrição</th>
                                            <th>Período</th>
                                            <th width="50"></th>
                                            <th width="50"></th>
                                        </tr>
                                    </thead>
                                    @foreach (var banner in Model)
                                    {
                                        <tr>
                                            <td>@banner.titulo</td>
                                            <td>@banner.descricao</td>
                                            @if (banner.indeterminado)
                                            {
                                                <td>
                                                    Indeterminado
                                                </td>
                                            }
                                            else
                                            {
                                                <td>@string.Format("De {0} até {1}", ((DateTime)banner.disponivel_de).ToShortDateString(), ((DateTime)banner.disponivel_ate).ToShortDateString())</td>
                                            }
                                            <td>
                                                <form action="@banner.url" method="post" target="_blank">
                                                    <input type="submit" class="btn btn-success btn-sm" value=" abrir" />
                                                </form>
                                            </td>
                                            <td>
                                                <form action="/Marketing/ApagarBanner" method="post">
                                                    <input type="hidden" name="id_banner" value="@banner.id" />
                                                    <input type="submit" class="btn btn-danger btn-sm" value="Apagar" />
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>
    <script src='~/Content/Administrador/js/jquery.dataTables.min.js'></script>
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>
    <script src="~/Content/Administrador/js/endless/endless.js"></script>

    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });

            $('#chk-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', true);
                        $(this).parent().parent().parent().addClass('selected');
                    });
                } else {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', false);
                        $(this).parent().parent().parent().removeClass('selected');
                    });
                }
            });

        });
    </script>
</body>
</html>

@*
    <body>
        <div id="allinone_bannerRotator_sidebar2">
            <ul class="allinone_bannerRotator_list">
                @foreach (var banner in Model.Select((item, i) => new { item, i }))
                {
                    <li data-text-id="#@string.Format("imagem_{0}", banner.i)">
                        <img src="@banner.item.url_imagem" alt="" />
                    </li>
                }
            </ul>
            @foreach (var banner in Model.Select((item, i) => new { item, i }))
            {
                switch (banner.item.tipo_banner)
                {
                    case "ED":
                        {
                            <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                <div class="allinone_bannerRotator_text_line textElement31_classic" data-initial-left="200" data-initial-top="60" data-final-left="10" data-final-top="60" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                <div class="allinone_bannerRotator_text_line textElement32_classic" data-initial-left="0" data-initial-top="275" data-final-left="10" data-final-top="80" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                            </div>
                        }; break;
                    case "DE":
                        {
                            <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                <div class="allinone_bannerRotator_text_line textElement31_classic" data-initial-left="200" data-initial-top="60" data-final-left="10" data-final-top="60" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                <div class="allinone_bannerRotator_text_line textElement32_classic" data-initial-left="0" data-initial-top="275" data-final-left="10" data-final-top="80" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                            </div>
                        }; break;

                    case "TB":
                        {
                            <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                <div class="allinone_bannerRotator_text_line textElement21_classic" data-initial-left="10" data-initial-top="10" data-final-left="10" data-final-top="30" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                <div class="allinone_bannerRotator_text_line textElement22_classic" data-initial-left="10" data-initial-top="10" data-final-left="10" data-final-top="95" data-duration="@(banner.item.duracao / 100)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                            </div>
                        }; break;
                    case "BT":
                        {
                            <div id="@string.Format("imagem_{0}", banner.i)" class="allinone_bannerRotator_texts">
                                <div class="allinone_bannerRotator_text_line textElement21_classic" data-initial-left="20" data-initial-top="270" data-final-left="20" data-final-top="305" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0">@banner.item.titulo</div>
                                <div class="allinone_bannerRotator_text_line textElement22_classic" data-initial-left="20" data-initial-top="340" data-final-left="20" data-final-top="370" data-duration="@(banner.item.duracao / 10)" data-fade-start="0" data-delay="0.3">@banner.item.descricao</div>
                            </div>
                        }; break;
                }
            }
        </div>

    </body>
    </html>

*@
