﻿@model BuffetWebGerenciador.Models.Marketing.CupomDeDescontoModel
@using BuffetWebGerenciador.Helpers
@{
    ViewBag.Title = "CupomDeDesconto";
    decimal total = new decimal();
}

<script src="~/Content/Buffet/Marketing/CupoDeDesconto.js"></script>

@foreach (var empresa in Model.Empresa)
{
    <div class="modal fade" id="@string.Format("locais_{0}", empresa.id)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Adicionar Cupom</h3>
                </div>
                <form action="/Marketing/AdicionarCupom" method="post">
                    <input type="hidden" name="id_empresa" id="id_empresa" value="@empresa.id" />
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label>Descrição</label>
                                <input type="text" class="form-control" required name="descricao" id="descricao" />
                            </div>
                            <div class="col-md-4">
                                <label>Valido Até</label>
                                <input type="date" class="form-control" required name="disponivel_ate" id="disponivel_ate" />
                            </div>
                            <div class="col-md-4">
                                <label>Plano</label>
                                <select class="form-control" name="id_planos_disponiveis">
                                    <option value="">Selecione</option>
                                    @foreach (var plano in Model.Planos)
                                    {
                                    <option value="@plano.id">@plano.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Período</label>
                                <select class="form-control" name="periodo">
                                    <option value="">Selecione</option>
                                    <option value="MENSAL">Mensal</option>
                                    <option value="TRIMESTRAL">Trimestral</option>
                                    <option value="SEMESTRAL">Semestral</option>
                                    <option value="ANUAL">Anual</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Valor Desconto</label>
                                <input type="text" class="form-control" required name="valor_desconto" id="valor_desconto" />
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Local do Evento</td>
                                    </tr>
                                </thead>
                                @foreach (var local in empresa.LOCAL_EVENTO.Select((item, i) => new { item, i }))
                                {
                                <tr>
                                    <td width="70">
                                        <input type="hidden" name="@string.Format("[{0}].id_local", local.i)" value="@local.item.id" />
                                        @Html.BuffetCheck("", string.Format("[{0}].selecionado", local.i), false)
                                    </td>
                                    <td>@local.item.nome</td>
                                </tr>
                                }
                            </table>
                        </div>
                        <div class="form-group">
                            @Html.BuffetCheck("Enviar e-mail para a empresa sobre o cupom adicionado", "enviar_email")
                        </div>
                        <div class="form-group">

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" style=" height: 40px; ">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@string.Format("cupons_{0}", empresa.id)" aria-expanded="true" aria-controls="collapseOne">
                                            Cupons
                                        </a>
                                    </h4>
                                </div>
                                <div id="@string.Format("cupons_{0}", empresa.id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <table class="table">
                                            @foreach (var cupom in empresa.EMPRESA_CARRINHO_CUPOM)
                                            {
                                            <tr>
                                                <td>@cupom.B_PLANOS_DISPONIVEIS.nome</td>
                                                <td>@cupom.LOCAL_EVENTO.nome</td>
                                                <td>@cupom.periodo</td>
                                                <td>@cupom.disponivel_ate.ToShortDateString()</td>
                                                <td>
                                                    @if (cupom.usado)
                                                        {
                                                    <label class="label label-success">Já usado</label>
                                                        }
                                                        else
                                                        {
                                                            if (cupom.disponivel_ate < DateTime.Today)
                                                            {
                                                    <label class="label label-danger">Expirado</label>
                                                            }
                                                            else
                                                            {
                                                    <label class="label label-success">Disponível</label>
                                                            }
                                                        }
                                                </td>
                                                <td>R$ @(cupom.valor_desconto)</td>
                                            </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
                                <input type="submit" class="btn btn-success" value="Adicionar" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@foreach (var empresa in Model.Empresa)
{
    <div class="modal fade" id="@string.Format("cupons_{0}", empresa.id)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Cupons</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @if (empresa.EMPRESA_CARRINHO_CUPOM.Count != 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Descrição</td>
                                        <td>Vence em</td>
                                        <td>Status</td>
                                        <td>Usado</td>
                                    </tr>
                                </thead>
                                @foreach (var cupons in empresa.EMPRESA_CARRINHO_CUPOM)
                                {
                                    <tr>
                                        <td>@cupons.descricao</td>
                                        <td>@cupons.disponivel_ate.ToShortDateString()</td>
                                        <td>
                                            @if (cupons.disponivel_ate > DateTime.Today)
                                            {
                                                <label class="label label-danger">Expirado</label>
                                            }
                                            else
                                            {
                                                <label class="label label-success">Disponível</label>
                                            }
                                        </td>
                                        <td>@string.Format("{0}", cupons.usado ? "Sim" : "Não")</td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <h2 class="text-center">Sem cupom</h2>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar" />
                </div>
            </div>
        </div>
    </div>
}

@foreach (var empresa in Model.Empresa)
{
    <div class="modal fade" id="@string.Format("carrinho_{0}", empresa.id)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Carrinho</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Produto</td>
                                    <td>Local do Evento</td>
                                    <td>Adicionado em</td>
                                    <td>Valor</td>
                                </tr>
                            </thead>
                            @foreach (var cupons in empresa.EMPRESA_CARRINHO.Where(e => e.comprado == false).ToList())
                            {
                                <tr>
                                    <td>@cupons.B_PLANOS_DISPONIVEIS.nome</td>
                                    <td>@cupons.LOCAL_EVENTO.nome</td>
                                    <td>
                                        @string.Format("{0} ( há {1} dias )", cupons.adicionado_em.ToShortDateString(), (cupons.adicionado_em - DateTime.Today).Days)
                                    </td>
                                    @switch (cupons.periodo)
                                    {
                                        case "MENSAL":
                                            <td>
                                                <input type="hidden" value="@(total += cupons.B_PLANOS_DISPONIVEIS.valor_mensal)" />
                                                @string.Format("R$ {0}", cupons.B_PLANOS_DISPONIVEIS.valor_mensal)
                                            </td>
                                            ; break;
                                        case "TRIMESTRAL":
                                        <td>
                                            <input type="hidden" value="@(total += cupons.B_PLANOS_DISPONIVEIS.valor_trimestral)" />
                                            @string.Format("R$ {0}", cupons.B_PLANOS_DISPONIVEIS.valor_trimestral)
                                        </td>
                                            ; break;
                                        case "SEMESTRAL":
                                        <td>
                                            <input type="hidden" value="@(total += cupons.B_PLANOS_DISPONIVEIS.valor_semestral)" />
                                            @string.Format("R$ {0}", cupons.B_PLANOS_DISPONIVEIS.valor_semestral)
                                        </td>
                                            ; break;
                                        case "ANUAL":
                                        <td>
                                            <input type="hidden" value="@(total += cupons.B_PLANOS_DISPONIVEIS.valor_anual)" />
                                            @string.Format("R$ {0}", cupons.B_PLANOS_DISPONIVEIS.valor_anual)
                                        </td>
                                            ; break;
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                    <hr />
                    <h2 class="text-right">@string.Format("Total {0}", total)</h2>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar" />
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Empresas
                <span class="label label-info pull-right">@Model.Empresa.Count Empresas</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var empresa in Model.Empresa)
                    {
                        <tr>
                            <td>@empresa.nome</td>
                            <td>@empresa.telefone</td>
                            <td>@empresa.celular</td>
                            <td width="50">
                                <a href="javascript:void(o)" data-toggle="modal" data-target="@string.Format("#cupons_{0}", empresa.id)">
                                    <img src="~/Content/Imagens/icones/icone_lista-2.png" />
                                </a>
                            </td>
                            <td width="50">
                                <a href="javascript:void(o)" data-toggle="modal" data-target="@string.Format("#carrinho_{0}", empresa.id)">
                                    <img src="~/Content/Imagens/icones/icone_carrinho.png" />
                                </a>
                            </td>
                            <td width="50">
                                <a href="javascript:void(o)" data-toggle="modal" data-target="@string.Format("#locais_{0}", empresa.id)">
                                    <img src="~/Content/Imagens/icones/icone_adicionar.png" />
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>