﻿@model BuffetWeb.Models.Visitas.Visitas
@{
    ViewBag.Title = "Agendar visita";
    Layout = @"~/Views/Shared/_LayoutGerenciar.cshtml";
}
  
<form action="/Visita/ConfirmarVisita" method="post">  
        <div class="page-title">
            <h2><i class="fa fa-calendar color"></i> Agendar Visita <small>//</small></h2>
            <div class="col-md-12" style="  margin-top: -30px; ">
                <input type="submit" class="btn btn-success pull-right col-md-3" value="Confirmar visita">
            </div>
            <hr>
        </div>
        <div class="awidget full-width">
            <div class="row" style=" padding: 37px; ">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <strong>Atenção!</strong> Só agende uma visita caso tenha certeza que irá comparecer
                </div>
                <hr />
                <div class="input-append col-md-5 pull-left">
                    <h5>Local do evento</h5>
                    <select name="id_local_evento" class="form-control">
                        <option value="">Selecione</option>
                        @foreach (var item in Model.local_evento)
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    </select>
                    <hr />
                    <div id="datetimepicker1" class="input-append">
                        <h5>Data</h5>
                        <span class="add-on">
                            &nbsp;<i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar" class="fa fa-calendar">
                            </i>
                        </span>
                        <input name="data" data-format="yyyy-MM-dd" class="picker col-md-11" type="text">
                    </div>
                    <hr />
                    <h5>Horário disponível </h5>
                    <select name="id_horario" class="form-control">
                        <option value="">Selecione</option>
                        @foreach (var item in Model.horarios_disponiveis)
                        {
                            if (Model.visitas_marcadas.Where(c => c.HORARIO_DISPONIVEIS.id != item.id).FirstOrDefault() == null)
                            {
                                <option value="@item.id">@string.Format("{0} - {1}", item.nome, item.horario.Hours)</option>
                            }
                        }
                    </select>
                    @*<div id="datetimepicker2" class="input-append">
                    <h5>Horario</h5>
                    <span class="add-on">
                        &nbsp;<i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar" class="fa fa-clock-o">
                        </i>
                    </span>
                    <input data-format="hh:mm:ss" class="picker col-md-11" type="text">
                </div>*@
                </div>
                <div class="col-md-7">

                </div>
                <hr />
            </div>
        </div> 
</form> 