﻿@model ICollection<BuffetWebData.Models.ORCAMENTO_VISITAS>
@{
    ViewBag.Title = "Detalhes Da Visita";
    Layout = @"~/Views/Shared/_LayoutGerenciar.cshtml";
}

<div class="modal fade bs-example-modal-sm" id="ModalCancelarVisita" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/Visita/ConfirmarCancelarVistia" method="post"> 
                    <textarea style=" margin-bottom: 20px; " name="mensagem" placeholder="Informe o motivo do cancelamento da visita" class="form-control" rows="4"></textarea>
                    <div style=" text-align: center; ">
                        <input type="hidden" id="id_visita" name="id_visita" value="" />
                        <button type="submit" class="btn btn-danger">Sim</button>
                        <button type="button" onclick="fechaMensagem()" class="btn btn-info">Não</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
  
<div class="awidget full-width">
    <div class="row" style=" padding: 37px; ">
        <table class="table">
            <tbody>
                <tr>
                    <th>Tipo de visita</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Dias restantes</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </tbody>
            @foreach (var visita in Model)
            {
                <tr>
                    <td>@visita.tipo_visita</td>
                    <td>@visita.data.ToShortDateString()</td>
                    <td>@visita.HORARIO_DISPONIVEIS.horario</td>
                    <td>@((visita.data - DateTime.Now).TotalDays)</td>
                    <td>@visita.status_visita</td>
                    @if (visita.status_visita.Equals("CANCELADO"))
                    {
                        <td>Cancelada</td>
                    }
                    else
                    {
                        <td>
                             <input type="button" data-toggle="modal" data-target="#ModalCancelarVisita" onclick="o('id_visita').value = @visita.id" class="btn btn-danger btn-sm" value="Cancelar" />
                        </td>
                    } 
                </tr>
            }
        </table> 
    </div>
</div>  