﻿@model BuffetDataManager.Models.ORCAMENTO
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "AdicionarPagamento";
}

@foreach (var credito in Model.FINANCEIRO_P_CREDITO)
{
    <div class="modal fade bs-example-modal-lg" id="@string.Format("credito{0}", credito.id)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="text-center">Cartão de crédito</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h4>Número de autenticação</h4>
                                <h5>@credito.n_autorizacao</h5>
                            </div>
                            <div class="col-md-3">
                                <h4>Bandeira</h4>
                                <h5>@credito.FINANCEIRO_BANDEIRAS.bandeira</h5>
                            </div>
                            <div class="col-md-3">
                                <h4>Parcelas</h4>
                                <h5>@credito.n_parcelas</h5>
                            </div>
                            <div class="col-md-2">
                                <h4>Valor Total</h4>
                                <h5>@credito.valor</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <td>Parcela</td>
                                        <td>Data Pagamento</td>
                                        <td>Valor da Parcela</td>
                                        <td>Status</td>
                                    </tr>
                                </thead>
                                @for (int i = 1; i != @credito.n_parcelas + 1; i++)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@credito.data.AddDays(30 * i).ToShortDateString()</td>
                                        <td>@string.Format("{0}", (credito.valor / credito.n_parcelas).ToString("F2"))</td>
                                        @if (DateTime.Now > credito.data.AddDays(30 * i))
                                        {
                                            <td class="success">Pago</td>
                                        }
                                        else
                                        {
                                            <td class="warning">Pendente</td>
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var debito in Model.FINANCEIRO_P_DEBITO)
{
    <div class="modal fade bs-example-modal-lg" id="@string.Format("debito{0}", debito.id)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="text-center">Cartão de crédito</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h4>Número de autenticação</h4>
                                <h5>@debito.n_autorizacao</h5>
                            </div>
                            <div class="col-md-4">
                                <h4>Data</h4>
                                <h5>@debito.data.ToShortDateString()</h5>
                            </div>
                            <div class="col-md-2">
                                <h4>Valor</h4>
                                <h5>@debito.valor</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Orçamento - @Model.codigo_unico
            </div>
            <div class="panel-body">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Cliente</h4>
                            <h5>@Model.CLIENTE.nome</h5>
                        </div><div class="col-md-5">
                            <h4>Onde conheceu</h4>
                            <h5> @Model.nome</h5>
                        </div>
                        <div class="col-md-5">
                            <h4>E-mail</h4>
                            @Html.Raw(Html.isEmail(Model.CLIENTE.email, Model.CLIENTE.nome)) 
                        </div>
                        <div class="col-md-5">
                            <h4>Telefone</h4>
                            <h5>@Model.CLIENTE.telefone</h5>
                        </div>
                        <div class="col-md-5">
                            <h4>Status</h4>
                            <h5>@Model.status</h5>
                        </div>
                        <div class="col-md-5">
                            <h4>Tipo de evento</h4>
                            <h5>@Model.EVENTO.nome</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Forma de pagamento</th>
                                    <th align="right">Valor</th>
                                </tr>
                            </thead>
                            @foreach (var especie in Model.FINANCEIRO_P_ESPECIE)
                            {
                                <tr>
                                    <td>@especie.data.ToShortDateString()</td>
                                    <td>Dinheiro</td>
                                    <td align="right">@especie.valor</td>
                                </tr>
                            }
                            @foreach (var debito in Model.FINANCEIRO_P_DEBITO)
                            {
                                <tr>
                                    <td>Débito</td>
                                    <td>@debito.data.ToShortDateString()</td>
                                    <td align="right">@debito.valor</td>
                                    <td align="right">
                                        <input type="button" name="name" value="Detalhes" data-toggle="modal" data-target="@string.Format("#debito{0}", debito.id)" class="btn btn-xs btn-success" />
                                    </td>
                                </tr>
                            }
                            @foreach (var credito in Model.FINANCEIRO_P_CREDITO)
                            {
                                <tr>
                                    <td>@string.Format("{0}", credito.n_parcelas == 1 ? "Crédito a Vista" : "Crédito Parcelado")</td>
                                    <td>@credito.data.ToShortDateString()</td>
                                    <td align="right">@credito.valor</td>
                                    <td align="right">
                                        <input type="button" name="name" value="Detalhes" data-toggle="modal" data-target="@string.Format("#credito{0}", credito.id)" class="btn btn-xs btn-success" />
                                    </td>
                                </tr>
                            }
                            @foreach (var deposito in Model.FINANCEIRO_P_DEPOSITO)
                            {
                                <tr>
                                    <td>Depósito</td>
                                    <td>@deposito.data.ToShortDateString()</td>
                                    <td align="right">@deposito.valor</td>
                                </tr>
                            }
                            @foreach (var cheque in Model.FINANCEIRO_P_CHEQUE)
                            {
                                <tr>
                                    <td>Cheque</td>
                                    <td>@cheque.data.ToShortDateString()</td>
                                    <td align="right">@cheque.valor</td>
                                </tr>
                            }
                            @foreach (var boleto in Model.FINANCEIRO_P_BOLETO)
                            {
                                <tr>
                                    <td>Cheque</td>
                                    <td>@boleto.data.ToShortDateString()</td>
                                    <td align="right">@boleto.valor</td>
                                </tr>
                            }
                        </table>
                        <div class="form-group text-right">
                            @{
                                Decimal total = Model.FINANCEIRO_P_ESPECIE.Sum(e => e.valor) + Model.FINANCEIRO_P_CREDITO.Sum(e => e.valor) + Model.FINANCEIRO_P_DEBITO.Sum(e => e.valor) + Model.FINANCEIRO_P_DEPOSITO.Sum(e => e.valor) + Model.FINANCEIRO_P_CHEQUE.Sum(e => e.valor) + Model.FINANCEIRO_P_BOLETO.Sum(e => e.valor);
                            }
                            <h3>Total: @total</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Formas de Pagamento
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#especie" aria-controls="home" role="tab" data-toggle="tab">Espécie</a></li>
                            <li role="presentation"><a href="#cartaoCredito" aria-controls="profile" role="tab" data-toggle="tab">Cartão de Crédito</a></li>
                            <li role="presentation"><a href="#cartaoDebito" aria-controls="profile" role="tab" data-toggle="tab">Cartão de Débito</a></li>
                            <li role="presentation"><a href="#deposito" aria-controls="profile" role="tab" data-toggle="tab">Depósito</a></li>
                            <li role="presentation"><a href="#boleto" aria-controls="profile" role="tab" data-toggle="tab">Boleto</a></li>
                            <li role="presentation"><a href="#cheque" aria-controls="anotacoes" role="tab" data-toggle="tab">Cheque</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="especie">
                                @using (Html.BeginForm("AdicionarEspecie", "Financeiro"))
                                {
                                    <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
                                    <div class="padding-md clearfix">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                <label>Data</label>
                                                <input type="date" name="data" required class="form-control" />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Valor</label>
                                                <input type="text" name="valor" required class="form-control" />
                                            </div>
                                            <div class="form-group col-md-2" style=" margin-top: 25px; ">
                                                <input type="submit" class="btn btn-success col-md-12" value="Adicionar" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="cartaoCredito">
                                @using (Html.BeginForm("AdicionarCredito", "Financeiro"))
                                {
                                    <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
                                    <div class="padding-md clearfix">
                                        <div class="col-md-2">
                                            <label>Data</label>
                                            <input type="date" required name="data" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Bandeira</label>
                                            @Html.BandeirasDisponiveis("id_bandeira", true)
                                        </div>

                                        <div class="col-md-2">
                                            <label>Parcelas</label>
                                            @Html.NumeroParcelas("n_parcelas", 12, true)
                                        </div>

                                        <div class="col-md-2">
                                            <label>Valor</label>
                                            <input type="text" required name="valor" class="form-control" />
                                        </div>

                                        <div class="col-md-2">
                                            <label>N Autorização</label>
                                            <input type="text" required name="n_autorizacao" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2" style=" margin-top: 25px; ">
                                            <input type="submit" name="name" class="btn btn-success col-md-12" value="Adicionar" />
                                        </div>
                                    </div>
                                }
                            </div>

                            <div role="tabpanel" class="tab-pane" id="cartaoDebito">
                                @using (Html.BeginForm("AdicionarDebito", "Financeiro"))
                                {
                                    <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
                                    <div class="padding-md clearfix">
                                        <div class="col-md-2">
                                            <label>Data</label>
                                            <input type="date" required name="data" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Valor</label>
                                            <input type="text" required name="valor" class="form-control" />
                                        </div>

                                        <div class="col-md-2">
                                            <label>N Autorização</label>
                                            <input type="text" required name="n_autorizacao" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2" style=" margin-top: 25px; ">
                                            <input type="submit" name="name" class="btn btn-success col-md-12" value="Adicionar" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="deposito">
                                @using (Html.BeginForm("AdicionarDeposito", "Financeiro"))
                                {
                                    <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
                                    <div class="padding-md clearfix">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                <label>Banco</label>
                                                @Html.BancosDisponiveis("banco", true)
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Data</label>
                                                <input type="date" name="data" required class="form-control" />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Valor</label>
                                                <input type="text" name="valor" required class="form-control" />
                                            </div>
                                            <div class="form-group col-md-2" style=" margin-top: 25px; ">
                                                <input type="submit" class="btn btn-success col-md-12" value="Adicionar" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="boleto">
                                @using (Html.BeginForm("AdicionarBoleto", "Financeiro"))
                                {
                                    <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
                                    <div class="padding-md clearfix">
                                        <div class="col-md-2">
                                            <label>Banco</label>
                                            @Html.BancosDisponiveis("banco", true)
                                        </div>
                                        <div class="col-md-2">
                                            <label>Data</label>
                                            <input type="date" name="data" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Valor</label>
                                            <input type="text" name="valor" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Número de parcelas</label>
                                            @Html.NumeroParcelas("n_parcelas", 12, true)
                                        </div>
                                        <div class="form-group col-md-2" style=" margin-top: 25px; ">
                                            <input type="submit" name="name" class="btn btn-success col-md-12" value="Adicionar" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="cheque">
                                @using (Html.BeginForm("AdicionarCheque", "Financeiro"))
                                {
                                    <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
                                    <div class="padding-md clearfix">
                                        <div class="col-md-2">
                                            <label>Data</label>
                                            <input type="date" name="data" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Banco</label>
                                            @Html.BancosDisponiveis("banco", true)
                                        </div>
                                        <div class="col-md-2">
                                            <label>Agência</label>
                                            <input type="text" name="agencia" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Contas</label>
                                            <input type="text" name="conta" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>N Cheque</label>
                                            <input type="text" name="n_cheque" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2" style=" margin-top: 25px; ">
                                            <input type="submit" name="name" class="btn btn-success col-md-12" value="Adicionar" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 