﻿@model  BuffetWebManager.Models.Financeiro.formasDePagamento
@{
    ViewBag.Title = "Configurar";
}

<script src="~/Content/Buffet/Script/Financeiro/Financeiro.js"></script>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Configurar forma de pagamento</div>
            <div class="panel-body">
                <div class="form-group">
                    <form action="/Financeiro/SalvarFormasDePagamento" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>Pagamento com Cielo</h4>
                                </div>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-info">@string.Format("{0}", Model.cielo.Equals("false") ? "Selecione (Inativo)" : "Selecione (Ativo)")</button>
                                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="PagamentoCielo(this, true)">Ativar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="PagamentoCielo(this, false)">Inativar</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" name="cielo" id="cielo" value="@Model.cielo" />
                            <div id="pagamentoCielo" style="@string.Format("display: {0}", Model.cielo.Equals("true")? "block" :  "none")">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="credencial_cielo" value="@Model.credencial_cielo" placeholder="Credencial Cielo" />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3" style="margin-top: 18px;">
                                            <img src="~/Content/Buffet/Imagens/Cartao/Visa.png" />
                                        </div>
                                        <div class="col-md-3">
                                            <img src="~/Content/Buffet/Imagens/Cartao/MasterCard.png" />
                                        </div>
                                        <div class="col-md-3" style="margin-top: 18px;">
                                            <img src="~/Content/Buffet/Imagens/Cartao/AmericanExpress.png" />
                                        </div>
                                        <div class="col-md-3">
                                            <img src="~/Content/Buffet/Imagens/Cartao/DinersClub.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style=" margin-top: 30px; ">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>Banco do Brasil</h4>
                                </div>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-info">@string.Format("{0}", Model.brasil.Equals("false") ? "Selecione (Inativo)" : "Selecione (Ativo)")</button>
                                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="PagamentoBrasil(this, true)">Ativar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="PagamentoBrasil(this, false)">Inativar</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" name="brasil" id="brasil" value="@Model.brasil" />
                            <div id="pagamentoBrasil" style="@string.Format("display: {0}", Model.brasil.Equals("true")? "block" : "none")">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="codigo_banco_brasil" value="@Model.codigo_banco_brasil" placeholder="Codigo do banco" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style=" margin-top: 30px; ">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>Boleto Bancario</h4>
                                </div>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-info">@string.Format("{0}", Model.boleto.Equals("false") ? "Selecione (Inativo)" : "Selecione (Ativo)")</button>
                                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="PagamentoBoleto(this, true)">Ativar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="PagamentoBoleto(this, false)">Inativar</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" name="boleto" id="boleto" value="@Model.boleto" />
                            <div id="pagamentoBoleto" style="@string.Format("display: {0}", Model.boleto.Equals("true") ? "block" : "none")">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <select name="boleto_codigo" class="form-control">
                                            @if (!Model.boleto_codigo.Equals(""))
                                            {
                                                switch (Model.boleto_codigo)
                                                {
                                                    case "184":
                                                    <option value="@Model.boleto_codigo">Ítau</option>break;
                                                    case "001":
                                                    <option value="@Model.boleto_codigo">Banco do Brasil</option> break;
                                                    case "036":
                                                    <option value="@Model.boleto_codigo">Bradesco</option>break;
                                                    case "033":
                                                    <option value="@Model.boleto_codigo">Santander</option> break;
                                                } 
                                            }
                                            <option value="184">Ítau</option>
                                            <option value="001">Banco do Brasil</option>
                                            <option value="036">Bradesco</option>
                                            <option value="033">Santander</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="boleto_agencia" value="@Model.boleto_agencia" placeholder="Agência" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="boleto_conta" value="@Model.boleto_conta" placeholder="Conta" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style=" margin-top: 30px; ">
                            <label></label>
                            <input type="submit" name="name" value="Salvar Alterações" class="btn btn-info pull-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 