﻿@model BuffetDataShared.Model.Eventos.ModelTipoEventoDetalhes
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Detalhes Tipo Evento";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Detalhes Tipo de Evento
            </div>
            <div class="panel-body">
                <div class="row col-md-12">
                    <div class="col-md-2">
                        @if (Model.imagem == null)
                        {
                            @Html.SelecionarImagem("imageSelect", "Image", 200, 200)
                        }
                        else
                        {
                            <img src="@Model.imagem.url" class="img-thumbnail" width="200" height="200" /> 
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <h4>Nome</h4>
                            <h5> @Model.tipo_evento.nome </h5>
                        </div>
                        <div class="col-md-12">
                            <h4>Permitir Personalizar </h4>
                            <h5>@string.Format("{0}", Model.tipo_evento.permitir_personalizar ? "Sim" : "Não") </h5>
                        </div>
                        @if (Model.tipo_evento.de_epoca == true)
                        {
                            <div class="col-md-12">
                                <h4>De época?</h4>
                                <h5>Sim</h5>
                            </div>
                            <div class="col-md-6">
                                <h4>De</h4>
                                <h5>@Model.tipo_evento.evento_de</h5>
                            </div>
                            <div class="col-md-6">
                                <h4>Até</h4>
                                <h5>@Model.tipo_evento.evento_ate</h5>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <h4>De época?</h4>
                                <h5>Não</h5>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#cardapio" aria-controls="home" role="tab" data-toggle="tab">Cardápio</a></li>
                            <li role="presentation" class=""><a href="#informacoesSolicitados" aria-controls="home" role="tab" data-toggle="tab">Informações solicitados</a></li>
                            @if (Model.tipo_evento.permitir_personalizar)
                            {
                                <li role="presentation" class=""><a href="#ordemCardapio" aria-controls="home" role="tab" data-toggle="tab">Ordem cardápio</a></li>
                            }
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="cardapio">
                                <div class="col-md-12">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>Nome</td>
                                                <td>Mostrar Valor</td>
                                                <td>Status</td>
                                            </tr>
                                        </tbody>
                                        @foreach (var item in Model.pacotes_eventos)
                                        {
                                            <tr>
                                                <td>@item.PACOTE.nome</td>
                                                <td>@string.Format("{0}", item.PACOTE.mostrar_valor ? "Sim" : "Não")</td>
                                                <td>@string.Format("{0}", item.PACOTE.status == true ? "Ativo" : "Inativo")</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="informacoesSolicitados">
                                <div class="form-group">
                                    @foreach (var item in Model.campos_solicitados)
                                    {
                                        <h4>@item.CAMPOS_DESCRICAO.nome</h4>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Nome</td>
                                                    <td>Obrigatório</td>
                                                    <td>Status</td>
                                                </tr>
                                            </tbody>
                                            @foreach (var campos in item.CAMPOS_DESCRICAO.CAMPOS_COMPONENTES)
	                                        {
                                                <tr>
                                                    <td>@campos.label</td>
                                                    <td>@string.Format("{0}", @campos.required? "Sim":"Não") </td>
                                                    @{
                                                        string tipo = "";
                                                        switch (campos.type)
	                                                    {
                                                            case "select": tipo = "De Seleção"; break;
                                                            case "text": tipo = "De Texto"; break;
                                                            case "date": tipo = "De Data"; break;
                                                            case "email": tipo = "De E-mail"; break;
	                                                    }
                                                        <td>@tipo</td>
                                                    }
                                                </tr>
	                                        } 
                                        </table>
                                    }
                                </div>
                            </div>
                            @if (Model.tipo_evento.permitir_personalizar)
                            {
                                <div role="tabpanel" class="tab-pane fade in active" id="ordemCardapio">
                                    <div class="form-group">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Nome</td>
                                                    <td>Descriçãor</td> 
                                                </tr>
                                            </tbody>
                                            @foreach (var item in Model.tipo_evento.ORDEM_EVENTO)
                                            {
                                                <tr>
                                                    <td>@item.CATEGORIA_ITENS.nome</td>
                                                    <td>@item.CATEGORIA_ITENS.descricao</td> 
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            } 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
