﻿@model ICollection<BuffetDataManager.Models.EVENTO>
@{
    ViewBag.Title = "Eventos";
}

<fieldset>
    <legend>Novo evento</legend>
    <form action="/Evento/NovoEvento" method="post">

        <label>Nome</label>
        <input type="text" name="nome" placeholder="Nome do evento" />

        <label>Descricao</label>
        <textarea name="descricao"></textarea>
        <div>
            <input type="file" name="image" /> 
            <input type="button" name="name" value="+" />
        </div>
        <input type="submit" name="name" value="Salvar" />
    </form>
</fieldset>

<fieldset>
    <legend>Eventos</legend>
    @foreach (var evento in Model)
    {
        <label>@evento.nome</label>
        <label>@evento.descricao</label>
        foreach (var image in evento.GALERIAs)
        {
            <img src="@image.id" alt="@image.id" width="100" height="100" />
        }
    }
</fieldset>
