﻿@model BuffetWebManager.Models.Eventos.NovoTipoEvento

<script src="~/Content/Script/Buffet/Evento/Eventos.js"></script>
@foreach (var categoria_aluguel in Model.categorias_alugueis)
{
    <div class="modal fade in" id="@string.Format("aluguel{0}", categoria_aluguel.id)" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @categoria_aluguel.nome
                </div>
                <div class="modal-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th width="20" />
                                <th>Nome</th>
                                <th>Valor Custo</th>
                                <th>Valor Venda</th>
                                <th width="100"></th>
                                <th width="120"></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.aluguel.Where(c => c.id_categoria == categoria_aluguel.id).OrderBy(e => e.nome).ToList())
                        {
                            <tr>
                                <td>
                                    <label class="label-checkbox">
                                        <input type="hidden" id="@string.Format("{0}aluguel", item.id)" value="@item.id" />
                                        <input type="hidden" id="@string.Format("{0}aluguel_brinde", item.id)" value="false" />
                                        <input type="hidden" id="@string.Format("{0}aluguel_custo_brinde", item.id)" value="false" />
                                        <input type="hidden" id="@string.Format("{0}aluguel_selecionado", item.id)" value="false" />
                                        <input type="checkbox" onclick="javascript: o('@string.Format("{0}aluguel_selecionado", item.id)').value = this.checked" class="chk-row">
                                        <span class="custom-checkbox"></span>
                                    </label>
                                </td>
                                <td>@item.nome</td>
                                <td>@item.valor_custo</td>
                                <td>@item.valor_venda</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                            <span id="@string.Format("{0}aluguel_brinde_desc", item.id)">Brinde? ( Não )</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}aluguel_brinde_desc", item.id)').innerHTML = 'Brinde? ( Sim )'; o('@string.Format("{0}aluguel_brinde", item.id)').value = true; o('@string.Format("{0}botao_aluguel_custo_brinde", item.id)').style.display = 'block'">Sim</a></li>
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}aluguel_custo_brinde", item.id)').value = false; o('@string.Format("{0}aluguel_brinde_desc", item.id)').innerHTML = 'Brinde? ( Não )'; o('@string.Format("{0}aluguel_brinde", item.id)').value = false; o('@string.Format("{0}botao_aluguel_custo_brinde", item.id)').style.display = 'none'">Não</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" style="display:none" id="@string.Format("{0}botao_aluguel_custo_brinde", item.id)">
                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                            Tipo de brinde <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}aluguel_custo_brinde", item.id)').value = false">Nao cobrar Custo</a></li>
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}aluguel_custo_brinde", item.id)').value = true">Cobrar Custo</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var categoria_material in Model.categorias_diversos)
{
    <div class="modal fade in" id="@string.Format("materiais{0}", categoria_material.id)" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @categoria_material.nome
                </div>
                <div class="modal-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th width="20" />
                                <th>Nome</th>
                                <th>Valor Custo</th>
                                <th>Valor Venda</th>
                                <th width="100"></th>
                                <th width="120"></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.diversos.OrderBy(e => e.nome).ToList())
                        {
                            <tr>
                                <td>
                                    <label class="label-checkbox">
                                        <input type="hidden" id="@string.Format("{0}diversos", item.id)" value="@item.id" />
                                        <input type="hidden" id="@string.Format("{0}diversos_brinde", item.id)" value="false" />
                                        <input type="hidden" id="@string.Format("{0}diversos_custo_brinde", item.id)" value="false" />
                                        <input type="hidden" id="@string.Format("{0}diversos_selecionado", item.id)" value="false" />
                                        <input type="checkbox" onclick="javascript: o('@string.Format("{0}diversos_selecionado", item.id)').value = this.checked" class="chk-row">
                                        <span class="custom-checkbox"></span>
                                    </label>
                                </td>
                                <td>@item.nome</td>
                                <td>@item.valor_custo</td>
                                <td>@item.valor_venda</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                            <span id="@string.Format("{0}diversos_brinde_desc", item.id)">Brinde? ( Não )</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}diversos_brinde_desc", item.id)').innerHTML = 'Brinde? ( Sim )'; o('@string.Format("{0}diversos_brinde", item.id)').value = true; o('@string.Format("{0}botao_diversos_custo_brinde", item.id)').style.display = 'block'">Sim</a></li>
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}diversos_custo_brinde", item.id)').value = false; o('@string.Format("{0}diversos_brinde_desc", item.id)').innerHTML = 'Brinde? ( Não )'; o('@string.Format("{0}diversos_brinde", item.id)').value = false; o('@string.Format("{0}botao_diversos_custo_brinde", item.id)').style.display = 'none'">Não</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" style="display:none" id="@string.Format("{0}botao_diversos_custo_brinde", item.id)">
                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                            Tipo de brinde <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}diversos_custo_brinde", item.id)').value = false">Nao cobrar Custo</a></li>
                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}diversos_custo_brinde", item.id)').value = true">Cobrar Custo</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@if (Html.Permissoes(Permitir.Criar, Conteudo.TipoEvento))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Novo Tipo de evento</div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tipoDeEvento">
                            <div class="panel-body">
                                <div class="col-md-2 row"
                                    @Html.Dica("top", "Esta imagem vai aparecer quando for criar um orçamento.")>
                                    @Html.SelecionarImagem("imagem_evento", "image", 200, 200)
                                </div>
                                <div class="col-md-10">
                                    <form id="TIPOEVENTO">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nome do evento</label>
                                                <input class="form-control" type="text" required name="nome" />
                                            </div>
                                            <div class="col-md-3" style=" margin-top: 22px; ">
                                                <input type="hidden" name="dividir_valor_pessoa" value="true" id="dividir_valor_pessoa">
                                                <div class="btn-block pull-right" @Html.Dica("top", "Caso você defina ( Detalhado ) sera listado para o cliente o preço do espaço, preço cardapio etc... Caso você defina ( Sem detalhes ) sera listado o preço do cardapio por pessoa e o preço total dos adicionais!")>
                                                    <button class=" btn btn-success dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                                                        <span id="dividir_valor_pessoa_desc">Mostrar Valor</span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(o)" onclick="o('dividir_valor_pessoa').value = true; o('dividir_valor_pessoa_desc').innerHTML = 'Detalhado'">Detalhado</a></li>
                                                        <li><a href="javascript:void(o)" onclick="o('dividir_valor_pessoa').value = false; o('dividir_valor_pessoa_desc').innerHTML = 'Sem detalhes'">Sem detalhes</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-md-3" style=" margin-top: 22px; ">
                                                <input type="hidden" name="de_epoca" value="false" id="de_epoca">
                                                <div class="btn-block pull-right" @Html.Dica("top", "Aqui você define em qual época do ano este evento ficara disponível, caso você defina ( não ) o evento ficara o ano inteiro disponível.")>
                                                    <button class="btn btn-block btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span id="de_epoca_desc">De Época? ( Não )</span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(o)" onclick="EventoDeEpoca(this, true)">Sim</a></li>
                                                        <li><a href="javascript:void(o)" onclick="EventoDeEpoca(this, false)">Não</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label id="evento_de_label" style="display: none;">Disponível de</label>
                                                <input class="form-control" type="date" id="evento_de" name="evento_de" style="display: none;">
                                            </div>
                                            <div class="col-md-4">
                                                <label id="evento_ate_label" style="display: none;">Disponível Até</label>
                                                <input class="form-control" type="date" id="evento_ate" name="evento_ate" style="display: none;">
                                            </div>
                                            <div class="col-md-4">
                                                <label id="quantidade_disponivel_label" style="display: none;">Disponíveis</label>
                                                <input class="form-control" type="number" placeholder="Quantidade" value="1" min="1" id="quantidade_disponivel" name="quantidade_disponivel" style="display: none;">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Descrição</label>
                                                <textarea class="form-control" name="descricao" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12 row" style="margin-top: 20px;">
                                    <div role="tabpanel" id="Itens">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active" @Html.Dica("top", "Estes serão os dados solicitados ao cliente quando ele selecionar este tipo de evento.")><a href="#dadosSolicitados" data-id="dadosSolicitados" aria-controls="home" role="tab" data-toggle="tab">Dados Solicitados</a></li>
                                            <li role="presentation" @Html.Dica("top", "Você pode escolher cardapios criados para este orçamento.")><a href="#cardapios" data-id="cardapio" aria-controls="home" role="tab" data-toggle="tab"> Cardápios</a></li>
                                            <li role="presentation"><a href="#servicos" data-id="servicos" aria-controls="home" role="tab" data-toggle="tab">Serviços</a></li>
                                            <li role="presentation"><a href="#materiais2" data-id="materiais2" aria-controls="home" role="tab" data-toggle="tab">Materiais</a></li>
                                            <li role="presentation"><a href="#aluguel" data-id="aluguel" aria-controls="home" role="tab" data-toggle="tab">Itens de aluguel</a></li>
                                            <li role="presentation"><a href="#prestador" data-id="prestador" aria-controls="home" role="tab" data-toggle="tab">Prestadores</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="dadosSolicitados">
                                                <div class="panel-body relative">
                                                    <select multiple="multiple" id="dadosUnSelect" class="select-box pull-left form-control">
                                                        @foreach (var dados in Model.campo_descricao)
                                                        {
                                                            <option value="@dados.id">@dados.nome</option>
                                                        }
                                                    </select>

                                                    <div class="select-box-option">
                                                        <a class="btn btn-sm btn-default" onclick="Left(this, 'dadosSelect', 'dadosUnSelect')" id="btnRemove">
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                        <a class="btn btn-sm btn-default" onclick="Right(this, 'dadosUnSelect', 'dadosSelect')" id="btnSelect">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </div>

                                                    <select multiple="multiple" id="dadosSelect" name="options" class="select-box pull-right form-control"></select>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="cardapios">
                                                <div class="panel-body relative">
                                                    <select multiple="multiple" id="cardapiosUnSelect" class="select-box pull-left form-control">
                                                        @foreach (var cardapios in Model.pacotes.OrderBy(e => e.nome).ToList())
                                                        {
                                                            <option value="@cardapios.id">@string.Format("{0} - R$ {1}", cardapios.nome, cardapios.valor_venda)</option>
                                                        }
                                                    </select>

                                                    <div class="select-box-option">
                                                        <a class="btn btn-sm btn-default" onclick="Left(this, 'cardapiosSelect', 'cardapiosUnSelect')" id="btnRemove">
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                        <a class="btn btn-sm btn-default" onclick="Right(this, 'cardapiosUnSelect', 'cardapiosSelect')" id="btnSelect">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </div>

                                                    <select multiple="multiple" id="cardapiosSelect" name="options" class="select-box pull-right form-control"></select>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="servicos">
                                                <div class="panel-body relative">
                                                    <table class="table table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th width="20" />
                                                                <th>Nome</th>
                                                                <th>Valor Custo</th>
                                                                <th>Valor Venda</th>
                                                                <th width="100"></th>
                                                                <th width="120"></th>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var item in Model.servicos.OrderBy(e => e.nome).ToList())
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <label class="label-checkbox">
                                                                        <input type="hidden" id="@string.Format("{0}servicos", item.id)" value="@item.id" />
                                                                        <input type="hidden" id="@string.Format("{0}servicos_brinde", item.id)" value="false" />
                                                                        <input type="hidden" id="@string.Format("{0}servicos_custo_brinde", item.id)" value="false" />
                                                                        <input type="hidden" id="@string.Format("{0}servicos_selecionado", item.id)" value="false" />
                                                                        <input type="hidden" id="@string.Format("{0}servicos_selecionado_default", item.id)" value="false" />
                                                                        <input type="checkbox" onclick="javascript: o('@string.Format("{0}servicos_selecionado", item.id)').value = this.checked" class="chk-row">
                                                                        <span class="custom-checkbox"></span>
                                                                    </label>
                                                                </td>
                                                                <td>@item.nome</td>
                                                                <td>@item.valor_custo</td>
                                                                <td>@item.valor_venda</td>
                                                                <td>
                                                                    <div class="btn-group pull-right">
                                                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                                                            <span id="@string.Format("{0}servicos_selecionado_default_desc", item.id)">Brinde? ( Não )</span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}servicos_selecionado_default_desc", item.id)').innerHTML = 'Brinde? ( Sim )'; o('@string.Format("{0}servicos_selecionado_default", item.id)').value = true;" >Sim</a></li>
                                                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}servicos_selecionado_default", item.id)').value = false; o('@string.Format("{0}servicos_selecionado_default_desc", item.id)').innerHTML = 'Brinde? ( Não )';" >Não</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="btn-group pull-right">
                                                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                                                            <span id="@string.Format("{0}servicos_brinde_desc", item.id)">Brinde? ( Não )</span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}servicos_brinde_desc", item.id)').innerHTML = 'Brinde? ( Sim )'; o('@string.Format("{0}servicos_brinde", item.id)').value = true; o('@string.Format("{0}botao_servicos_custo_brinde", item.id)').style.display = 'block'">Sim</a></li>
                                                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}servicos_custo_brinde", item.id)').value = false; o('@string.Format("{0}servicos_brinde_desc", item.id)').innerHTML = 'Brinde? ( Não )'; o('@string.Format("{0}servicos_brinde", item.id)').value = false; o('@string.Format("{0}botao_servicos_custo_brinde", item.id)').style.display = 'none'">Não</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="btn-group pull-right" style="display:none" id="@string.Format("{0}botao_servicos_custo_brinde", item.id)">
                                                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                                                            Tipo de brinde <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}servicos_custo_brinde", item.id)').value = false">Nao cobrar Custo</a></li>
                                                                            <li><a href="javascript:void(o)" onclick="o('@string.Format("{0}servicos_custo_brinde", item.id)').value = true">Cobrar Custo</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="materiais2">
                                                <div class="panel-body relative">
                                                    @foreach (var categoria_diverso in Model.categorias_diversos)
                                                    {
                                                        <input type="button" class="btn btn-success" value="@categoria_diverso.nome" data-toggle="modal" data-target="#@string.Format("materiais{0}", categoria_diverso.id)" />
                                                    }

                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="aluguel">
                                                <div class="panel-body relative">
                                                    @foreach (var categoria_aluguel in Model.categorias_alugueis)
                                                    {
                                                        <input type="button" class="btn btn-success" value="@categoria_aluguel.nome" data-toggle="modal" data-target="#@string.Format("aluguel{0}", categoria_aluguel.id)" />
                                                    }
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="prestador">
                                                <div class="panel-body relative">
                                                    <table class="table table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th width="20" />
                                                                <th>Função</th>
                                                                <th></th>
                                                                <th>Quantidade</th>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var funcao in Model.prestador_funcao.OrderBy(e => e.nome).ToList())
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <label class="label-checkbox">
                                                                        <input type="hidden" id="@string.Format("{0}prestador", funcao.id)" value="@funcao.id" />
                                                                        <input type="hidden" id="@string.Format("{0}prestador_selecionado", funcao.id)" value="false" />
                                                                        <input type="hidden" id="@string.Format("{0}prestador_tipo", funcao.id)" value="CONVIDADOS" />
                                                                        <input type="checkbox" onclick="javascript: o('@string.Format("{0}prestador_selecionado", funcao.id)').value = this.checked" class="chk-row">
                                                                        <span class="custom-checkbox"></span>
                                                                    </label>
                                                                </td>
                                                                <td>@funcao.nome</td>
                                                                <td>
                                                                    <div class="btn-group pull-right">
                                                                        <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                                                            <span id="@string.Format("{0}pestador_desc", funcao.id)">Contratar por? ( Convidados )</span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li @Html.Dica("left", "Aqui você precisa informar a quantidades de pestadores para todo o evento.")><a href="javascript:void(o)" onclick="o('@string.Format("{0}pestador_desc", funcao.id)').innerHTML = 'Contratar por? ( Evento )'; o('@string.Format("{0}prestador_tipo", funcao.id)').value = 'EVENTO';">Cobrar por? ( Evento )</a></li>
                                                                            <li @Html.Dica("left", "Aqui você precisa informar a quantidade de convidados que um prestador atende.")><a href="javascript:void(o)" onclick="o('@string.Format("{0}pestador_desc", funcao.id)').innerHTML = 'Contratar por? ( Convidados )'; o('@string.Format("{0}prestador_tipo", funcao.id)').value = 'CONVIDADOS';">Cobrar por? ( Convidados )</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td width="150">
                                                                    <input type="text" class="form-control input-sm" id="@string.Format("{0}prestador_quantidade", funcao.id)" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    @{
                                                        string servicos = "";
                                                        foreach (var servico in Model.servicos)
                                                        {
                                                            servicos = string.Format("{0},{1}", servico.id, servicos);
                                                        }

                                                        string alugueis = "";
                                                        foreach (var aluguel in Model.aluguel)
                                                        {
                                                            alugueis = string.Format("{0},{1}", aluguel.id, alugueis);
                                                        }

                                                        string diversos = "";
                                                        foreach (var diverso in Model.diversos)
                                                        {
                                                            diversos = string.Format("{0},{1}", diverso.id, diversos);
                                                        }

                                                        string prestadores = "";
                                                        foreach (var prestador in Model.prestador_funcao)
                                                        {
                                                            prestadores = string.Format("{0},{1}", prestador.id, prestadores);
                                                        }

                                                        <input type="button" class="btn btn-success" value="Salvar" onclick="SalvarTipoEvento(this)" data-prestador="@prestadores" data-servicos="@servicos" data-alugueis="@alugueis" data-diversos="@diversos" />
                    }
                </div>
            </div>
        </div>
    </div>
}


    @*@if (Model.tipo_evento.Count == 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <h2 class="text-center">Não existe nenhum evento cadastrado.</h2>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Eventos Cadastrados
                            <span class="label label-info pull-right">@Model.tipo_evento.Count Eventos</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Descrição</th>
                                            <td>de época?</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    @foreach (var evento in Model.tipo_evento)
                                    {
                                        <tr>
                                            <td>@evento.nome</td>
                                            <td>@evento.descricao </td>
                                            @if (evento.de_epoca == true)
                                            {
                                                <td>
                                                    @string.Format("SIM {0} - {1}", evento.evento_ate.ToString().Replace("00:00:00", ""), evento.evento_ate.ToString().Replace("00:00:00", ""))
                                                </td>
                                            }
                                            else
                                            {
                                                <td>Ano inteiro</td>
                                            }
                                            <td align="right">
                                                <div class="btn-group">
                                                    @if (ViewBag.c_tipo_evento)
                                                    {
                                                        <button class="btn btn-xs btn-success  dropdown-toggle" data-toggle=" dropdown">
                                                            Ações
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" onclick="window.location.href = '@string.Format("/Eventos/DetalhesEvento?id_evento={0}", evento.id)'">Detalhes</a></li>
                                                            <li><a href="@string.Format("/Eventos/DetalhesEvento?id_evento={0}", evento.id)">Desativar Evento</a></li>
                                                        </ul>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }*@
