﻿@{
    ViewBag.Title = "Mensagem";

    var cliente = Html.Cliente(Context);
}

<div class="well container-fluid">
    <div class="span12">
        <h2>Mensagem</h2>
        <h4>Estamos a disposição a qualquer horario do dia!</h4>
    </div>
    <form action="/Email/EnviarMensagem" method="post">
        <div class="span3">
            <label>Seu nome</label>
            <input type="text" required name="nome" value="@(cliente != null? cliente.nome : "")" class="input-block" />
        </div>
        <div class="span3">
            <label>Seu e-mail</label>
            <input type="text" required name="email" value="@(cliente != null? cliente.email : "")" class="input-block" />
        </div>
        <div class="span3">
            <label>Seu telefone</label>
            <input type="text" required name="telefone" value="@(cliente != null? cliente.telefone : "")" class="input-block" />
        </div>
        <div class="span3">
            <label>Escolha uma tegoria</label>
            <select required class="input-block">
                <option value="Elogio">Elogio</option>
                <option value="Comercial">Comercial</option>
                <option value="Critica">Critica</option>
                <option value="Comunicar erro">Comunicar erro</option>
                <option value="Sugestão">Sugestão</option>
            </select>
        </div>

        <div class="span12">
            <label>Descrição</label>
            <textarea rows="3" required name="descricao" class="input-block"></textarea>
        </div>

        <div class="span12">
            <input type="submit" class="btn btn-primary pull-right" style="margin-top:20px" value="Enviar" />
        </div>
    </form>

    <div class="span12">
        <h3>Veja também</h3>
    </div>
    <div class="span12" style="margin-top:20px">
        <a href="/Portal/Anuncie" class="btn btn-primary">Quero anunciar</a> 
    </div>
</div>
