﻿<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="iDea a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/icone_logo_BuffetWeb.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="~/Content/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="~/Content/plugins/rs-plugin/css/settings.css" media="screen" rel="stylesheet">
    <link href="~/Content/plugins/rs-plugin/css/extralayers.css" media="screen" rel="stylesheet">
    <link href="~/Content/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/css/animations.css" rel="stylesheet">
    <link href="~/Content/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">

    <!-- iDea core CSS file -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Color Scheme (In order to change the color scheme, replace the red.css with the color scheme that you prefer)-->
    <link href="~/Content/css/skins/red.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
</head>

<!-- body classes:
        "boxed": boxed layout mode e.g. <body class="boxed">
        "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1">
-->
<body class="front">
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

        <!-- header-top start -->
        <!-- ================ -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-6">

                        <!-- header-top-first start -->
                        <!-- ================ -->
                        <div class="header-top-first clearfix">
                            <ul class="social-links clearfix hidden-xs">
                                @*<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>*@
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/BuffetWebcom/376802529148708?fref=ts"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <div class="social-links hidden-lg hidden-md hidden-sm">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                    <ul class="dropdown-menu dropdown-animation">
                                        @*<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                        <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>*@
                                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/BuffetWebcom/376802529148708?fref=ts"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- header-top-first end -->

                    </div>
                    <div class="col-xs-10 col-sm-6">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second" class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i> Pesquisar</button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form role="search" class="search-box">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Pesquisar">
                                                    <i class="fa fa-search form-control-feedback"></i>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form class="login-form" action="http://www.web.buffetweb.com/Home/EntrarAdministrativo" method="post">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">E-Mail</label>
                                                    <input type="email" class="form-control" placeholder="" name="email" required>
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Senha</label>
                                                    <input type="password" class="form-control" placeholder="" name="senha" required>
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>
                                                <button type="submit" class="btn btn-block btn-dark btn-sm">Entrar</button>
                                            </form>

                                        </li>
                                    </ul>
                                </div>


                            </div>
                            <!--  header top dropdowns end -->

                        </div>
                        <!-- header-top-second end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
        <!-- header start (remove fixed class from header in order to disable fixed navigation mode) -->
        <!-- ================ -->
        <header class="header fixed clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix">

                            <!-- logo -->
                            <div class="logo">
                                <a href="/Home"><img id="logo" src="~/Content/images/logo_buffetweb.png" alt="BuffetWeb"></a>
                            </div>

                            <!-- name-and-slogan -->


                        </div>
                        <!-- header-left end -->

                    </div>
                    <div class="col-md-9">

                        <!-- header-right start -->
                        <!-- ================ -->
                        <div class="header-right clearfix">

                            <!-- main-navigation start -->
                            <!-- ================ -->
                            <div class="main-navigation animated">

                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">

                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="dropdown">
                                                    <a href="/Home" class="dropdown-toggle" data-toggle="dropdown">Inicio</a>
                                                </li>

                                                <!-- mega-menu start -->
                                                <li class="dropdown mega-menu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Módulos</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-sm-4 col-md-6">
                                                                    <h4>Flexibilidade</h4>
                                                                    <p>Com o BuffetWeb, a sua empresa pode trabalhar com módulos de acordo com a sua necessidade.</p>
                                                                    <img src="~/Content/images/section-image-3.png" alt="iDea">
                                                                </div>
                                                                <div class="col-sm-8 col-md-6">
                                                                    <h4>Módulos</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="divider"></div>
                                                                            <ul class="menu">
                                                                                <li><a href="/Home/Orcamento"><i class="fa fa-edit"></i>Orçamento On-Line</a></li>
                                                                                <li><a href="/Home/Convite"><i class="fa fa-envelope-o"></i>Convite On-Line</a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="divider"></div>
                                                                            <ul class="menu">
                                                                                <li><a href="/Home/ERP"><i class="fa fa-calculator"></i>E.R.P.</a></li>
                                                                                <li><a href="/Home/GaleriaImagens"><i class="fa fa-image"></i>Galeria de Imagens</a></li>
                                                                            </ul>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <!-- mega-menu start -->
                                                <li class="dropdown mega-menu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-sm-4 col-md-6">
                                                                    <h4>Profissionais Certificados</h4>
                                                                    <p>Métodos Modernos na Implantação, nos Treinamentos, no Suporte ou na Manutenção do Sistema.</p>
                                                                    <img src="~/Content/images/section-image-1.png" alt="image-1">
                                                                </div>
                                                                <div class="col-sm-8 col-md-6">
                                                                    <h4>Serviços</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="divider"></div>
                                                                            <ul class="menu">
                                                                                <li><a href="/Home/Implantacao"><i class="fa fa-sitemap"></i>Implantação</a></li>
                                                                                <li><a href="/Home/Treinamento"><i class="fa fa-certificate"></i>Treinamento</a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="divider"></div>
                                                                            <ul class="menu">
                                                                                <li><a href="/Home/Suporte"><i class="fa fa-headphones"></i>Suporte</a></li>
                                                                                <li><a href="/Home/Manutencao"><i class="fa fa-wrench"></i>Manutenção</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="/Home/Contato" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </nav>
                                <!-- navbar end -->

                            </div>
                            <!-- main-navigation end -->

                        </div>
                        <!-- header-right end -->

                    </div>
                </div>
            </div>
        </header>
        
        @RenderBody()
        
       
        <!-- footer start (Add "light" class to #footer in order to enable light footer) -->
        <!-- ================ -->
        <footer id="footer">

            <!-- .footer start -->
            <!-- ================ -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-content">
                                <div class="logo-footer"><img id="logo-footer" src="~/Content/images/logo_buffetweb_pb.png" alt=""></div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p><i class="fa fa-envelope-o pr-10"></i> contato@buffetweb.com</p>
                                        <!-- <p>Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p> -->
                                        <ul class="social-links circle">
                                            <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/BuffetWebcom/376802529148708?fref=ts"><i class="fa fa-facebook"></i></a></li>
                                            @*<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>*@
                                        </ul>
                                    </div>
                                    <!-- <div class="col-sm-6">
                                        <ul class="list-icons">
                                            <li><i class="fa fa-map-marker pr-10"></i> One infinity loop, 54100</li>
                                            <li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
                                            <li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
                                            <li><i class="fa fa-envelope-o pr-10"></i> contato@buffetweb.com</li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <a href="page-about.html" class="link"><span>Read More</span></a> -->
                            </div>
                        </div>
                        <!-- <div class="space-bottom hidden-lg hidden-xs"></div>
                        <div class="col-sm-6 col-md-2">
                            <div class="footer-content">
                                <h2>Links</h2>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="index.html">Home</a></li>
                                        <li class="active"><a href="blog-right-sidebar.html">Blog</a></li>
                                        <li><a href="portfolio-3col.html">Portfolio</a></li>
                                        <li><a href="page-about.html">About</a></li>
                                        <li><a href="page-contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> -->
                        <div class="col-sm-6 col-md-3 col-md-offset-1">
                            <div class="footer-content">
                                <br>
                                <!-- <h2>Latest Projects</h2> -->
                                <div class="gallery row">
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-1.jpg" alt="">
                                            <a href="/Home/Orcamento" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-2.jpg" alt="">
                                            <a href="/Home/Convite" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-3.jpg" alt="">
                                            <a href="/Home/ERP" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-4.jpg" alt="">
                                            <a href="/Home/GaleriaImagens" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-5.jpg" alt="">
                                            <a href="/Home/Implantacao" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-6.jpg" alt="">
                                            <a href="/Home/Treinamento" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-7.jpg" alt="">
                                            <a href="/Home/Suporte" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-8.jpg" alt="">
                                            <a href="/Home/Manutencao" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-item col-xs-4">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/gallery-9.jpg" alt="">
                                            <a href="/Home/Contato" class="overlay small">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-bottom hidden-lg hidden-xs"></div>
                </div>
            </div>
            <!-- .footer end -->
            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright © 2015 BuffetWeb por <a target="_blank" href="">Wecash Group</a>. Todos os Direitos Reservados</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="navbar navbar-default" role="navigation">
                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                    <ul class="nav navbar-nav">
                                        <li><a href="index.html">Inicio</a></li>
                                        <!-- <li><a href="page-about.html">About</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog</a></li>
                                        <li><a href="portfolio-3col.html">Portfolio</a></li> -->
                                        <li><a href="page-contact-2.html">Contato</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->
    <!-- JavaScript files placed at the end of the document so the pages load faster
    ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="~/Content/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="~/Content/plugins/modernizr.js"></script>

    <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="~/Content/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Isotope javascript -->
    <script type="text/javascript" src="~/Content/plugins/isotope/isotope.pkgd.min.js"></script>

    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="~/Content/plugins/owl-carousel/owl.carousel.js"></script>

    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="~/Content/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Appear javascript -->
    <script type="text/javascript" src="~/Content/plugins/jquery.appear.js"></script>

    <!-- Count To javascript -->
    <script type="text/javascript" src="~/Content/plugins/jquery.countTo.js"></script>

    <!-- Parallax javascript -->
    <script src="~/Content/plugins/jquery.parallax-1.1.3.js"></script>

    <!-- Contact form -->
    <script src="~/Content/plugins/jquery.validate.js"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="~/Content/js/template.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="~/Content/js/custom.js"></script>

    <script>
        function Mascara(src, mask) {
            var i = src.value.length;
            var saida = mask.substring(0, 1);
            var texto = mask.substring(i)
            if (texto.substring(0, 1) != saida) {
                src.value += texto.substring(0, 1);
            }

        }
    </script>

</body>
</html>
