﻿@model BuffetDataManager.Models.PESQUISA_PESQUISAS
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "CriarPesquisa";
}

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
@*<script src="http://code.jquery.com/jquery-1.10.2.js"></script>*@
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
<script src="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.js"></script>
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.theme.css" rel="stylesheet" />

<script src="~/Content/Buffet/Pesquisa/Pesquisa.js"></script>

@* SATISFACAO *@
<div class="modal fade " id="satisfacao" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Satisfação</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissible fade in" role="alert" id="titulo_satisfacao_repetido" style="display:none">
                            <strong>Informação!</strong> Essa pergunta já foi feita.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>Pergunta</label>
                        <input type="text" class="form-control" id="titulo_pergunta_opcoes" onkeyup="o('titulo_opcoes').innerHTML = this.value; VerificaPerguntaRepetida(this)" placeholder="Ex: O que achou de nossas recreações?">
                    </div>

                    <div class="col-md-12">
                        <div class="row col-md-10">
                            <label>Opção</label>
                            <input type="text" class="form-control" maxlength="20" id="opcao" placeholder="Ex: Brincadeiras, Pintura Facial, Escultura de Balões">
                        </div>
                        <div class="col-md-2" style=" margin-top: 23px; ">
                            <input type="button" class="btn btn-success btn-block" onclick="AdicionarOpcao(this, o('opcao'))" value="+">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="descricao_opcoes_tabela">
                            <h2 class="text-center text-uppercase">Adicione suas opções de pesquisa</h2>
                        </div>
                        <div style=" margin-top: 10px; display:none" id="satisfacao_opcoes_tabela">
                            <h3 class="text-center" id="titulo_opcoes"></h3>
                            <div id="opcoes_preview">
                                <table class="table" id="tabelaSatisfacao">
                                    <thead>
                                        <tr>
                                            <th width="200" align="center">Avaliação</th>
                                            <th width="50" align="center">Péssimo</th>
                                            <th width="50" align="center">Ruim</th>
                                            <th width="50" align="center">Normal</th>
                                            <th width="50" align="center">Bom</th>
                                            <th width="50" align="center">Exelente</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" value="Adicionar" id="botao_satisfacao" onclick="AdicionarSatisfacao(this)" />
            </div>
        </div>
    </div>
</div>

@* SORRISOS *@
<div class="modal fade " id="sorrisos" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sorriso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Pergunta</label>
                        <input type="text" id="texto_sorriso_text" onkeyup="o('texto_sorriso').innerHTML = this.value" class="form-control" placeholder="Ex: Qual seu nível de satisfação geral com o evento?" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-12">
                            <h3 class="text-center" id="texto_sorriso"></h3>
                        </div>
                        <div style=" margin-left: 20%; ">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/muito_insatisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/insatisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Insatisfeito">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/indiferente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Indiferente">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/satisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Satisfeito"><div class="tooltip fade bottom" role="tooltip" id="tooltip707019" style="top: 116px; left: 339.59375px; display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Satisfeito</div></div>
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/muito_satisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Satisfeito"><div class="tooltip fade bottom" role="tooltip" id="tooltip722224" style="top: 116px; left: 392.09375px; display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Muito Satisfeito</div></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" onclick="AdicionarSorriso(this)" id="botao_sorriso" value="Adicionar" />
            </div>
        </div>
    </div>
</div>

@* ESTRELAS *@
<div class="modal fade " id="estrelas" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Estrela</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Pergunta</label>
                        <input type="text" id="texto_estrela_text" onkeyup="o('texto_estrela').innerHTML = this.value" class="form-control" placeholder="Ex: A sua avaliação para os pratos e bebidas que foram servidos?" />
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h3 class="text-center" id="texto_estrela"></h3>
                        </div>
                        <div style=" margin-left: 20%; ">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                        </td>
                                        <td width="70">
                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" value="Adicionar" id="botao_estrela" onclick="AdicionarEstrela(this)" />
            </div>
        </div>
    </div>
</div>

@* GOSTEI *@
<div class="modal fade " id="gostei" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Gostei</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Pergunta</label>
                        <input type="text" id="texto_gostei_text" class="form-control" onkeyup="o('texto_gostei').innerHTML = this.value" placeholder="Ex: Você faria uma festa em nosso Buffet?" />
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h3 class="text-center" id="texto_gostei"></h3>
                        </div>
                        <div style=" margin-left: 34%; ">
                            <table>
                                <tr>
                                    <td width="100">
                                        <img src="~/Content/Buffet/Pesquisa/Imagens/icone_like_cinza.png" width="90" />
                                    </td>
                                    <td width="100">
                                        <img src="~/Content/Buffet/Pesquisa/Imagens/icone_dislike_cinza.png" width="90" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" value="Adicionar" id="botao_gostei" onclick="AdicionarGostei(this)" />
            </div>
        </div>
    </div>
</div>

@* COMENTARIOS *@
<div class="modal fade " id="comentarios" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Comentarios</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Pergunta</label>
                        <input type="text" id="texto_comentario_text" onkeyup="o('texto_comentario').innerHTML = this.value" class="form-control" placeholder="Ex: Você gostaria de deixar a sua sugestão para melhoria de nossos serviços ou instalações?" />
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center" id="texto_comentario"></h3>
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" disabled="disabled">Este campo ira aparecer para o convidado.</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" value="Adicionar" id="botao_comentario" onclick="AdicionarComentario(this)" />
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        @string.Format("{0} Pesquisa para - {1}", (((string)ViewBag.tipo_pesquisa).Equals("EDITAR") ? "Editando" : "Criando"), ViewBag.codigo_unico)
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-1" style=" width: 150px; ">
                        <a href="javascript:void(o)" onclick="AbrirSatisfacao(this)">
                            <div class="thumbnail" style="background-color: rgb(239, 239, 239)">
                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha.png" class="img-thumbnail" />
                                <div class="text-center">
                                    <h5>Satisfação</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1" style=" width: 150px; ">
                        <a href="javascript:void(o)" data-target="#sorrisos" data-toggle="modal">
                            <div class="thumbnail" style="background-color: rgb(239, 239, 239)">
                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_sorrisos.png" class="img-thumbnail" />
                                <div class="text-center">
                                    <h5>Sorrisos</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1" style=" width: 150px; ">
                        <a href="javascript:void(o)" data-target="#estrelas" data-toggle="modal">
                            <div class="thumbnail" style="background-color: rgb(239, 239, 239)">
                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_estrelas(1).png" class="img-thumbnail" />
                                <div class="text-center">
                                    <h5>Estrela</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1" style=" width: 150px; ">
                        <a href="javascript:void(o)" data-target="#comentarios" data-toggle="modal">
                            <div class="thumbnail" style="background-color: rgb(239, 239, 239)">
                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_comentario(1).png" class="img-thumbnail" />
                                <div class="text-center">
                                    <h5>Comentario</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1" style=" width: 150px; ">
                        <a href="javascript:void(o)" data-target="#gostei" data-toggle="modal">
                            <div class="thumbnail" style="background-color: rgb(239, 239, 239)">
                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_like_cinza(1).png" class="img-thumbnail" />
                                <div class="text-center">
                                    <h5>Gostei</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" class="btn btn-default" onclick="javascript: window.history.back()" value="Voltar" />
        <input type="button" class="btn btn-success" value="@string.Format("{0}", ((string)ViewBag.tipo_pesquisa).Equals("EDITAR") ? "Atualizar Pesquisa" : "Salvar Pesquisa") " onclick="SalvarNovaPesquisa(this)" />
    </div>
</div>
<div class="col-md-2 pull-right" id="remove_item" style="display:none">
    <input type="button" class="btn btn-danger btn-sm pull-right" @Html.Dica("top", "Sempre o último item adicionado é o removido!") onclick="RemoveItem(this)" value="Remover Item" />
</div>
<div class="row">
    <div class="owl-carousel" id="owl-demo"> 
        @{
                    int sorriso = 0;
                    int comentario = 0;
                    int estrela = 0;
                    int gostei = 0;
                    int satisfacao = 0;
                    int opcoes = 0;
        }
        @foreach (var pergunta in Model.PESQUISA_PERGUNTA)
                {
                    if (pergunta.tipo_pergunta.Equals("SORRISO"))
                    {
                <div class="item">
                    <div class="item col-md-12">
                        <div style=" margin-left: 30%; " class="col-md-5">
                            <div class="col-md-12" style=" margin-bottom: 16px; ">
                                <h3 data-id="@string.Format("{0}", ((bool)ViewBag.associando) == true? 0 : pergunta.id)" data-tipo_pesquisa="SORRISO" class="text-center" style="cursor:pointer" onclick="EditarSorriso(this)" id="@string.Format("sorriso_{0}", sorriso)">@pergunta.titulo</h3>
                            </div>
                            <div style=" margin-left: 12%;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/muito_insatisfeito.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/insatisfeito.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/indiferente.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/satisfeito.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/muito_satisfeito.png" width="60">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                        sorriso++;
                        continue;
                    }
                    if (pergunta.tipo_pergunta.Equals("COMENTARIO"))
                    {
                <div class="item">
                    <div class="item col-md-12">
                        <div style=" margin-left: 30%; " class="col-md-5">
                            <div class="col-md-12" style=" margin-bottom: 16px; ">
                                <h3 data-id="@string.Format("{0}", ((bool)ViewBag.associando) == true? 0 : pergunta.id)" data-tipo_pesquisa="COMENTARIO" class="text-center" style="cursor:pointer" onclick="EditarComentario(this)" id="@string.Format("comentarios_{0}", comentario)">@pergunta.titulo</h3>
                            </div><div>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                        comentario++;
                        continue;
                    }
                    if (pergunta.tipo_pergunta.Equals("ESTRELA"))
                    {
                <div class="item" data-merge="3">
                    <div class="item col-md-12">
                        <div style=" margin-left: 30%; " class="col-md-5">
                            <div class="col-md-12" style=" margin-bottom: 16px; ">
                                <h3 data-id="@string.Format("{0}", ((bool)ViewBag.associando) == true? 0 : pergunta.id)" data-tipo_pesquisa="ESTRELA" class="text-center" style="cursor:pointer" onclick="EditarEstrela(this)" id="@string.Format("estrela_{0}", estrela)">@pergunta.titulo</h3>
                            </div>
                            <div style=" margin-left: 12%;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                            </td>
                                            <td width="70">
                                                <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                        estrela++;
                        continue;
                    }
                    if (pergunta.tipo_pergunta.Equals("GOSTEI"))
                    {
                <div class="item" data-merge="3">
                    <div class="item col-md-12">
                        <div style=" margin-left: 30%; " class="col-md-5">
                            <div class="col-md-12" style=" margin-bottom: 16px; ">
                                <h3 data-id="@string.Format("{0}", ((bool)ViewBag.associando) == true? 0 : pergunta.id)" data-tipo_pesquisa="GOSTEI" class="text-center" style="cursor:pointer" onclick="EditarGostei(this)" id="@string.Format("gostei_{0}", gostei)">@pergunta.titulo</h3>
                            </div><div style=" margin-left: 12%;">
                                <div class="col-md-12">
                                    <div style=" margin-left: 15%; ">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td width="100">
                                                        <img src="/Content/Buffet/Pesquisa/Imagens/icone_like_cinza.png" width="90">
                                                    </td>
                                                    <td width="100">
                                                        <img src="/Content/Buffet/Pesquisa/Imagens/icone_dislike_cinza.png" width="90">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        gostei++;
                        continue;
                    }

                    if (pergunta.tipo_pergunta.Equals("SATISFACAO"))
                    {
                <div class="item" data-merge="3">
                    <div class="item col-md-12">
                        <div style=" margin-left: 20%; " class="col-md-6">
                            <div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h3 style="cursor:pointer" onclick="EditarSatisfacao(this)" data-id="@string.Format("{0}", ((bool)ViewBag.associando) == true? 0 : pergunta.id)" data-tipo_pesquisa="SATISFACAO" data-quantidade_satisfacao="@pergunta.PESQUISA_PERGUNTA_OPCOES.Count" data-titulo_satisfacao="@pergunta.titulo" class="text-center" id="@string.Format("satisfacao_{0}", satisfacao)">@pergunta.titulo</h3>
                                        <input type="hidden" id="@string.Format("{0}_editando_satisfacao", pergunta.titulo.Replace(" ", ""))" value="@pergunta.id" />
                                    </div>
                                    <div class="col-md-12" id="@string.Format("{0}_tabela_satisfacao", pergunta.titulo.Replace(" ", ""))">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="200" align="center">Avaliação</th>
                                                    <th width="50" align="center">Péssimo</th>
                                                    <th width="50" align="center">Ruim</th>
                                                    <th width="50" align="center">Normal</th>
                                                    <th width="50" align="center">Bom</th>
                                                    <th width="50" align="center">Exelente</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < pergunta.PESQUISA_PERGUNTA_OPCOES.Where(f => f.id_pergunta == pergunta.id).ToList().Count; i++)
                                                {
                                                    <tr id="@string.Format("{0}_avaliacao_{1}", pergunta.titulo.Replace(" ", ""), i)" data-titulo_opcao_id="@string.Format("{0}", ((bool)ViewBag.associando) == true ? 0 : pergunta.PESQUISA_PERGUNTA_OPCOES.ElementAt(i).id)" data-titulo_opcao="@pergunta.PESQUISA_PERGUNTA_OPCOES.ElementAt(i).titulo">
                                                        <td align="left">
                                                            @pergunta.PESQUISA_PERGUNTA_OPCOES.ElementAt(i).titulo
                                                        </td>
                                                        <td align="center">
                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                                        </td>
                                                        <td align="center">
                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                                        </td>
                                                        <td align="center">
                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                                        </td>
                                                        <td align="center">
                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                                        </td>
                                                        <td align="center">
                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                                        </td>
                                                    </tr>
                                                    opcoes++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                                        satisfacao++;
                                                        continue;
                    }
                }
    </div>
</div>

@{
    var satisfacao_d = "";
    foreach (var satis in Model.PESQUISA_PERGUNTA)
    {
        if (satis.tipo_pergunta.Equals("SATISFACAO"))
        {
            if (satisfacao_d.Length == 0)
            {
                satisfacao_d = satis.titulo;
            }
            else
            {
                satisfacao_d = string.Format("{0},{1}", satisfacao_d, satis.titulo);
            }
        }
    }
}

<input type="hidden" id="configuracao" data-item_carrossel="@Model.PESQUISA_PERGUNTA.Count" data-id_pesquisa="@ViewBag.id_pesquisa" data-sorriso="@sorriso" data-comentario="@comentario" data-estrela="@estrela" data-gostei="@gostei" data-satisfacao="@satisfacao" data-satisfacao_titulos="@satisfacao_d" data-opcoes="@opcoes" />
