﻿@model BuffetDataManager.Models.PESQUISA_PESQUISAS
@{
    var orcamento = Model.ORCAMENTO;

}
<script src="~/Content/Buffet/Pesquisa/Graficos/Chart.min.js"></script>
<script src="~/Content/Buffet/Pesquisa/Graficos/Graficos.js"></script>

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
@*<script src="http://code.jquery.com/jquery-1.10.2.js"></script>*@
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
<script src="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.js"></script>
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.theme.css" rel="stylesheet" />

<input type="hidden" id="configuracao" data-id_pesquisa="@ViewBag.id_pesquisa" />

@if (Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("SORRISO")).ToList().Count != 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Sorrisos
            <span class="label label-info pull-right">@Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("SORRISO")).ToList().Count Perguntas</span>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div id="owl-sorrisos">
                    @foreach (var pergunta in Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("SORRISO")).ToList())
                    {
                        <div class="item">
                            <div class="loading-overlay active" id="@string.Format("loading_{0}", pergunta.id)">
                                <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                            </div>
                            <div class="col-md-12">
                                <h4 class="text-center" id="@string.Format("titulo_{0}", pergunta.id)"></h4>
                                <div class="col-md-5">
                                    <canvas id="@string.Format("cavas_{0}", pergunta.id)"></canvas>
                                </div>
                                <div class="col-md-7" id="@string.Format("legenda_{0}", pergunta.id)"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> 
}

@if (Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("GOSTEI")).ToList().Count != 0)
{
<div class="panel panel-default" style=" height: 280px; ">
    <div class="panel-heading">
        Gostei
        <span class="label label-info pull-right">@Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("GOSTEI")).ToList().Count Perguntas</span>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div id="owl-gostei">
                @foreach (var pergunta in Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("GOSTEI")).ToList())
                {
                    <div class="item">
                        <div class="loading-overlay active" id="@string.Format("loading_{0}", pergunta.id)">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center" id="@string.Format("titulo_{0}", pergunta.id)"></h4>
                            <div class="row text-center">
                                <div class="col-md-6" style=" margin-left: 20%; ">
                                    <canvas id="@string.Format("cavas_{0}", pergunta.id)"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <span class="label" id="@string.Format("legenda_left_{0}", pergunta.id)" style="background-color: #0480FF; color: white; "></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <span class="label text-center" id="@string.Format("legenda_right_{0}", pergunta.id)" style="background-color: #FF0000; color:white"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div> 
}

@if (Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("ESTRELA")).ToList().Count != 0)
{
    <div class="panel panel-default">
    <div class="panel-heading">
        Estrelas
        <span class="label label-info pull-right">@Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("ESTRELA")).ToList().Count Perguntas</span>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div id="owl-estrela">
                @foreach (var pergunta in Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("ESTRELA")).ToList())
                {
                    <div class="item">
                        <div class="loading-overlay active" id="@string.Format("loading_{0}", pergunta.id)">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center" id="@string.Format("titulo_{0}", pergunta.id)"></h4>
                            <div class="col-md-5">
                                <canvas id="@string.Format("cavas_{0}", pergunta.id)"></canvas>
                            </div>
                            <div class="col-md-7" id="@string.Format("legenda_{0}", pergunta.id)"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
}



@{
    var all_satisfacao = "";
}

@foreach (var satisfacao in Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("SATISFACAO")).ToList())
{
    all_satisfacao = string.Format("{0},{1}", all_satisfacao, satisfacao.id);
    <div class="panel panel-default">
        <div class="panel-heading">
            @satisfacao.titulo
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div id="@string.Format("owl-satisfacao_{0}", satisfacao.id)">
                    @foreach (var pergunta in satisfacao.PESQUISA_PERGUNTA_OPCOES)
                    {
                        <div class="item">
                            <div class="loading-overlay active" id="@string.Format("loading_satisfacao_{0}", pergunta.id)">
                                <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                            </div>
                            <div class="col-md-12">
                                <h4 class="text-center" id="@string.Format("titulo_satisfacao_{0}", pergunta.id)"></h4>
                                <div class="col-md-5">
                                    <canvas id="@string.Format("cavas_satisfacao_{0}", pergunta.id)"></canvas>
                                </div>
                                <div class="col-md-7" id="@string.Format("legenda_satisfacao_{0}", pergunta.id)"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<input type="hidden" id="all_satisfacao" value="@all_satisfacao" />


@*<div class="panel panel-default">
        <div class="panel-heading">
            Comentários
            <span class="label label-info pull-right">@Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("COMENTARIO")).ToList().Count Perguntas</span>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="owl-comentarios">
                        @foreach (var pergunta in Model.PESQUISA_PERGUNTA.Where(f => f.tipo_pergunta.Equals("COMENTARIO")).ToList())
                        {
                            foreach (var comentario in pergunta.PESQUISA_RESPOSTA.Where(e => e.id_pergunta == pergunta.id).ToList())
                            {
                                if (comentario.resposta != null && comentario.resposta != "")
                                {
                                    <div class="item">
                                        <h5 class="text-center">@pergunta.titulo</h5>
                                        <h4 class="text-center">
                                            @comentario.resposta
                                        </h4>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@

