﻿@model ICollection<BuffetDataManager.Models.CONVITE_CONVIDADOS>
@using BuffetWeb.Helpers;
@{
    var all_convidados = "";
}

@*<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
@*<script src="http://code.jquery.com/jquery-1.10.2.js"></script> 
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
<script src="~/Content/Buffet/owl-carousel/owl-carousel/owl.carousel.js"></script>
<link href="~/Content/Buffet/owl-carousel/owl-carousel/owl.theme.css" rel="stylesheet" />

<script src="~/Content/Buffet/Pesquisa/Graficos/Graficos.js"></script>

@foreach (var convidado in Model)
{
    all_convidados = string.Format("{0},{1}", convidado.id, all_convidados);
    <div class="modal fade" id="@string.Format("convidado_{0}", convidado.id)">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">Convidado @convidado.nome_completo</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="@string.Format("owl-convidados_{0}", convidado.id)">
                            @foreach (var resposta in convidado.PESQUISA_RESPOSTA)
                            {
                                if (resposta.PESQUISA_PERGUNTA.tipo_pergunta == "ESTRELA")
                                {
                                    <div class="item">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <h3 class="text-center">@resposta.PESQUISA_PERGUNTA.titulo</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            @for (int i = 0; i < Convert.ToInt32(resposta.resposta); i++)
                                                            {
                                                                <td width="70">
                                                                    <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_selecionada.png" width="60">
                                                                </td>
                                                            }
                                                            @for (int i = 0; i < 5 - Convert.ToInt32(resposta.resposta); i++)
                                                            {
                                                                <td width="70">
                                                                    <img src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_cinza.png" width="60">
                                                                </td>
                                                            }
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                                            continue;
                                }
                                if (resposta.PESQUISA_PERGUNTA.tipo_pergunta == "GOSTEI")
                                {
                                    <div class="item">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <h3 class="text-center">@resposta.PESQUISA_PERGUNTA.titulo</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td width="100">
                                                            @if (resposta.resposta == "GOSTEI")
                                                            {
                                                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_like.png" width="90" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_like_cinza.png" width="90" />
                                                            }
                                                        </td>
                                                        <td width="100">
                                                            @if (resposta.resposta == "NAO GOSTEI")
                                                            {
                                                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_dislike.png" width="90" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/Buffet/Pesquisa/Imagens/icone_dislike_cinza.png" width="90" />
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                                            continue;
                                }
                                if (resposta.PESQUISA_PERGUNTA.tipo_pergunta == "SORRISO")
                                {
                                    <div class="item">
                                        <div class="col-md-12">
                                            <h3 class="text-center">@resposta.PESQUISA_PERGUNTA.titulo</h3>
                                        </div>
                                        <div class="col-md-12">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td width="70">
                                                            @if (resposta.resposta.Equals("muito_insatisfeito"))
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/muito_insatisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                            else
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/muito_insatisfeito_transparente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                        </td>
                                                        <td width="70">
                                                            @if (resposta.resposta.Equals("insatisfeito"))
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/insatisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                            else
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/insatisfeito__transparente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                        </td>
                                                        <td width="70">
                                                            @if (resposta.resposta.Equals("indiferente"))
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/indiferente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                            else
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/indiferente_transparente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                        </td>
                                                        <td width="70">
                                                            @if (resposta.resposta.Equals("satisfeito"))
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/satisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                            else
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/satisfeito_transparente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                        </td>
                                                        <td width="70">
                                                            @if (resposta.resposta.Equals("muito_satisfeito"))
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/muito_satisfeito.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                            else
                                                            {
                                                                <img src="/Content/Buffet/Pesquisa/Imagens/muito_satisfeito_transparente.png" width="60" data-toggle="tooltip" data-placement="bottom" data-original-title="Muito Insatisfeito">
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                                            continue;
                                }
                                if (resposta.PESQUISA_PERGUNTA.tipo_pergunta == "COMENTARIO")
                                {
                                    <div class="item">
                                        <div class="col-md-12">
                                            <h3 class="text-center">@resposta.PESQUISA_PERGUNTA.titulo</h3>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            @resposta.resposta
                                        </div>
                                    </div>
                                    continue;
                                }
                                if (resposta.PESQUISA_PERGUNTA.tipo_pergunta == "SATISFACAO")
                                {
                                    <div class="item">
                                        <div class="col-md-12">
                                            <div id="descricao_opcoes_tabela">
                                                <h2 class="text-center text-uppercase">@resposta.PESQUISA_PERGUNTA.titulo</h2>
                                            </div>
                                            <div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="200" align="center">Avaliação</th>
                                                            <th width="50" align="center">Péssimo</th>
                                                            <th width="50" align="center">Ruim</th>
                                                            <th width="50" align="center">Normal</th>
                                                            <th width="50" align="center">Bom</th>
                                                            <th width="50" align="center">Exelente</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var opcoes in resposta.PESQUISA_PERGUNTA.PESQUISA_PERGUNTA_OPCOES)
                                                    {
                                                        <tr>
                                                            <td align="left">@opcoes.titulo</td>

                                                            @for (int i = 0; i < 5; i++)
                                                            {
                                                                <td align="center">
                                                                    @{
                                                                var opcaoResposta = opcoes.PESQUISA_RESPOSTA_OPCOES.FirstOrDefault(f => f.id_convidado == convidado.id);
                                                                    }

                                                                    @if (opcaoResposta != null)
                                                                    {
                                                                        if (opcaoResposta.resposta.Equals(opcoes.titulo))
                                                                        {
                                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_verde.png" width="30" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30" />
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30" />
                                                                    }
                                                                </td>
                                                            }
                                                        </tr>

                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" id="configuracao_convidados" data-all_convidados="@all_convidados" />

<div class="panel panel-default">
    <div class="panel-heading">
        Convidados
    </div>
    <div class="panel-body">
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <td width="90"></td>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Telefone</td>
                    <td></td>
                </tr>
            </thead>
            @foreach (var convidado in Model)
            {
                <tr>
                    <td>
                        @if (convidado.id_facebook != "")
                        {
                            <img width="50" height="50" src="@string.Format("http://graph.facebook.com/{0}/picture?width=140&height=140", convidado.id_facebook)" class="img-circle" />
                        }
                    </td>
                    <td><h4>@convidado.nome_completo</h4></td>
                    <td>@Html.isEmail(convidado.email, convidado.nome_completo)</td>
                    <td>@Html.isCelular(convidado.telefone, convidado.nome_completo)</td>
                    <td>
                        <input type="button" data-target="@string.Format("#convidado_{0}", convidado.id)" data-toggle="modal" class="btn btn-success pull-right" value="@string.Format("{0} Respostas", convidado.PESQUISA_RESPOSTA.Count + convidado.PESQUISA_RESPOSTA_OPCOES.Count)" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
