﻿@using BuffetWeb.Helpers
@model BuffetWebManager.Models.Pesquisa.PesquisaModel
@{
    var e_configuracao = Html.Configuracao();
    var today = DateTime.Now.Date;
    var pesquisas = Model.pesquisas;
}

<script src="~/Content/Buffet/Pesquisa/Pesquisa.js"></script>

<div class="modal fade" id="forcarEnvio">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center">Confirme</h3>
            </div>
            <div class="modal-body text-center">
                Você desejá mesmo enviar a pesquisa de satisfação para os convidados? <p />
                <small>Após o envio a pesquisa não pode mais ser editada!</small>
            </div>
            <div class="modal-footer">
                <form action="/Pesquisa/EnviarPesquisaManual" method="post">
                    <input type="hidden" name="id_pesquisa" id="id_pesquisa_manual" value="" />
                    <input type="submit" class="btn btn-success btn-block" value="Confirmar e Enviar" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="tabHeading">
        Criar Pesquisa de Satisfação
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @Html.AddMensagem((string)ViewBag.mensagem)
            </div>
            <div class="col-md-7 pull-left">
                <div class="text-center form-group">
                    @*<h2>
                            Seja objetivo! Use perguntas objetivas e evite criar questionários com mais de 10 perguntas. Você não tem tempo a perder, nem o seu público-alvo!
                        </h2>*@
                    <img src="~/Content/Buffet/Pesquisa/Imagens/pesquisa_explicacao.png" />
                </div>
            </div>
            <div class="col-md-5 pull-right">
                <form action="/Pesquisa/CriarPesquisa" method="post">
                    <input type="hidden" name="tipo_pesquisa" value="NOVA" />
                    <div class="form-group">
                        <div class="alert alert-warning fade in" role="alert" id="alert_pesquisa" style="display:none"></div>
                    </div>
                    <div class="form-group">
                        <label>Você deve selecionar um evendo para criar a pesquisa</label>
                        <select class="ls-select form-control form-group" name="id_orcamento" id="id_orcamento" required onchange="this.value != '0' ? UIShow('associar_pergunta') : UIHide('associar_pergunta') ">
                            <option value="0">Selecione</option> 
                            @foreach (var orcamento in Model.orcamentos.Where(d => d.data_evento > today).ToList())
                            {
                                <option value="@orcamento.id">@string.Format("{0} - {1} - {2}", orcamento.codigo_unico, orcamento.data_evento.ToShortDateString(), orcamento.CLIENTE.nome)</option>
                            }
                            <option value="0">--------------------- CONCLUIDOS ---------------------</option>
                            @foreach (var orcamento in Model.orcamentos.Where(d => d.data_evento < today).ToList())
                            {
                                <option value="@orcamento.id">@string.Format("{0} - {1} - {2}", orcamento.codigo_unico, orcamento.data_evento.ToShortDateString(), orcamento.CLIENTE.nome)</option>
                            }
                        </select>
                    </div>
                    @if (Model.pesquisas.Count != 0)
                    {
                        <div class="form-group" id="associar_pergunta" style="display:none">
                            @Html.BuffetCheck("Deseja aproveitar as perguntas de uma pesquisa já existente?", "copiar_pergunta", false, "MostrarComboPesquisas(this)")
                        </div>
                        <div class="form-group" id="combo_associar_pergunta" style="display:none">
                            <select class="ls-select form-control" id="id_pesquisa" name="id_pesquisa_clonar">
                                <option value="0">Selecione</option>
                                @foreach (var pesquisa in Model.pesquisas)
                                {
                                    <option value="@pesquisa.id">@string.Format("{0} - {1}", pesquisa.ORCAMENTO.codigo_unico, pesquisa.ORCAMENTO.CLIENTE.nome)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="copiar_pergunta" value="false" />
                    }

                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-block" onclick="return VerificaParaCriar(this)" value="Criar Pesquisa" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (pesquisas.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Minhas Pesquisas
                    <span class="label label-info pull-right">@pesquisas.Count Pesquisas</span>
                </div>
                <div class="padding-md clearfix">
                    @Html.AdicionarFiltro("Pesquisa", "Pesquisa", (string)ViewBag.filtro)
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th width="150" align="center">Código único</th>
                                <th width="200" align="center">Data do Evento</th>
                                <th align="center">Cliente</th>
                                <th width="100"></th>
                                <th width="150">Data do Envio</th>
                                <th width="30"></th>
                                <th width="30"></th>
                                <th width="30"></th>
                                @if (e_configuracao.pesquisa_enviar_automaticamente != true)
                                {
                                    <th width="60"></th>
                                }
                            </tr>
                        </thead>
                        @foreach (var pesquisa in pesquisas)
                        {
                            <tr>
                                <td>@pesquisa.ORCAMENTO.codigo_unico</td>
                                <td>@pesquisa.ORCAMENTO.data_evento.ToShortDateString()</td>
                                <td>@pesquisa.ORCAMENTO.CLIENTE.nome</td>
                                @if (pesquisa.enviada)
                                {
                                    <td align="center">
                                        <span class="label label-success block">@string.Format("{0} Perguntas ", pesquisa.PESQUISA_PERGUNTA.Count)</span>
                                    </td>
                                }
                                else
                                {
                                    if (pesquisa.PESQUISA_PERGUNTA.Count == 0)
                                    {
                                        <td align="center">
                                            <span @Html.Dica("top", "Você precisa adicionar ao menos uma pergunta para que a pesquisa seja enviada aos convidados!") class="label label-danger block">Pesquisa sem pergunta</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td align="center">
                                            @if (e_configuracao.pesquisa_enviar_automaticamente == true)
                                            {
                                                <span class="label label-warning block" @Html.Dica("top", "Aguardando a data do envio")> Pesquisa não enviada</span>
                                            }
                                            else
                                            {
                                                <span class="label label-warning block" @Html.Dica("top", "Você precisa enviar manualmente essa pesquisa.")> Pesquisa não enviada</span>
                                            }
                                        </td>
                                    }
                                }
                                @if (pesquisa.PESQUISA_PERGUNTA.Count == 0)
                                {
                                    if (e_configuracao.pesquisa_enviar_automaticamente == true)
                                    {
                                        <td><s>@pesquisa.data_envio.ToShortDateString()</s></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    if (e_configuracao.pesquisa_enviar_automaticamente == true)
                                    {
                                        <td>@pesquisa.data_envio.ToShortDateString()</td>
                                    }
                                    else
                                    {
                                        if (pesquisa.enviada)
                                        {
                                            <td>@pesquisa.data_envio.ToShortDateString()</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                }
                                <td>
                                    @if (e_configuracao.pesquisa_enviar_automaticamente != true && pesquisa.enviada == false && DateTime.Now.Date >= pesquisa.data_envio.Date)
                                    {
                                        if (pesquisa.PESQUISA_PERGUNTA.Count != 0)
                                        {
                                            <a href="#" onclick="o('id_pesquisa_manual').value = @pesquisa.id" data-target="#forcarEnvio" data-toggle="modal">
                                                <img src="~/Content/Buffet/Pesquisa/Imagens/enviar_pesquisa.png" @Html.Dica("top", "Enviar pesquisa a todos os convidados que compareceram") />
                                            </a>
                                        }
                                    }
                                </td>
                                @if (pesquisa.enviada)
                                {
                                    <td>
                                        <a href="@string.Format("/Pesquisa/Graficos?id_pesquisa={0}", pesquisa.id)" @Html.Dica("top", "Acessar gráficos das pequisas")>
                                            <img src="~/Content/Buffet/Pesquisa/Imagens/icone_graficos.png" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@string.Format("/Pesquisa/GraficosConvidados?id_pesquisa={0}", pesquisa.id)" @Html.Dica("top", "Acessar gráficos por convidados")>
                                            <img src="~/Content/Buffet/Pesquisa/Imagens/icone_lista.png" />
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <form action="/Pesquisa/CriarPesquisa" method="post" id="@string.Format("editar_{0}", pesquisa.id)" @Html.Dica("top", "Editar pesquisa")>
                                            <input type="hidden" name="id_orcamento" value="@pesquisa.ORCAMENTO.id" />
                                            <input type="hidden" name="id_pesquisa" value="@pesquisa.id" />
                                            <input type="hidden" name="tipo_pesquisa" value="EDITAR" />
                                            <a href="javascript:void(o)" onclick="o('@string.Format("editar_{0}", pesquisa.id)').submit()">
                                                <img src="~/Content/Buffet/Pesquisa/Imagens/editar_pesquisa.png" />
                                            </a>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="@string.Format("/Pesquisa/ApagarPesquisa?id_pesquisa={0}", pesquisa.id)" @Html.Dica("top", "Excluir pesquisa")>
                                            <img src="~/Content/Buffet/Pesquisa/Imagens/excluir_pesquisa.png" />
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
