﻿@using BuffetWeb.Helpers
@{
    Layout = null;
} 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    @if (ViewBag.nome_empresa != null)
    {
        <title>@ViewBag.nome_empresa</title>
    }
    
    <link href="~/Content/BuffetWeb/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Gerenciador/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/BuffetWeb/owl-carousel/owl.theme.css">
    <script src="~/Content/BuffetWeb/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/BuffetWeb/owl-carousel/owl.carousel.js"></script>

    <script src="~/Content/BuffetWeb/BuffetWeb.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <link href="~/Content/Inicio/css/Buffet/Buffet.css" rel="stylesheet" />
    <script src="~/Content/Gerenciador/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="@Html.ArquivoBOOTSTRAP()" rel="stylesheet">
    <!-- Styles -->
    <link href="~/Content/BuffetWeb/css/endless.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@Html.ArquivoCSS()" rel="stylesheet">

    <link rel="shortcut icon" href="javascript:void(o)">
</head>
<body>
    <div id="ModalBuffetWeb"></div> 
      
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="logo"> 
                        <h1><img src="@Html.LogoEmpresa()" /></h1> 
                    </div>
                </div>
                <div class="col-md-4 pull-right">
                    <input style="margin-top: 13%;" data-toggle="modal" data-target="#ModalOrcamento" type="button" class="btn btn-lg btn-default pull-right" value="Buscar Orçamento" />
                </div>
            </div>
        </div>
    </div> 

    <div class="page-content blocky">
        <div class="page-content blocky">
            <div class="container">
                <div id="buffetWeb">
                    <div class="row col-sm-12">
                        <h1>ORÇAMENTO ONLINE</h1>
                        <h4>iNFORME O TIPO DE EVENTO QUE DESEJA FAZER O ORÇAMENTO</h4>
                    </div> 
                    <div>   
                        <div id="owl-demo" class="owl-carousel"></div>
                        @*<div id="owl-demo" class="owl-carousel" data-key_empresa="HDSUAHDUSANWQUHEQWYHDUSAJDISAKDSADSAHU"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 