﻿@{
    ViewBag.Title = "NovaEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>
    function ConfimarCNPJ() {
        if (o('cnpj').value != "") {
            $.getJSON('/Home/VerificarEmpresa', { cnpj: o('cnpj').value }, function (data) {
                if (data.isOk) {

                }
            }, 'json');
        }
    }

</script>

<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            <li data-transition="fade">
                <img src="~/Content/Space/Content/backgrounds/1920x1000.jpg" />

                <div class="caption title sft fadeout"
                     data-x="300"
                     data-y="200"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    <h1 class="text-center">Digite o CNPJ da sua empresa!</h1>
                </div>

                <div class="caption title sft fadeout"
                     data-x="400"
                     data-y="300"
                     data-speed="1000"
                     data-start="2000"
                     data-easing="easeOutExpo">
                    <input type="text" name="CNPJ" class="input-large" placeholder="000.000.000/0000-00" />
                </div>

                <div class="caption title sft fadeout"
                     data-x="600"
                     data-y="300"
                     data-speed="1000"
                     data-start="3000"
                     data-easing="easeOutExpo">
                    <input type="button" class="btn btn-success" onclick="" value="Confirmar" />
                </div>

            </li>
        </ul>
    </div>
</div>