﻿@using BuffetWebGerenciador.Helpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>

    <script src="~/Content/Administrador/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Administrador/js/uncompressed/jquery.slimscroll.js"></script>

    <link href="~/Content/Administrador/css/Buffet/Buffet.css" rel="stylesheet" />

    <script src="~/Content/Buffet/Base/UIBase.js"></script>
    <script src="~/Content/Buffet/Base/DIBase.js"></script>

    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/pace.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/endless-skin.css" rel="stylesheet">
    <link href="~/Content/Administrador/LocaWeb/stylesheets/locastyle.css" rel="stylesheet" />
    <script src="~/Content/Buffet/Shared/Shared.js"></script> 
     
</head>

<body class="overflow-hidden">

    <div id="wrapper" class="@string.Format("{0}", Request.Cookies["menu"] != null? Request.Cookies["menu"].Value : "")">
        <div id="top-nav" class="skin-6 fixed">
            <div class="brand">
                <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" margin-top: -12px; width: 197px; " />
            </div>
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle pull-left hide-menu" onclick="MenuState(this)" id="menuToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <aside class="fixed skin-1">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="size-toggle">
                    <a class="btn btn-sm" id="sizeToggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="btn btn-sm pull-right logoutConfirm_open" href="/Home/Deslogar">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                <div class="user-block clearfix">
                    <img src="@Html.PerfilLogado(Perfil.Imagem)" alt="User Avatar">
                    <div class="detail">
                        <h5>@Html.PerfilLogado(Perfil.Nome)</h5><span class="badge badge-danger bounceIn animation-delay4 m-left-xs"></span>
                        <ul class="list-inline">
                            <li><a href="/Colaborador/Perfil">Perfil</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search-block">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Pesquise algo...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/Home/Index">
                                <span class="menu-icon">
                                    <i class="fa fa-dashboard fa-lg"></i>
                                </span>
                                <span class="text">
                                    Painel
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        @*@if (Html.Permissoes(Permitir.Visualizar, Conteudo.Orcamentos))
                            {
                                <li class="openable">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="fa fa-glass fa-lg"></i>
                                        </span>
                                        <span class="text">
                                            Orçamentos
                                        </span>
                                        <span class="menu-hover"></span>
                                    </a>
                                    @if (Html.Permissoes(Permitir.Criar, Conteudo.Orcamentos))
                                    {
                                        <ul class="submenu">
                                            <li><a href="/Orcamento/NovoOrcamento"><span class="submenu-label">Novo Orçamentos</span></a></li>
                                        </ul>
                                    }
                                    <ul class="submenu">
                                        <li><a href="/Orcamento/Orcamentos"><span class="submenu-label">Orçamentos do mês</span></a></li>
                                    </ul>
                                    @if (Html.Permissoes(Permitir.Criar, Conteudo.Configuracoes))
                                    {
                                        <ul class="submenu third-level" style="">
                                            <li class="openable">
                                                <a href="#">
                                                    <span class="submenu-label">Ajustes</span>
                                                    <span class="badge badge-info bounceIn animation-delay1 pull-right">1</span>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="/Ajustes/LocalEvento"><span class="submenu-label">Local do Evento</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    }
                                </li>
                            }*@
                        <li>
                            <a href="/Notificacao/Notificacoes">
                                <span class="menu-icon">
                                    <i class="fa fa-send fa-lg"></i>
                                </span>
                                <span class="text">
                                    Notificações
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Planos/Planos">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Planos
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Planos/Promocao">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Promoção
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Clientes))
                        {
                            <li>
                                <a href="/Empresas/Empresas">
                                    <span class="menu-icon">
                                        <i class="fa fa-group fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Empresas
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                        }

                        @*<li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-cogs fa-lg"></i>
                                </span>
                                <span class="text">
                                    Portal
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu third-level active" style="">
                                @*<li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Colaboradores</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Colaborador/Colaboradores"><span class="submenu-label">Colaboradores</span></a></li>
                                            <li><a href="/Colaborador/Perfis"><span class="submenu-label">Perfil</span></a></li>
                                        </ul>
                                    </li>
                                <li class="openable">
                                    <a href="#">
                                        <span class="submenu-label">Marketing</span>
                                        <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                    </a>
                                    <ul class="submenu fourth-level active">
                                        <li><a href="/Marketing/BannerPromocional"><span class="submenu-label">Banner Promocional</span></a></li>
                                        <li><a href="/Marketing/CupomDeDesconto"><span class="submenu-label">Cupom de Desconto</span></a></li>
                                        <li><a href="/Marketing/PromocaoPortal"><span class="submenu-label">Promoções</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                        <li>
                            <a href="/Marketing/BannerPromocional">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Banner Promocional
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Marketing/CupomDeDesconto">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Cupom de Desconto
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Marketing/PromocaoPortal">
                                <span class="menu-icon">
                                    <i class="fa fa-plane fa-lg"></i>
                                </span>
                                <span class="text">
                                    Promoções
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>

                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Convites))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-send-o fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Convites
                                    </span>
                                    <span class="badge badge-success bounceIn animation-delay5"></span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Convite/Gerenciar"><span class="submenu-label">Gerenciar Convite</span></a></li>
                                    @*<li><a href="/Convite/NovoConvite"><span class="submenu-label">Novo Ambiente de Convite</span></a></li>
                                        <li><a href="/Convite/PesquisaDeSatisfacao"><span class="submenu-label">Pesquisa de Satisfação</span></a></li>*@
                                </ul>
                            </li>
                        }
                        @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-credit-card fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Financeiro
                                    </span>
                                    <span class="badge badge-success bounceIn animation-delay5"></span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Financeiro/AdicionarPagamento"><span class="submenu-label">Emitir Boleto</span></a></li>
                                    @*<li><a href="/Orcamento/Orcamentos"><span class="submenu-label">Formulas</span></a></li>*@
                                </ul>
                                @*<ul class="submenu third-level" style="">
                                        <li class="openable">
                                            <a href="#">
                                                <span class="submenu-label">Ajustes</span>
                                                <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                            </a>
                                            <ul class="submenu">
                                                <li><a href="/Financeiro/Formulas"><span class="submenu-label">Formulas</span></a></li>
                                                <li><a href="/Financeiro/FormasDePagamento"><span class="submenu-label">Formas de pagamento</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>*@
                            </li>
                        }
                        @if (Html.Permissoes(Permitir.Criar, Conteudo.Configuracoes))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-cogs fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Configurações
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu third-level" style="">
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Colaboradores</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Colaborador/Colaboradores"><span class="submenu-label">Colaboradores</span></a></li>
                                            <li><a href="/Colaborador/Perfis"><span class="submenu-label">Perfil</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Prestadores</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Prestador/Prestadores"><span class="submenu-label">Prestadores</span></a></li>
                                            <li><a href="/Prestador/PrestadorFuncoes"><span class="submenu-label">Funções</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-cogs fa-lg"></i>
                                </span>
                                <span class="text">
                                    Serviço
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Servico/MapeamentoParceiro"><span class="submenu-label">Mapear Parceiro</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div id="main-container"> 
            <div class="padding-md">
                @Html.EmpresaSelecionada(Request)
                @RenderBody()
            </div>
        </div>
    </div>
    <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a> 
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>  
    <script src='~/Content/Administrador/js/jquery.dataTables.min.js'></script> 
    <script src='~/Content/Administrador/js/modernizr.min.js'></script> 
    <script src="~/Content/Administrador/js/endless/endless.js"></script>

    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });

            $('#chk-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', true);
                        $(this).parent().parent().parent().addClass('selected');
                    });
                } else {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', false);
                        $(this).parent().parent().parent().removeClass('selected');
                    });
                }
            });

        });
    </script> 
</body>
</html>
