﻿@model BuffetWeb.Models.Convidados.RespostaNavegador
@using BuffetWeb.Helpers
@{ 
    var convite = Model.orcamento.CONVITE_TEMPLATE.FirstOrDefault();
    var disponivel = Model.disponivel;
    var aniversariantes = "";
    foreach (var aniversari in Model.orcamento.CLIENTE.CLIENTE_ANIVERSARIANTES)
    {
        string anosStr = DateTime.Now.Date.Year - aniversari.nascimento.Date.Year == 1 ? "Ano" : "Anos";
        aniversariantes = string.Format("{0} - {1} {2} <p /> {3}", aniversari.nome, (DateTime.Now.Date.Year - aniversari.nascimento.Date.Year), anosStr, aniversariantes);
    }
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
    @Html.FontesCSS()
    </style>
    <link href="http://fonts.googleapis.com/css?family=Chicle|Princess+Sofia|Trade+Winds|Emilys+Candy|Sofia|Frijole|Just+Me+Again+Down+Here|Aladin|Dancing+Script|Bangers|Marvel|Alice|Kranky|Mountains+of+Christmas|Griffy|Gabriela|Mouse+Memoirs|Faster+One" rel="stylesheet">
</head>
<body> 
    @if (Model != null)
    { 
        if (!Model.isMobile)
        {
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="@Model.disponivel.url_image" style=" height: 423px; ">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div style="margin-top: -48%; ">
                                    <div style="font-family: '@disponivel.titulo_fonte'; text-align: center; font-size: @string.Format("{0}px", convite.titulo_tamanho); width: 300px; position: relative; top: @convite.titulo_top; left: @convite.titulo_left; color: @string.Format("#{0}", disponivel.titulo_cor); ">
                                        @convite.titulo_convite
                                    </div>
                                    <div style="font-family: '@disponivel.descricao_fonte';  text-align: center; font-size: @string.Format("{0}px", convite.tamanho_descricao); width: 300px; position: relative; top: @convite.descricao_top; left: @convite.descricao_left; color: @string.Format("#{0}", disponivel.descricao_cor); ">
                                        @convite.titulo_descricao
                                    </div>
                                    <div style="font-size: @string.Format("{0}px", convite.aniversariante_tamanho);  text-align: center; width: 300px; position: relative; top: @convite.aniversariantes_top; left: @convite.aniversariantes_left; font-family: '@disponivel.aniversariantes_fonte'; color: @string.Format("#{0}", disponivel.aniversariantes_cor); ">
                                        @Html.Raw(aniversariantes)
                                    </div>
                                    <div style="width: 300px; position: relative;  text-align: center; top: @convite.datahora_top; left: @convite.datahora_left; font-family: '@disponivel.datahora_fonte'; font-size: @string.Format("{0}px", convite.datahora_tamanho); color: @string.Format("#{0}", disponivel.datahora_cor); ">
                                        @convite.titulo_datahora
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="@Model.disponivel.url_image" width="300">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div style="margin-top: -48%; margin-left: 142px;">
                                    <div style="top: @convite.titulo_top; left: @convite.titulo_left; font-family: '@disponivel.titulo_fonte'; text-align: center; font-size: @string.Format("{0}px", (Convert.ToInt32(convite.titulo_tamanho) - 15)) ; width: 160px; position: relative; color: @string.Format("#{0}", disponivel.titulo_cor) ; ">
                                        @convite.titulo_convite
                                    </div>
                                    <div style="top: @convite.descricao_top; left: @convite.descricao_left; font-family: '@disponivel.descricao_fonte';  text-align: center;position: relative;  font-size: @string.Format("{0}px", (Convert.ToInt32(convite.tamanho_descricao) - 15)); width: 160px; color: @string.Format("#{0}", disponivel.descricao_cor); ">
                                        @convite.titulo_descricao
                                    </div>
                                    <div style="top: @convite.aniversariantes_top; left: @convite.aniversariantes_left; font-size: @string.Format("{0}px", (Convert.ToInt32(convite.aniversariante_tamanho) - 17));  text-align: center; width: 160px; position: relative; font-family: '@disponivel.aniversariantes_fonte'; color: @string.Format("#{0}", disponivel.aniversariantes_cor); ">
                                        @Html.Raw(aniversariantes)
                                    </div>
                                    <div style="top: @convite.datahora_top; left: @convite.datahora_left; width: 160px; position: relative;  text-align: center; font-family: '@disponivel.datahora_fonte'; font-size: @string.Format("{0}px", Convert.ToInt32(convite.datahora_tamanho) - 13); color: @string.Format("#{0}", disponivel.datahora_cor); ">
                                        @convite.titulo_datahora
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <h5>Nenhum Convite associado a este Evento</h5>
    }
</body>
</html>
