﻿@model BuffetWeb.Models.Convidados.Convidados
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Lista De Convidados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empresa = Html.empresa();
    var orcamento = Html.orcamento();
    var logo_empresa = Html.LogoEmpresa();
    }
  
<script src="~/Content/Buffet/Convidados/Convidados.js"></script>
<script src="~/Content/Buffet/Convidados/ConvidadosFacebook.js"></script>

@*<div class="modal fade" id="friendsFacebook">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Amigos do Facebook</h3>
            </div>
            <div class="modal-body">
                @{
                    var id_perfis = "";
                    foreach (var perfil in Model.contasFacebook)
                    {
                        id_perfis = string.Format("{0},{1}", perfil.id_facebook, id_perfis);
                    }
                }

                <input type="hidden" id="data_facebook" data-perfis="@id_perfis" />
                @if (Model.contasFacebook.Count == 0)
                {
                    <h2>Acesse sua conta do Facebook para listar seus amigos!</h2> 
                }else if (Model.contasFacebook.Count == 1)
                {
                    <div class="form-group">
                        <div class="span6">
                            <div class="text-center">
                                <img src="@string.Format("http://graph.facebook.com/{0}/picture?width=140&height=140", Model.contasFacebook.FirstOrDefault().id_facebook)" class="img-circle" style=" border-radius: 200px; width: 150px; height: 150px; " />
                            </div>
                            <div class="text-center">
                                <h2>@Model.contasFacebook.FirstOrDefault().nome_facebook</h2>
                            </div>
                            <div class="text-center">
                                <a href="javascript:void(o)" onclick="Atualizar(this)" id="@string.Format("atualizar_{0}", Model.contasFacebook.FirstOrDefault().id_facebook)">
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_atualizar.png" width="40" height="40" /> 
                                </a>
                                <a href="javascript:void(o)" onclick="Conectar(this)" id="@string.Format("conectar_{0}", Model.contasFacebook.FirstOrDefault().id_facebook)">
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_conectar.png" width="40" height="40" />
                                </a>
                                <a href="javascript:void(o)" onclick="Desconectar(this)" id="@string.Format("desconectar_{0}", Model.contasFacebook.FirstOrDefault().id_facebook)">
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_desconectar.png" width="40" height="40" />
                                </a> 
                                <a href="javascript:void(o)" onclick="Remover(this)" id="@string.Format("remover_{0}", Model.contasFacebook.FirstOrDefault().id_facebook)">
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_remover_conta.png" width="40" height="40" />
                                </a>   
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <input type="text" onkeyup="FiltrarTabela(this)" id="@string.Format("search_{0}", Model.contasFacebook.FirstOrDefault().id_facebook)" class="form-group span12" placeholder="@string.Format("Busque os amigos de {0}", Model.contasFacebook.FirstOrDefault().nome_facebook)" />
                    </div> 
                    <div class="form-group">
                        <table id="@Model.contasFacebook.FirstOrDefault().id_facebook" class="table">
                            @foreach (var friend in Model.amigosFacebook)
                            {
                                <tr id="@string.Format("row_friend_{0}", friend.id_facebook)">
                                    <td width="50">
                                        <img src="@string.Format("http://graph.facebook.com/{0}/picture", friend.id_facebook)" style=" border-radius: 50px; " width="50" />
                                    </td>
                                    <td>
                                        <h2>@friend.name</h2>
                                    </td>
                                    <td>
                                        <input type="number" min="0" value="0" max="@orcamento.max_acompanhantes" id="@string.Format("acompanhantes_{0}", friend.id_facebook)" />
                                    </td>
                                    <td align="right">
                                        <a href="javascript:void(o)" onclick="adicionarAmigo(this)" data-id="@friend.id" data-id_facebook="@friend.id_facebook" data-nome="@friend.name" class="btn btn-primary btn-lg">Adicionar</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist" id="tab_friends">
                            @foreach (var perfil in Model.contasFacebook)
                            {
                                <li role="presentation"><a href="#@string.Format("{0}", perfil.nome_facebook.Replace(" ",""))" aria-controls="home" role="tab" data-toggle="tab">@string.Format("{0} ({1})", perfil.nome_facebook, Model.amigosFacebook.Where(e => e.amigo_de_id_facebook.Equals(perfil.id_facebook)).ToList().Count)</a></li>
                            }
                        </ul>

                        <div class="tab-content">
                            @foreach (var perfil in Model.contasFacebook)
                            {
                                <div role="tabpanel" class="tab-pane active" id="@string.Format("{0}", perfil.nome_facebook.Replace(" ", ""))">

                                    <div class="form-group">
                                        <div class="span6">
                                            <div class="text-center">
                                                <img src="@string.Format("http://graph.facebook.com/{0}/picture?width=140&height=140", perfil.id_facebook)" class="img-circle" style=" border-radius: 200px; width: 150px; height: 150px; " />
                                            </div>
                                            <div class="text-center">
                                                <h2 id="@string.Format("nome_logado_{0}", perfil.id_facebook)">@perfil.nome_facebook</h2>
                                            </div>
                                            <div style=" margin: 0 auto; width: 270px; ">
                                                <a class="span1" href="javascript:void(o)" onclick="Atualizar(this)" id="@string.Format("atualizar_{0}", perfil.id_facebook)" data-id_facebook="@perfil.id_facebook">
                                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_atualizar.png" width="40" height="40" />
                                                </a>
                                                <a class="span1" href="javascript:void(o)" onclick="Conectar(this)" id="@string.Format("conectar_{0}", perfil.id_facebook)" data-id_facebook="@perfil.id_facebook">
                                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_conectar.png" width="40" height="40" />
                                                </a>
                                                <a class="span1" href="javascript:void(o)" onclick="Desconectar(this)" id="@string.Format("desconectar_{0}", perfil.id_facebook)" data-id_facebook="@perfil.id_facebook">
                                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_desconectar.png" width="40" height="40" />
                                                </a>
                                                <a class="span1" href="javascript:void(o)" onclick="Remover(this)" id="@string.Format("remover_{0}", perfil.id_facebook)" data-id_facebook="@perfil.id_facebook">
                                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_remover_conta.png" width="40" height="40" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        @*<div class="form-group" style=" margin-top: 30px; ">
                                            <input type="text" onkeyup="FiltrarTabela(this)" id="@string.Format("search_{0}", perfil.id_facebook)" class="form-group span12" placeholder="@string.Format("Busque os amigos de {0}", perfil.nome_facebook)" />
                                        </div> 
                                        <div class="form-group">
                                            <table id="@perfil.id_facebook" class="table">
                                                @foreach (var friend in Model.amigosFacebook.Where(e => e.amigo_de_id_facebook.Equals(perfil.id_facebook)).ToList())
                                                {
                                                    <tr id="@string.Format("row_friend_{0}", friend.id_facebook)">
                                                        <td width="50">
                                                            <img src="@string.Format("http://graph.facebook.com/{0}/picture", friend.id_facebook)" style=" border-radius: 50px; " width="50" />
                                                        </td>
                                                        <td>
                                                            <h2>@friend.name</h2>
                                                        </td>
                                                        <td>
                                                            <input type="number" min="0" value="0" max="@orcamento.max_acompanhantes" id="@string.Format("acompanhantes_{0}", friend.id_facebook)" />
                                                        </td>
                                                        <td align="right">
                                                            <a href="javascript:void(o)" onclick="adicionarAmigo(this)" data-id="@friend.id" data-id_facebook="@friend.id_facebook" data-nome="@friend.name" class="btn btn-primary btn-lg">Adicionar</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>*@ 

<div class="modal fade bs-example-modal-sm" id="Preview">
    <div class="modal-dialog" style=" width:737px; ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seu Convite</h4>
            </div>
            <div class="modal-body">
                <iframe scrolling="no" src="/Convidados/ConvitePartial?id_orcamento=@Model.id_orcamento" width="740" height="460"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="Print">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Como deseja imprimir a sua lista?</h4>
            </div>
            <div class="modal-body"> 
                <div class="form-group">
                    <a href="javascript:void(o)" style="width: 85%; text-align: center;" onclick="window.open('/Convidados/ImprimirListaDeConvidados?tipoLista=COMPLETA', 'Lista Completa', 'menubar=1,resizable=0,width=700,height=500')" class="btn btn-success">Todos os convidados</a>
                    <a href="javascript:void(o)" style="width: 85%; text-align: center;" onclick="window.open('/Convidados/ImprimirListaDeConvidados?tipoLista=CONFIRMADOS', 'Lista de Confirmados', 'menubar=1,resizable=0,width=700,height=500')" class="btn btn-success">Convidados confirmados</a>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Ajustes">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Convidados/AjustesConvites" id="AjustesConvite" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Ajustes</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Permitir que os convidados tragam pessoas extras!</label>
                            <div>
                                <label>Quantidade</label>
                                <select name="max_acompanhantes">
                                    @if (orcamento.max_acompanhantes != null)
                                    {
                                        <option value="@orcamento.max_acompanhantes">@string.Format("Permitir que tragam {0}", orcamento.max_acompanhantes)</option>
                                    }
                                    <option value="0">Não permitir</option>
                                    @for (int i = 1; i < 11; i++)
                                    {
                                        <option value="@i">@string.Format("Permitir que tragam {0}", i)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mensagem padrão</label>
                            <textarea rows="5" name="mensagem_padrao" class="span12">@orcamento.mensagem_padrao</textarea>
                        </div>

                        @*<div class="row">
                    <label>Enviar notificação para os convidados dias antes?</label>
                    <a href="javascript:void(o)" data-checked="false" id="dias_antes" onclick="checkOrUncheck(this, 'dias_antes')">
                        <img src="~/Content/Buffet/Imagens/Convite/uncheck.png" width="30" />
                    </a>
                    <div style="display:none">
                        <label>Quantos dias antes?</label>
                        <select>
                            @for (int i = 1; i < 10; i++)
                            {
                                <option value="@i">@string.Format("{0}", i)</option>
                            }
                        </select>
                    </div>
                </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="o('AjustesConvite').submit()" class="btn btn-success">Salvar Alterações</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="help">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <img src="~/Content/Buffet/Convidados/Imagens/icone_help_description.png" />
                </div>
            </div>
        </div>  
    </div>
</div>
 
<div class="modal fade" id="EditarConvidado">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Editar Convidado</h3>
            </div>
            <form action="/Convidados/EditarConvidado" method="post" id="confirmarEditar">
                <div class="modal-body">
                    <div class="form-group">  
                        <div class="alert" id="editar_mensagem" style="display:none">
                            <strong id="editar_textMensagem"></strong>
                        </div>

                        <input type="hidden" name="id" id="editar_id" />
                        <div class="text-center form-group" style="display:none" id="div_imagem_facebook">
                            <img src="#" id="imagem_facebook" />
                        </div>
                        <div class="form-group">
                            <label>Nome do convidado</label>
                            <input type="text" name="nome_completo" id="editar_nome" class="span12"  />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" id="editar_email" class="span12"  />
                        </div>
                        <div class="form-group">
                            <label>Celular</label>
                            <input style="height: 44px; padding-left: 50px; width: 200px; " title="Informe o Telefone celular (8 ou 9 Dígitos)" autocomplete="off" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" type="text" name="telefone" id="editar_telefone" maxlength="13" onkeyup="BuscaOperadoraEditar(this)" class="span12">
                            <input type="hidden" name="operadora" id="editar_operadora" value="" />
                            <input type="hidden" id="numero_valido" value="" /> 
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <img src="~/Content/Buffet/Convidados/Imagens/icone_acompanhantes.png" width="50"/>
                            </div>
                            <input type="number" min="0" max="@orcamento.max_acompanhantes" name="convidados" id="convidados" class="span12" />
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(o)" onclick="return ValidaCamposEditar(this)" class="btn btn-primary text-center" id="salvar_alteracoes">Salvar Alterações</a>
                </div>
            </form> 
        </div>
    </div>
</div>
 
@foreach (var convidado in Model.convidados)
{
    <div class="modal fade" id="@string.Format("mensagem_{0}", convidado.id)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Mensagens</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mensagem</label>
                        @if (convidado.resposta == null)
                        {
                            <textarea id="@string.Format("id_mensagem_{0}", convidado.id)" class="span12">@string.Format("{0}", convidado.mensagem == null? orcamento.mensagem_padrao : convidado.mensagem)</textarea>
                        }
                        else
                        {
                            <h2>@convidado.mensagem</h2>
                        }
                    </div>
                    @if (convidado.resposta != null)
                    { 
                         <div class="form-group">
                            <label>Resposta</label>
                             <h2>@convidado.resposta</h2>
                        </div>
                    }
                </div>
                @if (convidado.resposta == null)
                {
                    <div class="modal-footer">
                        <a href="javascript:void(o)" data-dismiss="modal" class="btn btn-success" onblur="SalvarMensagem(this, '@string.Format("id_mensagem_{0}", convidado.id)', '@convidado.autenticacao', '@convidado.id')">Salvar Mensagem</a>
                    </div>
                }
            </div>  
        </div>
    </div>
}  

<form action="/Convidados/SalvarConvidados" method="post" id="adicionarConvidado">
    <div class="modal fade" id="AmigosOuFamiliares" style="overflow: hidden">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">Amigos ou Familiares</h3>
                </div>
                <div class="modal-body">
                    <div class="alert">
                        <strong>Informe a quantidade de familiares ou amigos deste convidado!</strong>
                    </div>

                    <div style=" width: 600px; " class="row" id="containerConvidados">
                        <div class="form-group">
                            <div class="span4">
                                <label>Nome</label>
                                <input type="text" name="[0].nome" class="form-control span12" />
                            </div>
                            <div class="span2">
                                <label>Tipo Convidado</label>
                                <select class="form-control" name="[0].tipo_convidado">
                                    <option value="Adulto">Adulto</option>
                                    <option value="Criança Ate 5">Criança até 5 anos</option>
                                    <option value="Criança Acima 5">Criança acima 5 anos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-lg" style=" margin-top: 20px; " onclick="AdicionaFamiliares(this)" data-quantidade="1" value="+" />
                    <input type="button" class="btn btn-lg" data-dismiss="modal" value="Confirmar" />
                </div>
            </div>
        </div>
    </div>
     
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">
                    <img src="~/Content/Space/Content/backgrounds/1920x1000.jpg">
                    @if (empresa != null)
                    {
                        <div class="caption sfb ltr"
                             data-x="50"
                             data-y="0"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            <a href="@Html.DominioEmpresa()" target="_blank">
                                <img src="@Html.LogoEmpresa()" alt="@empresa.nome">
                            </a>
                        </div>
                    }
                    
                    @*<div class="caption sfb ltr"
                         data-x="780"
                         data-y="100"
                         data-speed="1000"
                         data-start="1600"
                         data-easing="easeOutElastic">
                        <a href="javascript:void(o)" onclick="listaDeAmigos(this)" id="amigosDoFacebook">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_facebook.png" width="50" class="spanHover" />
                            @if (Model.amigosFacebook.Count != 0)
                            {
                                <label class="label-facebook">@Model.amigosFacebook.Count</label>
                            }
                        </a>
                    </div>*@

                    <div class="caption sfb ltr"
                         data-x="840"
                         data-y="100"
                         data-speed="1000"
                         data-start="1700"
                         data-easing="easeOutElastic">
                        <a href="javascript:void(o)" data-target="#Preview" data-toggle="modal">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_lupa.png" width="50" class="spanHover" />
                        </a>
                    </div> 
                     
                    <div class="caption sfb ltr"
                         data-x="900"
                         data-y="100"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutElastic">
                        <a href="javascript:void(o)" data-target="#Print" data-toggle="modal">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_imprimir_lista.png" width="50" class="spanHover" />
                        </a>
                    </div>

                    <div class="caption sfb ltr"
                         data-x="960"
                         data-y="100"
                         data-speed="1000"
                         data-start="1900"
                         data-easing="easeOutElastic">
                        <a href="javascript:void(o)" data-toggle="modal" data-target="#help">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_ajuda.png" width="50" class="spanHover" />
                        </a>
                    </div>

                    <div class="caption sfb ltr"
                         data-x="1020"
                         data-y="100"
                         data-speed="1000"
                         data-start="2000"
                         data-easing="easeOutElastic">
                        <a href="javascript:void(o)" data-target="#Ajustes" data-toggle="modal">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_config.png" width="50" class="spanHover" />
                        </a>
                    </div>

                    <div class="caption sfb ltr"
                         data-x="1080"
                         data-y="100"
                         data-speed="1000"
                         data-start="2100"
                         data-easing="easeOutElastic">
                        <a href="/Home/Sair">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_sair.png" width="50" class="spanHover" />
                        </a>
                    </div>

                    @*<div class="caption sfb ltr"
                         data-x="500"
                         data-y="50"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="InDownBig"> 
                         @if (!Html.orcamento().apenas_convite)
                            {
                                <div class="col-md-1">
                                    <a href="/Orcamento/Orcamento">
                                        <img src="~/Content/BuffetWeb/img/Menu/Voltar.png" width="40" />
                                    </a>
                                </div>
                            } 
                            <div class="span4">
                                <h2 style="color:white"> 
                                    Olá @Html.orcamento().CLIENTE.nome
                                </h2>
                                <div class="span12">
                                    <small style="margin-left: 10px; color: white">Convide seus amigos e familiares!</small>
                                </div>
                                <hr>
                            </div> 
                        </div>*@  


                    @*<div class="caption sfb ltr"
                         data-x="950"
                         data-y="100"
                         data-speed="1000"
                         data-start="200"
                         data-easing="InDownBig"> 

                        @*<div class="fb-like"
                             data-share="true"
                             data-width="450"
                             data-show-faces="true">
                        </div> 

                        <a class="btn alt" href="javascript:void(o)" onclick="listaDeAmigos(this)" id="amigosDoFacebook">
                            Meus Amigos
                            <i class="ifc-facebook"></i>
                        </a>
                    </div>*@
                   

                    <div class="caption sfb ltr"
                         data-x="80"
                         data-y="300"
                         data-speed="1000"
                         data-start="200"
                         data-easing="InDownBig">
                        @*@if (ViewBag.mensagem != null)
                        {
                            <div id="mensagemOrcamento" class="alert info  " style=" width: 1000px; ">
                                <i class="ifc-info"></i>
                                <strong>@ViewBag.mensagem</strong>
                            </div>
                        }*@

                        <div id="mensagem" class="alert error  " style=" width: 1000px; display:none ">
                            <i class="ifc-close"></i>
                            <strong id="textMensagem"></strong>
                        </div>
                    </div>

                    <div class="caption sfb ltr"
                         data-x="80"
                         data-y="200"
                         data-speed="1000"
                         data-start="200"
                         data-easing="InDownBig">

                        <h4 style="color:white">Nome</h4>
                        <input style="height: 44px; background-color: white;" type="text" name="nome_completo" id="nome" class="form-control span3">

                    </div>


                    <div class="caption sfb ltr"
                         data-x="370"
                         data-y="200"
                         data-speed="1000"
                         data-start="150"
                         data-easing="InDownBig">

                        <h4 style="color:white">Email</h4>
                        <input style="height: 44px; background-color: white;" type="email" name="email" id="email" title="Informe um email válido!" class="form-control">

                    </div>
                    <div class="caption sfb ltr"
                         data-x="570"
                         data-y="200"
                         data-speed="1000"
                         data-start="300"
                         data-easing="InDownBig">

                        <div class="col-md-3" style=" width: 235px; ">
                            <h4 style="color:white">Celular</h4>
                            <input style="height: 44px; padding-left: 50px; width: 200px; background-color: white; " title="Informe o Telefone celular (8 ou 9 Dígitos)" autocomplete="off" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" type="text" name="telefone" id="telefone_principal" maxlength="13" onkeyup="BuscaOperadora(this)" class="form-control">
                            <input type="hidden" name="operadora" id="operadora" value="" />
                            <input type="hidden" name="Celular_Valido" id="Celular_Valido" required value="" />
                        </div>

                    </div>

                    <div class="caption sfb ltr"
                         data-x="800"
                         data-y="210"
                         data-speed="1000"
                         data-start="350"
                         data-easing="InDownBig">
                        <div class="text-center"> 
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_acompanhantes_branco.png" width="30" />
                        </div>
                        <input type="number" required style="height: 44px; background-color: white; width: 130px;" min="0" max="@orcamento.max_acompanhantes" name="convidados" class="span1" />
                    </div> 

                    <div class="caption sfb ltr"
                         data-x="950"
                         data-y="235"
                         data-speed="1000"
                         data-start="400"
                         data-easing="InDownBig">
                        <a href="javascript:void(o)" class="btn btn-lg" onclick="ValidaCampos(this)">Adicionar Convidado</a>  
                    </div>

                    <div class="caption sfb ltr"
                         data-x="100"
                         data-y="360"
                         data-speed="1000"
                         data-start="450"
                         data-easing="InDownBig">
                        <div class="span4">
                            <div class="milestone already-animated">
                                <div class="milestone-content">
                                    <span class="milestone-value" style="color:white" data-stop="@(Model.convidados.Count + Model.convidados.Sum(e => e.convidados))" data-speed="2000" id="total_convidados" data-total="@(Model.convidados.Count + Model.convidados.Sum(e => e.convidados))">@(Model.convidados.Count + Model.convidados.Sum(e => e.convidados))</span>
                                    <div class="milestone-description" style="color:white">Total de Convidados</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="caption sfb ltr"
                         data-x="350"
                         data-y="360"
                         data-speed="1000"
                         data-start="500"
                         data-easing="InDownBig">
                        <div class="span4">
                            <div class="milestone already-animated">
                                <div class="milestone-content">
                                    <span class="milestone-value" style="color:white"  data-speed="2000"  >@Model.convidados.Where(e => e.ira.Equals("EU VOU")).ToList().Count</span>
                                    <div class="milestone-description" style="color:white">Eu Vou</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="caption sfb ltr"
                         data-x="550"
                         data-y="360"
                         data-speed="1000"
                         data-start="550"
                         data-easing="InDownBig">
                        <div class="span4">
                            <div class="milestone already-animated">
                                <div class="milestone-content">
                                    <span class="milestone-value" style="color:white" data-stop="33" data-speed="2000">@Model.convidados.Where(e => e.ira.Equals("TALVEZ")).ToList().Count</span>
                                    <div class="milestone-description" style="color:white">Talvez</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="caption sfb ltr"
                         data-x="750"
                         data-y="360"
                         data-speed="1000"
                         data-start="550"
                         data-easing="InDownBig">
                        <div class="span4">
                            <div class="milestone already-animated">
                                <div class="milestone-content">
                                    <span class="milestone-value" style="color:white" data-stop="33" data-speed="2000">@Model.convidados.Where(e => e.ira.Equals("NAO VOU")).ToList().Count</span>
                                    <div class="milestone-description" style="color:white">Não vou</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
</form>
  
<div class="row">
    @if (Model.convidados.Count == 0)
    {
        <h1 class="text-center" style="color: #3db39e">Convide seus amigos e Familiares</h1>
        return;
    } 
    <div class="row">
        @*<div class="pull-left" style="margin-right:15px">
            <a href="javascript:void(o)" data-checked="false" onclick="SelecionarTodos(this, @Model.Count)">
                <img src="~/Content/Buffet/Imagens/Convite/uncheck.png" />
            </a>
        </div>*@
        <div class="pull-left">
            <input type="text" id="search2" onkeyup="BuscarAmigosTabela(this)" data-id="search2" class="form-group span4" placeholder="Filtre sua lista de convidados" />
        </div>
        @*@if (ViewBag.isMobile == false)
        {
            <div class="col-md-2 pull-right">
                <input type="button" data-toggle="modal" data-target="#PerguntaImprimir" value="Imprimir Lista" class="btn btn-info btn-block btn-lg">
            </div>
        }*@
        @*<div class="col-md-2 pull-right">
            <input type="submit" onclick="return verificaCampos(@Model.Count)" value="Enviar Convites" class="btn btn-success btn-block btn-lg">
        </div>*@
    </div> 
    <table class="table" id="convidados">
        <tbody>
            <tr>
                @*<th></th>*@
                <th>@*Presença*@</th>
                <th></th>
                <th width="400">@*Nome*@</th>
                <th width="40"></th>
                <th width="40"></th>
                @*<th width="40"></th>*@
                <th width="190">@*Contato*@</th>
                <th align="center" width="40">@*Mensagens*@</th> 
                <th align="right" width="40"></th>
                <th align="right" width="40"></th>
            </tr>
            @for (int i = 0; i < Model.convidados.Count; i++)
			{
                var convidado = Model.convidados.ElementAt(i);
                <tr id="@string.Format("tr_{0}", convidado.id)">
                    @*<td width="30">
                        <div>
                            <input type="hidden" name="@string.Format("[{0}].id_convidado", i)" value="@convidado.id" />
                            <input name="@string.Format("[{0}].isOn", i)" id="@string.Format("[{0}]isOn", i)" type="hidden" />
                            <a href="javascript:void(o)" data-checked="false" id="@string.Format("[{0}]checkeds", i)" onclick="checkOrUncheck(this, '@string.Format("[{0}]isOn", i)')">
                                <img src="~/Content/Buffet/Imagens/Convite/uncheck.png" width="30" />
                            </a>
                        </div>
                    </td>*@
                    <td width="70">
                        @switch (convidado.ira)
                        {
                            case "EU VOU":<img src="~/Content/Buffet/Convidados/Imagens/icone_euvou.png" style="height: 25px;margin-top: 8px;" />; break;
                            case "TALVEZ":  <img src="~/Content/Buffet/Convidados/Imagens/icone_talvez.png" style="height: 25px;margin-top: 8px;" /> ; break;
                            case "NAO VOU": <img src="~/Content/Buffet/Convidados/Imagens/icone_naovou.png" style="height: 25px;margin-top: 8px;" />  ; break;
                            default: <img src="~/Content/Buffet/Convidados/Imagens/icone_aguardando.png" style="height: 25px;margin-top: 8px;" /> ; break;
                        } 
                    </td>
                    <td width="40" align="right">
                        @if (convidado.facebook == true)
                        {
                            <img src="@string.Format("http://graph.facebook.com/{0}/picture", convidado.id_facebook)" style=" border-radius: 50px; " width="50" />
                        }
                        else
                        {
                            <img src="@logo_empresa" width="40" />
                        }
                    </td>
                    <td width="200"> 
                        <h2>@convidado.nome_completo </h2> 
                        <h5 style=" margin-top: -19px; margin-left: 10px; font-size: 10px; ">@convidado.nome_facebook</h5> 
                    </td>
                    @*<td>
                        @if (convidado.facebook == true)
                        {
                            if (convidado.ira.Equals("Não Confirmado"))
                            {
                                <a href="javascript:void(o)" id="@string.Format("convidado_", convidado.id)" onclick="EnviarMensagemFacebook(this)" data-mensagem_padrao="@string.Format("{0}", convidado.mensagem == null? orcamento.mensagem_padrao : convidado.mensagem)" data-id_facebook="@convidado.id_facebook" data-autenticacao="@convidado.autenticacao">
                                    @if (convidado.facebook_enviado == true)
                                    {
                                        <img class="spanHover" src="~/Content/Buffet/Convidados/Imagens/icone_mensagem_fb_send.png" width="40" />
                                    }
                                    else
                                    {
                                        <img class="spanHover" src="~/Content/Buffet/Convidados/Imagens/icone_mensagem_fb.png" width="40" />
                                    }
                                </a>
                            }
                            else
                            {
                            if (convidado.facebook_enviado == true)
                            {
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_mensagem_fb_send.png" width="40" />
                                    }
                                    else
                                    { 
                                        <img src="~/Content/Buffet/Convidados/Imagens/icone_mensagem_fb.png" width="40" />
                                    } 
                                } 
                            }
                            </td>*@
                    <td>
                        @if (convidado.email != null)
{
    if (convidado.ira.Equals("Não Confirmado"))
    {
        <a href="javascript:void(o)" onclick="EnviarEmail(this)" data-email="@convidado.email" data-autenticacao="@convidado.autenticacao">
            @if (convidado.email_enviado == true)
{
    <img class="spanHover" src="~/Content/Buffet/Convidados/Imagens/icone_email_send.png" width="40" />
}
else
{
                <img class="spanHover" src="~/Content/Buffet/Convidados/Imagens/icone_email.png" width="40" />
            }
        </a>
    }
    else
    {
        if (convidado.email_enviado == true)
        {
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_email_send.png" width="40" />
                                }
                                else
                                { 
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_email.png" width="40" />
                                } 
                            } 
                        }
                        </td>
                            <td>
                        @if (convidado.telefone != null && Html.Send_SMS())
{
    if (convidado.ira.Equals("Não Confirmado"))
    {
            if (convidado.sms_enviado == true)
            {
                <img src="~/Content/Buffet/Convidados/Imagens/icone_sms_send.png" width="40" />
            }
            else
            {
                <a class="spanHover" href="javascript:void(o)" onclick="EnviarSMS(this)" data-telefone="@convidado.telefone" data-autenticacao="@convidado.autenticacao"> 
                    <img src="~/Content/Buffet/Convidados/Imagens/icone_sms.png" width="40" />
                </a>
            }
    }
    else
    {
        if (convidado.sms_enviado == true)
        {
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_sms_send.png" width="40" /> 
                                }else{
                                    <img src="~/Content/Buffet/Convidados/Imagens/icone_sms.png" width="40" />
                                }      
                            }        
                        }
                    </td>
                    <td>
                        @if (convidado.resposta != null)
                        {
                            <a href="javascript:void(o)" class="btn btn-success" style=" width: 66%; text-align: center; " data-target="@string.Format("#mensagem_{0}", convidado.id)" data-toggle="modal">Ver Resposta</a>
                        } else if (convidado.mensagem != null)
                        {
                            <a href="javascript:void(o)" class="btn btn-success" style=" width: 66%; text-align: center; " data-target="@string.Format("#mensagem_{0}", convidado.id)" data-toggle="modal">Ver Mensagem</a>
                        } else if (convidado.mensagem == null)
                        {
                            <a href="javascript:void(o)" class="btn btn-success" style=" width: 66%; text-align: center; " data-target="@string.Format("#mensagem_{0}", convidado.id)" data-toggle="modal">Escrever Mensagem</a>
                        } 
                    </td>
                    <td>
                        <a href="javascript:void(o)" class="pull-left spanHover">
                            <img src="~/Content/Buffet/Convidados/Imagens/icone_editar.png" onclick="editarConvidado(this)" data-id="@convidado.id" data-nao_confirmado="@convidado.ira.Equals("Não Confirmado")" data-convidados="@convidado.convidados" data-email="@convidado.email" data-telefone="@convidado.telefone" data-operadora="@convidado.operadora" data-nome="@convidado.nome_completo" data-isfacebook="@convidado.facebook" data-id_facebook="@convidado.id_facebook" width="40" />
                            @if (convidado.convidados != null && convidado.convidados != 0)
                            {
                                <label class="label-notification">@convidado.convidados</label>
                            }
                        </a>
                    </td>
                    <td> 
                        @if (convidado.enviado != true)
{
    <a href="javascript:void(o)" onclick="ApagarConvidado(this, '@convidado.id')" id="@string.Format("apagar_{0}", convidado.autenticacao)" class="pull-left spanHover">
        <img src="~/Content/Buffet/Convidados/Imagens/icone_lixo.png" width="40" />
    </a>
}
                    </td>
                </tr>            
	        }
        </tbody>
    </table> 
</div> 