﻿@model BuffetWeb.Models.Pesquisa.PesquisaModel
@using BuffetWeb.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empres = Html.empresa();
    string[] sorrisos = new string[] { "muito_insatisfeito_transparente",
                                      "insatisfeito_transparente",
                                      "indiferente_transparente",
                                      "satisfeito_transparente",
                                      "muito_satisfeito_transparente"};

    var contador = 0;
}

<link href="~/Content/Buffet/Pesquisa/Pesquisa.css" rel="stylesheet" />
<script src="~/Content/Buffet/Pesquisa/Pesquisa.js"></script>

<style type="text/css">
    @Html.FontesCSS()
</style>

<input type="hidden" id="configuracao" data-autenticacao="@ViewBag.autenticacao" />

<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            <li data-transition="fade">
                <img src="~/Content/Space/Content/backgrounds/1920x1000.jpg" />
                @if (empres != null)
                {
                    <div class="caption sfb ltr"
                         data-x="50"
                         data-y="50"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="InDownBig">
                        <a href="@Html.LogoEmpresa()">
                            <img src="@Html.LogoEmpresa()" alt="@empres.nome">
                        </a>
                    </div>
                }

                <div id="descricao_pergunta">
                    <div class="caption title sft fadeout"
                         data-x="260"
                         data-y="200"
                         data-speed="1000"
                         data-start="3000"
                         data-easing="easeOutExpo">
                        @if (Model != null && Model.pesquisa != null)
                        {
                            @Html.Raw(Model.mensagem)
                        }
                        else if (ViewBag.mensagem != null)
                        {
                            @Html.Raw(ViewBag.mensagem)
                        }

                    </div>

                    @if (Model != null && Model.pesquisa != null)
                    {
                        <div class="caption title sft fadeout"
                             data-x="550"
                             data-y="400"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="InDownBig">
                            <a class="btn btn-success" href="javascript:void(o)" onclick="IniciarPesquisa(this)">Iniciar</a>
                        </div>
                    }

                </div>
                @if (Model != null && Model.pesquisa != null)
                {
                    foreach (var pergunta in Model.pesquisa.PESQUISA_PERGUNTA)
                    {
                        if (pergunta.tipo_pergunta.Equals("GOSTEI"))
                        {
                            <div style="display:none" id="@string.Format("{0}_pergunta", contador)">
                                <div class="caption title sft fadeout"
                                     data-x="300"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <h2 class="text-center">@pergunta.titulo</h2>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="800"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="javascript:void(o)" onclick="ProximaPergunta(this, @contador, @Model.pesquisa.PESQUISA_PERGUNTA.Count + 2)" class="btn btn-success" style=" font-size: 15px; ">Próximo</a>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="450"
                                     data-y="350"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeInOutBack">
                                    <a href="javascript:void(o)" id="@string.Format("like{0}", pergunta.id)" onclick="GosteiSelecionado(this, @pergunta.id)" data-like="like">
                                        <img id="@string.Format("img_like_{0}", pergunta.id)" class="pesquisaLike spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_like_cinza.png" width="100" />
                                    </a>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="570"
                                     data-y="350"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeInOutBack">
                                    <a href="javascript:void(o)" id="@string.Format("dislike_{0}", pergunta.id)" onclick="GosteiSelecionado(this, @pergunta.id)" data-like="dislike">
                                        <img id="@string.Format("img_dislike_{0}", pergunta.id)" class="pesquisaDislike spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_dislike_cinza.png" width="100" />
                                    </a>
                                </div>

                            </div>
                            contador++;
                            continue;
                        }
                        if (pergunta.tipo_pergunta.Equals("ESTRELA"))
                        {
                            <div style="display:none" id="@string.Format("{0}_pergunta", contador)">
                                <div class="caption title sft fadeout"
                                     data-x="300"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <h2 class="text-center">@pergunta.titulo</h2>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="800"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="javascript:void(o)" onclick="ProximaPergunta(this, @contador, @Model.pesquisa.PESQUISA_PERGUNTA.Count + 2)" class="btn btn-success" style=" font-size: 15px; ">Próximo</a>
                                </div>

                                @{
                        int frameEstrelaX = 400;
                        int tempoEstrela = 2000;


                        for (int i = 0; i < 5; i++)
                        {
                            <div class="caption title sft fadeout"
                                 data-x="@frameEstrelaX"
                                 data-y="350"
                                 data-speed="1000"
                                 data-start="@tempoEstrela"
                                 data-easing="easeInOutBack">
                                <a href="javascript:void(o)" onclick="EstrelaSelecionada(this, @i, '@pergunta.id')">
                                    <img id="@string.Format("{0}_estrela_{1}", pergunta.id, i)" class="estrela_amarela spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_estrela_cinza.png" width="60">
                                </a>
                            </div>
                            frameEstrelaX += 70;
                            tempoEstrela += 500;
                        }
                                }

                            </div>
                        contador++;
                        continue;
                        }
                        if (pergunta.tipo_pergunta.Equals("SORRISO"))
                        {
                            <div style="display:none" id="@string.Format("{0}_pergunta", contador)">

                                <div class="caption title sft fadeout"
                                     data-x="300"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <h2 class="text-center">@pergunta.titulo</h2>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="800"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="javascript:void(o)" onclick="ProximaPergunta(this, @contador, @Model.pesquisa.PESQUISA_PERGUNTA.Count + 2)" class="btn btn-success" style=" font-size: 15px; ">Próximo</a>
                                </div>

                                @{

                        int frameSorrisoX = 400;
                        int tempoSorriso = 2000;

                        foreach (var sorriso in sorrisos)
                        {

                            <div class="caption title sft fadeout"
                                 data-x="@frameSorrisoX"
                                 data-y="350"
                                 data-speed="1000"
                                 data-start="@tempoSorriso"
                                 data-easing="easeOutElastic">
                                <a href="javascript:void(o)" data-img="@string.Format("{0}_img_{1}", pergunta.id, sorriso)" onclick="SorrisoSelecionado(this, '@sorriso', '@pergunta.id')">
                                    <img id="@string.Format("{0}_img_{1}", pergunta.id, sorriso)" class="@sorriso spanHover" src="@string.Format("/Content/Buffet/Pesquisa/Imagens/{0}.png", sorriso)" width="60">
                                </a>
                            </div>
                            frameSorrisoX += 70;
                            tempoSorriso += 500;
                        }
                                }
                            </div>
                        contador++;
                        continue;
                        }
                        if (pergunta.tipo_pergunta.Equals("COMENTARIO"))
                        {
                            <div style="display:none" id="@string.Format("{0}_pergunta", contador)">
                                <div class="caption title sft fadeout"
                                     data-x="300"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <h2 class="text-center">@pergunta.titulo</h2>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="800"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="javascript:void(o)" onclick="ProximaPergunta(this, @contador, @Model.pesquisa.PESQUISA_PERGUNTA.Count + 2)" class="btn btn-success" style=" font-size: 15px; ">Próximo</a>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="400"
                                     data-y="350"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeInOutBack">
                                    <textarea class="pesquisa_texto" rows="3" onblur="SalvaComentario(this, @pergunta.id)"></textarea>
                                </div>
                            </div>
                            contador++;
                            continue;
                        }
                        if (pergunta.tipo_pergunta.Equals("SATISFACAO"))
                        {
                            <div style="display:none" id="@string.Format("{0}_pergunta", contador)">
                                <div class="caption title sft fadeout"
                                     data-x="300"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <h2 class="text-center">@pergunta.titulo</h2>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="800"
                                     data-y="200"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="javascript:void(o)" onclick="ProximaPergunta(this, @contador, @Model.pesquisa.PESQUISA_PERGUNTA.Count + 2)" class="btn btn-success" style=" font-size: 15px; ">Próximo</a>
                                </div>

                                <div class="caption title sft fadeout"
                                     data-x="300"
                                     data-y="250"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeInOutBack">
                                    <table class="table">
                                        <thead>
                                            <tr style=" font-size: 15px; ">
                                                <th width="200" align="center">Avaliação</th>
                                                <th width="50" align="center">Péssimo</th>
                                                <th width="50" align="center">Ruim</th>
                                                <th width="50" align="center">Normal</th>
                                                <th width="50" align="center">Bom</th>
                                                <th width="50" align="center">Exelente</th>
                                            </tr>
                                        </thead>

                                        @foreach (var satisfacao in pergunta.PESQUISA_PERGUNTA_OPCOES)
                                    {
                                    <tr style=" font-size: 15px; ">
                                        <td align="left">
                                            @satisfacao.titulo
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(o)" data-avaliacao="PESSIMO" id="@string.Format("{0}_avaliacao_0", satisfacao.id)" onclick="OpcaoAvaliacao(this, @satisfacao.id, 0)">
                                                <img class="satisfacao spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(o)" data-avaliacao="RUIM" id="@string.Format("{0}_avaliacao_1", satisfacao.id)" onclick="OpcaoAvaliacao(this, @satisfacao.id,1)">
                                                <img class="satisfacao spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(o)" data-avaliacao="NORMAL" id="@string.Format("{0}_avaliacao_2", satisfacao.id)" onclick="OpcaoAvaliacao(this, @satisfacao.id,2)">
                                                <img class="satisfacao spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(o)" data-avaliacao="BOM" id="@string.Format("{0}_avaliacao_3", satisfacao.id)" onclick="OpcaoAvaliacao(this, @satisfacao.id,3)">
                                                <img class="satisfacao spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(o)" data-avaliacao="EXELENTE" id="@string.Format("{0}_avaliacao_4", satisfacao.id)" onclick="OpcaoAvaliacao(this, @satisfacao.id,4)">
                                                <img class="satisfacao spanHover" src="/Content/Buffet/Pesquisa/Imagens/icone_multipla_escolha_cinza.png" width="30">
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                    </table>
                                </div>
                            </div>
                                        contador++;
                                        continue;
                        }
                    }

                    <div style="display:none" id="@string.Format("{0}_pergunta", contador)">
                        <div class="caption title sft fadeout"
                             data-x="300"
                             data-y="200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo">
                            <h2 class="text-center">Quais suas datas comemorativas?</h2>
                        </div>

                        <div class="caption title sft fadeout"
                             data-x="800"
                             data-y="200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo">
                            <a href="javascript:void(o)" onclick="ProximaPergunta(this, @contador, @Model.pesquisa.PESQUISA_PERGUNTA.Count + 2)" class="btn btn-success" style=" font-size: 15px; ">Concluir</a>
                        </div>

                        <div class="caption title sft fadeout"
                             data-x="400"
                             data-y="350"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeInOutBack">

                        </div>
                    </div>
                    
                    contador++;
                    

                    <div style="display:none" id="@string.Format("{0}_pergunta", contador)">
                        <div class="caption title sft fadeout"
                             data-x="300"
                             data-y="200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo">
                            <h2 class="text-center">
                                @Html.Raw("Agradecemos a sua colaboração para que sempre <p /> consigamos melhorar nosso espaço!")
                            </h2>
                        </div>

                        <div class="caption title sft fadeout"
                             data-x="350"
                             data-y="350"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeInOutBack">
                            <h3>Conheça mais sobre o Buffet @empres.nome nas redes sociais!</h3>

                        </div>

                        <div class="caption title sft fadeout"
                             data-x="400"
                             data-y="400"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeInOutBack">

                            <table style="width:200px">
                                <tr>
                                    @foreach (var social in Model.social)
                                {
                                <td width="50">
                                    <a href="@social.url" target="_blank">
                                        <img src="@string.Format("http://www.buffetweb.com/Sites/Arquivos/Sistema/Social/{0}.png", social.plataforma)" width="50" />
                                    </a>
                                </td>
                                }
                                </tr>
                            </table>
                        </div>
                    </div> 
                }
                else
                {
                     <div class="caption title sft fadeout"
                         data-x="260"
                         data-y="400"
                         data-speed="1000"
                         data-start="3000"
                         data-easing="easeOutExpo">
                         Não existe pesquisa de satisfação para este evento! 
                    </div>
                }
            </li>
        </ul>
    </div>
</div> 