﻿@model BuffetWeb.Models.Convidados.RespostaNavegador
@using BuffetWeb.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Buffet/Convidados/Convidados.js"></script>

<style type="text/css">
    @Html.FontesCSS()
</style>

@{
    var convite = Model.orcamento.CONVITE_TEMPLATE.FirstOrDefault();
    var disponivel = Model.disponivel;
    var empresa = Model.empresa;
    var endereco = Model.orcamento.LOCAL_EVENTO.ENDERECO;
    var local = Model.orcamento.LOCAL_EVENTO;
    var empres = Html.empresa();
    var aniversariantes = "";
    foreach (var aniversari in Model.orcamento.CLIENTE.CLIENTE_ANIVERSARIANTES)
    {
        string anosStr = DateTime.Now.Date.Year - aniversari.nascimento.Date.Year == 1 ? "Ano" : "Anos";
        aniversariantes = string.Format("{0} - {1} {2} <p /> {3}", aniversari.nome, (DateTime.Now.Date.Year - aniversari.nascimento.Date.Year), anosStr, aniversariantes);
    }
}

@if (!Model.isMobile)
{
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">
                    <img src="~/Content/Space/Content/backgrounds/1920x1000.jpg" />
                    @if (empres != null)
                    {
                        <div class="caption sfb ltr"
                             data-x="50"
                             data-y="20"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <a href="@Html.DominioEmpresa()">
                                <img src="@Html.LogoEmpresa()" alt="@empres.nome">
                            </a>
                        </div>
                    }

                    @if (Model.convidado != null)
                    {
                        <input type="hidden" id="convidado_data" data-autenticacao="@Model.convidado.autenticacao" data-nome="@Model.convidado.nome_completo" data-telefone="@Model.convidado.telefone" data-email="@Model.convidado.email" data-codigo_unico="@Model.orcamento.codigo_unico" />

                        <div class="caption sfb ltr"
                             data-x="660"
                             data-y="70"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Header_Convite_Online.png" alt="">
                        </div>

                        <div class="caption sfb ltr"
                             data-x="0"
                             data-y="200"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <iframe scrolling="no" src="/Convidados/ConvitePartial?codigo_unico=@Model.orcamento.codigo_unico" width="740" height="460"></iframe> 
                        </div>

                        <div class="caption title sft fadeout"
                             data-x="770"
                             data-y="230"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo" style="font-family: @Model.disponivel.titulo_fonte" id="frase2">
                            Olá @Model.convidado.nome_completo
                        </div>

                        <div class="caption text sfl fadeout"
                             data-x="770"
                             data-y="300"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo" style="font-family: @Model.disponivel.titulo_fonte; font-size:17px" id="frase">
                            Você foi convidado para a festa de aniversário de @Html.Raw(aniversariantes)
                            <br /> e precisamos que confirme sua presença!
                        </div>
                        <div class="caption sfb ltr"
                             data-x="800"
                             data-y="450"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="easeOutElastic" id="presenca1">
                            <a href="javascript:void(o)" style="cursor:pointer" onclick="ConfirmaPresencao(this, 1)">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Eu_Vou.png" class="spanHover">
                            </a>
                        </div>
                        <div class="caption sfb ltr"
                             data-x="950"
                             data-y="400"
                             data-speed="1000"
                             data-start="2600"
                             data-easing="easeOutElastic" id="presenca2">
                            <a href="javascript:void(o)" style="cursor:pointer" onclick="ConfirmaPresencao(this, 3)">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Nao_Vou.png" class="spanHover">
                            </a>
                        </div>
                        <div class="caption sfb ltr"
                             data-x="1050"
                             data-y="450"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" id="presenca3">
                            <a href="javascript:void(o)" style="cursor:pointer" onclick="ConfirmaPresencao(this, 2)">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Talvez.png" class="spanHover">
                            </a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="760"
                             data-y="300"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" style="display:none" id="dadosPessoais">
                            <div style="width:400px; display:none" id="mensagem_informacoes">
                                <div class="alert" role="alert">
                                    <strong id="textMensagem_informacoes"></strong>
                                </div>
                            </div>
                            <div id="levar" style="display:none">
                                <label style="color:white; font-family: @Model.disponivel.titulo_fonte" id="talvez_levar">Vai levar alguem?</label>
                                <select style=" width: 400px; background: white; border-radius: 20px;" id="convidados">
                                    <option value="0">Não, apenas eu.</option>
                                    @for (int i = 1; i != Model.orcamento.max_acompanhantes + 1; i++)
                                    {
                                        <option value="@i">@string.Format("Sim ( mais {0} Convidado{1} )", i, i == 1 ? "" : "s")</option>
                                    }
                                </select>
                            </div>

                            @if (Model.convidado.email == null)
                            {
                                <div style="width:400px">
                                    <label style="color:white; font-family: @Model.disponivel.titulo_fonte">Informe seu e-mail?</label>
                                    <input style=" width: 400px; background:white" type="text" id="email_convidado" value="" />
                                </div>
                            }
                            @if (Model.convidado.telefone == null)
                            {
                                <div style="width: 400px">
                                    <input type="hidden" name="Celular_Valido" id="Celular_Valido" />
                                    <label style="color:white; font-family: @Model.disponivel.titulo_fonte">Informe seu Número celular?</label>
                                    <input style=" width: 400px; padding-left: 50px; background-color: white; " title="Informe o Telefone celular (8 ou 9 Dígitos)" autocomplete="off" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" type="text" name="telefone" id="telefone_principal" maxlength="13" onkeyup="BuscarOperadoraAnony(this)" class="form-control">
                                    <input type="hidden" id="Celular_Valido" value="" />
                                    <input type="hidden" name="operadora" id="operadora" value="" />
                                </div>
                            }
                            <a href="javascript:vid(o)" class="btn btn-default" style=" width: 364px; text-align: center;" onclick="SalvarInformacoes(this)">Salvar Informações</a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="760"
                             data-y="300"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" style="display:none" id="mensagem">
                            @if (Model.convidado.mensagem != null)
                            {
                                <label style="color:white; font-family: @Model.disponivel.titulo_fonte">@Model.convidado.mensagem</label>
                                <label style="color:white; font-family: @Model.disponivel.titulo_fonte">Responda essa mensagem aqui!</label>
                            }
                            else
                            {
                                <label style="color:white; font-family: @Model.disponivel.titulo_fonte">Aproveite e deixe uma mensagem</label>
                            }
                            <textarea class="form-control" rows="3" style=" width: 400px; background:white" id="mensagem_enviada">@Model.convidado.resposta</textarea>
                            <a href="javascript:vid(o)" class="btn btn-default" style=" width: 364px; text-align: center;" onclick="EnviarMensagem(this)">Enviar Mensagem</a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="850"
                             data-y="328"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" style="display:none" id="gratidao">
                            <h1 style="color:white; font-family: @Model.disponivel.titulo_fonte">Obrigado!</h1>
                            <a href="#" id="url_espaco" class="btn btn-default">Conheça nosso espaço</a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="960"
                             data-y="700"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic">
                            <a href="@string.Format("https://www.google.com.br/maps/place/{0} {1},{2},{3},{4},{5}", endereco.endereco1, endereco.numero, endereco.bairro, endereco.cidade, endereco.estado, endereco.cep)" target="_blank">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Como_Chegar.png" alt="">
                            </a>
                        </div>

                        <div class="caption text sfl fadeout"
                             data-x="150"
                             data-y="690"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo"
                             style="color: #0A79D5; font-size: 30px; font-family: @Model.disponivel.titulo_fonte">
                            Local da Festa
                        </div>
                        <div class="caption text sfl fadeout"
                             data-x="100"
                             data-y="720"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo"
                             style="color: #0A79D5; text-align:center; font-size: 20px; font-family: @Model.disponivel.titulo_fonte">
                            @Html.Raw(string.Format("{0} {1}, {2}, <br /> {3} <br />  Contato {4}", local.ENDERECO.endereco1, local.ENDERECO.numero, local.ENDERECO.bairro, local.ENDERECO.complemento, local.telefone))
                        </div>
                    }
                    else
                    {
                        <div class="caption sfb ltr"
                             data-x="270"
                             data-y="300"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo">
                            @if (disponivel != null)
                            {
                                <h1 style="color:white;font-family: @disponivel.titulo_fonte">@Model.mensagem</h1>
                            }
                            else
                            {
                                <h1 style="color:white">@Model.mensagem</h1>
                            }
                        </div>

                            var url_espaco = Html.LogoEmpresa();
                            if (!url_espaco.Equals("#"))
                            {
                                <div class="caption sfb ltr"
                                     data-x="500"
                                     data-y="500"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="@url_espaco" class="btn btn-default" style="font-family: @disponivel.titulo_fonte">Conheça nosso espaço</a>
                                </div>
                            }
                    }
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="fullwidthbanner-container">
        <input type="hidden" id="isMobile" value="true" />
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">
                    <img src="~/Content/Space/Content/backgrounds/1920x1000.jpg" />
                    @if (empres != null)
                    {
                        <div class="caption sfb ltr"
                             data-x="50"
                             data-y="20"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <a href="@Html.DominioEmpresa()">
                                <img src="@Html.LogoEmpresa()" alt="@empres.nome">
                            </a>
                        </div>
                    }

                    @if (Model.convidado != null)
                    {
                        <input type="hidden" id="convidado_data" data-autenticacao="@Model.convidado.autenticacao" data-nome="@Model.convidado.nome_completo" data-telefone="@Model.convidado.telefone" data-email="@Model.convidado.email" data-codigo_unico="@Model.orcamento.codigo_unico" />

                        <div class="caption sfb ltr"
                             data-x="560"
                             data-y="70"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Header_Convite_Online.png" alt="">
                        </div>

                        <div class="caption sfb ltr"
                             data-x="0"
                             data-y="200"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="InDownBig">
                            <iframe onmouseover="ConvidadosParametros()" scrolling="no" src="/Convidados/ConvitePartial?codigo_unico=@Model.orcamento.codigo_unico" width="1200" height="700"></iframe>
                        </div>

    <div class="caption title sft fadeout"
         data-x="100"
         data-y="1030"
         data-speed="1000"
         data-start="3000"
         data-easing="easeOutExpo" style="font-size:40px; font-family: @Model.disponivel.titulo_fonte; color:white; width:300px" id="frase2" onclick="ConvidadosParametros()">
        Olá @Model.convidado.nome_completo
    </div>

    <div class="caption text sfl fadeout"
         data-x="100"
         data-y="1130"
         data-speed="1000"
         data-start="3000"
         data-easing="easeOutExpo" style="font-family: @Model.disponivel.titulo_fonte;font-size:35px; color:white; width:300px" id="frase" onclick="ConvidadosParametros()">
        Você foi convidado para a festa de aniversário de @Html.Raw(aniversariantes)
        <br /> e precisamos que confirme sua presença!
    </div>

                        <div class="caption sfb ltr"
                             data-x="250"
                             data-y="1500"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="easeOutElastic" id="presenca1">
                            <a href="javascript:void(o)" style="cursor:pointer" onclick="ConfirmaPresencao(this, 1)">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Eu_Vou.png" onmouseout="ConvidadosParametros()" onclick="ConvidadosParametros()" width="240" class="spanHover">
                            </a>
                        </div>
                        <div class="caption sfb ltr"
                             data-x="500"
                             data-y="1350"
                             data-speed="1000"
                             data-start="2600"
                             data-easing="easeOutElastic" id="presenca2">
                            <a href="javascript:void(o)" style="cursor:pointer" onclick="ConfirmaPresencao(this, 3)">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Nao_Vou.png" onmouseout="ConvidadosParametros()" onclick="ConvidadosParametros()" width="140" class="spanHover">
                            </a>
                        </div>
                        <div class="caption sfb ltr"
                             data-x="700"
                             data-y="1500"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" id="presenca3">
                            <a href="javascript:void(o)" style="cursor:pointer" onclick="ConfirmaPresencao(this, 2)">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Talvez.png" onmouseout="ConvidadosParametros()" onclick="ConvidadosParametros()" width="210" class="spanHover">
                            </a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="30"
                             data-y="1200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" style="display:none" id="dadosPessoais">
                            <div style="width:400px; display:none" id="mensagem_informacoes">
                                <div class="alert" role="alert">
                                    <strong id="textMensagem_informacoes"></strong>
                                </div>
                            </div>
                            <div id="levar" style="display:none">
                                <label style="color:white; font-size:20px; font-family: @Model.disponivel.titulo_fonte" id="talvez_levar">Vai levar alguem?</label>
                                <select style=" width: 300px; background: white; border-radius: 20px;" id="convidados" onchange="ConvidadosParametros()">
                                    <option value="0">Não, apenas eu.</option>
                                    @for (int i = 1; i != Model.orcamento.max_acompanhantes + 1; i++)
                                    {
                                        <option value="@i">@string.Format("Sim ( mais {0} Convidado{1} )", i, i == 1 ? "" : "s")</option>
                                    }
                                </select>
                            </div>

                            @if (Model.convidado.email == null)
                            {
                                <div style="width: 300px">
                                    <label style="color:white; font-size:20px;  font-family: @Model.disponivel.titulo_fonte">Informe seu e-mail?</label>
                                    <input style=" width: 300px; background: white" type="text" id="email_convidado" value="" onkeypress="ConvidadosParametros()" />
                                </div>
                            }
                            @if (Model.convidado.telefone == null)
                            {
                                <div style="width: 300px">
                                    <input type="hidden" name="Celular_Valido" id="Celular_Valido" />
                                    <label style="color:white; font-size:20px;  font-family: @Model.disponivel.titulo_fonte">Informe seu Número celular?</label>
                                    <input style=" width: 300px; padding-left: 50px; background-color: white; " onkeydown="ConvidadosParametros()" title="Informe o Telefone celular (8 ou 9 Dígitos)" autocomplete="off" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" type="text" name="telefone" id="telefone_principal" maxlength="13" onkeyup="BuscarOperadoraAnony(this)" class="form-control">
                                    <input type="hidden" id="Celular_Valido" value="" />
                                    <input type="hidden" name="operadora" id="operadora" value="" />
                                </div>
                            }
                            <a href="javascript:vid(o)" class="btn btn-default" style=" width: 344px; text-align: center;" onclick="SalvarInformacoes(this); ConvidadosParametros()">Salvar Informações</a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="30"
                             data-y="1200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" style="display:none" id="mensagem">
                            @if (Model.convidado.mensagem != null)
                            {
                                <label style="color:white;  font-size:25px; font-family: @Model.disponivel.titulo_fonte">@Model.convidado.mensagem</label>
                                <label style="color:white; font-size:25px; font-family: @Model.disponivel.titulo_fonte">Responda essa mensagem aqui!</label>
                            }
                            else
                            {
                                <label style="color:white;  font-size:25px; font-family: @Model.disponivel.titulo_fonte">Aproveite e deixe uma mensagem</label>
                            }
                            <textarea onkeypress="ConvidadosParametros()" class="form-control" rows="3" style=" width: 300px; background: white" id="mensagem_enviada">@Model.convidado.resposta</textarea>
                            <a href="javascript:vid(o)" class="btn btn-default" style=" width: 290px; text-align: center;" onclick="EnviarMensagem(this); ConvidadosParametros()">Enviar Mensagem</a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="100"
                             data-y="1200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic" style="display:none" id="gratidao">
                            <h1 style="color:white; font-family: @Model.disponivel.titulo_fonte">Obrigado!</h1>
                            <a href="#" id="url_espaco" class="btn btn-default">Conheça nosso espaço</a>
                        </div>

                        <div class="caption sfb ltr"
                             data-x="500"
                             data-y="2250"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutElastic">
                            <a href="@string.Format(" https />/www.google.com.br/maps/place/{0} {1},{2},{3},{4},{5}", endereco.endereco1, endereco.numero, endereco.bairro, endereco.cidade, endereco.estado, endereco.cep)" target="_blank">
                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/Convite/Template/Como_chegar.png" alt="">
                            </a>
                        </div>

                        <div class="caption text sfl fadeout"
                             data-x="450"
                             data-y="2090"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo"
                             style="color: #0A79D5; font-size: 50px; font-family: @Model.disponivel.titulo_fonte">
                            Local da Festa
                        </div>
                        <div class="caption text sfl fadeout"
                             data-x="250"
                             data-y="2150"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo"
                             style="color: #0A79D5; text-align:center; font-size: 40px; font-family: @Model.disponivel.titulo_fonte">
                            @Html.Raw(string.Format("{0} {1}, {2},  <br />  {3} <br />  <br />  <br />  Contato {4}", local.ENDERECO.endereco1, local.ENDERECO.numero, local.ENDERECO.bairro, local.ENDERECO.complemento, local.telefone))
                        </div>
                    }
                    else
                    {
                        <div class="caption sfb ltr"
                             data-x="270"
                             data-y="300"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="easeOutExpo">
                            @if (disponivel != null)
                            {
                                <h1 style="color:white;font-family: @disponivel.titulo_fonte">@Model.mensagem</h1>
                            }
                            else
                            {
                                <h1 style="color:white">@Model.mensagem</h1>
                            }
                        </div>

                            var url_espaco = Html.LogoEmpresa();
                            if (!url_espaco.Equals("#"))
                            {
                                <div class="caption sfb ltr"
                                     data-x="500"
                                     data-y="500"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="easeOutExpo">
                                    <a href="@url_espaco" class="btn btn-default" style="font-family: @disponivel.titulo_fonte">Conheça nosso espaço</a>
                                </div>
                            }
                    }
                </li>
            </ul>
        </div>
    </div>
}



