﻿@model ICollection<BuffetDataManager.Models.FORNECEDOR>
@{
    ViewBag.Title = "Detalhes Fornecedor";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Fornecedor - @Model.fornecedor.id
            </div>
            <div class="panel-body">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <h4>Fornecedor</h4>
                            <h5> @Model.fornecedor.razao_social</h5>
                        </div>
                        <div class="col-md-12">
                            <h4>CNPJ</h4>
                            <h5>@Model.fornecedor.cnpj</h5>
                        </div>
                        <div class="col-md-12">
                            <h4>Contato</h4>
                            <h5>@Model.fornecedor.contato</h5>
                        </div>
                        <div class="col-md-12">
                            <h4>E-mail</h4>
                            <a href="mailto:@Model.fornecedor.email">@Model.fornecedor.email</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#itensFornecidos" aria-controls="home" role="tab" data-toggle="tab">Itens Fornecidos</a></li>
                            <li role="presentation" ><a href="#ingredientesFornecidos" aria-controls="home" role="tab" data-toggle="tab">ingredientes Fornecidos</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="panel-body">
                                <div role="tabpanel" class="tab-pane fade in active" id="itensFornecidos">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Valor Compra</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.fornecedor_cardapio)
                                            {
                                                <tr>
                                                    <td>@item.ITENS_CARDAPIO.nome</td>
                                                    <td>@item.ITENS_CARDAPIO.valor_compra</td>
                                                    <td>@string.Format("{0}", item.ITENS_CARDAPIO.status == true ? "Ativo" : "Inativo")</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div> 

                            </div>

                            <div class="panel-body">
                                <div role="tabpanel" class="tab-pane fade in active" id="ingredientesFornecidos">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Marca</th>
                                                    <th>Valor Compra</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.fornecedor_ingrediente)
                                            {
                                                <tr>
                                                    <td>@item.INGREDIENTE.marca</td>
                                                    <td>@item.INGREDIENTE.valor_custo</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
