﻿@model ICollection<BuffetDataManager.Models.FORNECEDOR>
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Fornecedores";
}

<script src="~/Content/Script/Buffet/Ajustes/Ajustes.js"></script>
@if (Html.Permissoes(Permitir.Criar, Conteudo.Fornecedor))
{
    <div class="row">
    <form class="form-horizontal form-border no-margin" method="post" action="/Estoque/SalvarFornecedor">
        <input type="hidden" name="deCardapio" value="@ViewBag.deCardapio" />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Novo Fornecedor
                </div>
                <div class="panel-body">
                    @{
                        string mensagem = ViewBag.mensagem;
                        @Html.AddMensagem(mensagem, MensagemDe.Sucesso) 
                    }
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Razão social</label>
                            <input type="text" name="razao_social" class="form-control" required="">
                        </div>
                        <div class="col-md-3">
                            <label>CNPJ</label>
                            <input type="text" name="cnpj" maxlength="18" onkeypress="DIMask(this, '##.###.###/####-##'); return DIOnlyNumber(this); " class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Telefone</label>
                            <input type="text" name="telefone" maxlength="14" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this); " class="form-control">
                        </div> 
                        <div class="col-md-5">
                            <label>Nome do Contato</label>
                            <input type="text" name="contato"  class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Telefone contato</label>
                            <input type="text" name="telefone_contato" maxlength="14" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this); " class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Celular contato</label>
                            <input type="text" name="celular_contato" maxlength="14" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this); " class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label>E-mail</label>
                            <input type="email" name="email" class="form-control">
                        </div> 
                        <div class="col-md-2">
                            <label>CEP</label>
                            <input type="text" name="ENDERECO.cep" class="form-control" id="cep" maxlength="9" onkeypress="DIMask(this, '#####-###'); buscarCEP(this); return DIOnlyNumber(this); " required="">
                        </div> 
                        <div class="col-md-6">
                            <label>Endereco</label>
                            <input type="text" name="ENDERECO.endereco1" id="endereco" class="form-control" required="">
                        </div>
                        <div class="col-md-2">
                            <label>Número</label>
                            <input type="text" name="ENDERECO.numero" id="numero" class="form-control" required="">
                        </div>
                        <div class="col-md-4">
                            <label>Bairro</label>
                            <input type="text" name="ENDERECO.bairro" id="bairro" class="form-control" required="">
                        </div>
                        <div class="col-md-4">
                            <label>Cidade</label>
                            <select class="form-control" name="ENDERECO.cidade">
                                <option value="">Selecionar</option>
                                <option value="São Paulo">São Paulo</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Estado</label>
                            <select class="form-control" name="ENDERECO.estado">
                                <option value="SP">SP</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label>Complemento</label>
                            <textarea name="ENDERECO.complemento" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>
}


<div class="row"> 
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Fornecedores
                <span class="label label-info pull-right">@Model.Count Fornecedores</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>CNPJ</th>
                            <th>Razão Social</th>
                            <th>Contato</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var fornecedor in Model)
                        {
                        <tr>
                            <td>@fornecedor.cnpj</td>
                            <td>@fornecedor.razao_social</td>
                            <td>@fornecedor.telefone</td>
                            <td>@fornecedor.telefone_contato</td>
                            <td>
                                <div class="btn-group pull-right"> 
                                    <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opções <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@string.Format("/Estoque/DetalhesFornecedor?id_fornecedor={0}", fornecedor.id)">Ver Detalhes</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div> 