﻿@model BuffetWebManager.Models.Estoque.ListarIngredientes
@{
    ViewBag.Title = "Ingredientes";
}

<script src="~/Content/Buffet/Estoque/Estoque.js"></script>

@if (Html.Permissoes(Permitir.Criar, Conteudo.Fornecedor))
{
    foreach (var ingrediente in Model.ingredientes)
    {
        <div class="modal fade bs-example-modal-lg" id="@ingrediente.id" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xs">
                <div class="modal-content" style=" height: 300px; " id="modal_content_fornecedores">
                    <div class="modal-body">
                        <h3 class="text-center">Fornecedores de @ingrediente.marca</h3>
                        <table class="table">
                            <tr>
                                <td>Razão social</td>
                                <td>CNPJ</td>
                                <td>Telefone</td>
                                <td></td>
                            </tr>
                            @foreach (var fornecedor in ingrediente.FORNECEDOR_INGREDIENTE)
                            {
                                <tr>
                                    <td>@Model.fornecedores.FirstOrDefault(f => f.id == fornecedor.id_fornecedor).razao_social</td>
                                    <td>@Model.fornecedores.FirstOrDefault(f => f.id == fornecedor.id_fornecedor).cnpj</td>
                                    <td>@Model.fornecedores.FirstOrDefault(f => f.id == fornecedor.id_fornecedor).telefone</td>
                                    <td><a href="/Estoque/DetalhesFornecedor?id_fornecedor=@fornecedor.id_fornecedor" class="btn btn-xs btn-success pull-right">Detalhes</a> </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    <form class="form-horizontal form-border no-margin" method="post" action="/Estoque/SalvarIngrediente">
        <input type="hidden" name="deCardapio" value="@ViewBag.deCardapio" />
        <div class="modal fade bs-example-modal-lg" id="fornecedores" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xs">
                <div class="modal-content" style=" height: 300px; " id="modal_content_fornecedores">
                    <div class="modal-body">
                        <h3 class="text-center">Fornecedores</h3>
                        <div class="col-md-12 text-center">
                            <div class="col-md-9">
                                <select class="form-control" required="" name="[0].id_fornecedor">
                                    <option value="">Selecione</option>
                                    @foreach (var fornecedor in Model.fornecedores)
                                {
                                    <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                }
                                </select>
                                @for (int i = 0; i < Model.fornecedores.Count; i++)
                            {
                                <div style="display:none; margin-top: 15px; " id="@string.Format("{0}id_fornecedor", i)">
                                    <select class="form-control" name="@string.Format("{0}id_fornecedor", i)">
                                        <option value="">Selecione</option>
                                        @foreach (var fornecedor in Model.fornecedores)
                                        {
                                    <option value="@fornecedor.id">@fornecedor.razao_social</option>
                                        }
                                    </select>
                                </div>
                            }
                            </div>
                            <div class="col-md-3">
                                <input type="button" onclick="adicionarFornecedor(this, @Model.fornecedores.Count)" class="btn btn-success" value="+">
                                <input type="button" onclick="removerFornecedor(this, @Model.fornecedores.Count)" class="btn btn-danger" value="-">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Novo Ingrediente
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Medida</label>
                                <select class="form-control" required name="id_unidade_medida">
                                    <option value="">Selecione</option>
                                    @foreach (var unidade in Model.unidade_medida)
                                    {
                                    <option value="@unidade.id">@unidade.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Marca</label>
                                <input type="text" name="marca" required class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Valor Custo</label>
                                <input type="text" name="valor_custo" required class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Qtd. Embalagem</label>
                                <input type="text" name="quantidade_embalagem" required class="form-control">
                            </div>

                            <div class="col-md-2">
                                <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#fornecedores" value="Fornecedores" style=" margin-top: 20px; " />
                            </div>

                            <div class="col-md-12">
                                <label>Descrição</label>
                                <textarea name="descricao" required class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success" id="btn_salvar">Confirmar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Ingredientes
                <span class="label label-info pull-right">@Model.ingredientes.Count Ingredientes</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Descrição</th>
                            <th>Medida</th>
                            <th>Quantidade</th>
                            <th>Valor Custo</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var ingrediente in Model.ingredientes)
                    {
                        <tr>
                            <td>@ingrediente.marca</td>
                            <td>@ingrediente.descricao</td>
                            <td>@ingrediente.UNIDADE_MEDIDA.nome</td>
                            <td>@ingrediente.quantidade_embalagem</td>
                            <td>@ingrediente.valor_custo</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opções <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(o)" data-toggle="modal" data-target="#@ingrediente.id">Fornecedores</a></li>
                                        <li><a href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}", ingrediente.id)">Ver Detalhes</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>
