﻿<tr class="tr-row">
    <td>
        <img style=" width: 100px; height: 100px; border-radius: 20px; padding: 15px;" src="http://www.buffetweb.com/Sites/Arquivos/Empresas/__NOME_AUTENTICACAO_LOCAL__/LocalEvento/__ID_LOCALEVENTO___0.png" alt="Alternate Text" />
    </td>
    <td style="width: 380px; min-width: 380px; max-width: 380px;">
        <table>
            <tr>
                <td style="font-family: Arial; font-size: 20px; color: gray;">__TITULO__</td>
            </tr>
            <tr>
                <td style="font-family: Arial; font-size: 15px; color: gray;">__DESCRICAO__</td>
            </tr>
        </table>
    </td>
    <td align="right">
        <a href="__DOMINIO__/Proposta/VisualizarProposta?autenticacao=__AUTENTICACAO_PROPOSTA" style=" background-color: rgb(113, 88, 157); padding: 15px; border-radius: 4px; font-size: 10px; text-decoration: none; color: white; font-family: Arial;">VISUALIZAR PROPOSTA</a>
    </td>
</tr>
<tr>
    <td colspan="4">
        <hr />
    </td>
</tr>