﻿.onSelect {
    background-color: #394754;
    border-radius: 5px;
    cursor: pointer;
    display: inline-table;
}

.ofSelect {
    border-radius: 5px;
    cursor: pointer;
    display: inline-table;
}

.ofSelectCheck {
    display: none;
}
