﻿@model BuffetWeb.Models.OutrosCadastros.OutrosCadastros

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Tipo de Evento </div>
            <div class="panel-body">
                <div class="form-group">
                    <form action="/OutrosCadastros/NovaTipoFesta" method="post">
                        <div class="col-md-9">
                            <label>Nome do Evento</label>
                            <input type="text" name="nome" id="nome" class="form-control input-sm parsley-validated" required title="Não esqueça este campo!">
                        </div>
                        <div class="col-md-3">
                            <input style=" margin-top: 20px; " type="submit" class="btn btn-success col-md-12" value="Confirmar" />
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-striped dataTable" id="dataTable">

                @foreach (var festas in Model.tipo_evento)
                {
                    <tr>
                        <td>@festas.nome</td>
                        @if (festas.POTENCIAL_CLIENTE.Count == 0)
                        {
                            <td align="right">
                                <form action="/OutrosCadastros/ApagarNovaTipoFesta" method="post">
                                    <input type="hidden" name="id" value="@festas.id" />
                                    <input type="submit" class="btn btn-success btn-xs" value=" Apagar" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Unidade de medida </div>
            <div class="panel-body">
                <div class="form-group">
                    <form action="/OutrosCadastros/NovoUnidadeMedida" method="post">
                        <div class="col-md-6">
                            <label>Nome da Unidade</label>
                            <input type="text" name="nome" id="nome" class="form-control input-sm parsley-validated" required title="Não esqueça este campo!">
                        </div>
                        <div class="col-md-6">
                            <label>Sigla</label>
                            <input type="text" name="sigla" id="sigla" class="form-control input-sm parsley-validated" required title="Não esqueça este campo!">
                        </div>
                        <div class="col-md-12">
                            <input style=" margin-top: 20px; " type="submit" class="btn btn-success pull-right" value="Confirmar" />
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-striped dataTable" id="dataTable">

                @foreach (var festas in Model.unidade_itens)
                {
                    <tr>
                        <td>@festas.nome</td>
                        @if (festas.ITENS_CARDAPIO.Count == 0)
                        {
                            <td align="right">
                                <form action="/OutrosCadastros/ApagarNovoUnidadeMedida" method="post">
                                    <input type="hidden" name="id" value="@festas.id" />
                                    <input type="submit" class="btn btn-success btn-xs" value=" Apagar" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>  