﻿.text-cartao-american {
    background: url('/Content/Buffet/Planos/images/cartoes/american.png') right no-repeat content-box;
}

.text-cartao-aura {
    background: url('/Content/Buffet/Planos/images/cartoes/logo_aura.png') right no-repeat content-box;
}

.text-cartao-diners {
    background: url('/Content/Buffet/Planos/images/cartoes/diners.png') right no-repeat content-box;
}

.text-cartao-discover {
    background: url('/Content/Buffet/Planos/images/cartoes/discover.png') right no-repeat content-box;
}

.text-cartao-elo {
    background: url('/Content/Buffet/Planos/images/cartoes/elo.png') right no-repeat content-box;
}

.text-cartao-master {
    background: url('/Content/Buffet/Planos/images/cartoes/mastercard.png') right no-repeat content-box;
}

.text-cartao-visa {
    background: url('/Content/Buffet/Planos/images/cartoes/visa.png') right no-repeat content-box;
}
