#content .content-article {
    margin-top: 80px;
    width: 100%;
    font-family: Lato;
}

    #content .content-article .content-wrap {
        width: 940px;
        margin: 0 auto;
    }

#content-nav {
    background: #4899a2;
}

    #content-nav li.is-active {
        color: #fff;
        background: #2e6d73;
    }

        #content-nav li.is-active > a {
            color: #fff !important;
        }

#content .content-article {
    margin-top: 0px;
}

.plan-price-equal-to {
    font-size: 0.22em;
    position: absolute;
    top: -45px;
    left: 0px;
    text-align: center;
    width: 100%;
}

.plan-price-currency {
    top: 42px;
    left: -20px;
}

.plan-price-periodicity {
    bottom: 15px;
}

.plan-price-cents {
    font-size: 25%;
    top: 10px;
    width: 35px;
    right: -5px;
}

.help-needed {
    background: url('http://img.locaweb.com.br/images/layout/hospedagem/bg-help-needed.20150225142646.jpg') no-repeat top center #3d8b91;
    height: 210px;
    margin: 40px 0;
    padding: 40px 0;
    color: #ffffff;
}

.help-needed-title {
    font-size: 46px;
    margin-bottom: 0px;
}

.help-needed-subtitle {
    font-size: 30px;
    margin-bottom: 25px;
}

.help-needed-action {
    border: 3px solid #ffffff;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    text-transform: uppercase;
}

    .help-needed-action:hover {
        color: #ffffff;
    }

.help-needed-info {
    padding-left: 20px;
    border-left: 1px solid #ffffff;
    padding-top: 5px;
    font-size: 17px;
}

    .help-needed-info strong {
        font-size: 20px;
    }

    .help-needed-info p {
        font-size: 16px;
        margin-bottom: 0px;
    }

.btn-lw-green {
    transition: 0.8s;
}

    .btn-lw-green:hover {
        opacity: 0.8;
        -moz-opacity: 0.8;
        filter: alpha(opacity = 80);
    }

.help-needed-action:hover {
    background: #ffffff;
    color: #4899a2;
    text-decoration: none;
}

.plans-title {
    width: 800px;
    display: block;
    margin: 0 auto;
}

    .plans-title img {
        margin-top: 10px;
    }

    .plans-title .lw-title {
        color: #4899a2;
    }

.lw-title {
    font-family: "Lato";
    font-weight: normal;
    color: #000000;
    font-size: 36px;
    text-align: center;
    margin: 0;
}

.plan {
    /* background: #f5f5f5; */
    border-radius: 5px;
    border: 0px;
    color: #777;
    font-family: "Lato";
}

.plan-title {
    font-size: 18px;
    color: #4899a2;
    background: none;
    margin-bottom: 15px;
    border: 0px;
}

.plan-price {
    background: none;
    height: auto;
}

.plan-price-wrap {
    font-size: 70px;
    color: #777;
}

.plan-price-old {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-bottom: solid 1px #ebbb5e;
    padding-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .plan-price-old > strong {
        position: relative;
        font-size: 24px;
    }

        .plan-price-old > strong:after {
            content: "";
            position: absolute;
            left: -4px;
            bottom: 12px;
            width: 115%;
            height: 2px;
            background: #ebbb5e;
            -webkit-transform: rotate(-12deg);
            -moz-transform: rotate(-12deg);
            -ms-transform: rotate(-12deg);
            -o-transform: rotate(-12deg);
            transform: rotate(-12deg);
        }

.plan-price-warning {
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    border-top: solid 1px #ebbb5e;
    padding-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.plan-price-value, .plan-price-cents {
    background: transparent !important;
    color: #777;
}

.plan-season {
    height: 50px;
}

.plan-season-select, .plan-season-selected, #content #plan1 .plan-season-select {
    position: absolute;
    width: 145px;
    padding-left: 15px;
    background: #ebbb5e;
    color: #121212;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    display: none;
    z-index: 4;
}

.plan-season-select {
    width: 145px !important;
    padding-left: 0 !important;
}

    .plan-season-select li {
        padding-left: 15px;
        width: 100%;
        width: 240px;
    }

        .plan-season-select li:hover {
            color: #fff;
            background:#4A4A4B;
        }

.plan-season-selected {
    display: block;
    z-index: 1;
}

    .plan-season-selected:after, .plan-season-select:after {
        position: absolute;
        top: 23px;
        margin-top: -3px;
        right: 10px;
        content: "";
        border: 5px solid transparent;
        border-top: 5px solid #000000;
    }

.plan-season-select.is-active {
    display: block;
    height: 100px;
}

.plan-season-select.is-active:after {
    display: block;
    top: 18px;
    border: 5px solid transparent;
    border-bottom: 5px solid #000000;
}

.plan-season-select.is-active {
    height: 100px;
}

.plan-action .btn-lw {
    background: #4a4a4b;
    color: #ffffff;
    text-shadow: none;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}

.plan-action, .plan-season, .plan-price {
    padding: 0 30px;
    margin-left: -27%;
}

.plan-description ul li {
    font-size: 16px;
    border-top: 1px solid #121212;
    height: 35px;
    line-height: 35px;
    display: block;
    margin: 0 auto;
    width: 90%;
}

    .plan-description ul li.email {
        background: #333333;
        color: #ffffff;
        width: 100%;
    }

    .plan-description ul li.db, #plan1 .plan-description ul li.db {
        border-top: 0px;
    }

    .plan-description ul li.first, #plan1 .plan-description ul li.first {
        border-top: 0px;
    }

#plan4 {
    padding-bottom: 0px;
}

    #plan4 .plan-action {
        margin-top: 22px;
    }

    #plan4 .plan-description {
        margin-top: 20px;
        background: #e8e7e8;
        padding: 42px 0 45px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

#plan1, #plan1 .plan-title, #plan1 .plan-price-wrap, #plan1 .plan-price-cents, #plan1 .plan-price-value {
    background: #4899a2;
    color: #ffffff;
    border-radius: 6px;
}

.plan-description .renovacao {
    height: 50px;
    padding-top: 10px;
    line-height: 16px;
    color: #777777;
    font-size: 13px;
    border-top: 1px dashed #a2a2a2;
}

#plan1 .plan-description .renovacao {
    color: #ebebeb;
    border-top: 1px dashed #81b0b4;
}

#plan1 .plan-action .btn-lw {
    background: #ffde00;
    color: #4899a2;
}

#plan1 .plan-description ul li {
    border-top: 1px solid #2b666c;
}

.plan-obs {
    margin-top: 15px;
    text-align: left;
}

.advantages-list {
    margin-top: 60px;
    text-align: center;
}

.advantages ul li img {
    margin: 0 auto;
}

.advantages-title {
    margin: 25px 0 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}

.advantages ul li p {
    font-size: 16px;
    color: #777777;
}

.why-locaweb {
    background: #333333;
    position: relative;
    color: #ffffff;
    padding: 10px 0 40px;
    margin: 60px 0px 0;
}

    .why-locaweb:after, .why-locaweb:before {
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -40px;
        content: "";
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 20px solid transparent;
        border-top: 20px solid #ffffff;
    }

    .why-locaweb:after {
        top: auto;
        bottom: -40px;
        border-top: 20px solid #333333;
    }

    .why-locaweb .lw-title {
        color: #ffffff;
        margin: 40px auto;
    }

.why-locaweb-select {
    height: 90px;
}

    .why-locaweb-select li {
        text-align: center;
        position: relative;
        color: #999999;
        cursor: pointer;
    }

        .why-locaweb-select li.is-active {
            color: #ffffff;
        }

            .why-locaweb-select li.is-active:after {
                position: absolute;
                content: "";
                border: 10px solid transparent;
                border-top: 10px solid #ffffff;
                bottom: 0px;
                margin-bottom: -35px;
                left: 50%;
                margin-left: -10px;
            }

            .why-locaweb-select li.is-active .why-locaweb-select-number {
                background: #ffffff;
            }

.why-locaweb-select-number {
    border-radius: 50%;
    height: 35px;
    line-height: 35px;
    width: 35px;
    color: #333333;
    display: block;
    background: #999999;
    margin: 0 auto 15px;
    font-size: 24px;
    font-weight: bold;
}

.why-locaweb-select-content {
    margin-top: 25px;
}

.why-locaweb-select-content-text p[data-id="1"] {
    display: block;
}

.why-locaweb-select-content-text p {
    margin-top: 80px;
    line-height: 25px;
    padding-right: 25px;
    font-size: 16px;
    display: none;
}

.why-locaweb-select-content-text .btn-lw {
    color: #ffffff;
    text-shadow: none;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    width: 190px;
    background: #4899a2;
}

.why-locaweb-select-content-img img[data-id="1"] {
    display: block;
}

.why-locaweb-select-content-img img {
    display: none;
}

.migration {
    background: #f5f5f5;
    padding: 80px 0 60px;
    position: relative;
}

    .migration:after {
        position: absolute;
        content: "";
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 20px solid transparent;
        border-top: 20px solid #f5f5f5;
        bottom: -40px;
        left: 50%;
        margin-left: -40px;
    }

    .migration img {
        display: block;
        margin: 0px auto;
    }

    .migration .lw-title {
        margin: 10px 0;
    }

    .migration .lw-subtitle {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .migration ul li {
        border-radius: 7px;
        position: relative;
        text-align: center;
        padding-top: 20px;
        height: 120px;
        line-height: 24px;
        color: #ffffff;
        font-size: 18px;
    }

        .migration ul li.first {
            background: #33777e;
        }

        .migration ul li.second {
            background: #4199a2;
        }

        .migration ul li.third {
            background: #5ab3bd;
        }

.migration-step-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 30px;
}

.migration ul li p {
    padding: 5px 50px;
}

.migration .btn-lw {
    margin: 20px auto;
    display: block;
    height: 50px;
    line-height: 50px;
    background: #f56414;
    width: 240px;
    text-shadow: none;
    font-size: 18px;
}

.characteristics {
    line-height: 24px;
    font-size: 16px;
    color: #777777;
}

    .characteristics .lw-title {
        margin: 40px auto 5px;
    }

    .characteristics .fleft strong, .characteristics .fright strong {
        display: block;
        margin-top: 25px;
        color: #333333;
    }

    .characteristics small {
        font-size: 14px;
        line-height: 24px;
    }

    .characteristics .fright small strong {
        margin-top: 0px;
    }

.dev-choice {
    font-size: 13px;
}

    .dev-choice .content-wrap div {
        background: #f5f5f5;
        border-radius: 7px;
        padding: 30px 0px 25px;
    }

    .dev-choice strong, .dev-choice p, .dev-choice .btn-lw {
        margin-left: 25px;
        color: #000000;
    }

    .dev-choice strong {
        margin: 0px 0 15px 25px;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
    }

    .dev-choice p {
        padding-right: 25px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    .dev-choice .btn-lw {
        height: 40px;
        line-height: 40px;
        background: #4899a2;
        color: #ffffff;
        text-shadow: none;
        font-size: 18px;
        text-transform: none;
        width: 145px;
    }

.still-searching .lw-title {
    margin: -10px;
}

.still-searching .lw-subtitle {
    margin-bottom: 20px;
}

.still-searching-img {
    display: block;
}

.still-searching .column-half h3 {
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    padding-left: 25px;
}

.still-searching h3.revenda {
    background: #333333;
}

.still-searching h3.cloud {
    background: #4371bf;
}

.still-searching .product-info {
    background: #f5f5f5;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-bottom: 50px;
}

.still-searching p {
    padding: 20px 25px;
    line-height: 24px;
    font-size: 18px;
    color: #000000;
}

.still-searching .btn-lw {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    text-shadow: none;
    margin-bottom: 20px;
}

    .still-searching .btn-lw img {
        vertical-align: -4px;
        margin-right: 5px;
    }

    .still-searching .btn-lw.plesk {
        background: #647fa2;
        margin: 0px 15px 0 25px;
    }

    .still-searching .btn-lw.cpanel {
        background: #61abb0;
    }

    .still-searching .btn-lw.cloud {
        background: #4574c2;
        margin-left: 25px;
        width: 290px;
    }

dl .plan-description ul li.two-lines {
    line-height: 20px;
    height: 50px;
    padding-top: 10px;
}

    dl .plan-description ul li.two-lines small {
        font-size: 13px;
    }

#lw-produtos-hospedagem-de-sites-compare #plan1 {
    font-weight: bold;
}

#lw-produtos-hospedagem-de-sites-compare .plan-title {
    color: #333333;
}

#lw-produtos-hospedagem-de-sites-compare #plan1 .plan-title {
    color: #ffffff;
    text-align: left;
}

#lw-produtos-hospedagem-de-sites-compare .plan-title strong {
    display: block;
}

#lw-produtos-hospedagem-de-sites-compare .plan {
    margin-top: 24px;
}

#lw-produtos-hospedagem-de-sites-compare #plan1 {
    margin-top: 0px;
}

#lw-produtos-hospedagem-de-sites-compare .plan-title img {
    margin-left: 45px;
    margin-right: 10px;
}

#lw-produtos-hospedagem-de-sites-compare .plan-title .logo {
    display: block;
    margin: 5px auto;
}

.host-question {
    font-size: 24px;
    text-align: center;
    margin: 45px auto 20px;
}

.hire-now {
    display: block;
    margin: 0 auto;
    background: #ed1c24;
    text-shadow: none;
    height: 50px;
    line-height: 50px;
    width: 200px;
    font-size: 16px;
    transition: 0.8s;
}

    .hire-now:hover {
        background: #ed1c24;
        opacity: 0.8;
        -moz-opacity: 0.8;
        filter: alpha(opacity = 80);
    }

#slider {
    height: 180px;
    display: block;
    position: relative;
    width: 780px;
    margin: 0 auto;
}

    #slider .overflow ul {
        padding-top: 30px;
        position: relative;
    }

    #slider .nav-carousel {
        top: 70px;
    }

.disclaimer {
    text-align: center;
    margin: 0px 0 25px;
}

#slider_left {
    left: -60px;
    width: 20px;
    height: 35px;
    background: url('http://img.locaweb.com.br/images/layout/hospedagem/compare/arrow-sprite.20150304134048.jpg') no-repeat;
}

    #slider_left.inactive {
        background-position: left bottom;
    }

#slider_right {
    right: -60px;
    width: 20px;
    height: 35px;
    background: url('http://img.locaweb.com.br/images/layout/hospedagem/compare/arrow-sprite.20150304134048.jpg') right top no-repeat;
}

    #slider_right.inactive {
        background-position: right bottom;
    }

#slider {
    text-align: center;
}

.testimonials-slider-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}

.testimonials-slider-person {
    font-size: 14px;
}

    .testimonials-slider-person strong {
        font-size: 18px;
        font-weight: bold;
        display: block;
    }

.lw-subtitle {
    color: #000000;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.lw-host-info {
    text-align: center;
}

.lw-host-info-type {
    border: 1px solid #f2f2f2;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    overflow: visible;
    margin-bottom: 30px;
    color: #555555;
}

    .lw-host-info-type li {
        cursor: pointer;
    }

    .lw-host-info-type .is-active {
        background: #e7e7e7;
        font-weight: bold;
        position: relative;
    }

        .lw-host-info-type .is-active:before {
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -10px;
            content: "";
            border: 10px solid transparent;
            border-top: 10px solid #e7e7e7;
        }

.lw-host-info-content {
    background: url('http://img.locaweb.com.br/images/layout/hospedagem/conheca/lw-host-info-content.20150225103707.jpg') no-repeat top center;
    height: 370px;
    position: relative;
}

.lw-host-info-content-video {
    height: 270px;
    width: 430px;
    position: absolute;
    top: 19px;
    left: 256px;
}

.lw-host-info-content-text {
    font-size: 20px;
    line-height: 25px;
    color: #333333;
    padding: 0 15px;
}

#content .lw-host-info-content-action {
    background: #4899a2;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-shadow: none;
    margin-top: 20px;
}

.separator-arrow-down {
    border: 2px solid #dadada;
    position: relative;
    margin: 70px 0;
}

    .separator-arrow-down:before, .separator-arrow-down:after {
        position: absolute;
        content: "";
        top: 0px;
        left: 50%;
        margin-left: -40px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 20px solid transparent;
        border-top: 20px solid #dadada;
    }

    .separator-arrow-down:after {
        top: -3px;
        border-top: 20px solid #ffffff;
    }

.lw-host-free ul li {
    text-align: center;
    color: #333333;
    font-size: 15px;
    margin-top: 40px;
}

    .lw-host-free ul li img {
        margin: 0 auto 30px;
    }

.lw-host-free .lw-host-free-feature-title {
    font-weight: bold;
    font-size: 17px;
}

.lw-in-numbers {
    text-align: center;
    font-size: 24px;
    color: #333333;
}

    .lw-in-numbers ul {
        margin-bottom: 50px;
    }

        .lw-in-numbers ul li img {
            margin: 0 auto 25px;
            display: block;
        }

div.faq p.pergunta {
    background: url("http://img.locaweb.com.br/images/layout/bullet_seta_cinza.20130524184318.gif") no-repeat left -36px transparent;
    cursor: pointer;
    font-weight: bold;
    margin: 17px 0 0 0;
    padding-left: 12px;
    color: #535353;
    font-size: 16px;
}

div.faq p.resposta {
    color: #535353;
    display: none;
    font-weight: normal;
    margin-top: 6px;
    padding-left: 12px;
    font-size: 16px;
}

.page-title {
    margin-left: 8px;
}

.page-title-img {
    margin-top: -8px !important;
}

.lw-produtos #content-header .content > p {
    margin-left: 10px;
}

.lw-produtos #content-header .content {
    height: 172px;
}

.list-contract-item {
    margin-bottom: 20px;
}
