﻿@{
    ViewBag.Title = "Planos";
}

<div class="row-fluid">
    <div id="jm-content" class="span12">
        <div id="jm-maincontent">
            <div id="dj-classifieds" class="clearfix djcftheme-jm-joomads-ef4">
                <div class="dj-items-blog">
                    <div class="djcf_items_blog">
                        <div class="item_box clearfix" style="width:20%;">
                            <div class="item_box_bg0">
                                <div class="item_box_in">
                                    <div class="item_box_in2" style="height: 800px;">
                                        <div class="title text-center">
                                            <h2>
                                                GRATIS
                                            </h2>
                                            <h4>-</h4>
                                        </div>

                                        <div class="djcf_after_title">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="1">Plano Mensal</option>
                                                    <option value="6">Plano Semestral</option>
                                                    <option value="12">Plano Anual</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="button" class="btn btn-primary span12" style=" height: 50px; margin-top: 15px; " value="Contratar" />
                                            </div> 
                                        </div>

                                        <div style=" margin-top: 20px; ">
                                            <div class="title text-center">
                                                Informações
                                            </div>
                                            <div class="title text-center">
                                                -
                                            </div>
                                            <div class="title text-center">
                                                Cotações*
                                            </div>
                                            <div class="title text-center">
                                                -
                                            </div>
                                            <div class="title text-center" style="background-color:black">
                                                SEM <br />
                                                Destaque
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>