﻿@model ICollection<BuffetDataManager.Models.B_PLANOS_DISPONIVEIS>
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Planos";
    var locais = Html.LocalEvento();
}

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<link href="~/Content/Buffet/Planos/css/all.css" rel="stylesheet" />
<link href="~/Content/Buffet/Planos/css/planos.css" rel="stylesheet" />
<script src="~/Content/Buffet/Planos/Planos.js"></script>

<script src="~/Content/Buffet/Planos/services-plugin/js/jquery.touchwipe.min.js"></script>
<script src="~/Content/Buffet/Planos/services-plugin/js/jquery.cssAnimate.mini.js"></script>
<script src="~/Content/Buffet/Planos/services-plugin/js/jquery.easing.1.3.js"></script>
<script src="~/Content/Buffet/Planos/services-plugin/js/jquery.mousewheel.min.js"></script>
<script src="~/Content/Buffet/Planos/services-plugin/js/jquery.themepunch.services.min.js"></script>

<link href="~/Content/Buffet/Planos/services-plugin/css/settings.css" rel="stylesheet" />

<div class="row">
    <br style="clear:left;" />
    <div class="example-wrapper" style="margin-top:170px;">
        <div id="services-example-1" class="theme1">
            <ul>
                @foreach (var plano in Model)
                {
                    var Gratis = (plano.valor_anual == 0 && plano.valor_trimestral == 0 && plano.valor_semestral == 0 && plano.valor_mensal == 0);
                    var ApenasMensal = (plano.valor_anual == 0 && plano.valor_trimestral == 0 && plano.valor_semestral == 0 && plano.valor_mensal != 0);
                    <li>
                        <img class="thumb" style="height: 160px;width: 200px;" src="@(!string.IsNullOrEmpty(plano.img_miniatura) ? plano.img_miniatura : "http://placehold.it/200x200/EFEFEF/EBBB5E")" data-bw="@(!string.IsNullOrEmpty(plano.img_miniatura) ? plano.img_miniatura : "http://placehold.it/200x200/EFEFEF/EBBB5E")">
                        <div style="margin-top:16px"></div>
                        <dl id="plan2" class="plan column-quarter plan-height space-right fleft" data-rel="2">
                            <dd class="plan-price">
                                @if (plano.valor_mensal != 0 && !ApenasMensal)
                                {
                                    <span class="plan-price-old">de <strong>@plano.valor_mensal</strong> por</span>
                                }
                                else
                                {
                                    <span class="plan-price-old"> - </span>
                                }
                                <p class="plan-price-wrap">
                                    @if (plano.valor_anual != 0)
                                    {
                                        <span class="plan-price-currency">R$</span>
                                        <span class="plan-price-value">@plano.valor_anual.ToString().Replace(".", ",").Split(',')[0]</span>
                                        <span class="plan-price-cents">,@plano.valor_anual.ToString().Replace(".", ",").Split(',')[1]*</span>
                                        <span class="plan-price-periodicity">/mês</span>
                                    }
                                    else if (plano.valor_semestral != 0)
                                    {
                                        <span class="plan-price-currency">R$</span>
                                        <span class="plan-price-value">@plano.valor_semestral.ToString().Replace(".", ",").Split(',')[0]</span>
                                        <span class="plan-price-cents">,@plano.valor_semestral.ToString().Replace(".", ",").Split(',')[1]*</span>
                                        <span class="plan-price-periodicity">/mês</span>
                                    }
                                    else if (plano.valor_trimestral != 0)
                                    {
                                        <span class="plan-price-currency">R$</span>
                                        <span class="plan-price-value">@plano.valor_trimestral.ToString().Replace(".", ",").Split(',')[0]</span>
                                        <span class="plan-price-cents">,@plano.valor_trimestral.ToString().Replace(".", ",").Split(',')[1]*</span>
                                        <span class="plan-price-periodicity">/mês</span>
                                    }
                                    else if (plano.valor_mensal != 0)
                                    {
                                        <span class="plan-price-currency">R$</span>
                                        <span class="plan-price-value">@plano.valor_mensal.ToString().Replace(".", ",").Split(',')[0]</span>
                                        <span class="plan-price-cents">,@plano.valor_mensal.ToString().Replace(".", ",").Split(',')[1]*</span>
                                        <span class="plan-price-periodicity">/mês</span>
                                    }
                                    else
                                    {
                                        <span class="plan-price-value"><strong>Grátis</strong></span>
                                    }
                                </p>
                                <span class="plan-price-warning"></span>
                            </dd>

                            <dd class="plan-action">
                                <a href="#" class="btn-lw btn-lw-green btn-contrate morebutton" style="opacity: 1;width: 150px;margin-left: 35px;">Ver Detalhes</a>
                            </dd>
                        </dl>

                        <div class="page-more">
                            <img class="big-image" style=" width: 500px; height: 300px; " src="@(!string.IsNullOrEmpty(plano.img_normal) ? plano.img_normal : "http://placehold.it/498x280/EFEFEF/EBBB5E")">
                            <div class="details" style=" width: 335px; ">
                                <h1 style=" font-size: 30px; ">@plano.nome</h1><br>
                                @Html.Raw(plano.descricao)
                            </div>
                            <div>
                                <section class="lw-plans overflow" style=" height: 500px; ">
                                    <form action="/Planos/AdicionarPlano" method="post">
                                        <div class="content-wrap" style=" margin-top: 10px; ">
                                            <dl style="margin-left: 14px;" class="plan column-quarter plan-height space-right fleft">
                                                <dd class="plan-price">
                                                    @if (ApenasMensal)
                                                    {
                                                        <span class="plan-price-old"> - </span>
                                                    }
                                                    else if (plano.valor_mensal != 0)
                                                    {
                                                        <span class="plan-price-old" id="@string.Format("valor_mensal_{0}", plano.id)" data-valor="@plano.valor_mensal">de R$ <strong>@plano.valor_mensal</strong> por</span>
                                                    }
                                                    else if (plano.valor_trimestral != 0)
                                                    {
                                                        <span class="plan-price-old" id="@string.Format("valor_mensal_{0}", plano.id)" data-valor="@plano.valor_mensal">de R$ <strong>@plano.valor_trimestral</strong> por</span>
                                                    }
                                                    else if (plano.valor_semestral != 0)
                                                    {
                                                        <span class="plan-price-old" id="@string.Format("valor_mensal_{0}", plano.id)" data-valor="@plano.valor_mensal">de R$ <strong>@plano.valor_semestral</strong> por</span>
                                                    }
                                                    else if (plano.valor_anual != 0)
                                                    {
                                                        <span class="plan-price-old" id="@string.Format("valor_mensal_{0}", plano.id)" data-valor="@plano.valor_mensal">de R$ <strong>@plano.valor_anual</strong> por</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="plan-price-old"> - </span>
                                                    }
                                                    <p class="plan-price-wrap">
                                                        @if (plano.valor_anual != 0)
                                                        {
                                                            <span class="plan-price-currency">R$</span>
                                                            <span class="plan-price-value" id="@string.Format("valor_atual_before_{0}", plano.id)">@plano.valor_anual.ToString().Replace(".", ",").Split(',')[0]</span>
                                                            <span class="plan-price-cents" id="@string.Format("valor_atual_after_{0}", plano.id)">,@plano.valor_anual.ToString().Replace(".", ",").Split(',')[1] *</span>
                                                            <span class="plan-price-periodicity">/mês</span>
                                                        }
                                                        else if (plano.valor_semestral != 0)
                                                        {
                                                            <span class="plan-price-currency">R$</span>
                                                            <span class="plan-price-value" id="@string.Format("valor_atual_before_{0}", plano.id)">@plano.valor_semestral.ToString().Replace(".", ",").Split(',')[0]</span>
                                                            <span class="plan-price-cents" id="@string.Format("valor_atual_after_{0}", plano.id)">,@plano.valor_semestral.ToString().Replace(".", ",").Split(',')[1] *</span>
                                                            <span class="plan-price-periodicity">/mês</span>
                                                        }
                                                        else if (plano.valor_trimestral != 0)
                                                        {
                                                            <span class="plan-price-currency">R$</span>
                                                            <span class="plan-price-value" id="@string.Format("valor_atual_before_{0}", plano.id)">@plano.valor_trimestral.ToString().Replace(".", ",").Split(',')[0]</span>
                                                            <span class="plan-price-cents" id="@string.Format("valor_atual_after_{0}", plano.id)">,@plano.valor_trimestral.ToString().Replace(".", ",").Split(',')[1] *</span>
                                                            <span class="plan-price-periodicity">/mês</span>
                                                        }
                                                        else if (plano.valor_mensal != 0)
                                                        {
                                                            <span class="plan-price-currency">R$</span>
                                                            <span class="plan-price-value" id="@string.Format("valor_atual_before_{0}", plano.id)">@plano.valor_mensal.ToString().Replace(".", ",").Split(',')[0]</span>
                                                            <span class="plan-price-cents" id="@string.Format("valor_atual_after_{0}", plano.id)">,@plano.valor_mensal.ToString().Replace(".", ",").Split(',')[1] *</span>
                                                            <span class="plan-price-periodicity">/mês</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="plan-price-value">
                                                                Grátis
                                                            </span>
                                                        }
                                                    </p>
                                                    <span class="plan-price-warning"></span>
                                                </dd>
                                            </dl>
                                            <dl style="width: 190px; margin-left: 30px;" class="plan column-quarter plan-height space-right fleft">
                                                <dd class="plan-season">
                                                    @if (locais.Count != 0)
                                                    {
                                                        <div class="form-group" @Html.Dica("top", "Você precisa informar para qual local de evento será adicionado o plano!")>
                                                            <select class="form-control" required name="id_local_evento">
                                                                <option value="">Local do Evento</option>
                                                                @foreach (var local in locais)
                                                                {
                                                                    <option value="@local.id">@local.nome</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <input type="hidden" name="id_local_evento" value="@locais.FirstOrDefault().id" />
                                                        </div>
                                                    }
                                                    @if (!Gratis)
                                                    {
                                                        <div class="form-group">
                                                            <select class="form-control" name="periodo" required onchange="AlteraValorPlano(this, '@plano.id')">
                                                                @if (plano.valor_anual != 0)
                                                                {
                                                                    <option data-valor-before="@plano.valor_anual.ToString().Replace(".", ",").Split(',')[0]" data-valor-after="@plano.valor_anual.ToString().Replace(".", ",").Split(',')[1]" value="ANUAL">Anual</option>
                                                                }
                                                                @if (plano.valor_semestral != 0)
                                                                {
                                                                    <option data-valor-before="@plano.valor_semestral.ToString().Replace(".", ",").Split(',')[0]" data-valor-after="@plano.valor_semestral.ToString().Replace(".", ",").Split(',')[1]" value="SEMESTRAL">Semestral</option>

                                                                }
                                                                @if (plano.valor_trimestral != 0)
                                                                {
                                                                    <option data-valor-before="@plano.valor_trimestral.ToString().Replace(".", ",").Split(',')[0]" data-valor-after="@plano.valor_trimestral.ToString().Replace(".", ",").Split(',')[1]" value="TRIMESTRAL">Trimestral</option>
                                                                }
                                                                @if (plano.valor_mensal != 0)
                                                                {
                                                                    <option data-valor-before="@plano.valor_mensal.ToString().Replace(".", ",").Split(',')[0]" data-valor-after="@plano.valor_mensal.ToString().Replace(".", ",").Split(',')[1]" value="MENSAL">Mensal</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="periodo" value="GRATIS" />
                                                    }
                                                </dd>
                                            </dl>
                                            <dl style="width: 190px; margin-left: 30px;margin-top: @string.Format("{0}px", Gratis? -30 : 20);" class="plan column-quarter plan-height space-right fleft">
                                                <dd>
                                                    <div class="plan-action">
                                                        <div class="form-group" style=" margin-top: 15%; ">
                                                            <input type="hidden" name="id_plano" value="@plano.id" />
                                                            <input type="submit" class="btn-lw btn-lw-green btn-contrate btn-block" value="Contratar" />
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </form>
                                </section>
                            </div>
                            <div class="closer"></div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();

        jQuery('#services-example-1').services(
            {
                width: 1110,
                height: 380,
                slideAmount: 6,
                slideSpacing: 30,
                touchenabled: "off",
                mouseWheel: "on",
                hoverAlpha: "off",
                hovereffect: "off",
                callBack: function () { }
            });
    });
</script>