﻿@model BuffetWebManager.Models.Planos.MeuCarrinhoModel
@using BuffetWeb.Helpers
@using BuffetWebCielo.Pedido
@{
    ViewBag.Title = "MeuCarrinho";
    var locais = Html.LocalEvento();
    Decimal total = new decimal();
    Decimal desconto = new decimal();
    var Concluido = ViewBag.Concluido != null ? (bool)ViewBag.Concluido : false;
    var Status = ViewBag.Status != null ? (TransacaoStatus)ViewBag.Status : TransacaoStatus.SemStatus;
}

<script src="~/Content/Buffet/Planos/Planos.js"></script>
<link href="~/Content/Buffet/Planos/css/cartoes.css" rel="stylesheet" />
<script src="~/Content/Buffet/Planos/Cartoes.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.Raw(Html.BackButton((bool)ViewBag.backButton))
                Meu Carrinho
            </div>
            <div class="panel-body">
                <div style=" margin-left: 0px; ">
                    <div class="ls-steps" id="passoApasso" style=" min-height: 300px; ">
                        <ol class="ls-steps-nav">
                            <li id="step1Tab">
                                <button class="ls-steps-btn" data-ls-module="steps" data-target="#step1">Carinho</button>
                            </li>
                            <li id="step2Tab">
                                <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2">Pagamento</button>
                            </li>
                            <li id="step3Tab" class="@string.Format("{0}", Concluido == true ? "ls-active" : "")">
                                <button class="ls-steps-btn" data-ls-module="steps" data-target="#step3">Concluído</button>
                            </li>
                        </ol>
                        <div class="ls-steps-main">
                            @if (!Concluido)
                            {
                                <div class="ls-steps-content" id="step1">
                                    <div class="row animated fadeInLeft">
                                        <div class="col-md-12">
                                            <h3>Itens</h3>
                                            <table class="table">
                                                <thead>
                                                    <tr style=" border: 0px; ">
                                                        <th width="35"></th>
                                                        <th>Plano</th>
                                                        <th>Periodo</th>
                                                        <th>Filial</th>
                                                        <th>Data Inicio</th>
                                                        <th>Data Fim</th>
                                                        <th class="text-right">Valor</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.Carrinho)
                                                {
                                                    <tr style=" border: 0px; ">
                                                        <td>
                                                            <div @Html.Dica("left", "Remover Item")>
                                                                <form action="/Planos/ApagarItem" method="post">
                                                                    <input type="hidden" name="id_item" value="@item.id" />
                                                                    <a href="javascript:void(o)" onclick="document.forms[0].submit()">
                                                                        <img width="25" src="~/Content/Buffet/Orcamento/Imagens/icone_remover_conta.png" />
                                                                    </a>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td>@item.B_PLANOS_DISPONIVEIS.nome</td>
                                                        <td>
                                                            <div @Html.Dica("top", "Periodo do plano")>
                                                                @item.periodo
                                                            </div>
                                                        </td>
                                                        @if (locais.Count > 0)
                                                        {
                                                            <td>
                                                                <div @Html.Dica("top", "Este plano será adicionado a este local de evento!")>
                                                                    @item.LOCAL_EVENTO.nome
                                                                </div>
                                                            </td>
                                                        }
                                                        <td>@DateTime.Today.ToShortDateString()</td>
                                                        @switch (item.periodo)
                                                        {
                                                            case "MENSAL":
                                                                <td>@DateTime.Now.AddMonths(1).ToShortDateString()</td>
                                                                if (item.B_PLANOS_DISPONIVEIS.valor_mensal != 0)
                                                                {
                                                                    total += item.B_PLANOS_DISPONIVEIS.valor_mensal;
                                                                    <td align="right">
                                                                        @string.Format("R$ {0}", item.B_PLANOS_DISPONIVEIS.valor_mensal.ToString().Replace(".", ","))
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td align="right"> Grátis </td>
                                                                }
                                                                break;
                                                            case "TRIMESTRAL":
                                                            <td>@DateTime.Now.AddMonths(3).ToShortDateString()</td>
                                                                if (item.B_PLANOS_DISPONIVEIS.valor_trimestral != 0)
                                                                {
                                                                    total += item.B_PLANOS_DISPONIVEIS.valor_trimestral;
                                                                    <td align="right">
                                                                        @string.Format("R$ {0}", item.B_PLANOS_DISPONIVEIS.valor_trimestral.ToString().Replace(".", ","))
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td align="right"> Grátis </td>
                                                                }
                                                                break;
                                                            case "SEMESTRAL":
                                                            <td>@DateTime.Now.AddMonths(6).ToShortDateString()</td>
                                                                if (item.B_PLANOS_DISPONIVEIS.valor_semestral != 0)
                                                                {
                                                                    total += item.B_PLANOS_DISPONIVEIS.valor_semestral;
                                                                    <td align="right">
                                                                        @string.Format("R$ {0}", item.B_PLANOS_DISPONIVEIS.valor_semestral.ToString().Replace(".", ","))
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td align="right"> Grátis </td>
                                                                }
                                                                break;
                                                            case "ANUAL":
                                                            <td>@DateTime.Now.AddMonths(12).ToShortDateString()</td>
                                                                if (item.B_PLANOS_DISPONIVEIS.valor_anual != 0)
                                                                {
                                                                    total += item.B_PLANOS_DISPONIVEIS.valor_anual;
                                                                    <td align="right">
                                                                        @string.Format("R$ {0}", item.B_PLANOS_DISPONIVEIS.valor_anual.ToString().Replace(".", ","))
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td align="right"> Grátis </td>
                                                                }
                                                                break;
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                        <div class="col-md-12" id="Cupons_disponiveis" style="display:@string.Format("{0}", Model.Codigos.Count > 0? "block":"none")">
                                            <h3>@string.Format("{0}", Model.Codigos.Count >= 2 ? "Cupons promocionais" : "Cupom promocional")</h3>
                                            <table class="table" id="tabela_cupons">
                                                <thead>
                                                    <tr style=" border: 0px; ">
                                                        <th width="35"></th>
                                                        <th>Para o Plano</th>
                                                        <th>Para o Periodo</th>
                                                        <th>Filial</th>
                                                        <th>Descrição</th>
                                                        <th class="text-right">Valor</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var codigo in Model.Codigos)
                                                {
                                                    var disponivel = Model.Carrinho.FirstOrDefault(e => e.periodo.Equals(codigo.periodo) && e.id_local_evento == codigo.id_local_evento && e.id_plano_disponivel == codigo.id_planos_disponiveis) != null;
                                                    <tr style=" border: 0px; ">
                                                        <td>
                                                            @if (disponivel)
                                                            {
                                                                <input type="hidden" value="@(desconto += codigo.valor_desconto)" />
                                                                <img width="25" src="~/Content/Buffet/Imagens/Base/icone_check.png" />
                                                            }
                                                            else
                                                            {
                                                                <div @Html.Dica("top", string.Format("Este Cupom de desconto esta disponivel para a filial {0} adquirindo o plano {1} no periodo {2}!", codigo.LOCAL_EVENTO.nome, codigo.B_PLANOS_DISPONIVEIS.nome, codigo.periodo))>
                                                                    <img width="25" src="~/Content/Buffet/Imagens/Base/icone_ajuda.png" />
                                                                </div>
                                                            }
                                                        </td>
                                                        <td>@codigo.B_PLANOS_DISPONIVEIS.nome</td>
                                                        <td>@codigo.periodo</td>
                                                        <td>@codigo.LOCAL_EVENTO.nome</td>
                                                        <td>@codigo.descricao</td>
                                                        <td align="right">
                                                            @string.Format("R$ {0}", codigo.valor_desconto)
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>

                                        <hr />
                                        <div class="col-md-12">
                                            <div id="DescricaoDesconto" style="display:@string.Format("{0}", desconto != 0? "block":"none")">
                                                <h5 class="text-right" style="color:red">@string.Format("Sub-Total R$ {0} +", total)</h5>
                                                <h5 class="text-right" id="ValorTotalDesconto" style="color:green">@string.Format("Desconto R$ {0} -", desconto)</h5>
                                            </div>
                                            <h3 class="text-right">@string.Format("Total R$ {0}", (total - desconto).ToString().Replace(".", ","))</h3>
                                        </div>
                                    </div>
                                    <div class="ls-actions-btn">
                                        <input type="hidden" id="valores_carrinho" data-quantidadecupons="@Model.Codigos.Count" data-valortotal="@total" />
                                        <a href="/Planos/ComprarPlano" class="btn btn-success pull-left">Continuar Comprando</a>
                                        <a href="#" class="btn btn-success pull-right" data-action="next">Finalizar Compra</a>
                                    </div>
                                </div>
                                <div class="ls-steps-content" id="step2">
                                    <div class="row animated fadeInLeft">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                @if (desconto != 0)
                                                {
                                                    <h5 class="text-right" style="color:red">@string.Format("Sub-Total R$ {0} +", total)</h5>
                                                    <h5 class="text-right" style="color:green">@string.Format("Desconto R$ {0} -", desconto)</h5>
                                                }
                                                <h3 class="text-right">@string.Format("Total R$ {0}", (total - desconto).ToString().Replace(".", ","))</h3>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.BuffetCheck("Boleto bancário", "boleto", false, "SelecionarFormaDePagamento(this, \"credito\")")
                                                <img class="img-thumbnail" width="100" height="100" src="~/Content/Buffet/Imagens/Base/icone_boleto_bancario.png" />
                                            </div>
                                            <div class="col-md-5">
                                                @Html.BuffetCheck("Cartão de crédito", "credito", true, "SelecionarFormaDePagamento(this, \"boleto\")")
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="alert alert-warning fade in" style="display:none" id="MensagemCartaoCredito">
                                                        </div>
                                                    </div>
                                                    <form id="form_dados_cartao" method="post">
                                                        <div class="col-md-12">
                                                            <label>Nome do titular impresso no cartão</label>
                                                            <input type="text" required name="NomeTitular" id="NomeTitular" class="form-control input-lg " value="Luan V N Almeida" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>CPF ou CNPJ impresso no cartão</label>
                                                            <input type="hidden" name="Bandeira" id="Bandeira" value="visa" />
                                                            <input type="text" required name="CPJouCNPJ" id="CPJouCNPJ" class="form-control input-lg " value="396.482.648-05" />
                                                        </div>
                                                        <div class="col-md-8">
                                                            <label>Número do cartão</label>
                                                            <input type="text" required name="NumeroCartao" autocomplete="off" maxlength="19" pattern="^.{19,19}$" onkeyup="BackSpaceCartao(this)" onkeypress="VerificaBandeira(this); DIMask(this, '####.####.####.####'); return DIOnlyNumber(this);" id="NumeroCartao" class="form-control input-lg text-cartao-visa" value="4012.0010.3844.3335" />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label data-container="body"
                                                                   data-toggle="popover"
                                                                   data-placement="top"
                                                                   data-trigger="hover"
                                                                   data-delay-hide="10"
                                                                   data-content="@string.Format("<img src='/Content/Buffet/Planos/images/cartoes/CodigoVerificador.png' />")"
                                                                   data-html="true">Código</label>
                                                            <input type="text" maxlength="4" required name="CodigoSeguranca" id="CodigoSeguranca" class="form-control input-lg " value="123" />
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label>Mês</label>
                                                                <select class="form-control input-lg " required name="MesValidade" id="MesValidade">
                                                                    <option value="05">Selecione</option>
                                                                    @for (int i = 1; i < 12; i++)
                                                                    {
                                                                        <option value="@i">@i</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Ano</label>
                                                                <select class="form-control input-lg " required name="AnoValidade" id="AnoValidade">
                                                                    <option value="2018">Selecione</option>
                                                                    @for (int i = 2015; i < 2021; i++)
                                                                    {
                                                                        <option value="@i">@i</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.BuffetCheck("Desejo renovar automaticamente meus planos!", "renovar_automaticamente", true)
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ls-actions-btn">
                                        <a href="#" class="btn btn-default" data-action="prev">Anterior</a>
                                        <a href="javascript:void(o)" class="btn btn-success pull-right" onclick="EfetuarPagamentoCartao(this)" id="EfetuarPagamento">Efetuar Pagamento</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="ls-steps-content @string.Format("{0}", Concluido == true? "ls-active" : "")" id="step3">
                                    <div class="col-md-6 col-md-offset-3 animated fadeInLeft">
                                        @if (Status == TransacaoStatus.Autorizada)
                                        {
                                            <div class="text-center">
                                                <img src="~/Content/Buffet/Planos/images/icone_autorizado.png" width="100" />
                                                <h1 class="text-center" style="color: #65C335">
                                                    Pagamento Efetuado com sucesso!
                                                </h1>
                                                <form action="/Ajustes/HistoricoPagamento" method="post">
                                                    <input type="submit" style=" background: #65C335; border: 1px solid #65C335; margin-top: 30px; " class="btn btn-lg btn-success btn-block" value="Meu Histórico" />
                                                </form>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="text-center">
                                                <img src="~/Content/Buffet/Planos/images/icone_nao_autorizado.png" width="100" />
                                                <h1 class="text-center" style="color:red">
                                                    Pagamento não autorizado
                                                </h1>
                                                <h4 class="text-center">
                                                    Tente usar outra forma de pagamento
                                                </h4>
                                                <form action="/Planos/MeuCarrinho" method="post">
                                                    <input type="submit" class="btn btn-lg btn-success" style=" margin-top: 30px; " value="Tentar Novamente" />
                                                </form>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
