﻿@model ICollection<BuffetDataManager.Models.LOCAL_EVENTO>
@using BuffetWeb.Helpers

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Meus Planos
            </div>
            <div class="padding-md clearfix">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var plano in Model.Select((item, i) => new { i, item }).ToList())
                    {
                        if (plano.item.PORTAL_ANUNCIANTE_DESTAQUE.Count != 0 ||
                            plano.item.PORTAL_ANUNCIANTE_HOME.Count != 0 ||
                            plano.item.PORTAL_ANUNCIANTE_PROMOCAO.Count != 0 ||
                            plano.item.PORTAL_ANUNCIANTE_TOPMENU.Count != 0 ||
                            plano.item.PORTAL_ANUNCIANTE_HEADER.Count != 0 ||
                            plano.item.PORTAL_ANUNCIANTE_DESTAQUE.Count != 0)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@plano.i">
                                            @plano.item.nome
                                        </a>
                                    </h4>
                                </div>
                                <div id="@plano.i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="300">Nome</th>
                                                    <th>
                                                        <div @Html.Dica("top", "O usuário recebe sua propsota instantaneamente")>
                                                            Envio de Proposta
                                                        </div>
                                                    </th>
                                                    <th>Destaque no Mapa</th>
                                                    <th>
                                                        <div @Html.Dica("top", "Fica em destaque quando o estabelecimento aparece em alguma pesquisa do usuário!")>
                                                            Destaque na Pesquisa
                                                        </div>
                                                    </th>
                                                    <th>Comprado em</th>
                                                    <th>Disponível até</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            @foreach (var produto in plano.item.PORTAL_ANUNCIANTE_PROMOCAO)
                                            {
                                                <tr>
                                                    <td>
                                                        <div data-container="body"
                                                             data-toggle="popover"
                                                             data-placement="top"
                                                             data-trigger="hover"
                                                             data-delay-hide="10"
                                                             data-content="@string.Format("<img src='/Content/Buffet/Planos/images/cartoes/CodigoVerificador.png' />")"
                                                             data-html="true">
                                                            Promoção
                                                        </div>
                                                    </td>
                                                    <td align="center">@string.Format("{0}", produto.envio_proposta ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_mapa ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_pesquisa_zona ? "Sim" : "Não")</td>
                                                    <td align="center">@produto.B_PORTAL_PROMOCAO.disponivel_de.ToShortDateString()</td>
                                                    <td align="center">@produto.B_PORTAL_PROMOCAO.disponivel_ate.ToShortDateString()</td>
                                                    <td>
                                                        @if (DateTime.Today < produto.B_PORTAL_PROMOCAO.disponivel_de)
                                                        {
                                                            <label class="label label-success">@string.Format("Disponível ({0})", produto.disponivel ? "Participando" : "Não participando")</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger">@string.Format("Expirado ({0})", produto.disponivel ? "Participou" : "Não Participou")</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            @foreach (var produto in plano.item.PORTAL_ANUNCIANTE_DESTAQUE)
                                            {
                                                <tr>
                                                    <td>
                                                        <div data-container="body"
                                                             data-toggle="popover"
                                                             data-placement="top"
                                                             data-trigger="hover"
                                                             data-delay-hide="10"
                                                             data-content="@string.Format("<img src='/Content/Buffet/Planos/images/cartoes/CodigoVerificador.png' />")"
                                                             data-html="true">
                                                            Destaque
                                                        </div>
                                                    </td>
                                                    <td align="center">@string.Format("{0}", produto.envio_proposta ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_mapa ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_pesquisa_zona ? "Sim" : "Não")</td>
                                                    <td align="center">@produto.de.ToShortDateString()</td>
                                                    <td align="center">@produto.ate.ToShortDateString()</td>
                                                    <td>
                                                        @if (DateTime.Today < produto.ate)
                                                        {
                                                            <label class="label label-success">Disponível</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger">Expirado</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            @foreach (var produto in plano.item.PORTAL_ANUNCIANTE_HEADER)
                                            {
                                                <tr>
                                                    <td>
                                                        <div data-container="body"
                                                             data-toggle="popover"
                                                             data-placement="top"
                                                             data-trigger="hover"
                                                             data-delay-hide="10"
                                                             data-content="@string.Format("<img src='/Content/Buffet/Planos/images/cartoes/CodigoVerificador.png' />")"
                                                             data-html="true">
                                                            Header
                                                        </div>
                                                    </td>
                                                    <td align="center">@string.Format("{0}", produto.envio_proposta ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_mapa ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_pesquisa_zona ? "Sim" : "Não")</td>
                                                    <td align="center">@produto.de.ToShortDateString()</td>
                                                    <td align="center">@produto.ate.ToShortDateString()</td>
                                                    <td>
                                                        @if (DateTime.Today < produto.ate)
                                                        {
                                                            <label class="label label-success">Disponível</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger">Expirado</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            @foreach (var produto in plano.item.PORTAL_ANUNCIANTE_HOME)
                                            {
                                                <tr>
                                                    <td>
                                                        <div data-container="body"
                                                             data-toggle="popover"
                                                             data-placement="top"
                                                             data-trigger="hover"
                                                             data-delay-hide="10"
                                                             data-content="@string.Format("<img src='/Content/Buffet/Planos/images/cartoes/CodigoVerificador.png' />")"
                                                             data-html="true">
                                                            Home
                                                        </div>
                                                    </td>
                                                    <td align="center">@string.Format("{0}", produto.envio_proposta ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_mapa ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_pesquisa_zona ? "Sim" : "Não")</td>
                                                    <td align="center">@produto.de.ToShortDateString()</td>
                                                    <td align="center">@produto.ate.ToShortDateString()</td>
                                                    <td>
                                                        @if (DateTime.Today < produto.ate)
                                                        {
                                                            <label class="label label-success">Disponível</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger">Expirado</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            @foreach (var produto in plano.item.PORTAL_ANUNCIANTE_TOPMENU)
                                            {
                                                <tr>
                                                    <td>
                                                        <div data-container="body"
                                                             data-toggle="popover"
                                                             data-placement="top"
                                                             data-trigger="hover"
                                                             data-delay-hide="10"
                                                             data-content="@string.Format("<img src='/Content/Buffet/Planos/images/cartoes/CodigoVerificador.png' />")"
                                                             data-html="true">
                                                            Top Menu
                                                        </div>
                                                    </td>
                                                    <td align="center">@string.Format("{0}", produto.envio_proposta ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_mapa ? "Sim" : "Não")</td>
                                                    <td align="center">@string.Format("{0}", produto.destaque_pesquisa_zona ? "Sim" : "Não")</td>
                                                    <td align="center">@produto.de.ToShortDateString()</td>
                                                    <td align="center">@produto.ate.ToShortDateString()</td>
                                                    <td>
                                                        @if (DateTime.Today < produto.ate)
                                                        {
                                                            <label class="label label-success">Disponível</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger">Expirado</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>