﻿@model BuffetWebManager.Models.Planos.PortalPromocoesModel
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "PortalPromocao";
    var locais = Html.LocalEvento();
    var promocao = Model.PortalPromocao;
}

<script src="~/Content/Buffet/Planos/Planos.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="padding-md clearfix">
                @if (Model.PortalPromocao != null)
                {

                    <div class="col-md-8">
                        @if (promocao.url_imagem == null)
                        {
                            <img src="http://placehold.it/500x500/EFEFEF/EBBB5E" style=" width: 100%; height: 400px; " />
                        }
                        else
                        {
                            <img src="@promocao.url_imagem" style=" width: 100%; height: 400px; " />
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="alert alert-info fade in" role="alert" style="display:none" id="mensagemPromocao">
                                <strong>Informação!</strong><p /> Este Local de evento esta participando desta promoção
                            </div>
                        </div>
                        <div class="form-group">
                            <h3>@promocao.nome</h3>
                        </div>
                        <div class="form-group">
                            <h5>@Html.Raw(promocao.descricao)</h5>
                            <hr />
                            <small @Html.Dica("left", "O Desconto é adicionado automaticamente no envio da proposta!")>
                                @string.Format("Ofereça R$ {0} reais de desconto e aumente seu fechamento de proposta diário.", promocao.desconto_de)
                            </small>
                            <hr />
                        </div>
                        <form action="/Planos/VerificarPromocao" method="post">
                            <div class="form-group">
                                <label>Selecione o Local do Evento</label>
                                <table>
                                    @foreach (var local in locais.Select((value, i) => new { i, value }))
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" name="@string.Format("[{0}].id_local_evento", local.i)" value="@local.value.id" />
                                                @Html.BuffetCheck("", string.Format("[{0}].selecionado", local.i), ((promocao.PORTAL_ANUNCIANTE_PROMOCAO.FirstOrDefault(e => e.LOCAL_EVENTO.id == local.value.id && e.disponivel == true) != null)))
                                            </td>
                                            <td>@local.value.nome</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="id_promocao" value="@promocao.id" />
                                <input type="submit" @Html.Dica("bottom", string.Format("Participando desta promoção você vai atingir até {0} clientes da região do seu Buffet com notificações no Facebook!", Model.Regiao)) id="disponibilidade" class="btn btn-lg btn-success btn-block" value="@string.Format("Participar ( {0} Dia{1} para o fim )", (promocao.disponivel_ate - DateTime.Today).Days, (promocao.disponivel_ate - DateTime.Today).Days == 1 ? "" : "s")" />
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    <h1 class="text-center">Não existe promoção disponiveis!</h1>
                }
            </div>
        </div>
    </div>
</div>