﻿@using BuffetWeb.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">

    <title> BuffetWeb </title>
    <meta name="description" content="">

    <!-- /// Favicons ////////  -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700">

    <!-- /// FontAwesome Icons 4.2.0 ////////  -->
    <link rel="stylesheet" href="~/Content/Space/Layout/css/fontawesome/font-awesome.min.css">

    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="~/Content/Space/Layout/css/iconfontcustom/icon-font-custom.css">

    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="~/Content/Space/Layout/css/base.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/css/grid.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/css/elements.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/css/layout.css">

    <!-- /// JS Plugins CSS ////////  -->
    <link rel="stylesheet" href="~/Content/Space/Layout/js/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/js/revolutionslider/css/custom.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/js/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/js/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/js/animations/animate.min.css">
    <link rel="stylesheet" href="~/Content/Space/Layout/js/itplayer/css/YTPlayer.css">

    <script src="~/Content/Space/Layout/js/jquery-2.1.1.min.js"></script>
    <!-- /// ViewPort ////////  -->
    <script src="~/Content/Space/Layout/js/viewport/jquery.viewport.js"></script>

    <!-- /// Template Skin CSS ////////  -->
    <!-- <link rel="stylesheet" href="~/Content/Space/Layout/css/skins/default.css"> -->
    <!-- <link rel="stylesheet" href="~/Content/Space/Layout/css/skins/blue.css"> -->

    @*<script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>*@
    <script src="~/Content/Buffet/Base/FacebookBase.js"></script>
</head>
<body class="sticky-header">
    <div id="page-loader">
        <div class="loader-img">
            <img src="~/Content/Space/Layout/images/loader.gif" alt="">
        </div>
    </div>
    <noscript>
        <div class="javascript-required">
            <i class="fa fa-times-circle"></i> Ative o Javascript. Este site web precisa do Javascript a fim de funcionar corretamente!
        </div>
    </noscript>

    <!--[if lte IE 8]>
         <div class="modern-browser-required">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a>
            to improve your experience.
        </div>
    <![endif]-->
    <div id="wrap">
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <!-- /// Easing ////////  -->
    <script src="~/Content/Space/Layout/js/easing/jquery.easing.1.3.js"></script>
    <!-- /// SimplePlaceholder ////////  -->
    <script src="~/Content/Space/Layout/js/simpleplaceholder/jquery.simpleplaceholder.js"></script>
    <!-- /// Fitvids ////////  -->
    <script src="~/Content/Space/Layout/js/fitvids/jquery.fitvids.js"></script>

    <!-- /// Animations ////////  -->
    <script src="~/Content/Space/Layout/js/animations/animate.js"></script>

    <!-- /// Superfish Menu ////////  -->
    <script src="~/Content/Space/Layout/js/superfish/hoverIntent.js"></script>
    <script src="~/Content/Space/Layout/js/superfish/superfish.js"></script>

    <!-- /// Revolution Slider ////////  -->
    <script src="~/Content/Space/Layout/js/revolutionslider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/Space/Layout/js/revolutionslider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- /// bxSlider ////////  -->
    <script src="~/Content/Space/Layout/js/bxslider/jquery.bxslider.min.js"></script>

    <!-- /// Magnific Popup ////////  -->
    @*<script src="~/Content/Space/Layout/js/magnificpopup/jquery.magnific-popup.min.js"></script>

        <!-- /// Isotope ////////  -->
        <script src="~/Content/Space/Layout/js/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="~/Content/Space/Layout/js/isotope/isotope.pkgd.min.js"></script>

        <!-- /// Parallax ////////  -->
        <script src="~/Content/Space/Layout/js/parallax/jquery.parallax.min.js"></script>
        <!-- /// EasyPieChart ////////  -->
        <script src="~/Content/Space/Layout/js/easypiechart/jquery.easypiechart.min.js"></script>*@

    <!-- /// YTPlayer ////////  -->
    <script src="~/Content/Space/Layout/js/itplayer/jquery.mb.YTPlayer.js"></script>

    <!-- /// Easy Tabs ////////  -->
    <script src="~/Content/Space/Layout/js/easytabs/jquery.easytabs.min.js"></script>

    <!-- /// Form validate ////////  -->
    @*<script src="~/Content/Space/Layout/js/jqueryvalidate/jquery.validate.min.js"></script>

        <!-- /// Form submit ////////  -->
        <script src="~/Content/Space/Layout/js/jqueryform/jquery.form.min.js"></script>

        <!-- /// gMap ////////  -->
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="~/Content/Space/Layout/js/gmap/jquery.gmap.min.js"></script>
        <!-- /// Twitter ////////  -->
        <script src="~/Content/Space/Layout/js/twitter/twitterfetcher.js"></script>*@

    <!-- /// ScrollSpy ////////  -->
    <script src="~/Content/Space/Layout/js/scrollspy/scrollspy.min.js"></script>

    <!-- /// Custom JS ////////  -->
    <script src="~/Content/Space/Layout/js/plugins.js"></script>
    <script src="~/Content/Space/Layout/js/scripts.js"></script>

    <script src="~/Content/Space/Layout/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>