﻿@model ICollection<BuffetWebData.Models.EMPRESA_HISTORICO_PAGAMENTO>

<script src="~/Content/Buffet/Financeiro/Financeiro.js"></script>

<div class="col-md-12">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Financeiro
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-danger">
                        <h2 class="m-top-none" id="userCount">493</h2>
                        <h5>Faturamento Mês</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">5% Higher than last week</span>
                        <div class="stat-icon">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-info">
                        <h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
                        <h5>Disponível em conta</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher than last week</span>
                        <div class="stat-icon">
                            <i class="fa fa-hdd-o fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>