﻿@model BuffetWebData.Models.LOCAL_EVENTO
@using BuffetWebPortal.Helpers
@{
    ViewBag.Title = "Enviar Email";
    Layout = null;

    var avaliacao = Html.GetAvaliacao(Model.autenticacao);

    var cliente = Html.Cliente(Context);
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        .pac-container {
            background-color: #fff;
            position: absolute !important;
            z-index: 1000;
            border-radius: 2px;
            border-top: 1px solid #d9d9d9;
            font-family: Arial,sans-serif;
            box-shadow: 0 2px 6px rgba(0,0,0,0.3);
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }

            .pac-container:after {
                content: "";
                padding: 1px 1px 1px 0;
                height: 16px;
                text-align: right;
                display: block;
                background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: 104px 16px;
            }

        .hdpi.pac-container:after {
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png);
        }

        .pac-item {
            cursor: default;
            padding: 0 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 30px;
            text-align: left;
            border-top: 1px solid #e6e6e6;
            font-size: 11px;
            color: #999;
        }

            .pac-item:hover {
                background-color: #fafafa;
            }

        .pac-item-selected, .pac-item-selected:hover {
            background-color: #ebf2fe;
        }

        .pac-matched {
            font-weight: 700;
        }

        .pac-item-query {
            font-size: 13px;
            padding-right: 3px;
            color: #000;
        }

        .pac-icon {
            width: 15px;
            height: 20px;
            margin-right: 7px;
            margin-top: 6px;
            display: inline-block;
            vertical-align: top;
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
            background-size: 34px;
        }

        .hdpi .pac-icon {
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png);
        }

        .pac-icon-search {
            background-position: -1px -1px;
        }

        .pac-item-selected .pac-icon-search {
            background-position: -18px -1px;
        }

        .pac-icon-marker {
            background-position: -1px -161px;
        }

        .pac-item-selected .pac-icon-marker {
            background-position: -18px -161px;
        }

        .pac-placeholder {
            color: gray;
        }
    </style>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>BuffetWeb</title>

    @Styles.Render("~/Content/baseCSS")

    <link href="~/Content/Templates/Slide/css/jquery-fullsizable.css" rel="stylesheet" />
    <link href="~/Content/Templates/Slide/css/jquery-fullsizable-theme.css" rel="stylesheet" />
    <script src="~/Content/Templates/Slide/js/jquery-1.7.2.js"></script>
    <script src="https://cdn.rawgit.com/mattbryson/TouchSwipe-Jquery-Plugin/1.6.6/jquery.touchSwipe.min.js"></script>
    <script src="~/Content/Templates/Slide/js/jquery-fullsizable.js"></script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300italic,400,500,700" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:900" type="text/css">

    <link href="~/Content/Templates/Portal/css/themetoggler.css" rel="stylesheet" />
    <script src="~/Content/Templates/Portal/js/jquery.min.js"></script>
    <script>
        jQuery.noConflict();
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>

    <script src="~/Content/Templates/Portal/js/jmf_75bdf32f6d5e8766bda41ec417381e88.js"></script>
    <script src="~/Content/Templates/Portal/js/jmf_c69f5f736d8033d9a9bf406de9cf5eba.js"></script>

    <script src="~/Content/BuffetWeb/js/Parceiro.js"></script>
</head>
<body style="background-color:white">
    <div style="margin-top:20px">
        <div class="container-fluid">
            <div class="span6">
                <label>Seu nome</label>
                <input type="text" class="input-block" id="nome" value="@(cliente != null? cliente.nome :"")" required name="nome" />
            </div>
            <div class="span3">
                <label>Seu e-mail</label>
                <input type="email" class="input-block" id="email" value="@(cliente != null? cliente.email :"")" required name="email" />
            </div>
            <div class="span3">
                <label>E-mail do destinatário</label>
                <input type="email" class="input-block" id="destinatario" required name="destinatario" />
            </div>
            <div class="span12">
                <label>Seu comentário</label>
                <textarea class="input-block" rows="3" id="comentario" name="comentario" required></textarea>
            </div>
            <div class="span12" style="margin-top:20px">
                <input type="button" name="name" value="Enviar Email" onclick="EnviarEmailParceiro(this)" class="btn btn-primary  pull-right" />
            </div>
        </div>

        <div class="container-fluid">
            <div class="span3">
                <img style=" border-radius: 5px; height: 100px; width: 300px;" src="@Html.GetImagemParceiro(Model.autenticacao, TipoImagem.Anunciante, 0)" />
            </div>
            <div class="span9">
                <h3>@Model.nome</h3>
                <h5>@Html.Raw(Model.descricao)</h5>
            </div>
        </div>
    </div>
</body>
</html>
