﻿@model BuffetWebData.Models.LOCAL_EVENTO

@using BuffetWebPortal.Helpers
@{
    var endereco = Model.ENDERECO;
    var imagensParceiro = Html.GetImagensParceiro(Request);
    var propostas = Html.GetPropostas(Request);

    var data = DateTime.Today;
    var visualizacoes_mes = Model.PORTAL_VISUALIZACOES.Where(e => e.data.Month == data.Month && e.data.Year == data.Year).ToList().Count;

    var total_avaliacao = Model.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
    var avaliacao = total_avaliacao != 0 ? total_avaliacao / Model.LOCAL_EVENTO_COMENTARIOS.Count : 0;
    
    var cliente = Html.Cliente(Context);

    var url_parceiro = Html.EncurtarURL(Request.Url.ToString());
    var nome_parceiro = Model.nome;

    var quantidade_imagens = Model.LOCAL_EVENTO_IMAGENS.Count;
    
    var isPromocao = Html.IsPromocao(Model.autenticacao);
} 
 
<script src="~/Content/BuffetWeb/js/Parceiro.js"></script>

<input type="hidden" id="parceiro" data-autenticacao="@Model.autenticacao" />
<script src="~/Content/BuffetWeb/js/Parceiro.js"></script>
<link href="~/Content/Templates/Social/css/easy-social-share-buttons.css" rel="stylesheet" />

<script type="text/javascript">
    var essb_handle_stats = function (oService, oPostID, oInstance) {
        var element = jQuery('.essb_' + oInstance);
        var instance_postion = jQuery(element).attr("data-essb-position") || "";
        var instance_template = jQuery(element).attr("data-essb-template") || "";
        var instance_button = jQuery(element).attr("data-essb-button-style") || "";
        var instance_counters = jQuery(element).hasClass("essb_counters") ? true : false;
        var instance_nostats = jQuery(element).hasClass("essb_nostats") ? true : false;
        if (instance_nostats) { return; }
        var instance_mobile = false;
        if ((/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i).test(navigator.userAgent)) {
            instance_mobile = true;
        }
        if (typeof (essb_settings) != "undefined") {
            jQuery.post(essb_settings.ajax_url,
                { 'action': 'essb_stat_log', 'post_id': oPostID, 'service': oService, 'template': instance_template, 'mobile': instance_mobile, 'position': instance_postion, 'button': instance_button, 'counter': instance_counters, 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { } }, 'json');
        }
    }; var essb_clicked_lovethis = false; var essb_love_you_message_thanks = "Obrigado por curtir este post"; var essb_love_you_message_loved = "Você já curtiu este hoje."; var essb_lovethis = function (oInstance) { if (essb_clicked_lovethis) { alert(essb_love_you_message_loved); return; } var element = jQuery('.essb_' + oInstance); if (!element.length) { return; } var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var cookie_set = essb_get_lovecookie("essb_love_" + instance_post_id); if (cookie_set) { alert(essb_love_you_message_loved); return; } if (typeof (essb_settings) != "undefined") { jQuery.post(essb_settings.ajax_url, { 'action': 'essb_love_action', 'post_id': instance_post_id, 'service': 'love', 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { alert(essb_love_you_message_thanks); } }, 'json'); } essb_tracking_only('', 'love', oInstance, true); }; var essb_get_lovecookie = function (name) { var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift(); }; var essb_window = function (oUrl, oService, oInstance) { var element = jQuery('.essb_' + oInstance); console.log("button trigger on " + oService + ", instance = " + oInstance); var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var instance_position = jQuery(element).attr("data-essb-position") || ""; var wnd; var w = 800; var h = 500; if (oService == "twitter") { w = 500; h = 300; } var left = (screen.width / 2) - (w / 2); var top = (screen.height / 2) - (h / 2); if (oService == "twitter") { wnd = window.open(oUrl, "essb_share_window", "height=300,width=500,resizable=1,scrollbars=yes,top=" + top + ",left=" + left); } else { wnd = window.open(oUrl, "essb_share_window", "height=500,width=800,resizable=1,scrollbars=yes,top=" + top + ",left=" + left); } if (typeof (essb_settings) != "undefined") { if (essb_settings.essb3_stats) { if (typeof (essb_handle_stats) != "undefined") { essb_handle_stats(oService, instance_post_id, oInstance); } } if (essb_settings.essb3_ga) { essb_ga_tracking(oService, oUrl, instance_position); } } essb_self_postcount(oService, instance_post_id); var pollTimer = window.setInterval(function () { if (wnd.closed !== false) { window.clearInterval(pollTimer); essb_smart_onclose_events(oService, instance_post_id); } }, 200); }; var essb_self_postcount = function (oService, oCountID) { if (typeof (essb_settings) != "undefined") { oCountID = String(oCountID); jQuery.post(essb_settings.ajax_url, { 'action': 'essb_self_postcount', 'post_id': oCountID, 'service': oService, 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { } }, 'json'); } }; var essb_smart_onclose_events = function (oService, oPostID) { if (typeof (essbasc_popup_show) == 'function') { essbasc_popup_show(); } if (typeof essb_acs_code == 'function') { essb_acs_code(oService, oPostID); } }; var essb_tracking_only = function (oUrl, oService, oInstance, oAfterShare) { var element = jQuery('.essb_' + oInstance); if (oUrl == "") { oUrl = document.URL; } var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var instance_position = jQuery(element).attr("data-essb-position") || ""; if (typeof (essb_settings) != "undefined") { if (essb_settings.essb3_stats) { if (typeof (essb_handle_stats) != "undefined") { essb_handle_stats(oService, instance_post_id, oInstance); } } if (essb_settings.essb3_ga) { essb_ga_tracking(oService, oUrl, instance_position); } } essb_self_postcount(oService, instance_post_id); if (oAfterShare) { essb_smart_onclose_events(oService, instance_post_id); } }; var essb_pinterest_picker = function (oInstance) { essb_tracking_only('', 'pinterest', oInstance); var e = document.createElement('script'); e.setAttribute('type', 'text/javascript'); e.setAttribute('charset', 'UTF-8'); e.setAttribute('src', '//assets.pinterest.com/js/pinmarklet.js?r=' + Math.random() * 99999999); document.body.appendChild(e); }; var essb_ga_tracking = function (oService, oPosition, oURL) { var essb_ga_type = essb_settings.essb3_ga_mode; if ('ga' in window && window.ga !== undefined && typeof window.ga === 'function') { if (essb_ga_type == "extended") { ga('send', 'event', 'social', oService + ' ' + oPosition, oURL); } else { ga('send', 'event', 'social', oService, oURL); } } }; function essb_mailer(oTitle, oMessage, oSiteTitle, oUrl, oImage, oPermalink) { vex.defaultOptions.className = 'vex-theme-os'; vex.dialog.open({ message: 'OLA! Gostou deste post em nosso Blog compatilhe.', input: '' + '<div class="vex-custom-field-wrapper"><strong>Seu E-mail:</strong></div>' + '<input name="emailfrom" type="text" placeholder="Seu E-mail:" required />' + '<div class="vex-custom-field-wrapper"><strong>Informe o e-mail do seu amigo :</strong></div>' + '<input name="emailto" type="text" placeholder="Informe o e-mail do seu amigo :" required />' + '<div class="vex-custom-field-wrapper" style="border-bottom: 1px solid #aaa !important; margin-top: 10px;"><h3></h3></div>' + '<div class="vex-custom-field-wrapper" style="margin-top: 10px;"><strong>Assunto:</strong></div>' + '<input name="emailsubject" type="text" placeholder="Subject" required value="' + oTitle + '" />' + '<div class="vex-custom-field-wrapper" style="margin-top: 10px;"><strong>Mensagem</strong></div>' + '<textarea name="emailmessage" placeholder="Message" required" rows="6" readonly="readonly">' + oMessage + '</textarea>' + '', buttons: [jQuery.extend({}, vex.dialog.buttons.YES, { text: 'Enviar' }), jQuery.extend({}, vex.dialog.buttons.NO, { text: 'Cancelar' })], callback: function (data) { if (data.emailfrom && typeof (data.emailfrom) != "undefined") { var c = typeof (data.captchacode) != "undefined" ? data.captchacode : ""; essb_sendmail_ajax993367720(data.emailfrom, data.emailto, data.emailsubject, data.emailmessage, c, oSiteTitle, oUrl, oImage, oPermalink); } } }); }; function essb_sendmail_ajax993367720(emailfrom, emailto, emailsub, emailmessage, c, oSiteTitle, oUrl, oImage, oPermalink) { var get_address = "http://www.siteparaempresas.com.br/blog/wp-content/plugins/easy-social-share-buttons3/public/essb-mail.php?from=" + emailfrom + "&to=" + emailto + "&sub=" + emailsub + "&message=" + emailmessage + "&t=" + oSiteTitle + "&u=" + oUrl + "&img=" + oImage + "&p=" + oPermalink + "&c=" + c + "&salt=2006009758"; jQuery.getJSON(get_address).done(function (data) { alert(data.message); }); }; function essb_mailform_657207924() { essb_tracking_only('', 'mail', '657207924'); essb_mailer('Gostei deste site http://www.siteparaempresas.com.br/blog', 'recomendo acessar : Compartilhar:! veja no link link: http://www.siteparaempresas.com.br/blog/?p=3527', '23 Efeitos jQuery fade in-fade', 'http://www.siteparaempresas.com.br/blog', 'http://www.siteparaempresas.com.br/blog/wp-content/uploads/2013/04/520.jpg', 'http://www.siteparaempresas.com.br/blog/?p=3527', 'top'); }; function essb_mailform_510733880() { essb_tracking_only('', 'mail', '510733880'); essb_mailer('Gostei deste site http://www.siteparaempresas.com.br/blog', 'recomendo acessar : Compartilhar:! veja no link link: http://www.siteparaempresas.com.br/blog/?p=3527', '23 Efeitos jQuery fade in-fade', 'http://www.siteparaempresas.com.br/blog', 'http://www.siteparaempresas.com.br/blog/wp-content/uploads/2013/04/520.jpg', 'http://www.siteparaempresas.com.br/blog/?p=3527', 'top'); };
</script>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="jm-content" class="span12">

            <div id="jm-maincontent">
                @if (isPromocao.Item1)
                {
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="jm-module title-box-ms">
                                <div class="jm-module-in">
                                    <div class="jm-title row">
                                        <div class="span10">
                                            <span style=" font-size: 25px; color: #7057A2; ">@isPromocao.Item2.nome</span>
                                        </div>
                                        <div class="span2">
                                            <a class="btn btn-primary btn-lg pull-right" style=" margin-right: -9%; " href="/Portal/PromocaoDoMes">Veja Mais</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div id="dj-classifieds" class="clearfix djcftheme-jm-joomads-ef4 jm-class-details jm-class-comments">
                    <div class="dj-item promotion p_special">
                        <div class="title_top info" style=" height: 40px; "> 
                            <h2 class="row_value" style=" font-size: 30px; ">@Model.nome</h2> 
                            <div class="span3 pull-right" style=" margin-right: -16px; ">
                                <div class="djreviews">
                                    <span class="djrv_item_rating djrv_rating pull-right">
                                        <span class="djrv_stars">
                                            @for (int i = 0; i < avaliacao; i++)
                                            {
                                                <span class="djrv_star active"></span>
                                            }
                                            @for (int f = 0; f < 5 - avaliacao; f++)
                                            {
                                                <span class="djrv_star"></span>
                                            }
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dj-item-in">
                            <div class="djcf_images_generaldet_box">
                                <div class="span3">
                                    <a href="@Html.GetImagemParceiro(Model.autenticacao, TipoImagem.Anunciante, 0)" class="fullsizable">
                                        <img id="djc_mainimage" style=" height: 215px; width: 300px; " src="@Html.GetImagemParceiro(Model.autenticacao, TipoImagem.Anunciante, 0)">
                                    </a>
                                </div>

                                <div class="general_det span9" >
                                    <div class="row_gd djcf_contact">

                                        @if (!string.IsNullOrEmpty(Model.ENDERECO.endereco1))
                                        {
                                            <div class="contact_mainrow">
                                                <span class="row_label">Endereço</span>
                                                <span class="row_value">
                                                    @string.Format("{0} {1}", Model.ENDERECO.endereco1, Model.ENDERECO.cidade, Model.ENDERECO.numero)
                                                </span>
                                                <span class="row_value">
                                                    @string.Format("{0} {1} - {2}", Model.ENDERECO.bairro, Model.ENDERECO.cidade, Model.ENDERECO.estado)
                                                    <br>
                                                </span>
                                            </div>
                                            <div class="contact_mainrow">
                                                <span class="row_label">Contato</span>
                                                <span class="row_value">
                                                    @Model.telefone
                                                </span>
                                            </div>
                                        }
                                        <div>
                                            <p>
                                                @Html.Raw(Model.descricao)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="jm-module title-box-ms">
                                        <div class="jm-module-in">
                                            <div class="jm-title row" style=" height: 17px; padding-right: 0px; ">
                                                <div class="djreviews pull-left">
                                                    @if (cliente != null)
                                                    {
                                                        var favorito = (cliente.PORTAL_CLIENTE_FAVORITOS.FirstOrDefault(e => e.id_local_evento == Model.id) != null);
                                                        <a onclick="Favoritar(this)" href="javascript:void(o)" data-favoritado="@favorito">
                                                            @if (favorito)
                                                            {
                                                                <img src="~/Content/Templates/Portal/image/icone_remover_favoritos.png" style="width: 190px;" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/Templates/Portal/image/icone_adicionar_favoritos.png" style="width: 190px;" />
                                                            }
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@string.Format("/Cliente/Login?acao=Favoritar&parametros=parceiro={0}", Model.autenticacao)">
                                                            <img src="~/Content/Templates/Portal/image/icone_adicionar_favoritos.png" style="width: 190px;" />
                                                        </a>
                                                    }
                                                </div>
                                                <div class="span2">
                                                    <a href="#">
                                                        <img src="~/Content/Templates/Portal/image/icone_comunicar_erro.png" />
                                                    </a>
                                                </div>
                                                <div class="span8 pull-right">
                                                    <div style="margin-top: -1%;" class="col-md-3 essb_links essb_counter_modern_right essb_displayed_top essb_share essb_template_big-retina essb_510733880 essb_links_right essb_nospace print-no" id="essb_displayed_top_510733880" data-essb-postid="3527" data-essb-position="top" data-essb-button-style="icon_hover" data-essb-template="big-retina" data-essb-counter-pos="right" data-essb-url="@url_parceiro" data-essb-twitter-url="@url_parceiro" data-essb-instance="510733880">
                                                        <ul class="essb_links_list essb_hide_name">
                                                            @*@foreach (var social in Model.LOCAL_EVENTO_SOCIAL)
                {
                        if (social.plataforma.Equals("facebook"))
                        {
                            <li class="essb_item essb_link_facebook nolightbox">
                                <a href="@social.url" target="_blank" rel="nofollow">
                                    <span class="essb_icon">
                                    </span>
                                    <span class="essb_network_name">Curta nossa página</span>
                                </a>
                            </li>
                            continue;
                        }
                        if (social.plataforma.Equals("twitter"))
                        {
                            <li class="essb_item essb_link_twitter nolightbox">
                                <a href="@social.url" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Siga no Twitter!</span></a>
                            </li>
                            continue;
                        }
                        if (social.plataforma.Equals("googleplus"))
                        {
                            <li class="essb_item essb_link_google nolightbox">
                                <a href="@social.url" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Conte no Google+</span></a>
                            </li>
                            continue;
                        }
                    }

                    <li class="essb_item essb_link_whatsapp nolightbox">
                        <a href=/Parceiros/EnviarEmail?autenticacao =@Model.autenticacao" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Enviar por e-mail</span></a>
                    </li>
                    @if (Html.isMobile())
                    {
                        <li class="essb_item essb_link_whatsapp nolightbox">
                            <a href="@string.Format("whatsapp://send?text=Veja este Buffet {0}", url_parceiro)" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Enviar por WhatsApp</span></a>
                        </li>
                    }*@

                                                            <li class="essb_item essb_link_facebook nolightbox">
                                                                <a href="@string.Format("https://www.facebook.com/sharer/sharer.php?app_id=527135120709685&sdk=joey&u={0}&display=popup&ref=plugin&src=share_button&__mref=message_bubble", url_parceiro)" title="" onclick="essb_window('@string.Format("https://www.facebook.com/sharer/sharer.php?app_id=527135120709685&sdk=joey&u={0}&display=popup&ref=plugin&src=share_button&__mref=message_bubble", url_parceiro)'); return false; _gaq.push(['_trackEvent', 'outbound-article', '@string.Format("https://www.facebook.com/sharer/sharer.php?app_id=527135120709685&sdk=joey&u={0}&display=popup&ref=plugin&src=share_button&__mref=message_bubble", url_parceiro)', 'Compartilhe no Facebook']);" target="_blank" rel="nofollow">
                                                                    <span class="essb_icon">
                                                                    </span>
                                                                    <span class="essb_network_name">Compartilhe</span>
                                                                </a>
                                                            </li>
                                                            <li class="essb_item essb_link_twitter nolightbox">
                                                                <a href="#" title="" onclick="essb_window(&#39;https://twitter.com/intent/tweet?text=:&amp;url=@url_parceiro&amp;counturl=@url_parceiro&amp;related=PortalBuffetWeb&amp;via=PortalBuffetWeb&amp;hashtags=&#PortalBuffetWeb;twitter&#39;,&#39;510733880&#39;); return false;" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Dê um tweet!</span></a>
                                                            </li>
                                                            <li class="essb_item essb_link_google nolightbox">
                                                                <a href="@string.Format("https://plus.google.com/share?url={0}", url_parceiro)" onclick="essb_window(&#39;https://plus.google.com/share?url=@url_parceiro&#39;,&#39;google&#39;,&#39;510733880&#39;); return false; _gaq.push(['_trackEvent', 'outbound-article', 'https://plus.google.com/share?url=@url_parceiro', 'Conte no Google+']);" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Conte no Google+</span></a>
                                                            </li>

                                                            <li class="essb_item essb_link_mail nolightbox">
                                                                <a href="#" title="" onclick="essb_window('/Parceiros/EnviarEmail?autenticacao=@Model.autenticacao'); return false;" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Enviar por e-mail</span></a>
                                                            </li>
                                                            @if (Request.UserAgent.Contains("Mobile"))
                                                            {
                                                                <li class="essb_item essb_link_whatsapp nolightbox">
                                                                    <a href="@string.Format("whatsapp://send?text=Veja este Buffet {0}", url_parceiro)" target="_blank" rel="nofollow"><span class="essb_icon"></span><span class="essb_network_name">Via WhatsApp</span></a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="djcf_images_generaldet_box" id="SolicitarProposta">
                                <div class="span12">

                                    <div class="span5">
                                        @if (Html.GetPlanoProposta(Model.autenticacao))
                                        {
                                            <img src="~/Content/imagens/Solicitar_Proposta.png" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagens/Solicitar_Proposta_Sem_Sistema.png" />
                                        }
                                    </div>

                                    <form action="/Propostas/EnviarPropostaUnica" method="post">
                                        <input type="hidden" name="autenticacao" value="@Model.autenticacao" />

                                        <div class="span6 pull-right" style=" margin-right: -3%; ">

                                            @if (cliente != null)
                                            {
                                                <div class="span12" style="margin-bottom:20px">
                                                    @*<div class="span12">
                                                        <h3>Este é seu perfil</h3>
                                                    </div>*@
                                                    <div class="span4">
                                                        <img style="border-radius: 7px; width: 100%; height: 140px;" src="@cliente.url" class="img-circle" />
                                                    </div>
                                                    <div class="span8">
                                                        <input type="hidden" name="nome" value="@cliente.nome" />
                                                        <input type="hidden" name="email" value="@cliente.email" />
                                                        <input type="hidden" name="celular" value="@cliente.celular" />

                                                        <strong>Seu nome</strong>
                                                        <label>@cliente.nome</label>

                                                        <strong>Seu e-mail</strong>
                                                        <label>@cliente.email</label>

                                                        <strong>Seu celular</strong>
                                                        <label>@cliente.celular</label>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="span12" style=" margin-bottom: 20px; margin-left: 3%;">
                                                    <h3>Preencha seus dados</h3>
                                                    <h5>Ou se preferir, crie uma conta, é gratis!</h5>
                                                    <a href="/Cliente/CriarConta?controlle=Parceiros&acao=Parceiro&parametros=Parceiro=@Model.autenticacao" class="btn btn-primary" style=" width: 33%; ">criar conta</a>
                                                    <a href="/Cliente/Login?controlle=Parceiros&acao=Parceiro&parametros=Parceiro=@Model.autenticacao" class="btn btn-primary" style=" width: 33%; margin-left: 5%; ">fazer login</a>
                                                </div>
                                                
                                                <div class="span12">
                                                    <div class="span6">
                                                        <label>Seu nome</label>
                                                        <input type="email" name="email" required class="input-block" />
                                                    </div>
                                                    <div class="span6">
                                                        <label>Seu e-mail</label>
                                                        <input type="text" name="email" required class="input-block" />
                                                    </div>
                                                </div>
                                                <div class="span12">
                                                    <div class="span6">
                                                        <label>Seu celular</label>
                                                        <input type="tel" name="celular" required class="input-block" />
                                                    </div>
                                                    <div class="span6">
                                                        <label>Seu telefone</label>
                                                        <input type="tel" name="telefone" class="input-block" />
                                                    </div>
                                                </div>
                                            }

                                            <div class="span12">
                                                <div class="span6">
                                                    <label>Tipo de festa</label>
                                                    <select class="input-block" required name="proposta_autenticacao">
                                                        <option value="">Selecione</option>
                                                        @foreach (var proposta in propostas)
                                                        {
                                                            <option value="@proposta.autenticacao">@proposta.nome_proposta</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="span6">
                                                    <label>Periodo</label>
                                                    <select class="input-block" required name="periodo">
                                                        <option value="">Selecione</option>
                                                        <option value="Jantar">Jantar</option>
                                                        <option value="Almoço">Almoço</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="span12">
                                                <div class="span6">
                                                    <label>Quantidade de Convidados</label>
                                                    <input type="text" required name="convidados" class="input-block" />
                                                </div>
                                                <div class="span6">
                                                    <label>Data do Evento</label>
                                                    <input type="date" required name="data_evento" class="input-block" />
                                                </div>
                                            </div>

                                            <div class="span12" style=" padding: 30px; ">
                                                <button type="submit" class="btn btn-primary btn-block">Solicitar Proposta</button>
                                            </div>

                                        </div>
                                    </form> 
                                    </div>
                                </div>
                            </div>

                            <div class="description" id="descricao" >
                                <div class="djcf_tabs" id="imagens_parceiro">
                                    @foreach (var imagem in Model.LOCAL_EVENTO_IMAGENS.Select((item, i) => new { item, i }).ToList())
                                    {
                                        var url_imagem = Html.GetImagemParceiro(Model.autenticacao, TipoImagem.Anunciante, imagem.item.sequencia);
                                        if (!url_imagem.Contains("imagem_padrao_"))
                                        { 
                                            <a class="fullsizable" href="@url_imagem">
                                                <span class="item_img span2" id="@string.Format("imagem_{0}", imagem.i)" style="display: @string.Format("{0}", (quantidade_imagens < 4 || imagem.i >= 4)? "none" : "block"); margin: 5px; padding: 6px; background: #fff; border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb; border-bottom: 2px solid #d2d2d2; width: 24.122%; height: 25%;">
                                                    <img src="@url_imagem" style="width: 100%; height: 100%; " />
                                                </span>
                                            </a> 
                                        }
                                    }
                                </div>
                                @if (Model.LOCAL_EVENTO_IMAGENS.Count > 4)
                                {
                                    <div class="span12" style=" margin-top: 10px; margin-bottom: 20px; ">
                                        <button type="button" class="btn btn-primary btn-lg pull-right" onclick="MostrarMaisImagens(this, '@Model.LOCAL_EVENTO_IMAGENS.Count')">
                                            Mais Imagens
                                        </button>
                                    </div>
                                }
                            </div>

                            @if (!string.IsNullOrEmpty(Model.video))
                            {
                                <div class="description well" style="background-color:white">
                                    @if (Model.video.Contains("youtube"))
                                    {
                                        <iframe width="1170" height="700" src="@string.Format("https://www.youtube-nocookie.com/embed/{0}?rel=0", Model.video.Replace("https://www.youtube.com/watch?v=", ""))" frameborder="0" allowfullscreen></iframe>
                                    }
                                    else if (Model.video.Contains("vimeo"))
                                    {
                                        <iframe src="@string.Format("//player.vimeo.com/video/{0}", Model.video.Replace("https://vimeo.com/", ""))" width="1170" height="700" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    }
                                </div>
                            }

                            @*<script type="text/javascript">
                                window.addEvent('load', function () {
                                    var djcfpagebreak_acc = new Fx.Accordion('.djcf_tabs .accordion-toggle',
                                            '.djcf_tabs .accordion-body', {
                                                alwaysHide: false,
                                                display: 0,
                                                duration: 100,
                                                onActive: function (toggler, element) {
                                                    toggler.addClass('active');
                                                    element.addClass('in');
                                                },
                                                onBackground: function (toggler, element) {
                                                    toggler.removeClass('active');
                                                    element.removeClass('in');
                                                }
                                            });
                                    var djcfpagebreak_tab = new Fx.Accordion('.djcf_tabs li.nav-toggler',
                                            '.djcf_tabs div.tab-pane', {
                                                alwaysHide: true,
                                                display: 0,
                                                duration: 150,
                                                onActive: function (toggler, element) {
                                                    toggler.addClass('active');
                                                    element.addClass('active');
                                                },
                                                onBackground: function (toggler, element) {
                                                    toggler.removeClass('active');
                                                    element.removeClass('active');
                                                }
                                            });
                                });</script>
                            <script type="text/javascript">
                                function getDJDriveLocation() {
                                    if (navigator.geolocation) {
                                        navigator.geolocation.getCurrentPosition(showDJDrivePosition);
                                    } else {
                                        x.innerHTML = "Geolocation is not supported by this browser";
                                    }
                                }
                                function showDJDrivePosition(position) {
                                    var exdate = new Date();
                                    exdate.setDate(exdate.getDate() + 1);
                                    var lc = position.coords.latitude + '_' + position.coords.longitude;
                                    var ll = position.coords.latitude + ',' + position.coords.longitude;
                                    document.cookie = "djcf_latlon=" + lc + "; expires=" + exdate.toUTCString();
                                    window.open("http://maps.google.com/maps?saddr=" + ll + "&daddr=United Sstates, Chicago, Madison St 67");
                                }
                            </script>*@



                            <div id="jm-add-com-wrapper">
                                <div class="additional">
                                    <h2>Detalhes</h2>
                                    <div class="row">
                                        <span class="row_label">Visualizações este mês</span>
                                        <span class="row_value">@visualizacoes_mes</span>
                                    </div>
                                    <div class="row">
                                        <span class="row_label">Total de Visualizações</span>
                                        <span class="row_value">@Model.PORTAL_VISUALIZACOES.Count</span>
                                    </div>
                                    <div class="row">
                                        <span class="row_label">Comentários</span>
                                        <span class="row_value">
                                            @Model.LOCAL_EVENTO_COMENTARIOS.Count
                                        </span>
                                    </div>
                                </div>
                                <div class="jm-box-margin"></div>
                                @{
                                    var coment = Html.ComentarioCliente(Model.autenticacao, Context);

                                    <div class="djcf_comments fb_comments_box">
                                        <h2>Comentários</h2>
                                        <div class="row">
                                            @if (Model.LOCAL_EVENTO_COMENTARIOS.ToList().Count > 0)
                                            {
                                                foreach (var comentario in Model.LOCAL_EVENTO_COMENTARIOS.ToList())
                                                {
                                                    <div class="row">
                                                        <div class="span2">
                                                            <img style="border-radius: 7px; width: 120px; height: 130px;" src="@string.Format("{0}", comentario.PORTAL_CLIENTE_PERFIL.url ?? "/Content/imagens/Imagem_Perfil_1.png")" class="img-circle" />
                                                        </div>
                                                        <div class="span10">
                                                            <div class="row">
                                                                <div class="span9" style=" padding: 0px; ">
                                                                    <h4>@comentario.PORTAL_CLIENTE_PERFIL.nome</h4>
                                                                </div>
                                                                <div class="span3" style=" padding: 0px; ">
                                                                    <div class="djreviews">
                                                                        <span class="djrv_item_rating djrv_rating small pull-right">
                                                                            <span class="djrv_stars">
                                                                                @for (int i = 0; i < comentario.avaliacao; i++)
                                                                                {
                                                                                    <span class="djrv_star active"></span>
                                                                                }
                                                                                @for (int f = 0; f < 5 - comentario.avaliacao; f++)
                                                                                {
                                                                                    <span class="djrv_star"></span>
                                                                                }
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h5>@comentario.comentario</h5>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <h3 class="text-center">Seja o primeiro a comentar</h3>
                                            }
                                        </div>
                                        @if (!Html.isLogin(Context))
                                        {
                                            
                                            <div class="row">
                                                <div class="row span6">
                                                    <a class="readmore btn-block" href="/Cliente/Login?controlle=Parceiros&acao=Parceiro&parametros=Parceiro=@Model.autenticacao">
                                                        Fazer Login
                                                    </a>
                                                </div>
                                                <div class="row span6">
                                                    <a class="readmore btn-block" href="/Cliente/CriarConta?controlle=Parceiros&acao=Parceiro&parametros=Parceiro=@Model.autenticacao">
                                                        Criar Conta
                                                    </a>
                                                </div>
                                                <div style="clear:both"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-info" id="mensagemComentario" style="display:none">
                                            </div>
                                            <div class="row">
                                                <div class="span2">
                                                    <img style="border-radius: 7px; width: 120px; height: 130px; margin-top: 25px;" src="/Content/imagens/Imagem_Perfil_1.png" class="img-circle" />
                                                    @*<img style="border-radius: 7px; width: 120px; height: 130px; margin-top: 25px;" src="@string.Format("{0}",      Html.Cliente().url ?? "/Content/imagens/Imagem_Perfil_1.png")" class="img-circle" />*@
                                                </div>
                                                <div class="span10">
                                                    @if (coment != null)
                                                    {
                                                        <input type="hidden" id="avaliacao" name="avaliacao" value="@coment.avaliacao" />
                                                        <div class="djreviews">
                                                            <span class="djrv_item_rating djrv_rating">
                                                                <span class="djrv_stars">
                                                                    @for (int i = 0; i < coment.avaliacao; i++)
                                                                    {
                                                                        <a href="javascript:void(o)" onclick="SelecionarEstrela(this, @i)">
                                                                            <span class="djrv_star active" id="@string.Format("estrela_{0}", i)"></span>
                                                                        </a>
                                                                    }
                                                                    @for (int f = coment.avaliacao; f < 5; f++)
                                                                    {
                                                                        <a href="javascript:void(o)" onclick="SelecionarEstrela(this, @f)">
                                                                            <span class="djrv_star" id="@string.Format("estrela_{0}", f)"></span>
                                                                        </a>
                                                                    }
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <textarea rows="6" style=" width: 103%; " id="mensagem" class="form-control">@coment.comentario</textarea>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" id="avaliacao" name="avaliacao" value="1" />
                                                        <div class="djreviews">
                                                            <span class="djrv_item_rating djrv_rating">
                                                                <span class="djrv_stars">
                                                                    @for (int f = 0; f < 5; f++)
                                                                    {
                                                                        <a href="javascript:void(o)" onclick="SelecionarEstrela(this, @f)">
                                                                            <span class="djrv_star @string.Format("{0}", f == 0? "active":"")" id="@string.Format("estrela_{0}", f)"></span>
                                                                        </a>
                                                                    }
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <textarea rows="6" style=" width: 103%; " id="mensagem" class="form-control"></textarea>
                                                    }
                                                </div>
                                            </div>
                                            <div style="clear:both" />
                                            <button onclick="Comentar(this)" style=" width: 100%; " class="button" type="button">@string.Format("{0}", coment == null ? "Comentar" : "Atualizar Comentário")</button>
                                        }
                                    </div>
                                }
                            </div>
                            <div style="clear:both" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
