﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />
    <!-- Font Awesome -->
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <!-- Endless -->
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">

    <script src="~/Content/Buffet/Login/Login.js"></script>
    <script src="~/Content/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Buffet/Base/UIBase.js"></script>
</head>
<body>
    <div class="login-wrapper">
        <div class="text-center">
            <h1 class="fadeInUp animation-delay8" style="font-weight:bold">
                <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web.png" style=" width: 300px; " />
            </h1>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Entrar
                    </div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info alert-dismissible fade in bounceIn animation-delay2" style="display:none" id="AlertCodigo" role="alert">

                    </div>

                    <form class="form-login">
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" id="email" required title="Não esqueca este campo" placeholder="Email" class="form-control  bounceIn animation-delay2">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" id="senha" required title="Não esqueca este campo" autocomplete="off" placeholder="Senha" class="form-control bounceIn animation-delay4">
                        </div>
                        <div class="form-group bounceIn animation-delay2" id="ShowCodigo" style="display:none">
                            <label>Código</label>
                            <input type="password" id="codigo" name="codigo" required title="Não esqueca este campo" autocomplete="off" placeholder="Código" class="form-control">
                        </div>
                        <input type="button" value="Entrar" onclick="VerificaUsuario(this)" class="btn btn-success bounceIn animation-delay5 login-link btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <script src="~/Content/Administrador/js/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>
    <!-- Pace -->
    <script src='~/Content/Administrador/js/pace.min.js'></script>
    <!-- Popup Overlay -->
    <script src='~/Content/Administrador/js/jquery.popupoverlay.min.js'></script>
    <!-- Slimscroll -->
    <script src='~/Content/Administrador/js/jquery.slimscroll.min.js'></script>
    <!-- Cookie -->
    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>
    <!-- Endless -->
    <script src="j~/Content/Administrador/s/endless/endless.js"></script>
</body>
</html>
