﻿@model BuffetWebManager.Models.Agenda.AgendaModel
@{
    ViewBag.Title = "Ajustes";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ajustes Agenda  
            </div>
            <div class="panel-body">
                <div role="tabpanel">
                     
                    <ul class="nav nav-tabs" role="tablist">
                        @foreach (var local in Model.local_evento)
                        {  
                            <li role="presentation" >
                                 <a href="#@local.nome.Replace(" ","")" aria-controls="home" role="tab" data-toggle="tab">@local.nome</a>
                            </li> 
                        }
                    </ul>
                     
                    <div class="tab-content">
                        @foreach (var local in Model.local_evento)
                        {
                            <div role="tabpanel" class="tab-pane panel-body" id="@local.nome.Replace(" ","")">
                                <div role="tabpanel"> 
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation"><a href="#@string.Format("visita{0}", local.id)" aria-controls="home" role="tab" data-toggle="tab">Visita</a></li>
                                        <li role="presentation"><a href="#@string.Format("degustacao{0}", local.id)" aria-controls="profile" role="tab" data-toggle="tab">Degustação</a></li>
                                        <li role="presentation"><a href="#@string.Format("reserva{0}", local.id)" aria-controls="settings" role="tab" data-toggle="tab">Reserva</a></li>
                                    </ul>
                                     
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" id="@string.Format("visita{0}", local.id)">
                                            <div class="panel-body">
                                                <div class="col-md-6">
                                                    <select multiple="multiple" id="dadosUnSelect" class="select-box pull-left form-control"> 
                                                        <option>9h00</option>
                                                        <option>9h30</option>
                                                        <option>10h00</option>
                                                        <option>10h30</option>
                                                        <option>11h00</option>
                                                        <option>11h30</option>
                                                        <option>12h00</option>
                                                        <option>12h30</option>
                                                        <option>13h00</option>
                                                        <option>13h30</option>
                                                        <option>14h00</option>
                                                        <option>14h30</option>
                                                        <option>15h00</option>
                                                        <option>15h30</option>
                                                        <option>16h00</option>
                                                        <option>16h30</option>
                                                        <option>17h00</option>
                                                        <option>17h30</option>
                                                        <option>18h00</option> 
                                                    </select>

                                                    <div class="select-box-option">
                                                        <a class="btn btn-sm btn-default" onclick="Left(this, 'dadosSelect', 'dadosUnSelect')" id="btnRemove">
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                        <a class="btn btn-sm btn-default" onclick="Right(this, 'dadosUnSelect', 'dadosSelect')" id="btnSelect">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </div>

                                                    <select multiple="multiple" id="dadosSelect" name="options" class="select-box pull-right form-control"></select>

                                                </div>




                                            </div>   
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="@string.Format("degustacao{0}", local.id)">
                                             
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="@string.Format("reserva{0}", local.id)">

                                        </div> 
                                    </div> 
                                </div> 
                            </div>
                        }
                    </div> 
                </div> 
            </div>
        </div> 
    </div> 
</div>