﻿@model ICollection<BuffetDataManager.Models.ORCAMENTO>
@{
    ViewBag.Title = "Próximos Eventos";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Próximos Eventos
                <div class="pull-right col-md-3">
                    <form action="/Agenda/ProximosEventos" method="post">
                        <input type="submit" class="btn btn-success pull-right " value="Filtrar" />
                        <div class=" col-md-5 pull-right ">
                            <input type="text" name="periodo" class="form-control" required placeholder="Período" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <td>Código</td>
                            <td>Cliente</td>
                            <td>Local Evento</td>
                            <td>Dia da Semana</td>
                            <td>Data</td>
                            <td></td>
                        </tr>
                    </thead>
                    @foreach (var evento in Model)
                    {
                        <tr class="@string.Format("{0}", (evento.data_evento - DateTime.Now.Date).TotalDays <= 15? "warning": (evento.data_evento - DateTime.Now.Date).TotalDays <= 7? "danger":"success")">
                            <td>@evento.codigo_unico</td>
                            <td>@evento.CLIENTE.nome</td>
                            <td>@string.Format("{0}", evento.LOCAL_EVENTO != null ? evento.LOCAL_EVENTO.nome : "Sem Local Definido")</td>
                            <td>@evento.data_evento.DayOfWeek</td>
                            <td>@evento.data_evento.ToShortDateString()</td>
                            <td align="right">
                                <a href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}", evento.codigo_unico)" class="btn btn-xs btn-success">Detalhes</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>