﻿@model BuffetWebManager.Models.Visitas.Visitas
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "Agendar Visita";
}

@if (Html.Permissoes(Permitir.Criar, Conteudo.Visitas))
{
    <div class="row">
        <form class="form-horizontal form-border no-margin" method="post" action="/Agenda/SalvarNovaVisita">
            @if (ViewBag.codigo_unico != null)
            {
                <input type="hidden" name="codigo_unico" value="@ViewBag.codigo_unico" />
            }
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Agendar Visita
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.mensagem != null)
                        {
                            <div class="alert alert-success alert-dismissible fade in" role="alert">
                                @ViewBag.mensagem
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Orçamentos ( B )</label>
                                <select name="id_orcamento" required class="form-control" @Html.Dica("top", Model.visitas != null ? "São listados apenas os orçamentos sem agendamento de visitas." : "Já selecionamos o orçamento que pretende agendar uma visita.")>
                                    @if (Model.orcamentos.Count == 1)
                                    {
                                        <option value="@Model.orcamentos.FirstOrDefault().id">@string.Format("{0} - {1}", @Model.orcamentos.FirstOrDefault().CLIENTE.nome, Model.orcamentos.FirstOrDefault().data_evento.ToShortDateString())</option>
                                    }
                                    else if (Model.orcamentos.Count > 1)
                                    {
                                        <option value="">Selecione</option>
                                        foreach (var item in Model.orcamentos)
                                        {
                                            <option value="@item.id">@string.Format("{0} - {1}", @item.CLIENTE.nome, item.data_evento.ToShortDateString())</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="">Nenhum orcamento</option>
                                    }
                                </select>
                            </div> 
                            <div class="col-md-3">
                                <label>Status da Visita ( B )</label>
                                <select name="status_visita" required class="form-control" @Html.Dica("top", "Se quiser você pode pode deixar confirmado a visita.")>
                                    <option value="">Selecione</option>
                                    <option value="CONFIRMADO">CONFIRMADO</option>
                                    <option value="AGENDADO">AGENDADO</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Local da visita ( B )</label>
                                <select class="form-control" required name="id_local_evento">
                                    <option value="">Selecione</option>
                                    @foreach (var local_evento in Model.local_evento)
                                    {
                                        <option value="@local_evento.id">  @local_evento.nome </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Tipo de visita ( B )</label>
                                <select class="form-control" required name="tipo_visita">
                                    <option value="">Selecione</option>
                                    <option value="Conhecer o Ambiente">Conhecer o Ambiente</option>
                                    <option value="Degustação">Degustação</option>  
                                </select>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-md-3">
                                <label>Data</label>
                                <input name="data" required class="form-control" type="date">
                            </div>
                            <div class="col-md-3">
                                <label>Horários ( B )</label>
                                <select name="id_horario" required class="form-control">
                                    <option value="">Selecione</option>
                                    @foreach (var item in Model.horarios_disponiveis)
                                    {
                                        <option value="@item.id">@string.Format("{0} - {1}", item.nome, item.horario.Hours)</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Anotações</label>
                                <textarea name="mensagem" class="form-control" rows="3" placeholder="Deixe alguma anotação aqui."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="hidden" name="TIPO" id="TIPO" value="C" />
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit">Agendar Visitas</button>
                            @if (Model.visitas != null)
                            {
                                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu slidedown" @Html.Dica("bottom", "Os campos com a sigla \n( B ) são utilizados para fazer consultas")>
                                    <li><a href="#" onclick="tipoSubmit('B')">Buscar Visitas</a></li>
                                </ul>
                            }
                        </div> 
                    </div>
                </div>
            </div>
        </form>
    </div>
}

@if (Model.visitas.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Visitas do mês
                    <span class="label label-info pull-right">@Model.visitas.Count Visitas</span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <td>Código Orçamento</td>
                                <td>Data</td>
                                <td>Local</td>
                                <td>Horário</td>
                                <td>Tipo</td>
                                <td>Status</td>
                                <td></td>
                            </tr>
                        </thead>
                        @foreach (var visita in Model.visitas)
                        {
                            <tr>
                                <td>@visita.ORCAMENTO.codigo_unico</td>
                                <td>@visita.data.ToShortDateString()</td>
                                <td>@visita.LOCAL_EVENTO.nome</td>
                                <td>@string.Format("{0} - {1}", visita.HORARIO_DISPONIVEIS.horario, @visita.HORARIO_DISPONIVEIS.nome)</td>
                                <td>@visita.tipo_visita</td>
                                <td>@visita.status_visita</td>
                                <td align="right"><a href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}&tab=visita", Model.orcamentos.FirstOrDefault(o => o.id == visita.id_orcamento).codigo_unico)" class="btn btn-xs btn-success" @Html.Dica("left", "Veja os detalhes desta visita dentro do orçamento.") >Ver Detalhes</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

}