﻿@model BuffetWebManager.Models.Orcamento.DetalhesOrcamento
@using BuffetWeb.Helpers

@foreach (var credito in Model.orcamento.FINANCEIRO_P_CREDITO)
{
    <div class="modal fade bs-example-modal-lg" id="@string.Format("credito{0}", credito.id)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="text-center">Cartão de crédito</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h4>Número de autenticação</h4>
                                <h5>@credito.n_autorizacao</h5>
                            </div>
                            <div class="col-md-3">
                                <h4>Bandeira</h4>
                                <h5>@credito.FINANCEIRO_BANDEIRAS.bandeira</h5>
                            </div>
                            <div class="col-md-3">
                                <h4>Parcelas</h4>
                                <h5>@credito.n_parcelas</h5>
                            </div>
                            <div class="col-md-2">
                                <h4>Valor Total</h4>
                                <h5>@credito.valor</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <td>Parcela</td>
                                        <td>Data Pagamento</td>
                                        <td>Valor da Parcela</td>
                                        <td>Status</td>
                                    </tr>
                                </thead>
                                @for (int i = 1; i != @credito.n_parcelas + 1; i++)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@credito.data.AddDays(30 * i).ToShortDateString()</td>
                                        <td>@string.Format("{0}", (credito.valor / credito.n_parcelas).ToString("F2"))</td>
                                        @if (DateTime.Now > credito.data.AddDays(30 * i))
                                        {
                                            <td class="success">Pago</td>
                                        }
                                        else
                                        {
                                            <td class="warning">Pendente</td>
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var debito in Model.orcamento.FINANCEIRO_P_DEBITO)
{
    <div class="modal fade bs-example-modal-lg" id="@string.Format("debito{0}", debito.id)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="text-center">Cartão de crédito</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h4>Número de autenticação</h4>
                                <h5>@debito.n_autorizacao</h5>
                            </div>
                            <div class="col-md-4">
                                <h4>Data</h4>
                                <h5>@debito.data.ToShortDateString()</h5>
                            </div>
                            <div class="col-md-2">
                                <h4>Valor</h4>
                                <h5>@debito.valor</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade bs-example-modal-sm" id="VisualizarConvite">
    <div class="modal-dialog" style=" width: 715px; ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seu Convite</h4>
            </div>
            <div class="modal-body">
                <iframe scrolling="no" src="@string.Format("http://convite.buffetweb.com/Convidados/ConvitePartial?codigo_unico={0}", Model.orcamento.codigo_unico)" width="689" height="440"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="PerguntaImprimir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 style=" text-align: center; ">Como deseja imprimir a sua lista?</h2>
                <div class="row">
                    <div class="col-md-12" style=" margin-bottom: 10px; ">
                        <input type="button" onclick="window.open('/Convite/ImprimirListaDeConvidados?tipoLista=COMPLETA&codigo_unico=@Model.codigo_unico', 'Lista conrimado', 'menubar=1,resizable=0,width=800,height=500')" value="Todos os convidados" class="btn btn-success btn-block" />
                    </div>
                    <div class="col-md-12">
                        <input type="button" onclick="window.open('/Convite/ImprimirListaDeConvidados?tipoLista=CONFIRMADOS&codigo_unico=@Model.codigo_unico', 'Lista conrimado', 'menubar=1,resizable=0,width=800,height=500')" value="Convidados confirmados" class="btn btn-success btn-block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.Raw(Html.BackButton((bool)ViewBag.backButton))
                Informações do Evento
                @if (Html.Permissoes(Permitir.Criar, Conteudo.Orcamentos))
                {
                    if (Model.orcamento.CLIENTE.email != null)
                    {
                        <a class="pull-right" href="javascript:void(o)" onclick="SendContact(this, '/Orcamento/EnviarDados?codigo_unico=@Model.orcamento.codigo_unico&enviar_por=email', 'email')" @Html.Dica("left", "Enviar login e senha por sms")>
                            <img src="@Html.StatusContactIcon(Model.orcamento.autenticacao, BuffetDataManager.Utils.TipoContato.InformacoesDeLogin, ContactIcon.Email)" style="width:40px" />
                        </a>
                    }

                    if (Model.orcamento.CLIENTE.celular != null)
                    {
                        <a class="pull-right" style=" margin-right: 10px; " href="javascript:void(o)" onclick="SendContact(this, '/Orcamento/EnviarDados?codigo_unico=@Model.orcamento.codigo_unico&enviar_por=sms', 'sms')" @Html.Dica("left", "Enviar login e senha por sms")>
                            <img src="@Html.StatusContactIcon(Model.orcamento.autenticacao, BuffetDataManager.Utils.TipoContato.InformacoesDeLogin, ContactIcon.SMS)" style="width:40px" />
                        </a>
                    }
                }
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            @{
                                string active = "active";

                                string tab = ViewBag.tab == null ? "" : ViewBag.tab;
                                string detalhes = "";
                                string visitas = "";
                                string item = "";
                                string anotacoes = "";
                                string convidados = "";
                                string financeiro = "";

                                switch (tab)
                                {
                                    case "visita": visitas = active; break;
                                    case "detalhes": detalhes = active; break;
                                    case "itens": item = active; break;
                                    case "convidados": convidados = active; break;
                                    case "financeiro": financeiro = active; break;
                                    case "anotacoes": anotacoes = active; break;
                                    default: detalhes = active; break;
                                }

                            }
                            <li role="presentation" class="@detalhes"><a href="#detalhes" aria-controls="home" role="tab" data-toggle="tab">Detalhes</a></li>
                            @if (!Model.orcamento.apenas_convite && Html.Permissoes(Permitir.Visualizar, Conteudo.Itens))
                            {
                                <li role="presentation" class="@item"><a href="#itens" aria-controls="profile" role="tab" data-toggle="tab">Itens</a></li>
                            }
                            <li role="presentation" class="@anotacoes"><a href="#anotacoes" aria-controls="anotacoes" role="tab" data-toggle="tab">Anotações</a></li>
                            @if (Html.Modulos(Modulo.Convite) && Html.Permissoes(Permitir.Visualizar, Conteudo.Convites))
                            {
                                <li role="presentation" class="@convidados"><a href="#convidados" aria-controls="convidados" role="tab" data-toggle="tab">Convidados</a></li>
                            }
                            @if (!Model.orcamento.apenas_convite && Html.Permissoes(Permitir.Visualizar, Conteudo.Visitas))
                            {
                                <li role="presentation" class="@visitas"><a href="#visita" aria-controls="visita" role="tab" data-toggle="tab">Visita</a></li>
                            }
                            @if (!Model.orcamento.apenas_convite && Html.Modulos(Modulo.Financeiro) && Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                            {
                                <li role="presentation" class="@financeiro"><a href="#financeiro" aria-controls="financeiro" role="tab" data-toggle="tab">Financeiro</a></li>
                            }
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in @detalhes" id="detalhes">
                                <div class="panel-body">
                                    @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                                    <div class="row">
                                        <div class="col-md-4 row">
                                            <div class="col-md-12">
                                                <h4>Cliente</h4>
                                                <h5> @Model.orcamento.CLIENTE.nome</h5>
                                            </div>
                                            <div class="col-md-12">
                                                <h4>Onde conheceu</h4>
                                                <h5> @Model.orcamento.CLIENTE.onde_conheceu</h5>
                                            </div>
                                            <div class="col-md-12">
                                                <h4>E-mail</h4>
                                                <a href="mailto:@Model.orcamento.CLIENTE.email">@Model.orcamento.CLIENTE.email </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 row">
                                            <div class="col-md-12">
                                                <h4>Telefone</h4>
                                                <h5>@Model.orcamento.CLIENTE.telefone</h5>
                                            </div>
                                            <div class="col-md-12">
                                                <h4>Status</h4>
                                                <h5>@Model.orcamento.status</h5>
                                            </div>
                                            @if (!Model.orcamento.apenas_convite)
                                            {
                                                <div class="col-md-12">
                                                    <h4>Tipo de evento</h4>
                                                    <h5>@Model.orcamento.EVENTO.nome</h5>
                                                </div>
                                            }
                                        </div>
                                        @if (!Model.orcamento.apenas_convite)
                                        {
                                            <div class="col-md-4 row">
                                                <div class="col-md-12">
                                                    <h4>Valor Total do Orçamento</h4>
                                                    <h5>@Model.orcamento.ORCAMENTO_ITENS.Sum(s => s.valor_atual)</h5>
                                                </div>
                                                <div class="col-md-12">
                                                    <h4>Total Pago</h4>
                                                    <h5>
                                                        @{ Decimal totals = Model.orcamento.FINANCEIRO_P_ESPECIE.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_CREDITO.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_DEBITO.Sum(e => e.valor); }
                                                        @totals
                                                    </h5>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @*<div class="form-group">
                                                    @foreach (var campos in Model.campos_detalhes)
                                                    {
                                                        <div class="col-md-12">
                                                            <h3>@campos.nome</h3>
                                                            @foreach (var campo in campos.CAMPOS_COMPONENTES)
                                                            {
                                                                try
                                                                {
                                                                    <div class="col-md-2">
                                                                        @if (campo.type != "select")
                                                                        {
                                                                            <h5>@campo.label</h5>
                                                                            if (Model.orcamento.GetType().GetProperties().FirstOrDefault(n => n.Name.Equals(campo.name)) != null)
                                                                            {
                                                                                <label>@Model.orcamento.GetType().GetProperties().FirstOrDefault(n => n.Name.Equals(campo.name)).GetValue(Model.orcamento, null).ToString().Replace("00:00:00", "")</label>
                                                                            }
                                                                        }
                                                                        else if (campo.type == "select")
                                                                        {
                                                                            @*<select class="form-control col-md-12" name="@campo.name" id="@campo.name">
                                                                                    @switch (campo.name)
                                                                                    {
                                                                                        case "id_local_evento":
                                                                                            {

                                                                                            } break;
                                                                                        case "id_tipo_servico":
                                                                                            {

                                                                                            } break;
                                                                                        case "id_horario_evento":
                                                                                            {

                                                                                            } break;
                                                                                    }
                                                                                </select>
                                                }
                                            </div>
                                            }
                                            catch (Exception)
                                            {

                                            }

                                            }
                                        </div>
                                        }
                                    </div>*@
                            </div>
                            @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Itens))
                            {
                                <div role="tabpanel" class="tab-pane fade in @item" id="itens">
                                    <div class="padding-md clearfix">
                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Categoria</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var itens in Model.orcamento.ORCAMENTO_ITENS)
                                                {
                                                    <tr>
                                                        <td>@itens.ITENS_CARDAPIO.nome</td>
                                                        <td>@itens.ITENS_CARDAPIO.CATEGORIA_ITENS.nome</td>
                                                        <td>@itens.valor_atual</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div role="tabpanel" class="tab-pane fade in @anotacoes" id="anotacoes">
                                <div class="row">
                                    <form action="/Orcamento/SalvarAnotacao" method="post">
                                        <input type="hidden" name="codigo_unico" value="@Model.codigo_unico" />
                                        <div class="col-md-12">
                                            <label>Titulo</label>
                                            <input type="text" class="form-control" name="titulo" />
                                            <label>Anotação</label>
                                            <textarea class="form-control" name="anotacao" placeholder="Escreva aqui as anotações deste orcamento"></textarea>
                                            <input type="submit" class="btn btn-success pull-right" value="Salvar anotação" style="margin-top: 20px" />
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="padding-md clearfix">
                                        <div class="timeline-wrapper">
                                            @foreach (var anotacao in Model.orcamento.ORCAMENTO_ANOTACOES.OrderByDescending(o => o.id).ToList())
                                            {
                                                <div class="timeline-item">
                                                    <div class="timeline-info">
                                                        <img width="50" height="50" src="@anotacao.COLABORADORE.url" class="img-circle" @Html.Dica("top", string.Format("Anotação feita por {0}", anotacao.COLABORADORE.nome)) />
                                                        @*<div class="timeline-icon bg-grey">
                                                                <i class="fa fa-file-text-o"></i>
                                                            </div>*@
                                                        <div class="time">
                                                            @anotacao.data_horario.ToShortDateString() <p />
                                                            @anotacao.data_horario.ToShortTimeString()
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default timeline-panel">
                                                        <div class="panel-heading">
                                                            @anotacao.titulo
                                                            <small class="pull-right text-muted">
                                                                <i class="fa fa-paper-plane-o"></i> @anotacao.COLABORADORE.nome
                                                            </small>
                                                        </div>
                                                        <div class="panel-body">
                                                            @*<h4></h4>
                                                                <div class="seperator"></div>
                                                                <div class="seperator"></div>*@
                                                            <p>
                                                                @anotacao.anotacao
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Html.Modulos(Modulo.Convite) && Html.Permissoes(Permitir.Visualizar, Conteudo.Convites))
                            {
                                <div role="tabpanel" class="tab-pane fade in @convidados" id="convidados">
                                    <div class="padding-md clearfix">
                                        @if (Model.orcamento.CONVITE_TEMPLATE.Count != 0)
                                        {
                                            <input type="button" style=" margin-bottom: 15px; " data-toggle="modal" data-target="#VisualizarConvite" value="Visualizar Convite" class="btn btn-success pull-right">
                                            if (Model.orcamento.data_evento < DateTime.Today)
                                            {
                                                <a href="@string.Format("/Convite/Convites?codigo_unico={0}", Model.orcamento.codigo_unico)" class="btn btn-success pull-left">Editar Convite</a>
                                            }
                                            if (Model.orcamento.CONVITE_CONVIDADOS.Count == 0)
                                            {
                                                <div class="row text-center">
                                                    <h1>Até o momento não existem convidados para este evento</h1>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">

                                                    <input type="button" style="margin-bottom: 15px; margin-right: 15px;" data-toggle="modal" data-target="#PerguntaImprimir" value="Imprimir Listas" class="btn btn-success pull-right">
                                                </div>
                                                <div class="row">
                                                    <table class="table table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th>Nome</th>
                                                                <th>Email</th>
                                                                <th>Telefone</th>
                                                                <th>Status de envio</th>
                                                                <th>Presença</th>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var convidado in Model.orcamento.CONVITE_CONVIDADOS)
                                                        {
                                                            <tr>
                                                                <td>@convidado.nome_completo</td>
                                                                <td>@Html.isEmail(convidado.email, convidado.nome_completo)</td>
                                                                <td>@convidado.telefone</td>
                                                                <td>@string.Format("{0}", convidado.email_enviado == true ? "E-mail Enviado" : "Não Enviado")</td>
                                                                <td>@convidado.ira</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <a href="/Convite/Convites?id_cliente=@Model.orcamento.CLIENTE.id" class="btn btn-success pull-left">Criar Convite</a>
                                        }
                                    </div>
                                </div>
                            }
                            @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Visitas))
                            {
                                <div role="tabpanel" class="tab-pane fade in @visitas" id="visita">
                                    <div class="form-group">
                                        @if (Model.orcamento.ORCAMENTO_VISITAS.Count == 0)
                                        {
                                            <div class="row text-center">
                                                <h1>Até o momento não foi adicionado nenhuma visita.</h1>
                                                <a href="@string.Format("/Agenda/Visitas?codigo_unico={0}", Model.codigo_unico)" class="btn btn-success">Adicionar Visita</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <a href="@string.Format("/Agenda/Visitas?codigo_unico={0}", Model.codigo_unico)" class="btn btn-success pull-right" style=" margin: 15px; ">Adicionar Visita</a>
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <td>Código</td>
                                                        <td>Data</td>
                                                        <td>Local</td>
                                                        <td>Tipo</td>
                                                        <td>Status</td>
                                                    </tr>
                                                </thead>
                                                @foreach (var visita in Model.orcamento.ORCAMENTO_VISITAS)
                                                {
                                                    <tr>
                                                        <td>@visita.id</td>
                                                        <td>@visita.data.ToShortDateString()</td>
                                                        <td>@Model.local_evento.Where(l => l.id == visita.id_local_evento).FirstOrDefault().nome </td>
                                                        <td>@visita.tipo_visita</td>
                                                        <td>@visita.status_visita</td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                </div>
                            }
                            @if (Html.Modulos(Modulo.Financeiro) && Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                            {
                                <div role="tabpanel" class="tab-pane fade in @financeiro" id="financeiro">
                                    <div class="form-group">
                                        @if (Model.orcamento.FINANCEIRO_P_BOLETO.Count == 0 && Model.orcamento.FINANCEIRO_P_ESPECIE.Count == 0 && Model.orcamento.FINANCEIRO_P_DEBITO.Count == 0 && Model.orcamento.FINANCEIRO_P_CREDITO.Count == 0 && Model.orcamento.FINANCEIRO_P_DEPOSITO.Count == 0 && Model.orcamento.FINANCEIRO_P_BOLETO.Count == 0 && Model.orcamento.FINANCEIRO_P_CHEQUE.Count == 0)
                                        {
                                            <div class="row text-center">
                                                <h1>Até o momento não foi adicionado nenhum Pagamento.</h1>
                                                <a href="@string.Format("/Financeiro/AdicionarPagamento?codigo_unico={0}", Model.codigo_unico)" class="btn btn-success">Adicionar Pagamento</a>
                                            </div>
                                        }
                                        else
                                        {

                                            <a href="@string.Format("/Financeiro/AdicionarPagamento?codigo_unico={0}", Model.codigo_unico)" style=" margin: 15px; " class="btn btn-success pull-right">Adicionar Pagamento</a>
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Data</th>
                                                        <th>Forma de pagamento</th>
                                                        <th>Valor</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                @foreach (var especie in Model.orcamento.FINANCEIRO_P_ESPECIE)
                                                {
                                                    <tr>
                                                        <td>@especie.data.ToShortDateString()</td>
                                                        <td>Dinheiro</td>
                                                        <td>@especie.valor</td>
                                                    </tr>
                                                }
                                                @foreach (var debito in Model.orcamento.FINANCEIRO_P_DEBITO)
                                                {
                                                    <tr>
                                                        <td>Débito</td>
                                                        <td>@debito.data.ToShortDateString()</td>
                                                        <td>@debito.valor</td>
                                                        <td align="right">
                                                            <input type="button" name="name" value="Detalhes" data-toggle="modal" data-target="@string.Format("#debito{0}", debito.id)" class="btn btn-xs btn-success" />
                                                        </td>
                                                    </tr>
                                                }
                                                @foreach (var credito in Model.orcamento.FINANCEIRO_P_CREDITO)
                                                {
                                                    <tr>
                                                        <td>@string.Format("{0}", credito.n_parcelas == 1 ? "Crédito a Vista" : "Crédito Parcelado")</td>
                                                        <td>@credito.data.ToShortDateString()</td>
                                                        <td>@credito.valor</td>
                                                        <td align="right">
                                                            <input type="button" name="name" value="Detalhes" data-toggle="modal" data-target="@string.Format("#credito{0}", credito.id)" class="btn btn-xs btn-success" />
                                                        </td>
                                                    </tr>
                                                }
                                                @foreach (var deposito in Model.orcamento.FINANCEIRO_P_DEPOSITO)
                                                {
                                                    <tr>
                                                        <td>Depósito</td>
                                                        <td>@deposito.data.ToShortDateString()</td>
                                                        <td align="right">@deposito.valor</td>
                                                    </tr>
                                                }
                                                @foreach (var cheque in Model.orcamento.FINANCEIRO_P_CHEQUE)
                                                {
                                                    <tr>
                                                        <td>Cheque</td>
                                                        <td>@cheque.data.ToShortDateString()</td>
                                                        <td align="right">@cheque.valor</td>
                                                    </tr>
                                                }
                                                @foreach (var boleto in Model.orcamento.FINANCEIRO_P_BOLETO)
                                                {
                                                    <tr>
                                                        <td>Cheque</td>
                                                        <td>@boleto.data.ToShortDateString()</td>
                                                        <td align="right">@boleto.valor</td>
                                                    </tr>
                                                }
                                            </table>
                                            <div class="form-group text-right">
                                                @{
                                            Decimal total = Model.orcamento.FINANCEIRO_P_ESPECIE.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_CREDITO.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_DEBITO.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_DEPOSITO.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_CHEQUE.Sum(e => e.valor) + Model.orcamento.FINANCEIRO_P_BOLETO.Sum(e => e.valor);
                                                }
                                                <h3>Total: @total</h3>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 