﻿@model BuffetWebManager.Models.Orcamento.BuscarOrcamentos
@using BuffetWeb.Helpers

@{
    var moduloOrcamento = Html.Modulos(Modulo.Orcamento);
}
<script src="~/Content/Buffet/Orcamento/Orcamento.js"></script>

<div class="modal fade bs-example-modal-sm" id="VisualizarConvite">
    <div class="modal-dialog" style=" width: 715px; ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Convite</h4>
            </div>
            <div class="modal-body">
                <iframe id="preview_convite" scrolling="no" width="689" height="440"></iframe>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <form class="form-horizontal form-border no-margin" method="post" action="/Orcamento/BuscarOrcamento">
        <input type="hidden" name="isFinanceiro" value="@ViewBag.isFinanceiro" />
        <div class="col-md-12">
            <div class="panel panel-default">
                    @if (isModuleOrcamento)
                    {
                        <div class="panel-heading">
                            Consultar Orçamentos
                        </div>
                    }
                    else
                    {
                     <div class="panel-heading">
                            Consultar Convites
                        </div>
                    }
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Cliente ( B )</label>
                            <select class="form-control" name="id_cliente">
                                <option value="">Selecione</option>
                                @foreach (var cliente in Model.clientes)
                                {
                                    <option value="@cliente.id">@cliente.nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Código único ( B )</label>
                            <input class="form-control" type="text" name="codigo_unico" />
                        </div>
                        <div class="col-md-2">
                            <label>Status ( B )</label>
                            <select class="form-control" name="status">
                            @if (isModuleOrcamento)
                            { 
                                <option value="">Selecione</option>
                                <option value="INICIADO">Iniciado</option>
                                <option value="PAGAMENTO EFETUADO">Pagamento Efetuado</option>
                                <option value="CONCLUIDO">Concluido</option>
                            }
                            else
                            { 
                                <option value="CONVITE">Convite</option>
                            }
                            </select>
                        </div>
@if (isModuleOrcamento)
                            {
                        <div class="col-md-2">
                            <label>Tipo ( B )</label>
                            <select class="form-control" name="id_tipo_evento">
                                <option value="">Selecione</option>
                                @foreach (var tipo_evento in Model.tipo_evento)
                                {
                                    <option value="@tipo_evento.id">@tipo_evento.nome</option>
                                }
                            </select>
                        </div>
}
                        <div class="col-md-2">
                            <label>Local ( B )</label>
                            <select class="form-control" name="id_local_evento">
                                <option value="">Selecione</option>
                                @foreach (var local_evento in Model.locais_evento)
                                {
                                    <option value="@local_evento.id">@local_evento.nome</option>
                                }
                            </select>
                        </div>
                    </div>
                </div> 
                <div class="panel-footer">
@if (isModuleOrcamento)
{
                    <button type="submit" class="btn btn-success">Buscar Orçamentos</button>

}
else
{
    
                    <button type="submit" class="btn btn-success">Buscar Convites</button>
}


                </div>
            </div>
        </div>
    </form>
</div>*@

    @if (ViewBag.tipo != "Orcamento" && Html.Modulos(Modulo.Convite))
    {
    <div class="panel panel-default table-responsive">
        <form action="/Convite/Convites" method="post">
            <input type="submit" class="btn btn-sucess" value="Criar Convite" />
        </form>
    </div>
    }

@if (Model.orcamentos.Count != 0)
{
    
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.mensagem != null)
            {
                Html.Raw((string)ViewBag.mensagem);
            }

            <div class="panel panel-default table-responsive"> 
                <div class="panel-heading">  
                    @Html.Raw(string.Format("Meus {0}", !Html.Modulos(Modulo.Convite)? "Orçamentos" : "Convites"))
                    <span class="label label-info pull-right">@Model.orcamentos.Count Orçamentos</span>
                </div>
                <div class="padding-md clearfix">
                    @Html.AdicionarFiltro("Orcamento", "Orcamentos", (string)ViewBag.filtro)
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th>Código Único</th>
                                <th>Cliente</th>
                                @if (moduloOrcamento)
                                {
                                     <th>Tipo Evento</th>
                                }
                                <th>Data</th>
                                <th>Local</th>
                                @if (moduloOrcamento)
                                {
                                    <th>Status</th>
                                }
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                                <th width="50"></th>
                            </tr>
                        </thead>
                        @foreach (var orcamento in Model.orcamentos)
                        {
                            <tr>
                                <td>@orcamento.codigo_unico</td>
                                <td>@orcamento.CLIENTE.nome</td>
                                @if (moduloOrcamento)
                                {
                                    if (orcamento.EVENTO != null)
                                    {
                                        <td>@orcamento.EVENTO.nome</td>
                                    }
                                    else
                                    {
                                        <td>Sem Evento Definido</td>
                                    }
                                }
                                <td>@orcamento.data_evento.ToShortDateString() - @orcamento.data_evento.DayOfWeek</td>
                                <td>@string.Format("{0}", orcamento.LOCAL_EVENTO != null ? orcamento.LOCAL_EVENTO.nome : "Sem Local Definido")</td>
                                @if (moduloOrcamento)
                                {
                                    <td>@orcamento.status</td>
                                }
                                <td>
                                    <a href="@string.Format("/Orcamento/EnviarDados?codigo_unico={0}&deDetalhes=false", orcamento.codigo_unico)" @Html.Dica("left", string.Format("O Email {0} receberá uma senha para acessar as informações deste {1}!", orcamento.CLIENTE.email, orcamento.apenas_convite ? "Convite" : "Orçamento"))>
                                        <img width="40" src="@Html.StatusContactIcon(orcamento.autenticacao, BuffetDataManager.Utils.TipoContato.InformacoesDeLogin, ContactIcon.Email)" />
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(o)" @Html.Dica("top","Visualizar Convite") onclick="VisualizarConvite(@orcamento.codigo_unico)">
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_visualizar_convite.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@string.Format("/Convite/Convites?codigo_unico={0}", orcamento.codigo_unico)" @Html.Dica("top", "Editar Convite")>
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_editar.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}&tab=convidados", orcamento.codigo_unico)" @Html.Dica("top", "Ver Detalhes")>
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_lista-2.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@string.Format("/Convite/Portaria?id_orcamento={0}", orcamento.id)" @Html.Dica("top","Portaria")>
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_portaria.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
