﻿@model BuffetWebData.Models.ORCAMENTO
@{
    ViewBag.Title = "FazerPagamento";
    Layout = @"~/Views/Shared/_LayoutGerenciar.cshtml";
}

<form action="/Orcamento/ConfirmarPagamento" method="post">
    <div class="page-title">
        <h2><i class="fa fa-desktop color"></i> Efetuar Pagamento <small>//</small></h2>
        <div class="col-md-12" style="  margin-top: -30px; ">
            <input type="submit" class="btn btn-success pull-right col-md-3" value="Confirmar pagamento">
        </div>
    </div>
    <div class="awidget full-width">
        <div class="row" style=" padding: 30px; ">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>Tipo de evento</label>
                    <h4>@Model.EVENTO.nome</h4>
                </div>
                <div class="col-md-2">
                    <label>Data do Evento</label>
                    <h4>@Model.data_evento.ToShortDateString()</h4>
                </div>
                <div class="col-md-3">
                    <label>Convidados Adultos</label>
                    <h4>@Model.n_convidados</h4>
                </div>

                <div class="col-md-3">
                    <label>Convidados Crianças</label>
                    <h4>@Model.n_convidados_c</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="awidget full-width">
        <div class="row" style=" padding: 30px; ">
            <div class="col-md-12">
                <div></div>
                <div class="col-md-7">
                    <label>Nome do titular</label>
                    <input type="text" required name="nome_titular" value="@string.Format("{0}", @Model.CLIENTE.nome != null ? Model.CLIENTE.nome : "")" class="form-control" />
                </div>
                <div class="col-md-5">
                    <label>Número do cartão</label>
                    <input type="text" required name="numero_cartao" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Parcelas</label>
                    <select required name="parcelas" class="form-control">
                        <option value="">Selecionar</option>
                        <option value="1">1x</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Mês</label>
                    <select required name="mes" class="form-control">
                        <option value="">Selecionar</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="06">07</option>
                        <option value="07">08</option>
                        <option value="08">09</option>
                        <option value="09">10</option>
                        <option value="10">11</option>
                        <option value="11">12</option>
                        <option value="12">13</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Ano</label>
                    <select required name="ano" class="form-control">
                        <option value="">Selecionar</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Código</label>
                    <input type="text" maxlength="5" required name="codigo" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</form> 