﻿@model BuffetWeb.Models.Pagamento.FormaDePagamento
@{
    ViewBag.Title = "Formas De Pamento";
    Layout = @"~/Views/Shared/_LayoutGerenciar.cshtml";
}

<script src="~/Content/Buffet/Pagamento/Pagamento.js"></script>
 
<div class="page-title">
    <h2><i class="fa fa-desktop color"></i> Selecione a forma de pagamento <small>//</small></h2>
</div>
<div class="awidget full-width">
    @if (ViewBag.mensagem != null)
    {
        <div class="page-title">
            <h2><i class="fa fa-desktop color"></i> @ViewBag.mensagem <small>//</small></h2>
            <div class="col-md-12" style="  margin-top: -30px; ">
                <input type="submit" class="btn btn-success pull-right col-md-3" value="Salvar">
            </div>
        </div>
    }
    <div class="row" style=" padding: 30px; ">
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Tipo de evento</label>
                <h4>@Model.orcamento.EVENTO.nome</h4>
            </div>
            <div class="col-md-2">
                <label>Data do Evento</label>
                <h4>@Model.orcamento.data_evento.ToShortDateString()</h4>
            </div>
            <div class="col-md-3">
                <label>Convidados Adultos</label>
                <h4>@Model.orcamento.n_convidados</h4>
            </div>

            <div class="col-md-3">
                <label>Convidados Crianças</label>
                <h4>@Model.orcamento.n_convidados_c</h4>
            </div>
        </div>
    </div>
</div>
@if (Model.cielo.Equals("true"))
{

    <div class="awidget full-width">
        <div class="row" style=" padding: 30px; ">
            <form action="/FormasDePagamento/CartaoDeCredito" method="post" id="formCartao">
                <div class="col-md-2">
                    <a href="#" onclick="document.getElementById('formCartao').submit()">
                        <img src="~/Content/Buffet/Imagens/Cartao/MasterCard.png" class="img-thumbnail" />
                    </a>
                </div>
            </form>
        </div>
    </div>
}
@if (Model.brasil.Equals("true"))
{
    <div class="awidget full-width">
        <div class="row" style=" padding: 30px; ">
            <form action="/FormasDePagamento/TransferenciaBancaria" method="post" id="formBrasil">
                <div class="col-md-3">
                    <a href="#" onclick="document.getElementById('formBrasil').submit()">
                        <img src="~/Content/Buffet/Imagens/Cartao/MasterCard.png" class="img-thumbnail" />
                    </a>
                </div>
            </form>
        </div>
    </div>
} 