﻿@model BuffetWebGerenciador.Models.Notificacao.NotificacaoModel
@using BuffetWebGerenciador.Helpers
@{
    ViewBag.Title = "Mensagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Buffet/Notificacoes/Notificacoes.js"></script>
 
<div class="panel panel-default">
    <div class="panel-heading" id="tabHeading">
        Notificações
    </div>
    <div class="panel-body">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                @{
                    var empresa = Html.EmpresaSelecionada(Request);
                }
                <li role="presentation" class="active"><a href="#empresaSelecionada" aria-controls="home" role="tab" data-toggle="tab">Empresa Selecionada</a></li>
                <li role="presentation"><a href="#empresa" aria-controls="empresa" role="tab" data-toggle="tab">Empresas</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="empresaSelecionada">
                    <div class="panel panel-body">
                        @if (empresa == null)
                        {
                            <div class="col-md-12 text-center">
                                <h3>Selecione uma empresa</h3>
                                <a href="/Empresas/Empresas?acao=Notificacoes&controle=Notificacao" class="btn btn-success">Empresas</a>
                            </div>
                        }
                        else
                        {
                            <form action="/Notificacao/SalvarNotificacoes" method="post">
                                @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12 thumbnail" style=" padding: 10px; ">
                                            <div class="col-md-2">
                                                <img src="http://buffetweb.com/Empresas/Arquivos/Logos/Logo_Small.png" alt="Avatar" class="img-circle">
                                            </div>
                                            <div class="row col-md-10">
                                                <div class="detail">
                                                    <strong>BuffetWeb</strong>
                                                    <p class="no-margin" id="mesagem">
                                                        Mensagem Aqui
                                                    </p>
                                                    <small class="text-muted"><i class="fa fa-check text-success"></i> @DateTime.Now.Date.ToShortDateString() </small>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Mensagem</h4>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" name="mensagem" onkeyup="o('mesagem').innerHTML = this.value"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" required class="btn btn-success col-md-3 pull-right" value="Enviar" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Colaboradores</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="20"></th>
                                                    <th>Nome</th>
                                                    <th>Perfil</th>
                                                </tr>
                                            </thead>
                                            @for (int i = 0; i < Model.colaboradorresESelecionada.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        <label class="label-checkbox">
                                                            <input type="hidden" name="@string.Format("[{0}].id_colaborador", i)" value="@Model.colaboradorresESelecionada.ElementAt(i).id" />
                                                            <input type="hidden" id="@string.Format("colaborador{0}", i)" name="@string.Format("[{0}].colaborador_selecionado", i)" value="false" />
                                                            <input type="checkbox" class="chk-row" onclick="o('@string.Format("colaborador{0}", i)').value = this.checked">
                                                            <span class="custom-checkbox"></span>
                                                        </label>
                                                    </td>
                                                    <td>@Model.colaboradorresESelecionada.ElementAt(i).nome</td>
                                                    <td>@Model.colaboradorresESelecionada.ElementAt(i).PERFIL_COLABORADOR.nome</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="empresa">
                    <div class="panel panel-body">
                        <form action="/Notificacao/SalvarNotificacoesEmpresas" method="post">
                            @for (int e = 0; e < Model.empresas.Count; e++)
                            {
                                <div class="modal fade" id="@string.Format("empresa_{0}", Model.empresas.ElementAt(e).id)">
                                    <div class="modal-dialog modal-xs">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4>Empresa @Model.empresas.ElementAt(e).nome</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="20"></th>
                                                            <th>Nome</th>
                                                            <th>Perfil</th>
                                                        </tr>
                                                    </thead> 
                                                    @for (int i = 0; i < Model.empresas.ElementAt(e).COLABORADORES.Count; i++)
                                                    {
                                                        <tr id="@string.Format("empresa_{0}_tr_{1}", Model.empresas.ElementAt(e).id, i)">
                                                            <td>
                                                                <label class="label-checkbox">
                                                                    <input type="hidden" name="@string.Format("[{0}].id_empresa", i)" value="@Model.empresas.ElementAt(e).id" />
                                                                    <input type="hidden" name="@string.Format("[{0}].id_colaborador", i)" value="@Model.empresas.ElementAt(e).COLABORADORES.ElementAt(i).id" />
                                                                    <input type="hidden" id="@string.Format("colaborador{0}{1}", Model.empresas.ElementAt(e).id, i)" name="@string.Format("[{0}].colaborador_selecionado", i)" value="false" />
                                                                    <input type="checkbox" class="chk-row" id="@string.Format("empresa_{0}_colaborador_{1}", Model.empresas.ElementAt(e).id, i)" onclick="o('@string.Format("colaborador{0}{1}", Model.empresas.ElementAt(e).id, i)').value = this.checked">
                                                                    <span class="custom-checkbox"></span>
                                                                </label>
                                                            </td>
                                                            <td>@Model.empresas.ElementAt(e).COLABORADORES.ElementAt(i).nome</td>
                                                            <td>@Model.empresas.ElementAt(e).COLABORADORES.ElementAt(i).PERFIL_COLABORADOR.nome</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-success" data-dismiss="modal" value="Confirmar" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @Html.AddMensagem((string)ViewBag.mensagem)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12 thumbnail" style=" padding: 10px; ">
                                        <div class="col-md-2">
                                            <img src="http://buffetweb.com/Empresas/Arquivos/Logos/Logo_Small.png" alt="Avatar" class="img-circle">
                                        </div>
                                        <div class="row col-md-10">
                                            <div class="detail">
                                                <strong>BuffetWeb</strong>
                                                <p class="no-margin" id="mesagem2">
                                                    Mensagem Aqui
                                                </p>
                                                <small class="text-muted"><i class="fa fa-check text-success"></i> @DateTime.Now.Date.ToShortDateString() </small>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Mensagem</h4>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" required name="mensagem" onkeyup="o('mesagem2').innerHTML = this.value"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success col-md-3 pull-right" value="Enviar" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Empresas</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="20"></th>
                                                <th>Nome</th> 
                                                <th></th>
                                            </tr>
                                        </thead>
                                        @for (int i = 0; i < Model.empresas.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <label class="label-checkbox">
                                                        <input type="hidden" name="@string.Format("[{0}].id_empresa", i)" value="@Model.empresas.ElementAt(i).id" />
                                                        <input type="hidden" id="@string.Format("empresa{0}", Model.empresas.ElementAt(i).id)" name="@string.Format("[{0}].empresa_selecionada", i)" value="false" />
                                                        <input type="checkbox" class="chk-row" onclick="SelecionarColaboradores(this, @Model.empresas.ElementAt(i).id, @Model.empresas.ElementAt(i).COLABORADORES.Count)">
                                                        <span class="custom-checkbox"></span>
                                                    </label>
                                                </td>
                                                <td>@Model.empresas.ElementAt(i).nome</td> 
                                                <td><input type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#@string.Format("empresa_{0}", Model.empresas.ElementAt(i).id)" value="Colaboradores" /></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
        </div>
    </div>
</div>
