﻿@using BuffetWebPortal.Helpers
@{
    var AnuncioDestaque = Html.GetAnuncianteHeader();
    var AnuncioTopMenu = Html.GetAnuncianteTopMenu();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        .pac-container {
            background-color: #fff;
            position: absolute !important;
            z-index: 1000;
            border-radius: 2px;
            border-top: 1px solid #d9d9d9;
            font-family: Arial,sans-serif;
            box-shadow: 0 2px 6px rgba(0,0,0,0.3);
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }

        .pac-container:after {
            content: "";
            padding: 1px 1px 1px 0;
            height: 16px;
            text-align: right;
            display: block;
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 104px 16px;
        }

        .hdpi.pac-container:after {
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png);
        }

        .pac-item {
            cursor: default;
            padding: 0 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 30px;
            text-align: left;
            border-top: 1px solid #e6e6e6;
            font-size: 11px;
            color: #999;
        }

        .pac-item:hover {
            background-color: #fafafa;
        }

        .pac-item-selected, .pac-item-selected:hover {
            background-color: #ebf2fe;
        }

        .pac-matched {
            font-weight: 700;
        }

        .pac-item-query {
            font-size: 13px;
            padding-right: 3px;
            color: #000;
        }

        .pac-icon {
            width: 15px;
            height: 20px;
            margin-right: 7px;
            margin-top: 6px;
            display: inline-block;
            vertical-align: top;
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
            background-size: 34px;
        }

        .hdpi .pac-icon {
            background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png);
        }

        .pac-icon-search {
            background-position: -1px -1px;
        }

        .pac-item-selected .pac-icon-search {
            background-position: -18px -1px;
        }

        .pac-icon-marker {
            background-position: -1px -161px;
        }

        .pac-item-selected .pac-icon-marker {
            background-position: -18px -161px;
        }

        .pac-placeholder {
            color: gray;
        }
    </style>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>BuffetWeb</title>
    @Styles.Render("~/Content/baseCSS")
     
    <link href="~/Content/Templates/Slide/css/jquery-fullsizable.css" rel="stylesheet" />
    <link href="~/Content/Templates/Slide/css/jquery-fullsizable-theme.css" rel="stylesheet" />
    <script src="~/Content/Templates/Slide/js/jquery-1.7.2.js"></script>
    <script src="https://cdn.rawgit.com/mattbryson/TouchSwipe-Jquery-Plugin/1.6.6/jquery.touchSwipe.min.js"></script>
    <script src="~/Content/Templates/Slide/js/jquery-fullsizable.js"></script>


    @*<link href="~/Content/Templates/Portal/css/animate.min.css" rel="stylesheet" />
        <link href="~/Content/Templates/Portal/css/animate.ext.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" type="text/css" href="~/Content/Templates/Portal/css/EF4CSSmin.css" />*@

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300italic,400,500,700" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:900" type="text/css"> 

    @*<link href="~/Content/Templates/Portal/css/font-awesome.min.css" rel="stylesheet" />*@

    <link href="~/Content/Templates/Portal/css/themetoggler.css" rel="stylesheet" />
    <script src="~/Content/Templates/Portal/js/jquery.min.js"></script>
    <script>
        jQuery.noConflict();
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>

    <script src="~/Content/Templates/Portal/js/jmf_75bdf32f6d5e8766bda41ec417381e88.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" type="text/javascript" defer="defer"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;v=3.exp&amp;libraries=places" type="text/javascript"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/main.js"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/places.js"></script>*@

    <script src="~/Content/Templates/Portal/js/jmf_c69f5f736d8033d9a9bf406de9cf5eba.js"></script>

    @*<script type="text/javascript">
        jQuery(function ($) {
            SqueezeBox.initialize({});
            SqueezeBox.assign($('a.modal').get(), {
                parse: 'rel'
            });
        });
        function jModalClose() {
            SqueezeBox.close();
        }
        jQuery(function ($) {
            $('.djrv_tooltip').each(function () {
                var title = $(this).attr('title');
                if (title) {
                    var parts = title.split('::', 2);
                    var mtelement = document.id(this);
                    mtelement.store('tip:title', parts[0]);
                    mtelement.store('tip:text', parts[1]);
                }
            });
            var JTooltips = new Tips($('.djrv_tooltip').get(), { "maxTitleChars": 50, "fixed": false });
        });
        jQuery(document).ready(function () {
            DJReviewsCore.init({ "url": "http:\/\/templates.joomla-monster.com\/joomla30\/jm-joomads\/", "object_url": "index.php?option=com_djclassifieds&view=item&cid=18:furniture&id=38:modern-sofa&Itemid=540", "object_id": "1" });
        });

        jQuery(function ($) {
            $('.hasTip').each(function () {
                var title = $(this).attr('title');
                if (title) {
                    var parts = title.split('::', 2);
                    var mtelement = document.id(this);
                    mtelement.store('tip:title', parts[0]);
                    mtelement.store('tip:text', parts[1]);
                }
            });
            var JTooltips = new Tips($('.hasTip').get(), { "maxTitleChars": 50, "fixed": false });
        });
        jQuery(function ($) {
            $('.Tips1').each(function () {
                var title = $(this).attr('title');
                if (title) {
                    var parts = title.split('::', 2);
                    var mtelement = document.id(this);
                    mtelement.store('tip:title', parts[0]);
                    mtelement.store('tip:text', parts[1]);
                }
            });
            var JTooltips = new Tips($('.Tips1').get(), { "maxTitleChars": 50, "className": "djcf", "fixed": false });
        });
        jQuery(document).ready(function () {
            jQuery('.hasTooltip').tooltip({ "html": true, "container": "body" });
        });

        jQuery(document).ready(function () {
            jQuery('.category-ms .dj_cf_search .search_cats > select').chosen({ "disable_search_threshold": 10, "allow_single_deselect": true, "placeholder_text_multiple": "Select some options", "placeholder_text_single": "Select an option", "no_results_text": "No results match" });
        });

        window.addEvent('domready', function () { if (!this.DJSlider10m196) this.DJSlider10m196 = new DJImageSlider({ id: '10m196', slider_type: 'left', slide_size: 310, visible_slides: 4, show_buttons: 1, show_arrows: 1, show_indicators: 1, preload: 0 }, { auto: 1, transition: Fx.Transitions.Expo.easeInOut, duration: 1000, delay: 7000 }) });
        window.addEvent('domready', function () { if (!this.DJGalleryGrid16m241) this.DJGalleryGrid16m241 = new DJImageGalleryGrid('dj-galleryGrid16m241', { transition: Fx.Transitions.Expo.easeOut, duration: 250, delay: 50, effect: 'left', desc_effect: 'fade', width: 408, height: 204, spacing: 0, preload: 0 }) });
        window.addEvent('domready', function () { if (!this.DJGalleryGrid17m242) this.DJGalleryGrid17m242 = new DJImageGalleryGrid('dj-galleryGrid17m242', { transition: Fx.Transitions.Expo.easeOut, duration: 250, delay: 50, effect: 'left', desc_effect: 'fade', width: 408, height: 204, spacing: 0, preload: 0 }) });
        Calendar._DN = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; Calendar._SDN = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]; Calendar._FD = 0; Calendar._MN = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; Calendar._SMN = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; Calendar._TT = { "INFO": "About the Calendar", "ABOUT": "DHTML Date\/Time Selector\n(c) dynarch.com 2002-2005 \/ Author: Mihai Bazon\nFor latest version visit: http:\/\/www.dynarch.com\/projects\/calendar\/\nDistributed under GNU LGPL.  See http:\/\/gnu.org\/licenses\/lgpl.html for details.\n\nDate selection:\n- Use the \u00ab and \u00bb buttons to select year\n- Use the < and > buttons to select month\n- Hold mouse button on any of the buttons above for faster selection.", "ABOUT_TIME": "\n\nTime selection:\n- Click on any of the time parts to increase it\n- or Shift-click to decrease it\n- or click and drag for faster selection.", "PREV_YEAR": "Click to move to the previous year. Click and hold for a list of years.", "PREV_MONTH": "Click to move to the previous month. Click and hold for a list of the months.", "GO_TODAY": "Go to today", "NEXT_MONTH": "Click to move to the next month. Click and hold for a list of the months.", "SEL_DATE": "Select a date.", "DRAG_TO_MOVE": "Drag to move", "PART_TODAY": " Today ", "DAY_FIRST": "Display %s first", "WEEKEND": "0,6", "CLOSE": "Close", "TODAY": "Today", "TIME_PART": "(Shift-)Click or Drag to change the value.", "DEF_DATE_FORMAT": "%Y-%m-%d", "TT_DATE_FORMAT": "%a, %b %e", "WK": "wk", "TIME": "Time:" };
        window.addEvent('domready', function () { if (!this.DJSlideshow15m243) this.DJSlideshow15m243 = new DJImageTabber('dj-tabber15m243', { autoplay: 1, pause_autoplay: 1, transition: Fx.Transitions.Expo.easeInOut, duration: 1000, delay: 7000, slider_type: 'left', desc_effect: 'fade', width: 510, height: 341, spacing: 1, navi_margin: 0, preload: 0, tab_height: 115, tab_indicator: 2 }) });
        (function () {
            var cb = function () {
                var add = function (css) {
                    var l = document.createElement('link'); l.rel = 'stylesheet';
                    l.href = css;
                    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
                }
                add('/joomla30/jm-joomads/media/djextensions/css/animate.min.css');
                add('/joomla30/jm-joomads/media/djextensions/css/animate.ext.css');
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(cb);
            else window.addEventListener('load', cb);
        })();</script>

    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/common.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/util.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/controls.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/places_impl.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/infowindow.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.gstatic.com/maps-api-v3/api/js/21/9a/stats.js" charset="UTF-8" type="text/javascript"></script>*@
</head>

<body class="fixed sticky-bar top-bar top-menu off-canvas-right dj-offcanvas-effect-3">
    <div class="dj-offcanvas-wrapper">
        <div class="dj-offcanvas-pusher">
            <div class="dj-offcanvas-pusher-in">
                <div id="jm-allpage">
                    <div id="jm-page">
                        <section id="jm-top-bar" class="">
                            <div class="container-fluid">
                                <div class="jm-module-raw  visible-desktop">
                                    <ul class="nav menu">
                                        <li class="item-527">
                                            <a href="/Portal/Anuncie">ANUNCIE</a>
                                        </li>
                                        @if (!Html.isLogin(Context))
                                        {
                                            <li class="item-528">
                                                <a href="/Cliente/CriarConta">CADASTRE-SE</a>
                                            </li>
                                        }
                                        <li class="item-530">
                                            @if (Html.isLogin(Context))
                                            {
                                                <a class="color" href="/Cliente/Perfil" id="loginStatus">ÁREA DO CLIENTE</a>
                                            }
                                            else
                                            {
                                                <a class="color" href="/Cliente/Login" id="loginStatus">FAZER LOGIN</a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section id="jm-bar-wrapp" class="">
                            <div id="jm-bar">
                                <div class="container-fluid">
                                    <div id="jm-bar-in" class="clearfix">
                                        <div id="jm-logo-sitedesc" class="pull-left">
                                            <div id="jm-logo">
                                                <a href="/Portal/">
                                                    <img src="~/Content/imagens/logo.png" />
                                                </a>
                                            </div>
                                        </div>
                                        <nav id="jm-djmenu" class="pull-right ">
                                            <div class="jm-module-raw ">
                                                <ul id="dj-megamenu141" class="dj-megamenu dj-megamenu-override hasSubtitles " data-options='{"wrap":"jm-djmenu","animIn":"fadeInDown","animOut":"fadeOutDown","animSpeed":"fast","delay":"0","event":"mouseenter","fixed":"0","offset":"0","theme":"override","direction":"ltr"}' data-trigger="979">
                                                    <li class="dj-up itemid470 first current active">
                                                        <a class="dj-up_a active withsubtitle " href="">
                                                            <span>
                                                                Inicio<small class="subtitle">veja mais</small>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="dj-up itemid550 parent">
                                                        <a class="dj-up_a  withsubtitle " href="#">
                                                            <span class="dj-drop">
                                                                Zona Leste<small class="subtitle">anuncios</small>
                                                            </span>
                                                        </a>
                                                        <div class="dj-subwrap  multiple_cols subcols2">
                                                            <div class="dj-subwrap-in" style="width:975px;">
                                                                <div class="dj-subcol" style="width:275px">
                                                                    <ul class="dj-submenu">
                                                                        <li class="itemid597 first separator withmodule">
                                                                            <div class="modules-wrap">
                                                                                <div class="moduletable _menu tag-ms">
                                                                                    <h3>Selecione o Bairro</h3><div class="djcf_menu">
                                                                                        <ul class="menu nav  _menu tag-ms">
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Toda Zona Leste">Toda Zona Leste</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Tauapé">Tauapé</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Mooca">Mooca</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Penha">Penha</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Vila Formosa">Vila Formosa</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Vila Ema">Vila Ema</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Artur Alvim">Artur Alvim</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=São Miguél">São Miguél</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Vl Matilde">Vl Matilde</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Itaquera">Itaquera</a>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                @foreach (var top in AnuncioTopMenu.Where(e => e.regiao.Equals("ZONALESTE")).Take(3).ToList())
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona leste</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">
                                                                                                        <img src="@Html.GetImagemParceiro(top.LOCAL_EVENTO.autenticacao)" style=" height: 135px; " />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">@top.LOCAL_EVENTO.nome</h3><p class="desc">@top.LOCAL_EVENTO.regiao</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                @for (int i = 0; i < 3 - AnuncioTopMenu.Where(e => e.regiao.Equals("ZONALESTE")).Take(3).ToList().Count; i++)
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona leste</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="#">
                                                                                                        <img src="~/Content/imagens/anuncie.png" />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">Seu Buffet Aqui</h3><p class="desc">Buffet da Zona Leste</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="/Anuncios/Planos?Plano=TopZonaSul">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                <div style="clear:both;height:0"></div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="dj-up itemid475 parent">
                                                        <a class="dj-up_a  withsubtitle " href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds">
                                                            <span class="dj-drop">
                                                                Zona Sul<small class="subtitle">anuncios</small>
                                                            </span>
                                                        </a>
                                                        <div class="dj-subwrap  multiple_cols subcols2">
                                                            <div class="dj-subwrap-in" style="width:975px;">
                                                                <div class="dj-subcol" style="width:275px">
                                                                    <ul class="dj-submenu">
                                                                        <li class="itemid597 first separator withmodule">
                                                                            <div class="modules-wrap">
                                                                                <div class="moduletable _menu tag-ms">
                                                                                    <h3>Selecione o Bairro</h3><div class="djcf_menu">
                                                                                        <ul class="menu nav  _menu tag-ms">
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Toda Zona Sul">Toda Zona Sul</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Campo Belo">Campo Belo</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Cursino">Cursino</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Ipiranga">Ipiranga</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Jabaquara">Jabaquara</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Moema">Moema</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Sacomã">Sacomã</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Saúde">Saúde</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Campo Limpo">Campo Limpo</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Interlagos">Interlagos</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                @foreach (var top in AnuncioTopMenu.Where(e => e.regiao.Equals("ZONASUL")).Take(3).ToList())
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona sul</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">
                                                                                                        <img src="@Html.GetImagemParceiro(top.LOCAL_EVENTO.autenticacao)" style=" height: 135px; " />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">@top.LOCAL_EVENTO.nome</h3><p class="desc">@top.LOCAL_EVENTO.regiao</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                @for (int i = 0; i < 3 - AnuncioTopMenu.Where(e => e.regiao.Equals("ZONASUL")).Take(3).ToList().Count; i++)
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona sul</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="#">
                                                                                                        <img src="~/Content/imagens/anuncie.png" />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">Seu Buffet Aqui</h3><p class="desc">Buffet da Zona Sul</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="/Anuncios/Planos?Plano=TopZonaSul">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                <div style="clear:both;height:0"></div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="dj-up itemid583 parent">
                                                        <a class="dj-up_a  withsubtitle " href="#">
                                                            <span class="dj-drop">
                                                                Zona Norte<small class="subtitle">anuncios</small>
                                                            </span>
                                                        </a><div class="dj-subwrap  multiple_cols subcols2">
                                                            <div class="dj-subwrap-in" style="width:975px;">
                                                                <div class="dj-subcol" style="width:275px">
                                                                    <ul class="dj-submenu">
                                                                        <li class="itemid597 first separator withmodule">
                                                                            <div class="modules-wrap">
                                                                                <div class="moduletable _menu tag-ms">
                                                                                    <h3>Selecione o Bairro</h3><div class="djcf_menu">
                                                                                        <ul class="menu nav  _menu tag-ms">
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Toda Zona Norte">Toda Zona Norte</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Santana">Santana</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Tucuruvi">Tucuruvi</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Freguesia do Ó">Freguesia do Ó</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Limão">Limão</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Casa Verde">Casa Verde</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Mandaqui">Mandaqui</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Vila Guilherme">Vila Guilherme</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                @foreach (var top in AnuncioTopMenu.Where(e => e.regiao.Equals("ZONANORTE")).Take(3).ToList())
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona norte</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">
                                                                                                        <img src="@Html.GetImagemParceiro(top.LOCAL_EVENTO.autenticacao)" style=" height: 135px; " />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">@top.LOCAL_EVENTO.nome</h3><p class="desc">@top.LOCAL_EVENTO.regiao</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                @for (int i = 0; i < 3 - AnuncioTopMenu.Where(e => e.regiao.Equals("ZONANORTE")).Take(3).ToList().Count; i++)
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona norte</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="#">
                                                                                                        <img src="~/Content/imagens/anuncie.png" />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">Seu Buffet Aqui</h3><p class="desc">Buffet da Zona Norte</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="/Anuncios/Planos?Plano=TopZonaSul">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                <div style="clear:both;height:0"></div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="dj-up itemid487 parent">
                                                        <a class="dj-up_a  withsubtitle " href="#">
                                                            <span class="dj-drop">
                                                                Zona Oeste
                                                                <small class="subtitle">anuncios</small>
                                                            </span>
                                                        </a><div class="dj-subwrap  multiple_cols subcols2">
                                                            <div class="dj-subwrap-in" style="width:975px;">
                                                                <div class="dj-subcol" style="width:275px">
                                                                    <ul class="dj-submenu">
                                                                        <li class="itemid597 first separator withmodule">
                                                                            <div class="modules-wrap">
                                                                                <div class="moduletable _menu tag-ms">
                                                                                    <h3>Selecione o Bairro</h3><div class="djcf_menu">
                                                                                        <ul class="menu nav  _menu tag-ms">
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Toda Zona Oeste">Toda Zona Oeste</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Pirituba">Pirituba</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Jaguará">Jaguará</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Vila Leopoldina">Vila Leopoldina</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Lapa">Lapa</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Pinheiros">Pinheiros</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Butantã">Butantã</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Pompéia">Pompéia</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Barra Funda">Barra Funda</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Morumbi">Morumbi</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Itaim">Itaim</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                @foreach (var top in AnuncioTopMenu.Where(e => e.regiao.Equals("ZONAOESTE")).Take(3).ToList())
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona oeste</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">
                                                                                                        <img src="@Html.GetImagemParceiro(top.LOCAL_EVENTO.autenticacao)" style=" height: 135px; " />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">@top.LOCAL_EVENTO.nome</h3><p class="desc">@top.LOCAL_EVENTO.regiao</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                @for (int i = 0; i < 3 - AnuncioTopMenu.Where(e => e.regiao.Equals("ZONAOESTE")).Take(3).ToList().Count; i++)
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top zona oeste</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="#">
                                                                                                        <img src="~/Content/imagens/anuncie.png" />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">Seu Buffet Aqui</h3><p class="desc">Buffet da Zona Oeste</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="/Anuncios/Planos?Plano=TopZonaSul">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                <div style="clear:both;height:0"></div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="dj-up itemid651 parent">
                                                        <a class="dj-up_a  withsubtitle " href="#">
                                                            <span class="dj-drop">
                                                                Grande SP / ABC<small class="subtitle">anuncios</small>
                                                            </span>
                                                        </a><div class="dj-subwrap  multiple_cols subcols2">
                                                            <div class="dj-subwrap-in" style="width:975px;">
                                                                <div class="dj-subcol" style="width:275px">
                                                                    <ul class="dj-submenu">
                                                                        <li class="itemid597 first separator withmodule">
                                                                            <div class="modules-wrap">
                                                                                <div class="moduletable _menu tag-ms">
                                                                                    <h3>Selecione o Municipio</h3><div class="djcf_menu">
                                                                                        <ul class="menu nav  _menu tag-ms">
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Toda Grande SP e ABC">Toda Grande SP e ABC</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Osasco">Osasco</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Guarulhos">Guarulhos</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Embu das Artes">Embu das Artes</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Taboão">Taboão</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Barueri/Alphaville">Barueri/Alphaville</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Diadema">Diadema</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=São Caetano">São Caetano</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=SBC">SBC</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Santo André">Santo André</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Mauá">Mauá</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                @foreach (var top in AnuncioTopMenu.Where(e => e.regiao.Equals("GRANDESP")).Take(3).ToList())
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top grande sp / ABC</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">
                                                                                                        <img src="@Html.GetImagemParceiro(top.LOCAL_EVENTO.autenticacao)" style=" height: 135px; " />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">@top.LOCAL_EVENTO.nome</h3><p class="desc">@top.LOCAL_EVENTO.regiao</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                @for (int i = 0; i < 3 - AnuncioTopMenu.Where(e => e.regiao.Equals("GRANDESP")).Take(3).ToList().Count; i++)
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top grande sp / ABC</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="#">
                                                                                                        <img src="~/Content/imagens/anuncie.png" />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">Seu Buffet Aqui</h3><p class="desc">Buffet da Grande SP / ABC</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="/Anuncios/Planos?Plano=TopZonaSul">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                <div style="clear:both;height:0"></div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="dj-up itemid-472 parent">
                                                        <a class="dj-up_a  withsubtitle " href="#">
                                                            <span class="dj-drop">
                                                                interior<small class="subtitle">anuncios</small>
                                                            </span>
                                                        </a><div class="dj-subwrap  multiple_cols subcols2">
                                                            <div class="dj-subwrap-in" style="width:975px;">
                                                                <div class="dj-subcol" style="width:275px">
                                                                    <ul class="dj-submenu">
                                                                        <li class="itemid597 first separator withmodule">
                                                                            <div class="modules-wrap">
                                                                                <div class="moduletable _menu tag-ms">
                                                                                    <h3>Selecione o Municipio</h3><div class="djcf_menu">
                                                                                        <ul class="menu nav _menu tag-ms">
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Todo Interior">Todo Interior</a>
                                                                                            </li>
                                                                                            <li class="parent">
                                                                                                <a href="/Portal/Regiao?Regiao=Campinas">Campinas</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Bauru">Bauru</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Ferraz de Vasconcelos">Ferraz de Vasconcelos</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Indaiatuba">Indaiatuba</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Jundiaí">Jundiaí</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Mogi das Cruzes">Mogi das Cruzes</a>
                                                                                            </li>
                                                                                            <li class="">
                                                                                                <a href="/Portal/Regiao?Regiao=Sorocaba">Sorocaba</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                @foreach (var top in AnuncioTopMenu.Where(e => e.regiao.Equals("INTERIOR")).Take(3).ToList())
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top Interior</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">
                                                                                                        <img src="@Html.GetImagemParceiro(top.LOCAL_EVENTO.autenticacao)" style=" height: 135px; " />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">@top.LOCAL_EVENTO.nome</h3><p class="desc">@top.LOCAL_EVENTO.regiao</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="@string.Format("/Parceiros/Parceiro?Parceiro={0}", top.LOCAL_EVENTO.autenticacao)">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                @for (int i = 0; i < 3 - AnuncioTopMenu.Where(e => e.regiao.Equals("INTERIOR")).Take(3).ToList().Count; i++)
                                                                {
                                                                    <div class="dj-subcol" style="width:225px">
                                                                        <ul class="dj-submenu">
                                                                            <li class="itemid505 first separator withmodule">
                                                                                <div class="modules-wrap">
                                                                                    <div class="moduletable">
                                                                                        <h3>Top Interior</h3><div class="custom">
                                                                                            <div class="jm-special clearfix">
                                                                                                <div class="td1">
                                                                                                    <a href="#">
                                                                                                        <img src="~/Content/imagens/anuncie.png" />
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="td3">
                                                                                                    <h3 class="title">Seu Buffet Aqui</h3><p class="desc">Buffet do Interior</p>
                                                                                                </div>
                                                                                                <div class="td4">
                                                                                                    <a class="readmore" href="/Anuncios/Planos?Plano=TopZonaSul">+ Detalhes</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                                <div style="clear:both;height:0"></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="jm-main">
                            @RenderBody()
                        </section>

                        <section id="jm-footer-mod" class=" jm-footer">
                            <div class="container-fluid">
                                <div id="jm-footer-mod-in">
                                    <div class="row-fluid jm-flexiblock jm-footer">
                                        <div class="span12" data-default="span12" data-wide="span12" data-normal="span12" data-xtablet="span12" data-tablet="span100" data-mobile="span100">
                                            <div class="row-fluid">
                                                <div class="span3">
                                                    <div class="jm-module ">
                                                        <div class="jm-module-in">
                                                            <h3 class="jm-title ">
                                                                <span>Entre em Contato</span>
                                                            </h3><div class="jm-module-content clearfix ">
                                                                <div class="custom">
                                                                    <p style="margin: 0;">
                                                                        E-mail: contato@buffetweb.com
                                                                    </p>
                                                                    <p style="margin: 15px 0 0;">
                                                                        <a class="readmore" href="#">Deixe-nos uma mensagem!</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span7">
                                                    <div class="jm-module">
                                                        <div class="jm-module-in">
                                                            <div class="jm-module-content clearfix notitle">
                                                                <div class="custom">
                                                                    <p class="jm-icons">
                                                                        <a class="jm-facebook" target="_blank" href="https://www.facebook.com/pages/BuffetWebcom/376802529148708?fref=ts">
                                                                            <span class="bg"></span><span class="ttip">facebook</span>
                                                                        </a> 
                                                                        <a class="jm-twitter" target="_blank" href="https://twitter.com/PortalBuffetWeb">
                                                                            <span class="bg"></span><span class="ttip">twitter</span>
                                                                        </a> 
                                                                        <a class="jm-google" target="_blank" href="https://plus.google.com/+BuffetwebOficial">
                                                                            <span class="bg"></span><span class="ttip">google plus</span>
                                                                        </a> 
                                                                        <a class="jm-youtube" target="_blank" href="https://www.youtube.com/channel/UCrq51JrasogBH-icXbyJPUg">
                                                                            <span class="bg"></span><span class="ttip">Youtube</span>
                                                                        </a>
                                                                        <a class="jm-vimeo" target="_blank" href="https://vimeo.com/buffetweboficial">
                                                                            <span class="bg"></span><span class="ttip">vimeo</span>
                                                                        </a> 
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer id="jm-footer" class="">
                            <div class="container-fluid jm-footer">
                                <div id="jm-footer-in" class="row-fluid">
                                    <div id="jm-footer-left" class="pull-left span6 ">
                                        <div id="jm-copyrights">
                                            <div class="custom">
                                                <p style="margin: 0;">WeCash © Todos os Direitos Reservados.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <p style="display: block; opacity: 1;" id="jm-back-top"><a id="backtotop" href="#top"><span>&nbsp;</span></a></p>
                    </div>
                </div>
                <div tabindex="-1" style="z-index: 65555; opacity: 0;" aria-hidden="true" id="sbox-overlay"></div>
                <div class="shadow" style="z-index: 65557;" aria-hidden="true" role="dialog" id="sbox-window">
                    <div style="opacity: 0;" id="sbox-content"></div><a aria-controls="sbox-window" role="button" href="#" id="sbox-btn-close"></a>
                </div>
            </div>
        </div>
    </div>

    @*<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@
</body>
</html>