﻿@using BuffetWeb.Helpers
@{
    var localEvento = Html.LocalEvento();
}

<script src="~/Content/Buffet/Proposta/CriarProposta.js"></script>

<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        Criar Proposta
    </div>
    <div class="panel-body">
        @Html.AddMensagem((string)ViewBag.mensagem)

        <div class="col-md-7 pull-left">
            <div class="text-center form-group">
                <img src="~/Content/Buffet/Proposta/Imagens/proposta_explicacao.png" />
            </div>
        </div>
        <div class="col-md-5 pull-right">
            <form action="/Proposta/NovaProposta" method="post">
                <div class="row">
                    <div class="col-md-7">
                        <label>Nome da proposta</label>
                        <input type="text" class="form-control" name="nome_proposta" required />
                    </div>
                    <div class="col-md-5">
                        <label>Categoria</label>
                        <select name="categoria_proposta" required class="form-control" @Html.Dica("top", "Este campo é importante para o sistema enviar a proposta correta!")>
                            <option value="">Selecione</option>
                            <option value="Infantil">Infantil</option>
                            <option value="Teen">Teen</option>
                            <option value="Escolar">Escolar</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12" @Html.Dica("top", "Definindo essa opção como sim você permite que o sistema analise os dados informados na proposta para enviar ao cliente a proposta que mais se encaixa ao seu perfil!")>
                    @Html.BuffetCheck("Analisar palavras chaves da proposta", "permitir_palavra_chave", true)
                </div>

                @if (localEvento.Count != 1)
                {
                    <div class="form-group">
                        <label>Local do Evento</label>
                        <select name="id_local_evento" class="form-control" @Html.Dica("top", "Local de evento")>
                            <option value="">Selecione</option>
                            @foreach (var local in localEvento)
                            {
                                <option value="@local.id">@local.nome</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" name="id_local_evento" value="@localEvento.FirstOrDefault().id" />
                }
                <div class="row">
                    <div class="col-md-6" @Html.Dica("top", "Você aceita pagamento via boleto bancário")>
                        @Html.BuffetCheck("Pagamento por boleto", "boleto")
                    </div>

                    <div class="col-md-6" @Html.Dica("top", "Você aceita pagamento via cartão de crédito")>
                        @Html.BuffetCheck("Pagamento por cartão", "cartao")
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>Validade</label>
                        <input type="text" class="form-control" id="validade_dias" name="validade_dias" required @Html.Dica("top", "Quantidade de dias que a proposta ficará disponível para o cliente!") />
                    </div>

                    <div class="col-md-4">
                        <label>Parcelado?</label>
                        <select name="quantidade_parcelas" class="form-control" required @Html.Dica("top", "Quantidade de vezes para parcelamento")>
                            <option value="0">Não</option>
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i">@string.Format("Sim, {0} vez{1}", i, i != 1 ? "es" : "")</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Desconto ( % )</label>
                        <input type="text" class="form-control" name="porcento_desconto_avista" value="" @Html.Dica("top", "Porcentagem de desconto para pagamento a vista") />
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Criar Proposta" style=" margin-top: 20px; " />
                </div>
            </form>
        </div>
    </div>
</div>

 