﻿@model BuffetWebManager.Models.Proposta.EnvioDePropostas
@using BuffetWeb.Helpers
@using BuffetDataManager.Utils

<script src="~/Content/Buffet/Proposta/Proposta.js"></script>


@foreach (var cliente in Model.clientes)
{
    <div class="modal fade" id="@string.Format("modal_{0}", cliente.id)">
        <div class="modal-dialog modal-lg" style=" width: 50%; ">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Cliente @cliente.nome</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive" style="@string.Format("display:{0}", cliente.CLIENTE_PROPOSTA.Count == 0?"none":"")" id="@string.Format("tabela_propostas_cliente_{0}", cliente.id)">
                                <thead>
                                    <tr>
                                        <td>Proposta</td>
                                        <td>Periodo</td>
                                        <td>Proposta de</td>
                                        <td>Data Evento</td>
                                        <td>Convidados</td>
                                        <td>Valida</td>
                                        <td width="50"></td>
                                        <td width="50"></td>
                                    </tr>
                                </thead>
                                @foreach (var proposta in cliente.CLIENTE_PROPOSTA)
                                {
                                    <tr>
                                        <td>@proposta.ORCAMENTO_PROPOSTA.nome_proposta</td>
                                        <td>@string.Format("{0}", string.IsNullOrEmpty(proposta.periodo) ? "Não informado" : proposta.periodo.ToString())</td>
                                        <td>@proposta.proposta_de</td>
                                        <td>@string.Format("{0}", proposta.data_evento == null ? "Não informado" : proposta.data_evento.ToString().Replace("00:00:00", ""))</td>
                                        <td>@string.Format("{0}", proposta.convidados == null ? "Não informado" : proposta.convidados.ToString())</td>
                                        <td id="@string.Format("disponivel_{0}", proposta.autenticacao)">
                                            @if (proposta.disponivel_ate > DateTime.Today)
                                            {
                                                <label class="label label-success">@string.Format("Por {0} dias", (proposta.disponivel_ate - DateTime.Today).Days)</label>
                                            }
                                            else
                                            {
                                                <label class="label label-danger">Expirada</label>
                                            }
                                        </td>

                                        <td>
                                            <a id="@string.Format("email_{0}", cliente.id)" href="javascript:void(o)" onclick="EnviarOrcamentoSimplificado(this, @cliente.id, 'email', '@proposta.ORCAMENTO_PROPOSTA.autenticacao', '@proposta.data_evento', '@proposta.convidados', 'reenviar', '@proposta.periodo')">
                                                @if (cliente.email != null && Html.ValidateEmail(cliente.email))
                                                {
                                                    <img width="40" src="@Html.StatusContactIcon(proposta.autenticacao, TipoContato.Proposta, ContactIcon.Email) " />
                                                }
                                            </a>
                                        </td>
                                        <td>
                                            <a id="@string.Format("sms_{0}", cliente.id)" href="javascript:void(o)" onclick="EnviarOrcamentoSimplificado(this, @cliente.id, 'sms', '@proposta.ORCAMENTO_PROPOSTA.autenticacao','@proposta.data_evento', '@proposta.convidados', 'reenviar', '@proposta.periodo')">
                                                @if (cliente.celular != null && cliente.celular.Length >= 13)
                                                {

                                                    <img width="40" src="@Html.StatusContactIcon(proposta.autenticacao, TipoContato.Proposta, ContactIcon.SMS)" />
                                                }
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <h2 style="@string.Format("display:{0}", cliente.CLIENTE_PROPOSTA.Count == 0? "":"none")" id="@string.Format("h2_propostas_cliente_{0}", cliente.id)" class="text-center">Nenhuma proposta enviada</h2>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" data-dismiss="modal" class="btn btn-success" value="Fechar" />
                </div>
            </div>
        </div>
    </div>
}




<div class="row">
    <div class="col-md-12">
        <form action="/Proposta/EnviarPropostasCompartilhadas" method="post">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Propostas
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="alert alert-warning fade in" role="alert" id="alert_proposta_selecionada" style="display:none"></div>
                        <div class="col-md-3">
                            <label>Selecionar proposta</label>
                            <select class="form-control" id="autenticacao_proposta" name="autenticacao_proposta" required onchange="OnAlteraProposta(this)">
                                <option value="">Selecionar</option>
                                @foreach (var proposta in Model.propostas)
                                {
                                    <option data-nome_proposta="@proposta.nome_proposta" value="@proposta.autenticacao">@string.Format("{0} - {1}", proposta.LOCAL_EVENTO.nome, proposta.nome_proposta)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-7" style=" margin-top: 18px; ">
                            <div class="col-md-3 row">
                                @Html.BuffetCheck("Enviar por e-mail", "enviar_email", true)
                            </div>
                            <div class="col-md-3 row">
                                @Html.BuffetCheck("Enviar por sms", "enviar_sms", false)
                            </div>
                            <div class="col-md-4 row" @Html.Dica("top", "A proposta é enviada apenas para festas que ainda não ocorreram!")>
                                @Html.BuffetCheck("Apenas para datas vingentes", "data_vingente", true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" @Html.Dica("top", "Clicando em enviar propostas o sistema ira enviar a proposta selecionada para todos os clientes que seguem o filtro acima!") class="btn btn-success" value="Enviar Propostas" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Enviar Proposta
                <span class="label label-info pull-right">@string.Format("{0} Clientes", Model.clientes.Count)</span>
            </div>
            <div class="padding-md clearfix">
                <div class="form-group">
                    <div class="alert alert-warning fade in" role="alert" id="alert_proposta" style="display:none"></div>
                </div>
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th width="200">Nome</th>
                            <th width="150">Celular</th>
                            <th width="200">E-mail</th>
                            <th width="100">Convidados</th>
                            <th width="30">Data Festa</th>
                            <th width="100">Periodo</th>
                            <th width="50"></th>
                            <th width="50"></th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    @foreach (var cliente in Model.clientes)
                    {
                        <tr>
                            <td>@cliente.nome</td>
                            <td><input id="@string.Format("cliente_celular_{0}", cliente.id)" type="text" value="@cliente.celular" class="form-control" maxlength="13" pattern="^.{12,12}$|^.{13,13}$" onkeyup="AtualizaClienteSimplificados(this, @cliente.id); DIMask(this, '##-####-####'); return DIOnlyNumber(this);" /></td>
                            <td><input id="@string.Format("cliente_email_{0}", cliente.id)" type="email" value="@cliente.email" class="form-control" onkeyup="AtualizaClienteSimplificados(this, @cliente.id)" /></td>
                            <td>
                                <input type="text" id="@string.Format("n_convidados_{0}", cliente.id)" onkeyup="AtualizarSimplificados(this,@cliente.id)" onclick="return DIOnlyNumber(this)" class="form-control" value="50" />
                            </td>
                            <td>
                                <input type="date" id="@string.Format("data_{0}", cliente.id)" onchange="AtualizarSimplificados(this,@cliente.id)" class="form-control" pattern="^.{8,8}$" onkeyup="DIMask(this, '##/##/##'); return DIOnlyNumber(this)" maxlength="10" />
                            </td>
                            <td>
                                <select class="form-control" onchange="AtualizarSimplificados(this,@cliente.id)" id="@string.Format("periodo_{0}", cliente.id)">
                                    <option value="">Selecione</option>
                                    <option value="Almoço">Almoço</option>
                                    <option value="Jantar">Jantar</option>
                                </select>
                            </td>
                            <td>
                                <a href="javascript:void(o)" data-target="#@string.Format("modal_{0}", cliente.id)" data-toggle="modal">
                                    <img width="30" src="/Content/Buffet/Orcamento/Imagens/icone_lista-2.png">
                                </a>
                            </td>

                            <td>
                                <a id="@string.Format("email_{0}", cliente.id)" href="javascript:void(o)" onclick="EnviarOrcamentoSimplificado(this, @cliente.id, 'email')">
                                    @if (cliente.email != null && Html.ValidateEmail(cliente.email))
                                    {
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_enviar_email.png" />
                                    }
                                </a>
                            </td>
                            <td>
                                <a id="@string.Format("sms_{0}", cliente.id)" href="javascript:void(o)" onclick="EnviarOrcamentoSimplificado(this, @cliente.id, 'sms')">
                                    @if (cliente.celular != null && cliente.celular.Length >= 13)
                                    {
                                        <img width="40" src="~/Content/Buffet/Orcamento/Imagens/icone_sms.png" />
                                    }
                                </a>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div> 