﻿@model ICollection<BuffetDataManager.Models.ORCAMENTO_PROPOSTA>
@using BuffetWeb.Helpers
@{
    ViewBag.Title = "MihasPropostas";
}

<script src="~/Content/Buffet/Proposta/CriarProposta.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Proposta
                <span class="label label-info pull-right">@string.Format("{0} Propostas{1}", Model.Count, Model.Count == 0 ? "" : "s")</span>
            </div>
            <div class="padding-md clearfix">
                <div class="form-group">
                    <div class="alert alert-warning fade in" role="alert" id="alert_pesquisa" style="display:none"></div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="100">Nome</th>
                            <th width="100">Categoria</th>
                            <td width="50"></td>
                            <th width="100">Parcelas</th>
                            <th width="100">Desconto</th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    @foreach (var proposta in Model)
                    {
                        <tr>
                            <td>@proposta.nome_proposta</td>
                            <td>@proposta.categoria_proposta</td>
                            <td>
                                @{
                        var pacotes = "";
                        foreach (var pacote in proposta.ORCAMENTO_PROPOSTA_PACOTE.Where(e => e.ativo == true).ToList())
                        {
                            pacotes += string.Format("<img src='/Content/Buffet/Proposta/Imagens/{0}{1}.png' width='30' style=' padding-top: 5px; padding-right: 5px;'/>", pacote.quantidade_pessoas, pacote.ativo ? "_ativo" : "");
                        }
                                }
                                <button type="button" class="btn btn-xs btn-default"
                                        data-container="body"
                                        data-toggle="popover"
                                        data-placement="top"
                                        data-trigger="hover"
                                        data-delay-hide="10"
                                        data-content="@pacotes"
                                        data-html="true">
                                    Pacotes
                                </button>
                            </td>
                            <td>@string.Format("{0}", proposta.quantidade_parcelas == 0 ? "A vista" : string.Format("{0} Parcelas", proposta.quantidade_parcelas))</td>
                            <td>@string.Format("{0}", proposta.porcento_desconto_avista == 0 ? "Sem desconto" : string.Format("{0}%", proposta.porcento_desconto_avista))</td>
                            <td>
                                <a href="/Proposta/NovaProposta?autenticacao=@proposta.autenticacao" @Html.Dica("top", "Editar Proposta")>
                                    <img width="40" src="/Content/Buffet/Orcamento/Imagens/icone_editar.png">
                                </a>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>
