﻿@model BuffetDataManager.Models.ORCAMENTO_PROPOSTA
@using BuffetWeb.Helpers
@{
    var semana = new[] { "segunda", "terca", "quarta", "quinta", "sexta", "sabado", "domingo" };
    Int32[] pacote = new Int32[] { 50, 60, 70, 80, 90, 100, 120, 150, 180, 200 };
    var localEvento = Html.LocalEvento();
}

<script src="~/Content/Buffet/Proposta/CriarProposta.js"></script>

<div class="modal fade" id="NovaAba" data-id_tab="" data-index="">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nome da nova aba</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="nome_aba" class="form-control" />
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success btn-block" id="AddNewTabButton" onclick="AddNewTab(this)" value="Adicionar" />
            </div>
        </div>
    </div>
</div>

@for (int i = 0; i < pacote.Length; i++)
{
    <div class="modal fade" id="@string.Format("ValoresFesta{0}", i)" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="modal-title" id="@string.Format("titulo_modal_{0}", i)">Adicione o valor da proposta para @pacote[i] pessoas</h4>
                    </div>
                    <div class="col-md-2 pull-right" @Html.Dica("left", "Você pode deixar disponivel ou indisponivel esse pacote!")>
                        <select class="form-control" onchange="AtivatOuInativarPacote(this, '@Model.ORCAMENTO_PROPOSTA_PACOTE.ElementAt(i).id', '@pacote[i]')">
                            @if (Model.ORCAMENTO_PROPOSTA_PACOTE.ElementAt(i).ativo)
                            {
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            }
                            else
                            {
                                <option value="false">Inativo</option>
                                <option value="true">Ativo</option>
                            }

                        </select>
                     </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/valor_almoco.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/valor_jantar.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/valor_adicional.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/segunda.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/terca.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/quarta.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/quinta.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/sexta.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/sabado.png" /></td>
                                    <td><img src="~/Content/Buffet/Proposta/Imagens/domingo.png" /></td>
                                </tr>
                            </thead>
                            @for (int x = 0; x < 2; x++)
                            {
                                var valores = Model.ORCAMENTO_PROPOSTA_PACOTE.ElementAt(i).ORCAMENTO_PROPOSTA_PACOTE_VALORES.ElementAt(x);
                                <tr id="@string.Format("{0}_linha_semana_{1}", valores.id, i)" >
                                    <td>
                                        <input type="text" class="form-control" value="@valores.valor_almoco" id="@string.Format("{0}_valor_almoco", valores.id)" onblur="SalvaValorPacote(this, '@valores.id'); TransferirValor(this, '@string.Format("{0}_valor_jantar", valores.id)')" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" onblur="SalvaValorPacote(this, '@valores.id')" value="@valores.valor_jantar" id="@string.Format("{0}_valor_jantar", valores.id)" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" onblur="SalvaValorPacote(this,'@valores.id')" value="@valores.valor_adicional_pessoa" id="@string.Format("{0}_valor_adicional", valores.id)" />
                                    </td>

                                    @for (int f = 0; f < 7; f++)
                                    { 
                                        var dia = valores.GetType().GetProperties().FirstOrDefault(e => e.Name.Equals(semana[f])).GetValue(valores, null);
                                        if (dia != null)
                                        {
                                            bool diaBool = Boolean.Parse(dia.ToString());
                                            <td>
                                                @Html.BuffetCheck("", string.Format("{0}_valor_{1}_semana_{2}_linha_{3}_id_pacote", f, semana[f], x, valores.id_proposta_pacote), diaBool, string.Format("SelecionarDias(this, \"{0}\", \"{1}\", \"{2}\", \"{3}\", \"{4}\")", f, semana[f], x, valores.id_proposta_pacote, valores.id))
                                            </td>
                                        }
                                    }
                                </tr> 
                            } 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<div class="modal fade" id="AlterarMenu" data-id_tab="" data-tipo="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AlterarMenu_Header"></h4>
            </div>
            <div class="modal-body">
                <label>Titulo</label>
                <input type="text" id="AlterarMenu_Titulo" class="form-control" />
                <label>Descrição</label>
                <textarea id="AlterarMenu_Descricao" class="form-control" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success btn-block" id="AlterarMenu_Botao" onclick="ConfirmarAdicionar(this)" value="Adicionar" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RemoverAba">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center" id="remove_description"></h4>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger btn-block" id="remover_tab" data-id_tab="" data-title="" onclick="RemoveTab(this)" value="Remover" />
                <input type="button" class="btn btn-success btn-block" data-dismiss="modal" value="Cancelar" />
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Criando Proposta @Model.nome_proposta
    </div>
    <form action="/Proposta/EditarProposta" method="post">
        <input type="hidden" name="id_proposta" value="@Model.id" />
        <div class="panel-body">
            @Html.AddMensagem((string)ViewBag.mensagem)
            <div class="row">
                <input type="hidden" name="categoria_proposta" value="@Model.categoria_proposta" />
                <input type="hidden" name="id_local_evento" value="@Model.id_local_evento" />

                <div class="row col-md-8">
                    <div class="col-md-12">
                        <label>Nome da proposta</label>
                        <input type="text" class="form-control" value="@Model.nome_proposta" name="nome_proposta" required />
                    </div>

                    <div class="col-md-4">
                        <label>Validade</label>
                        <input type="text" class="form-control" id="validade_dias" value="@Model.validade_dias" name="validade_dias" required @Html.Dica("top", "Quantidade de dias que a proposta ficará disponível para o cliente!") />
                    </div>

                    <div class="col-md-4">
                        <label>Parcelado?</label>
                        <select name="quantidade_parcelas" class="form-control" required @Html.Dica("top", "Quantidade de vezes para parcelamento")>
                            <option value="@Model.quantidade_parcelas">@string.Format("{0}", Model.quantidade_parcelas == 0 ? "Não" : Model.quantidade_parcelas.ToString())</option>
                            @for (int i = 1; i < 13; i++)
                                {
                                <option value="@i">@string.Format("Sim, {0} vez{1}", i, i != 1 ? "es" : "")</option>
                                }
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Desconto ( % )</label>
                        <input type="text" class="form-control" name="porcento_desconto_avista" value="@Model.porcento_desconto_avista" @Html.Dica("top", "Porcentagem de desconto para pagamento a vista") />
                    </div>

                    <div class="col-md-12" style="margin-top:10px">
                        @for (int i = 0; i < pacote.Length; i++)
                        {
                            <div class="col-md-2" style=" padding: 5px; width: 70px;">
                                <a id="@string.Format("pacote_{0}", pacote[i])" href="javascript:void(o)" data-target="#@string.Format("ValoresFesta{0}", i)" onclick="PropostaPara(this, @(i*10), '@string.Format("pacote_{0}", pacote[i])')" data-toggle="modal">
                                    <img src="@string.Format("/Content/Buffet/Proposta/Imagens/{0}{1}.png", pacote[i], Model.ORCAMENTO_PROPOSTA_PACOTE.ElementAt(i).ativo? "_ativo" : "")" />
                                </a>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-4 row">
                    <div class="form-group" style="margin-top: 15px;">
                        @Html.BuffetCheck("Pagamento por boleto", "boleto", Model.boleto == true)
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        @Html.BuffetCheck("Pagamento por cartão", "cartao", Model.cartao == true)
                    </div>

                    <div class="form-group" style="margin-top: 15px;" @Html.Dica("top", "Definindo essa opção como sim você permite que o sistema analise os dados informados na proposta para enviar ao cliente a proposta que mais se encaixa ao seu perfil!")>
                        @Html.BuffetCheck("Analisar palavras chaves da proposta", "permitir_palavra_chave", Model.permitir_palavra_chave)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" class="btn btn-success" value="Confirmar" />
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="li_tab">
            @for (int i = 0; i < 5; i++)
            {
                <li onclick="ShowNewTab(this, 'Atualizar', '@i')" >
                    <a href="@string.Format("#tab_pane_{0}", i)" id="@string.Format("aba_{0}", i)" style="display:@string.Format("{0}", Model.ORCAMENTO_PROPOSTA_ABAS.ElementAt(i).disponivel ? "block" : "none")" data-toggle="tab">
                        <span id="@string.Format("aba_descricao_{0}", i)">@Model.ORCAMENTO_PROPOSTA_ABAS.ElementAt(i).nome_aba</span>
                        <input type="hidden" id="@string.Format("aba_hidden_{0}", i)" data-titulo="@Model.ORCAMENTO_PROPOSTA_ABAS.ElementAt(i).nome_aba" data-index="@i" data-id_aba="@Model.ORCAMENTO_PROPOSTA_ABAS.ElementAt(i).id" />
                        <img onclick="ConfirmRemove(this, @i)" src="/Content/Buffet/Proposta/Imagens/Icon_Remove_Tab.png" style=" width: 20px; margin-left: 10px; cursor: pointer;">
                    </a>
                </li>
            } 
            <li style="@string.Format("display:{0}", (Model.ORCAMENTO_PROPOSTA_ABAS.Where(d => d.disponivel == true).ToList().Count < 5)? "block" : "none")" id="main_tab">
                <a href="javascript:void(o)" onclick="ShowNewTab(this, 'Adicionar')" id="main_tab_new" class="add-contact">
                    <img src="~/Content/Buffet/Proposta/Imagens/Icon_Add_Tab.png" style=" width: 20px" />
                </a>
            </li> 
        </ul>
        <div class="tab-content" id="content_tab">
            @for (int i = 0; i < Model.ORCAMENTO_PROPOSTA_ABAS.Count; i++)
            {
                var abas = Model.ORCAMENTO_PROPOSTA_ABAS.ElementAt(i); 
                <div class="tab-pane" id="@string.Format("tab_pane_{0}", i)">
                    <div class="panel-body">
                        <div class="form-group row">
                            @{
                                int item = 0;
                                for (int c = 0; c < 3; c++)
                                {
                                    <div class="col-md-4">
                                        @for (int x = 0; x < 5; x++,item++)
                                        {
                                            <div id="@string.Format("tab_{0}_coluna_{1}_item_{2}", abas.id, c, x)" data-coluna="@c" data-id_aba="@abas.id" data-id_descricao="@abas.ORCAMENTO_PROPOSTA_DESCRICAO.ElementAt(item).id" class="form-group btn-block" style="display:@string.Format("{0}", abas.ORCAMENTO_PROPOSTA_DESCRICAO.ElementAt(item).disponivel? "block": "none")">
                                                <label>Titulo</label>
                                                <input id="@string.Format("tab_{0}_coluna_{1}_titulo_{2}", abas.id, c, x)" type="text" value="@abas.ORCAMENTO_PROPOSTA_DESCRICAO.ElementAt(item).nome" onblur="AtualizarCard(this, @abas.id, @abas.ORCAMENTO_PROPOSTA_DESCRICAO.ElementAt(item).id, 'titulo')" class="form-control" />
                                                <label>Descrição</label>
                                                <textarea id="@string.Format("tab_{0}_coluna_{1}_descricao_{2}", abas.id, c, x)" onblur="AtualizarCard(this, @abas.id, @abas.ORCAMENTO_PROPOSTA_DESCRICAO.ElementAt(item).id, 'descricao')" class="form-control" rows="3">@abas.ORCAMENTO_PROPOSTA_DESCRICAO.ElementAt(item).descricao</textarea>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <input type="button" class="btn btn-success btn-xs col-md-9" onclick="AdicionarCard(this, @abas.id, @c)" value="Adicionar novo menu" />
                                            <input type="button" class="btn btn-danger btn-xs col-md-2 pull-right" onclick="RemoverCard(this, @abas.id, @c)" value="x" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

