﻿@model BuffetWebPortal.Models.Portal.BuscarModel
@{
    var quantidade_coluna = Model.parceiros.Count / 3;
}

<section id="jm-main">
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="jm-content" class="span12" data-xtablet="span12" data-tablet="span12" data-mobile="span12">
                <div id="jm-maincontent">
                    <h3 class="jm-title ">
                        <span>@Model.termo</span>
                    </h3>
                    <div id="dj-classifieds" class="clearfix djcftheme-jm-joomads-ef4">
                        <div class="dj-items-blog">
                            <div class="djcf_items_blog">
                                @foreach (var destaque in Model.anunciantes)
                                {
                                    string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", destaque.autenticacao);

                                    var total_avaliacao = destaque.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
                                    var avaliacao = total_avaliacao != 0 ? total_avaliacao / destaque.LOCAL_EVENTO_COMENTARIOS.Count : 0;

                                    <div class="item_box clearfix" style="width:33.233333333333%;">
                                        <div class="item_box_bg0">
                                            <div class="item_box_in">
                                                <div class="item_box_in2" style="height: 350px;">
                                                    <div class="title">
                                                        <div>
                                                            <h2>
                                                                <a href="@url">@destaque.nome</a>
                                                                @if (destaque.EMPRESA.EMPRESA_MODULOS.Select(e => e.modulo.Equals("PORTAL") && e.expira_em >= DateTime.Today).FirstOrDefault() != null)
                                                                {
                                                                    <span class="type_button bt_forsale" style="display:inline-block;
                                                                                            border:0px solid #A2691B;
                                                                                            background:#FEC657;color:#000000;
                                                                                            font-size: 12px;
                                                                                            font-weight: 500;
                                                                                            text-transform: uppercase;
                                                                                            line-height: 1.1em;
                                                                                            margin: 0 2px;
                                                                                            padding: 8px 14px 7px;
                                                                                            vertical-align:middle;">Destaque</span>
                                                                }
                                                            </h2>
                                                        </div>
                                                        <div>
                                                            <h5 style=" margin-top: 2%; ">
                                                                @destaque.regiao
                                                            </h5>
                                                            <div class="pull-right" style=" margin-top: -9%; ">
                                                                <div class="djrv_rating_avg djreviews">
                                                                    <div class="djrv_item_rating djrv_rating small pull-right">
                                                                        <span class="djrv_stars">
                                                                            @for (int i = 0; i < avaliacao; i++)
                                                                            {
                                                                                <span class="djrv_star active"></span>
                                                                            }
                                                                            @for (int f = 0; f < 5 - avaliacao; f++)
                                                                            {
                                                                                <span class="djrv_star"></span>
                                                                            }
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="blog_det">
                                                        <div class="item_box_right">
                                                            <div class="item_img">
                                                                <a href="@url">
                                                                    <img src="@Html.GetImagemParceiro(destaque.autenticacao, TipoImagem.Anunciante, 0)" style=" width: 100%; height: 71%; " alt="@destaque.nome" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span0">
                <div class="jm-module title-box-ms">
                    <div class="jm-module-in">
                        <h3 class="jm-title ">
                            <span>Outros</span>
                        </h3>
                        <div class="jm-module-content clearfix ">
                            <div class="mod_djclassifieds_items clearfix">
                                <div class="items items-cols3">
                                    @{
                                        foreach (var outros in Model.parceiros)
                                        {
                                            <div class="items-col icol1" style=" margin-bottom: 20px; ">
                                                <div class="icol-in">

                                                    @{

                                            string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", outros.autenticacao);
                                            var total_avaliacao = outros.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
                                            var avaliacao = total_avaliacao != 0 ? total_avaliacao / outros.LOCAL_EVENTO_COMENTARIOS.Count : 0;

                                            <div class="item">
                                                <div class="title">
                                                    <a class="title_img" href="@url">
                                                        <img style="max-width: 160px;max-height: 120px;height: 120px;width: 160px;" src="@Html.GetImagemParceiro(outros.autenticacao, TipoImagem.Normal, 0)" alt="@outros.nome" title="">
                                                    </a>
                                                    <a class="title" href="@url">
                                                        @outros.nome
                                                    </a>
                                                    <div class="date_cat">
                                                        <div class="djrv_rating_avg djreviews">
                                                            <div class="djrv_item_rating djrv_rating">
                                                                <span class="djrv_stars">
                                                                    @for (int i = 0; i < avaliacao; i++)
                                                                    {
                                                                        <span class="djrv_star active"></span>
                                                                    }
                                                                    @for (int f = 0; f < 5 - avaliacao; f++)
                                                                    {
                                                                        <span class="djrv_star"></span>
                                                                    }
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
