﻿@{
    var AnuncioDestaque = Html.GetAnuncianteDestaque();
    var AnuncioHome = Html.GetAnuncianteHOME();
}

<link href="~/Content/Templates/Banner/css/style.css" rel="stylesheet" />
<link href="~/Content/Templates/Banner/css/allinone_bannerRotator.css" rel="stylesheet" />
<link href="~/Content/Templates/Banner/css/ourproducts.css" rel="stylesheet" />
<script src="~/Content/Templates/Banner/js/allinone_bannerRotator.js"></script>

<script>
    $(function () {
        $('#allinone_bannerRotator_sidebar2').allinone_bannerRotator({
            skin: 'classic',
            width: 284,
            height: 447,
            numberOfStripes: 4,
            numberOfRows: 5,
            numberOfColumns: 5,
            autoPlay: 3.5,
            showOnInitNavArrows: false,
            showAllControllers: false,
            showBottomNav: false
        });
    });
</script>
@*id="jm-header"*@
 
<section class="">
    <div class="container-fluid">
        <div id="jm-header-in" class="row-fluid">
            <div id="jm-header-content" class="span9">
                <div class="jm-module search-ms">
                    <div class="jm-module-in">
                        <div class="jm-module-content clearfix notitle">
                            <div id="mod_djcf_search211" class="dj_cf_search dj_cf_search_horizontal">
                                <form action="/Portal/Buscar" method="get">
                                    <div class="search_word djcf_se_row">
                                        <input type="text" name="BuscarPor" class="inputbox first_input" placeholder="Pesquise algo que deseja em sua festa!" />
                                    </div>
                                    <div class="search_buttons">
                                        <button type="submit" class="button btn">
                                            Buscar
                                        </button>
                                    </div>
                                </form>
                                <div style="clear:both"></div>
                            </div>
                            <script type="text/javascript">
                                window.addEvent('domready', function () {
                                    djcfmodSearchPlaces211();
                                });

                                function djcfmodSearchPlaces211() {
                                    var input = (document.getElementById('se_address211'));
                                    var autocomplete = new google.maps.places.SearchBox(input);
                                    var infowindow = new google.maps.InfoWindow();
                                    var last_place = '';
                                    google.maps.event.addListener(autocomplete, 'places_changed', function () {
                                        /*	var place = autocomplete.getPlaces()[0]; //to get first on enter
                                            if (!place.geometry) {
                                                return;
                                            }

                                            if (place.geometry.viewport) {
                                              djmod_map< ?php echo $module->id;?>.fitBounds(place.geometry.viewport);
                                            } else {
                                              djmod_map< ?php echo $module->id;?>.setCenter(place.geometry.location);
                                            }
                                            */

                                    });


                                    // dojo.connect(input, 'onkeydown', function(e) {
                                    google.maps.event.addDomListener(input, 'keydown', function (e) {
                                        if (e.keyCode == 13) {
                                            if (e.preventDefault) {
                                                e.preventDefault();
                                            }
                                            else {
                                                // Since the google event handler framework does not handle early IE versions, we have to do it by our self. :-(
                                                e.cancelBubble = true;
                                                e.returnValue = false;
                                            }
                                        }
                                    });

                                }</script>
                        </div>
                    </div>
                </div>

                <div class="jm-module  slider1-ms">
                    <div class="jm-module-in">
                        <div class="jm-module-content clearfix notitle">
                            <div style="border: 0px !important;">
                                <div id="dj-tabber15m243" class="dj-tabber">
                                    <div style="width: 888px; height: 340px;" class="dj-tabber-in dj-tabs-right">
                                        <div style="opacity: 1; visibility: visible;" class="dj-slides">
                                            @foreach (var destaque in AnuncioDestaque.Select((item, i) => new { item, i }))
                                            {
                                                string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", destaque.item.LOCAL_EVENTO.autenticacao);
                                                <div style="left: 0px;" class="dj-slide">
                                                    <div class="dj-slide-in">
                                                        <a href="@url" target="_self">
                                                            <img srcset="@Html.GetImagemParceiro(destaque.item.LOCAL_EVENTO.autenticacao, TipoImagem.Anunciante, 0)" class="dj-image" height="341" width="341">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div style="opacity: 1; visibility: visible;" class="dj-slide-desc">
                                                    <div class="dj-slide-desc-in">
                                                        <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                            <div class="dj-extra">
                                                                @*<div class="price"><span class="price_unit">$</span>390</div>*@
                                                        </div>
                                                        <div class="dj-slide-title">
                                                            <a href="@url" target="_self">
                                                                @destaque.item.LOCAL_EVENTO.nome
                                                            </a>
                                                        </div>
                                                        @*<div style="clear: both"></div>
                                                            <div class="dj-readmore-wrapper">
                                                                <a href="@url" class="dj-readmore" target="_self">Melhores</a>
                                                            </div>*@
                                                        <div style="clear: both"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <div style="width: 508px;" class="dj-navigation">
                                            <div class="dj-navigation-in">
                                                <img style="opacity: 0;" class="dj-prev showOnMouseOver" src="~/Content/Templates/Portal/image/navi/prev.png">
                                                <img style="opacity: 0;" class="dj-next showOnMouseOver" src="~/Content/Templates/Portal/image/navi/next.png">
                                                <img style="display: none; opacity: 0;" class="dj-play showOnMouseOver" src="~/Content/Templates/Portal/image/navi/play.png">
                                                <img style="opacity: 0;" class="dj-pause showOnMouseOver" src="~/Content/Templates/Portal/image/navi/pause.png">
                                            </div>
                                        </div>

                                        <div class="dj-tabs">
                                            <div style="margin-top: 0px;" class="dj-tabs-in">
                                                @foreach (var destaque in AnuncioDestaque.Select((item, i) => new { item, i }))
                                                {
                                                    <div class="dj-tab @string.Format("{0}", destaque.i == 0 ? "dj-tab-active" : "")">
                                                        <span class="dj-tab-in">
                                                            <!--[if lte IE 7]><table
                                                            cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                            <img
                                                            src="/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-38_sofa.jpg" alt="Modern Sofa" width="80" height="80" /></td><td
                                                            width="100%">
                                                            Modern Sofa</td></tr></table>
                                                            <![endif]-->
                                                            <span>
                                                                <img src="@Html.GetImagemParceiro(destaque.item.LOCAL_EVENTO.autenticacao, TipoImagem.Anunciante, 0)" width="80" height="80" />
                                                            </span>
                                                            <span>
                                                                @destaque.item.LOCAL_EVENTO.nome
                                                            </span>
                                                        </span>
                                                    </div>
                                                }

                                                <div style="top: 0px;" class="dj-tab-indicator dj-tab-indicator-right"></div>
                                            </div>
                                        </div>

                                        <div style="opacity: 0; visibility: hidden;" class="dj-loader"></div>
                                    </div>
                                </div>
                            </div><div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jm-header-mod" class="span3" style="height: 293px;">
                <div class="jm-module _menu white-ms" style="padding: 0px;">
                    <div class="jm-module-in">
                        <div id="bannerRotatorParent_71618" style="position: relative; width: 285px; height: 443px;">
                            <div class="allinone_bannerRotator classic ui-draggable" style="width: 284px; height: 447px; left: 0px; position: absolute; background: url(http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/10.png) no-repeat;">
                                <div id="allinone_bannerRotator_sidebar2" style="display: block;">
                                    <ul class="allinone_bannerRotator_list">
                                        <li data-text-id="#imagem_0" style="display: none;">
                                            <a href="http://www.google.com" target="_self">
                                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/9.png" alt="">
                                            </a>
                                        </li>
                                        <li data-text-id="#imagem_1" style="display: none;">
                                            <a href="http://www.google.com" target="_self">
                                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/10.png" alt="">
                                            </a>
                                        </li>
                                        <li data-text-id="#imagem_2" style="display: none;">
                                            <a href="http://www.google.com" target="_self">
                                                <img src="http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/11.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="imagem_0" class="allinone_bannerRotator_texts" style="display: none;">
                                        <div class="allinone_bannerRotator_text_line textElement31_classic" data-initial-left="200" data-initial-top="60" data-final-left="10" data-final-top="60" data-duration="0" data-fade-start="0" data-delay="0" style="left: 10px; top: 60px; opacity: 1;">teste 2</div>
                                        <div class="allinone_bannerRotator_text_line textElement32_classic" data-initial-left="0" data-initial-top="275" data-final-left="10" data-final-top="80" data-duration="0" data-fade-start="0" data-delay="0.3" style="left: 10px; top: 80px; opacity: 1;">teste 4</div>
                                    </div>
                                    <div id="imagem_1" class="allinone_bannerRotator_texts" style="display: block;">
                                        <div class="allinone_bannerRotator_text_line textElement21_classic" data-initial-left="10" data-initial-top="10" data-final-left="10" data-final-top="30" data-duration="0" data-fade-start="0" data-delay="0" style="left: 10px; top: 30px; opacity: 1;">Terceira imagem</div>
                                        <div class="allinone_bannerRotator_text_line textElement22_classic" data-initial-left="10" data-initial-top="10" data-final-left="10" data-final-top="95" data-duration="0" data-fade-start="0" data-delay="0.3" style="left: 10px; top: 95px; opacity: 1;">
                                            Terceira imagem
                                            Terceira imagem
                                            Terceira imagem
                                        </div>
                                    </div>
                                    <div id="imagem_2" class="allinone_bannerRotator_texts">
                                        <div class="allinone_bannerRotator_text_line textElement21_classic" data-initial-left="20" data-initial-top="270" data-final-left="20" data-final-top="305" data-duration="0" data-fade-start="0" data-delay="0">imagem</div>
                                        <div class="allinone_bannerRotator_text_line textElement22_classic" data-initial-left="20" data-initial-top="340" data-final-left="20" data-final-top="370" data-duration="0" data-fade-start="0" data-delay="0.3">imagemimagemimagemimagemimagem</div>
                                    </div>
                                </div><div class="bottomNavRight" style="display: none; bottom: 0px; top: auto; left: 167px;"></div><div class="bottomNav" style="display: none; top: auto; bottom: 0px; width: 42px; left: 125px;"><div class="bottomNavButtonOFF" rel="0" style="margin-top: 6px;"></div><div class="bottomNavButtonOFF bottomNavButtonON" rel="1" style="margin-top: 6px;"></div><div class="bottomNavButtonOFF" rel="2" style="margin-top: 6px;"></div></div><div class="bottomNavLeft" style="display: none; bottom: 0px; top: auto; left: 125px;"></div><div class="bannerControls" style="display: none; margin-top: 203px;"> <div class="leftNav" style="display: none;"></div> <div class="rightNav" style="display: none;"></div> </div> <canvas class="mycanvas" width="36" height="36"></canvas><div class="stripe" style="opacity: 1; left: 0px; width: 71px; height: 100%; top: 0px; background: url(http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/10.png) 0px 0%;"></div><div class="stripe" style="opacity: 1; left: 71px; width: 71px; height: 100%; top: 0px; background: url(http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/10.png) -71px 0%;"></div><div class="stripe" style="opacity: 1; left: 142px; width: 71px; height: 100%; top: 0px; background: url(http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/10.png) -142px 0%;"></div><div class="stripe" style="opacity: 1; left: 213px; width: 71px; height: 100%; top: 0px; background: url(http://www.buffetweb.com/Sites/Arquivos/Sistema/PortalBanner/10.png) -213px 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="jm-top" class="">
    <div class="container-fluid">
        <div class="row-fluid jm-flexiblock jm-top">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span0">
                        <div class="jm-module  double-title-ms slider2-ms">
                            <div class="jm-module-in">
                                <div class="jm-module-content clearfix ">
                                    <div style="border: 0px !important;">
                                        <div style="background: transparent none repeat scroll 0% 0%;" id="djslider-loader10m196" class="djslider-loader">
                                            <div style="opacity: 1; visibility: visible; width: 1210px; height: 350px;" id="djslider10m196" class="djslider">
                                                <div id="slider-container10m196" class="slider-container">
                                                    <ul style="position: relative; left: -620px; width: 1866px;" id="slider10m196">
                                                        @foreach (var header in AnuncioDestaque)
                                                        {
                                                            string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", header.LOCAL_EVENTO.autenticacao);

                                                            <li>
                                                                <a href="@url" target="_self">
                                                                    <img src="@Html.GetImagemParceiro(header.LOCAL_EVENTO.autenticacao, TipoImagem.Anunciante, 0)" style=" width: 280px; height: 220px; " />
                                                                </a>
                                                                <div class="dj-slide-desc">
                                                                    <div class="dj-slide-desc-in">
                                                                        <div class="dj-slide-desc-bg"></div>
                                                                        <div class="dj-slide-desc-text">
                                                                            <div class="dj-slide-title">
                                                                                <a href="@url" target="_self">@header.LOCAL_EVENTO.nome</a>
                                                                            </div>
                                                                            <div class="dj-slide-description">
                                                                                @header.LOCAL_EVENTO.regiao
                                                                            </div>
                                                                            <div style="clear: both"></div>
                                                                            <div class="dj-readmore-wrapper">
                                                                                <a href="@url" class="dj-readmore" target="_self">Detalhes</a>
                                                                            </div>
                                                                            <div style="clear: both"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="navigation10m196" class="navigation-container">
                                                    <img id="prev10m196" class="prev-button" src="~/Content/Templates/Portal/image/navi/transparent.png">
                                                    <img id="next10m196" class="next-button" src="~/Content/Templates/Portal/image/navi/transparent.png">
                                                    <img style="margin-left: -31px; display: none;" id="play10m196" class="play-button" src="~/Content/Templates/Portal/image/navi/transparent.png">
                                                    <img style="margin-left: -31px;" id="pause10m196" class="pause-button" src="~/Content/Templates/Portal/image/navi/transparent.png">
                                                </div>
                                            </div>
                                            <div id="cust-navigation10m196" class="navigation-container-custom">
                                                <div class="cust-navigation-in">
                                                    <span class="load-button "></span><span class="load-button "></span><span class="load-button load-button-active"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div style="clear: both"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="jm-main">
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="jm-content" class="span12">
                <div id="jm-maincontent">
                    <div id="dj-classifieds" class="clearfix djcftheme-jm-joomads-ef4">
                        <div class="dj-items-blog">
                            <div class="djcf_items_blog">
                                @foreach (var destaque in AnuncioDestaque)
                                {
                                    string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", destaque.LOCAL_EVENTO.autenticacao);

                                    var total_avaliacao = destaque.LOCAL_EVENTO.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
                                    var avaliacao = total_avaliacao != 0 ? total_avaliacao / destaque.LOCAL_EVENTO.LOCAL_EVENTO_COMENTARIOS.Count : 0;

                                    <div class="item_box clearfix" style="width:33.233333333333%;">
                                        <div class="item_box_bg0">
                                            <div class="item_box_in">
                                                <div class="item_box_in2" style="height: 390px;">
                                                    <div class="title">
                                                        <div>
                                                            <h2>
                                                                <a href="@url">@destaque.LOCAL_EVENTO.nome</a>
                                                                @if (destaque.LOCAL_EVENTO.EMPRESA.EMPRESA_MODULOS.Select(e => e.modulo.Equals("PORTAL") && e.expira_em >= DateTime.Today).FirstOrDefault() != null)
                                                                {
                                                                    <span class="type_button bt_forsale" style="display:inline-block;
                                                                                            border:0px solid #A2691B;
                                                                                            background:#FEC657;color:#000000;
                                                                                            font-size: 12px;
                                                                                            font-weight: 500;
                                                                                            text-transform: uppercase;
                                                                                            line-height: 1.1em;
                                                                                            margin: 0 2px;
                                                                                            padding: 8px 14px 7px;
                                                                                            vertical-align:middle;">Destaque</span>
                                                                }
                                                            </h2>
                                                        </div>
                                                        <div>
                                                            <h5 style=" margin-top: 2%; ">
                                                                @destaque.LOCAL_EVENTO.regiao
                                                            </h5>
                                                            <div class="pull-right" style=" margin-top: -9%; ">
                                                                <span class="djreviews">
                                                                    <span class="djrv_item_rating djrv_rating small pull-right">
                                                                        <span class="djrv_stars">
                                                                            @for (int i = 0; i < avaliacao; i++)
                                                                            {
                                                                                <span class="djrv_star active"></span>
                                                                            }
                                                                            @for (int f = 0; f < 5 - avaliacao; f++)
                                                                            {
                                                                                <span class="djrv_star"></span>
                                                                            }
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                             </div>
                                                        </div>
                                                    </div>

                                                    <div class="blog_det">
                                                        <div class="item_box_right">
                                                            <div class="item_img">
                                                                <a href="@url">
                                                                    <img src="@Html.GetImagemParceiro(destaque.LOCAL_EVENTO.autenticacao, TipoImagem.Anunciante, 0)" style=" width: 100%; height: 71%; "  alt="@destaque.LOCAL_EVENTO.nome" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        function DJCatMatchModules(className) {
                            var maxHeight = 0;
                            var divs = null;
                            if (typeof (className) == 'string') {
                                divs = document.id(document.body).getElements(className);
                            } else {
                                divs = className;
                            }
                            if (divs.length > 1) {
                                divs.each(function (element) {
                                    //maxHeight = Math.max(maxHeight, parseInt(element.getStyle('height')));
                                    maxHeight = Math.max(maxHeight, parseInt(element.getSize().y));
                                });

                                divs.setStyle('height', maxHeight);

                            }
                        }

                        window.addEvent('load', function () {
                            DJCatMatchModules('.item_box_in2');
                        });</script>
                </div>
            </div>
        </div>
    </div>
</section>