﻿@model BuffetWebData.Models.B_PORTAL_PROMOCAO

<div class="container-fluid jm-module title-box-ms" style="margin-bottom: 0px;">
    <div class="jm-module-in">
        <div class="jm-title ">
            <div>
                <span>@Model.nome</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div style=" background-color: white; " class="container-fluid well">
        <div class="span4" style=" margin: 0px;">
            <img src="@Model.url_imagem" class="img-polaroid" />
        </div>
        <div class="span7">
            <h3>@Model.descricao</h3>
        </div>
    </div>
</div>

<div class="container-fluid jm-module title-box-ms" style="margin-bottom: 0px;">
    <div class="jm-module-in">
        <div class="jm-title ">
            <div>
                <span>Buffet's participantes</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jm-module-content clearfix ">
        <div class="mod_djclassifieds_items clearfix">
            <div class="items items-cols3">
                @{
                    foreach (var outros in Model.PORTAL_ANUNCIANTE_PROMOCAO)
                    {
                        <div class="items-col icol1" style=" margin-bottom: 20px; ">
                            <div class="icol-in">
                                @{

                        string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", outros.LOCAL_EVENTO.autenticacao);
                        var total_avaliacao = outros.LOCAL_EVENTO.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
                        var avaliacao = total_avaliacao != 0 ? total_avaliacao / outros.LOCAL_EVENTO.LOCAL_EVENTO_COMENTARIOS.Count : 0;

                        <div class="item">
                            <div class="title">
                                <a class="title_img" href="@url">
                                    <img style="max-width: 160px;max-height: 120px;height: 120px;width: 160px;" src="@Html.GetImagemParceiro(outros.LOCAL_EVENTO.autenticacao, 0)">
                                </a>
                                <a class="title" href="@url">
                                    @outros.LOCAL_EVENTO.nome
                                </a>
                                <div class="date_cat">
                                    <div class="djrv_rating_avg djreviews">
                                        <div class="djrv_item_rating djrv_rating">
                                            <span class="djrv_stars">
                                                @for (int i = 0; i < avaliacao; i++)
                                                {
                                                    <span class="djrv_star active"></span>
                                                }
                                                @for (int f = 0; f < 5 - avaliacao; f++)
                                                {
                                                    <span class="djrv_star"></span>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


