﻿@model BuffetWebPortal.Models.Portal.RegiaoModel
@{
    var cliente = Html.Cliente(Context);
}
 
<div class="container-fluid jm-module title-box-ms" style="margin-bottom: 0px;">
    <div class="jm-module-in">
        <div class="jm-title " style=" height: 44px; ">
            <div>
                <span style=" font-size: 30px;  color: #7057A2; ">Região de @Model.regiao</span>
                <div class="pull-right">
                    <a href="javascript:void(o)" onclick="this.style.display = 'none'; document.getElementById('PropostaCompartilhada').style.display = 'block'" class="btn btn-primary btn-lg pull-right">
                        Solicitar proposta
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="well container-fluid" style="display: none; background-color: white; margin-bottom: 20px;" id="PropostaCompartilhada">
        <div class="span7" style=" margin-left: -3%; ">
            <div class="alert alert-info" id="mensagem" style="display:none"></div>
            <form action="/Proposta/EnviarPropostaCompartilhada" method="post">
                <input type="hidden" name="regiao" value="@Model.regiao" />
                <input type="hidden" name="acao" value="Regiao" />

                @if (cliente != null)
                {
                    <div class="span5" style=" margin-bottom: 20px; ">
                        <h3>Preencha seus dados</h3>
                    </div>

                    <div class="container-fluid">
                        <div class="span2">
                            <img style="border-radius: 7px; width: 100%; height: 140px;" src="@cliente.url" class="img-circle" />
                        </div>
                        <div class="span3">
                            <input type="hidden" name="nome" value="@cliente.nome" />
                            <input type="hidden" name="email" value="@cliente.email" />
                            <input type="hidden" name="celular" value="@cliente.celular" />
                            <input type="hidden" name="telefone" value="@cliente.telefone" />

                            <strong>Seu nome</strong>
                            <label>@cliente.nome</label>

                            <strong>Seu e-mail</strong>
                            <label>@cliente.email</label>

                            <strong>Seu celular</strong>
                            <label>@cliente.celular</label>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="span2">
                            <label>Periodo</label>
                            <select required class="input-block" name="periodo">
                                <option value="">Selecione</option>
                                <option value="Jantar">Jantar</option>
                                <option value="Almoço">Almoço</option>
                            </select>
                        </div>
                        <div class="span2">
                            <label>Categoria</label>
                            <select required class="input-block" name="categoria">
                                <option value="">Selecione</option>
                                <option value="Infantil">Infantil</option>
                                <option value="Teen">Jovens</option>
                                <option value="Escolar">Escolar</option>
                            </select>
                        </div>
                        <div class="span2">
                            <label>Convidados</label>
                            <input type="number" class="input-block" required name="convidados" />
                        </div>
                        <div class="span2">
                            <label>Data do Evento</label>
                            <input type="date" class="input-block" required name="data_evento" />
                        </div>
                        <div class="span4" style=" margin-top: 25px; ">
                            <button type="submit" class="btn btn-primary input-block">Solicitar Propostas</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="span6" style=" margin-bottom: 20px; ">
                        <div>
                            <h3>Preencha seus dados</h3>
                            <h5>Ou se preferir, crie uma conta, é gratis!</h5>
                        </div>
                        <a href="/Cliente/CriarConta?controlle=Portal&acao=Regiao&parametros=Regiao=@Model.regiao" class="btn btn-primary" style=" width: 36%; ">criar conta</a>
                        <a href="/Cliente/Login?controlle=Portal&acao=Regiao&parametros=Regiao=@Model.regiao" class="btn btn-primary" style=" width: 37%; margin-left: 5%; ">fazer login</a>
                    </div>

                    <div class="span2">
                        <label>Seu nome</label>
                        <input type="text" class="input-block" required name="nome" />
                    </div>
                    <div class="span2">
                        <label>Seu e-mail</label>
                        <input type="email" class="input-block" required name="email" />
                    </div>
                    <div class="span2">
                        <label>Seu celular</label>
                        <input type="tel" class="input-block" onkeyup="BuscarOperadora(this)" id="celular" required name="celular" />
                        <input type="hidden" name="operadora" id="operadora" value="" />
                        <input type="hidden" name="valido" id="valido" value="false" />
                    </div>
                    <div class="span2">
                        <label>Seu telefone</label>
                        <input type="tel" class="input-block" name="telefone" />
                    </div>
                    <div class="span2">
                        <label>Periodo</label>
                        <select required class="input-block" name="periodo">
                            <option value="">Selecione</option>
                            <option value="Jantar">Jantar</option>
                            <option value="Almoço">Almoço</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Categoria</label>
                        <select required class="input-block" name="categoria">
                            <option value="">Selecione</option>
                            <option value="Infantil">Infantil</option>
                            <option value="Teen">Jovens</option>
                            <option value="Escolar">Escolar</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Convidados</label>
                        <input type="number" class="input-block" required name="convidados" />
                    </div>
                    <div class="span2">
                        <label>Data do Evento</label>
                        <input type="date" class="input-block" required name="data_evento" />
                    </div>

                    <div class="span2" style=" margin-top: 25px;">
                        <button type="submit" class="btn btn-primary" style=" height: 44px; padding: 0 19px;  width: 170px; ">
                            Solicitar Propostas
                        </button>
                    </div>
                }
            </form>

        </div>
    </div>
    

    @*<div class="span3 pull-right">
        <img src="~/Content/imagens/Solicitar_Proposta.png" />
    </div>*@

</div>

<div id="dj-classifieds" class="container-fluid clearfix djcftheme-jm-joomads-ef4">
    <div class="dj-items-blog">
        <div class="djcf_items_blog">
            @foreach (var destaque in Model.anunciantes)
            {
                string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", destaque.autenticacao);

                var total_avaliacao = destaque.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
                var avaliacao = total_avaliacao != 0 ? total_avaliacao / destaque.LOCAL_EVENTO_COMENTARIOS.Count : 0;

                <div class="item_box clearfix" style="width:33.233333333333%;">
                    <div class="item_box_bg0">
                        <div class="item_box_in">
                            <div class="item_box_in2" style="height: 350px;">
                                <div class="title">
                                    <div>
                                        <h2>
                                            <a href="@url">@destaque.nome</a>
                                            @if (destaque.EMPRESA.EMPRESA_MODULOS.Select(e => e.modulo.Equals("PORTAL") && e.expira_em >= DateTime.Today).FirstOrDefault() != null)
                                            {
                                                <span class="type_button bt_forsale" style="display:inline-block;
                                                                                border:0px solid #A2691B;
                                                                                background:#FEC657;color:#000000;
                                                                                font-size: 12px;
                                                                                font-weight: 500;
                                                                                text-transform: uppercase;
                                                                                line-height: 1.1em;
                                                                                margin: 0 2px;
                                                                                padding: 8px 14px 7px;
                                                                                vertical-align:middle;">Destaque</span>
                                            }
                                        </h2>
                                    </div>
                                    <div>
                                        <h5 style=" margin-top: 2%; ">
                                            @destaque.regiao
                                        </h5>
                                        <div class="pull-right" style=" margin-top: -9%; ">
                                            <div class="djrv_rating_avg djreviews">
                                                <div class="djrv_item_rating djrv_rating small pull-right">
                                                    <span class="djrv_stars">
                                                        @for (int i = 0; i < avaliacao; i++)
                                                        {
                                                            <span class="djrv_star active"></span>
                                                        }
                                                        @for (int f = 0; f < 5 - avaliacao; f++)
                                                        {
                                                            <span class="djrv_star"></span>
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog_det">
                                    <div class="item_box_right">
                                        <div class="item_img">
                                            <a href="@url">
                                                <img src="@Html.GetImagemParceiro(destaque.autenticacao, TipoImagem.Anunciante, 0)" style=" width: 100%; height: 71%; " alt="@destaque.nome" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid"> 
        <div class="jm-module title-box-ms">
            <div class="jm-module-in">
                <h3 class="jm-title ">
                    <span>Outros</span>
                </h3>
                <div class="jm-module-content clearfix ">
                    <div class="mod_djclassifieds_items clearfix">
                        <div class="items items-cols3">
                            @{
                                foreach (var outros in Model.parceiros)
                                {
                                    <div class="items-col icol1" style=" margin-bottom: 20px; ">
                                        <div class="icol-in">

                                            @{

                                    string url = string.Format("/Parceiros/Parceiro?Parceiro={0}", outros.autenticacao);
                                    var total_avaliacao = outros.LOCAL_EVENTO_COMENTARIOS.Sum(e => e.avaliacao);
                                    var avaliacao = total_avaliacao != 0 ? total_avaliacao / outros.LOCAL_EVENTO_COMENTARIOS.Count : 0;

                                    <div class="item">
                                        <div class="title">
                                            <a class="title_img" href="@url">
                                                <img style="max-width: 160px;max-height: 120px;height: 120px;width: 160px;" src="@Html.GetImagemParceiro(outros.autenticacao, TipoImagem.Normal, 0)" alt="@outros.nome" title="">
                                            </a>
                                            <a class="title" href="@url">
                                                @outros.nome
                                            </a>
                                            <div class="date_cat">
                                                <div class="djrv_rating_avg djreviews">
                                                    <div class="djrv_item_rating djrv_rating">
                                                        <span class="djrv_stars">
                                                            @for (int i = 0; i < avaliacao; i++)
                                                            {
                                                                <span class="djrv_star active"></span>
                                                            }
                                                            @for (int f = 0; f < 5 - avaliacao; f++)
                                                            {
                                                                <span class="djrv_star"></span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</div> 