﻿@model BuffetDataManager.Models.CLIENTE
@using BuffetWeb.Helpers
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Detalhes do Cliente @Model.nome
            </div>
            <div class="padding-md clearfix">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="padding-md clearfix">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#propostas" role="tab" data-toggle="tab">Propostas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="propostas">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Convidados</td>
                                        <td>Data evento</td>
                                        <td>Data envio</td>
                                        <td>Periodo</td>
                                        <td>Proposta de</td>
                                        <td>Status</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                @foreach (var proposta in Model.CLIENTE_PROPOSTA)
                                {
                                    <tr>
                                        <td>@proposta.convidados</td>
                                        <td>@proposta.data_evento</td>
                                        <td>@proposta.data_envio.ToShortDateString()</td>
                                        <td>@proposta.periodo</td>
                                        <td>@proposta.proposta_de</td>
                                        <td>
                                            @if (DateTime.Today > DateTime.Now.AddDays(proposta.ORCAMENTO_PROPOSTA.validade_dias + 1))
                                            {
                                                <label class="label-danger">Expirada</label>
                                            }
                                            else
                                            {
                                                <label class="label-success">Disponivel</label>
                                            }
                                        </td>
                                        <td>@Html.StatusContactIcon(proposta.autenticacao, BuffetDataManager.Utils.TipoContato.Proposta, ContactIcon.Email)</td>
                                        <td>@Html.StatusContactIcon(proposta.autenticacao, BuffetDataManager.Utils.TipoContato.Proposta, ContactIcon.SMS)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
