﻿@model BuffetWerb.Models.Clientes.LogImportClientes

<div class="panel panel-default">
    <div class="panel-heading">
        Relatório de importação
    </div>
    @if (Model.mensagemErro == null)
    {
        Html.Raw(Model.mensagemErro);
    }
    else
    {
        <div class="panel-body">
            <span>Total</span><span class="badge m-left-xs">@Model.total</span>
            <span>Importados</span><span class="badge badge-success m-left-xs">@Model.importados</span>
            <span>Duplicados</span><span class="badge badge-warning m-left-xs">@Model.duplicados</span>
            <span>Tempo de importação</span><span class="badge badge-danger m-left-xs">@Model.tempoImportacao</span>
            <span>Mensagem</span><span class="badge badge-danger m-left-xs">@Model.mensagemErro</span>
        </div>
        <table class="table table-striped" id="responsiveTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th>Mensagem</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.importDone)
                {
                    <tr>
                        <td>@log.nome_cliente</td>
                        <td>@log.email</td>
                        <td>@log.celular</td>
                        <td>@Html.Raw(log.mensagem.Item2)</td>
                        <td>
                            @switch (log.mensagem.Item1)
                            {
                                case BuffetWerb.Models.Clientes.StatusLog.Sucesso:
                                    <span class="label label-success">Sucesso</span>
                                    break;
                                case BuffetWerb.Models.Clientes.StatusLog.Informacao:
                                <span class="label label-info">Informação</span>
                                    break;
                                case BuffetWerb.Models.Clientes.StatusLog.Erro:
                                <span class="label label-danger">Erro</span>
                                    break;
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>