﻿@{
    ViewBag.Title = "ImportarClientes";
}

<h2
    <div class="modal fade" id="ImportarClientes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Importar Contatos</h3>
                </div>
                <form action="/Clientes/ImportarContatos" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="alert alert-danger" style=" height: 100px; ">
                            <strong>Importante:</strong>
                            O arquivo deve ser formatado da seguinte maneira: <br /><br />
                            nome  |	email |	telefone  |	celular  | cep  |	numero<br />
                            <small>A sequencia não interfere na leitura do arquivo <a href="http://www.buffetweb.com/Sites/Arquivos/Sistema/Arquivos/Template_De_Importacao.xlsx"><strong> Baixar Template </strong></a></small>
                            <br /><br />
                            Apenas o campo <strong>nome</strong> e <strong>email</strong> e/ou <strong>celular</strong> são obrigatórios.
                        </div>

                        @*<div class="alert alert-info" style=" height: 135px; ">
                                <strong>Dica:</strong> Você pode enviar uma mensagem de confirmação para os novos clientes, para que eles atestem que concordam em receber suas campanhas.
                                Com isso, o e-mail do contato é ativado apenas quando a confirmação é realizada.
                                Este método, chamado de <em>double opt-in</em>, promove maiores níveis de engajamento em suas futuras campanhas, pois você terá em sua base apenas os contatos que manifestaram o desejo de fazer parte de suas listas.

                                <div class="row">
                                    @Html.BuffetCheck("Enviar mensagem de confirmação de cadastro para este contato? (double opt-in)", "confirmar", false)
                                </div>
                            </div>*@

                        <div class="alert alert-info">
                            <button class="close" data-dismiss="alert">×</button>
                            <strong>Informação</strong>
                            O sistema demora em média 10 segundos a cada 500 novos registros, não feche essa pagina até a importação ser concluída!
                        </div>

                        <div class="btn-group input-block-level">
                            <div class="btn btn-file">
                                <input type="file" name="contatos" class="input-block-level" required accept=".xlsx">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Importar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
