﻿@model ICollection<BuffetDataManager.Models.CLIENTE>
@using BuffetWeb.Helpers
    
<script src="~/Content/Script/Buffet/Ajustes/Ajustes.js"></script>
<script src="~/Content/Buffet/Clientes/Clientes.js"></script>

@foreach (var cliente in Model)
{
    <div class="modal fade" id="@cliente.id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @if (Html.Modulos(Modulo.Orcamento) && Html.Permissoes(Permitir.Criar, Conteudo.Orcamentos))
                    {
                        <h3 class="text-center">Orçamentos de @cliente.nome</h3>
                    }
                    else
                    {
                        <h3 class="text-center">Convites de @cliente.nome</h3>
                    }
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Código Único</td>
                                        <td>Tipo de Evento</td>
                                        <td>Data da Criação</td>
                                        <td>Data do Evento</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                @foreach (var orcamentos in cliente.ORCAMENTOes)
                                {
                                    <tr>
                                        <td>@orcamentos.codigo_unico</td>
                                        <td>@string.Format("{0}", orcamentos.EVENTO != null ? orcamentos.EVENTO.nome : "Sem evento")</td>
                                        <td>@orcamentos.data_criacao.ToShortDateString()</td>
                                        <td>@orcamentos.data_evento.ToShortDateString()</td>
                                        <td align="right">
                                            <a class="btn btn-success btn-xs" href="@string.Format("/Orcamento/DetalhesOrcamento?codigo_unico={0}", @orcamentos.codigo_unico)">Ver Detalhes</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Clientes
                <span class="label label-info pull-right">@Model.Count Cliente</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th>E-mail</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @{
                        var isOrcamento = Html.Modulos(Modulo.Orcamento) && Html.Permissoes(Permitir.Criar, Conteudo.Orcamentos);
                        var isConvite = Html.Modulos(Modulo.Convite) && Html.Permissoes(Permitir.Criar, Conteudo.Convites);
                    }
                    @foreach (var cliente in Model)
                    {

                        <tr>
                            <td>@cliente.nome</td>
                            <td>@cliente.telefone</td>
                            <td>@Html.isCelular(cliente.celular, cliente.nome)</td>
                            <td>@Html.isEmail(cliente.email, cliente.nome)</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                                        Opções <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @if (isOrcamento)
                                        {
                                            if (cliente.ORCAMENTOes.Count != 0)
                                            {
                                                <li data-toggle="tooltip" @Html.Dica("top", "Veja os orçamentos deste cliente")><a href="#" data-target="#@cliente.id" data-toggle="modal">Orçamentos</a></li>
                                            }
                                            <li data-toggle="tooltip" @Html.Dica("top", "Você pode criar orçamentos para este cliente")><a href="/Orcamento/NovoOrcamento?id_cliente=@cliente.id">Novo Orçamento</a></li>
                                        }
                                        @if (isConvite)
                                        {
                                            if (cliente.ORCAMENTOes.Count != 0)
                                            {
                                                <li data-toggle="tooltip" @Html.Dica("top", "Veja os convites deste cliente")><a href="#" data-target="#@cliente.id" data-toggle="modal">Convites</a></li>
                                            }
                                            <li data-toggle="tooltip" @Html.Dica("top", "Você pode criar convites para este cliente")><a href="@string.Format("/Convite/Convites?id_cliente={0}", cliente.id)">Novo Convite</a></li>
                                        }
                                        @if (cliente.ENDERECO != null)
                                        {
                                            <li>
                                                <a href="#" onclick="EditarCliente('@cliente.id', '@cliente.ENDERECO.id', '@cliente.cliente_de', '@cliente.nome', '@cliente.telefone', '@cliente.celular', '@cliente.email', '@cliente.cpf', '@cliente.rg', '@cliente.onde_conheceu', '@cliente.ENDERECO.cep', '@cliente.ENDERECO.cidade', '@cliente.ENDERECO.complemento', '@cliente.ENDERECO.endereco1', '@cliente.ENDERECO.estado', '@cliente.ENDERECO.numero', '@cliente.ENDERECO.bairro')">Editar</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#" onclick="EditarCliente('@cliente.id', '', '@cliente.cliente_de', '@cliente.nome', '@cliente.telefone', '@cliente.celular', '@cliente.email', '@cliente.cpf', '@cliente.rg', '@cliente.onde_conheceu', '', '', '', '', '', '', '', '')">Editar</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a href="@string.Format("/Clientes/DetalhesCliente?id_cliente={0}", cliente.id)" @Html.Dica("top", "Ver detalhes")>
                                    <img width="30" src="/Content/Buffet/Orcamento/Imagens/icone_lista-2.png" />
                                </a>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>