﻿@using BuffetWeb.Helpers

<script src="~/Content/Script/Buffet/Ajustes/Ajustes.js"></script>
<script src="~/Content/Buffet/Clientes/Clientes.js"></script>

<div class="row">
    <form class="form-horizontal form-border no-margin" method="post" onsubmit="return ValidarCampos()" action="/Clientes/SalvarClientes">
        <input type="hidden" name="id" id="id" value="" />
        <input type="hidden" name="cliente_de" id="cliente_de" value="" />
        <input type="hidden" name="ENDERECO.id" id="ENDERECO.id" value="" />

        <input type="hidden" name="operadora_celular" id="operadora_celular" value="" />

        <div class="modal fade" id="Aniversariantes">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Aniversáriantes</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="Familiares">
                            <h3 class="text-center">Adicione seus familiares</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-info" value="+" onclick="NovoFamiliar(this)" data-quantidade="1" />
                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Salvar" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Endereco">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Endereço</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>CEP</label>
                                <input type="text" name="ENDERECO.cep" id="cep" maxlength="9" onkeypress="DIMask(this, '#####-###'); buscarCEP(this); return DIOnlyNumber(this); " class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label>Endereco</label>
                                <input type="text" name="ENDERECO.endereco1" id="endereco" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Número</label>
                                <input type="text" name="ENDERECO.numero" id="numero" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Bairro</label>
                                <input type="text" name="ENDERECO.bairro" id="bairro" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Cidade</label>
                                @Html.Cidade("ENDERECO.cidade")
                            </div>
                            <div class="col-md-4">
                                <label>Estado</label>
                                @Html.Estados("ENDERECO.estado")
                            </div>
                            <div class="col-md-12">
                                <label>Complemento</label>
                                <textarea name="ENDERECO.complemento" id="complemento" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Fechar" />
                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" name="acao" value="@ViewBag.action" />
        <input type="hidden" name="controlador" value="@ViewBag.controller" />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Raw(Html.BackButton((bool)ViewBag.backButton))
                    Novo Cliente
                </div>
                <div class="panel-body">
                    <div class='alert alert-warning' id="mensagem" style="display:none;">
                        <strong>Informação</strong> <span id="texto_mensagem"></span>
                    </div>
                    <div class="col-md-3">
                        @Html.SelecionarImagem("imagem","image", "", 270, 400)
                    </div>
                    <div class="col-md-5 row">
                        <div class="col-md-12">
                            <label>E-mail</label>
                            <input type="text" id="email" name="email" class="form-control" onkeypress="VerificaEmail(this)" onblur="VerificaEmail(this)" />
                        </div>
                        <div class="col-md-12">
                            <label>Nome</label>
                            <input type="text" id="nome" name="nome" class="form-control" />
                        </div>
                        <div class="col-md-12">
                            <label id="label_celular">Celular</label>
                            <input type="text" id="celular" name="celular" maxlength="13" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-#####-####'); return DIOnlyNumber(this);" onkeyup="BuscarOperadora(this)" class="form-control" />
                        </div>
                        <div class="col-md-12">
                            <label>Telefone</label>
                            <input type="text" id="telefone" name="telefone" maxlength="13" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-####-####'); return DIOnlyNumber(this);" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input type="button" data-target="#Aniversariantes" data-toggle="modal" class="btn btn-success form-control" value="Familiares" />
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input type="button" data-target="#Endereco" data-toggle="modal" class="btn btn-success form-control" value="Endereço" />
                        </div>
                        <div class="col-md-12">
                            <label></label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Linha do tempo</label>
                        <table class="table" id="timeline" style="display:none"></table>
                        <h2 class="text-center" id="informacaoTimeLine" style="display:none; vertical-align:middle">Nenhuma informação aqui :(</h2>
                    </div>

                    @*<div class="col-md-3">
                        <label>CPF</label>
                        <input type="text" id="cpf" name="cpf" maxlength="14" onkeypress="DIMask(this, '###.###.###-##'); return DIOnlyNumber(this);" class=" form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>RG</label>
                        <input type="text" id="rg" name="rg" onkeypress="return DIOnlyNumber(this);" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>Como nos conheceu?</label>
                        @Html.OndeConheceu("onde_conheceu", false)
                    </div>*@
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success" id="SalvarOuAtualizar">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>