﻿@using BuffetWeb.Helpers
@using BuffetDataManager.Utils
@{
    var itensCarrinho = Html.ItensCarrinho();
    var locaisEventos = Html.LocalEvento();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>BuffetWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Administrador/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Slimscroll -->
    <script src='~/Content/Administrador/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/Content/Administrador/js/jquery.cookie.min.js'></script>

    <!-- Buffet -->
    <link href="~/Content/Administrador/css/Buffet/Buffet.css" rel="stylesheet" />
    <script src="~/Content/Script/Buffet/Base/UIBase.js"></script>
    <script src="~/Content/Script/Buffet/Base/DIBase.js"></script>
    <script src="~/Content/Script/Buffet/Base/BuffetWebBase.js"></script>

    <link rel="shortcut icon" type="image/png" href="~/Content/Buffet/Imagens/Logos/BuffetWeb.ico" />

    <!-- Font Awesome-->
    <link href="~/Content/Administrador/css/font-awesome.min.css" rel="stylesheet">
    <!-- Pace -->
    <link href="~/Content/Administrador/css/pace.css" rel="stylesheet">

    <!-- Datatable -->
    <link href="~/Content/Administrador/css/jquery.dataTables_themeroller.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/Content/Administrador/css/endless.min.css" rel="stylesheet">
    <link href="~/Content/Administrador/css/endless-skin.css" rel="stylesheet">

    <!-- Coloque o CSS no seu HEAD -->
    @*<link href="http://assets.locaweb.com.br/locastyle/3.7.2/stylesheets/locastyle.css" rel="stylesheet" type="text/css">*@
    @*<link href="~/Content/Administrador/LocaWeb/stylesheets/locastyle.css" rel="stylesheet" />
        <link href="~/Content/Administrador/LocaWeb/stylesheets/locastyle.css" rel="stylesheet" />*@
    <link href="~/Content/Administrador/LocaWeb/stylesheets/locastyle.css" rel="stylesheet" />
    <script src="~/Content/Buffet/Shared/Shared.js"></script>

    @*<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="http://assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">*@

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63272724-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body class="overflow-hidden">
    <!-- Overlay Div -->
    @*<div id="overlay" class="transparent"></div>*@

    <div id="wrapper" class="@string.Format("{0}", Request.Cookies["menu"] != null? Request.Cookies["menu"].Value : "")">
        <div id="top-nav" class="skin-6 fixed" >
            <div class="brand">
                <img src="~/Content/Buffet/Imagens/Logos/Logo_Bufffet%20Web_Small.png" style=" margin-top: -3px; width: 172px; " />
            </div>
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle pull-left hide-menu" onclick="MenuState(this)" id="menuToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav-notification clearfix">
                
                @if (itensCarrinho.Count > 0)
                {
                    <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-shopping-cart fa-lg"></i>
                            <span class="notification-label bounceIn animation-delay5">@itensCarrinho.Count</span>
                        </a>
                        <ul class="dropdown-menu task dropdown-2">
                            <li><a href="javascript:void(0)">@string.Format("Você tem {0} {1} no carrinho", itensCarrinho.Count, itensCarrinho.Count == 1? "item" : "itens")</a></li>
                            @foreach (var item in itensCarrinho.Take(4))
                            { 
                                <li>
                                    <a class="clearfix" href="/Planos/MeuCarrinho">
                                        <div class="detail">
                                            <strong>@item.B_PLANOS_DISPONIVEIS.nome</strong>
                                            <p class="no-margin">
                                            </p>
                                            <small class="text-muted">
                                                @switch (item.periodo)
                                                {
                                                    case "MENSAL":
                                                        <i class="fa fa-check-circle text-success">@item.B_PLANOS_DISPONIVEIS.valor_mensal.ToString().Replace(".", ",")</i>
                                                        break;
                                                    case "TRIMESTRAL":
                                                    <i class="fa fa-check-circle text-success">@item.B_PLANOS_DISPONIVEIS.valor_trimestral.ToString().Replace(".", ",")</i>
                                                        break;
                                                    case "SEMESTRAL":
                                                    <i class="fa fa-check-circle text-success">@item.B_PLANOS_DISPONIVEIS.valor_semestral.ToString().Replace(".", ",")</i>
                                                        break;
                                                    case "ANUAL":
                                                    <i class="fa fa-check-circle text-success">@item.B_PLANOS_DISPONIVEIS.valor_anual.ToString().Replace(".", ",")</i>
                                                        break;
                                                }
                                            </small>
                                        </div>
                                    </a>
                            </li>
                            }
                            <li>
                                <a href="/Planos/MeuCarrinho">
                                    <i class="fa fa-shopping-cart"> </i>
                                    Meu carrinho 
                                </a>
                            </li>
                        </ul>
                    </li> 
                }
                
                <li class="dropdown">
                    @{
                        var notificacoes = Html.notificacoes();
                    }
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-lg"></i>
                        @{
                            var naoLidas = notificacoes.Where(e => e.lido == false).ToList().Count;
                            if (naoLidas != 0)
                            {
                                <span class="notification-label bounceIn animation-delay4">@naoLidas</span>
                            }
                        }
                    </a>
                    <ul class="dropdown-menu message dropdown-1">

                        @if (naoLidas == 1)
                        {
                            <li><a>Você tem 1 notificação não lida</a></li>
                        }
                        else
                        {
                            <li><a>Você tem @naoLidas notificações não lidas</a></li>
                        }
                        @foreach (var notificacao in notificacoes)
                        {
                            <li>
                                <a class="clearfix" href="/Colaborador/Perfil?tab=notificacoes">
                                    @if (notificacao.deBuffetWeb)
                                    {
                                        <img src="http://buffetweb.com/Empresas/Arquivos/Logos/Logo_Small.png">
                                    }
                                    else
                                    {
                                        <img src="@notificacao.COLABORADORE.url" alt="@notificacao.COLABORADORE.nome" />
                                    }
                                    <div class="detail" style=" float: right; width: 208px; ">
                                        @if (notificacao.deBuffetWeb)
                                        {
                                            <strong>BuffetWeb</strong>
                                        }
                                        else
                                        {
                                            <strong>@notificacao.COLABORADORE.nome</strong>
                                        }
                                        @if (notificacao.mensagem.Length > 30)
                                        {
                                            <p class="no-margin">
                                                @string.Format("{0}...", notificacao.mensagem.Substring(0, 30))
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="no-margin">
                                                @notificacao.mensagem
                                            </p>
                                        }
                                        @if (notificacao.lido == true)
                                        {
                                            <small class="text-muted"><i class="fa fa-check text-success"></i> @notificacao.data.ToShortDateString() - @notificacao.data.ToShortTimeString()</small>
                                        }
                                        else
                                        {
                                            <small class="text-muted"><i class="fa fa-eraser text-danger"></i> @notificacao.data.ToShortDateString() - @notificacao.data.ToShortTimeString()</small>
                                        }
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                
                @*<li class="profile dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <strong>John Doe</strong>
                            <span><i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="clearfix" href="#">
                                    <img src="img/user.jpg" alt="User Avatar">
                                    <div class="detail">
                                        <strong>John Doe</strong>
                                        <p class="grey">John_Doe@email.com</p>
                                    </div>
                                </a>
                            </li>
                            <li><a tabindex="-1" href="profile.html" class="main-link"><i class="fa fa-edit fa-lg"></i> Edit profile</a></li>
                            <li><a tabindex="-1" href="gallery.html" class="main-link"><i class="fa fa-picture-o fa-lg"></i> Photo Gallery</a></li>
                            <li><a tabindex="-1" href="#" class="theme-setting"><i class="fa fa-cog fa-lg"></i> Setting</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="main-link logoutConfirm_open" href="#logoutConfirm"><i class="fa fa-lock fa-lg"></i> Log out</a></li>
                        </ul>
                    </li>*@
            </ul>
        </div>
        <aside class="fixed skin-1">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="size-toggle">
                    <a class="btn btn-sm" id="sizeToggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="btn btn-sm pull-right logoutConfirm_open" href="/Home/Deslogar">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                <div class="user-block clearfix">
                    <a href="/Colaborador/Perfil">
                        <img src="@Html.PerfilLogado(Perfil.Imagem)">
                    </a>
                    <div class="detail">
                        <h5>@Html.PerfilLogado(Perfil.Nome)</h5><span class="badge badge-danger bounceIn animation-delay5 m-left-xs"></span>
                        <ul class="list-inline">
                            <li><a href="/Colaborador/Perfil">Perfil</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search-block">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Pesquise algo...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="/Home/Index">
                                <span class="menu-icon">
                                    <i class="fa fa-dashboard fa-lg"></i>
                                </span>
                                <span class="text">
                                    Painel
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>

                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-windows fa-lg"></i>
                                </span>
                                <span class="text">
                                    Planos
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Portal/LocalDoEvento"><span class="submenu-label">Meus Planos</span></a></li>
                                <li><a href="/Portal/LocalDoEvento"><span class="submenu-label">Portal</span></a></li>
                                <li><a href="/Portal/LocalDoEvento"><span class="submenu-label">SMS</span></a></li>
                                <li><a href="/Portal/LocalDoEvento"><span class="submenu-label">Voip</span></a></li>
                            </ul>
                        </li>

                        @if (Html.Modulos(Modulo.Portal) && Html.Permissoes(Permitir.Visualizar, Conteudo.Portal))
                        {
                            
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-windows fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Proposta
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu"> 
                                    <li><a href="/Proposta/MinhasProposta"><span class="submenu-label">Minhas Proposta</span></a></li>
                                    <li><a href="/Proposta/CriarProposta"><span class="submenu-label">Criar Proposta</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Enviar Proposta</span></a></li>
                                </ul>
                            </li>
                            
                            
                            @*<li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-windows fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Portal
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu third-level" style="">
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Propostas</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Proposta/CriarProposta"><span class="submenu-label">Criar Proposta</span></a></li>
                                            <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Enviar Proposta</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="submenu third-level" style="">
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Plano</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Planos/ComprarPlano"><span class="submenu-label">Comprar Planos</span></a></li>
                                            <li><a href="/Planos/MeusPlanos"><span class="submenu-label">Meus Planos</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="submenu">
                                    <li><a href="/Portal/LocalDoEvento"><span class="submenu-label">Local do Evento</span></a></li>
                                </ul>
                            </li>*@
                        }

                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-windows fa-lg"></i>
                                </span>
                                <span class="text">
                                    Clientes
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Clientes/MeusClientes"><span class="submenu-label">Meus Clientes</span></a></li>
                                <li><a href="/Clientes/NovoCliente"><span class="submenu-label">Novo Cliente</span></a></li>
                                <li><a href="/Clientes/ImportarClientes"><span class="submenu-label">Importar Clientes</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Clientes/Clientes">
                                <span class="menu-icon">
                                    <i class="fa fa-group fa-lg"></i>
                                </span>
                                <span class="text">
                                    Agenda
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>

                        @if (Html.Modulos(Modulo.Marketing) && Html.Permissoes(Permitir.Visualizar, Conteudo.Marketing))
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-windows fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Marketing
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Proposta/CriarProposta"><span class="submenu-label">Minhas Campanhas</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Boas Vintas</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Auto Respostas</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Parabéns</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Ação</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Recorrente</span></a></li>
                                    <li><a href="/Proposta/EnviarProposta"><span class="submenu-label">Lembrete</span></a></li>
                                </ul>
                            </li>
                        }

                        @if (Html.Modulos(Modulo.Convite) && Html.Permissoes(Permitir.Visualizar, Conteudo.Convites))
                        {
                            if (!Html.isMobile(Request))
                            {
                                <li>
                                    <a href="/Convite/CriarConvites">
                                        <span class="menu-icon">
                                            <i class="fa fa-send-o fa-lg"></i>
                                        </span>
                                        <span class="text">
                                            Convites
                                        </span>
                                        <span class="menu-hover"></span>
                                    </a>
                                </li>
                                <li class="openable">
                                    <ul class="submenu">
                                        <li><a href="/Orcamento/Orcamentos"><span class="submenu-label">Meus Convites</span></a></li>
                                        <li><a href="/Convite/Convites"><span class="submenu-label">Criar Convite</span></a></li>
                                    </ul>
                                </li>
                            }
                            
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-picture-o fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Pesquisa
                                    </span>
                                    <span class="badge badge-success bounceIn animation-delay5"></span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Orcamento/Orcamentos"><span class="submenu-label">Minhas Pesquisas</span></a></li>
                                    <li><a href="/Convite/Convites"><span class="submenu-label">Criar Pesquisa</span></a></li>
                                </ul>
                            </li>
                        }
                        
                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-picture-o fa-lg"></i>
                                </span>
                                <span class="text">
                                    Estatisticas
                                </span>
                                <span class="badge badge-success bounceIn animation-delay5"></span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Orcamento/Orcamentos"><span class="submenu-label">Proposta</span></a></li>
                                <li><a href="/Convite/Convites"><span class="submenu-label">Marketing</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="openable">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-picture-o fa-lg"></i>
                                </span>
                                <span class="text">
                                    Album
                                </span>
                                <span class="badge badge-success bounceIn animation-delay5"></span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                @foreach (var local in locaisEventos)
                                {
                                    <li><a href="@string.Format("/Album/LocalEvento?autenticacao={0}", local.autenticacao)"><span class="submenu-label">@local.nome</span></a></li>
                                }
                            </ul>
                        </li>

                        @if (Html.Administrador())
                        {
                            <li class="openable">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="fa fa-cogs fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Ajustes
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/Ajustes/Empresa"><span class="submenu-label">Empresa</span></a></li>
                                </ul>
                                <ul class="submenu third-level" style="">
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">Usuários</span>
                                            <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="/Colaborador/Colaboradores"><span class="submenu-label">Usuário</span></a></li>
                                            <li><a href="/Colaborador/Perfis"><span class="submenu-label">Perfil de Usuários</span></a></li>
                                        </ul>
                                    </li>

                                    @if (Html.Modulos(Modulo.Orcamento))
                                    {
                                        <li class="openable">
                                            <a href="#">
                                                <span class="submenu-label">Prestadores</span>
                                                <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                            </a>
                                            <ul class="submenu fourth-level">
                                                <li><a href="/Prestador/Prestadores"><span class="submenu-label">Prestadores</span></a></li>
                                                <li><a href="/Prestador/PrestadorFuncoes"><span class="submenu-label">Funções</span></a></li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a href="/Ajustes/LocalEvento"><span class="submenu-label">Local do Evento</span></a></li>
                                        <li><a href="/Ajustes/HistoricoPagamento"><span class="submenu-label">Histórico de Pagamento</span></a></li>
                                    }
                                </ul>
                            </li>
                        }


                        
                                @*@if (Html.Modulos(Modulo.Orcamento) && Html.Permissoes(Permitir.Visualizar, Conteudo.Visitas))
                        {
                                    <li class="openable">
                                        <a href="#">
                                            <span class="menu-icon">
                                                <i class="fa fa-calendar fa-lg"></i>
                                            </span>
                                            <span class="text">
                                                Agenda
                                            </span>
                                            <span class="badge badge-success bounceIn animation-delay5"></span>
                                            <span class="menu-hover"></span>
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="/Agenda/ProximosEventos"><span class="submenu-label">Próximos Eventos</span></a></li>
                                            <li><a href="/Agenda/Visitas"><span class="submenu-label">Visitas</span></a></li>
                                        </ul>
                                        @if (Html.Permissoes(Permitir.Criar, Conteudo.Visitas))
                                {
                                            <ul class="submenu third-level" style="">
                                                <li class="openable">
                                                    <a href="#">
                                                        <span class="submenu-label">Ajustes</span>
                                                        <span class="badge badge-info bounceIn animation-delay1 pull-right">1</span>
                                                    </a>
                                                    <ul class="submenu">
                                                        <li><a href="/Agenda/Ajustes"><span class="submenu-label">Agenda</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                }
                                    </li>
                        }
                                @if (Html.Modulos(Modulo.Orcamento) && Html.Permissoes(Permitir.Visualizar, Conteudo.Eventos))
                        {
                                    <li class="openable">
                                        <a href="#">
                                            <span class="menu-icon">
                                                <i class="fa fa-folder-open fa-lg"></i>
                                            </span>
                                            <span class="text">
                                                Eventos
                                            </span>
                                            <span class="badge badge-success bounceIn animation-delay5"></span>
                                            <span class="menu-hover"></span>
                                        </a>
                                        @if (Html.Permissoes(Permitir.Criar, Conteudo.Eventos))
                                {
                                            <ul class="submenu">
                                                <li><a href="/Eventos/TipoDeEventos"><span class="submenu-label">Novo evento</span></a></li>
                                                <li><a href="/Itens/Itens"><span class="submenu-label">Cardápios</span></a></li>
                                            </ul>
                                }
                                    </li>
                        }
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Clientes))
                        {
                                    <li>
                                        <a href="/Clientes/Clientes">
                                            <span class="menu-icon">
                                                <i class="fa fa-group fa-lg"></i>
                                            </span>
                                            <span class="text">
                                                Clientes
                                            </span>
                                            <span class="menu-hover"></span>
                                        </a>
                                    </li>
                        }
                                @if (Html.Modulos(Modulo.Estoque) && Html.Permissoes(Permitir.Visualizar, Conteudo.Estoque))
                        {
                                    <li class="openable">
                                        <a href="#">
                                            <span class="menu-icon">
                                                <i class="fa fa-truck fa-lg"></i>
                                            </span>
                                            <span class="text">
                                                Estoque
                                            </span>
                                            <span class="menu-hover"></span>
                                        </a>
                                        <ul class="submenu third-level" style="">
                                            <li><a href="/Estoque/Fornecedores"><span class="submenu-label">Fornecedores</span></a></li>
                                            <li class="openable">
                                                <a href="#">
                                                    <span class="submenu-label">Itens</span>
                                                    <span class="badge badge-info bounceIn animation-delay1 pull-right">3</span>
                                                </a>
                                                <ul class="submenu fourth-level">
                                                    <li><a href="/Itens/ItensAluguel"><span class="submenu-label">Itens de Aluguel</span></a></li>
                                                    <li><a href="/Itens/ItensServico"><span class="submenu-label">Itens de Serviço</span></a></li>
                                                    <li><a href="/Itens/ItensDiversos"><span class="submenu-label">Materiais</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                        }

                                @if (Html.Modulos(Modulo.Galeria) && Html.Permissoes(Permitir.Visualizar, Conteudo.Galeria))
                        {
                                    <li class="openable">
                                        <a href="#">
                                            <span class="menu-icon">
                                                <i class="fa fa-picture-o fa-lg"></i>
                                            </span>
                                            <span class="text">
                                                Galerias
                                            </span>
                                            <span class="badge badge-success bounceIn animation-delay5"></span>
                                            <span class="menu-hover"></span>
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="/Imagens/ImagensEventos"><span class="submenu-label">Galeria dos eventos</span></a></li>
                                            <li><a href="/Imagens/ImagensEventos"><span class="submenu-label">Galeria do espaço</span></a></li>
                                        </ul>
                                    </li>
                        }


                                <li>
                                    <a href="/Pesquisa/Pesquisa">
                                        <span class="menu-icon">
                                            <i class="fa fa-signal fa-lg"></i>
                                        </span>
                                        <span class="text">
                                            Pesquisa
                                        </span>
                                        <span class="menu-hover"></span>
                                    </a>
                                </li>
                                <li class="openable">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="fa fa-sitemap fa-lg"></i>
                                        </span>
                                        <span class="text">
                                            Marketing
                                        </span>
                                        <span class="badge badge-success bounceIn animation-delay5"></span>
                                        <span class="menu-hover"></span>
                                    </a>
                                    <ul class="submenu third-level" style="">
                                        <li class="openable">
                                            <a href="#">
                                                <span class="submenu-label">Estatística</span>
                                                <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                            </a>
                                            <ul class="submenu">
                                                <li><a href="/Marketing/Visualizacoes"><span class="submenu-label">Visualizações</span></a></li>
                                                <li><a href="/Marketing/EstatisticasDeEnvio"><span class="submenu-label">Estatisticas De Envio</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="submenu third-level" style="">
                                        <li class="openable">
                                            <a href="#">
                                                <span class="submenu-label">Email</span>
                                                <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
                                            </a>
                                            <ul class="submenu">
                                                <li><a href="/Marketing/CriarCampanha"><span class="submenu-label">Campanhas</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@

                                @*<li class="openable">
        <a href="#">
            <span class="menu-icon">
                <i class="fa fa-signal fa-lg"></i>
            </span>
            <span class="text">
                Pesquisa
            </span>
            <span class="badge badge-success bounceIn animation-delay5"></span>
            <span class="menu-hover"></span>
        </a>
        <ul class="submenu">
            <li><a href="/Pesquisa/Pesquisa"><span class="submenu-label">Criar Pesquisa</span></a></li>
            @if (Html.Administrador())
            {
                <li><a href="/Ajustes/Empresa?tab=pesquisa"><span class="submenu-label">Ajustes</span></a></li>
            }
         </ul>
    </li>
                                }
                                @if (Html.Modulos(Modulo.Financeiro) && Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                        {
                                    <li class="openable">
                                        <a href="#">
                                            <span class="menu-icon">
                                                <i class="fa fa-credit-card fa-lg"></i>
                                            </span>
                                            <span class="text">
                                                Financeiro
                                            </span>
                                            <span class="badge badge-success bounceIn animation-delay5"></span>
                                            <span class="menu-hover"></span>
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="/Financeiro/AdicionarPagamento"><span class="submenu-label">Adicionar Pagamento</span></a></li>
                                            @*<li><a href="/Orcamento/Orcamentos"><span class="submenu-label">Formulas</span></a></li>*@
                                        </ul>
                                        @*<ul class="submenu third-level" style="">
        <li class="openable">
            <a href="#">
                <span class="submenu-label">Ajustes</span>
                <span class="badge badge-info bounceIn animation-delay1 pull-right">2</span>
            </a>
            <ul class="submenu">
                <li><a href="/Financeiro/Formulas"><span class="submenu-label">Formulas</span></a></li>
                <li><a href="/Financeiro/FormasDePagamento"><span class="submenu-label">Formas de pagamento</span></a></li>
            </ul>
        </li>
    </ul>              </li>
                }

                                
                                </ul>*@


                </div>
            </div>
        </aside>
        <div id="main-container">
            <div id="notificacao">
                @Html.AnaliseDeEmpresa()
            </div>

            <div class="modal fade" id="SMSPlataform">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Enviar SMS</h3>
                        </div>
                        <div class="modal-body">
                            <div class="alert" role="alert">
                                <strong>Dica!</strong> Tenha o costume de enviar os SMS via BuffetWeb, assim todas as respostas são apresentadas em um único lugar.
                            </div>
                            <div class="alert" role="alert" id="plataform_alert_sms" style="display:none"> </div>
                            @*@Html.BuffetCheck("Enviar e-mail via plataforma BuffetWeb", "plataform_internal", true)*@
                            <input type="hidden" id="plataform_telefone_sms" value="" />
                            <input type="hidden" id="plataform_nome_sms" value="" />
                            <label>Titulo</label>
                            <input type="text" class="form-control" id="plataform_titulo_sms" />
                            <label>Mensagem</label>
                            <textarea class="form-control" id="plataform_mensagem_sms" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="button" onclick="EnviarSMSPlataform(this)" class="btn btn-success" value="Enviar SMS" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="EmailPlataform">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Enviar E-mail</h3>
                        </div>
                        <div class="modal-body">
                            <div class="alert" role="alert">
                                <strong>Dica!</strong> Tenha o costume de enviar os emails via BuffetWeb, assim todas as respostas são apresentadas em um único lugar.
                            </div>
                            <div class="alert" role="alert" id="plataform_alert" style="display:none"> </div>
                            @*@Html.BuffetCheck("Enviar e-mail via plataforma BuffetWeb", "plataform_internal", true)*@
                            <input type="hidden" id="plataform_email" value="" />
                            <input type="hidden" id="plataform_nome" value="" />
                            <label>Titulo</label>
                            <input type="text" class="form-control" id="plataform_titulo" />
                            <label>Mensagem</label>
                            <textarea class="form-control" id="plataform_mensagem" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="button" onclick="EnviarEmailPlataform(this)" class="btn btn-success" value="Enviar E-mail" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="ModalMensagem" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-sm" style="margin-top: 16%;">
                    <div class="modal-content" style=" height: 150px; ">
                        <div class="modal-body">
                            <h2 class="text-center" id="tituloModal"> </h2>
                            <div class="text-center" id="mensagemModal"> </div>
                        </div>
                        <div class="loading-overlay active" style=" background: rgba(0,0,0,0);  margin-top: 30%; ">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg" style="  color: #4A4A4B; "></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding-md">
                @RenderBody()
            </div>
        </div>
    </div>
    <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

    @*<div class="custom-popup width-100" id="logoutConfirm">
            <div class="padding-md">
                <h4 class="m-top-none"> Do you want to logout?</h4>
            </div>
            <div class="text-center">
                <a class="btn btn-success m-right-sm" href="login.html">Logout</a>
                <a class="btn btn-danger logoutConfirm_close">Cancel</a>
            </div>
        </div>*@

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap -->
    <script src="~/Content/Administrador/bootstrap/js/bootstrap.min.js"></script>

    <!-- Full Calender -->
    <script src='~/Content/Administrador/js/fullcalendar.min.js'></script>

    <!-- Datatable -->
    <script src='~/Content/Administrador/js/jquery.dataTables.min.js'></script>

    <!-- Modernizr -->
    <script src='~/Content/Administrador/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/Content/Administrador/js/pace.min.js'></script>
    <!-- Coloque o JS no seu FOOTER, logo depois da jQuery -->
    @*<script type="text/javascript" src="http://assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>*@
    <script src="~/Content/Administrador/LocaWeb/javascripts/locastyle.js"></script>


    @*<script async="" src="//www.google-analytics.com/analytics.js"></script>*@
    @*<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>*@
    @*<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@
    <!-- Endless -->
    <script src="~/Content/Administrador/js/endless/endless.js"></script>

    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });

            $('#chk-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', true);
                        $(this).parent().parent().parent().addClass('selected');
                    });
                }
                else {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', false);
                        $(this).parent().parent().parent().removeClass('selected');
                    });
                }
            });
        });
    </script>
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
</body>
</html>
