﻿@using BuffetWeb.Helpers
@model BuffetDataManager.Models.EMPRESA
@{
    var social = "";
    var email = "";
    var pesquisa = "";
    var empresa = "";
    if (ViewBag.tab != null)
    {
        switch ((string)ViewBag.tab)
        {
            case "social": social = "active"; break;
            case "email": email = "active"; break;
            case "pesquisa": pesquisa = "active"; break;
            default: empresa = "active"; break;
        }
    }
    else
    {
        empresa = "active";
    }
}
<script src="~/Content/Buffet/Ajustes/Empresa.js"></script>

@*<div role="tabpanel"> 
    <div class="panel panel-default"> 
        <div class="panel-heading" id="tabHeading">
            Empresa
        </div>
        <div class="panel-body">
            @Html.AddMensagem((string)ViewBag.mensagem)
            <div class="row">
                <div class="col-md-2">
                    <img src="@Html.ArquivoLOGO()" width="200" height="150" />
                </div>
                <div class="10">
                    <div class="col-md-2">
                        <h4>@Model.nome</h4>
                    </div> 
                    <div class="col-md-2"> 
                        <h4>@Model.razao_social</h4>
                    </div>
                    <div class="col-md-2"> 
                        <h4>@Model.cnpj</h4>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>*@

<div role="tabpanel"> 
    <div class="panel panel-default">
        <div class="panel-body">  
            <ul class="nav nav-tabs" role="tablist"> 
                <li role="presentation" class="@empresa"><a href="#empresa" role="tab" data-toggle="tab">Empresa</a></li> 
                <li role="presentation" class="@social"><a href="#social" role="tab" data-toggle="tab">Redes Sociais</a></li> 
                <li role="presentation" class="@email" ><a href="#email" role="tab" data-toggle="tab">Email</a></li> 
                @if (Html.Modulos(Modulo.Convite))
                {
                    <li role="presentation" class="@pesquisa"><a href="#pesquisa" role="tab" data-toggle="tab">Pesquisa</a></li> 
                }
            </ul>
             
            <div class="tab-content">  
                <div role="tabpanel" class="tab-pane @empresa" id="empresa">
                    <div class="panel-body">
                        @Html.AddMensagem((string)ViewBag.mensagem)
                        <form action="/Ajustes/AtualizarEmpresa" method="post" enctype="multipart/form-data">
                            <div class="row col-md-12">
                                <div class="col-md-2">
                                    <img src="@Html.ArquivoLOGO()" id="logo_empresa" width="200" height="150" style="cursor:pointer" onclick="o('novo_logo').click()" @Html.Dica("bottom", "Clique caso queira selecionar outro Logotipo")/>
                                    <input style="display:none" type="file" name="novo_logo" id="novo_logo" onchange="arquivoSelecionado(this, 'logo_empresa')" />
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Nome Fantasia</label>
                                            <h4>@Model.nome</h4>
                                        </div>
                                        <div class="col-md-5">
                                            <label>Razão Social</label>
                                            <h4>@Model.razao_social</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <label>CNPJ</label>
                                            <h4>@Model.cnpj</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>CEP</label>
                                            <h4>@Model.ENDERECO.cep</h4>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Endereço</label>
                                            <h4>@string.Format("{0}, {1}", Model.ENDERECO.endereco1, Model.ENDERECO.numero)</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Bairro</label>
                                            <h4>@Model.ENDERECO.bairro</h4>
                                        </div>
                                        <div class="col-md-1">
                                            <label>Estado</label>
                                            <h4>@Model.ENDERECO.estado</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Cidade</label>
                                            <h4>@Model.ENDERECO.cidade</h4>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Responsavel</label>
                                            <input type="text" class="form-control" value="@Model.contato" name="contato" required />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Telefone Contato</label>
                                            <input type="text" class="form-control" value="@Model.telefone" name="telefone" required maxlength="13" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-####-####'); return DIOnlyNumber(this);" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Celular Contato</label>
                                            <input type="text" class="form-control" value="@Model.celular" name="celular" maxlength="13" pattern="^.{13,13}$|^.{12,12}$" onkeypress="DIMask(this, '##-####-####'); return DIOnlyNumber(this);" />
                                        </div>
                                        <div class="col-md-2" style=" margin-top: 20px; ">
                                            <input type="submit" class="btn btn-success btn-block" value="Atualizar" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                 
                <div role="tabpanel" class="tab-pane @email" id="email">
                    <div class="row">   
                        <form action="/Ajustes/SalvarEmail" method="post">
                            <div class="col-md-3">
                                <label>E-mail</label>
                                <input type="text" name="email" required value="@Model.EMPRESA_CONFIGURACAO.FirstOrDefault().email_login" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label>Senha</label>
                                <input type="password" name="senha" required value="@Model.EMPRESA_CONFIGURACAO.FirstOrDefault().email_senha" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label>SMTP</label>
                                <input type="text" name="smtp" value="@Model.EMPRESA_CONFIGURACAO.FirstOrDefault().email_host" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <label>Porta</label>
                                <input type="text" name="porta" required value="@Model.EMPRESA_CONFIGURACAO.FirstOrDefault().email_porta" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-success" style=" margin-top: 18px; " value="Salvar Configurações" />
                            </div> 
                        </form>
                    </div>
                </div>  
                @if (Html.Modulos(Modulo.Convite))
                {
                    <div role="tabpanel" class="tab-pane @pesquisa" id="pesquisa">
                    <div class="panel-body">
                        <div class="col-md-5 row">
                            <div class="form-group row">
                                @Html.BuffetCheck("Permitir envio da Pesquisa de satisfação automaticamente", "permitir_envio_automatico", (bool)Model.EMPRESA_CONFIGURACAO.FirstOrDefault().pesquisa_enviar_automaticamente, "AlterarEnvioPesquisaAutomatica(this)")
                            </div>

                            @if (Model.EMPRESA_CONFIGURACAO.FirstOrDefault().pesquisa_enviar_automaticamente == true)
                            {
                                <div class="row" style="display:block" id="envio_automatico">
                                    <label>Dias adicionais para enviar a pesquisa</label>
                                    <input type="number" class="form-control" onkeypress="DIOnlyNumber(this)" onchange="AlterarDias(this)" value="@Model.EMPRESA_CONFIGURACAO.FirstOrDefault().pesquisa_dias_apos_evento" />
                                </div>
                            }
                            else
                            {
                                <div class="row" style="display:none" id="envio_automatico">
                                    <label>Dias adicionais para enviar a pesquisa</label>
                                    <input type="number" onkeypress="DIOnlyNumber(this)" class="form-control" onchange="AlterarDias(this)" value="@Model.EMPRESA_CONFIGURACAO.FirstOrDefault().pesquisa_dias_apos_evento" />
                                </div>
                            }
                        </div> 
                    </div>
                </div>  
                }
            </div>
        </div>
    </div>
</div>