﻿@model BuffetWebManager.Models.Ajustes.HistoricoPagamento
@{
    ViewBag.Title = "HistoricoPagamento";
    var Historicos = Model.historicoPagamento;
}

<div class="row">
    @if (Model.pagamentoAtual != null)
    {
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="padding-md clearfix">
                    <h4>Histórico Selecionado</h4>
                    @if (Model.pagamentoAtual.Status == BuffetWebCielo.Pedido.TransacaoStatus.NaoAutorizada || Model.pagamentoAtual.Status == BuffetWebCielo.Pedido.TransacaoStatus.SemStatus)
                    {
                        <h1 class="text-center" style="color:red">
                            Pagamento não autorizado
                        </h1>
                    }
                    else
                    {
                        <h1 class="text-center" style="color:green">
                            Pagamento Efetuado com sucesso!
                        </h1>
                    }
                    <div class="form-group">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Forma de Pagamento</th>
                                        <th class="text-right">Valor</th>
                                    </tr>
                                </thead>
                                @foreach (var produto in Model.pagamentoAtual.Historico)
                                {
                                    <tr>
                                        <td>@produto.produto</td>
                                        <td>@produto.forma_pagamento</td>
                                        <td align="right">@string.Format("R$ {0}", produto.valor)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Histórico
                <span class="label label-info pull-right">@Historicos.Count Pagamentos</span>
            </div>
            <div class="padding-md clearfix">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var historico in Historicos.Select((item, i) => new { i, item }).ToList())
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" style=" height: 40px; ">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@historico.i" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="pull-left">
                                            @string.Format("{0} - {1}", historico.item.Historico.FirstOrDefault().autenticacao_interna, historico.item.Historico.FirstOrDefault().comprado_em.ToShortDateString())
                                        </span>
                                        <span class="pull-right">
                                            @if (historico.item.Status == BuffetWebCielo.Pedido.TransacaoStatus.Autorizada)
                                            {
                                                <label class="label label-success">@historico.item.StatusDescricao</label>
                                            }
                                            else
                                            {
                                                <label class="label label-danger">@historico.item.StatusDescricao</label>
                                            }
                                        </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="@historico.i" class="panel-collapse collapse @string.Format("{0}", historico.i == 0 ? "in" : "")" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Forma de Pagamento</th>
                                                <th class="text-right">Valor</th>
                                            </tr>
                                        </thead>
                                        @foreach (var produto in historico.item.Historico)
                                        {
                                            <tr>
                                                <td>@produto.produto</td>
                                                <td>@produto.forma_pagamento</td>
                                                <td align="right">@string.Format("R$ {0}", produto.valor)</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
