﻿@using BuffetWeb.Helpers
@using Newtonsoft.Json

@model ICollection<BuffetDataManager.Models.LOCAL_EVENTO>
@{
    ViewBag.Title = "LocalEvento";
    var hasModuloPortal = Html.Modulos(Modulo.Portal);

    string[] plataformas = new string[] { "Facebook", "Twitter", "YouTube", "Skype", "Pinterest", "Instagram", "GooglePlus" };
}

<script src="~/Content/Script/Buffet/Ajustes/LocalEvento.js"></script>

<div class="modal fade" id="removerImagem">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Remover Imagem</h3>
            </div>
            <div class="modal-footer">
                <input type="button" id="idImagem" class="btn btn-danger btn-block" onclick="RemoverImagem(this)" data-dismiss="modal" data-sequencia="" value="Sim" />
                <input type="button" class="btn btn-success btn-block" data-dismiss="modal" value="Cancelar" />
            </div>
        </div>
    </div>
</div>

<form action="/Ajustes/SalvarLocalEvento" method="post" id="form_local" enctype="multipart/form-data">

    <div class="modal fade" id="horarios">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Horários</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Inicio almoço</label>
                            <input type="time" name="horario_inicio_almoco" id="horario_inicio_almoco" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Término almoço</label>
                            <input type="time" name="horario_fim_almoco" id="horario_fim_almoco" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Inicio Jantar</label>
                            <input type="time" name="horario_inicio_jantar" id="horario_inicio_jantar" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Término Jantar</label>
                            <input type="time" name="horario_fim_jantar" id="horario_fim_jantar" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success btn-block" data-dismiss="modal" value="Confirmar" />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Local do Evento
        </div>
        <div class="panel-body">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#localEvento" aria-controls="home" role="tab" data-toggle="tab">Local do Evento</a></li>
                    <li role="presentation"><a href="#imagens" aria-controls="home" role="tab" data-toggle="tab">Imagens</a></li> 
                    <li role="presentation"><a href="#social" aria-controls="home" role="tab" data-toggle="tab">Social</a></li> 
                </ul>
                 
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="localEvento">
                        <input type="hidden" name="id" id="id" value="" />
                        <input type="hidden" name="autenticacao" id="autenticacao" value="" />
                        <input type="hidden" name="ENDERECO.id" id="ENDERECOid" value="" /> 
                        <div class="panel-body">
                            @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso) 
                            <div class="row">
                                    <div class="col-md-6">
                                        <label>Nome do Local</label>
                                        <input type="text" name="nome" id="nome" class="form-control" required maxlength="25">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Telefone</label>
                                        <input type="text" name="telefone" id="telefone" class="form-control" onkeypress="DIMask('##-#####-####'); return DIOnlyNumber(this);" required maxlength="15">
                                    </div> 

                                    <div class="col-md-2">
                                        <label>Idade Máxima</label>
                                        <input @Html.Dica("top", "Idade máxima para convidado pagantes") type="number" min="0" name="idade_minima_pagante" id="idade_minima_pagante" class="form-control" onkeypress="return DIOnlyNumber(this);" required maxlength="2">
                                    </div>

                                    <div class="col-md-2" style=" margin-top: 21px; ">
                                        <input type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#horarios" value="Horários" />
                                    </div> 
                                    <div class="col-md-7" @Html.Dica("top", "Defina as melhores palavras chaves que seu espaço tem, ex: Brinquedos; Brindes grátis etc! ( Separe as palavras chaves por ponto e virgula )")>
                                        <label>Palavra Chave</label>
                                        <input type="text" class="tagsinput" name="palavras_chaves" id="palavras_chaves" /> 
                                    </div>
                                    <div class="col-md-5">
                                        <label>Vídeo</label>
                                        <input type="text" class="form-control" name="video" id="video" value="" />
                                    </div> 
                                    <div class="col-md-12">
                                        <label>Descrição</label>
                                        <textarea name="descricao" id="descricao" rows="2" class="form-control"></textarea>
                                    </div> 
                                    <div class="col-md-12">
                                        <p>Você pode utilizar tags e atributos <abbr title="HyperText Markup Language">HTML</abbr>:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></p>
                                    </div>
                                </div>
                                    @*<div class="col-md-6">
                                <label>Capacidade</label>
                                <input type="text" name="capacidade" id="capacidade" class="form-control" onkeypress="return DIOnlyNumber(this);" required maxlength="4">
                            </div>

                            <div class="col-md-4">
                                <label>Cobrar Por</label>
                                <input type="hidden" name="porEspaco" id="porEspaco" value="false" />
                                <button class="btn btn-success dropdown-toggle col-md-12" data-toggle="dropdown">
                                    <span id="espaco_Desc"> Espaço </span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(o)" onclick="CobrarPor(this, true)">Espaço</a></li>
                                    <li><a href="javascript:void(o)" onclick="CobrarPor(this, false)">Pessoas</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4" id="valor_minimo" style="display:none">
                                <label id="valor_minimo_desc">Valor min. do Espaço</label>
                                <input type="text" name="valor_minimo" id="valor_minimo_text" onkeypress="DIOnlyNumber(this)" class="form-control">
                            </div>
                            <div class="col-md-4" id="valor_espaco">
                                <label id="desc_valor">Valor Espaço</label>
                                <input type="text" name="valor" id="valor" required class="form-control" onkeypress="DIOnlyNumber(this)">
                            </div>*@
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>CEP</label>
                                        <input type="text" name="ENDERECO.cep" id="cep" onkeypress="DIOnlyNumber(this); DIMask(this, '#####-###'); BuscarCEP(this)" class="form-control" required maxlength="9">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Endereco</label>
                                        <input type="text" name="ENDERECO.endereco1" id="endereco" class="form-control" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Região</label>
                                        <select class="form-control" name="regiao" id="regiao" required>
                                            <option value="">Selecionar</option>
                                            <option value="Zona Sul">Zona Sul</option>
                                            <option value="Zona Leste">Zona Leste</option>
                                            <option value="Zona Oeste">Zona Oeste</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Número</label>
                                        <input type="text" name="ENDERECO.numero" id="numero" class="form-control" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Bairro</label>
                                        <input type="text" name="ENDERECO.bairro" id="bairro" class="form-control" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Cidade</label>
                                        @Html.Cidade("ENDERECO.cidade")
                                    </div>
                                    <div class="col-md-2">
                                        <label>Estado</label>
                                        @Html.Estados("ENDERECO.estado")
                                    </div>
                                    <div class="col-md-12">
                                        <label>Complemento</label>
                                        <textarea name="ENDERECO.complemento" id="ENDERECO.complemento" rows="5" class="form-control"></textarea>
                                    </div> 
                                </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="imagens">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @{
                                    int sequencia = 0;
                                    for (int i = 0; i < 3; i++)
                                    {
                                        <div class="row" style=" margin-bottom: 15px; ">
                                            @for (int x = 0; x < 4; x++, sequencia++)
                                            {
                                                <div class="col-md-3">
                                                    <span style=" display: none; cursor: pointer; position: absolute; margin-left: 70%; margin-top: -6%; " id="@string.Format("excluir_{0}", sequencia)" data-toggle="modal" data-target="#removerImagem" onclick="PerguntaRemover(this, @sequencia)">
                                                        <img style="width: 200px; height: 160px;" src="~/Content/Buffet/Orcamento/Imagens/icone_excluir.png" />
                                                    </span>
                                                    @Html.SelecionarImagem(string.Format("imagem_{0}", sequencia), string.Format("[{0}].imagens", sequencia), "ImagemSelecionada", 160, 200)
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="social">
                        <div class="panel-body"> 
                            <div class="row col-md-12" >
                                @foreach (var social in plataformas)
                                {
                                    <div class="col-md-1">
                                        <img style=" width: 104px; " src="@string.Format("http://www.buffetweb.com/Sites/Arquivos/Sistema/Social/{0}.png", social)" width="50" />
                                    </div> 
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Salvar" id="salvar" class="btn btn-success" />
            <div class="pull-right">
                <input type="button" style="display:none" id="cancelarEdicao" class="btn btn-default" value="Cancelar Edição" onclick="LimparEditar(this)" />
            </div>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Locais de Evento
                <span class="label label-info pull-right">@Model.Count Locais</span>
            </div>
            <div class="padding-md clearfix">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Capacidade</th>
                            <th>Endereço</th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    @foreach (var l in Model)
                    {
                        <tr>
                            <td>@l.nome</td>
                            <td>@l.capacidade</td>
                            <td>@l.ENDERECO.endereco1</td>
                            <td>
                                <a href="javascript:void(o)" onclick="EditarLocalEvento(this, '@l.id')">
                                    <img width="40" src="/Content/Buffet/Orcamento/Imagens/icone_editar.png">
                                </a>
                            </td>
                        </tr>
                    }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div> 