﻿@model BuffetWebManager.Models.Pacotes.Pacotes

<script src="~/Content/Buffet/Script/Pacotes/PacoteAtual.js"></script>


<div class="modal fade bs-example-modal-lg" id="itens_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">Ingrediente </h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" class="img-thumbnail" id="imagem_item" />
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h5>Nome</h5>
                            <h3 id="nome_item"></h3>
                        </div>
                        <div class="col-md-12">
                            <h5>Descrição</h5>
                            <h3 id="descricao_item"></h3>
                        </div>
                        <div class="col-md-3">
                            <h5>Valor Compra</h5>
                            <h3 id="valorvenda_item"></h3>
                        </div>
                        <div class="col-md-3">
                            <h5>Valor Venda</h5>
                            <h3 id="valorcompra_item"></h3>
                        </div>
                        <div class="col-md-3">
                            <h5>Rendimento</h5>
                            <h3 id="rendimento_item"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="servico_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">Serviço </h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" id="imagem_servico" />
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h5>Nome</h5>
                            <h5 id="nome_servico"></h5>
                        </div> 
                        <div class="col-md-12">
                            <h5>Descrição</h5>
                            <h3 id="descricao_servico"></h3>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Compra</label>
                            <h5 id="valorvenda_servico"></h5>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Venda</label>
                            <h5 id="valorcompra_servico"></h5>
                        </div>
                        <div class="col-md-3">
                            <label>Descrição</label>
                            <h5 id="descricao_servico"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="diversos_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">Diversos </h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" id="imagem_diversos" />
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h5>Nome</h5>
                            <h3 id="nome_diversos"></h3>
                        </div>
                        <div class="col-md-12">
                            <h5> Descrição</h5>
                            <h3 id="descricao_diversos"></h3>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Compra</label>
                            <h5 id="valorvenda_diversos"></h5>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Venda</label>
                            <h5 id="valorcompra_diversos"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="aluguel_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">Aluguel </h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" id="imagem_aluguel" />
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h5>Nome</h5>
                            <h3 id="nome_aluguel"></h3>
                        </div>
                        <div class="col-md-12">
                            <h5>Descrição</h5>
                            <h3 id="descricao_aluguel"></h3>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Compra</label>
                            <h5 id="valorvenda_aluguel"></h5>
                        </div>
                        <div class="col-md-3">
                            <label>Valor Venda</label>
                            <h5 id="valorcompra_aluguel"></h5>
                        </div>
                        <div class="col-md-3">
                            <label>Descrição</label>
                            <h5 id="descricao_aluguel"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@if (Html.Permissoes(Permitir.Criar, Conteudo.Pacotes))
{
    <form action="/Pacotes/SalvarPacote" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Novo Cardapio</div>
                    <div class="panel-body">
                        @Html.AddMensagem((string)ViewBag.mensagem, MensagemDe.Sucesso)
                        <div class="col-md-2">
                            @Html.SelecionarImagem("image_pacote", "image", 200, 200)
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-3">
                                <label>Status</label>
                                <input type="hidden" name="status" id="status" value="true" />
                                <button class="btn btn-success dropdown-toggle col-md-12" data-toggle="dropdown">
                                    <span id="status_desc"> Ativo </span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(o)" onclick="Status(this, true)">Ativo</a></li>
                                    <li><a href="javascript:void(o)" onclick="Status(this, false)">Inativo</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <label>Nome</label>
                                <input class="form-control" type="text" required name="nome" />
                            </div>
                            <div class="col-md-3">
                                <label>Mostrar Valor</label>
                                <input type="hidden" name="mostrar_valor" id="mostrar_valor" value="false" />
                                <button class="btn btn-success dropdown-toggle col-md-12" data-toggle="dropdown">
                                    <span id="mostrar_valor_desc"> Selecione ( Não ) </span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(o)" onclick="MostrarValor(this, true)">Sim</a></li>
                                    <li><a href="javascript:void(o)" onclick="MostrarValor(this, false)">Não</a></li>
                                </ul>
                            </div>
                            <div class="col-md-7">
                                <label>Descrição</label>
                                <textarea class="form-control" name="descricao" rows="4"></textarea>
                            </div>
                            <div class="col-md-5">
                                <input type="hidden" name="de_epoca" id="de_epoca" value="false">
                                <label>Pacote de Época?</label>
                                <button class="btn btn-success dropdown-toggle col-md-12" data-toggle="dropdown">
                                    <span id="de_epoca_desc"> Selecione ( Não )</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(o)" onclick="PacoteDeEpoca(this, true)">Sim</a></li>
                                    <li><a href="javascript:void(o)" onclick="PacoteDeEpoca(this, false)">Não</a></li>
                                </ul>
                                <div id="de_epoca_div" class="row" style="display: none">
                                    <div class="col-md-6">
                                        <label id="evento_de_label" style="display: block;">Disponível de</label>
                                        <input class="form-control" type="date" id="evento_de" name="evento_de" style="display: block;">
                                    </div>
                                    <div class="col-md-6">
                                        <label id="evento_ate_label" style="display: block;">Disponível Até</label>
                                        <input class="form-control" type="date" id="evento_ate" name="evento_ate" style="display: block;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input class="btn btn-success" type="submit" value="Confirmar" />
                    </div>
                </div>

                @for (int i = 0; i < Model.categoria.Count; i++)
                {
                    if (Model.itens_cardapio.Where(c => c.id_categoria == Model.categoria.ElementAt(i).id).ToList().Count != 0)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input type="hidden" name="@string.Format("[{0}].categoria", i)" value="@Model.categoria.ElementAt(i).id">
                                @Model.categoria.ElementAt(i).nome
                                <ul class="tool-bar">
                                    <li>
                                        <input type="hidden" name="@string.Format("[{0}].editavel", i)" value="false" id="@string.Format("{0}editavel", i)">
                                        <input type="hidden" name="@string.Format("[{0}].max_itens", i)" value="0" id="@string.Format("{0}max_itens", i)">
                                        <div class="btn-group pull-right col-md-12" style=" margin-top: -3px; ">
                                            <button class="btn btn-xs btn-success dropdown-toggle  col-md-12" data-toggle="dropdown" style=" height: 35px; ">
                                                <div id="@string.Format("{0}max_itens_desc", i)">Editavel? ( Não )</div><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a onclick="Editavel(this, false, '@string.Format("{0}max_itens", i)', '@string.Format("{0}editavel", i)', '1')">        Não        </a>
                                                </li>
                                                @for (int f = 1; f < Model.itens_cardapio.Where(c => c.id_categoria == Model.categoria.ElementAt(i).id).ToList().Count + 1; f++)
                                                {
                                                    <li><a onclick="Editavel(this, true, '@string.Format("{0}max_itens", i)', '@string.Format("{0}editavel", i)', '@f')">@string.Format("Editavel até {0} {1}", f, f == 1 ? "Item" : "Itens")</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#@Model.categoria.ElementAt(i).nome" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body collapse" id="@Model.categoria.ElementAt(i).nome">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th />
                                            <th>Nome</th>
                                            @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                            {
                                                <th>Valor Custo</th>
                                            }
                                            <th>Valor Venda</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @for (int x = 0; x < Model.itens_cardapio.Where(c => c.id_categoria == Model.categoria.ElementAt(i).id).ToList().Count; x++)
                                    {
                                        <tr>
                                            <td>
                                                <label class="label-checkbox">
                                                    <input type="hidden" name="@string.Format("[{0}].[{1}].isSelect", i, x)" id="@string.Format("{0}{1}isSelect", i, x)" value="false" />
                                                    <input type="hidden" name="@string.Format("[{0}].[{1}].id_cardapio", i, x)" value="@Model.itens_cardapio.ElementAt(x).id" />
                                                    <input type="checkbox" onclick="Selecionar(this,'@string.Format("{0}{1}isSelect", i, x)')" class="chk-row">
                                                    <span class="custom-checkbox"></span>
                                                </label>
                                            </td>
                                            <td>@Model.itens_cardapio.ElementAt(x).nome</td>
                                            @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                            {
                                                <td>@Model.itens_cardapio.ElementAt(x).valor_compra</td>
                                            }
                                            <td>@Model.itens_cardapio.ElementAt(x).valor_venda</td>
                                            <td><input type="button" onclick="DetalheItem(this, '@Model.itens_cardapio.ElementAt(x).nome','@Model.itens_cardapio.ElementAt(x).descricao','@Model.itens_cardapio.ElementAt(x).rendimento','@Model.itens_cardapio.ElementAt(x).valor_venda','@Model.itens_cardapio.ElementAt(x).valor_compra')" value="Detalhes" class="btn btn-success btn-xs pull-right" /></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Itens de Aluguel
                        <ul class="tool-bar">
                            <li>
                                <div class="btn-group pull-right col-md-12" style=" margin-top: -3px; ">
                                    <input type="hidden" name="editavel_aluguel" id="editavel_aluguel" value="false" />
                                    <input type="hidden" name="max_aluguel" id="max_aluguel" value="1" />

                                    <button class="btn btn-xs btn-success dropdown-toggle  col-md-12" data-toggle="dropdown" style=" height: 35px; ">
                                        <div id="max_aluguel_desc">Editavel? ( Não )</div><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a onclick="Editavel(this, false, 'max_aluguel', 'editavel_aluguel', '1')">        Não        </a>
                                        </li>
                                        @for (int i = 1; i < Model.itens_aluguel.Count + 1; i++)
                                        {
                                            <li><a onclick="Editavel(this, true, 'max_aluguel', 'editavel_aluguel', '@i')">@string.Format("Editavel até {0} {1}", i, i == 1 ? "Item" : "Itens")</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#itensAluguel" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                        </ul>
                    </div>

                    <div class="panel-body collapse" id="itensAluguel">
                        <table class="table table-borderless">
                            <tr>
                                <td></td>
                                <td>Nome</td>
                                <td>Descrição</td>
                                <td>Brinde</td>
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                {
                                    <td>Valor Custo</td>
                                }
                                <td>Valor Venda</td>
                                <td></td>
                            </tr>
                            @for (int i = 0; i != Model.itens_aluguel.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label class="label-checkbox">
                                            <input type="hidden" name="@string.Format("[{0}].isSelectAluguel", i)" id="@string.Format("{0}isSelectAluguel", i)" value="false" />
                                            <input type="hidden" name="@string.Format("[{0}].id_aluguel", i)" value="@Model.itens_aluguel.ElementAt(i).id" />
                                            <input type="checkbox" onclick="Selecionar(this,'@string.Format("{0}isSelectAluguel", i)')" class="chk-row">
                                            <span class="custom-checkbox"></span>
                                        </label>
                                    </td>
                                    <td>@Model.itens_aluguel.ElementAt(i).nome</td>
                                    <td>@Model.itens_aluguel.ElementAt(i).descricao</td>
                                    <td>@string.Format("{0}", Model.itens_aluguel.ElementAt(i).brinde ? "Sim" : "Não")</td>
                                    @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                    {
                                        <td>@Model.itens_aluguel.ElementAt(i).valor_custo</td>
                                    }
                                    <td>@Model.itens_aluguel.ElementAt(i).valor_venda</td>
                                    <td><input type="button" onclick="DetalheAluguel(this, '@Model.itens_aluguel.ElementAt(i).nome', '@Model.itens_aluguel.ElementAt(i).descricao', '@Model.itens_aluguel.ElementAt(i).valor_venda', '@Model.itens_aluguel.ElementAt(i).valor_custo')" value="Detalhes" class="btn btn-success btn-xs pull-right" /></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Itens de Serviço
                        <ul class="tool-bar">
                            <li>
                                <div class="btn-group pull-right col-md-12" style=" margin-top: -3px; ">
                                    <input type="hidden" name="editavel_servicos" id="editavel_servicos" value="false" />
                                    <input type="hidden" name="max_servicos" id="max_servicos" value="1" />

                                    <button class="btn btn-xs btn-success dropdown-toggle  col-md-12" data-toggle="dropdown" style=" height: 35px; ">
                                        <div id="max_servicos_desc">Editavel? ( Não )</div><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a onclick="Editavel(this, false, 'max_servicos', 'editavel_servicos', '1')">        Não        </a>
                                        </li>
                                        @for (int i = 1; i < Model.itens_servico.Count + 1; i++)
                                        {
                                            <li><a onclick="Editavel(this, true, 'max_servicos', 'editavel_servicos', '@i')">@string.Format("Editavel até {0} {1}", i, i == 1 ? "Item" : "Itens")</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#itensServico" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                        </ul>
                    </div>

                    <div class="panel-body collapse" id="itensServico">
                        <table class="table table-borderless">
                            <tr>
                                <td></td>
                                <td>Nome</td>
                                <td>Descrição</td>
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                {
                                    <td>Valor Custo</td>
                                }
                                <td>Valor Venda</td>
                                <td></td>
                            </tr>
                            @for (int i = 0; i != Model.itens_servico.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label class="label-checkbox">
                                            <label class="label-checkbox">
                                                <input type="hidden" name="@string.Format("[{0}].isSelectServico", i)" id="@string.Format("{0}isSelectServico", i)" value="false" />
                                                <input type="hidden" name="@string.Format("[{0}].id_servico", i)" value="@Model.itens_servico.ElementAt(i).id" />
                                                <input type="checkbox" onclick="Selecionar(this,'@string.Format("{0}isSelectServico", i)')" class="chk-row">
                                                <span class="custom-checkbox"></span>
                                            </label>
                                        </label>
                                    </td>
                                    <td>@Model.itens_servico.ElementAt(i).nome</td>
                                    <td>@Model.itens_servico.ElementAt(i).descricao</td>
                                    @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                    {
                                        <td>@Model.itens_servico.ElementAt(i).valor_custo</td>
                                    }
                                    <td>@Model.itens_servico.ElementAt(i).valor_venda</td>
                                    <td><input type="button" onclick="DetalheServico(this, '@Model.itens_servico.ElementAt(i).nome', '@Model.itens_servico.ElementAt(i).descricao', '@Model.itens_servico.ElementAt(i).valor_venda', '@Model.itens_servico.ElementAt(i).valor_custo')" value=" detalhes" class="btn btn-success btn-xs pull-right" /></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Itens Diversos
                        <ul class="tool-bar">
                            <li>
                                <div class="btn-group pull-right col-md-12" style=" margin-top: -3px; ">
                                    <input type="hidden" name="editavel_diversos" id="editavel_diversos" value="false" />
                                    <input type="hidden" name="max_diversos" id="max_diversos" value="1" />

                                    <button class="btn btn-xs btn-success dropdown-toggle  col-md-12" data-toggle="dropdown" style=" height: 35px; ">
                                        <div id="max_diversos_desc">Editavel? ( Não )</div><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a onclick="Editavel(this, false, 'max_diversos', 'editavel_diversos', '1')">        Não        </a>
                                        </li>
                                        @for (int i = 1; i < Model.itens_diversos.Count + 1; i++)
                                        {
                                            <li><a onclick="Editavel(this, true, 'max_diversos', 'editavel_diversos', '@i')">@string.Format("Editavel até {0} {1}", i, i == 1 ? "Item" : "Itens")</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#itensDiversos" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                        </ul>
                    </div>

                    <div class="panel-body collapse" id="itensDiversos">
                        <table class="table table-borderless">
                            <tr>
                                <td></td>
                                <td>Nome</td>
                                <td>Descrição</td>
                                @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                {
                                    <td>Valor Custo</td>
                                }
                                <td>Valor Venda</td>
                                <td></td>
                            </tr>
                            @for (int i = 0; i != Model.itens_diversos.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <label class="label-checkbox">
                                            <label class="label-checkbox">
                                                <input type="hidden" name="@string.Format("[{0}].isSelectDiversos", i)" id="@string.Format("{0}isSelectDiversos", i)" value="false" />
                                                <input type="hidden" name="@string.Format("[{0}].id_diversos", i)" value="@Model.itens_diversos.ElementAt(i).id" />
                                                <input type="checkbox" onclick="Selecionar(this,'@string.Format("{0}isSelectDiversos", i)')" class="chk-row">
                                                <span class="custom-checkbox"></span>
                                            </label>
                                        </label>
                                    </td>
                                    <td>@Model.itens_diversos.ElementAt(i).nome</td>
                                    <td>@Model.itens_diversos.ElementAt(i).descricao</td>
                                    @if (Html.Permissoes(Permitir.Visualizar, Conteudo.Financeiro))
                                    {
                                        <td>@Model.itens_diversos.ElementAt(i).valor_custo</td>
                                    }
                                    <td>@Model.itens_diversos.ElementAt(i).valor_venda</td>
                                    <td><input type="button" onclick="DetalheDiversos(this, '@Model.itens_diversos.ElementAt(i).nome', '@Model.itens_diversos.ElementAt(i).descricao', '@Model.itens_diversos.ElementAt(i).valor_venda', '@Model.itens_diversos.ElementAt(i).valor_custo')" value="Detalhes" class="btn btn-success btn-xs pull-right" /></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@if (Model.pacotes.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    Pacotes
                    <span class="label label-info pull-right">@Model.pacotes.Count Pacotes</span>
                </div>
                <div class="padding-md clearfix">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data criação</th>
                                <th>De epoca</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var pacote in Model.pacotes)
                        {
                            <tr>
                                <td>@pacote.nome</td>
                                <td>@pacote.data_criacao.ToShortDateString()</td>
                                @if (pacote.de_epoca)
                                {
                                    <td>
                                        @string.Format("SIM - {0} - {1}", pacote.de.ToString().Replace("00:00:00", ""), pacote.ate.ToString().Replace("00:00:00", ""))
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @string.Format("NÃO")
                                    </td>
                                }
                                <td>
                                    @string.Format("{0}", pacote.status == true ? "Ativo" : "Inativo")
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Opções<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="@string.Format("/Pacotes/DetalhesPacote?id={0}", pacote.id)">Ver Detalhes</a></li>
                                            <li>
                                                @if (pacote.status == false)
                                                {
                                                    <a href="@string.Format("/Pacotes/AlterarStatus?id={0}&status=ATIVAR", pacote.id)">Ativar</a>
                                                }
                                                else
                                                {
                                                    <a href="@string.Format("/Pacotes/AlterarStatus?id={0}&status=DESATIVAR", pacote.id)">Desativar</a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
