﻿@model BuffetWebManager.Models.Galeria.PaginaInicial
@{
    ViewBag.Title = "Galeria Inicial";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nova Galeria
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Fotos para o evento</label>
                    <select class="form-control">
                        <option value="">Selecione</option>
                        @foreach (var evento in Model.tipo_eventos)
                        {
                            <option value="@evento.id">@evento.nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Local do Evento</label>
                    <select class="form-control">
                        <option value="">Selecione</option>
                        @foreach (var evento in Model.local_eventos)
                        {
                            <option value="@evento.id">@evento.nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Nome da Galeria</label>
                    <input type="text" name="name" class="form-control" />
                </div>
            </div>
            <div class="">

            </div>
        </div>
    </div>
</div> 