﻿@model BuffetDataShared.Model.Imagens.ImagensEventos
@{
    ViewBag.Title = "Imagens Eventos";
}

<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

@if (Html.Permissoes(Permitir.Criar, Conteudo.Galeria))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nova Galeria de Evento
                </div>
                <form action="/Imagens/SalvarGaleriaEvento" method="post">
                    <div class="panel-body">
                        @{
                            string mensagem = ViewBag.mensagem;
                            @Html.AddMensagem(mensagem, MensagemDe.Sucesso)
                        }
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Fotos para o evento</label>
                                <select class="form-control" required name="id_evento">
                                    <option value="">Selecione</option>
                                    @foreach (var evento in Model.tipo_eventos)
                                    {
                                        <option value="@evento.id">@evento.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Local do Evento</label>
                                <select class="form-control" required name="id_local_evento">
                                    <option value="">Selecione</option>
                                    @foreach (var evento in Model.local_eventos)
                                    {
                                        <option value="@evento.id">@evento.nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Nome da Galeria</label>
                                <input type="text" name="nome" required class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" name="name" class="btn btn-success" value="Criar Galeria" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@*@foreach (var evento in Model.tipo_eventos)
{
    if (Model.imagens_galeria_eventos.Where(e => e.id_evento == evento.id).ToList().Count != 0)
    {
        bool ativo = true;
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @evento.nome
                        <ul class="tool-bar">
                            <li><a href="#@evento.nome.Replace(" ", "")" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body no-padding collapse" id="@evento.nome.Replace(" ", "")">
                        <div class="tab-left">
                            <ul class="tab-bar">
                                @{bool at = true;}
                                @foreach (var galerias in Model.imagens_galeria_eventos.Where(e => e.id_evento == evento.id).ToList())
                                {
                                    <li class="@string.Format("{0}", at ? "active" : "")">
                                        <a href="#@galerias.nome.Replace(" ", "")" data-toggle="tab">
                                            @galerias.nome
                                        </a>
                                    </li>
                                    at = false;
                                }
                            </ul>
                            <div class="tab-content">
                                @foreach (var galerias in Model.imagens_galeria_eventos.Where(e => e.id_evento == evento.id).ToList())
                                {
                                    <div class="tab-pane @string.Format("{0}", ativo ? "active" : "")" id="@galerias.nome.Replace(" ", "")">
                                        @if (galerias.IMAGENS_DOS_EVENTOS.Count != 0)
                                        {
                                            foreach (var imagens in galerias.IMAGENS_DOS_EVENTOS)
                                            {
                                                <div class="col-md-3">
                                                    <img src="@imagens.url" alt="@imagens.nome" class="img-thumbnail" width="200" height="200" />
                                                </div>
                                            }
                                            <div class="form-group col-md-3">
                                                <a href="#" onclick="addImagem(this)">
                                                    <img src="http://managementscience.biz/wp-content/uploads/2014/11/plus-sign-icon-gray.png" alt="+" width="200" height="200" class="img-thumbnail" />
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="@string.Format("galeria{0}", galerias.nome)">
                                                <div id="@string.Format("{0}image1", @galerias.nome)">
                                                    <input type='file' onchange="readURL(this, '@string.Format("{0}image1", @galerias.nome)' , @galerias.nome)" />
                                                    <img id="@string.Format("{0}image1", @galerias.nome)" src="#" width="200" class="img-thumbnail" />
                                                </div>


                                            </div>
                                        }
                                    </div>
                                        ativo = false;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}*@