﻿@{
    var AnuncioDestaque = Html.GetAnuncianteDestaque();
    var AnuncioHeader = Html.GetAnuncianteHeader();
    var AnuncioHome = Html.GetAnuncianteHOME();
}

<section id="jm-header" class="">
    <div class="container-fluid">
        <div id="jm-header-in" class="row-fluid">
            <div id="jm-header-content" class="span9">
                <div class="jm-module search-ms">
                    <div class="jm-module-in">
                        <div class="jm-module-content clearfix notitle">
                            <div id="mod_djcf_search211" class="dj_cf_search dj_cf_search_horizontal">
                                <form action="/Portal/Buscar" method="get">
                                    <div class="search_word djcf_se_row">
                                        <input type="text" name="BuscarPor" class="inputbox first_input" placeholder="Pesquise algo que deseja em sua festa!" />
                                    </div>
                                    <div class="search_buttons">
                                        <button type="submit" class="button btn">
                                            Buscar
                                        </button>
                                    </div>
                                </form>
                                <div style="clear:both"></div>
                            </div>
                            <script type="text/javascript">
                                window.addEvent('domready', function () {
                                    djcfmodSearchPlaces211();
                                });

                                function djcfmodSearchPlaces211() {
                                    var input = (document.getElementById('se_address211'));
                                    var autocomplete = new google.maps.places.SearchBox(input);
                                    var infowindow = new google.maps.InfoWindow();
                                    var last_place = '';
                                    google.maps.event.addListener(autocomplete, 'places_changed', function () {
                                        /*	var place = autocomplete.getPlaces()[0]; //to get first on enter
                                            if (!place.geometry) {
                                                return;
                                            }

                                            if (place.geometry.viewport) {
                                              djmod_map< ?php echo $module->id;?>.fitBounds(place.geometry.viewport);
                                            } else {
                                              djmod_map< ?php echo $module->id;?>.setCenter(place.geometry.location);
                                            }
                                            */

                                    });


                                    // dojo.connect(input, 'onkeydown', function(e) {
                                    google.maps.event.addDomListener(input, 'keydown', function (e) {
                                        if (e.keyCode == 13) {
                                            if (e.preventDefault) {
                                                e.preventDefault();
                                            }
                                            else {
                                                // Since the google event handler framework does not handle early IE versions, we have to do it by our self. :-(
                                                e.cancelBubble = true;
                                                e.returnValue = false;
                                            }
                                        }
                                    });

                                }</script>
                        </div>
                    </div>
                </div>

                <div class="jm-module  slider1-ms">
                    <div class="jm-module-in">
                        <div class="jm-module-content clearfix notitle">
                            <div style="border: 0px !important;">
                                <div id="dj-tabber15m243" class="dj-tabber">
                                    <div class="dj-tabber-in dj-tabs-right">
                                        <div class="dj-slides">
                                            <div class="dj-slide">
                                                <div class="dj-slide-in">
                                                    <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/furniture/ad/modern-sofa,38" target="_self">
                                                        <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/components/com_djmediatools/assets/images/blank.gif" data-src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-38_sofa.jpg" data-srcset="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-38_sofa.jpg 341w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_320w/510x341-toheight-100-38_sofa.jpg 320w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_240w/510x341-toheight-100-38_sofa.jpg 240w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_160w/510x341-toheight-100-38_sofa.jpg 160w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_120w/510x341-toheight-100-38_sofa.jpg 120w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_80w/510x341-toheight-100-38_sofa.jpg 80w" data-sizes="38vw" alt="Modern Sofa" class="dj-image" width="341" height="341" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dj-slide-desc">
                                                <div class="dj-slide-desc-in">
                                                    <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                        <div class="dj-extra">
                                                            <div class="price">
                                                                <span class='price_unit'>$</span>390
                                                            </div>
                                                        </div><div class="dj-slide-title">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/furniture/ad/modern-sofa,38" target="_self">Modern Sofa</a>
                                                        </div><div style="clear: both"></div><div class="dj-readmore-wrapper">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/furniture/ad/modern-sofa,38" class="dj-readmore" target="_self">Check Offer</a>
                                                        </div><div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dj-slide">
                                                <div class="dj-slide-in">
                                                    <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/single-ad-view" target="_self">
                                                        <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/components/com_djmediatools/assets/images/blank.gif" data-src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-37_bed.jpg" data-srcset="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-37_bed.jpg 341w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_320w/510x341-toheight-100-37_bed.jpg 320w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_240w/510x341-toheight-100-37_bed.jpg 240w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_160w/510x341-toheight-100-37_bed.jpg 160w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_120w/510x341-toheight-100-37_bed.jpg 120w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_80w/510x341-toheight-100-37_bed.jpg 80w" data-sizes="38vw" alt="Luxury Bed" class="dj-image" width="341" height="341" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dj-slide-desc">
                                                <div class="dj-slide-desc-in">
                                                    <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                        <div class="dj-extra">
                                                            <div class="price">
                                                                <span class='price_unit'>$</span>999
                                                            </div>
                                                        </div><div class="dj-slide-title">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/single-ad-view" target="_self">Luxury Bed</a>
                                                        </div><div style="clear: both"></div><div class="dj-readmore-wrapper">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/single-ad-view" class="dj-readmore" target="_self">Check Offer</a>
                                                        </div><div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dj-slide">
                                                <div class="dj-slide-in">
                                                    <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/search-horizontal" target="_self">
                                                        <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/components/com_djmediatools/assets/images/blank.gif" data-src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-36_table.jpg" data-srcset="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-36_table.jpg 341w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_320w/510x341-toheight-100-36_table.jpg 320w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_240w/510x341-toheight-100-36_table.jpg 240w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_160w/510x341-toheight-100-36_table.jpg 160w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_120w/510x341-toheight-100-36_table.jpg 120w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_80w/510x341-toheight-100-36_table.jpg 80w" data-sizes="38vw" alt="Dining Table" class="dj-image" width="341" height="341" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dj-slide-desc">
                                                <div class="dj-slide-desc-in">
                                                    <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                        <div class="dj-extra">
                                                            <div class="price">
                                                                <span class='price_unit'>$</span>799
                                                            </div>
                                                        </div><div class="dj-slide-title">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/search-horizontal" target="_self">Dining Table</a>
                                                        </div><div style="clear: both"></div><div class="dj-readmore-wrapper">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/search-horizontal" class="dj-readmore" target="_self">Check Offer</a>
                                                        </div><div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dj-slide">
                                                <div class="dj-slide-in">
                                                    <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/jeans-jacket,35" target="_self">
                                                        <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/components/com_djmediatools/assets/images/blank.gif" data-src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-35_36_22_ad11.png" data-srcset="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-35_36_22_ad11.png 364w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_320w/510x341-toheight-100-35_36_22_ad11.png 320w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_240w/510x341-toheight-100-35_36_22_ad11.png 240w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_160w/510x341-toheight-100-35_36_22_ad11.png 160w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_120w/510x341-toheight-100-35_36_22_ad11.png 120w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_80w/510x341-toheight-100-35_36_22_ad11.png 80w" data-sizes="40vw" alt="Jeans Jacket" class="dj-image" width="364" height="341" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dj-slide-desc">
                                                <div class="dj-slide-desc-in">
                                                    <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                        <div class="dj-extra">
                                                            <div class="price">
                                                                <span class='price_unit'>$</span>99
                                                            </div>
                                                        </div><div class="dj-slide-title">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/jeans-jacket,35" target="_self">Jeans Jacket</a>
                                                        </div><div style="clear: both"></div><div class="dj-readmore-wrapper">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/jeans-jacket,35" class="dj-readmore" target="_self">Check Offer</a>
                                                        </div><div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dj-slide">
                                                <div class="dj-slide-in">
                                                    <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/trendy-skirt,34" target="_self">
                                                        <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/components/com_djmediatools/assets/images/blank.gif" data-src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-34_35_3_ad6.png" data-srcset="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-34_35_3_ad6.png 364w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_320w/510x341-toheight-100-34_35_3_ad6.png 320w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_240w/510x341-toheight-100-34_35_3_ad6.png 240w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_160w/510x341-toheight-100-34_35_3_ad6.png 160w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_120w/510x341-toheight-100-34_35_3_ad6.png 120w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_80w/510x341-toheight-100-34_35_3_ad6.png 80w" data-sizes="40vw" alt="Trendy Skirt" class="dj-image" width="364" height="341" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dj-slide-desc">
                                                <div class="dj-slide-desc-in">
                                                    <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                        <div class="dj-extra">
                                                            <div class="price">
                                                                <span class='price_unit'>$</span>149
                                                            </div>
                                                        </div><div class="dj-slide-title">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/trendy-skirt,34" target="_self">Trendy Skirt</a>
                                                        </div><div style="clear: both"></div><div class="dj-readmore-wrapper">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/trendy-skirt,34" class="dj-readmore" target="_self">Check Offer</a>
                                                        </div><div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dj-slide">
                                                <div class="dj-slide-in">
                                                    <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/stylish-suit,33" target="_self">
                                                        <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/components/com_djmediatools/assets/images/blank.gif" data-src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-33_34_26_ad16.png" data-srcset="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/510x341-toheight-100-33_34_26_ad16.png 364w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_320w/510x341-toheight-100-33_34_26_ad16.png 320w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_240w/510x341-toheight-100-33_34_26_ad16.png 240w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_160w/510x341-toheight-100-33_34_26_ad16.png 160w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_120w/510x341-toheight-100-33_34_26_ad16.png 120w, http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/_80w/510x341-toheight-100-33_34_26_ad16.png 80w" data-sizes="40vw" alt="Stylish Suit" class="dj-image" width="364" height="341" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dj-slide-desc">
                                                <div class="dj-slide-desc-in">
                                                    <div class="dj-slide-desc-bg"></div><div class="dj-slide-desc-text">
                                                        <div class="dj-extra">
                                                            <div class="price">
                                                                <span class='price_unit'>$</span>580
                                                            </div>
                                                        </div><div class="dj-slide-title">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/stylish-suit,33" target="_self">Stylish Suit</a>
                                                        </div><div style="clear: both"></div><div class="dj-readmore-wrapper">
                                                            <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/fashion/ad/stylish-suit,33" class="dj-readmore" target="_self">Check Offer</a>
                                                        </div><div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dj-navigation">
                                            <div class="dj-navigation-in">
                                                <img class="dj-prev showOnMouseOver" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/prev.png" alt="Anterior" />
                                                <img class="dj-next showOnMouseOver" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/next.png" alt="Próximo" />
                                                <img class="dj-play showOnMouseOver" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/play.png" alt="Continuar" />
                                                <img class="dj-pause showOnMouseOver" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/pause.png" alt="Pausar" />
                                            </div>
                                        </div>
                                        <div class="dj-tabs">
                                            <div class="dj-tabs-in">
                                                <div class="dj-tab dj-tab-active">
                                                    <span class="dj-tab-in">
                                                        <!--[if lte IE 7]><table
                                                        cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                        <img
                                                        src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-38_sofa.jpg" alt="Modern Sofa" width="80" height="80" /></td><td
                                                        width="100%">
                                                        Modern Sofa</td></tr></table>
                                                        <![endif]-->
                                                        <span>
                                                            <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-38_sofa.jpg" alt="Modern Sofa" width="80" height="80" />
                                                        </span>						<span>
                                                            Modern Sofa
                                                        </span>
                                                    </span>
                                                </div><div class="dj-tab ">
                                                    <span class="dj-tab-in">
                                                        <!--[if lte IE 7]><table
                                                        cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                        <img
                                                        src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-37_bed.jpg" alt="Luxury Bed" width="80" height="80" /></td><td
                                                        width="100%">
                                                        Luxury Bed</td></tr></table>
                                                        <![endif]-->
                                                        <span>
                                                            <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-37_bed.jpg" alt="Luxury Bed" width="80" height="80" />
                                                        </span>						<span>
                                                            Luxury Bed
                                                        </span>
                                                    </span>
                                                </div><div class="dj-tab ">
                                                    <span class="dj-tab-in">
                                                        <!--[if lte IE 7]><table
                                                        cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                        <img
                                                        src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-36_table.jpg" alt="Dining Table" width="80" height="80" /></td><td
                                                        width="100%">
                                                        Dining Table</td></tr></table>
                                                        <![endif]-->
                                                        <span>
                                                            <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-36_table.jpg" alt="Dining Table" width="80" height="80" />
                                                        </span>						<span>
                                                            Dining Table
                                                        </span>
                                                    </span>
                                                </div><div class="dj-tab ">
                                                    <span class="dj-tab-in">
                                                        <!--[if lte IE 7]><table
                                                        cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                        <img
                                                        src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-35_36_22_ad11.png" alt="Jeans Jacket" width="80" height="80" /></td><td
                                                        width="100%">
                                                        Jeans Jacket</td></tr></table>
                                                        <![endif]-->
                                                        <span>
                                                            <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-35_36_22_ad11.png" alt="Jeans Jacket" width="80" height="80" />
                                                        </span>						<span>
                                                            Jeans Jacket
                                                        </span>
                                                    </span>
                                                </div><div class="dj-tab ">
                                                    <span class="dj-tab-in">
                                                        <!--[if lte IE 7]><table
                                                        cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                        <img
                                                        src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-34_35_3_ad6.png" alt="Trendy Skirt" width="80" height="80" /></td><td
                                                        width="100%">
                                                        Trendy Skirt</td></tr></table>
                                                        <![endif]-->
                                                        <span>
                                                            <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-34_35_3_ad6.png" alt="Trendy Skirt" width="80" height="80" />
                                                        </span>						<span>
                                                            Trendy Skirt
                                                        </span>
                                                    </span>
                                                </div><div class="dj-tab ">
                                                    <span class="dj-tab-in">
                                                        <!--[if lte IE 7]><table
                                                        cellpadding="0" cellspacing="0" border="0"><tr><td>
                                                        <img
                                                        src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-33_34_26_ad16.png" alt="Stylish Suit" width="80" height="80" /></td><td
                                                        width="100%">
                                                        Stylish Suit</td></tr></table>
                                                        <![endif]-->
                                                        <span>
                                                            <img src="http://templates.joomla-monster.com/joomla30/jm-joomads/media/djmediatools/cache//components/com_djclassifieds/images/item/80x80-crop-80-510x341-toheight-100-33_34_26_ad16.png" alt="Stylish Suit" width="80" height="80" />
                                                        </span>						<span>
                                                            Stylish Suit
                                                        </span>
                                                    </span>
                                                </div><div class="dj-tab-indicator  dj-tab-indicator-right"></div>
                                            </div>
                                        </div><div class="dj-loader"></div>
                                    </div>
                                </div>
                            </div><div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div><div id="jm-header-mod" class="span3">
                <div class="jm-module _menu white-ms">
                    <div class="jm-module-in">
                        <h3 class="jm-title ">
                            <span>Novidades</span>
                        </h3>
                        <div class="jm-module-content clearfix ">
                            <div class="djcf_menu">
                                <ul class="menu nav _menu white-ms">
                                    <li class="">
                                        <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/electronics">Electronics</a>
                                    </li>
                                    <li class="">
                                        <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/hotel">Hotel</a>
                                    </li>
                                    <li class="">
                                        <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/books">Books</a>
                                    </li>
                                    <li class="">
                                        <a href="http://templates.joomla-monster.com/joomla30/jm-joomads/classifieds/books">Books</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="jm-module-content clearfix ">
                            <h3 class="jm-title "></h3>
                            <div class="djcf_menu">
                                <div>
                                    <h2>Imagem de proposta aqui</h2>
                                </div>
                                <div class="newad_link_bottom">
                                    <a class="button" href="#">Solicitar Proposta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="jm-top" class="">
    <div class="container-fluid">
        <div class="row-fluid jm-flexiblock jm-top">
            <div class="span12" data-default="span12" data-wide="span12" data-normal="span12" data-xtablet="span12" data-tablet="span100" data-mobile="span100">
                <div class="row-fluid">
                    <div class="span0">
                        <div class="jm-module  double-title-ms slider2-ms">
                            <div class="jm-module-in">
                                <div class="jm-module-content clearfix ">
                                    <div style="border: 0px !important;">
                                        <div id="djslider-loader10m196" class="djslider-loader">
                                            <div id="djslider10m196" class="djslider">
                                                <div id="slider-container10m196" class="slider-container">
                                                    <ul id="slider10m196">
                                                        @foreach (var header in AnuncioHeader)
                                                        {
                                                            string url = string.Format("/Parceiros/Parceiro={0}", header.LOCAL_EVENTO.autenticacao);

                                                            <li>
                                                                <a href="@url" target="_self">
                                                                    <img src="@Html.GetImagemParceiro(header.LOCAL_EVENTO.autenticacao, 0)" style=" width: 280px; height: 230px; " />
                                                                </a>
                                                                <div class="dj-slide-desc">
                                                                    <div class="dj-slide-desc-in">
                                                                        <div class="dj-slide-desc-bg"></div>
                                                                        <div class="dj-slide-desc-text">
                                                                            <div class="dj-slide-title">
                                                                                <a href="@url" target="_self">@header.LOCAL_EVENTO.nome</a>
                                                                            </div>
                                                                            <div class="dj-slide-description">
                                                                                @header.LOCAL_EVENTO.regiao
                                                                            </div>
                                                                            <div style="clear: both"></div>
                                                                            <div class="dj-readmore-wrapper">
                                                                                <a href="@url" class="dj-readmore" target="_self">Detalhes</a>
                                                                            </div>
                                                                            <div style="clear: both"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="navigation10m196" class="navigation-container">
                                                    <img id="prev10m196" class="prev-button" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/transparent.png" alt="Previous" />
                                                    <img id="next10m196" class="next-button" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/transparent.png" alt="Next" />
                                                    <img id="next10m196" class="next-button" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/transparent.png" alt="Next" />
                                                    <img id="play10m196" class="play-button" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/transparent.png" alt="Play" />
                                                    <img id="pause10m196" class="pause-button" src="http://templates.joomla-monster.com/joomla30/jm-joomads/images/modules/navi/transparent.png" alt="Pause" />
                                                </div>
                                            </div><div id="cust-navigation10m196" class="navigation-container-custom">
                                                <div class="cust-navigation-in">
                                                    <span class="load-button load-button-active"></span><span class="load-button"></span><span class="load-button"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div style="clear: both"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="jm-main">


    <div class="container-fluid">
        <div class="row-fluid">
            <div id="jm-content" class="span12" data-xtablet="span12" data-tablet="span12" data-mobile="span12">
                <div id="jm-maincontent">
                    <div id="dj-classifieds" class="clearfix djcftheme-jm-joomads-ef4">
                        <div class="dj-items-blog">
                            <div class="djcf_items_blog">
                                @foreach (var destaque in AnuncioDestaque)
                                {
                                    <div class="item_box clearfix" style="width:33.233333333333%;">
                                        <div class="item_box_bg0">
                                            <div class="item_box_in">
                                                <div class="item_box_in2">
                                                    <div class="title">
                                                        <h2>
                                                            <a href="/joomla30/jm-joomads/classifieds/furniture/ad/modern-sofa,38">@destaque.LOCAL_EVENTO.nome</a>
                                                        </h2>

                                                        @if (destaque.LOCAL_EVENTO.EMPRESA.EMPRESA_MODULOS.Select(e => e.modulo.Equals("PORTAL") && e.expira_em >= DateTime.Today).FirstOrDefault() != null)
                                                        {
                                                            <span class="type_button bt_forsale" style="display:inline-block;
                                                                                            border:0px solid #A2691B;
                                                                                            background:#FEC657;color:#000000;
                                                                                            font-size: 12px;
                                                                                            font-weight: 500;
                                                                                            text-transform: uppercase;
                                                                                            line-height: 1.1em;
                                                                                            margin: 0 2px;
                                                                                            padding: 8px 14px 7px;
                                                                                            vertical-align:middle;">Destaque</span>
                                                        }

                                                    </div>
                                                    <div class="djcf_after_title">
                                                        <div class="djrv_rating_avg djreviews" id="djrv-rating-avg-1" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                            <div class="djrv_item_rating djrv_rating small">
                                                                <span class="djrv_stars">
                                                                    <span class="djrv_star active"></span>
                                                                    <span class="djrv_star active"></span>
                                                                    <span class="djrv_star active"></span>
                                                                    <span class="djrv_star active"></span>
                                                                    <span class="djrv_star "></span>
                                                                </span>
                                                                @*<span class="djrv_avg small">
                                                                        4.00 <span class="djrv_vote_cnt">(1 votes)</span>
                                                                    </span>*@
                                                                @*<meta itemprop="ratingValue" content="4.00" />
                                                                    <meta itemprop="reviewCount" content="1" />
                                                                    <meta itemprop="name" content="Modern Sofa" />
                                                                    <meta itemprop="worstRating" content="1" />
                                                                    <meta itemprop="bestRating" content="5" />*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="blog_det">
                                                        <div class="item_box_right">
                                                            <div class="item_img">
                                                                <a href="/joomla30/jm-joomads/classifieds/furniture/ad/modern-sofa,38">
                                                                    <img src="@Html.GetImagemParceiro(destaque.LOCAL_EVENTO.autenticacao, 0)" alt="@destaque.LOCAL_EVENTO.nome" />
                                                                </a>
                                                            </div>
                                                            @*<div class="category">
                                                                    <span class="label_title"></span><a href="/joomla30/jm-joomads/classifieds/furniture">@destaque.LOCAL_EVENTO.regiao</a>
                                                                </div>*@
                                                            <div class="price">
                                                                <span class="label_title"></span>@destaque.LOCAL_EVENTO.regiao
                                                            </div>
                                                            @*<div class="item_desc">
                                                                    <span class="label_title">Description</span>
                                                                    <span class="desc_info">dsa</span>
                                                                </div>*@
                                                            <div style="clear:both"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @*<div class="pagination">
                                    <ul>
                                        <li class="pagination-start">
                                            <span class="pagenav">Start</span>
                                        </li>
                                        <li class="pagination-prev">
                                            <span class="pagenav">Prev</span>
                                        </li>
                                        <li>
                                            <span class="pagenav">1</span>
                                        </li>
                                        <li>
                                            <a href="/joomla30/jm-joomads/?start=6" class="pagenav">2</a>
                                        </li>
                                        <li>
                                            <a href="/joomla30/jm-joomads/?start=12" class="pagenav">3</a>
                                        </li>
                                        <li>
                                            <a href="/joomla30/jm-joomads/?start=18" class="pagenav">4</a>
                                        </li>
                                        <li>
                                            <a href="/joomla30/jm-joomads/?start=24" class="pagenav">5</a>
                                        </li>
                                        <li class="pagination-next">
                                            <a title="Next" href="/joomla30/jm-joomads/?start=6" class="hasTooltip pagenav">Next</a>
                                        </li>
                                        <li class="pagination-end">
                                            <a title="End" href="/joomla30/jm-joomads/?start=24" class="hasTooltip pagenav">End</a>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                    <script type="text/javascript">
                        function DJCatMatchModules(className) {
                            var maxHeight = 0;
                            var divs = null;
                            if (typeof (className) == 'string') {
                                divs = document.id(document.body).getElements(className);
                            } else {
                                divs = className;
                            }
                            if (divs.length > 1) {
                                divs.each(function (element) {
                                    //maxHeight = Math.max(maxHeight, parseInt(element.getStyle('height')));
                                    maxHeight = Math.max(maxHeight, parseInt(element.getSize().y));
                                });

                                divs.setStyle('height', maxHeight);

                            }
                        }

                        window.addEvent('load', function () {
                            DJCatMatchModules('.item_box_in2');
                        });</script>
                </div>

            </div>
        </div>
    </div>

</section>